.indicator-chart {
  padding: 8px 16px;
  background-color: #fff;
  margin: 0 5px;
  .stats-indicator {
    .stat {
      &.value {
        text-align: left !important;
      }
    }
  }
  .percent-label {
    text-align: center;
  }
}
.target-progressbar {
  padding: 24px 16px !important;
  .ant-progress-inner {
    background-color: #e1eded;
    border-radius: 0px !important;
    height: 35px;
    .ant-progress-bg {
      background-color: #389a90 !important;
      height: 35px;
      border-radius: 0px;
      color: #fff;
      p {
        position: absolute;
        right: 0;
        margin: 8px 10px;
      }
    }
  }
  .label {
    font-weight: 500;
    font-size: 10px;
    color: #212121;
    text-transform: uppercase;
  }
  .progressbar-info {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
    h4 {
      b {
        color: #389a90 !important;
      }
    }
  }
}
.border-top {
  margin: 0 5px;
  border-top: 1px solid #d3d3d3;
}
