{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n rsr_tags generic_content %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
	<meta charset="UTF-8" />

	<title>{% block title %}Akvo.org{% endblock title %}</title>
	<base target="_parent" />
	
	{% block style %} {% endblock style %}
	
	<style type="text/css" media="screen">
	{% block inline_styles %}
		#header {background-color:#{{bgcolor}};}
		#header h1 { color:#{{textcolor}}; }
		#footer {background-color:#{{bgcolor}}; color:#{{textcolor}} !important; }
		h2 a {color:#{{bgcolor}} !important;}
	{% endblock inline_styles %}
	</style>	

</head>
<body style="margin-left:0px; margin-top:0px; background-color:transparent;">
	<div id="container" style="background-color:white;">
		<div id="header">
		{% block header %}
		<h1>Akvo.org</h1>
		{% endblock header %}
		</div>
		<div id="content">
		{% block content %}
			<p style="margin:10px;"><a href="http://www.akvo.org">Akvo</a> is like a Wikipedia, eBay and YouTube for water and sanitation projects, rolled into one.</p>
		{% endblock content %}
		</div>
		<div id="footer">
		{% block footer %}
			<a href="http://akvo.org">
				<img src="{{MEDIA_URL}}widgets/img/akvo-badge.gif" width="100" height="30" alt="Akvo.org" />
			</a>
		{% endblock footer %}
		</div>
	</div>
	
	{% if debug %}
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.4.2.min.js"></script>
	{% else %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	{% endif %}
	
	{% block inline_scripts %} {% endblock inline_scripts %}
	
	<script type="text/javascript">
		var $ = jQ = jQuery.noConflict();
		
		jQ(document).ready(function(){
			{% block jq_ready %}{% endblock jq_ready %}
		});		
	</script>
	
	{% comment %}
	{% if debug %}
		Debug:{% debug %}
		Sql_queries: {{ sql_queries }}
	{% endif %}
	{% endcomment %}
</body>
</html>
