{% extends "widgets/base_widget.html" %}
{% load i18n rsr_tags rsr_filters thumbnail cache humanize %}
{% load url from future %}


{% block title %}project@{{block.super}}{% endblock title %}

{% block style %}
	{% asset_bundle 'widget_project_narrow' %}
	{# <link rel="stylesheet" href="{{MEDIA_URL}}widgets/project_narrow/css/screen.css" type="text/css" media="screen, projection" /> #}
	<!--[if IE]>
	<style type="text/css" media="screen">
		.divider { 
			margin-top:1px !important;
			margin-bottom:1px !important;
		}
	</style>
	<![endif]-->
{% endblock style %}

{% block inline_styles %}
{{block.super}}
	#heightconstrain {
		height: expression( this.scrollHeight > 809 ? "810px" : "auto" ); /* sets max-height for IE */
		max-height:810px;
		overflow:hidden;
	}
	.fundingbox-content {
		height: expression( this.scrollHeight > 4 ? "123px" : "auto" ); /* sets max-height for IE */
		max-height:121px;
		height:121px;
	}
	
	#project_title {
		display:block;
		height:36px;
		overflow:hidden;
	}
	
	#project_subtitle {
		display:block;
		max-height:32px;
		overflow:hidden;
	}
	
	#project_location{
		display:block;
		max-height:32px;
		height:32px;
		overflow:hidden;
	}
	
{% endblock inline_styles %}
	
{% block header %}
	<h1>{% trans 'Project' %}</h1>
{% endblock header %}

{% block content %}
<div id="heightconstrain">
		<h2 id="project_title"><a href="{% url 'project_main' project.id %}">{{project.name|smart_truncate:33}}</a></h2>
		<p id="project_subtitle" class="grey">{{project.subtitle|smart_truncate:40}}</p>	
        <div class="photo_frame">
            <a href="{% url 'project_main' project.id %}">
                {% project_thumb project 150 113 %}
            </a>
        </div>
	
		<p id="project_plan_summary">
			{{project.project_plan_summary|safe|smart_truncate:100}}
			<a href="{% url 'project_main' project.id %}">{% trans 'More' %}&nbsp;&#x25BA;</a>
		</p>
		<p class="smallFont grey topmargin">{% trans 'Location' %}</p>
		<div id="project_location">
			<p class="smallFont"><span class="capz">{{project.primary_location.country.get_continent_display}}</span><br />
				{{project.primary_location.country}}, {{project.primary_location.city}}
			</p>
		</div>
		
		<p class="smallFont grey topmargin">{% trans 'Status' %}</p>
		<p class="smallFont">{{project.show_status}}</p>
		<p class="smallFont grey topmargin">{% trans 'Last update' %}</p>
		{% with project.project_updates.latest as latest_update %}
			{% if latest_update %}
				<p class="smallFont"><a href="{% url 'project_updates' project.id %}#{{latest_update.id}}">{{latest_update.time|date:"j M y"}}</a></p>
			{% else %}
				<p class="smallFont">{% trans 'Not yet' %}</p>
			{% endif %}
		{% endwith %}

		
		<hr class="divider" />
		<p class="smallFont grey">{% trans 'Funding' %}</p>
		<div style="margin:0;">
			{% funding_box_narrow project %}
		</div>
		
		<p class="miniFont lightgrey right" style="margin-top:10px; margin-bottom:5px; padding-right:9px; text-transform: capitalize;">{% trans 'Akvo ref' %}: {{project.id}}</p>
		
		{% comment %}
		<div id="name" style="clear:both; height:1px; overflow:hidden;"> </div>
		<p class="miniFont lightgrey right" style="padding-right:9px;">{% trans 'Akvo Ref' %}: {{project.id}}</p>
		<div id="name" style="clear:both; height:7px; overflow:hidden;"> </div>
		{% endcomment %}
</div>
{% endblock content %}