{% extends "widgets/base_widget.html" %}
{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n rsr_tags rsr_filters thumbnail cache humanize %}

{% block title %}project@{{block.super}}{% endblock title %}

{% block style %}
	{% asset_bundle 'widget_project_contribute' %}
	{# <link rel="stylesheet" href="{{MEDIA_URL}}widgets/project_contribute/css/screen.css" type="text/css" media="screen, projection" /> #}
{% endblock style %}

{% block inline_styles %}
{{block.super}}
	#heightconstrain {
		height: expression( this.scrollHeight > 549 ? "550px" : "auto" ); /* sets max-height for IE */
		max-height:550px;
		overflow:hidden;
	}
	.fundingbox-content {
		height: expression( this.scrollHeight > 4 ? "123px" : "auto" ); /* sets max-height for IE */
		max-height:121px;
		height:121px;
	}	
{% endblock inline_styles %}
	
{% block header %}
	<h1>{% trans 'Project' %}</h1>
{% endblock header %}

{% block content %}
<div id="heightconstrain">
	<h2 id="project_title"><a href="{% url akvo.rsr.views.projectmain project.id %}">{{project.name|smart_truncate:35}}</a></h2>
	<p id="project_subtitle" class="grey">{{project.subtitle|smart_truncate:60}}</p>
		
	<div class="photo_frame">
		<a href="{% url akvo.rsr.views.projectmain project.id %}">
            {% project_thumb project 190 142 %}
		</a>
	</div>
	
	{% if not project.status == 'L' and not project.status == 'R' %}
		<p class="smallFont grey topmargin">{% trans 'Funding' %}</p>
		<div>
			{% funding_box project %}
		</div>
	{% endif %}
	<p class="miniFont lightgrey right" style="margin-top:10px; margin-bottom:5px; padding-right:9px; text-transform: capitalize;">{% trans 'Akvo ref' %}: {{project.id}}</p>
</div>
{% endblock content %}
