{% extends "widgets/base_widget.html" %}
{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n rsr_tags rsr_filters generic_content thumbnail cache counter_tags humanize %}

{% block title %}updates@{{block.super}}{% endblock title %}

{% block style %}
	{% asset_bundle 'widget_project_updates' %}
	{# <link rel="stylesheet" href="{{MEDIA_URL}}widgets/project_updates/css/screen.css" type="text/css" media="screen, projection" /> #}
	
	<!--[if IE]>
	<style type="text/css" media="screen">
		.divider { 
			margin-top:1px !important;
			margin-bottom:1px !important;
		}
	</style>
	<![endif]-->
	
{% endblock style %}
	
{% block inline_styles %}
{{block.super}}
	#heightconstrain {
		height: expression( this.scrollHeight > 829 ? "830px" : "auto" ); 
		max-height:830px;
		overflow:hidden;
	}
	.fundingbox-content {
		height: expression( this.scrollHeight > 4 ? "123px" : "auto" );
		max-height:121px;
		height:121px;
	}
	
	#project_title {
		display:block;
		height:36px;
		overflow:hidden;
	}
	
	#project_subtitle {
		display:block;
		max-height:32px;
		overflow:hidden;
	}
	
	#project_location{
		display:block;
		max-height:32px;
		height:32px;
		overflow:hidden;
	}
	
{% endblock inline_styles %}

	
{% block header %}
	<h1>{% trans 'Most Recent Update' %}</h1>
	<span style="display:none;">{% counter project %}</span>
{% endblock header %}

{% block content %}<div id="heightconstrain">
		<h2 id="project_title"><a href="{% url akvo.rsr.views.projectmain project.id %}">{{project.name|smart_truncate:35}}</a></h2>
		<p id="project_subtitle" class="grey">{{project.subtitle|smart_truncate:60}}</p>
        <div class="photo_frame">
            <a href="{% url akvo.rsr.views.projectmain project.id %}">
                {% project_thumb project 190 142 %}
            </a>
        </div>
		<p id="project_plan_summary">
			{{project.project_plan_summary|safe|smart_truncate:120}}
			<a href="{% url akvo.rsr.views.projectmain project.id %}">{% trans 'More' %}&nbsp;&#x25BA;</a>
		</p>
		
		<p class="smallFont grey topmargin">{% trans 'Location' %}</p>
		<div id="project_location">
			<p class="smallFont"><span class="capz">{{project.country.get_continent_display}}</span><br />
				{{project.country}}, {{project.city}}
			</p>
		</div>
		{% comment %}
		<p class="smallFont grey topmargin">{% trans 'Location' %}</p>
		<p class="smallFont"><span class="capz">{{project.country.get_continent_display}}</span><br />
			{{project.country}}, {{project.city}}
		</p>
		{% endcomment %}
		<p class="smallFont grey topmargin">{% trans 'Status' %}</p>
		<p class="smallFont">{{project.show_status}}</p>
			
		
		<hr class="divider"/>

		<p class="smallFont grey">{% trans 'Last Update' %}</p>
		{% with project.project_updates.latest as latest_update %}
			{% if latest_update %}
				<p class="smallFont">
					<a href="{% url akvo.rsr.views.projectupdates project.id %}#{{latest_update.id}}">{{latest_update.time|date:"j M y"}}</a>
					{% trans 'Via' %}
					{% ifequal latest_update.update_method "W"  %}
						{% trans 'Web' %}
					{% endifequal %}
					{% ifequal latest_update.update_method "E"  %}
						{% trans 'E-mail' %}
					{% endifequal %}
					{% ifequal latest_update.update_method "S"  %}
						{% trans 'SMS' %}
					{% endifequal %}
				</p>
				<h2 id="project_title" style="margin-top:margin-top:10px !important;"><a href="{% url akvo.rsr.views.projectupdates project.id %}#{{latest_update.id}}">{{latest_update.title|smart_truncate:35}}</a></h2>
				{% if latest_update.photo %}
					<div class="photo_frame">
						<a href="{% url akvo.rsr.views.projectupdates project.id %}#{{latest_update.id}}">
			    			<img src="{% thumbnail latest_update.photo 190x142 autocrop,upscale,sharpen %}" alt="{{latest_update.photo_caption}}" width="190px" height="142px"/>
						</a>
					</div>
			    {% endif %}
				<p class="smallFont" style="margin-top:3px;">
					{{latest_update.text|smart_truncate:120}}					
					<a href="{% url akvo.rsr.views.projectupdates project.id %}#{{latest_update.id}}">{% trans 'More' %}&nbsp;<span class="arrowSize">&#x25BA;</span></a>
				</p>
			{% else %}
				<p class="smallFont">{% trans 'Not yet' %}</p>
			{% endif %}
		{% endwith %}
		<p class="miniFont lightgrey right" style="margin-top:5px; margin-bottom:10px; padding-right:9px; text-transform: capitalize;">{% trans 'Akvo ref' %}: {{project.id}}</p>
</div>
{% endblock content %}
