$colors: #851D41, #DB3056, #FF6464, #FFB99A, #CFB495, #8BBABB, #6C7B95, #32AFA9, #A4D4AE, #698474, #889E81, #BAC7A7, #F8B195, #F67280, #C06C84, #6C5B7B, #6C7261, #E6A157, #EB8242, #C9753D, #FBDFF0, #F6C3E5, #F0CF85, #381460, #933B5B, #FF6F5E, #40BFC1, #C0FFB3, #9ACEFF, #12CAD6, #0FABBC, #151965, #32407B, #515585, #46B5D1, #E9EA77, #FFD369;

.program-view{
  .expander{
    width: 34px;
    min-width: 34px;
    height: 34px;
    background: #f5f5f5;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      transition: all .3s ease-out;
      path{
        fill: #b7b7b7;
      }
    }
    &.isActive svg{
      transform: rotate(180deg);
    }
  }
  .ant-collapse .ant-collapse-content.ant-collapse-content-active{
    overflow: visible;
  }
  &>.ant-collapse{
    &>.ant-collapse-item{
      border-bottom: none;
      &.ant-collapse-item-active{
        margin-bottom: 50px;
      }
      &>.ant-collapse-header {
        display: flex;
        padding: 12px 0;
        .expander{
          margin-left: 0;
          margin-right: 15px;
        }
        .expander+div{
          display: flex;
          max-width: calc(100% - 70px);
          h1{
            margin-top: 5px;
            // text-transform: uppercase;
            font-size: 20px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          span{
            margin-left: 20px;
            margin-top: 6px;
            opacity: 0.65;
            white-space: nowrap;
          }
        }
      }
      &>.ant-collapse-content > .ant-collapse-content-box{
        padding: 0;
      }
      &>.ant-collapse-content>.ant-collapse-content-box>.ant-collapse{
        background: transparent;
        border: none;
        &>.ant-collapse-item{
          border: 1px solid #dedede;
          border-radius: 3px;
          &:not(:last-of-type){
            margin-bottom: 15px;
          }
          &>.ant-collapse-header{
            padding-left: 16px;
            padding-right: 40px;
            .expander{
              position: absolute;
              left: auto;
              right: 16px;
              top: calc(50% - 17px);
            }
            h3{
              margin-bottom: 10px;
              font-size: 16px;
              font-weight: normal;
            }
            span{
              font-weight: 300;
              &.type{
                text-transform: capitalize;
              }
              &.periods{
                margin-left: 15px;
                opacity: 0.5;
              }
            }
            // display: flex;
            // flex-direction: row-reverse;
          }
          &>.ant-collapse-content{
            border-top: none;
            &>.ant-collapse-content-box{
              padding: 5px 10px 10px;
              .ant-collapse .ant-collapse-item .ant-collapse-header{
                display: flex;
                padding-left: 12px;
                background-color: #fff;
                .expander{
                  margin-right: 12px;
                }
              }
              .indicator>.ant-collapse{
                background: transparent;
                &>.ant-collapse-item{
                  &>.ant-collapse-header{
                    display: flex;
                    padding-left: 12px;
                    position: sticky;
                    top: 0;
                    z-index: 2;
                    background-color: #fff;
                    .expander{
                      margin-right: 12px;
                    }
                    h5{
                      margin-top: 6px;
                      font-weight: normal;
                      white-space: nowrap;
                    }
                    .bar{
                      transition: height .3s;
                      position: absolute;
                      bottom: 0;
                      width: 100%;
                      height: 3px;
                      left: 0;
                    }
                    .stats{
                      display: flex;
                      // margin-left: auto;
                      // width: 100%;
                      cursor: default;
                      .stat{
                        .ant-btn{
                          margin-left: 5px;
                          font-size: 12px;
                          transform: translateY(-2px);
                          line-height: 12px;
                          height: 20px;
                          .anticon{
                            font-size: 10px;
                            margin-left: 5px;
                          }
                        }
                      }
                      margin-left: auto;
                      // flex-direction: row-reverse;
                    }
                    .stat{
                      // text-align: right;
                    }
                    .stat.value{
                      // margin-left: auto;
                      text-align: right;
                    }
                  }
                  &.ant-collapse-item-active>.ant-collapse-header{
                    padding-bottom: 48px;
                    .bar{
                      height: 40px;
                    }
                  }
                  &>.ant-collapse-content{
                    border-top: none;
                  }
                  .ant-collapse-content-box{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                  }
                  .chart{
                    width: 220px;
                    height: 200px;
                    position: relative;
                    .overlay{
                      width: 129px;
                      height: 129px;
                      border: 2px solid #c6e4e2;
                      border-radius: 100%;
                      position: absolute;
                      left: 47px;
                      top: 34px;
                      z-index: 2;
                      header{
                        text-align: center;
                        padding-top: 15px;
                        color: #43998f;
                        div{
                          font-weight: bold;
                          font-size: 18px;
                        }
                        small{
                          font-size: 9px;
                          text-transform: uppercase;
                        }
                        &:after{
                          content: " ";
                          position: absolute;
                          width: 114px;
                          height: 1px;
                          background-color: #c6e4e2;
                          left: 6px;
                          top: 42px;
                        }
                      }
                      .disaggregations{
                        width: 90px;
                        height: 100px;
                        // background-color: #777;
                        // width: 130px;
                        // height: 120px;
                        margin-left: 17px;
                        margin-top: -27px;
                      }
                    }
                  }
                  .stat{
                    margin-top: -2px;
                    margin-left: 20px;
                    &.value{
                      color: #43998f;
                    }
                    .label{
                      font-size: 11px;
                      text-transform: uppercase;
                      font-weight: 300;
                    }
                    b{
                      font-size: 18px;
                    }
                  }
                  .disaggregations{
                    display: flex;
                    li{
                      &:not(:last-child){
                        margin-right: 10px;
                      }
                      .label{
                        font-size: 9px;
                        text-transform: uppercase;
                        font-weight: 400;
                      }
                      b{
                        font-size: 12px;
                      }
                    }
                  }
                  ul.bar{
                    width: 100%;
                    display: flex;
                    margin-bottom: 0;
                    height: 40px;
                    // margin-top: 15px;
                    li{
                      height: 100%;
                      position: relative;
                      &:after, &:before{
                        content: " ";
                        position: absolute;
                        left: 0;top: 0;
                        width: 100%;height: 100%;
                      }
                      &:before{
                        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                        filter: grayscale(100%);
                      }
                      &:after{
                        transition: all .2s ease-out;
                        z-index: 2;
                      }
                      transition: transform .2s ease-out;
                      &:hover, &.pinned{
                        transform: scale(1.07);
                        z-index: 2;
                      }
                      @for $i from 1 through 27 {
                        &:nth-of-type(#{$i}):before, &:nth-of-type(#{$i}):after{
                         background-color: nth($colors, $i);
                        }
                      }
                    }
                    &.contains-pinned{
                      li:not(.pinned):before{
                        opacity: 0.65;
                      }
                      li:not(.pinned):after{
                        opacity: 0;
                      }
                    }
                    &:hover{
                      li:not(:hover):before{
                        opacity: 0.65;
                      }
                      li:not(:hover):after{
                        opacity: 0;
                      }
                    }
                  }
                  .filters{
                    display: flex;
                    .country-filter{
                      min-width: 200px;
                      margin-bottom: 15px;
                    }
                    .filtered-project-count{
                      margin-left: 7px;
                      margin-top: 5px;
                      font-size: 14px;
                      opacity: 0.7;
                    }
                  }
                  .contributors-list{
                    // margin-top: 15px;
                    border: none;
                    .ant-collapse-item{
                      border: 1px solid #d9d9d9;
                      &.active, &.pinned{
                        border-color: red;
                        z-index: 1;
                        position: relative;
                        @for $i from 1 through 27 {
                          border-width: 2px;
                          &:nth-of-type(#{$i}){
                            border-color: nth($colors, $i);
                          }
                        }
                      }
                      &:not(:last-of-type){
                        margin-bottom: -1px;
                      }
                      &:first-of-type{
                        border-top-right-radius: 4px;
                        border-top-left-radius: 4px;
                      }
                      &:last-of-type{
                        border-bottom-right-radius: 4px;
                        border-bottom-left-radius: 4px;
                      }
                      .ant-collapse-header{
                        .title{
                          h4{
                            font-size: 15px;
                            font-weight: 400;
                            margin-bottom: 5px;
                          }
                          p{
                            margin-bottom: 0;
                            opacity: 0.5;
                          }
                        }
                        .value{
                          margin-left: auto;
                          padding-left: 30px;
                          display: flex;
                          flex-direction: column;
                          text-align: center;
                          small{
                            white-space: nowrap;
                            opacity: 0.5;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}