.program-view{
  .expander{
    width: 34px;
    height: 34px;
    background: #f5f5f5;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      transition: all .3s ease-out;
      path{
        fill: #b7b7b7;
      }
    }
    &.isActive svg{
      transform: rotate(180deg);
    }
  }
  &>.ant-collapse{
    &>.ant-collapse-item{
      border-bottom: none;
      &.ant-collapse-item-active{
        margin-bottom: 50px;
      }
      &>.ant-collapse-header {
        display: flex;
        padding: 12px 0;
        .expander{
          margin-left: 0;
          margin-right: 15px;
        }
        .expander+div{
          display: flex;
          h1{
            margin-top: 5px;
            text-transform: uppercase;
            font-size: 20px;
          }
          span{
            margin-left: 20px;
            margin-top: 6px;
            opacity: 0.65;
          }
        }
      }
      &>.ant-collapse-content > .ant-collapse-content-box{
        padding: 0;
      }
      &>.ant-collapse-content>.ant-collapse-content-box>.ant-collapse{
        background: transparent;
        border: none;
        &>.ant-collapse-item{
          border: 1px solid #dedede;
          border-radius: 3px;
          &:not(:last-of-type){
            margin-bottom: 15px;
          }
          &>.ant-collapse-header{
            padding-left: 16px;
            padding-right: 40px;
            .expander{
              position: absolute;
              left: auto;
              right: 16px;
              top: calc(50% - 17px);
            }
            h3{
              margin-bottom: 10px;
              font-size: 16px;
              font-weight: normal;
            }
            span{
              font-weight: 300;
              &.type{
                text-transform: capitalize;
              }
              &.periods{
                margin-left: 15px;
                opacity: 0.5;
              }
            }
            // display: flex;
            // flex-direction: row-reverse;
          }
          &>.ant-collapse-content{
            border-top: none;
            &>.ant-collapse-content-box{
              padding: 5px 10px 10px;
              .indicator .ant-collapse{
                background: transparent;
                &>.ant-collapse-item{
                  &>.ant-collapse-header{
                    display: flex;
                    padding-left: 12px;
                    .expander{
                      margin-right: 12px;
                    }
                    h5{
                      margin-top: 6px;
                      font-weight: normal;
                    }
                  }
                  .ant-collapse-content-box{
                    display: flex;
                  }
                  .chart{
                    width: 220px;
                    height: 200px;
                    position: relative;
                    .overlay{
                      width: 129px;
                      height: 129px;
                      border: 2px solid #c6e4e2;
                      border-radius: 100%;
                      position: absolute;
                      left: 47px;
                      top: 34px;
                      z-index: 2;
                      header{
                        text-align: center;
                        padding-top: 15px;
                        color: #43998f;
                        div{
                          font-weight: bold;
                          font-size: 18px;
                        }
                        small{
                          font-size: 9px;
                          text-transform: uppercase;
                        }
                        &:after{
                          content: " ";
                          position: absolute;
                          width: 114px;
                          height: 1px;
                          background-color: #c6e4e2;
                          left: 6px;
                          top: 42px;
                        }
                      }
                      .disaggregations{
                        width: 90px;
                        height: 100px;
                        // background-color: #777;
                        // width: 130px;
                        // height: 120px;
                        margin-left: 17px;
                        margin-top: -27px;
                      }
                    }
                  }
                  .stats{
                    margin-left: 20px;
                    margin-top: 10px;
                    .stat{
                      margin-bottom: 15px;
                      &.value{
                        color: #43998f;
                      }
                      .label{
                        font-size: 11px;
                        text-transform: uppercase;
                        font-weight: 300;
                      }
                      b{
                        font-size: 18px;
                      }
                    }
                  }
                  .disaggregations{
                    display: flex;
                    li{
                      &:not(:last-child){
                        margin-right: 10px;
                      }
                      .label{
                        font-size: 9px;
                        text-transform: uppercase;
                        font-weight: 400;
                      }
                      b{
                        font-size: 12px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}