#rsr-advanced-filter {
  .filter-tags {
    background-color: #f5f5f5;
    margin-top: 8px;
    border: 1px solid #d9d9d9;
    .btn-clear-all {
      color: #212121;
      & > span {
        font-weight: 600;
      }
    }
    .d-flex {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 10px;
      margin: 0 8px;
    }
    .info {
      border-right: 2px solid #212121;
      padding: 0 8px;
      .d-flex {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
      }
    }
  }
  .w-full {
    width: 100%;
  }
  .filter-search {
    .ant-input-group-addon {
      cursor: pointer;
    }
  }
  .filter-selected-bar {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    background-color: #eae9ea;
    &.flex-between {
      justify-content: space-between;
      margin-top: 16px;
      padding: 8px 0;
    }
    div.bar-column {
      border-right: 2px solid #212121;
      border-image: linear-gradient(to bottom, #eae9ea 25%, #212121 25%, #212121 75%, #eae9ea 75%);
      border-image-slice: 1;
      &:first-of-type {
        border-image: none;
      }
      &:last-of-type {
        border-right: none;
      }
      .ant-btn-link > .anticon-close-circle,
      .ant-btn-link > span {
        color: #212121;
        font-size: 12px;
      }
      .ant-row {
        margin-bottom: 8px;
        .ant-col {
          &.title {
            margin-bottom: 4px;
          }
          .ant-tag {
            max-width: 250px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-bottom: 2px;
          }
        }
      }
      .info {
        padding: 4px 16px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        h2 {
          margin-bottom: 0 !important;
        }
      }
      strong {
        font-size: 12px;
        color: #212121;
      }
    }
  }
}
#rsr-filter-items-card {
  .ant-card-body {
    padding: 16px;
    div.ant-typography,
    span.ant-typography > strong,
    .ant-checkbox-wrapper > span,
    li > .ant-btn-link {
      font-size: 12px;
      color: #2c2f53;
    }
    .row-selected {
      width: 100%;
      height: 32px;
      margin-top: 16px;
      overflow: auto;
      white-space: nowrap;
    }
    .row-items {
      height: 200px;
      overflow-y: scroll;
      overflow-x: hidden;
      margin: 16px 0;
      .alfabet {
        padding-top: 8px;
      }
      .filter-options {
        li {
          &.selected {
            background-color: #e6f7ff;
            border-left: 2px solid #1890ff;
          }
          .ant-btn-block {
            text-align: left;
          }
        }
      }
    }
    .row-search-bar {
      margin: 16px 0;
    }
    .row-footer {
      margin-top: 1em !important;
    }
  }
}
.country-filter {
  width: 100%;
}
.title-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}
.total-filter {
  background-color: #2b2f56;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  h4.ant-typography,
  .ant-icon {
    color: #fff;
  }
}
.collapse-filter {
  border-top: 1px solid #e8e8e8;
  margin-top: 12px;
}
.header-panel-filter {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
}
.badge-filter {
  .ant-badge-count {
    background-color: #1890ff;
  }
  color: #fff;
}
