{% load i18n permissions_tags %}
{% load url from future %}


<div class="boxbody" style="padding-bottom: 20px;">
    {% url 'myakvo' as url_myakvo %}
    <a
        href="{{ url_myakvo }}"
        {% ifequal request.path url_myakvo %}
            class="active" style="font-weight:bold;"
        {% endifequal %}
    >{% trans 'My Akvo' %}</a>
    |    
    {% url 'password_change' as url_rsr_password_change %}
    <a
        href="{{ url_rsr_password_change }}"
        {% ifequal request.path url_rsr_password_change %}
            class="active" style="font-weight:bold;"
        {% endifequal %}
    >{% trans 'Password' %}</a>

    {% if request.user.get_profile.has_perm_add_sms_updates %}
        |
        {% url 'myakvo_mobile' as url_myakvo_mobile %}
        <a
            href="{{ url_myakvo_mobile }}"
            {% ifequal request.path url_myakvo_mobile %}
                class="active" style="font-weight:bold;"
            {% endifequal %}
        >{% trans 'Mobile' %}</a>
        |
        {% url 'notification_notices' as url_notification_notices %}
        <a
            href="{{ url_notification_notices }}"
            {% ifequal request.path url_notification_notices %}
                class="active" style="font-weight:bold;"
            {% endifequal %}
        >{% trans 'Notices' %}</a>
        |
        {% url 'notification_notice_settings' as url_notification_notice_settings %}
        <a
            href="{{ url_notification_notice_settings }}"
            {% ifequal request.path url_notification_notice_settings %}
                class="active" style="font-weight:bold;"
            {% endifequal %}
        >{% trans 'Notification settings' %}</a>
    {% endif %}
</div>
