/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

#footer {line-height: 1.2em;} 

/* li a { height:1px; }  resolves the gap in lists (white space bug) when using display:block [removed because of suspected clash with round tabs] */
/* * html ul li a { height:1em; } [removed because of suspected clash with round tabs] */

* html input { overflow: visible; } /* Removing padding from IE buttons */