{% load i18n rsr_tags webdesign %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="{% trans 'Dutch Water Sector' %}" />
	<meta name="keywords" content="{% trans 'The Dutch water sector, dutchwatersector' %}" />
	<title>Dutch Water Sector{% block title %}{% endblock %}</title>


	{% asset_bundle 'pvw_style' %}
	<!--[if IE 6]>
		{% asset_bundle 'pvw_ie6_style' %}
	<![endif]-->
	
  {% block style %}{% endblock style %}
	
	<link rel="shortcut icon" href="{{MEDIA_URL}}pvw-take2/img/favicon.ico" type="image/x-icon">
	<link rel="alternate" type="application/rss+xml" title="Blog entries" href="/blog/?feed=rss2" />
	<link rel="alternate" type="application/rss+xml" title="Project updates" href="/rsr/rss/all-updates" />
	
  {% block head %}{% endblock head %}
	
</head>
<body>
	<div id="header_container" class="container">
		<ul id="main_nav">
			<li>
				<a id="main_nav_left" href="{% url index %}" class="{% ifequal site_section 'index' %}active{% endifequal %} {% if not site_section %}active{% endif %} ">
					<img src="{{MEDIA_URL}}pvw-take2/img/mainnav/dws_logo.png" width="222" height="41" 
						alt="Dutch Water Sector" style="margin:0;padding:0;">
				</a>
			</li>
			<li>
        <a href="/web/focus-areas" class="{% ifequal site_section 'areas' %}active{% endifequal %}">
          <span>{% trans 'Focus Areas' %}</span>
        </a>
      </li>
			<li>
				<a href="{% url project_list %}" class="{% ifequal site_section 'projects' %}active{% endifequal %}">
					<span>{% trans 'Projects' %}</span>
				</a>
			</li>
			<li>
				<a href="/web/netherlands">
					<span>{% trans 'Netherlands' %}</span>
				</a>
			</li>
			<li>
				<a href="/web/education">
					<span>{% trans 'Education' %}</span>
				</a>
			</li>
			<li>
				<a href="/web/directory" class="{% ifequal site_section 'directory' %}active{% endifequal %}">
					<span>{% trans 'Directory' %}</span>
				</a>
			</li>
			<li><a href="/news"><span>{% trans 'News' %}</span></a></li>
			<li><a href="/web/about"><span>{% trans 'About' %}</span></a></li>
			<li>
				<span id="main_nav_language">
						&nbsp;
				</span>
			</li>
		</ul>
	</div>

	<div id="main_container" class="container">

		<div style="height:17px;">&nbsp;</div>
		
		{% block breadcrum  %}
			<div class="span-14" style="margin-bottom:20px;">
				<div id="breadcrum_back">
					<ul id="breadcrum">
						{% block breadcrum_items %}
						<li><a href="/"><span>Home</span></a></li>
						{% endblock breadcrum_items %}
					</ul>
					<div class="clear"></div>
				</div>
			</div>
		{% endblock breadcrum %}
		
		{% block maincontent %}
			<h1>DWS RSR</h1>
		{% endblock maincontent %}
	</div>
	
	<div id="footer" class="container">
		<div id="footer_bar">&nbsp;</div>
		
		<p class="small grey">
			Site under <a href="/web/open_license">open licence</a>
			&nbsp;|&nbsp; <a href="/web/terms_of_use">Terms of use</a>
      &nbsp;|&nbsp; <a href="/web/privacy_policy">Privacy policy</a>
      &nbsp;|&nbsp; <a href="/web/credits">Credits</a> 
      {% if site_section != 'index' %}
        &nbsp;|&nbsp; <a href="/web/admin">Admin</a>
        {% if not user.username %}
          &nbsp;|&nbsp; <a href="{% url register1 %}">{% trans 'Register' %}</a>
        {% endif %}
        {% if not user.username %}      
          &nbsp;|&nbsp; <a href="{% url signin %}?next={{request.path}}">{% trans 'Sign in' %}</a>
        {% else %}
          &nbsp;|&nbsp; <a href="{% url signout %}?next={{request.path}}">{% trans 'Sign out' %}</a>
        {% endif %}
      {% endif %}
			<a href="/web/contact_us" style="margin-left:30px;">Contact us</a>
      {% if site_section != 'index' %}
        <img src="{{MEDIA_URL}}pvw-take2/img/holland_logo_oranje_74x25.gif" style="float: right; margin-top: -6px;"/>
      {% else %}
        <a href="http://www.akvo.org/"><img src="{{MEDIA_URL}}pvw-take2/img/Akvo-badge-grey.png" alt="Akvo.org"  style="float: right; margin-top: -7px;"></a>
      {% endif %}
		</p>
	</div>

	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	{% if debug %}<script src="{{MEDIA_URL}}core/js/jquery-ui.1.8.9.min.js"></script>{% else %}
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
	{% endif %}
	
	<script type="text/javascript">
		!window.jQuery && document.write('<script src="{{MEDIA_URL}}core/js/jquery-1.5.1.min.js"><\/script>');
	</script>
	
	
	{% comment %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<script>
		!window.jQuery && document.write('<script src="{{MEDIA_URL}}core/js/jquery-1.4.2.min.js"><\/script>')
	</script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
	<script>
		!window.jQuery && document.write('<script src="{{MEDIA_URL}}pvw-take2/js/jquery-ui-1.8.4.custom.min.js"><\/script>')
	</script>
	{% endcomment %}
	
	{% block js %}{% endblock js %}
	
	<script type="text/javascript">
		var $ = jQ = jQuery.noConflict();
		
		jQ(document).ready(function(){
			{% block jq_ready %}{% endblock jq_ready %}
			
			jQ('#grid_toggle').click(function () {
				jQ('.container').toggleClass('showgrid');
			});
			
		});		
	</script>	
</body>
</html>
