{% load i18n rsr_tags webdesign %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="{% trans 'We help donors and doers reach out to fund many thousands of new water and sanitation projects.' %}" />
	<meta name="keywords" content="akvo, Akvo, akvo.org, Akvo.org, water, sanitation" />
	<title>Akvo.org - {% block title %}{% trans 'See it happen' %}{% endblock %}</title>


	{% asset_bundle 'pvw_style' %}
	<!--[if IE 6]>
		{% asset_bundle 'pvw_ie6_style' %}
	<![endif]-->
	
  	{% block style %}{% endblock style %}
	
	<link rel="shortcut icon" href="{{MEDIA_URL}}akvo/img/favicon.ico" type="image/x-icon">
	<link rel="alternate" type="application/rss+xml" title="Blog entries" href="/blog/?feed=rss2" />
	<link rel="alternate" type="application/rss+xml" title="Project updates" href="/rsr/rss/all-updates" />
	{% block head %}{% endblock head %}
	
</head>
<body>
	<div id="header_container" class="container">
		<ul id="main_nav">
			<li>
				<a id="main_nav_left" href="{% url index %}" class="{% ifequal site_section 'index' %}active{% endifequal %} {% if not site_section %}active{% endif %} ">
					<img src="{{MEDIA_URL}}pvw-take2/img/mainnav/dws_logo.png" width="222" height="41" 
						alt="Dutch Waster Sector" style="margin:0;padding:0;">
					<span>
						{% comment %}
							<img src="{{MEDIA_URL}}akvo/img/main_nav_akvo_logo.png" width="82" height="20" alt="Akvo.org" />
						{% endcomment %}							
					</span>
				</a>
			</li>
			<li>
        <a href="/web/focus-areas" class="{% ifequal site_section 'areas' %}active{% endifequal %}">
          <span>{% trans 'Focus Areas' %}</span>
        </a>
      </li>
			<li>
				<a href="/rsr/projects/" class="{% ifequal site_section 'projects' %}active{% endifequal %}">
					<span>{% trans 'Projects' %}</span>
				</a>
			</li>
			<li>
				<a href="/web/history ">
					<span>{% trans 'History' %}</span>
				</a>
			</li>
			<li>
				<a href="/web/education">
					<span>{% trans 'Education' %}</span>
				</a>
			</li>
			<li>
				<a href="{% url directory %}" class="{% ifequal site_section 'directory' %}active{% endifequal %}">
					<span>{% trans 'Directory' %}</span>
				</a>
			</li>
			<li><a href="/news"><span>{% trans 'News' %}</span></a></li>
			<li><a href="/web/who_we_are"><span>{% trans 'About' %}</span></a></li>
			<li>
				<span id="main_nav_language">
						&nbsp;
				</span>
			</li>
			<li id="mainnav_right">
				{% if not user.username %}
					<a id="main_nav_account" href="{% url signin %}?next={{request.path}}">
						<span>{% trans 'Sign in' %}</span>
					</a>
				{% else %}
					<a id="main_nav_account" href="{% url akvo.rsr.views.signout %}" title="{{user.username}}">
						<span>{% trans 'Sign out' %}</span>
						{# <span>{% trans 'Account' %}</span> #}
					</a>
				{% endif %}
			</li>
		</ul>
	</div>

	<div id="main_container" class="container">
		{% if not user.username %}
			<div style="text-align:right; margin-top:5px; margin-bottom:10px;">
				<p class="small grey" style="margin:0; padding:0;">
					{% trans 'Welcome!' %} <a href="{% url signin %}?next={{request.path}}">{% trans 'Sign in' %}</a> {% trans 'or' %} <a href="/rsr/accounts/register1/">{% trans 'Register' %}</a>
				</p>
			</div>
		{% else %}
			<div style="height:15px;">
				&nbsp;
			</div>
		{% endif %}
		
		{% block breadcrum  %}
			<div class="span-18" style="margin-bottom:20px;">
				<div id="breadcrum_back">
					<ul id="breadcrum">
						{% block breadcrum_items %}
						<li><a href="/"><span>Home</span></a></li>
						{% endblock breadcrum_items %}
					</ul>
					<div class="clear"></div>
				</div>
			</div>
		{% endblock breadcrum %}
		
		{% block maincontent %}
			<h1>Akvo RSR</h1>
		{% endblock maincontent %}
	</div>
	
	<div id="footer" class="container">
		<div id="footer_bar">&nbsp;</div>
		
		<p class="small grey">
			Site under 
			<a href="/web/open_license">Open licence</a> &nbsp;|&nbsp;
			<a href="/web/terms_of_use">Terms of use</a> &nbsp;|&nbsp;
			<a href="/web/donation_policy">Privacy policy</a> &nbsp;|&nbsp;
			<a href="/web/credits">Credits</a> &nbsp;|&nbsp;
			<a href="/web/?q=user">Admin</a>
			
			<a href="/web/contact_us" style="margin-left:30px;">Contact us</a>
		</p>
	</div>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<script>
		!window.jQuery && document.write('<script src="{{MEDIA_URL}}js/jquery-1.4.2.min.js"><\/script>')
	</script>
	
	{% block js %}{% endblock js %}
	
	<script type="text/javascript">
		var $ = jQ = jQuery.noConflict();
		
		jQ(document).ready(function(){
			{% block jq_ready %}{% endblock jq_ready %}
			
			jQ('#grid_toggle').click(function () {
				jQ('.container').toggleClass('showgrid');
			});
			
		});		
	</script>	
</body>
</html>
