{% extends "rsr/base.html" %}

{% load i18n webdesign rsr_filters thumbnail counter_tags cache humanize %}

{% block breadcrum  %}{% endblock breadcrum  %}

{% block maincontent %}

<div class='container'>
  <div class='column span-10'>
    <div id="movie_container" style="width:689px; max-width:689px; max-height:408px height:408px; overflow:hidden;">
      <object width="689" height="408">
        <param name="movie" value="http://www.youtube.com/v/LqwtH6qYjmo&amp;hl=en_US&amp;fs=1&amp;rel=0&amp;hd=1">
        <param name="allowFullScreen" value="true">
        <param name="allowscriptaccess" value="always">
        <embed src="http://www.youtube.com/v/LqwtH6qYjmo&amp;hl=en_US&amp;fs=1&amp;rel=0&amp;hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="689" height="408">
      </object>
    </div>
  </div>
  
  <div class='column span-4 last'>
    <div class="gradient_box">
      <div class="space20">
        <div style="background-image:url({{MEDIA_URL}}pvw-take2/img/lets-work-together-logo-233x172-trans.gif); height: 67px; text-align: center; padding-top: 100px;">
        </div>
        <h3 class="prepend-top" style="font-size:0.875em;">The Dutch water sector:<br/>Your worldwide partner for water</h3>
        <p class="nano-lede">
          The world faces many water challenges: climate change, droughts, rising water levels, a growing world economy.
        </p> 
        <p class="nano-lede">
          Based on an age-old relationship with water, the Netherlands can lead the way. We're a place where global expertise and experience come together.          
        </p> 
        <div class="h1_companion">
          <a href="#">Find a partner <span class="link_triangle">&#x25B6;</span></a>
        </div>          
          <div class="clear"></div>
        <div class="h1_companion">
          <a href="#">Our story <span class="link_triangle">&#x25B6;</span></a>
        </div>          
          <div class="clear"></div>
      </div> 
    </div> 
  </div>
   
</div> 

<div class='container'>
   
  <div class='column last span-14'>
    <div class="white_box gutter-top" style="background-color:#f1f1f1;">
      <div class="space5"> 
        <h5 style="display: inline; padding-left: 15px;">Latest news: </h5><a href="#" class="small_link">Feugait nulla facilisi nam liber.</a>
      </div> 
    </div> 
  </div> 
</div> 

<div class='container'> 
  <div class="gutter-top"> 
          
    <div class='column span-5'>
      <div class="white_box" style="background-color:#fff;">
        <div class="space20">
          <div style="float: left;">
            <h1>{% trans 'Recent articles' %}</h1> 
          </div>
          <div class="h1_companion">
            <a class="" href="/news/?feed=rss2">
              RSS
              <img src="/rsr/media/base/img/icon_rss.gif" width="12" height="12" alt="Icon Rss"  style="margin-left:5px; margin-right:0">
            </a>
          </div>
          <div class="clear"></div>
          {% for blog_post in blog_posts %}
            {% if blog_post.image %}
              <div class="column span-2">
                <img src="{{blog_post.image}}" width="123">
              </div>
              <div class="column span-3 last" style="width: 152px;"><!-- 194-2*20-2 -->
            {% else %}
              <div class="column span-5 last" style="width: 294px;"><!-- 336-2*20-2 -->
            {% endif %}
                <a class="nano-lede strong" href="{{blog_post.url}}">{{blog_post.title}}</a>
                <p class="nano-lede lt_grey">{{post.date|date:"l, j F Y"}}</p> 
                <p class="nano-lede">{{blog_post.text|striptags|smart_truncate:160}}</p> 
              </div>
            <div class="clear"><hr /></div>
          {% endfor %}
          <!--<div class="column span-2">
            <img src="/rsr/media/pvw-take2/img/project/storm_barrier.jpg" width="123" height="164" alt="Icon Rss">
          </div>        
          <div class="column span-3 last" style="width: 152px;"><!-- 194-2*20-2 --
            <h4>Feugiat nulla facilisis at vero eros</h4> 
            <p class="nano-lede lt_grey">Feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p> 
            <p class="nano-lede">Feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p> 
          </div>        
          <div class="clear"><hr /></div>
          <div class="h1_companion">
            <a href="#">View earlier articles <span class="link_triangle">&#x25B6;</span></a>
          </div>          
          <div class="clear"></div>-->
        </div> 
      </div>
    </div>
     
    <div class='column span-5'>
      <div class="white_box" style="background-color:#fff;">
        <div class="space20">     
          <div style="float: left;">
            <h1>Projects worldwide</h1> 
          </div>
          <div class="h1_companion">
            <a href="#">See all <span class="link_triangle">&#x25B6;</span></a>
          </div>
          <div class="clear"></div>
          <img src="/rsr/media/pvw-take2/img/project/storm_barrier.jpg" width="292" height="219" alt="Icon Rss">
          <p class="nano-lede strong">
            117 countries.<br/>
            € 20 billion in project budgets.<br/>
            178 million people's lives made better.
          </p>
          <p class="nano-lede lt_grey">Feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p> 
          <div class="h1_companion">
            <a href="#">View in Google maps <span class="link_triangle">&#x25B6;</span></a>
          </div>          
          <div class="clear"></div>
        </div> 
      </div> 
    </div>
     
    <div class='column last span-4'>
      <div class="white_box" style="background-color:#fff;">
        <div style="margin: 20px 20px 0px 20px;">     
          <div style="float: left;">
            <h1>Focus areas</h1> 
          </div>
          <div class="h1_companion">
            <a href="#">See all <span class="link_triangle">&#x25B6;</span></a>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div id="index-accordion" style="height: 500px;">
        <div id="accordion">
          {% for focus_area in focus_areas %}
          <h3><a href="#">{{focus_area.name}}</a></h3>
          <div>
            <img width="220" height="165" src="{% thumbnail focus_area.image 220x165 sharpen %}" alt="{{focus_area}}"/>
            <p class="nano-lede" style="font-size: 0.9375em;">
              {{focus_area.description|smart_truncate}}
              <a style="color: #1877B8;" href={{focus_area.get_absolute_url}}>Read more <span class="link_triangle">&#x25B6;</span></a>
            </p>
          </div>
          {% endfor %}
          <!--
          <h3><a href="#">Section 2</a></h3>
          <div>
            <p>
            Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
            purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
            velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
            suscipit faucibus urna.
            </p>
          </div>
          <h3><a href="#">Section 3</a></h3>
          <div>
            <p>
            Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
            Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
            ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
            lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
            </p>
            <ul>
              <li>List item one</li>
              <li>List item two</li>
              <li>List item three</li>
            </ul>
          </div>
          <h3><a href="#">Section 4</a></h3>
          <div>
            <p>
            Cras dictum. Pellentesque habitant morbi tristique senectus et netus
            et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
            mauris vel est.
            </p>
            <p>
            Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
            </p>
          </div>
          -->
        </div>              
      </div>          
    </div>
  </div>
</div> 

{% endblock maincontent %}

{% block jq_ready %}
	{{ block.super }}
  $("#accordion").accordion();
  $(".selector").accordion({ fillSpace: true });
{% endblock jq_ready %}