{% extends "partner_sites/project/base_project.html" %}
{% load i18n rsr_tags webdesign thumbnail %}
{% load url from future %}

{% block breadcrum_items %}
  {{block.super}}
  <li><a href="{% url 'project_main' project.id %}"><span>{{project}}</span></a></li>
  <li class="last_breadcrum_item">{% trans "Funding" %}</li>
{% endblock breadcrum_items %}


{% block project_content %}
  <h1>{% trans "Funding" %}</h1>
  <section class="whitebox pad20">
    <p>....</p>
  </section>
{% endblock project_content %}


{% block project_aside_funding %}
  {# Overriding the aside update section #}
{% endblock project_aside_funding %}
