@import "../utils/common.scss";
#progressBar {
  .labels {
    display: flex;
    text-transform: uppercase;
    margin-bottom: 10px;
    .value-label {
      .value {
        font-weight: 600;
        font-size: 16px;
      }
      &.actual {
        color: #59968e;
      }
      &.target {
        margin-left: auto;
        text-align: right;
        color: #c87a53;
      }
    }
  }
  .bar {
    height: 30px;
    margin-top: 1px;
    background-color: #e9e9e9;
    display: flex;
    position: relative;
    line-height: 30px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 3px;
    transition: all 0.2s ease-out;
    &:hover {
      .fill:not(:hover) {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }
    .fill {
      cursor: pointer;
      color: #fff;
      text-align: right;
      padding-right: 5px;
      padding-left: 3px;
      background-color: $primaryColor;
      position: relative;
      z-index: 2;
      span {
        position: absolute;
        right: 5px;
        line-height: 12px;
        top: 8px;
        white-space: nowrap;
        &.flip {
          right: -100px;
          width: 100px;
          text-align: left;
          padding-left: 5px;
          color: #59968e;
        }
        &.no-flip {
          color: #fff !important;
        }
      }
      &:not(:first-of-type) {
        border-left: 1px solid rgba(255, 255, 255, 0.5);
      }
      &.draft {
        opacity: 0.5;
        padding: 0;
      }
      &.pending {
        background-color: #e36e3d;
      }
    }
    .target {
      position: absolute;
      right: 5px;
    }
  }
}
