{% load i18n rsr_tags webdesign %}
{% load url from future %}


<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="{{request.LANGUAGE_CODE}}"> <!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <title>{{organisation}}</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  {% asset_bundle 'partner_sites_style' %}  
 

</head>
<body>
  <div class="container">
    {% block content %}{% endblock content %}
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="{{MEDIA_URL}}partner_sites/js/tabs.js"></script>
</body>
</html>
