{% load i18n rsr_tags webdesign %}
{% load url from future %}


<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="{{request.LANGUAGE_CODE}}"> <!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <title>{{organisation}}</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  {% asset_bundle 'partner_sites_style' %}

</head>
<body>
  <div class="container">
    <div class="sixteen columns row" style="padding-top:20px;">
      <a href="{% url 'home' %}">Projects Home</a> | 
      <a href="{% url 'project_list' %}">Project List</a> | 
      <a href="{{organisation.url}}">Go to {{organisation}}</a>
    </div>
    <div class="sixteen columns row">
      <p style="margin:10px">
        {% block breadcrum %}
          <div id="breadcrum_back">
            <ul id="breadcrum">
              {% block breadcrum_items %}
                <li><a href="{{organisation.url}}"><span>{{organisation}}</span></a></li>
              {% endblock breadcrum_items %}
            </ul>
            <div class="clear"></div>
          </div>
        {% endblock breadcrum %}
      </p>
    </div>
    {% block content %}{% endblock content %}
    <div class="sixteen columns" style="background-color:#F5F6F7;">
      {% if sql_queries %}
        <h2 style="margin:10px;">{{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}</h2>
        <p style="font-size:12px; color:#888; margin:10px;">
          {% for query in sql_queries  %}
            {{query}}<br /><br />
          {% endfor %}
        </p>
      {% endif %}
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/sizzle/1.4.4/sizzle.min.js"></script>
  <script src="{{MEDIA_URL}}partner_sites/js/src/jquery.quicksand.js"></script>
  <script src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>

  {% block js %}{% endblock js %}

  <script type="text/javascript">
    var $ = jQ = jQuery.noConflict();
    jQ(document).ready(function(){
      {% block jq_ready %}{% endblock jq_ready %}
    });	
  </script>
</body>
</html>
