{% extends "partner_sites/base.html" %}
{% load i18n google_maps rsr_tags webdesign thumbnail sorting_tags pagination_tags rsr_filters humanize %}
{% load url from future %}


{% block title %}{% trans "Projects" %} - {% endblock title %}

{% block breadcrum_items %}
  {{block.super}}
  <li class="last_breadcrum_item">{% trans "Projects" %}</li>
{% endblock breadcrum_items %}

{% block content %}
  {% autosort filtered_projects.qs as sorted_projects %}
  {% autopaginate sorted_projects 20 5 as project_list %}

  <div class="two_col_left whitebox fixed_height_250px">
    <div class="pad20">
      <h2>{{organisation}}</h2>
      {{organisation.description|smart_truncate:300|linebreaks|safe}}
    </div>      
  </div>
  <div class="two_col_right whitebox">
    {% google_queryset_projects_map sorted_projects 'dynamic' 470 250 1 %}
  </div>
  <div class="clear"></div>
  <div class="marg_top40 white_back">
    <div>
      {% blocktrans count sorted_projects.count as project_count %}
        {{ project_count }} project
      {% plural %}
        {{ project_count }} projects
      {% endblocktrans %}

      {# TODO: this bock may need revisiting to support different languages ways of ordering stuff #}
      {% if search_country %}
        {% blocktrans %}
          in {{ search_country }}
        {% endblocktrans %}
      {% else %}
        {% if search_continent %}
          {% blocktrans %}
            in {{ search_continent }}
          {% endblocktrans %}
        {% endif %}
      {% endif %}
      {% if search_organisation %}
        {% blocktrans %}
          in partnership with {{ search_organisation }}
        {% endblocktrans %}
      {% endif %}
      {% if filtered_projects.form.data.name %}
        {% blocktrans with keywords=filtered_projects.form.data.name %}
          filtered by keywords: {{ keywords }}
        {% endblocktrans %}
      {% endif %}
    </div>
    {% paginate %}

    <form action="." method="get" accept-charset="utf-8" name="filter_form">
			<div id="project_search" >
				<div class="round" style="border: 1px solid #ccc;">
					<div class="space15">

            {{ filtered_projects.form.name }}
            {{ filtered_projects.form.continent }}
            {{ filtered_projects.form.locations__country }}
            {{ filtered_projects.form.organisation }}

						<a id="filterButton" class="" style="float:right;"
							href="javascript:document.filter_form.submit();">
							<span>{% trans 'Filter' %}</span>
						</a>

            <br/><a href="{% url 'home' %}" class="tiny" style="float:right; margin: 4px;">Reset filter</a>
            {% hidden_inputs_from_qs sort dir %}

						<div id="q_help" class="tiny grey" style="padding-left:25px; margin: 4px;">
              {% trans 'Filter on project name or subtitle' %}
						</div>
            <div class="clear"></div>
					</div>
				</div>
			</div>
		</form>

    <table id="projects" class="marg_bottom0 full_width">
      <tr>
        <th class="normal">{% anchor name Name %}</th>
        <th class="normal">{% trans "Location" %}</th>
        {#<th class="normal">{% anchor locations__country Location %}</th>#}
        <th class="normal">{% anchor status Status %}</th>
        <th class="normal">{% trans "Partners" %}</th>
        <th class="normal">{% anchor latest_update_date 'Updated' %}</th>
        <th class="normal">{% anchor funds_needed Funding %}</th>
      </tr>
      {% for project in project_list %}
        <tr>
          <td {% if forloop.last %}class="no_bottom_border"{% endif %}> {# Name column #}
            <div class="space10">
              <a href="{% url 'project_main' project.id %}">
                {% project_thumb project 100 75 'float:left; margin: 0 10px 10px 0;' %}
              </a>
              <a href="{% url 'project_main' project.id %}" class="small" style="margin-bottom:0">
                  {{project.name}}
              </a>
              <p class="tiny grey">
                {{project.project_plan_summary|capfirst|smart_truncate:100}}
              </p> 
            </div>
          </td>
          <td {% if forloop.last %}class="no_bottom_border"{% endif %}> {# Location column #}
            <p class="small">{{project.primary_location.country}}</p>
            <p class="small">{{project.primary_location.country.get_continent_display}}</p>
          </td>
          <td {% if forloop.last %}class="no_bottom_border"{% endif %}> {# Status column #}
            <p class="small green">{{project.show_status}}</p>
          </td>
          <td {% if forloop.last %}class="no_bottom_border"{% endif %}> {# Partner column #}
            <p class="small">
              {% for partner in project.all_partners %}
                {% if partner.id != organisation.id %}
                  <a href="{% url 'partner_main' partner.id %}">{{partner}}</a>{% if not forloop.last %}<br />{% endif %}
                {% endif %}
              {% endfor %}
            </p>
          </td>
          <td {% if forloop.last %}class="no_bottom_border"{% endif %}> {# Updates column #}
            <p class="small">
              {% if project.latest_update_id %}
                <a href="{% url 'update_main' project.id project.latest_update_id %}">
                  {{project.latest_update_date|string_to_date|date:"d M Y"}}
                </a>
              {% else %}
                {% trans 'Not yet' %}
              {% endif %}
            </p>
          </td>
          <td class="no_right_border {% if forloop.last %}no_bottom_border{% endif %}"> {# Funding column #}
            <div style="text-align:center;">
              {% comment %}
              <p class="small" style="margin:0;">
                {{project.get_currency_display|safe}} {{project.budget_total|round|intcomma}}
              </p>
              {% endcomment %}
            </div>
            <div class="fundingbox-progress-bar" style="height:5px;">
              {% if project.budget_total %}
                <div class="fundingbox-progress-bar-progress" style="width:{% widthratio_trunc project.funding_total_given|add:1 project.budget_total 100 %}%"> 
                </div>
              {% endif %}
            </div>
            <div style="text-align:center;">
              <p class="tiny grey" style="margin:0;">
                {# |add:1 truncates so we get truc(funding_total_given+1) #}
                {% widthratio_trunc project.funding_total_given|add:1 project.budget_total 100 %} %
              </p>
            </div>
            {% if project.funding_still_needed|round != 0 and not project.status == 'L' and not project.status == 'R' %}
              <div style="text-align:center;">
                <a href="http://akvo.org/rsr/project/{{project.id}}/donate/" class="small">
                  {% trans "Donate" %}
                </a>
              </div>
            {% endif %}
            
            {% comment %}
            <div style="text-align:center;">
              {% if project.funding_still_needed|round == 0 %}
                <p class="small" style="font-weight:bold;">
                  {% trans 'Fully funded' %}
                </p>
              {% else %}
                {% if not project.status == 'L' and not project.status == 'R' %}
                  <div style="text-align:center; padding-top:5px; padding-bottom:5px;">
                    <p class="small">Donate!!!</p>
                    {#<a class="orange awesome small" href="{% url 'project_donate' project.id %}">{% trans 'Donate' %}</a>#}
                  </div>
                {% endif %}
              {% endif %}
            </div>
            {% endcomment %}
          </td>
        </tr>
      {% endfor %}
    </table>
    {% paginate %}
  </div>
{% endblock content %}
