{% extends "partner_sites/base.html" %}
{% load i18n google_maps rsr_tags webdesign thumbnail sorting_tags pagination_tags rsr_filters humanize %}
{% load url from future %}

{% block breadcrum_items %}
  {{block.super}}
  <li id="last_breadcrum_item">Project home</li>
{% endblock breadcrum_items %}

{% block content %}
  <div class="sixteen columns">
    <h1>Projects</h1>
    
  </div>
  <div class="sixteen columns">
    {% autosort project_list %}
    {% autopaginate project_list 10 %}
    {% paginate %}
    <table id="projects">
      <colgroup class="name_col"></colgroup>
      <colgroup span="6" class="colgroup"></colgroup>
        <tr>
            <th>
              {% anchor name Name %}
            </th>
            <th>{% anchor locations__country Location %}</th>
            <th>
              {% anchor status Status %}
            </th>
            <th>
                <span class="small">Partners</span>
            </th>
            <th>
              {% anchor latest_update 'Updated' %}
            </th>
            <th style="border-right: 0;">
                {% anchor funds_needed Funding %}
            </th>
          </tr>
          {% for project in project_list %}
            <tr>
              <td>
                <div class="space10">
                  <a href="{% url 'project_main' project.id %}">
                    {% project_thumb project 100 75 'float:left; margin: 0 10px 10px 0;' %}
                    <p class="link_blue strong" style="margin-bottom:0">
                        {{project.name}}
                    </p> 
                  </a>
                  <p class="tiny grey">
                    {{project.project_plan_summary|capfirst|smart_truncate:100}}
                  </p> 
                </div>
              </td>
              <td>
                <p class="td-text">{{project.primary_location.country}}</p>
                <p class="td-text">{{project.primary_location.country.get_continent_display}}</p>
              </td>
              <td>
                <p class="td-text green">{{project.show_status}}</p>
              </td>
              <td>
                <p class="td-text">
                  {% for partner in project.all_partners %}
                    <a href="#">{{partner}}</a>{% if not forloop.last %}<br />{% endif %}
                  {% endfor %}
                </p>
              </td>
              <td>
                <p class="td-text">
                    {% if project.latest_update %}
                      <a href="{% url 'project_updates' project.id %}#{{project.update_id}}">{{project.latest_update|string_to_date|date:"d M Y"}}</a>
                    {% else %}
                      {% trans 'Not yet' %}
                    {% endif %}
                </p>
              </td>
               <td>
                <p class="td-text">
					{# --- funding start --- #}
					<div style="text-align:center;">
						<p class="small" style="margin:0;">
							{{project.get_currency_display|safe}} {{project.budget_total|round|intcomma}}
						</p>
					</div>
					<div class="fundingbox-progress-bar" style="height:5px;">
						{% if project.budget_total %}
						<div class="fundingbox-progress-bar-progress" style="width:{% widthratio_trunc project.funding_total_given|add:1 project.budget_total 100 %}%"> 
						</div>
						{% endif %}
					</div>
					<div style="text-align:center;">
						<p class="tiny grey" style="margin:0;">
              {# |add:1 truncates so we get truc(funding_total_given+1) #}
							{% widthratio_trunc project.funding_total_given|add:1 project.budget_total 100 %} %
						</p>
					</div>
					<div style="text-align:center;">
						{% if project.funding_still_needed|round == 0 %}
							<p class="green" style="font-weight:bold;">
								{% trans 'Fully funded' %}
							</p>
						{% else %}
							{% if not project.status == 'L' and not project.status == 'R' %}
								<div style="text-align:center; padding-top:5px; padding-bottom:5px;">
                  Donate
									{#<a class="orange awesome small" href="{% url 'project_donate' project.id %}">{% trans 'Donate' %}</a>#}
								</div>
							{% endif %}
						{% endif %}
					</div>
					{# --- funding stop --- #}
              </td>
            </tr>
          {% endfor %}
        </table>
        {% paginate %}
  </div>
  
{% endblock content %}
