{% extends "partner_sites/base.html" %}
{% load i18n google_maps rsr_tags webdesign thumbnail %}
{% load url from future %}

{% block breadcrum_items %}
  {{block.super}}
  <li id="last_breadcrum_item">Projects</li>
{% endblock breadcrum_items %}

{% block content %}
  <div class="twelve columns row">
    <h1>What&#x27;s happening now</h1>
    <ul class="square add-bottom">
      {% for update in latest_updates  %}
        <li>
          <img src="{% thumbnail update.photo 100x75 autocrop,upscale,sharpen %}" alt="{{update.id}}" />
          {{update}}
        </li>
      {% endfor %}
    </ul>
    <h1>Where does this happen</h1>
    {# google_organisation_projects_map organisation 'dynamic' 470 300 1 #}
  </div>
  <div class="four columns row" style="background-color:#d9dfe5">
    <h2>What have happended before</h2>
    <p>
      Stats: how many projects and how many people.
    </p>
    {% lorem 1 p %}
  </div>
{% endblock content %}
