{% load i18n rsr_tags webdesign rsr_tags %}
{% load url from future %}


<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{organisation}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  {% asset_bundle 'partner_sites_style' %}

  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
  <script type="text/javascript">
    !window.Modernizr && document.write('<script src="{{MEDIA_URL}}core/js/modernizr-2.0.6.min.js"><\/script>');
  </script>
</head>
<body>
  <div class="container">
    <h1>Welcome to Akvo</h1>
    <div class="whitebox">
      <p>
        Your organisation should host your projects at Akvo and get your own
        Akvo partner page, they rock :-)
      </p>
    </div>
  </div>
  <div class="container">  
    <div style="background-color:#F5F6F7;">
      {% if sql_queries %}
        <h2 style="margin:10px;">{{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}</h2>
        <p style="font-size:12px; color:#888; margin:10px;">
          {% for query in sql_queries  %}
            {{query}}<br /><br />
          {% endfor %}
        </p>
      {% endif %}
    </div>
    <div style="background-color:#F5F6F7; margin-top:20px; padding:10px;">
      <h3>About Akvo.org</h3>
      <p class="small">
        We are a non-profit foundation headquartered in the Netherlands. We help connect doers and donors to transform communities in some of the poorest parts of the world. The Akvo platform is open source and we encourage others to build on and improve these tools, or adapt the platform for other purposes.
      </p> 
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript">
    !window.jQuery && document.write('<script src="{{MEDIA_URL}}core/js/jquery-1.6.2.min.js"><\/script>');
  </script>
  {% block js %}{% endblock js %}
  <script type="text/javascript">
    var $ = jQ = jQuery.noConflict();
    jQ(document).ready(function(){
      {% block jq_ready %}{% endblock jq_ready %}
    });
  </script>
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
  <![endif]-->
</body>
</html>
