{% extends "partner_sites/base.html" %}
{% load i18n rsr_tags webdesign thumbnail rsr_filters google_maps humanize %}
{% load url from future %}

{% block title %}{{partner}} - {% endblock title %}

{% block breadcrum_right %}{% endblock breadcrum_right %}

{% block breadcrum_items %}
  {{block.super}}
  <li><a href="{% url 'home' %}"><span>{% trans "Projects" %}</span></a></li>
  <li><a href="{% url 'partner_list' %}"><span>{% trans "Project partners" %}</span></a></li>
  <li class="last_breadcrum_item">{{partner|truncatewords:3}}</li>
{% endblock breadcrum_items %}


{% block content %}
  <div class="clearfix">
    <article>
      <h1 style="margin-bottom:4px">
        {{partner}}
      </h1>
      <div class="pad20 whitebox">
        <div class="content_three_col cut_flow">
          {% org_logo partner 100 75 'margin-bottom: 1.5em;' %}
          <h3>{% trans 'Activities' %}</h3>
          <p class="small">
            {% if partner.is_field_partner   %}{% trans 'Field partner'   %}<br />{% endif %}
            {% if partner.is_support_partner %}{% trans 'Support partner' %}<br />{% endif %}
            {% if partner.is_funding_partner %}{% trans 'Funding partner' %}<br />{% endif %}
            {% if partner.is_sponsor_partner %}{% trans 'Sponsor partner' %}<br />{% endif %}
          </p>
          <h3>{% trans 'Type' %}</h3>
          <p class="small">{{partner.get_organisation_type_display}}</p>
            {% if partner.url %}
              <h3>{% trans 'Website' %}</h3>
              <p class="small"><a href="{{partner.url}}">{{partner.url}}</a></p>
            {% endif %}
            {% if partner.akvopedia_entry %}
              <h3>{% trans 'Akvopedia entry' %}</h3>
              <p class="small">{{partner.akvopedia_entry}}</p>
            {% endif %}
        </div>
        <div class="content_three_col marg_left20 cut_flow">
          <h3>{% trans 'Location' %}</h3>
          <p class="small">
            {% if partner.primary_location.address_1 %}{{partner.primary_location.address_1}}<br />{% endif %}
            {% if partner.primary_location.address_2 %}{{partner.primary_location.address_2}}<br />{% endif %}
            {% if partner.primary_location.postcode %}{{partner.primary_location.postcode}}<br />{% endif %}
            {% if partner.primary_location.city %}{{partner.primary_location.city}}<br />{% endif %}
            {% if partner.primary_location.state %}{{partner.primary_location.state}}<br />{% endif %}
            {% if partner.primary_location.country %}{{partner.primary_location.country}}{% endif %}
          </p>
          {% if partner.primary_location %}
            {% google_map partner 195 160 6 %}
          {% else %}
            <p class="small" style="color: red;">{% trans 'No map available' %}</p>
          {% endif %}
        </div>
        <div class="content_three_col marg_left20 cut_flow">
          <h3>{% trans 'Contact' %}</h3>
          <p class="small">
            {{partner.contact_person}}<br />
            <a href="mailto:{{organisation.contact_email}}">{{partner.contact_email}}</a>
            <br /><br />
            {% if partner.phone %}
              <b>{% trans 'Phone' %}</b><br />
              {{partner.phone}}
              <br /><br />
            {% endif %}
            {% if partner.mobile %}
              <b>{% trans 'Mobile' %}</b><br />
              {{partner.mobile}}
              <br /><br />
            {% endif %}
            {% if partner.fax %}
              <b>{% trans 'Fax' %}</b><br />
              {{partner.fax}}<br />
              <br />
            {% endif %}
          </p>
        </div>
        <div class="clear"></div>
        <hr />
        <h2>{% trans 'Description' %}</h2>
        {{partner.description|linebreaks}}
      </div>
    </article>
    <aside>
      <h2 class=" marg_top35">{% trans "Projects" %}</h2>
      <div class="pad20 whitebox">
        <table class="no_border_table full_width marg_bottom0">
          <tr>
            <td class="small">{% trans 'Active' %}</td>
            <td class="small txt_right">{{partner.published_projects.status_active.count}}</td>
          </tr>
          <tr>
            <td class="small">{% trans 'Need funding' %}</td>
            <td class="small txt_right">{{partner.published_projects.status_onhold.count}}</td>
          </tr>
          <tr>
            <td class="small">{% trans 'Complete' %}</td>
            <td class="small txt_right">{{partner.published_projects.status_complete.count}}</td>
          </tr>
          <tr>
            <td class="small">{% trans 'Cancelled' %}</td>
            <td class="small txt_right">{{partner.published_projects.status_cancelled.count}}</td>
          </tr>
          <tr>
            <td class="small"><b>{% trans 'Total projects' %}</b></td>
            <td class="small txt_right"><b>{{partner.published_projects.count}}</b></td>
          </tr>
        </table>
      </div>
      <h2 class="marg_top20">{% trans 'Funding' %}</h2>
      <div class="pad20 whitebox">
        <table class="no_border_table full_width marg_bottom0">
          {% if partner.euro_projects_count %}
            <tr>
              <td colspan="2" class="small"><b>
                {{partner.euro_projects_count}}
                {% trans 'project' %}{{partner.euro_projects_count|pluralize:"s"}} {% trans 'in Euros' %}</b>
              </td>
            </tr>
            <tr class="green">
              <td class="small">{% trans 'Pledged' %}</td>
              <td class="small txt_right">
                € {{partner.euros_pledged|round|intcomma}}
              </td>
            </tr>
            <tr class="red">
              <td class="small">{% trans 'Still needed' %}</td>
              <td class="small txt_right">
                € {{partner.euro_funds_needed|round|intcomma}}
              </td>
            </tr>
          {% endif %}
          {% if partner.dollar_projects_count %}
            <tr>
              <td colspan="2" class="small"><b>
                {{partner.dollar_projects_count}}
                {% trans 'project' %}{{partner.dollar_projects_count|pluralize:"s"}} {% trans 'in Dollars' %}</b>
              </td>
            </tr>
            <tr class="green">
              <td class="small">{% trans 'Pledged' %}</td>
              <td class="small txt_right">
                $ {{partner.dollars_pledged|round|intcomma}}
              </td>
            </tr>
            <tr class="red">
              <td class="small">{% trans 'Still needed' %}</td>
              <td class="small txt_right">
                $ {{partner.dollar_funds_needed|round|intcomma}}
              </td>
            </tr>
          {% endif %} 
        </table>
      </div>
    </aside>
  </div>
{% endblock content %}
