#!/bin/bash

export CFLAGS="$ARCHFLAGS"
export CXXFLAGS="$ARCHFLAGS"
export LDFLAGS="$ARCHFLAGS"

OSX_VERSION="`sw_vers -productVersion`"

export MACOSX_DEPLOYMENT_TARGET=$OSX_VERSION

if [ $OSX_VERSION > "10.6" ]; then
    export CC=/usr/bin/llvm-gcc
else
    export CC=/usr/bin/gcc-4.2
fi

printf "\n>> Environment variables for compilation:\n"
printf ">> ARCHFLAGS                = %s\n" "$ARCHFLAGS"
printf ">> CC                       = %s\n" $CC
printf ">> MACOSX_DEPLOYMENT_TARGET = %s\n" $MACOSX_DEPLOYMENT_TARGET
