/*---------------------------------------------------------------------------------

            Title:   Custom CSS for use in Akvo's Wordpress site
            Author:  Gabriel von Heijne
            LICENSE: GNU Affero General Public License

/*---------------------------------------------------------------------------------*/

header.projectHeader {
    display: none !important;
}
footer {
    display: none !important;
}
footer#project-footer {
    display: block !important;
}
#supporthero-button {
    display: none !important;
}
