<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load i18n %}

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <style type="text/css">
      body {
        font-family: 'Open Sans', 'Source Sans Pro',  "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1.42857;
        color: #394c50;
      }
    </style>
  </head>
  <body>
    {% blocktrans %}
    <p>The indicator "{{ indicator.title }}" in the hierarchy of the program/project
        <a href="https://{{ site }}/my-rsr/programs/{{ root_project.id }}">{{ root_project.title }}</a>
        had triggered an aggregation job.
    </p>

    <p>After rerunning the job, it has now succeeded and the aggregation is complete.</p>
    {% endblocktrans %}
  </body>
</html>

