{% load i18n %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Akvo RSR" />
	<meta name="keywords" content="" />
	<title>Akvo RSR</title>
	
	<link rel="stylesheet" href="{{MEDIA_URL}}styles/core/style.css" type="text/css" media="screen" title="style" charset="utf-8" />
	<style type="text/css" media="screen">{% block inline_styles %}{% endblock inline_styles %}</style>

	<link rel="alternate" type="application/rss+xml" title="{% trans 'RSR updates' %}" href="/rsr/rss/all-updates" />
</head>
<body>
<div id="maincontainer" class="container showgrid">
	{% block header %}
		<p>Header</p>
	{% endblock header %}
	
	{% block content %}
		<p>Content</p>
	{% endblock content %}
	
	{% block footer %}
		<p>Footer</p>
	{% endblock footer %}
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
{% block js %}{% endblock js %}

<script type="text/javascript">
	jQ = jQuery.noConflict();

	jQ(document).ready(function(){
		{% block jquery_ready %}{% endblock jquery_ready %}

		jQ('#grid_toggle').click(function () {
			jQ('#maincontainer').toggleClass('showgrid');
		});
		
	});
</script>

</body>
</html>

	

