{% extends "rsr/base.html" %}

{% load i18n generic_content addparam rsr_tags %}
{% block title %} {{block.super}} - {% trans 'Projects' %}{% endblock %}

{% block content %}
<div id="list" class="span-18" style="background-color:#F1F1F1;">
	<div class="span-8 first">
		<div style="margin:10px">
			{% blocktrans with page.start_index as page_start and page.end_index as page_end and page.paginator.count as p_count %}Projects {{page_start}}-{{page_end}} of {{p_count}}{% endblocktrans %}
		</div>
	</div>
	<div class="span-10 last" style="text-align:right">
		<div style="margin:10px">
			{% ifequal page.number 1 %}
			{% trans 'First' %} |
			{% else %}
				{# if we have an organisation in the context, we are diplaying the list filtered on that org, url have to conform to that #}
				{% if o %}
					<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "page" 1 %}#list">{% trans 'First' %}</a> |
				{% else %}
					<a href="{% url akvo.rsr.views.projectlist %}{% addparam "page" 1 %}#list">{% trans 'First' %}</a> |
				{% endif %}
			{% endifequal %}
			{% if page.has_previous %}
				{% if o %}
					<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "page" page.previous_page_number %}#list">{% trans 'Previous' %}</a> |
				{% else %}
					<a href="{% url akvo.rsr.views.projectlist %}{% addparam "page" page.previous_page_number %}#list">{% trans 'Previous' %}</a> |
				{% endif %}
			{% else %}
			{% trans 'Previous' %} |
			{% endif %}
			{% if page.has_next %}
				{% if o %}
					<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "page" page.next_page_number %}#list">{% trans 'Next' %}</a> |
				{% else %}
					<a href="{% url akvo.rsr.views.projectlist %}{% addparam "page" page.next_page_number %}#list">{% trans 'Next' %}</a> |
				{% endif %}
			{% else %}
			{% trans 'Next' %} |
			{% endif %}
			{% ifequal page.number page.paginator.num_pages %}
			{% trans 'Last' %}
			{% else %}
				{% if o %}
					<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "page" page.paginator.num_pages %}#list">{% trans 'Last' %}</a>
				{% else %}
					<a href="{% url akvo.rsr.views.projectlist %}{% addparam "page" page.paginator.num_pages %}#list">{% trans 'Last' %}</a>
				{% endif %}
			{% endifequal %}
		</div>
	</div>	
</div>

{% for p in page.object_list %}
<div class="span-18" style="margin-bottom:20px; background-color:#{% cycle 'FAFAFA' 'fff' %};">
	<div class="span-3 first">
		<div style="margin:10px">
			<a href="{% url akvo.rsr.views.projectmain p.id %}">
	            {% project_thumb p 100 75 'float:left; margin-right: 10px;' %}
	        </a>			
		</div>
	</div>
	<div class="span-12">
		<div style="margin:10px">
			<a href="{% url akvo.rsr.views.projectmain p.id %}">{{p.name}}</a><br />
			{{p.subtitle}}<br />
			{{p.country}}
		</div>
	</div>
	<div class="span-3 last">
		<div style="margin:10px">
			{{p.show_status}}
		</div>
	</div>
</div>
{% endfor %}

<div class="span-18" style="background-color:#F1F1F1;">
	<div class="span-8 first">
		<div style="margin:10px">
			{% blocktrans with page.start_index as page_start and page.end_index as page_end and page.paginator.count as p_count %}Projects {{page_start}}-{{page_end}} of {{p_count}}{% endblocktrans %}
		</div>
	</div>
	<div class="span-10 last" style="text-align:right">
		<div style="margin:10px">
			{% ifequal page.number 1 %}
			{% trans 'First' %} |
			{% else %}
				{# if we have an organisation in the context, we are diplaying the list filtered on that org, url have to conform to that #}
				{% if o %}
					<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "page" 1 %}#list">{% trans 'First' %}</a> |
				{% else %}
					<a href="{% url akvo.rsr.views.projectlist %}{% addparam "page" 1 %}#list">{% trans 'First' %}</a> |
				{% endif %}
			{% endifequal %}
			{% if page.has_previous %}
				{% if o %}
					<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "page" page.previous_page_number %}#list">{% trans 'Previous' %}</a> |
				{% else %}
					<a href="{% url akvo.rsr.views.projectlist %}{% addparam "page" page.previous_page_number %}#list">{% trans 'Previous' %}</a> |
				{% endif %}
			{% else %}
			{% trans 'Previous' %} |
			{% endif %}
			{% if page.has_next %}
				{% if o %}
					<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "page" page.next_page_number %}#list">{% trans 'Next' %}</a> |
				{% else %}
					<a href="{% url akvo.rsr.views.projectlist %}{% addparam "page" page.next_page_number %}#list">{% trans 'Next' %}</a> |
				{% endif %}
			{% else %}
			{% trans 'Next' %} |
			{% endif %}
			{% ifequal page.number page.paginator.num_pages %}
			{% trans 'Last' %}
			{% else %}
				{% if o %}
					<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "page" page.paginator.num_pages %}#list">{% trans 'Last' %}</a>
				{% else %}
					<a href="{% url akvo.rsr.views.projectlist %}{% addparam "page" page.paginator.num_pages %}#list">{% trans 'Last' %}</a>
				{% endif %}
			{% endifequal %}
		</div>
	</div>	
</div>

{% endblock content %}