{% extends "rsr/base.html" %}

{% load i18n rsr_tags thumbnail %}

{% block title %}{{block.super}} - {% trans 'Project no.' %} {{p.id}}, {{p.name}}{% endblock title %}

{% block content %}

<div class="span-12 first">
	<h1>{{p.name}}</h1>
	<p>{{p.subtitle}}</p>
	<hr />
	
	{% block project_content  %}
		<div class="span-12" style="background-color:#fff; margin-bottom:20px;">
			{#{{p.project_plan_summary|linebreaks}}#}
			<p style="font-size:11px;">
				{{p.project_plan_summary}}
			</p>
			<div class="span-6 first">
				{% if p.current_image %}
		            {% project_thumb p 220 165 'margin: 10px 10px 0 0;' %}
					<p class="small lightx1">{{p.current_image_caption}}</p>
		        {% endif %}
			</div>
			<div class="span-6 last">
				<p class="lightx1"><b>{% trans 'Target benchmarks' %}</b></p>
	            {% include "rsr/inc_target_benchmarks.html" %}
				
				<h2 class="lightx2">{% trans 'Location' %}</h2>
	            <p>{{p.city}}<br />{{p.state}}, {{p.country}}</p>
	            {% map_thumb p 140 140 'margin: 20px 20px 0px 20px;' %}
	
			</div>
		</div>
		
		<h1>{% trans 'Project in depth' %}</h1>
		
		<div class="span-9 first" style="background-color:#fff;">
			<h2 class="lightx2">{% trans 'Focus area' %}</h2>
	        <p>
	            {% category_icons p %}
	        </p>
			{% if p.goal_1 or p.goal_2 or p.goal_3 or p.goal_4 or p.goal_5 %}
            	<h2 class="lightx2">{% trans 'Expected outcomes' %}</h2>
				<ul class="simplelist">
	            	{% if p.goal_1 %}
	            		<li>{{p.goal_1}}</li>
	            	{% endif %}
	            	{% if p.goal_2 %}
	            		<li>{{p.goal_2}}</li>
	            	{% endif %}
	            	{% if p.goal_3 %}
	            		<li>{{p.goal_3}}</li>
	            	{% endif %}
	            	{% if p.goal_4 %}
	            		<li>{{p.goal_4}}</li>
	            	{% endif %}
	            	{% if p.goal_5 %}
	            		<li>{{p.goal_5}}</li>
	            	{% endif %}
	            </ul>
			{% endif %}
		</div>
		<div class="span-3 last" style="background-color:#fff;">
			<h2>{% trans 'Related to this project' %}</h2>
			{% if p.link_set.all %}
				<h2>{% trans 'Akvopedia entries' %}</h2>
				{% for link in p.link_set.all %}
					{% ifequal link.kind 'A' %}
			            <p><a href="{{link.url}}">{{link.caption}}</a></p>
					{% endifequal %}
				{% endfor %}
			{% endif %}
		</div>
		
	{% endblock project_content %}
</div>

<div class="push-1 span-5 last">
	<div style="background-color:#fff;">
		<h2 class="lightx2">{% trans 'Status' %}</h2>
    	<p>{{p.show_status}}</p>
	</div>
	
	<div style="background-color:#fff;">
		<h2 class="lightx2">{% trans 'Updates' %}</h2>
		<p>...</p>
	</div>
	
	<div style="background-color:#fff;">
		<p>
			<a href="{% url akvo.rsr.views.projectmain p.id %}">{% trans 'Permalink to this project' %}</a><br />
			<a href="{% url akvo.rsr.views.getwidget p.id %}">{% trans 'Get a widget' %}</a>
		</p>
	</div>
	
	<h1>{% trans 'Project partners' %}</h1>
	<div style="background-color:#fff;">
		{% ifequal p.fieldpartner_set.count 1 %}
	        <h2>{% trans 'Field partner' %}</h2>
	    {% else %}
	        <h2>{% trans 'Field partners' %}</h2>
	    {% endifequal %}
			{% for fp in p.fieldpartner_set.all %}
				{% if not forloop.first %}
					<hr />
				{% endif %}
	            <a href="{% url akvo.rsr.views.orgdetail fp.field_organisation.id %}">
	                {% org_logo fp.field_organisation 120 90 'margin: 10px 20px;' %}
	            </a>
				<p><a href="{% url akvo.rsr.views.orgdetail fp.field_organisation.id %}">{{fp.field_organisation.name}}</a></p>
				<p>{{fp.field_organisation.city}}, {{fp.field_organisation.country}}</p>
		{% endfor %}
		{% if p.supportpartner_set.count %}
			{% if p.fieldpartner_set.count %}
				<hr />
			{% endif %}
			{% ifequal p.supportpartner_set.count 1 %}
				<h2>{% trans 'Support partner' %}</h2>
			{% else %}
				<h2>{% trans 'Support partners' %}</h2>
			{% endifequal %}
			{% for sp in p.supportpartner_set.all %}
				{% if not forloop.first %}
					<hr />
				{% endif %}
	            <a href="{% url akvo.rsr.views.orgdetail sp.support_organisation.id %}">
	                {% org_logo sp.support_organisation 120 90 'margin: 10px 20px;' %}
	            </a>
				<p><a href="{% url akvo.rsr.views.orgdetail sp.support_organisation.id %}">{{sp.support_organisation.name}}</a></p>
				<p>{{sp.support_organisation.city}}, {{sp.support_organisation.country}}</p>
			{% endfor %}
		{% endif %}     

		{% if p.sponsorpartner_set.count %}
			<hr />
			 {% ifequal p.sponsorpartner_set.count 1 %}
			<h2> {% trans 'Sponsor partner' %}</h2>
			{% else %}
			<h2> {% trans 'Sponsor partners' %}</h2>
			{% endifequal %}
			{% for sponsor in p.sponsorpartner_set.all %}
	            <a href="{% url akvo.rsr.views.orgdetail sponsor.sponsor_organisation.id %}">
	                {% org_logo sponsor.sponsor_organisation 120 90 'margin: 10px 20px;' %}
	            </a>
				<p>
					<a href="{% url akvo.rsr.views.orgdetail sponsor.sponsor_organisation.id %}">{{ sponsor.sponsor_organisation.name }}</a><br />
					{{ sponsor.sponsor_organisation.city }}, {{ sponsor.sponsor_organisation.country }}
				</p>
			{% endfor %}			
		{% endif %}
	</div>


</div>

{% endblock content %}




