{% extends "partner_sites/base.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrum_items %}
  {% if return_url %}
    {{block.super}}
    <li><a href="{% url 'home' %}"><span>{% trans "Projects" %}</span></a></li>
  {% else %}
    <li><a href="{% url 'home' %}"><span>{{organisation|truncatewords:3}}</span></a></li>
  {% endif %}
{% endblock breadcrum_items %}


{% block content %}
  <section class="whitebox pad20 marg_bottom40">
    <h1>{% block header %}{% endblock header %}</h1>
    <p>{% block message %}{% endblock message %}</p>
    <p>
      {% trans 'Please <a href="mailto:support@akvo.org">contact us</a> if you have any questions.' %}
    </p>
  </section>
{% endblock content %}
