.finance.view{
  .total{
    opacity: 0.6;
    font-size: 14px;
    // text-align: right;
    .amount{
      float: right;
      display: inline-block;
    }
    b{
      // float: right;
    }
  }
  .ant-collapse-item{
    .ant-collapse-extra{
      .amount{
        font-size: 14px;
        opacity: 0.7;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid #ccc;
      }
    }
  }
  .ant-col-12{
    .ant-radio-group{
      width: 100%;
      display: flex;
      .ant-radio-button-wrapper{
        flex: 1;
        text-align: center;
      }
    }
  }
  .capital-percentage{
    max-width: 70px;
  }
  .percentage-row{
    display: flex;
    .ant-form-item{
      margin-bottom: 0;
    }
    .ant-form-item:first-child{
      margin-right: 20px;
    }
    .ant-form-item:last-child{
      flex: 1;
    }
  }
}
.add-budget-item-modal{
  .ant-btn{
    margin-bottom: 10px;
    text-align: left;
  }
}