{% extends "partner_sites/project/base_project.html" %}
{% load i18n rsr_tags webdesign thumbnail counter_tags oembed_tags %}
{% load url from future %}


{% block title %}{{update.title}} - {% endblock title %}

{% block breadcrum_items %}
  {{block.super}}
  <li><a href="{% url 'project_main' project.id %}"><span>{{project}}</span></a></li>
  <li><a href="{% url 'update_list' project.id %}"><span>{% trans "Updates" %}</span></a></li>
  <li class="last_breadcrum_item">{{update.title}}</li>
{% endblock breadcrum_items %}


{% block project_content %}
  <section class="whitebox pad20">
    <div style="float:left; margin-left:0px; margin-top:0px">
      <span class="small">
        <a href="{% url 'update_list' project.id %}">&#x25C0; {% trans 'Back to project updates' %}</a>
      </span>
      <h2 style="padding-top:20px;">{{update.title}}</h2>
      <p class="grey small">
        {{ update.time|date:"d-M-Y" }},
        {%  url 'organisation_main' update.user.userprofile.organisation.id as user_org_url %}
        {% blocktrans with user_name=update.user.get_full_name user_org=update.user.userprofile.organisation.name update_meth=update.get_update_method_display %}by {{user_name}}, <a href='{{user_org_url}}'>{{user_org}}</a>, via {{update_meth}}{% endblocktrans %}
      </p>
    </div>
    {% counter_badge update %}
    <div class="clear"></div>
    
    {% if can_edit_update %}
	  		<style>
  			  div.notice {
            width:470px;
           	margin: 15px;
           	margin-left: 20px;
           	background-color:#FFFFE0; 
           	border:3px outset #EEE8AA; 
           	/*color:yellow;*/
            padding: 10px;

          }
          .noticebutton {
        	  float: right;
        	  width: 100px;
        	  margin-top: 30px;
        	  margin-left: 20px;
          }
        </style>
        <div class="notice" style="background-color:#ffffe0;">
          <div class="noticebutton">
            <a class="aqua awesome" style="color:#fff;" href="{% url 'update_edit' project.id update.id %}">{% trans 'Edit update' %}</a>
          </div>
          <p class="nano-lede grey">
            {% comment %}Translators: When you just have added an update you have a window of time to edit it {% endcomment %}
            {% trans "Found a typo?" %}
          </p>
          <p class="nano-lede grey">
            {% comment %}Translators: When you have added a new update. You posted this on "date". You can edit this update until "time", at which... {% endcomment %}
            {% blocktrans with posted=update.time_gmt|date:"H:i T" expires=update.expires_at|date:"H:i T"  %}You posted this update at {{posted}}. You can edit this update until {{ expires }}; at which time it will become locked and final.{% endblocktrans %}
          </p>
      	</div>
    	{% endif %}
    
    
    {% if update.text_location == 'B' %}
      <p class="small grey">
        {{ update.text|linebreaks }}
      </p>
    {% endif %}	
    {% if update.video %}
      <div class="marg20">
        <div style="width:580px; max-width:580px; overflow:scroll">
          {# {{update.video|oembed:"580x435"}} #}
          {{ update.get_video_oembed }}
        </div>
      </div>
      {% if update.video_caption or update.video_credit %}
        <p class="grey small">
          {% if update.video_caption %}
            {{ update.video_caption }}
          {% endif %}
          {% if update.video_credit %}
            {% trans 'Video credit' %}: {{ update.video_credit }}
          {% endif %}
        </p>
      {% endif %}
    {% endif %}
    {% if update.photo %}
      <div class="marg20">
        {% update_thumb update 580 435 %}
      </div>
    {% endif %}
    {% if update.text_location == 'E' %}
      <p class="small grey">
        {{ update.text|linebreaks }}
      </p>
    {% endif %}
    <hr style="margin-bottom:5px;" />
    <div class="txt_right">
      <a class="small" href=".">{% trans 'Permalink' %}</a>
    </div>
  </section>
{% endblock project_content %}

{% block project_aside_updates %}
  {# Overriding the aside update section #}
{% endblock project_aside_updates %}
