{% extends "partner_sites/project/base_project.html" %}
{% load i18n rsr_tags webdesign thumbnail counter_tags oembed_tags markup %}
{% load url from future %}


{% block title %}{{update.title}} - {% endblock title %}

{% block head %}
    <meta property="og:title" content="Akvo.org - {{update.title}}"/>
    <meta property="og:description" content="{{update.text}}"/>
    <meta property="og:url" content="http://{{request.META.HTTP_HOST}}{% url 'update_main' project_id=project.id update_id=update.id %}"/>
    {% if update.photo %}
      <meta property="og:image" content="http://{{request.META.HTTP_HOST}}{{MEDIA_URL}}{{update.photo}}"/>
    {% else %}
      <meta property="og:image" content="http://{{request.META.HTTP_HOST}}{{MEDIA_URL}}{{project.current_image}}"/>
    {% endif %}
    {% if request.partner_site.facebook_app_id %}
      <meta property="fb:app_id" content="{{request.partner_site.facebook_app_id}}"/>
    {% endif %}

{% endblock head %}

{% block breadcrum_items %}
  {{block.super}}
  <li><a href="{% url 'project_main' project.id %}"><span>{{project|truncatewords:3}}</span></a></li>
  <li><a href="{% url 'update_list' project.id %}"><span>{% trans "Updates" %}</span></a></li>
  <li class="last_breadcrum_item">{{update.title|truncatewords:3}}</li>
{% endblock breadcrum_items %}

{% block social_init %}
    {% if request.partner_site.facebook_button %}
      <!-- If we want a FB like button, the initial load goes here -->
      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    {% endif %}
{% endblock social_init %}

{% block social %}
    {% if request.partner_site.facebook_button or request.partner_site.twitter_button %}
        <h2 class="marg_top40">{% trans "Share" %}</h2>
        <div class="whitebox">
    {% if request.partner_site.facebook_button %}
<div style="padding-top:15px; padding-left:10px; padding-bottom:10px;">
<a href="#" 
  onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
<img src="{{MEDIA_URL}}akvo/img/social/fb_share.jpg">
</a>
</div>
<!--
<div class="fb-like" data-href="http://{{request.META.HTTP_HOST}}{% url 'update_main' project_id=project.id update_id=update.id %}" data-width="200" data-show-faces="true" data-send="false" style="padding-left:10px;"></div>
-->
    {% endif %}
    {% if request.partner_site.twitter_button %}
    	<div style="padding-bottom:15px; padding-left:10px;">    
<a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="AkvoRSR" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>        </div>
    {% endif %}
        </div>
    {% endif %}
{% endblock social %}

{% block project_content %}
  <section class="whitebox pad20">
    <div style="float:left; margin-left:0px; margin-top:0px">
      <span class="small">
        <a href="{% url 'update_list' project.id %}">&#x25C0; {% trans 'Back to project updates' %}</a>
      </span>
      <h2 style="padding-top:20px;">{{update.title}}</h2>
      <p class="grey small">
        {{ update.created_at|date:"d-M-Y" }},
        {%  url 'organisation_main' update.user.userprofile.organisation.id as user_org_url %}
        {% blocktrans with user_name=update.user.get_full_name user_org=update.user.userprofile.organisation.name update_meth=update.get_update_method_display %}by {{user_name}}, <a href='{{user_org_url}}' class="notranslate">{{user_org}}</a>, via {{update_meth}}{% endblocktrans %}
      </p>
    </div>
    {% counter_badge update %}
    <div class="clear"></div>
    
    {% if can_edit_update %}
	  		<style>
  			  div.notice {
            width:470px;
           	margin: 15px;
           	margin-left: 20px;
           	background-color:#FFFFE0; 
           	border:3px outset #EEE8AA; 
           	/*color:yellow;*/
            padding: 10px;

          }
          .noticebutton {
        	  float: right;
        	  width: 100px;
        	  margin-top: 30px;
        	  margin-left: 20px;
          }
        </style>
        <div class="notice" style="background-color:#ffffe0;">
          <div class="noticebutton">
            <a class="aqua awesome" style="color:#fff;" href="{% url 'update_edit' project.id update.id %}">{% trans 'Edit update' %}</a>
          </div>
          <p class="nano-lede grey">
            {% comment %}Translators: When you just have added an update you have a window of time to edit it {% endcomment %}
            {% trans "Found a typo?" %}
          </p>
          <p class="nano-lede grey">
            {% comment %}Translators: When you have added a new update. You posted this on "date". You can edit this update until "time", at which... {% endcomment %}
            {% blocktrans with posted=update.time_gmt|date:"H:i T" expires=update.expires_at|date:"H:i T"  %}You posted this update at {{posted}}. You can edit this update until {{ expires }}; at which time it will become locked and final.{% endblocktrans %}
          </p>
      	</div>
    	{% endif %}
    
    
    {% if update.text_location == 'B' %}
      <p class="small grey">
        {{ update.text|markdown:"safe" }}
      </p>
    {% endif %}	
    {% if update.video %}
      <div class="marg20">
        <div style="width:580px; max-width:580px; overflow:auto;">
          {# {{update.video|oembed:"580x435"}} #}
          {{ update.get_video_oembed }}
        </div>
      </div>
      {% if update.video_caption or update.video_credit %}
        <p class="grey small">
          {% if update.video_caption %}
            {{ update.video_caption }}
          {% endif %}
          {% if update.video_credit %}
            {% trans 'Video credit' %}: {{ update.video_credit }}
          {% endif %}
        </p>
      {% endif %}
    {% endif %}
    {% if update.photo %}
      <div class="marg20">
        {% update_thumb update 580 435 %}
      </div>
    {% endif %}
    {% if update.text_location == 'E' %}
      <p class="small grey">
        {{ update.text|markdown:"safe"}}
      </p>
    {% endif %}
    <hr style="margin-bottom:5px;" />
    <div class="txt_right">
      <a class="small" href=".">{% trans 'Permalink' %}</a>
    </div>
  </section>
{% endblock project_content %}

{% block project_aside_updates %}
  {# Overriding the aside update section #}
{% endblock project_aside_updates %}
