[run]
source = akvo

[report]

omit =
    akvo/rsr/migrations/*
    akvo/codelists/migrations/*
    akvo/codelists/store/*
    akvo/codelists/scripts/*
    akvo/iati/imports/mappers/CordaidZip/*
    # Tests will have 100% coverage anyway
    */tests/*
    # wsgi stuff
    akvo/handler.py
    akvo/wsgi.py
    # utils
    akvo/utils.py

exclude_lines =
    pragma: no cover
    if settings.DEBUG:
    def __str__
    if 'TRAVIS' in os.environ:
    if 'rosetta' in settings.INSTALLED_APPS:
    if not chunk:
    raise NotImplementedError

[html]

directory = coverage/report/
