[run]
source = akvo
omit =
    akvo/rsr/migrations/*
    akvo/codelists/migrations/*
    akvo/codelists/store/*

[report]
exclude_lines =
    def __unicode__
    if 'TRAVIS' in os.environ:
    if not chunk:
    raise NotImplementedError
sort = Cover
