.DS_Store
.TemporaryItems
*.komodoproject
*.komodotools
*.kpf
*.mo
*.pyc
akvo/akvo.log
akvo/data
akvo/datadir
akvo/datadir.*
akvo/mediaroot/admin
akvo/mediaroot/db
akvo/mollie_banklist.xml
akvo/rebuild_db.py
akvo/settings/
akvo/settings.py
akvo/testing.py
scripts/deployment/fab/config/deployer_config.py
scripts/deployment/fab/tests/test_settings.py
scripts/deployment/fabfiles/data_retrieval_config.py
scripts/deployment/pip/build
scripts/deployment/pip/osx_system.config
scripts/deployment/pip/virtualenv_paths.config
scripts/deployment/rebuild_local_env.config
scripts/deployment/static_project_structure.py
tests/akvo/acceptance/test_settings.py
tests/pvw/acceptance/test_settings.py
