# Project

## RSR
akvo/data
akvo/datadir
akvo/datadir.*
akvo/log/akvo.log
akvo/log/akvo.log*
akvo/mediaroot/admin
akvo/mediaroot/db
akvo/mollie_banklist.xml
akvo/rebuild_db.py
akvo/settings/5*.conf
akvo/settings/6*.conf
akvo/settings/backup
akvo/testing.py
scripts/dev-vm/
data/*
!data/README.md
!data/dump.sh
!data/load.sh
!data/simple-load.sh

# Dev environment
.coverage
.vagrant
Vagrantfile
dev-env
venv
scripts/dev-vm
scripts/devhelpers/node_modules
akvo/rsr/static/node_modules
vagrant/vagrant-ssh-conf.*


# PG migration
pg_migrate_conf.yml
pg_tests.log
pg_db_password.tmp


## Deployment
scripts/deployment/builders/osx/config/python_system.config
scripts/deployment/builders/osx/config/rsr_env.config
scripts/deployment/builders/osx/config/user.config
scripts/deployment/builders/config/dev/python_system.config
scripts/deployment/builders/config/dev/rsr_env.config
scripts/deployment/builders/config/dev/user.config
scripts/deployment/builders/ubuntu/install_python27_config.py
scripts/deployment/fab/config/custom.py
scripts/deployment/fab/config/rsr/credentials/custom.py
scripts/deployment/update_ci_server_config.py

## Features
features/auth.py
features/site_under_test.py
features/admin/auth.py
features/donations/auth.py

## Tests
tests/akvo/acceptance/test_settings.py
tests/pvw/acceptance/test_settings.py


# Environment

## Mac
.DS_Store
._*
.Spotlight-V100
.Trashes
.TemporaryItems

## Windows
Thumbs.db
Desktop.ini

## Python
*.py[co]

## Vim
.*.sw[a-z]
*.un~
Session.vim

## SublimeText
/*.sublime-project
/*.sublime-workspace

## Textmate
*.tmproj
*.tmproject
tmtags

## GvH
foo.*

# PyCharm
.idea

# pyenv
.python-version

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Vagrant
.vagrant

*.hp6rKR

# SASS
akvo/rsr/static/styles-src/.sass-cache
akvo/rsr/static/styles-src/*.map

# Landscape
!.landscape.yaml

# Codekit
*.codekit

*.scssc
/akvo/rsr/fixtures/test_data.json

# data fetching
rsr.dump.live.gz
rsr.dump.test.gz
