.DS_Store
.TemporaryItems
*.kpf
*.mo
*.pyc
akvo/data
akvo/datadir
akvo/mediaroot/admin
akvo/mediaroot/db
akvo/mollie_banklist.xml
akvo/settings.py
dev.db
scripts/deployment/static_project_structure.py
tests/akvo/acceptance/test_settings.py
