version: '3.7'

services:
  mainnetwork:
    image: alpine
    command: tail -f /dev/null
    expose:
      - "80"
  web:
    #;; user superme:passwd
    volumes:
      - .:/var/akvo/rsr/code:delegated
      - ./scripts/docker/dev/50-docker-local-dev.conf:/config_overrides/50-docker-local-dev.conf
      - /var/akvo/rsr/code/src/
    network_mode: service:mainnetwork
    environment:
      - DJANGO_SECRET_KEY=secretkey
      - DEFAULT_FILE_STORAGE=django.core.files.storage.FileSystemStorage
      - GOOGLE_APPLICATION_CREDENTIALS=/var/akvo/rsr/code/akvo/akvo-lumen-service-account-credentials.json
  rsrdbhost:
    image: akvo/akvo-rsr-dev-postgres:20200226.151639.3782188
    environment:
      - POSTGRES_PASSWORD=mysecretpassword
    expose:
      - "5432"
    volumes:
      - ./postgres:/docker-entrypoint-initdb.d/
      - ./scripts/data:/data-scripts/
      - postgres_data:/var/lib/postgresql/data
  rsr-memcached:
    image: memcached:1.6.1-alpine

volumes:
  postgres_data: