version: '3'

services:
  mainnetwork:
    ports:
      - "80:80"
      - "8080:8080" # for webpack HMR
      - "8081:8081" # for webpack HMR
  web:
    build:
      context: .
      dockerfile: Dockerfile-dev
  reports:
    build:
      context: .
      dockerfile: Dockerfile-dev
    volumes:
      - .:/var/akvo/rsr/code:delegated
      - ./scripts/docker/dev/50-docker-local-dev.conf:/config_overrides/50-docker-local-dev.conf
      - /var/akvo/rsr/code/src/
    network_mode: service:mainnetwork
    environment:
      - DJANGO_SECRET_KEY=secretkey
      - IS_REPORTS_CONTAINER=yes
      - DJANGO_PORT=9000
  nginx:
    image: nginx:1.13.8-alpine
    network_mode: service:mainnetwork
    volumes:
      - ./scripts/docker/dev/nginx-default.conf:/etc/nginx/conf.d/default.conf
  rsrdbhost:
    ports:
      - "5432:5432"
  memcached:
