version: '3.7'

services:
  mainnetwork:
    image: alpine
    command: tail -f /dev/null
    expose:
      - "80"
  web:
    image: rsr-backend:dev
    command: "true"
    network_mode: service:mainnetwork
    environment:
      # env vars for coveralls
      COVERALLS_REPO_TOKEN: "${COVERALLS_REPO_TOKEN}"
      CI_BRANCH: "${CI_BRANCH}"
      CI_BUILD_NUMBER: "${CI_BUILD_NUMBER}"
      CI_BUILD_URL: "${CI_BUILD_URL}"
      CI_JOB_ID: "${CI_JOB_ID}"
      CI_NAME: "${CI_NAME}"
      CI_PULL_REQUEST: "${CI_PULL_REQUEST}"
      SEMAPHORE: "${SEMAPHORE}"
      SEMAPHORE_JOB_ID: "${SEMAPHORE_JOB_ID}"
      SEMAPHORE_WORKFLOW_ID: "${SEMAPHORE_WORKFLOW_ID}"
      SEMAPHORE_GIT_PR_NUMBER: "${SEMAPHORE_GIT_PR_NUMBER}"
