version: '3.7'

services:
  mainnetwork:
    image: alpine
    command: tail -f /dev/null
    expose:
      - "80"
  web:
    image: rsr-backend:dev
    command: tail -f /dev/null
    network_mode: service:mainnetwork
