{% extends "rsr/rsr_base.html" %}

{% block title %}Reset password{% endblock %}

{% block header %}
    <div id="header" class="clearfix">
        <img src="{{MEDIA_URL}}img/logo_akvo_250.png" alt="Akvo.org" id="header_logo" name="header_logo">
    </div>
{% endblock header %}

{% block content %}

    <div class="boxbody">
        <div class="clearfix">

            {% if form.errors %}
            <div class="form_error c2">
                <p class="c1">A problem occurred</p>

                <p>{{ form.non_field_errors }}</p>
                
                <p>Please review messages below.</p>
            </div>
            {% endif %}            

            <h1 class="section c3">Reset your password</h1>
            <p class="lightx2">
                Forgotten your password? Enter your e-mail address below,
				and we'll reset your password and e-mail the new one to you.
            </p>
        </div>
        <hr>
            
        <form method="post" action="">
        <fieldset class="form">
            <div id="username" class="clearfix">
                <label>Enter your email address</label>
                {% if form.email.errors %}
                <div class="form_error">
                    <p class="c1">A problem occurred</p>

                    <p>{{ form.email.errors|join:", " }}</p>
                </div>
                {% endif %}
                {{ form.email }}

                <p class="about_field">Enter the email address of your Akvo RSR account.</p>
            </div>
            <hr>

            <div class="c7">
                <a href="{% url akvo.rsr.views.index %}" class="c5">Cancel</a> <button type="submit"><a class="actionbutton ab_white c6" href="#" onclick="this.blur();"><span>Submit change</span></a></button>
            </div>
        </fieldset>
        </form>
    </div>
{% endblock content %}
