{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% extends "rsr/rsr_base.html" %}
{% load rsr_tags %}

{% block title %}Change password{% endblock %}

{% block header %}
    <div id="header" class="clearfix">
        <img src="{{MEDIA_URL}}img/logo_akvo_250.png" alt="Akvo.org" id="header_logo" name="header_logo">
    </div>
{% endblock header %}

{% block content %}

    <div class="boxbody">
        <div class="clearfix">

            {% if form.errors %}
            <div class="form_error c2">
                <p class="c1">A problem occurred</p>

                <p>{{ form.non_field_errors }}</p>
                
                <p>Please review messages below.</p>
            </div>
            {% endif %}            

            <h1 class="section c3">Change your password</h1>
            <p class="lightx2">
                Please enter your current password, for security's sake, and then enter your new password
                twice so we can verify you typed it in correctly.
            </p>
            <p class="lightx2">If you have lost your password we can send it to you <a href="/rsr/accounts/password/reset/">here</a>.</p>
        </div>
        <hr>
            
        <form method="post" action="">
        <fieldset class="form">
            <div id="username" class="clearfix">
                <label>Enter your current password</label>
                {% if form.old_password.errors %}
                <div class="form_error">
                    <p class="c1">A problem occurred</p>

                    <p>{{ form.old_password.errors|join:", " }}</p>
                </div>
                {% endif %}
                {{ form.old_password }}

                <p class="about_field">Verify the change with your current password.</p>
            </div>
            <hr>

            <div id="password" class="clearfix">
                <label>Enter a password</label>

                {% if form.new_password1.errors or form.new_password2.errors %}
                 <div class="form_error">
                    <p class="c1">A problem occurred</p>
                    {% if form.new_password1.errors %}
                    <p>{{ form.new_password1.errors|join:", " }}</p>
                    {% endif %}
                    {% if form.new_password2.errors %}
                    <p>{{ form.new_password2.errors|join:", " }}</p>
                    {% endif %}
                </div>
                {% endif %}              
                {{ form.new_password1 }}
                <p class="about_field">Enter the new password.</p>
                
                {{ form.new_password2 }}
                <p class="about_field">Retype the password to avoid mistakes.</p>
            </div>
            <hr>

		{% submit_button 'Submit change' 'ab_white' %}
	
        </fieldset>
        </form>
    </div>
{% endblock content %}