{% extends "rsr/rsr_base.html" %}

{% block title %}Akvo RSR - Reset password{% endblock %}

{% block header %}
<div id="header" class="clearfix">
	<img src="{{MEDIA_URL}}img/logo_akvo_250.png" alt="Akvo.org" id="header_logo" />
</div> <!-- #header -->
{% endblock header %}

{% block content %}

<h1>Reset password</h1>

<p>Forgotten your password? Enter your e-mail address below, and we'll reset your password and e-mail the new one to you.</p>

<form action="" method="post">
{% if form.email.errors %}{{ form.email.errors }}{% endif %}
<p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset my password" /></p>
</form>

{% endblock content %}
