{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% extends "rsr/rsr_base.html" %}

{% block title %}Password reset successful{% endblock %}

{% block content %}

<h1>Password reset successful</h1>

<p>We've e-mailed a new password to the e-mail address you submitted. You should be receiving it shortly.</p>

{% endblock content %}
