{% extends "rsr/user_message_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block h1 %}{% trans 'Password change successful' %}{% endblock h1 %}

{% block h2_style %}text-align: center;{% endblock h2_style %}
{% block h2 %}{% trans 'Your password was changed.' %}{% endblock h2 %}

{% block text %}
{% endblock text %}