{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% extends "rsr/rsr_base.html" %}
{% load rsr_tags %}

{% block title %}Update your Akvo RSR account information{% endblock %}

{% block header %}
    <div id="header" class="clearfix">
        <img src="{{MEDIA_URL}}img/logo_akvo_250.png" alt="Akvo.org" id="header_logo" name="header_logo">
    </div>
{% endblock header %}
    
{% block content %}


    <div class="boxbody">
        <div class="clearfix">

          {% if form.errors %}
            <div class="form_error" style="margin-right: 70px;">
                <p class="c1">A problem occurred</p>

                <p>{{ form.non_field_errors }}</p>
                
                <p>Please review messages below.</p>
            </div>
          {% endif %}            

            <h1 class="section c1">Update your Akvo RSR account information</h1>
            
            <p>Your user name is: {{request.user}}</p>
            
            <p>Your organisation is: {{request.user.get_profile.organisation_name}}
            
            <p>Change your password <a href="/rsr/accounts/password/change/" class="c5">here</a>.</p>

        <hr>
            
        
        <form method="post" action="">
        {{ form.username }}
        <fieldset class="form">

            <div id="fist_last_names" class="clearfix">
                <label style="padding-top: 10px;">Enter changes to your first and last name</label>

                {% if form.first_name.errors or form.last_name.errors %}
                <div class="form_error">
                    <p class="c1">A problem occurred</p>
                    {% if form.first_name.errors %}
                    <p>{{ form.first_name.errors|join:", " }}</p>
                    {% endif %}
                    {% if form.last_name.errors %}
                    <p>{{ form.last_name.errors|join:", " }}</p>
                    {% endif %}
                </div>
                {% endif %}              
                {{ form.first_name }}
                <p class="about_field">Your first (given) name.</p>
                
                {{ form.last_name }}
                <p class="about_field">Your last (family) name.</p>

                <p class="about_field_extended">Your first and last name will be displayed when you post comments or updates to Akvo.</p>
            </div>
            <hr>

		{% submit_button 'Submit' 'ab_white' %}

        </fieldset>
        </form>
    </div>
{% endblock content %}


