{% extends "base.html" %}

{% load i18n humanize %}

{% block title %}
	{% if user.username %}
        {% trans 'RSR account activated' %}
    {% else %}
        {% trans 'RSR account activation failed' %}
    {% endif %}
{% endblock title %}

{% block maincontent %}
<div class="container">
    <div class="row">
	{% if user.username %}
		<h1>{% trans 'Welcome to Akvo RSR!' %}</h1>
		<h2><small>{% trans 'Your account has been activated, please visit the MyRSR page.' %}</small></h2>
	{% else %}
		<h1>{% trans "We're sorry, the account activation failed" %}</h1>
		<h2><small>{% blocktrans with expiration_days as exp_days %}Either your activation link was incorrect, or the activation key for your account has expired. Activation keys are only valid for {{ exp_days }} days after registration.{% endblocktrans %}</small></h2>
	    <h2><small>{% trans "Please <a href='mailto:support@akvo.org'>contact us</a> if you have any questions." %}</small></h2>
	{% endif %}
    </div>
</div>
{% endblock %}
