{% extends "base.html" %}

{% load i18n humanize %}

{% block title %}
	{% if user.username %}
        {% trans 'RSR account activated' %}
    {% else %}
        {% trans 'RSR account activation failed' %}
    {% endif %}
{% endblock title %}

{% block maincontent %}
<div class="container">
    <div class="row">
	{% if user.username %}
		<h1>{% trans 'Welcome to Akvo RSR!' %}</h1>
		<h2><small>{% trans 'Your account has been activated, please visit the MyRSR page.' %}</small></h2>
	{% else %}
		<h1>{% trans "We're sorry, the account activation failed" %}</h1>
		<h2><small>{% blocktrans %}Your activation link was incorrect.{% endblocktrans %}</small></h2>
	    <h2><small>{% blocktrans with support_email='support@akvo.org' %}Please <a href='mailto:{{support_email}}'>contact us</a> if you have any questions.</small></h2>{% endblocktrans %}
	{% endif %}
    </div>
</div>
{% endblock %}
