{% extends "base.html" %}
{% load i18n bootstrap3 %}

{% block title %}{% trans 'Reset your password' %}{% endblock %}

{% block maincontent %}
<div class="container">
    <div class="row">
        {% if validlink %}
        <div class="col-md-6 col-md-offset-3">
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            <form method="post" action="" name="registrationForm">
                {% csrf_token %}
                {% bootstrap_form_errors form type='non_fields' %}
                {% for field in form %}
                    {% bootstrap_field field layout='inline' %}
                    {% if field.name == "new_password1" %}
                        <ul class="help-block">
                            <li>{% blocktrans %}Passwords must be at least {{password_length}} characters long{% endblocktrans %}</li>
                            <li>{% trans "The password must contain at least one digit, 0-9" %}</li>
                            <li>{% trans 'The password must contain at least one uppercase letter, A-Z.' %}</li>
                            <li>{% trans 'The password must contain at least one lowercase letter, a-z.' %}</li>
                            <li>{% trans 'The password must contain at least one symbol: ' %}
                                {% blocktrans %}()[]{}|\`~!@#$%^&*_-+=;:'",<>./?{% endblocktrans %}</li>
                        </ul>
                    {% endif %}
                {% endfor %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% trans 'Change my password' %}
                    </button>
                    <div id="reset-pw" class="pull-right"></div>
                {% endbuttons %}
            </form>
        </div>
        {% else %}
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
