{% extends "rsr/rsr_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}

{% block title %}{{block.super}} - {% trans 'Password reset successful' %}{% endblock %}

{% block breadcrumbs %}
	{{block.super}} &raquo; {% trans 'Password reset successful' %}
{% endblock breadcrumbs %}

{% block content %}

<div class="boxbody">

<h1 class="section">{% trans 'Password reset successful' %}</h1>

<p>{% trans "Your password was reset successfully." %}</p>

</div> <!-- boxbody -->

{% endblock content %}