{% extends "rsr/base_sheet.html" %}
{% load i18n %}
{% load url from future %}


{% block title %}{% trans 'Register with Akvo RSR - Step 2 of 2' %}{% endblock title %}

{% block breadcrum_items %}
{{block.super}}
<li id="last_breadcrum_item">{% trans 'Register account - step 2 of 2' %}</li>
{% endblock breadcrum_items %}

{% block content %}
	<h1>{% trans 'Set up your account' %}</h1>
	<hr />
	<form method="post" action="" name="registrationForm">{% csrf_token %}
		{{ form.org_id }}
	
		{% if form.username.errors %}
			<div class="error">
				<p class="c1">{% trans 'A problem occurred' %}</p>
				<p>{{ form.username.errors|join:", " }}</p>
			</div>
		{% endif %}
		<div style="width:500px;">
			<h3>{% trans 'Enter a username:' %}</h3>
			{{ form.username }}<br />
			<p class="small grey">
				{% trans 'Your user name will be permanent. Use this to log into Akvo.' %}<br />
				{% trans 'Remember that user names as well as passwords are case sensitive.' %}
			</p>
		</div>
		<div class="clear"></div>
		<hr>
	
		{% if form.first_name.errors or form.last_name.errors %}
	    <div class="error">
	        <p class="c1">{% trans 'A problem occurred' %}</p>
	        {% if form.first_name.errors %}
	        <p>{{ form.first_name.errors|join:", " }}</p>
	        {% endif %}
	        {% if form.last_name.errors %}
	        <p>{{ form.last_name.errors|join:", " }}</p>
	        {% endif %}
	    </div>
	    {% endif %}
		<div style="width:500px;">
			<h3>{% trans 'Enter your first and last name:' %}</h3>
		
			{{ form.first_name }}
	        <p class="small grey">{% trans 'Enter first (given) name.' %}</p>
        
	        {{ form.last_name }}
	        <p class="small grey">{% trans 'Enter last (family) name.' %}</p>
	
			<p class="small">
				{% trans 'Your first and last name will be displayed when you post comments or updates to Akvo.' %}
			</p>
		</div>
		<hr />
	
		{% if form.password1.errors or form.password2.errors %}
	     <div class="error">
	        <p class="c1">{% trans 'A problem occurred' %}</p>
	        {% if form.password1.errors %}
	        <p>{{ form.password1.errors|join:", " }}</p>
	        {% endif %}
	        {% if form.password2.errors %}
	        <p>{{ form.password2.errors|join:", " }}</p>
	        {% endif %}
	    </div>
	    {% endif %}
		<div style="width:500px;">
			<h3>{% trans 'Enter a password:' %}</h3>
		
			{{ form.password1 }}
	        <p class="small grey">{% trans 'Enter password' %}.</p>
        
	        {{ form.password2 }}
	        <p class="small grey">{% trans 'Retype password to verify' %}.</p>
		</div>
		<hr />
	
		{% if form.email.errors or form.email2.errors %}
	     <div class="error">
	        <p class="c1">{% trans 'A problem occurred' %}</p>
	        {% if form.email.errors %}
	        <p>{{ form.email.errors|join:", " }}</p>
	        {% endif %}
	        {% if form.email2.errors %}
	        <p>{{ form.email2.errors|join:", " }}</p>
	        {% endif %}
	    </div>
	    {% endif %}
		<div style="width:500px;">
			<h3>{% trans 'Enter your email address:' %}</h3>
		
			{{ form.email }}
	        <p class="small grey">{% trans 'Enter email address.' %}</p>
        
	        {{ form.email2 }}
	        <p class="small grey">{% trans 'Retype email address to verify.' %}</p>
		
		</div>
	<hr />
	<div style="text-align:center; padding-bottom:20px;">
		<div style="float:left;">
			<a href="{% url 'index' %}" class="small">{% trans 'Cancel' %}</a>
		</div>
		<a class="aqua awesome" href="javascript:document.registrationForm.submit();">
			{% trans 'Register' %}
		</a>
	</div>
{% endblock content %}








