{% extends "base.html" %}

{% load i18n bootstrap3 %}

{% block title %}{% trans 'Register your Akvo RSR account' %}{% endblock %}

{% block maincontent %}
<div class="container alignFooter">
    <h2 class="text-center verticalPadding">{% trans 'Register' %}</h2>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" action="" name="registrationForm">
                {% csrf_token %}
                {% bootstrap_form_errors form type='non_fields' %}
                {# Experimental honeypot field for registration bots #}
                <input maxlength="30" name="hp_title" id="id_hp_title" type="text"/>
                {% for field in form %}
                    {% if field.name == "password1" %}
                        <ul class="help-block">
                            <li>{% blocktrans %}Passwords must be at least {{password_length}} characters long{% endblocktrans %}</li>
                            <li>{% trans "The password must contain at least one digit, 0-9" %}</li>
                            <li>{% trans 'The password must contain at least one uppercase letter, A-Z.' %}</li>
                            <li>{% trans 'The password must contain at least one lowercase letter, a-z.' %}</li>
                            <li>{% trans 'The password must contain at least one symbol: ' %}
                                {% blocktrans %}()[]{}|\`~!@#$%^&*_-+=;:'",<>./?{% endblocktrans %}</li>
                        </ul>
                    {% endif %}
                    {% bootstrap_field field %}
                {% endfor %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary center-block">
                       {% trans 'Register' %}
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
