{% extends "rsr/rsr_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}

{% load rsr_tags %}

{% block title %}{% trans 'Register with Akvo RSR - Step 1' %}{% endblock %}

{% block header %}
<div id="header" class="clearfix">
	<a href="{% url index %}"><img src="{{MEDIA_URL}}img/logo_akvo_250.png" alt="{% trans 'Akvo.org' %}" id="header_logo" /></a>
</div> <!-- #header -->
{% endblock header %}

{% block breadcrumbs %}
	{{block.super}} &raquo; {% trans 'Register with Akvo RSR - Step 1' %}
{% endblock breadcrumbs %}

{% block content %}

<div class="boxbody">
<form method="post" action="">
{% csrf_token %}
<div class="clearfix">
    
	{% if form.errors %}
		<div style="float: right; width: 300px; background-color: #FFEBE7; border: 1px solid #FFCDD1; padding: 20px; color: red; margin-right: 200px;">
			<p><b>{% trans 'A problem occurred' %}:</b></p>
			<p>{% trans 'Please review message below.' %} {{ form.non_field_errors }}</p>
		</div> <!-- style -->
	{% endif %}
	
	<h1 class="section" style="font-size: 1.4em;">{% trans 'Set up your account' %}</h1>
	<p class="lightx2">{% trans 'Step 1 of 2' %}</p>
</div> <!-- .clearfix -->

<hr />

<fieldset style="margin: 0 100px">

<label style="font-weight:bold; padding-bottom: 20px; display: block">{% trans 'Select the organisation that you belong to' %}</label>
	<div class="clearfix">
        {% if form.organisation.errors %}
		<div style="float: right; width: 200px; background-color: #FFEBE7; border: 1px solid #FFCDD1; padding: 20px; color: red; margin-right: 200px;">
		<p><b>{% trans 'A problem occurred' %}:</b></p>
		<p>{{ form.organisation.errors|join:", " }}</p>
		</div> <!-- style -->		  
        {% endif %}


{{ form.organisation }}
<!--<select name="select1" class="select" style="margin: 10px 50px; display: block">
	<option value="#">Organisation 1</option>
	<option value="#">Organisation 2</option>
	<option value="#">Organisation 3</option>
	<option value="#">Organisation 4</option>
</select>-->
</div> <!-- .clearfix -->

<p class="lightx2" style="margin: 20px 30px 0 30px">{% trans 'Important' %}:</p>
<p class="lightx2" style="margin: 0 30px">{% trans 'To set up your account, your organisation must be already registered with Akvo. If you do not see your organisation on the list above, <a href="/web/?q=node/14">click this link</a> to contact us to begin registering your organisation. After registration is complete, please return to set up your account.' %}</p>

</fieldset>

<hr />

{% submit_button _('Continue') 'ab_white' %}

<form method="post" action="">
{% csrf_token %}
</div> <!-- boxbody -->

{% endblock %}
