$blue: #4593f4;
$dashedStyle: 2px dotted #dedede;

.hierarchy{
  margin-left: -50px;
  margin-right: -50px;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  h2{
    margin-top: 20px;
    margin-left: 50px;
  }
  .board{
    flex: 1;
    display: flex;
    overflow-x: scroll;
    padding-left: 35px;
    align-items: center;
    .ant-spin{
      position: absolute;
      left: 50%;
      margin-left: -25px;
    }
    // text-align: center;
    // .spin
    .col{
      width: 370px;
      min-width: 370px;
      position: relative;
      .shade{
        position: absolute;
        z-index: 2;
        top: 35px;
        width: 100%;
        height: 15px;
        overflow: hidden;
        &:before{
          position: absolute;
          content: " ";
          width: calc(100% - 20px);
          left: 12px;
          top: -2px;
          height: 2px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
        }
        opacity: 0;
        transition: opacity .2s ease-out;
        &.on{
          opacity: 1;
        }
      }
      h3{
        margin-left: 15px;
        opacity: 0.5;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 18px;
      }
      .scrollview{
        padding-top: 5px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100vh - 180px);
        &::-webkit-scrollbar
        {
          width: 0px;
        }
        ul{
          padding-left: 15px;
          padding-right: 15px;
        }
        margin-bottom: 0;
        .connector{
          position: absolute;
          right: 0;
          width: 1px;
          border-right: $dashedStyle;
        }
      }
      .card{
        min-height: 140px;
        border-radius: 4px;
        border: 1px solid #dedede;
        padding: 7px 10px 10px;
        margin-bottom: 15px;
        position: relative;
        display: flex;
        flex-direction: column;
        h4{
          font-size: 16px;
        }
        p{
          font-size: 12px;
        }
        .footer{
          margin-top: auto;
          display: flex;
        }
        .countries{
          font-size: 12px;
          opacity: 0.5;
          display: flex;
          align-items: flex-end;
          // justify-content: flex-end;
          .inner{
            display: flex;
          }
          .anticon{
            transform: translateY(1px);
          }
          span{
            transform: translateY(-1px);
            display: inline-block;
            margin-left: 5px;
          }
        }
        .children{
          display: flex;
          flex-direction: column;
          .inner{
            margin-top: auto;
            height: 23px;
            color: #fff;
            padding: 2px 6px;
            border-radius: 3px;
            background-color: $blue;
            vertical-align: middle;
          }
          text-transform: uppercase;
          // position: absolute;
          // right: 10px;
          // bottom: 10px;
          margin-left: auto;
          font-size: 10px;
          white-space: nowrap;
          b{
            font-size: 12px;
          }
          span{
            opacity: 0.75;
          }
        }
        &.selected{
          border-color: $blue;
          box-shadow: 0 0 3px $blue;
          &:after{
            content: " ";
            width: 15px;
            border-top: $dashedStyle;
            // border-color: $blue;
            position: absolute;
            right: -15px;
            top: 70px;
          }
          h4:after{
            // content: " ";
            // position: absolute;
            // right: -16px;
            // width: 1px;
            // height: 280px;
            // border-right: 2px dotted #dedede;
            // bottom: 67px;
          }
        }
      }
      &:not(:nth-of-type(1)){
        position: relative;
        .scrollview{
          position: relative;
          background: #fff;
          ul{
            // border-left: $dashedStyle;
            position: relative;
            &:after{
              content: ' ';
              width: 5px;
              height: 70px;
              position: absolute;
              left: -2px;
              background-color: #fff;
              z-index: 99;
              bottom: -3px;
            }
            // &:before{
            //   left: auto;
            //   right: -2px;
            // }
          }
          &:before{
            content: ' ';
            width: 5px;
            height: 71px;
            position: absolute;
            left: -2px;
            background-color: #fff;
            z-index: 9;
            top: 5px;
          }
        }
        &.rightBorder{
          // margin-right: -2px;
          .scrollview{
            margin-right: -2px;
            background: transparent!important;
          }
          .scrollview ul{
            // border-right: $dashedStyle;
            // padding-right: 17px;
          }
          &:before{
            // content: ' ';
            // width: 5px;
            // height: 71px;
            // position: absolute;
            // right: -2px;
            // background-color: #fff;
            // z-index: 9;
            // top: 42px;
          }
        }
        .card{
          &:before{
            content: " ";
            width: 15px;
            border-top: $dashedStyle;
            position: absolute;
            left: -15px;
            top: 70px;
          }
          &.selected:before{
            // border-color: $blue;
          }
        }
      }
      .bg{
        background-color: #fcf9f9;
        margin-left: 15px;
        height: calc(100vh - 200px);
        text-align: center;
        padding-top: 50px;
      }
    }
  }
}