{% load markup_tags humanize %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Report</title>

    <style>{% include 'reports/results-indicators-map-overview.css'  %}</style>
    <style>
      @page {
        @bottom-left { content: "Akvo RSR Report {{ today }}"; }
      }

      .partners ul {
        padding-left: 0;
        list-style: none;
      }
      .partners ul li {
        margin-bottom: 2mm;
      }

      .partners .role {
        font-size: 9pt;
        font-style: italic;
        padding-left: 1mm;
      }

      .related-projects h1 {
        margin-bottom: 0;
      }
      .related-projects h1+i {
        display: block;
        font-size: 9pt;
        margin-bottom: 7mm;
      }
      .related-projects ul {
        padding-left: 0;
        list-style: none;
      }
      .related-projects ul li {
        margin-bottom: 8pt;
      }

      .results h1 {
        font-size: 24pt;
      }
    </style>

  </head>
  <body>
    <header class="doc-title">
      <div>{{ project.title }}</div>
      <div class="subtitle">{{ project.subtitle }}</div>
    </header>

    {% if project.project_plan_summary and project.project_plan_summary.strip %}
    <section class="summary">
      <h1>Project Summary</h1>
      <div>
        {{ project.project_plan_summary|apply_markup:"markdown" }}
      </div>
    </section>
    {% endif %}

    <div class="page-break"></div>
    <section class="partners">
      <h1>Partners</h1>
      <ul>
        {% for partner in project.partnerships.all %}
        <li>
          {{ partner.organisation.name }}
          <span class="role">({{ partner.iati_organisation_role_label_unicode }})</span>
        </li>
        {% endfor %}
      </ul>
    </section>

    {% if project.primary_location %}
    <section class="location">
      <h1>Location</h1>
      <p>{{ location }}</p>
    </section>
    {% endif %}

    {% if staticmap %}
    <section class="staticmap">
      <img src="{{ staticmap }}" alt="Location map">
    </section>
    <div class="page-break"></div>
    {% endif %}

    <section class="related-projects">
      {% if project.parents.count %}
      <div class="lead-project">
        <h1 class="with-subtext">Lead project: {{ project.parents.first.title }}</h1>
        <i>(Actual value data from projects in this hierarchy is aggregated upward to this lead project.)</i>
      </div>
      {% endif %}

      {% if project.children.count %}
      <div class="contributors">
        <h1 class="with-subtext">Contributing projects</h1>
        <i>(Actual value data from contributing projects is propagated upward to this project.)</i>
        <ul>
          {% for child in project.children_all.published %}
          <li>{{ child.title }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </section>

    <section class="results">
      <h1>Results</h1>

      {% for result in project.quantitative_indicators_results %}
      <div class="result-item">
        <div class="pre-title">Result {{ forloop.counter }}</div>
        <h2>{{ result.title }}</h2>

        {% for indicator in result.indicators %}
        <div class="indicator">
          <table>
            <thead>
              <tr class="indicator-info">
                <th>Indicator {{ forloop.counter }}</th>
                <th colspan="{% if use_indicator_target %}3{% else %}5{% endif %}">
                  {{ indicator.title }}
                </th>
                {% if use_indicator_target %}
                <th colspan="2">Progress <sub>Actual v. Target</sub></th>
                {% endif %}
              </tr>
              <tr class="indicator-info">
                <td>
                  Baseline
                  {{ indicator.baseline_year|default_if_none:'' }}:
                  {{ indicator.baseline_value }}
                </td>
                <td colspan="{% if use_indicator_target %}3{% else %}5{% endif %}">
                  {% if use_indicator_target %}
                  Target: {{ indicator.target_value }}
                  {% else %}
                  {{ indicator.baseline_comment }}
                  {% endif %}
                </td>
                {% if use_indicator_target %}
                <td class="grade-circle">
                  {% if indicator.progress %}
                  <div class="{{ indicator.grade }}"></div>
                  {% endif %}
                </td>
                <td class="total">
                  <span class="grade {{ indicator.grade }}">
                    {% if indicator.progress %}
                    {{ indicator.progress }} %
                    {% endif %}
                  </span>
                </td>
                {% endif %}
              </tr>
              <tr>
                <th>Period</th>
                <th>Actual</th>
                {% if not use_indicator_target %}<th>Target</th>{% endif %}
                {% if show_comment %}<th>Comment</th>{% endif %}
                {% if not use_indicator_target %}
                <th colspan="2">Progress <sub>Actual v. Target</sub></th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for period in indicator.periods %}
              <tr>
                <td>
                  {{ period.period_start|date:"j M Y" }}
                  -
                  {{ period.period_end|date:"j M Y" }}
                </td>
                {% if indicator.is_qualitative %}
                <td>{{ period.narrative|apply_markup:"markdown" }}</td>
                {% else %}
                <td>{% if period.actual_value %}{{ period.actual_value|intcomma }}{% endif %}</td>
                {% if not use_indicator_target %}
                <td>{% if period.target_value %}{{ period.target_value|intcomma }}{% endif %}</td>
                {% endif %}
                {% if show_comment %}<td>{{ period.actual_comment|linebreaks }}</td>{% endif %}
                {% if not use_indicator_target %}
                <td class="grade-circle">
                  {% if period.progress %}
                  <div class="{{ period.grade }}"></div>
                  {% endif %}
                </td>
                <td class="total">
                  <span class="grade {{ period.grade }}">
                    {% if period.progress %}
                    {{ period.progress }} %
                    {% endif %}
                  </span>
                </td>
                {% endif %}
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% if show_disaggregations and indicator.disaggregations %}
          <table class="disaggregations">
            <thead>
              <tr>
                <th>Disaggregation</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for category, types in indicator.disaggregations.items %}
                {% for type, vals in types.items %}
                <tr>
                  <td>{% if forloop.first %}{{ category }}{% endif %}</td>
                  <td>{{ type }}</td>
                  <td>{% if vals.value %}{{ vals.value|intcomma }}{% endif %}</td>
                </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      {% for result in project.qualitative_indicators_results %}
      <div class="narratives">
        <h2>Result: {{ result.title }}</h2>
        {% for indicator in result.indicators %}
        <h3>Indicator: {{ indicator.title }}</h3>
        {% for period in indicator.periods %}
        <div><strong>{{ period.period_start|date:"j M Y" }} - {{ period.period_end|date:"j M Y" }}</strong></div>
        {% if period.narrative %}
        {{ period.narrative|apply_markup:"markdown" }}
        {% else %}
        <p>N.A.</p>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </div>
      {% endfor %}
    </section>
  </body>
</html>
