{% extends "base.html" %}
{% load i18n bootstrap3 %}

{% block maincontent %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center verticalPadding">{% block title %}{% trans "Enable Two-Factor Authentication" %}{% endblock %}</h1>

      <p>{% blocktrans trimmed %}Congratulations, you've successfully enabled two-factor authentication.{% endblocktrans %}</p>

      <p>&nbsp;</p>

      <p><a href="/my-rsr/my-details/" class="btn btn-default btn-block" role="button">{% trans "Back to Account Security" %}</a></p>

    </div>
  </div>
<div>
{% endblock %}
