{% extends "widgets/base.html" %}
{% load i18n rsr_filters rsr_tags rsr_widgets rsr_utils %}
{% load render_bundle from webpack_loader %}

{% block style %}
{{block.super}}
{% render_bundle 'widget' 'css' %}
{% endblock style %}

{% block body %}
<section id="container" class="w468px {{style}} rsrWidget floats-in">
  {% rsr_widget_header %}
  <div id="content" class="floats-in">
    <div class="projectDescr">
      {% rsr_widget_project_status_location project %}
      <h2 id="project_title">
        <a href="{{project.get_absolute_url}}">{{project.title|truncatechars_html:60}}</a>
      </h2>
      <a href="{{project.get_absolute_url}}" style="display:inline-block;">{% img project 120 90 project.title %}</a>
      <p id="project_subtitle" style="max-width:195px;display:inline-block;vertical-align:top;">{{project.project_plan_summary|truncatechars_html:120}}</p>
    </div>
    {% rsr_widget_project_budget project %}
  </div>
</section>
{% endblock body %}
