{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}


{% load i18n rsr_tags rsr_filters generic_content thumbnail %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ request.LANGUAGE_CODE }}">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

	<title>Akvo.org - {% block title %}{% trans 'the open source for water and sanitation' %}{% endblock %}</title>
	<meta name="description" content="{% trans 'We help donors and doers reach out to fund many thousands of new water and sanitation projects.' %}">
	<meta name="author" content="Akvo.org">
	
	<meta http-equiv="Expires" content="Fri, 26 Mar 1999 23:59:59 GMT">	
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	
	{% block style %} 
	<link rel="stylesheet" href="{{MEDIA_URL}}widgets/cobranded_leader/css/screen.css" type="text/css" media="screen, projection" />
	{% endblock style %}
	
	<style type="text/css" media="screen">
	{% block inline_styles %}
		#header {background-color:#{{bgcolor}};}
		#header h1 {color:#{{textcolor}};}
		h2 a {color:#{{bgcolor}} !important;}
			
	{% endblock inline_styles %}
	</style>
	
	<!--[if IE]>
	<style type="text/css" media="screen">
		.divider { 
			margin-top:1px !important;
			margin-bottom:1px !important;
		}
	</style>
	<![endif]-->
	
	{% block inline_scripts %} {% endblock inline_scripts %}
	
	<base target="_parent" />
</head>
<body>
<div id="container">
	<div id="header">
		<div style="float:right; margin-right:4px; margin-top:2px;">
			<a href="{% url akvo.rsr.views.index %}"><img src="{{MEDIA_URL}}widgets/img/akvo-badge_small.png"></a>
		</div>
		<h1 style="width:200px; display:inline;">{% trans 'Project' %}</h1>
	</div>
	<div id="contentwrapper" style="float:left; width:100%;">
		<div id="center" style="margin: 0px 280px 0 284px">
			<div style="margin:10px; padding-left:20px; border-left:1px solid #BCBCC6;">
				<div style="height:80px;">
					<p class="smallFont grey" style="margin-top:15px;">{% trans 'Location' %}</p>
					<p class="smallFont"><span class="capz">{{project.country.get_continent_display}}</span><br />
						  {{project.city}}, {{project.state}}, {{project.country}}
					</p>
				</div>
				<p class="smallFont grey topmargin">{% trans 'Status' %}</p>
				<p class="smallFont" style="padding-bottom:10px;">{{project.show_status}}</p>
			</div>
		</div>
	</div>
	<div id="left" style="float:left; width: 284px; margin-left: -726px; margin-bottom:5px;">
		<div style="padding-left:10px;">
			<h2 id="project_title" style="margin-bottom:0px; margin-top:10px;"><a href="{% url akvo.rsr.views.projectmain project.id %}">{{project.name|smart_truncate:35}}</a></h2>
			<p id="project_subtitle" class="grey" style="font-size:0.9em; margin-bottom:7px;">{{project.subtitle|smart_truncate:50}}</p>
			<div style="float:left; width:125px;">
				{% if project.current_image %}
					<a href="{% url akvo.rsr.views.projectmain project.id %}">
			    		<img src="{% thumbnail project.current_image 120x90 autocrop,upscale,sharpen %}" alt="{{project.current_image_caption}}" />
					</a>
			    {% endif %}
			</div>
			<div style="float:left; width:140px; margin-right:-140px;">
					<p id="project_plan_summary" style="margin-left:10px; font-size:0.9em;" >
						{{project.project_plan_summary|safe|smart_truncate:100}}
						<a href="{% url akvo.rsr.views.projectmain project.id %}">{% trans 'More' %}&nbsp;&#x25BA;</a>
					</p>
					<p class="miniFont lightgrey" style="margin-top:3px; margin-left:5px; text-transform: capitalize;">{% trans 'Akvo ref' %}: {{project.id}}</p>
			</div>			
		</div>

	</div>
	<div id="right" style="float:left; width:280px; margin-left: -280px;">
		<div class="inner" style="margin-top:5px;">
			{% funding_box_wide project %}	
		</div>
	</div>
	<div id="footer2">
		<p style="margin-left:10px; margin-top:1px;">
			Presented by <span style="margin-left:20px;"><a href="#">Live Earth</a></span>
		</p>
	</div>	
</div>

</body>
</html>