{% extends "widgets/base_widget.html" %}
{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}
{% load rsr_tags %}
{% load generic_content %}

{% block title %}project@{{block.super}}{% endblock title %}

{% block style %}
	 <link rel="stylesheet" href="{{MEDIA_URL}}widgets/project_contribute/css/screen.css" type="text/css" media="screen, projection" />
{% endblock style %}

{% block inline_styles %}
{{block.super}}
	#heightconstrain {
		height: expression( this.scrollHeight > 549 ? "550px" : "auto" ); /* sets max-height for IE */
		max-height:550px;
		overflow:hidden;
	}
	.fundingbox-content {
		height: expression( this.scrollHeight > 4 ? "123px" : "auto" ); /* sets max-height for IE */
		max-height:121px;
		height:121px;
	}
	{% comment %}
	h2#project_title {
		height: expression( this.scrollHeight > 27 ? "28px" : "auto" ); /* sets max-height for IE */
		max-height:28px;
	}
	p#project_subtitle {
		height: expression( this.scrollHeight > 26 ? "27px" : "auto" ); /* sets max-height for IE */
		max-height:27px;
	}
	{% endcomment %}
	
{% endblock inline_styles %}
	
{% block header %}
	<h1>{% trans 'Project' %}</h1>
{% endblock header %}

{% block content %}
<div id="heightconstrain">
		<h2 id="project_title"><a href="{% url akvo.rsr.views.projectmain project.id %}">{{project.name|truncatewords:10}}</a></h2>
		<p id="project_subtitle" class="grey">{{project.subtitle|truncatewords:10}}</p>
		{% if project.current_image %}
			<div class="photo_frame" style="background-color:cyan;">
				<img src="{{MEDIA_URL}}{{project.current_image}}" width="190" height="139" alt="{{project.current_image_caption}}" />
			</div>
	    {% endif %}
		
		<p class="smallFont grey topmargin">{% trans 'Funding' %}</p>
		<div>
			{% funding_box project %}
		</div>
		<div id="name" style="clear:both; height:3px;">
			
		</div>
		<p class="miniFont lightgrey right" style="padding-right:9px;">{% trans 'Akvo Ref' %}: {{project.id}}</p>
		<div id="name" style="clear:both; height:7px;">
			
		</div>
		{% comment %}
		<hr class="divider"/>		
		<div id="next_control">
			<a href="#" target="_self">&#x25C4;&nbsp;Previous</a>
		</div>
		<div id="prev_control">
			<a href="#" target="_self">Next&nbsp;&#x25BA;</span></a>
		</div>
		{% endcomment %}
</div>
{% endblock content %}
