{% load maps humanize i18n rsr_tags piwik_tags %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
  <meta charset="UTF-8" />
  <title>{{org}}</title>

  <style type="text/css" media="screen">
    body { margin:0; font-family: arial; font-size:14px;}
    #footer {
      width: {{width}}px;
      max-width: {{width}}px;
      background-color: #{{bgcolor}};
      color: #{{textcolor}};
      text-align:right;
      max-height:24px;
      overflow:hidden;
    }
    #footer img { margin-top:3px; margin-right:3px;}
    #footer a img { border:none;}
  </style>
  <base target="_top" />

  {#  Piwik #}
  {% tracking_code %}

</head>
<body>
{% projects_map projects width height state %}
<div id="footer">
  <a href="http://akvo.org">
    <img src="{{ STATIC_URL }}rsr/widgets/img/akvo-badge_small.png" width="60" height="18" alt="Akvo.org" />
  </a>
</div>
</body>
</html>