{% extends "widgets/base.html" %}
{% load i18n rsr_filters rsr_tags rsr_widgets rsr_utils %}
{% load pipeline %}

{% block style %}
{{block.super}}
{% stylesheet 'widget_project_narrow' %}
{% endblock style %}

{% block body %}
<section id="container" class="w170px {{style}} rsrWidget floats-in">
  {% rsr_widget_header %}
  <div id="content" class="floats-in">
    <div class="projectDescr">
      {% rsr_widget_project_status_location project %}
      <h2 id="project_title">
        <a href="{{project.get_absolute_url}}">{{project.title|truncatechars_html:60}}</a>
      </h2>
      <p id="project_subtitle">{{project.subtitle}}</p>
      <a href="{{project.get_absolute_url}}">{% img project 145 109 project.title %}</a>
      <p id="project_plan_summary">
        {{project.project_plan_summary|safe|truncatechars_html:100}}...
        <a href="{{project.get_absolute_url}}">{% trans "More" %} &#8250;</a>
      </p>
    </div>
    {% rsr_widget_project_budget project %}
  </div>
</section>
{% endblock body %}
