{% extends "widgets/base.html" %}
{% load i18n rsr_filters rsr_tags rsr_widgets addparam rsr_utils %}
{% load render_bundle from webpack_loader %}

{% block style %}
{{block.super}}
{% render_bundle 'widget' 'css' %}
{% endblock style %}
{% block body %}
<section id="container" class="projectList {{style}} rsrWidget floats-in">
  <!-- DEVICES TABLE-->
  <ul class="thead">
      <li class="projectDescrTd">
        <a href="{% url 'widget_project_list'%}{% addparam "order_by" "title" %}" target="_self">
          {% trans "Projects" %}
        </a> {% if projects_count > 100 %}
          <span style="font-size: 0.8em">
            {% blocktrans with number_of_projects=projects_count %}
            (showing first 100 of {{number_of_projects}})
            {% endblocktrans %}
            </span>
          {% endif %}
      </li>
      <li class="projectLocTd">
        {% trans "Location" %}
      </li>
      <li class="projectStatusTd">
        <a href="{% url 'widget_project_list'%}{% addparam "order_by" "iati_status" %}" target="_self">
          {% trans "Status" %}</a>
        /
        <a href="{% url 'widget_project_list'%}{% addparam "order_by" "last_update" %}" target="_self">
          {% trans "Update" %}</a>
      </li>
      <li class="projectPartnerTd">
        {% trans "Partners" %}
      </li>
      <li class="projectFundingTd">
        <a href="{% url 'widget_project_list'%}{% addparam "order_by" "budget" %}" target="_self">
          {% trans "Budget" %}</a>
        /
        <a href="{% url 'widget_project_list'%}{% addparam "order_by" "funds_needed" %}" target="_self">
          {% trans "Needed" %}</a>
      </li>
  </ul>
  <!-- DEVICES TABLE-->
  <div class="projectListTable">
    <table class="projectListWidget" >
      <tbody>
        {% for project in projects  %}
        <tr class="projectListTitle"> <td colspan="4"><h2 id="project_title">
                  <a href="{% url 'project-main' project.id %}">
                    {{project.title|truncatechars_html:60}}
                  </a>
                </h2></td></tr>
          <tr class="projectListDescr">
            <td class="projectDescrTd">
            <div class="projectDescr">

                {% img project 120 90 project.title %}
                <p id="project_subtitle">{{project.project_plan_summary|truncatechars_html:50}}</p>
                <a href="{% url 'project-main' project.id %}">{% trans "See full description" %}</a>
            </div>
            </td>
            <td class="projectLocTd">
              {% rsr_widget_project_location project %}
            </td>

            <td class="">
              {% if project.iati_status == '1' %}<span class="projectStatus notComplete">{% trans "Pipeline/identification" %}</span>
              {% elif project.iati_status == '2' %}<span class="projectStatus notComplete">{% trans "Implementation" %}</span>
              {% elif project.iati_status == '3' %}<span class="projectStatus complete">{% trans "Completion" %}</span>
              {% elif project.iati_status == '4' %}<span class="projectStatus complete">{% trans "Post-Completion" %}</span>
              {% elif project.iati_status == '5' %}<span class="projectStatus complete">{% trans "Cancelled" %}</span>
              {% elif project.iati_status == '6' %}<span class="projectStatus complete">{% trans "Suspended" %}</span>
              {% else %} {# None (6) #} <span class="projectStatus notComplete">{% trans "None" %}</span>
              {% endif %}

              <span class="lastUpdate"><br>{% trans "Last Update" %}:<br>
                {% if project.last_update %}
                <a href="{% url 'update-main' project.id project.last_update.id %}">
                  {{ project.last_update.event_date|date:"Y-m-d"}}
                </a>
                {% else %}
                  {% trans 'Not yet' %}
                {% endif %}
              </span>
            </td>

            <td class="projectPartnerTd"><ul>
              {% for partner in project.partners.all.distinct|slice:":5" %}
                {#<li><a href="{% url 'organisation-main' partner.id %}">{{partner.name}}</a></li>#}
                <li>{{partner.name}}</li>
                {% if forloop.last and project.partners.all.distinct.count > 5 %}
                  ...
                {% endif %}
              {% endfor %}
            </ul></td>
            <td class="projectFundingTd">
              {% rsr_widget_project_budget project %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock body %}
