{% extends "rsr/base_message.html" %}

{% load i18n %}

{% block title %}{% trans 'Page not found (404)' %}{% endblock title %}

{% block breadcrum_items %}
{{block.super}}
<li id="last_breadcrum_item">{% trans 'Page not found' %}</li>
{% endblock breadcrum_items %}

{% block message_head %}
	{% trans 'Page not found (error 404)' %}
{% endblock message_head %}

{% block message_body %}
	<p>
		{% trans 'We&#x27;re sorry, we can&#x27;t find the requested page.' %}
	</p>
{% endblock message_body %}