@import "defaults";

body {
    background-color: #FBFBFC;
    }

.whitebox {
    .border-radius();
    border: 1px solid #ccc;
    background-color:#fff;
    }

.pagination {
    background-color: #E5E5E9;
    text-align: right;
    padding: 10px;
    font-size:0.8125em;
    }

article {
    float: left;
    width: 700px;
    }

aside {
    float: right;
    width: 250px;
    }

.money_blue_background {
    .border(#96D7F9, 1px);
    .border-radius();
    .gradient_top_bottom();
    margin-bottom:20px;
    }

.status_large {
    .border-radius(13px);
    font-size:1.2em;
    padding: 5px 10px;
    color: #fff;
    }

.marg10 {margin:10px}
.marg20 {margin:20px}
.marg_top20 {margin-top:20px}
.marg_top40 {margin-top:40px}
.pad10 {padding:10px}
.pad20 {padding:20px}


.fixed_height_250px {
    height:250px; 
    max-height:250px; 
    overflow:auto;
    }

.white_back {background-color:#fff}

th {.gradient_top_bottom(#EFF3F5, #EAECEF);}


footer { 
    background-color:#eee; 
    margin-top:20px; 
    padding-left:10px; 
    padding-right:10px; 
    border-top: 2px solid #888;
    }


div.counter_badge {
    background-color:#EFF3F5; 
    border:1px solid #A2A2A2;
    color:#000;
    float:right; 
    text-align:center; 
    width:47px;
    font-size:0.8125em;
    line-height:1.4em;
    padding: 5px 3px 0px 3px;
    font-weight:bold;
    
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px;
    border-radius: 2px;
    
    margin:20px;
    }
    
div.counter_badge span {
    font-size:0.8125em;
    font-weight:normal;
    }

.round {
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px;
    border-radius: 2px;
    }

.fundingbox-table, .fundingbox-table tr, .fundingbox-table tr th, .fundingbox-table tr td  { 
    border:none;
    padding:0;
    margin:0;
    font-size:0.875em; /* 16*0.875 = 14*/
    line-height:1.4em;
    width:170px;
    }

.fundingbox-table tr th {
    padding-left:5px;
    text-align:left;
    width:100px;
    }

.fundingbox-table tr td {
    width:70px;
    text-align:right;
    padding-right:5px;
    }


.fundingbox-progress-bar {
    background-color:#ffefeb;
    border:1px solid #625e5b;
    margin:5px 9px 5px 9px;
    padding:0;
    height:12px;
    overflow:hidden;
    text-align:left;
    }

.fundingbox-progress-bar-progress {
    background-color:#00b200 !important;
    height:12px;
    }

