@import "defaults";

body {
    background-color: #FBFBFC;
}

.whitebox {
    .border-radius();
    border: 1px solid #ccc;
    background-color:#fff;
    padding:20px;
    }

.pagination {
    background-color: #E5E5E9;
    text-align: right;
    padding: 10px;
}

article {
    float:left;
    max-width:700px;
}

aside {
    float:right;
    width:250px;
}

.money_blue_background {
    .border(#96D7F9, 1px);
    .border-radius();
    .gradient_top_bottom();
}

.status_large {
    .border-radius(13px);
    font-size:1.2em;
    padding: 5px 10px;
}
