@import "defaults";

body {
    background-color: #FBFBFC;
    }

.whitebox {
    .border-radius();
    border: 1px solid #ccc;
    background-color:#fff;
    }

.pagination {
    background-color: #E5E5E9;
    text-align: right;
    padding: 10px;
    font-size:0.8125em;
    }

article {
    float: left;
    width: 700px;
    }

aside {
    float: right;
    width: 250px;
    }

.money_blue_background {
    .border(#96D7F9, 1px);
    .border-radius();
    .gradient_top_bottom();
    margin-bottom:20px;
    }

.status_large {
    .border-radius(13px);
    font-size:1.2em;
    padding: 5px 10px;
    color: #fff;
    }

.marg10 {margin:10px}
.marg20 {margin:20px}
.marg_top20 {margin-top:20px}
.marg_top40 {margin-top:40px}
.pad10 {padding:10px}
.pad20 {padding:20px}


.fixed_height_250px {
    height:250px; 
    max-height:250px; 
    overflow:auto;
    }

.white_back {background-color:#fff}

th {.gradient_top_bottom(#EFF3F5, #EAECEF);}


footer { 
    background-color:#eee; 
    margin-top:20px; 
    padding-left:10px; 
    padding-right:10px; 
    border-top: 2px solid #888;
    }

