#users-view{
  .topbar-row{
    margin-top: 9px;
    margin-bottom: 20px;
    display: flex;
    .left-side{
      display: flex;
      .ant-select{
        margin-right: 10px;
        min-width: 170px;
      }
    }
    .right-side{
      margin-left: auto;
      .label{
        margin-right: 10px;
      }
      .ant-select{
        margin-right: 10px;
        min-width: 170px;
      }
    }
  }
  padding-bottom: 50px;
}
  .start-typing{
    padding: 5px 10px;
    color:rgba(0, 0, 0, 0.4);
    font-style: italic;
  }

  .invite-user-modal{
    .add-to-org{
      display: flex;
      margin-top: 15px;
      .label{
        margin-left: auto;
        transform: translateY(4px);
        margin-right: 8px;
      }
      .ant-select{
        min-width: 150px;
      }
    }
  }