{% load i18n %}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Akvo.org - {% trans 'Thank you for your online contribution' %}</title>
<style type="text/css">
  table#donation_info .td {
    padding-left: 15px;
  }
</style>
</head>
<body>
<h2>{% trans 'Dear' %} {{ invoice.get_name }}</h2>
<p> {% blocktrans %}Thank you for your contribution on <a href='{{ site_url }}'>Akvo.org</a>. By giving, you have personally helped to improve the living conditions of people around the world. You can follow the project&#x27;s progress via <a href='{{ project_updates_url }}'>updates</a> on <a href='{{ site_url }}'>Akvo.org</a>.{% endblocktrans %} </p>
<table id="donation_info" style="border: none !important;">
  <thead>
    <tr>
      <th colspan="2"><h3 style="text-align: left;">{% trans 'A summary of your contribution' %}</h3></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="padding-right: 20px;">{% trans 'Name' %}:</td>
      <td>{{ invoice.get_name }}</td>
    </tr>
    <tr>
      <td>{% trans 'Email' %}:</td>
      <td>{{ invoice.get_email }}</td>
    </tr>
    <tr>
      <td>{% trans 'Your gift will help' %}:</td>
      <td><a href="{{ project_url }}">{{ invoice.project.title|safe }}</a></td>
    </tr>
    <tr>
      <td>{% trans 'Contribution' %}:</td>
      <td>{{ invoice.project.get_currency_display|safe }} {{ invoice.amount }}</td>
    </tr>
    <tr>
      <td>{% trans 'Akvo reference' %}: </td>
      <td> {{ invoice.id }}</td>
    </tr>
    {% if invoice.engine = "paypal" %}
      <tr>
        <td>{% trans 'PayPal reference' %}: </td>
        <td>{{ invoice.ipn }}</td>
      </tr>
    {% endif %}
    {% if invoice.engine = "ideal" %}
      <tr>
          <td>{% trans 'Bank' %}: </td>
          <td>{{ invoice.get_bank_display }}</td>
      </tr>
      <tr>
        <td>{% trans 'iDEAL reference' %}: </td>
        <td>{{ invoice.transaction_id }}</td>
      </tr>
    {% endif %}
    </tr>
  </tbody>
</table>

<div style="clear:both;"></div>
<h3>{% trans 'About your contribution' %}</h3>
<p> {% trans 'No goods or services were provided in exchange for your gift of funds. At this time, only residents of the following countries may treat this donation as a tax-deductible charitable contribution to the extent allowed by law. We are working hard to expand this list to new countries.' %} </p>
<ul>
  {% if invoice.project.currency = 'EUR' %}
  <li>{% trans 'The Netherlands (Nederland)' %}</li>
  {% endif %}
  {% if invoice.project.currency = 'USD' %}
  <li>{% trans 'The Netherlands (Nederland)' %}</li>
  {% endif %}
</ul>
<p> {% trans 'Please retain this message as a record of your contribution. You may email us with technical questions at' %} <a href="mailto:contribute@akvo.org">contribute@akvo.org</a> {% trans 'and please tell your friends about' %} <a href="{{site_url}}">Akvo.org</a>!  :) <br>
  <br>
  {% trans 'Thanks' %}<br>
  {% trans 'The Akvo team' %} </p>
</body>
</html>