{% extends "donate/donate_base.html" %}
{% load i18n %}

{% block donatecontent %}
<div class="col-sm-4 paymentOption step1">
  <h3>{% trans 'For all users' %}</h3>
  <div class="img-wrapper">
    <a href="{% url 'complete_donation' project_id=project.id engine='paypal' %}">
      <img src="{{STATIC_URL}}images/donation/horizontal_solution_PPeCheck.gif"/>
    </a>
  </div>
  <br>
  <div class="methodInfo">
    <div class="donateButtonContainer">
      <a class="btn btn-primary donateButton" href="{% url 'complete_donation' project_id=project.id engine='paypal' %}">{% trans 'Donate with PayPal' %}</a>
    </div>
    <p class="small">
      {% trans 'Akvo offers the PayPal Secure Payment&trade; system for donations in 24 currencies from 190 countries, whether or not you have a PayPal account.' %}
    </p>
  </div>
</div>
{% if project.currency = 'EUR' %}
<div class="col-sm-4 paymentOption step1">
  <h3>{% trans 'For Dutch users only' %}</h3>
  <div class="img-wrapper">
  <a href="{% url 'complete_donation' project_id=project.id engine='ideal' %}">
    <img src="{{STATIC_URL}}images/donation/ideal-small.png"/>
  </a>
  </div>
  <br>
  <div class="methodInfo">
    <div class="donateButtonContainer">
      <a class="btn btn btn-primary donateButton" href="{% url 'complete_donation' project_id=project.id engine='ideal' %}">{% trans 'Donate with iDeal' %}</a>
    </div>
    <p class="small">
      {% trans 'In the Netherlands, Akvo offers the iDeal system for payments directly from your bank account.' %}
    </p>
  </div>
</div>
{% endif %}
<div class="col-sm-4 paymentOption">
  <h3>{% trans "For organisations" %}</h3>
  <p class="small">
    {% trans "Do you represent an institution or company interested in funding or sponsoring this project?" %}
    {% blocktrans with funding_url="http://akvo.org/criteria-roles-and-procedures-for-akvo-partners/#fundingPartner" %}
      Become an <a target="_blank" href="{{funding_url}}">Akvo funding partner</a>.
    {% endblocktrans %}
  </p>
</div>

{% endblock donatecontent %}