{% extends "donate/donate_base.html" %}
{% load i18n rsr_tags thumbnail bootstrap3 %}

{% block donatecontent %}
<div class="results verticalPadding">
  {% trans "Complete the following steps to donate to this project" %}:
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-check"></i> {% trans 'Select payment system' %}</li>
    <li><i class="fa-li fa fa-check"></i> {% trans 'Enter donation details' %}</li>
    <li><i class="fa-li fa fa-minus"></i> {% trans 'Confirm donation' %}</li>
  </ul>
</div>

<h3>{% trans 'Confirm your donation' %} <a class="btn btn-primary" href="{% url 'void_invoice' invoice_id=invoice.id action='back' %}">{% bootstrap_icon "pencil" %} Edit</a></h3>
    <div class="col-sm-7">
      <p>{% trans 'Amount' %}: {{project.get_currency_display|safe}}{{invoice.amount}}</p>
      <p>{% trans 'Your name' %}: {{invoice.get_name}}</p>
      <p>{% trans 'Your email' %}: {{invoice.get_email}}</p>
      {% if invoice.campaign_code %}
        <p>{% trans 'Campaign code' %}: {{invoice.campaign_code}}</p>
      {% endif %}
      {% if invoice.bank %}
        <p>{% trans 'Bank' %}: {{invoice.get_bank_display}}</p>
      {% endif %}

      <p class="small">
        {% blocktrans with invoice.get_engine_display as engine %}Click the Donate button to proceed to {{engine}} checkout.{% endblocktrans %}
        {% trans 'By clicking on the "Donate" button you agree to the' %}
        <a href="http://akvo.org/help/akvo-donation-policy/" target="_blank">{% trans 'Terms and Conditions' %}</a>
        {% trans 'for the donation.' %}
      </p>

      <p>
      {% if payment_engine = 'ideal' %}
        <a class="btn btn-primary pull-left" href="{{mollie_order_url}}">{% trans "Donate" %}</a>
      {% else %}
        {{ pp_button }}
      {% endif %}
      </p>
    </div>

    <div class="col-sm-5" style="background: rgba(255, 85, 0, 0.05); border-radius: 5px;">
      <h3>{% trans 'Payment system' %}</h3>
      {% if payment_engine = 'paypal' %}
        <img src="{{STATIC_URL}}rsr/main/img/donate/horizontal_solution_PPeCheck.gif" alt="PayPal" />
        <p class="small">{% trans 'Akvo.org uses the PayPal Secure Payment&trade; system for donations.' %}</p>
        <p class="small">
          {% trans "With PayPal you may make donations via your country&#x27;s accepted credit or debit cards, or through a PayPal account if you have one. And PayPal handles the currency conversion for you." %}
        </p>
        <p class="small">
          {% ifequal project.currency 'EUR' %}
            {% trans 'PayPal charges transaction fees of up to 3.9% of your donation amount + 35 Euro cents. So if you donate &euro;100, at a minimum 95.75 will go to the selected project.' %}
          {% endifequal %}
          {% ifequal project.currency 'USD' %}
              {% trans 'PayPal charges transaction fees of up to 3.9% of your donation amount + 30 Dollar cents. So if you donate 100 US Dollars, at a minimum 95.80 will go to the selected project.' %}
          {% endifequal %}
        </p>

        <p class="small">
          {% trans 'At this time, only residents of the following countries will be able to treat this donation as a tax-deductible charitable contribution:' %}
        </p>
        <ul class="small" >
          <li>{% trans 'The Netherlands (Nederland)' %}</li>
        </ul>
      {% endif %}
      {% if payment_engine = 'ideal' %}
          <img src="{{STATIC_URL}}rsr/main/img/donate/ideal-small.png" alt="Ideal" /><br />
          <img src="{{STATIC_URL}}rsr/main/img/donate/Mollie-Logo-Style-Small.png" alt="Mollie" />
        <p class="small">
          {% trans 'Akvo.org offers the iDeal payment system for Netherlands users to make donations.  With iDEAL, you may make payments entirely within the secure and trusted environment of your own bank&#x27;s website.' %}
        </p>
        <p class="small">
          {% trans 'Akvo.org partners with Mollie.nl to provide iDEAL.' %}
        </p>

        <p class="small">
          {% if project.currency = 'EUR' %}
          {% trans 'Mollie.nl charges &euro;0.99 (excluding BTW) on every transaction. So if you donate &euro;100, &euro;98.82 Euros will go towards the selected project.' %}
          {% endif %}
          {% if project.currency = 'USD' %}
          {% trans 'iDeal charges up to 3.9% + 30 US Dollar cents of your donation in transaction fees. So if you donate 100 US Dollars, at least 95.80 US Dollars will go towards the selected project.' %}
          {% endif %}
        </p>
        <p class="small">
          {% trans 'At this time, only residents of the following countries will be able to treat this donation as a tax-deductible charitable contribution:' %}
        </p>

        <ul class="small">
          <li>{% trans 'The Netherlands (Nederland)' %}</li>
        </ul>
      {% endif %}
    </div>
{% endblock donatecontent %}