{% extends "base.html" %}

{% load compressed i18n rsr_utils %}

{% block title %}{% trans "Donate to" %} {{project.title}}{% endblock title%}

{% block maincontent %}
<article class="touch-navbar project-container">
    {% include "partials/project_header.html" %}
    <section class="projectDonate">
      <div class="container">
        <div class="row verticalPadding">
          <h2>{% trans "Donate to " %}{{project.title}}</h2>
          {% block donatecontent %}{% endblock donatecontent %}
        </div>
        <div class="row verticalPadding">
          <a class="btn btn-primary" href="{% url 'project-main' project.id %}">{% trans 'Return to Project' %}</a>
        </div>
      </div>
    </section>
</article>
{% endblock maincontent %}
