{% extends "donate/donate_base.html" %}
{% load i18n rsr_tags bootstrap3 thumbnail humanize %}

{% block donatecontent %}
<div class="col-sm-7 step2">
<h3>{% trans 'Donation details' %}</h3>

<form method="post" action="." name="donate_form">
    {% csrf_token %}
    <p>
      {% if donate_form.engine == 'paypal' %}
        {% blocktrans with project.amount_needed_to_fully_fund_via_paypal|intcomma as full_donation and project.currency|safe as currency %}
          To fully fund this project a donation of {{ full_donation }} {{ currency }} is needed.
        {% endblocktrans %}
        <br/>
        {% trans "This amount includes the transaction fee applied by PayPal." %}
      {% else %}
        {% blocktrans with project.amount_needed_to_fully_fund_via_ideal|intcomma as full_donation and project.currency|safe as currency %}
          To fully fund this project a donation of {{ full_donation }} {{ currency }} is needed.
        {% endblocktrans %}
        <br/>
        {% trans "This amount includes the transaction fee applied by iDEAL." %}
      {% endif %}
    </p>

    {% bootstrap_form_errors donate_form type='non_fields' %}
    <div class="form-group{% if donate_form.amount.errors %} has-error{% endif %}">
        <label class="control-label" for="id_amount">Amount</label>
        <div class="input-group">
            <span class="input-group-addon">{{project.currency|safe}}</span>
            <input class="form-control" id="id_amount" min="2" name="amount" placeholder="Amount" required="required" title="" type="number" value="{{donate_form.amount.value}}">
        </div>
        {% if donate_form.amount.errors %}
        {% for error in donate_form.amount.errors %}
        <span class="help-block">{{error|escape}}</span>
        {% endfor %}
        {% endif %}
    </div>
    <p class="small">
        {% blocktrans with project.currency|safe as currency %}The amount is in {{currency}} and should be whole numbers without decimals or commas.{% endblocktrans %}
    </p>
    {% bootstrap_field donate_form.name %}
    {% bootstrap_field donate_form.email %}
    {% bootstrap_field donate_form.email2 %}
    {% if payment_engine = 'ideal' %}
    {% bootstrap_field donate_form.bank %}
    {% endif %}
    {% bootstrap_field donate_form.is_public %}
    {% bootstrap_field donate_form.campaign_code %}

    <a class="btn btn-primary pull-right" href="javascript:document.donate_form.submit();">{% trans 'Next...' %}</a>
  </form>
</div>



  <div class="col-sm-5 paymentSystemInfo step2">
    <h3>{% trans 'Payment system' %}</h3>
    {% if payment_engine = 'paypal' %}
    <img src="{{STATIC_URL}}images/donation/horizontal_solution_PPeCheck.gif" alt="PayPal" class="donateStep2Image"/>
    <p class="small">{% trans 'Akvo.org uses the PayPal Secure Payment&trade; system for donations.' %}</p>
    <p class="small">
      {% trans "With PayPal you may make donations via your country&#x27;s accepted credit or debit cards, or through a PayPal account if you have one. And PayPal handles the currency conversion for you." %}
    </p>
    <p class="small">
      {% ifequal project.currency 'EUR' %}
        {% trans 'PayPal charges transaction fees of up to 3.9% of your donation amount + 35 Euro cents. So if you donate &euro;100, at a minimum 95.75 will go to the selected project.' %}
      {% endifequal %}
      {% ifequal project.currency 'USD' %}
        {% trans 'PayPal charges transaction fees of up to 3.9% of your donation amount + 30 Dollar cents. So if you donate 100 US Dollars, at a minimum 95.80 will go to the selected project.' %}
      {% endifequal %}
    </p>
    <p class="small">
      {% trans 'At this time, only residents of the following countries will be able to treat this donation as a tax-deductible charitable contribution:' %}
    </p>
    <ul class="small" >
      <li>
        {% trans 'The Netherlands (Nederland)' %}
      </li>
    </ul>
    {% endif %}
    {% if payment_engine = 'ideal' %}
    <img src="{{STATIC_URL}}images/donation/ideal-small.png" alt="Ideal"  class="donateStep2Image"/>
    <img src="{{STATIC_URL}}images/donation/Mollie-Logo-Style-Small.png" alt="Mollie"  class="donateStep2Image"/>
    <p class="small">
      {% trans 'Akvo.org offers the iDeal payment system for Netherlands users to make donations.  With iDEAL, you may make payments entirely within the secure and trusted environment of your own bank&#x27;s website.' %}
    </p>
    <p class="small">
      {% trans 'Akvo.org partners with Mollie.nl to provide iDEAL.' %}
    </p>
    <p class="small">
    {% if project.currency = 'EUR' %}
      {% trans 'Mollie.nl charges &euro;0.99 (excluding BTW) on every transaction. So if you donate &euro;100, &euro;98.82 Euros will go towards the selected project.' %}
    {% endif %}
    {% if project.currency = 'USD' %}
      {% trans 'iDeal charges up to 3.9% + 30 US Dollar cents of your donation in transaction fees. So if you donate 100 US Dollars, at least 95.80 US Dollars will go towards the selected project.' %}
    {% endif %}
    </p>
    <p class="small">
      {% trans 'At this time, only residents of the following countries will be able to treat this donation as a tax-deductible charitable contribution:' %}
    </p>
    <ul class="small">
      <li>{% trans 'The Netherlands (Nederland)' %}</li>
    </ul>
    {% endif %}
  </div>
{% endblock donatecontent %}
