{% extends "donate/donate_base.html" %}
{% load i18n rsr_tags thumbnail %}

{% block donatecontent %}
<p>
    {% trans 'Thanks for your donation!' %}<br/><br/>
    {% blocktrans with invoice.get_engine_display as payment_engine %}You will receive email confirmation from both Akvo.org and {{ payment_engine }}.{% endblocktrans %}<br />
    {% trans 'You may wish to print this page for your records.' %}
</p>

<div class="col-sm-4">
    <h4>{% trans "Donation details" %}</h4>
    <p>{% trans 'Akvo transaction number' %}: {{ invoice.id }}</p>
    <p>{% trans 'Date and time' %}: {{ invoice.time|date:"l, j F Y" }}</p>
    <p>{% trans 'Amount' %}: {{ invoice.amount }} {{ invoice.project.currency|safe }}</p>
</div>

<div class="col-sm-4">
    <h4>{% trans "Your details" %}</h4>
    <p>{% trans 'Your name' %}: {{ invoice.get_name }}</p>
    <p>{% trans 'Your email' %}: {{ invoice.get_email }}</p>
    {% if invoice.engine = 'ideal'  %}
        <p>{% trans 'Your bank' %}: {{ invoice.get_bank_display }}</p>
    {% endif %}
</div>

<div class="col-sm-4">
    <h4>{% trans 'Project to which you donated' %}</h4>
    <p>{% trans 'Project' %}: <a href="{% url 'project-main' project.id %}">{{ project.title }}</a></p>
    <p>{% trans 'Location' %}: {{ project.primary_location.country.continent }} / {{project.primary_location.country}}, {{project.primary_location.city}}</p>
    <p>{% trans 'Akvo ref' %}: {{ project.id }}</p>
</div>
{% endblock donatecontent %}