# Akvo RSR is covered by the GNU Affero General Public License.
# See more details in the license.txt file located at the root folder of the Akvo RSR module.
# For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.

# The following values are used in the Akvo RSR and Akvo Platform acceptance tests

import os

BROWSER_ENVIRONMENT = "*firefox"
SELENIUM_RC_HOST = "localhost"
SELENIUM_RC_PORT = 4444

SUPERUSER_USERNAME = 'your_username'
SUPERUSER_PASSWORD = 'your_password'

UAT_EMAIL_ADDRESS = "gmail_address"
GMAIL_USERNAME = "gmail_username"
GMAIL_PASSWORD = "gmail_password"

SITE_UNDER_TEST = "http://pvw-dev.akvo.org"
ORGANISATION_NAME = "DutchWaterSector"

PAGE_LOAD_TIMEOUT_IN_SECONDS = 60
PAGE_LOAD_TIMEOUT = PAGE_LOAD_TIMEOUT_IN_SECONDS * 1000

TESTS_ROOT_DIR = os.path.realpath(os.path.dirname(__file__))
TEST_IMAGES_DIR = os.path.join(TESTS_ROOT_DIR, 'images')
