# Akvo RSR is covered by the GNU Affero General Public License.
# See more details in the license.txt file located at the root folder of the Akvo RSR module. 
# For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.

# The following values are used in the Akvo RSR and Akvo Platform acceptance tests

RSR_ADMIN_USERNAME = 'your_username'
RSR_ADMIN_PASSWORD = 'your_password'

SITE_UNDER_TEST = "http://test.akvo.org"
PAGE_LOAD_TIMEOUT_IN_SECONDS = 60
