{% load i18n rsr_tags %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="{% trans 'We help donors and doers reach out to fund many thousands of new water and sanitation projects.' %}" />
	<meta name="keywords" content="akvo, Akvo, akvo.org, Akvo.org, water, sanitation" />
	<title>Akvo.org - {% block title %}{% trans 'See it happen' %}{% endblock %}</title>

	{# <link rel="stylesheet" href="{{MEDIA_URL}}css/style_raw.css" type="text/css" media="screen" title="main"> #}
	{% page_styles %}
	
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://{{ request.META.HTTP_HOST }}/blog/?feed=rss2">
	<link rel="shortcut icon" href="{{MEDIA_URL}}img/base/favicon.ico" type="image/x-icon">
</head>
<body>
	<div id="maincontainer" class="container">
	{% block maincontent %}
			
	{% endblock maincontent %}
	</div>
		
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	{% block js %}
	{% endblock js%}
	
	<script type="text/javascript">
		var $ = jQ = jQuery.noConflict();
		
		jQ(document).ready(function(){
			{% block jq_ready %}{% endblock jq_ready %}
			jQ('#grid_toggle').click(function () {
				jQ('#maincontainer').toggleClass('showgrid');
			});
		});		
	</script>	
</body>
</html>
