{% load i18n rsr_tags webdesign %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="{% trans 'We help donors and doers reach out to fund many thousands of new water and sanitation projects.' %}" />
	<meta name="keywords" content="akvo, Akvo, akvo.org, Akvo.org, water, sanitation" />
	<title>Akvo.org - {% block title %}{% trans 'See it happen' %}{% endblock %}</title>

	{% media_bundle 'akvo_style' %}
	<!--[if IE 6]>
		{% media_bundle 'akvo_ie6_style' %}
	<![endif]-->
	
	<link rel="shortcut icon" href="{{MEDIA_URL}}akvo/img/favicon.ico" type="image/x-icon">
	<link rel="alternate" type="application/rss+xml" title="Blog entries" href="/blog/?feed=rss2" />
	<link rel="alternate" type="application/rss+xml" title="Project updates" href="/rsr/rss/all-updates" />
	{% block head %}{% endblock head %}
	
</head>
<body>
	<div id="header">
		<div id="header_container" class="container">
			<ul id="main_nav">
				<li>
					<a id="main_nav_left" href="/" class="{% ifequal site_section 'index' %}active{% endifequal %} {% if not site_section %}active{% endif %} ">
						<span>
							<img src="{{MEDIA_URL}}akvo/img/main_nav_akvo_logo.png" width="82" height="20" alt="Akvo.org" />
						</span>
						{% comment %}
						<span>Akvo.org</span>	
						{% endcomment %}
					</a>
				</li>
				<li>
					<a href="#">
						<span>Akvopedia</span>
					</a>
				</li>
				<li>
					<a href="/rsr/organisations/" class="{% ifequal site_section 'partners' %}active{% endifequal %}">
						<span>Partners</span>
					</a>
				</li>
				<li>
					<a href="/rsr/projects/" class="{% ifequal site_section 'projects' %}active{% endifequal %}">
						<span>Projects</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span>Get involved</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span>Akvo now</span>
					</a>
				</li>
				{% comment %}
				<li>
					<span id="main_nav_language">
						<form action="." method="get" accept-charset="utf-8" style="display:none;">
							  <input name="q" placeholder="Search akvo.org" type="search" style="margin-left:20px;margin-top:7px;width:205px;">
						</form>
					</span>
				</li>
				{% endcomment %}
				<li>
					<span id="main_nav_language">
						<p class="small" style="margin-left:20px; margin-top:9px;">
							Site language: English
						</p>
					</span>
				</li>
				<li>
					<a id="grid_toggle" href="#">
						<span>My Akvo</span>
					</a>
				</li>
				<li>
					{% if not user.username %}
						<a id="main_nav_account" href="{% url signin %}?next={{request.path}}">
							<span>{% trans 'Sign in' %}</span>
						</a>
					{% else %}
						<a id="main_nav_account" href="{% url akvo.rsr.views.signout %}" title="{{user.username}}">
							<span>{% trans 'Account' %}</span>
							{# <span>{% trans 'Sign out' %}</span> #}
						</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>
	<div id="main_container" class="container">
		{% block breadcrum  %}
			<div class="span-18" style="margin-bottom:20px;">
				<div id="breadcrum_back">
					<ul id="breadcrum">
						{% block breadcrum_items %}
						<li><a href="/"><span>Home</span></a></li>
						{% endblock breadcrum_items %}
					</ul>
					<div class="clear"></div>
				</div>
			</div>
		{% endblock breadcrum %}
		
		{% block maincontent %}
			<h1>Akvo RSR</h1>
		{% endblock maincontent %}
	</div>
	<div id="footer">
		<div id="footer_container" class="container">
			<div class="span-18">
				<h2>About Akvo.org</h2>
				{% lorem 1 p %}
			</div>
			<div class="span-18">
				<div class="span-3 first">
					<h3>Policies</h3>
					<p class="small">
						<a href="#">Privacy</a><br />
						<a href="#">Legal</a><br />
						<a href="#">Partners</a><br />
						<a href="#">Donations</a><br />
						<a href="#">Submissions</a>
					</p>
				</div>
				<div class="span-3">
					<h3>About</h3>
					<p class="small">
						<a href="#">Read our blog</a><br />
						<a href="#">Who are we?</a><br />
						<a href="#">How does it work</a><br />
						<a href="#">Financials</a><br />
						<a href="#">Statistics</a><br />
						<a href="#">FAQs</a><br />
						<a href="#">Thanks</a><br />
						<a href="#">Jobs</a><br />
					</p>
				</div>
				<div class="span-3">
					<h3>Partners</h3>
					<p class="small">
						<a href="#">Professionals</a><br />
						<a href="#">Organisations</a><br />
						<a href="#">Corporate</a><br />
						<a href="#">Volunteers</a><br />
						<a href="#">Knowledge</a><br />
					</p>
				</div>
				<div class="span-3">
					<h3>Developers</h3>
					<p class="small">
						<a href="#">Akvo Labs</a><br />
						<a href="#">Developer Guide</a><br />
						<a href="#">Source Code</a><br />
					</p>
				</div>
				<div class="span-3">
					<h3>Contact us</h3>
					<p class="small">
						<a href="http://help.akvo.org/">Help &amp; Support</a><br />
						<a href="#">Website Feedback</a><br />
						<a href="#">General Questions</a><br />
						<a href="#">Press Inquiries</a><br />
						<a href="#">Mailing Address</a><br />
						<a href="#">Directions</a><br />
					</p>
				</div>
				<div class="span-3">
					&nbsp;
				</div>
				<div class="span-3 last">
					
				</div>
			</div>
		</div>
	</div>
		
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	{% media_bundle 'akvo_js' %}
	{% block js %}{% endblock js%}
	
	<script type="text/javascript">
		var $ = jQ = jQuery.noConflict();
		
		jQ(document).ready(function(){
			{% block jq_ready %}{% endblock jq_ready %}
			/*
			jQ('#main_nav_account').click(function () {
				jQ('#account_nav').slideToggle();
			});
			*/
			
			jQ('#grid_toggle').click(function () {
				jQ('.container').toggleClass('showgrid');
			});
			
			if (Modernizr.cssanimations) {
				jQ('#modern_header').html('Browser supports CSS Animations');
			} else {
				jQ('#modern_header').html('No browser support for CSS Animations');
			};
			
		});		
	</script>	
</body>
</html>
