{% extends "rsr/base.html" %}
{% load i18n %}

{% block inline_styles %}
	.white_section {
		background-color:#fff;
		border-radius: 5px;
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		border: 1px solid #ccc;
		border-bottom: 2px solid #ccc;
	}
{% endblock inline_styles%}

{% block title %}Akvo.org - {{ p.name }}{% endblock title %}
{% block content %}
<h1 style="margin-bottom:0px;"><a href="{% url project_main p.id %}" style="color:#1DAAFB; text-shadow: rgb(255, 255, 255) 1px 1px 0px;">{{ p.name }}</a></h1>
<p class="grey small" style="margin-bottom:0; text-shadow: #fff 1px 1px 0px;">
	{{ p.subtitle }}
</p>
<div class="span-18">
	<div class="right">
		<span class="grey">
			<a style="{% ifequal project_section 'details' %}color:#1DAAFB;{% endifequal %} text-shadow: #fff 1px 1px 0px;" 
			href="{% url project_details p.id %}">Details</a> |
			
			<a style="{% ifequal project_section 'updates' %}color:#1DAAFB;{% endifequal %} text-shadow: #fff 1px 1px 0px;" 
			href="{% url project_updates p.id %}">Updates</a> |
			
			<a style="{% ifequal project_section 'funding' %}color:#1DAAFB;{% endifequal %} text-shadow: #fff 1px 1px 0px;" 
			href="{% url project_funding p.id %}">Funding</a> |
			
			<a style="{% ifequal project_section 'comments' %}color:#1DAAFB;{% endifequal %} text-shadow: #fff 1px 1px 0px;" 
			href="{% url project_comments p.id %}">Comments</a>
		</span>
	</div>
</div>
<br><br>
<div class="span-12 first">
	{% block project_content %}
	<div class="white_section" style="margin-bottom:15px;">
		<div style="margin:15px;">
			<p>
				Project subpage content
			</p>
		</div>
	</div>
	{% endblock project_content%}
</div>
<div class="span-6 last">
	<div class="white_section" style="background-color:#1793BC">
		<div style="margin:15px;">
			<ul>
				<li>Project status</li>
				<li>Funding stats</li>
				<li>Donate button</li>
			</ul>		
		</div>
	</div>
	<div class="white_section" style="margin-top:15px; background-color:#fff">
		<div style="margin:15px;">
			<p>
				Page tools
			</p>
		</div>
	</div>
	<div class="white_section" style="margin-top:15px; background-color:#fff">
		<div style="margin:15px;">
			<p>
				Partners
			</p>
		</div>
	</div>
</div>

<div class="clear"></div>	

{% endblock content %}