{% extends "rsr/donate_base.html" %}

{% load i18n rsr_tags thumbnail %}

{% block breadcrum_items %}
{{block.super}}
<li id="last_breadcrum_item">{% trans 'Confirm Donation' %}</li>
{% endblock breadcrum_items %}


{% block maincontent %}
<h1>Donate to {{p.name}}</h1>
<div class="white_box">
	<div>
		<div id="donate_step_box">
			<div id="donate_step_box_inner">
				<div class="donate_steps">
					<p>{% trans 'Select payment system' %}</p>
				</div>
				<div class="donate_steps">
					<p>{% trans 'Enter amount' %}</p>
				</div>
				<div class="donate_steps active_donate_step">
					<p>{% trans 'Confirm amount' %}</p>
				</div>
				<div class="donate_steps">
					<p>{% trans 'Use payment system' %}</p>
				</div>
				<div id="#donate_step_5" class="donate_steps">
					<p>{% trans 'Thank you!' %}</p>
				</div>
			</div>
			<div class="clear">	</div>
		</div>
	</div>
	<div class="space20">
		<div style="width:50%; float:left;">
			<h3>{% trans 'Project to receive your donation' %}</h3>
		</div>
		<noscript>
			<div id="paypal_donate_warning_main" style="float:right; width:380px; background-color:#FFEFEB; color:#FF0000; border:1px solid #FFDAD9; padding:10px;">
				<p>
					<span style="font-weight:bold;">{% trans 'A problem occurred' %}</span><br />
					{% trans 'We&#x27;re sorry, but you must have Javascript enabled in your browser to proceed.' %}
				</p>
			</div>
		</noscript>
		<div class="clear"></div>
		
		<div style="float:left; width:400px;">
			<div class="donate_details_left">
				<p>{% trans 'Project name' %}:</p>
			</div>
			<div class="donate_details_right">
				<p><a href="{% url akvo.rsr.views.projectmain p.id %}">{{ p.name }}</a></p>
			</div>
			<div class="clear"></div>
			
			<div class="donate_details_left">
				<p>{% trans 'Location' %}:</p>
			</div>
			<div class="donate_details_right">
				<p>{{ p.country.get_continent_display }} / {{p.country}}, {{p.city}}</p>
			</div>
			<div class="clear"></div>
			
			<div class="donate_details_left">
				<p>{% trans 'Akvo ref' %}:</p>
			</div>
			<div class="donate_details_right">
				<p>{{ p.id }}</p>
				{% if p.current_image %}
					<div style="margin-top:5px;">
						<a href="{% url akvo.rsr.views.projectmain p.id %}">
                            <img src="{% thumbnail p.current_image 172x125 autocrop,upscale,sharpen %}" alt="{{p.current_image_caption}}" />
						</a>
					</div>
			    {% endif %}
				<div style="width:172px;">
					{% funding_table p %}
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div style="float:left; width:513px; margin-left:20px;">
			{% ifequal payment_engine 'paypal' %}
			<div style="float:right; border:1px solid #DEDEE3; border-bottom:2px solid #DEDEE3; width:485px; margin-bottom:20px; padding:10px">
				<div style="float:right; width:223px; margin-left:10px" class="clearfix" >
					<img src="{{MEDIA_URL}}img/horizontal_solution_PPeCheck.gif" width="230" height="65" alt="PayPal" />
				</div>
				<p class="small">{% trans 'Akvo.org uses the PayPal Secure Payment&trade; system for donations.' %}</p>
				<p class="small">
					{% trans "With PayPal you may make donations via your country&#x27;s accepted credit or debit cards, or through a PayPal account if you have one." %}
				</p>
				<p class="small">
				    {% ifequal p.currency 'EUR' %}
					{% trans 'PayPal charges up to 3.9%+35 Euro cents of your donation in transaction fees. So if you donate 100 Euros, at least 95.75 Euros will go towards the selected project.' %}
					{% endifequal %}
					{% ifequal p.currency 'USD' %}
					{% trans 'PayPal charges up to 3.9%+30 US Dollar cents of your donation in transaction fees. So if you donate 100 US Dollars, at least 95.80 US Dollars will go towards the selected project.' %}
					{% endifequal %}
				</p>

			</div>
			<div style="float:right; border:1px solid #DEDEE3; border-bottom:2px solid #DEDEE3; width:485px; padding:10px;">
				<p class="small">
					{% trans 'At this time, only residents of the following countries will be able to treat this donation as a tax-deductible charitable contribution. We are working hard to expand this list all the time!' %}
				</p>
				<ul class="small" >
					<li>
					    {% ifequal p.currency 'EUR' %}
					        {% trans 'The Netherlands (Nederland)' %}
					    {% endifequal %}
					    {% ifequal p.currency 'USD' %}
					        {% trans 'United States of America' %}
					    {% endifequal %}
					</li>
				</ul>
			</div>
			{% endifequal %}
			{% ifequal payment_engine 'ideal' %}
			<div style="float:right; border:1px solid #DEDEE3; border-bottom:2px solid #DEDEE3; width:485px; margin-bottom:20px; padding:10px;">
				<div style="float:right; width:130px; text-align:center;">
					<img src="{{MEDIA_URL}}img/ideal-small.png" width="130" height="121" alt="Ideal" /><br />
					<img src="{{MEDIA_URL}}img/donate/Mollie-Logo-Style-Small.png" width="121" height="46" alt="Mollie" />
				</div>
				<p class="small">
					{% trans 'Akvo.org offers the iDeal payment system for Netherlands users to make donations.  With iDEAL, you may make payments entirely within the secure and trusted environment of your own bank&#x27;s website.' %}
				</p>
				<p class="small">
					{% trans 'Akvo.org partners with Mollie.nl to provide iDEAL.' %}
				</p>

				<p class="small">
					{% ifequal p.currency 'EUR' %}
					{% trans 'Mollie.nl charges &euro;0.99 (excluding BTW) on every transaction. So if you donate &euro;100, &euro;98.82 Euros will go towards the selected project.' %}
					{% endifequal %}
					{% ifequal p.currency 'USD' %}
					{% trans 'iDeal charges up to 3.9%+30 US Dollar cents of your donation in transaction fees. So if you donate 100 US Dollars, at least 95.80 US Dollars will go towards the selected project.' %}
					{% endifequal %}
				</p>
			</div>
			<div style="float:right; border:1px solid #DEDEE3; border-bottom:2px solid #DEDEE3; width:485px; padding:10px;">
				<p class="small">
					{% trans 'At this time, only residents of the following countries will be able to treat this donation as a tax-deductible charitable contribution. We are working hard to expand this list all the time!' %}
				</p>
				<ul class="small">
					<li style="margin-left:30px;">
					    {% ifequal p.currency 'EUR' %}
					        {% trans 'The Netherlands (Nederland)' %}
					    {% endifequal %}
					    {% ifequal p.currency 'USD' %}
					        {% trans 'United States of America' %}
					    {% endifequal %}
					</li>
				</ul>
			</div>
			{% endifequal %}
		</div>
		<div class="clear"></div>
		<hr style="margin-top:15px;"/>

		<div style="float:left; width:400px;">
			{% blocktrans with p.get_currency_display|safe as currency %}
			<h3>Amount you with to donate (in {{currency}})</h3>
            {% endblocktrans %}
			<div style="float:left; width:170px; text-align:right; padding-right:10px; padding-top:10px;">
				<p class="grey">{% trans 'Amount' %}:</p>
			</div>
			<div style="float:left;">
				<p style="color:#008C00; font-size:1.3em; font-weight:bold; margin-top:3px;">
					{{p.get_currency_display|safe}}{{invoice.amount}}
				</p>
			</div>
			<div class="clear"></div>
		</div>
		<div style="float:right; width:485px; padding:10px;">
			{% if donate_form.amount.errors %}
			<div id="paypal_warning_deatil" style="float:right; width:380px; background-color:#FFEFEB; color:#FF0000; border:1px solid #FFDAD9; padding:10px; margin-top:40px;">
					<span style="font-weight:bold;">{% trans 'A problem occurred' %}</span><br /><br />
						{% trans 'Amount' %}: {{ donate_form.amount.errors }}<br />
					<br />
			</div>
			{% endif %}
		</div>
		<div class="clear" style="padding-bottom:40px;"></div>
		
		
		<div style="float:left; width:400px;">
			<h3>{% trans 'Provide your full name and email address below.' %}</h3>
			<div style="float:left; width:170px; text-align:right; padding-right:10px;">
				<div class="fieldWrapper" style="margin-bottom:32px; margin-top:7px;">	
					<p class="grey">{% trans 'Your name' %}:</p>
				</div>
				<div class="fieldWrapper">	
					<p class="grey">{% trans 'Your email' %}:</p>
				</div>
				{% comment %}
					

				<div class="fieldWrapper" style="margin-bottom:20px">
					<p class="grey">{% trans 'Confirm email' %}:</p>
				</div>
				{% ifequal payment_engine 'ideal' %}
				<div class="fieldWrapper" style="">	
					<p class="grey">{% trans 'Select your bank' %}:</p>
				</div>
				{% endifequal %}
				<div class="fieldWrapper" style="margin-bottom:20px">
					<p class="grey"> &nbsp;</p>
				</div>
				{% endcomment %}
			</div>
			<div style="float:left; width:218px;">
				<p style="font-weight:bold; margin-bottom:32px; margin-top:7px;">{{ invoice.get_name }}</p>
				<p style="font-weight:bold; margin-bottom:4px">{{ invoice.get_email }}</p>
				{% comment %}
					

				<p style="font-weight:bold; margin-bottom:12px;">{{ donate_form.email2 }}</p>
				{% ifequal payment_engine 'ideal' %}
				<p style="font-weight:bold; margin-bottom:18px;">{{ donate_form.bank }}</p>
				{% endifequal %}
				<p class="small" style="font-weight:normal; margin-bottom:18px;">{{ donate_form.is_anonymous }} {% trans 'I would like my donation to be' %} <a href="http://www.akvo.org/web/privacy_policy">{% trans 'anonymous' %}</a> {% trans '(tick the box)' %}.
				</p>
				{% endcomment %}
			</div>
		</div>
		<div style="float:right; width:485px; padding:10px;">
			{% if donate_form.errors %}
			<div id="paypal_warning_name" style="float:right; width:380px; background-color:#FFEFEB; color:#FF0000; border:1px solid #FFDAD9; padding:10px; margin-top:0px;">
				<span style="font-weight:bold;">{% trans 'A problem occurred' %}</span><br /><br />
				{% if donate_form.non_field_errors %}
					{{ donate_form.non_field_errors }}<br />
				{% endif %}

				{% if donate_form.name.errors %}
					{% trans 'Name' %}: {{ donate_form.name.errors }}<br />
				{% endif %}
				
				{% if donate_form.email.errors %}
					{% trans 'Email' %}: {{ donate_form.email.errors }}<br />
				{% endif %}
				
				{% if donate_form.email2.errors %}
					{% trans 'Email confirmation' %}: {{ donate_form.email2.errors }}<br />
				{% endif %}
				
				{% if donate_form.bank.errors %}
					{% trans 'Bank' %}: {{ donate_form.bank.errors }}<br />
				{% endif %}
			</div>
			{% endif %}
		</div>
		<div class="clear"></div>
		<hr />
		<div style="width:500px; margin-left:auto; margin-right:auto; padding-top:20px;">
			<p style="margin-bottom:20px;" class="grey">
				{% blocktrans with invoice.get_engine_display as engine %}
					Click the Donate button to proceed to {{engine}} checkout. 
				{% endblocktrans %}
				{% trans 'By clicking on the "Donate" button you agree to the' %} 
				<a href="http://akvo.org/web/donate_terms_and_conditions" 
					target="_blank">{% trans 'Terms and Conditions' %}
				</a> 
				{% trans 'for the donation.' %}
			</p>
			<div style="float:left; width:250px;">
					<a class="small" href="{% url void_invoice invoice_id=invoice.id,action='cancel' %}">
						{% trans 'Cancel' %}
					</a>
					<a class="red awesome" style="margin-left:20px;" href="{% url void_invoice invoice_id=invoice.id,action='back' %}">
						<span>{% trans 'Back' %}</span>
					</a>

			</div>
			<div style="float:right; width:150px; text-align:right; margin-right:60px;">
				{% ifequal payment_engine 'ideal' %}
		            <a class="aqua awesome" href="{{mollie_order_url}}"><span>Donate</span></a>
		        {% else %}
		            {{ pp_button }}
		        {% endifequal %}
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
{% endblock maincontent %}