{% extends "rsr/donate_base.html" %}

{% load i18n %}

{% block breadcrum_items %}
{{block.super}}
<li id="last_breadcrum_item">{% trans 'Donate' %}</li>
{% endblock breadcrum_items %}


{% block maincontent %}
<h1>Donate to {{p.name}}</h1>
<div class="white_box">
	<div style="background-color:orange;">
		<div id="donate_step_box">
			<div id="donate_step_box_inner">
				<div class="donate_steps active_donate_step">
					<p>{% trans 'Select payment system' %}</p>
				</div>
				<div class="donate_steps">
					<p>{% trans 'Enter amount' %}</p>
				</div>
				<div class="donate_steps">
					<p>{% trans 'Confirm amount' %}</p>
				</div>
				<div class="donate_steps">
					<p>{% trans 'Use payment system' %}</p>
				</div>
				<div id="#donate_step_5" class="donate_steps">
					<p>{% trans 'Thank you!' %}</p>
				</div>
			</div>
			<div class="clear">	</div>
		</div>
	</div>
	<div style="width:48%; float:left; background-color:cyan; text-align:right;">
		<div class="space20">
			left
		</div>
	</div>
	<div style="width:48%; float:right; background-color:yellow;">
		<div class="space20">
			right
		</div>
	</div>
	<div class="clear"></div>	
</div>


{% endblock maincontent %}
