{% extends "rsr/base_sheet.html" %}
{% load i18n thumbnail rsr_filters %}

{% block title %}{% trans 'Global map' %}{% endblock %}

{% block head %}
<style type="text/css" media="screen">
	.mapInfoWindow {
		min-height:150px;
	}
	.mapInfoWindow h4 {
		color:#BE0903;
		padding:5px 5px;
	}

	div.bubble_header {
		background-color:#BE0903;
		padding-top:8px;
		padding-bottom:4px;
		padding-left:5px;
	}
	div.bubble_header h3 {
		color:#fff;
	}
</style>
	
{% endblock head %}

{% block breadcrum_items %}
{{block.super}}
	<li id="last_breadcrum_item">
		{% trans 'Global map' %}
	</li>
{% endblock breadcrum_items %}

{% block content %}
	<div id="map_canvas" style="width:100%; height:500px;"></div>
{% endblock content %}

{% block js %}
	{{block.super}}
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	
	<script type="text/javascript">

	    function loadGlobalMap() {

	        var center = new google.maps.LatLng(0,0);

	        {% for project in projects %}
	            var project_{{ project.id }}_latitude = {{ project.primary_location.latitude }};
	            var project_{{ project.id }}_longitude = {{ project.primary_location.longitude }};
	            var project_{{ project.id }}_coordinates = new google.maps.LatLng(project_{{ project.id }}_latitude, project_{{ project.id }}_longitude);
	        {% endfor %}

	        var mapCanvas = document.getElementById('map_canvas');

	        var mapOptions = {
	            center: center,
	            mapTypeId: google.maps.MapTypeId.ROADMAP,
	            scrollwheel: false,
	            zoom: 3
	        };

	        var map = new google.maps.Map(mapCanvas, mapOptions);

	        {% for project in projects %}
	            var project_{{ project.id }}_marker = new google.maps.Marker({
                    {% if marker_icon %}icon: '{{ marker_icon }}',{% endif %}
	                map: map,
	                position: project_{{ project.id }}_coordinates,
	                title: 'Project location'
	            });
	            var project_{{ project.id }}_info = '<div class="mapInfoWindow">' +
					'<div class="bubble_header"><h3>{% trans 'Project' %}</h3></div>' +
	                '<h4>{{ project.name|smart_truncate:35}}</h4>' +
	                '<img src="{% thumbnail project.current_image 100x100 autocrop sharpen %}" alt="" />' +
					'<p class="small grey" style="margin:0;">{% trans 'Location' %}</p>' +
					'<div id="project_location"><p class="small">' +
					'{{project.country.get_continent_display}}<br />' +
					'{{project.country}}, {{project.city}} </p></div>'
	                '</div>';
	
	            var project_{{ project.id }}_infowindow = new google.maps.InfoWindow({
	                content: project_{{ project.id }}_info
	            });
	            google.maps.event.addListener(project_{{ project.id }}_marker, 'click', function() {
	                project_{{ project.id }}_infowindow.open(map, project_{{ project.id }}_marker);
	            });
	        {% endfor %}

	    }
	</script>

{% endblock js %}

{% block jq_ready %}
	{{block.super}}
	loadGlobalMap();
{% endblock jq_ready %}

</body>
</html>
