{% extends "rsr/base.html" %}

{% load i18n webdesign %}

{% block breadcrum  %}{% endblock breadcrum  %}

{% block maincontent %}
	<div class="span-12 first">
		<div class="white_box">
			<div style="margin:20px;">
				<h1 id="modern_header">&nbsp;</h1>
				<h2>To do</h2>
				<ul>
					<li class="green">Project listing page</li>
					<li class="green">Filtered project listing page</li>
					<li class="yellow">Project</li>
					<ul style="margin-bottom:0;">
						<li>Main</li>
						<li class="green">Get a widget</li>
						<li class="green">Updates</li>
						<li class="green">Donate pages</li>
						<li class="green">Partners details (list distinct on name and not type)</li>
						<li class="green">Funding details</li>
						<li class="green">Add comments</li>
					</ul>
					<li class="green">Blog</li>
					<li class="green">Account (new, password reset, change..)</li>
					<li class="green">System error messages (permission denied..)</li>
					<li class="green">My Akvo</li>
					<li class="green">Rework partners tab</li>
					<li class="green">Organisations</li>
					<ul style="margin-bottom:0;">
						<li class="green">Organisation listing (&amp; <a href="{% url rsr_org_list_filtered 'sponsor' %}">partner types</a>)</li>
						<li class="green">Oragnisation page</li>
						<li class="green">LE &amp; WW landing page</li>
					</ul>
					<li>Counter badges</li>
					<li>Front page</li>
					<li>Update footer links</li>
					<li>CMS template</li>
					<li>Akvopedia template</li>
				</ul>
				<h2>Lorems</h2>
				{% lorem 8 p %}
			</div>
		</div>
	</div>
	<div class="span-6 last" style="background-color:#fff">
		<div class="white_box">
			<div style="margin:20px; font-size:0.85em">
				{% lorem 5 p %}
			</div>
		</div>			
	</div>

{% endblock maincontent %}

