{% extends "rsr/base.html" %}

{% load i18n webdesign rsr_filters thumbnail %}

{% block breadcrum  %}{% endblock breadcrum  %}

{% block maincontent %}
<div class="two_column_left">
	<div class="white_box">
		<div class="space20" style="height:250px">
			<h2>Project updates — Staff picks</h2>
			<ul>
			{% for update in updates %}
			<li>{{update}}</li>
			{% endfor %}
			</ul>
		</div>
		<div style="bottom:0; height:25px; padding-top:5px; background-color:#ccc; text-align:center;">
			<p style="margin:0" class="small grey">
				<a href="#">first</a> | <a href="#">second</a> | <a href="#">third</a>
			</p>
		</div>
	</div>
	
	<div style="margin-top:20px">
		{% if live_earth_enabled %}
			<div class="front_sponsor_box" style="float:left;">
				<div class="white_box" >
					<div class="space15" style="height:70px">
						<div style="float:left; width:80px;">
							<a href="{% url live_earth_landing_page %}">
								<img src="{{MEDIA_URL}}img/liveearth_water_logo_65x65.gif" width="65" height="62" 
									alt="" />
							</a>
						</div>
						<div style="float:left; width:205px;">
							<h4 style="color:#DE481C; margin-bottom:15px;">{% trans 'Live Earth and Akvo' %}</h4>
							<ul class="small" style="margin-bottom:0;">
								<li>
									<a href="{% url live_earth_landing_page %}">{% trans 'View projects on Akvo' %}</a>
								</li>
								<li>
									<a href="http://{{ request.META.HTTP_HOST }}/blog/?cat={{le_blog_category}}">
										{% trans 'Live Earth blog entries' %}
									</a>
								</li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		{% endif %}
		{% if walking_for_water_enabled %}
			<div class="front_sponsor_box" style="float:right;">
				<div class="white_box" >
					<div class="space15">
						<div style="float:left; width:80px;">
							<a href="{% url wfw_landing_page %}">
								<img src="{% thumbnail walking_for_water.logo 65x65 autocrop sharpen %}" style="margin: 10px 0px;"/>
							</a>
						</div>
						<div style="float:left; width:205px;">
							<h4 style="color:#DE481C; margin-bottom:15px;">{% trans 'Walking for Water 2010' %}</h4>
							<ul class="small" style="margin-bottom:0;">
								<li>
									<a href="{% url wfw_landing_page %}">{% trans 'View projects on Akvo' %}</a>
								</li>
								<li>
									<a href="http://{{ request.META.HTTP_HOST }}/blog/?cat={{wfw_blog_category}}">
										{% trans 'Walking for Water blog entries' %}
									</a>
								</li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		{% endif %}
		<div class="clear"></div>		
	</div>
	
	{% if blog_posts %}
	<div class="white_box" style="margin-top:20px">
		<div class="space20">
			{% for post in blog_posts %}
			<p>
				<b>title:</b> {{ post.title }}<br />
				<b>url:</b> {{ post.url }}<br />
				<b>date:</b> {{ post.date }}<br />
				<b>image:</b> {{ post.image }}<br />
				<b>text:</b> {{ post.text|striptags|smart_truncate:20 }}<br />
			</p>
			{% endfor %}
		</div>
	</div>
	{% endif %}
</div>
<div class="two_column_right">
	<div class="two_column_right_inner">
		<h2>{% trans 'Learn about Akvo' %}</h2>
		<div class="white_box">
			<div class="space20">
				<h4>
					<a href="/web/what_we_do">{% trans 'What we do' %}</a>
					<span style="float:right;">
						<a class="small" href="/web/what_we_do">{% trans 'Learn more' %} &gt;</a>
					</span>
				</h4>				
				<div class="clear"></div>
				<p class="small">
					{% trans 'We help donors and doers reach out to fund many thousands of new water and sanitation projects.' %}
				</p>
				
				
				<h4>
					<a href="/web/how_akvo_works">{% trans 'How Akvo works' %}</a>
					<span style="float:right;">
						
						<a class="small" href="/web/how_akvo_works">{% trans 'Learn more' %} &gt;</a>
					</span>
				</h4>				
				<div class="clear"></div>
				<p class="small">
					{% trans 'Find projects to fund, or donors to fund projects. Report on projects. Share knowledge.' %}
				</p>
				
				<h4>
					<a href="/web/how_akvo_works">{% trans 'Why we do it' %}</a>
					<span style="float:right;">
						<a class="small" href="/web/why_we_do_it">{% trans 'Learn more' %} &gt;</a>
					</span>
				</h4>				
				<div class="clear"></div>
				<p class="small">
					{% trans 'Akvo&#x27;s approach: a large number of small projects work best.' %}
				</p>
			</div>
		</div>
				
		<div class="white_box" style="margin-top:20px;">
			<div class="space20">
				<h2>To do</h2>
				<ul>
					<li class="green">Project listing page</li>
					<li class="green">Filtered project listing page</li>
					<li class="yellow">Project</li>
					<ul style="margin-bottom:0;">
						<li>Main</li>
						<li class="green">Get a widget</li>
						<li class="green">Updates</li>
						<li class="green">Donate pages</li>
						<li class="green">Partners details (list distinct on name and not type)</li>
						<li class="green">Funding details</li>
						<li class="green">Add comments</li>
					</ul>
					<li class="green">Blog</li>
					<li class="green">Account (new, password reset, change..)</li>
					<li class="green">System error messages (permission denied..)</li>
					<li class="green">My Akvo</li>
					<li class="green">Rework partners tab</li>
					<li class="green">Organisations</li>
					<ul style="margin-bottom:0;">
						<li class="green">Organisation listing (&amp; <a href="{% url rsr_org_list_filtered 'sponsor' %}">partner types</a>)</li>
						<li class="green">Oragnisation page</li>
						<li class="green">LE &amp; WW landing page</li>
					</ul>
					<li class="green">Counter badges</li>
					<li class="green">Update footer links</li>
					<li class="green">Akvopedia template</li>
					<li class="green">CMS template (Drupal theme)</li>
					<li class="yellow">Front page</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock maincontent %}