{% extends "rsr/project_subpage_base.html" %}

{% load i18n webdesign %}

{% block breadcrum_items %}
{{block.super}}
<li id="last_breadcrum_item">Get a widget - step 2</li>
{% endblock breadcrum_items %}

{% block maincontent %}

<h1>{% trans 'Customise your widget' %}</h1>

<p>
	{% ifequal widget_choice 'specific-project'  %}
		<span class="grey">
			{% trans 'This widget will show the project' %}
		</span><br />
		<span style="font-weight:bold;">{{project.name}}</span>
	{% else %}
		<span class="grey">
			{% trans 'This widget will show projects from the following organisation' %}
		</span><br />
		<span style="font-weight:bold;">{{organisation.name}}</span>
	{% endifequal %}
</p>
<hr />
<div class="prepend-1" style="margin-top:40px;">
	<h3>{% trans 'Step 2: Select colours for your widget and preview' %}</h3>
	
	<div class="white_box">
		<div class="space20">
			<p>asdf</p>
		</div>
	</div>
</div>

<div class="prepend-1" style="margin-top:40px;">
	<h3>{% trans 'Step 3: Copy the HTML code below for use on your web site' %}</h3>
	
	<div class="white_box">
		<div class="space20">
			<p>asdf</p>
		</div>
	</div>
</div>


{% endblock maincontent %}