{% extends "rsr/project_subpage_base.html" %}

{% load i18n webdesign %}

{% block breadcrum_items %}
{{block.super}}
<li id="last_breadcrum_item">Get a widget - step 2</li>
{% endblock breadcrum_items %}

{% block maincontent %}

<h1>{% trans 'Customise your widget' %}</h1>

<p>
	{% ifequal widget_choice 'specific-project'  %}
		<span class="grey">
			{% trans 'This widget will show the project' %}
		</span><br />
		<span style="font-weight:bold;">{{project.name}}</span>
	{% else %}
		<span class="grey">
			{% trans 'This widget will show projects from the following organisation' %}
		</span><br />
		<span style="font-weight:bold;">{{organisation.name}}</span>
	{% endifequal %}
</p>
<a id="preview_position"></a>
<hr />
<div class="prepend-1">
	<div style="width:45%; float:left;">
		<h3 style="padding-top:40px;">{% trans 'Step 2: Select colours for your widget and preview' %}</h3>
	</div>
	<div class="clear"></div>
	
	<div class="white_box">
		<div class="space20">
			<div>
				<div id="warning_color">
					<p>{% trans 'A color you entered is not recognized. Please change and try again.' %}</p>
				</div>
				<p style="font-weight:bold;">{% trans 'A: Top and bottom coloured bars' %}</p>
				<div class="clear"></div>
			</div>
			
			<div style="float:left; margin-left:50px; margin-top:6px; width:200px;">
				<p>
					<select name="backgroundcolor_pulldown" id="backgroundcolor_pulldown" size="1">
						<option value="B50000">{% trans 'Akvo Red' %} (#B50000)</option>
						<option value="FFD700">{% trans 'Gold' %} (#FFD700)</option>
						<option value="B8860B">{% trans 'DarkGoldenrod' %} (#B8860B)</option>
						<option value="FF0000">{% trans 'Red' %} (#FF0000)</option>
						<option value="8B0000">{% trans 'Dark Red' %} (#8B0000)</option>
						<option value="8B008B">{% trans 'DarkMagenta' %} (#8B008B)</option>
						<option value="4B0082">{% trans 'Indigo' %} (#4B0082)</option>
						<option value="191970">{% trans 'MidnightBlue' %} (#191970)</option>
						<option value="0000CD">{% trans 'MediumBlue' %} (#0000CD)</option>
						<option value="1E90FF">{% trans 'DodgerBlue' %} (#1E90FF)</option>
						<option value="008080">{% trans 'Teal' %} (#008080)</option>
						<option value="2E8B57">{% trans 'SeaGreen' %} (#2E8B57)</option>
						<option value="556B2F">{% trans 'DarkOliveGreen' %} (#556B2F)</option>
						<option value="696969">{% trans 'DimGray' %} (#696969)</option>
						<option value="708090">{% trans 'SlateGray' %} (#708090)</option>
						<option value="000000">{% trans 'Black' %} (#000000)</option>
						<option value="x">{% trans 'Other...' %}</option>
					</select><br />
					<span class="grey" style="display:block; margin-left:4px; padding-top:7px;">
					{% trans 'Select colour' %}
					</span>
				</p>
			</div>
			<div style="float:left; width:600px;">
				<div id="backgroundcolor_other_section" 
					style="float:left; width:100%; display:none;">
					<div style="float:left; width:200px;">
						<p style="margin:0; padding:0;">
							<input type="text" name="bgcolor" value="B50000" id="backgroundcolor_text" size="10" /><br />
							<span class="grey">{% trans 'Enter a hex number' %}.</span>
						</p>
					</div>
					<div style="float:left; width:400px; padding-top:10px;">
						<p class="small grey">
							{% trans 'View a list of' %} 
							<a href="http://en.wikipedia.org/wiki/Web_colors#X11_color_names" target="_new">
								{% trans 'standard colours' %}
							</a> 
							({% trans 'external link, new window' %}).
						</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>				
			<div class="clear"></div>
			
			<p style="font-weight:bold;">{% trans 'B: Widget title on top bar' %}</p>
			<div style="float:left; margin-left:50px; margin-top:6px; width:200px;">
				<p>
					<select name="textcolor_pulldown" id="textcolor_pulldown" size="1">
						<option value="FFFFFF">{% trans 'White' %} (#FFFFFF)</option>
						<option value="FFD700">{% trans 'Gold' %} (#FFD700)</option>
						<option value="B8860B">{% trans 'DarkGoldenrod' %} (#B8860B)</option>
						<option value="FF0000">{% trans 'Red' %} (#FF0000)</option>
						<option value="8B0000">{% trans 'Dark Red' %} (#8B0000)</option>
						<option value="8B008B">{% trans 'DarkMagenta' %} (#8B008B)</option>
						<option value="4B0082">{% trans 'Indigo' %} (#4B0082)</option>
						<option value="191970">{% trans 'MidnightBlue' %} (#191970)</option>
						<option value="0000CD">{% trans 'MediumBlue' %} (#0000CD)</option>
						<option value="1E90FF">{% trans 'DodgerBlue' %} (#1E90FF)</option>
						<option value="008080">{% trans 'Teal' %} (#008080)</option>
						<option value="2E8B57">{% trans 'SeaGreen' %} (#2E8B57)</option>
						<option value="556B2F">{% trans 'DarkOliveGreen' %} (#556B2F)</option>
						<option value="696969">{% trans 'DimGray' %} (#696969)</option>
						<option value="708090">{% trans 'SlateGray' %} (#708090)</option>
						<option value="000000">{% trans 'Black' %} (#000000)</option>
						<option value="x">{% trans 'Other...' %}</option>
					</select><br />
					<span class="grey" style="display:block; margin-left:4px; padding-top:7px;">
					{% trans 'Select colour' %}
					</span>
				</p>
			</div>
			<div style="float:left; width:600px;">
				<div id="textcolor_other_section" 
					style="float:left; width:100%; display:none;">
					<div style="float:left; width:200px;">
						<p style="margin:0; padding:0;">
							<input type="text" name="textcolor" value="ffffff" id="textcolor_text" size="10" /><br />
							<span class="grey">{% trans 'Enter a hex number' %}.</span>
						</p>
					</div>
					<div style="float:left; width:400px; padding-top:10px;">
						<p class="small grey">
							{% trans 'View a list of' %} 
							<a href="http://en.wikipedia.org/wiki/Web_colors#X11_color_names" target="_new">
								{% trans 'standard colours' %}
							</a> 
							({% trans 'external link, new window' %}).
						</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>				
			<div class="clear"></div>
			
			<div style="text-align:center;">
				<span class="small" style="margin-right:50px;">
					<a href="{% url akvo.rsr.views.projectmain project.id %}">{% trans 'Cancel' %}</a>
				</span>
				<a id="preview" class="aqua awesome" href="javascript:this.blur();" onclick="preview_widget();">
					<span>{% trans 'Preview' %}</span>
				</a>
			</div>
			
		<hr style="margin-top:20px"/>
		<p style="font-weight:bold;">{% trans 'C: Review your widget' %}</p>
		<div id="akvo_widget_container" style="margin:0; padding:0; margin-left:40px; margin-top:40px;"> </div>
		</div>
	</div>
</div>

<div class="prepend-1" style="margin-top:40px;">
	<h3>{% trans 'Step 3: Copy the HTML code below for use on your web site' %}</h3>
	
	<div class="white_box">
		<div class="space20">
			<p class="grey">
				{% trans 'You may repeat the steps above until you are satisﬁed with the appearance of your widget.' %}
			</p>
			<div style="width:100%; text-align:center; margin-top:20px; margin-bottom:40px;">
				<textarea style="background-color:#FEFCF4;" name="code" rows="8" cols="60" id="code"> </textarea>
			</div>
			
			<div style="text-align:center;">
				<span class="small" style="margin-right:50px;">
					<a href="{% url akvo.rsr.views.getwidget project.id %}">{% trans 'Back' %}</a>
				</span>
				<a class="aqua awesome" href="{% url akvo.rsr.views.projectmain project.id %}">
					<span>{% trans 'Done' %}</span>
				</a>
			</div>
			
		</div>
	</div>
</div>


{% endblock maincontent %}

{% block js %}
{{block.super}}

<script type="text/javascript">
	var akvo_project_id = {{project.id}};
	var akvo_widget_type = '{{widget_type}}';
	var akvo_widget_choice = '{{widget_choice}}';
	var akvo_widget_organisation = '{{organisation.id}}';
	var akvo_widget_site = '{{widget_site}}';
	
	var error0 = "{% trans 'Please review message below' %}";
	var error1 = "{% trans 'A: Hex color values should be 3 or 6 characters' %}";
	var error2 = "{% trans 'A: Not a valid hex number' %}";
	var error3 = "{% trans 'B: Hex color values should be 3 or 6 characters' %}";
	var error4 = "{% trans 'B: Not a valid hex number' %}";

	function preview_widget()
	{
		// Remove old warnings
		var error_message = '';

		// Error checking begins	
		var colorsValidate = true;

		// Get Backgroundcolor string, validate that it's 3 or 6 characters and only has 0-f characters
		if ( jQ('#backgroundcolor_pulldown').val() == 'x' )
		    var bgcolor = jQ('#backgroundcolor_text').val();
		else
		    var bgcolor = jQ('#backgroundcolor_pulldown').val();

		if (!(bgcolor.length == 3 || bgcolor.length == 6)) 
		{ 
			error_message += error1 + ".<br />";
			colorsValidate = false;
		}
		else if (!hex_validator(bgcolor))
		{
			error_message += error2 + ".<br />";
			colorsValidate = false;
		}

		// Get Titlecolor string, validate that it's 3 or 6 characters and only has 0-f characters
		if ( jQ('#textcolor_pulldown').val() == 'x' )
		    var txtcolor = jQ('#textcolor_text').val();
		else
		    var txtcolor = jQ('#textcolor_pulldown').val();

		if (!(txtcolor.length == 3 || txtcolor.length == 6))
		{ 
			jQ('#warning_color').animate({ opacity: "show" },"slow");
			error_message += error3 + ".<br />";
			colorsValidate = false;
		}
		else if (!hex_validator(txtcolor))
		{
			error_message += error4 +".<br />";
			colorsValidate=false;
		}

		// Main warning
		var akvo_widget_container = jQ('#akvo_widget_container');
		var codefield = jQ('#code');
		jQ('#warning_color').animate({ opacity: "hide" }, "fast");

	    // If errors present them and remove widget and cod
		if(!colorsValidate) {    

	        jQ('#warning_color').html(error_message);
	        jQ('#warning_color').animate({ opacity: "show" }, "slow");

			akvo_widget_container.innerHTML = '';

			codefield.val('');
			return;
		}

		// Create the iframe variables
		var akvo_widget_height = getHeight(akvo_widget_type);
		var akvo_widget_width = getWidth(akvo_widget_type);

		if (akvo_widget_choice == 'random-from-org') {
		    var akvo_url = 'http://' + location.host + '/rsr/widget/one-from-organisation/' + akvo_widget_organisation + '/?widget=' + akvo_widget_type;
		    var widget_url = akvo_url + '&bgcolor=' + bgcolor + '&textcolor=' + txtcolor + '&site=' + akvo_widget_site;
		} else if (akvo_widget_choice == 'project-list') {
		    var akvo_url ='http://' + location.host + '/rsr/widget/' + akvo_widget_type + '/organisation/' + akvo_widget_organisation + '/'
		    var widget_url = akvo_url + '?bgcolor=' + bgcolor + '&textcolor=' + txtcolor + '&site=' + akvo_widget_site;	    
		} else {
		    var akvo_url = 'http://' + location.host + '/rsr/widget/' + akvo_widget_type + '/project/' + akvo_project_id + '/';
		    var widget_url = akvo_url + '?bgcolor=' + bgcolor + '&textcolor=' + txtcolor + '&site=' + akvo_widget_site;
		}

		// If the iframe exists update otherwise create the iframe and add it to our anchor div.
		var akvo_widget = document.getElementById('jswidget');

		if(akvo_widget) 
		{
			akvo_widget.src = widget_url;
		} 
		else 
		{
			ifrm = document.createElement("IFRAME");
			ifrm.setAttribute("src", widget_url);
			ifrm.height = akvo_widget_height;
			ifrm.width = akvo_widget_width;
			ifrm.frameBorder = 0;
			ifrm.setAttribute("allowTransparency","true");
			ifrm.setAttribute("id","jswidget");
			//document.getElementById('akvo_widget_container').appendChild(ifrm);
			jQ('#akvo_widget_container').append(ifrm);
		}

		// Update the widget code snippet
		// Show code only if valid!!!!
		var codesnippet = '<iframe src="' + widget_url + '" '; 
		codesnippet += 'height="' + akvo_widget_height + '" width="' + akvo_widget_width + '" frameborder="0" allowTransparency="true"> </iframe>';
		codefield.val(codesnippet);
	}
	</script>

{% endblock js%}

{% block jq_ready %}
{{block.super}}

	{# Toggle other selections for backgroundcolor #}
	jQ("#backgroundcolor_pulldown").change(function() { 
		if (jQ('#backgroundcolor_pulldown').val() == 'x') {
			jQ('#backgroundcolor_other_section').animate({ opacity: "show" }, "slow");			
		} else {
			jQ('#backgroundcolor_other_section').animate({ opacity: "hide" }, "slow");
		}
	});
	
	{# Toggle other selections for textcolor #}
	jQ("#textcolor_pulldown").change(function() { 		
		if (jQ('#textcolor_pulldown').val() == 'x') {
			jQ('#textcolor_other_section').animate({ opacity: "show" }, "slow");			
		} else {
			jQ('#textcolor_other_section').animate({ opacity: "hide" }, "slow");
		}		
	});
	
	// Preview button
	jQ(function(){
	 jQ('#preview').click(function(){
	  jQ('html, body').animate({ scrollTop: jQ('#preview_position').offset().top }, 1000);
	   return false;
	 });
	});
	
	// Display the default widget preview
	preview_widget();
	
{% endblock jq_ready %}




