{% extends "rsr/base_sheet.html" %}

{% load i18n %}

{% block title %}{% trans 'Commercial partners' %}{% endblock title %}

{% block breadcrum_items %}
{{block.super}}
<li><a href="{% url partners %}"><span>{% trans 'Partners' %}</span></a></li>
<li><a href="{% url partners_project %}"><span>{% trans 'Project Partners' %}</span></a></li>
<li id="last_breadcrum_item">{{o.name}}</li>
{% endblock breadcrum_items %}

{% block content %}
{% if live_earth_enabled %}
	{% if has_sponsor_banner %}
		<div style="margin-bottom:30px;">
				<a href="{% url akvo.rsr.views.liveearth %}"><img src="{{MEDIA_URL}}img/lerfw-banner-org.png" alt="Live Earth" /></a>
		</div>
	{% endif %}	
{% endif %}
<h1 style="margin-bottom:0px;">{{o.name}}</h1>
{% if o.long_name %}
	<p class="grey">{{o.long_name}}</p>
{% endif %}

<br /><br />
Projects:
<br /><br />
<ul>
{% for project in org_projects %}
	<li><a href="{% url project_main project.id %}">{{project}}</a></li>
{% endfor %}
</ul>

{% endblock content %}
