{% extends "rsr/base_sheet.html" %}

{% load i18n addparam %}

{% block title %}{% trans 'Change password' %}{% endblock title %}

{% block breadcrum_items %}
{{block.super}}
<li><a href="{% url partners %}"><span>{% trans 'Partners' %}</span></a></li>
<li id="last_breadcrum_item">{% trans 'Project Partners' %}</li>
{% endblock breadcrum_items %}

{% block content %}
<h1>Project partners</h1>
<div style="background-color:cyan; margin-bottom:20px;">
	<div style="float:right; width:300px; text-align:right;">
		{% blocktrans with page.start_index as page_start and page.end_index as page_end and orgs.count as o_count %}Organisations {{page_start}}-{{page_end}} of {{o_count}}{% endblocktrans %}
	</div>
	
        {% ifequal page.number 1 %}
        {% trans 'First' %} |
        {% else %}
        <a href="{% url rsr_org_list_filtered org_type %}{% addparam "page" 1 %}#list">{% trans 'First' %}</a> |
        {% endifequal %}
        {% if page.has_previous %}
        <a href="{% url rsr_org_list_filtered org_type %}{% addparam "page" page.previous_page_number %}#list">{% trans 'Previous' %}</a> |
        {% else %}
        {% trans 'Previous' %} |
        {% endif %}
        {% if page.has_next %}
        <a href="{% url rsr_org_list_filtered org_type %}{% addparam "page" page.next_page_number %}#list">{% trans 'Next' %}</a> |
        {% else %}
        {% trans 'Next' %} |
        {% endif %}
        {% ifequal page.number page.paginator.num_pages %}
        {% trans 'Last' %}
        {% else %}
        <a href="{% url rsr_org_list_filtered org_type %}{% addparam "page" page.paginator.num_pages %}#list">{% trans 'Last' %}</a>
        {% endifequal %}
</div>
<ul>
	{% for org in page.object_list %}
		<li><a href="{% url org_detail org.id %}">{{org.name}}</a></li>
	{% endfor %}
	
</ul>

{% endblock content %}
