{% extends "rsr/base.html" %}

{% load webdesign addparam cache generic_content humanize i18n rsr_filters rsr_tags thumbnail %}

{% block title %} {{block.super}} - {% trans 'Projects' %}{% endblock %}

{% block breadcrum_items %}
{{block.super}}
<li><a href="/rsr/projects/"><span>Projects</span></a></li>
<li id="last_breadcrum_item">Search results: "search string here"</li>
{% endblock breadcrum_items %}

{% block maincontent %}
	
	
	{% comment %}
	{% block breadcrum  %}	
	<div class="span-18">
		<div id="breadcrum_back">
			<ul id="breadcrum">
				<li><a href="/"><span>Home</span></a></li>
				<li><a href="/rsr/projects/"><span>Projects</span></a></li>
				<li id="last_breadcrum_item">Search results: "search string here"</li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	{% endblock breadcrum %}
	{% endcomment %}
	
	
	
	<div>
		&nbsp;
	</div>
	<div class="span-18" style="background-color:#fff">
		<div class="round">
			<div style="margin:20px;">
				<h1>Projects</h1>
				{% lorem 17 p %}
			</div>
		</div>
	</div>
	
{% endblock maincontent %}