{% extends "rsr/project_subpage_base.html" %}
{% load webdesign addparam cache generic_content humanize i18n rsr_filters rsr_tags thumbnail %}

{% block breadcrum_items %}
{{block.super}}
<li><a href="{% url project_updates p.id %}"><span>{% trans 'Project updates' %}</span></a></li>
<li id="last_breadcrum_item">{{u.title}}</li>
{% endblock breadcrum_items %}

{% block project_left_column %}
	<div class="white_box" style="background-color:#fff;">
		<div class="space20">
			<h2>{{u.title|capfirst}}</h2>
			<p>
				{% if u.text %}
					{{u.text}}
				{% endif %}
	            {% if u.photo %}
	                {% update_thumb u 400 300 %}
	            {% endif %}			
			</p>
			<p class="small grey">
				({{u.time|date:"d-M-Y"}})
			</p>
		</div>
	</div>
{% endblock project_left_column%}