{% extends "rsr/base_project.html" %}
{% load i18n rsr_tags rsr_filters thumbnail humanize %}

{% block project_content %}
<div id="proj_sum_left" class="white_section" style="margin-bottom:15px;">
	<div class="" style="background-color:cyan; width:543px">
		<div style="margin:15px;">
			<div style="float:left;">
				{% project_thumb p 295 221 'margin: 0 10px 10px 0;' %}
			</div>
			<div style="float:left; margin-left:5px; width:140px">
				{% map_thumb p 140 140 '' %}
				{% if p.current_image_caption %}
					<p class="nano grey" style="margin-bottom:0; margin-top:55px">{% trans 'Photo' %}: {{p.current_image_caption}}</p>
				{% endif %}
			</div>			
		</div>
	</div>
	<div id="name" class="right" style="width:230px;">
		<div style="margin:15px;">
			<h3>Location</h3>
			<p class="small grey">{{p.city}}, {{p.state}}, {{p.country}}</p>	
			<h3>Beneficiaries</h3>
			<p class="small grey">{{ p.improved_water|add:p.improved_sanitation|intcomma }} {% trans 'people' %} (approx.)</p>
			

		</div>
	</div>
	<div class="clear"></div>	
</div>
<div class="span-13 first last">
	<div class="white_section">
		<div style="float:left; width:50%; background-color:yello;">
			<div style="margin:15px;">
				<h2>Summary</h2>
				<p>{{ p.project_plan_summary|capfirst }}</p>
				<p class="small"><a href="{% url project_details p.id %}">{% trans 'More details...' %}</a>
			</div>
		</div>
		<div style="float:left; width:50%; background-color:cya;">
			<div style="margin:15px;">
				<h2>{% trans 'Expected outcomes' %}</h2>
				{% include "inclusion_tags/outcomes.html" %}
			</div>
		</div>
		<div class="clear"> </div>

		{% if updates %}
			<hr />
			{% for update in updates  %}
				{% if forloop.first %}
					<h3 style="margin-left:15px"><a href="{% url project_updates p.id %}">{{ update.title|capfirst }}</a></h3>
						{% if update.photo %}
						<div style="float:left; width:310px;">
							<div style="margin:15px;">
								{% if update.text %}
								<p>{{ update.text|smart_truncate:370 }}</p>
								{% endif %}
								<p class="grey tiny">
									{% if update.photo_credit %}
										{% blocktrans with update.user.get_full_name as user_name and update.user.userprofile.organisation.name as user_org and update.user.userprofile.organisation.get_absolute_url as org_url and update.get_update_method_display as update_meth and update.photo_credit as photo_cred %}
											Text by {{ user_name }} <a href="{{org_url}}">{{ user_org }}</a> and photo by {{ photo_cred }}, via {{ update_meth }}.
										{% endblocktrans %} 				
									{% else %}
										{% blocktrans with update.user.get_full_name as user_name and update.user.userprofile.organisation.name as user_org and update.user.userprofile.organisation.get_absolute_url as org_url and update.get_update_method_display as update_meth %}
											By {{ user_name }} <a href="{{org_url}}">{{ user_org }}</a>, via {{ update_meth }}.
										{% endblocktrans %}
									{% endif %}
								</p>
								<p class="small"><a href="{% url project_updates p.id %}">{% trans 'More updates...' %}</a></p>
							</div>
						</div>
						<div style="float:left; width:310px; margin-left:15px;">
							<div style="margin:15px;">
								<img src="{% thumbnail update.photo 280x210 autocrop sharpen%}" alt="{{update.photo_caption}}" />
								{% comment %}
								{% update_thumb update 280 210 %}
								{% endcomment %}
								{% if update.photo_caption %}
								<p class="small grey">{{ update.photo_caption|capfirst }}<br</p>
					            {% endif %}
							</div>
						</div>
						<div class="clear"></div>
						{% else %}
						<div style="margin:15px;">
							{% if update.text %}
							<p style="margin-bottom:5px;">{{update.text|smart_truncate:800}}</p>
							{% endif %}
							<p class="grey small">
								{% blocktrans with update.user.get_full_name as user_name and update.user.userprofile.organisation.name as user_org and update.user.userprofile.organisation.get_absolute_url as org_url and update.get_update_method_display as update_meth %}{{ user_name }}, <a href="{{org_url}}">{{ user_org }}</a> via {{update_meth}}{% endblocktrans %}<br><br>
								<a href="{% url project_updates p.id %}">More updates &#x25BA;</a>
							</p>
						</div>
						{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}
		<hr />
		<div style="margin:15px;">
			<h2>Funders</h2>
			{% for funder in p.fundingpartner_set.all %}
			<div style="float:left; margin-right:80px; text-align:center; margin-bottom:40px;">
				<a href="{% url akvo.rsr.views.orgdetail funder.funding_organisation.id %}">
					<div style="margin-left:auto; margin-right:auto;">
						{% org_logo funder.funding_organisation 140 105 '' %}
						<p class="small grey" style="margin:10px 10px">{% trans 'Grant' %}: <span style="margin-left: 10px">{{p.get_currency_display|safe}} {{funder.funding_amount|round|intcomma}}</span></p>
					</div>
				</a><br>
				{% comment %}
				<p style="text-align:center;">
				<a href="{% url akvo.rsr.views.orgdetail funder.funding_organisation.id %}">
					{{funder.funding_organisation.name}}</a><br>
					{{funder.funding_organisation.country}}
				</p>
				{% endcomment %}
			</div>
			{% endfor %}
			<div class="clear"></div>
		</div>
	</div>
</div>
{% endblock %}

{% block inline_js %}
	{{ block.super }}
 	
	if ($('#summary_right').height() < $('#proj_sum_left').height()) {
		$('#summary_right').height($('#proj_sum_left').height());	
	} else {
		$('#proj_sum_left').height($('#summary_right').height());	
	}
	//$('#summary_right').height($('#proj_sum_left').height());	
{% endblock inline_js %}