{% extends "rsr/project_subpage_base.html" %}
{% load webdesign addparam cache generic_content humanize i18n rsr_filters rsr_tags thumbnail %}

{% block breadcrum_items %}
{{block.super}}
<li id="last_breadcrum_item">Project updates</li>
{% endblock breadcrum_items %}

{% block project_left_column %}
	<div class="white_box" style="background-color:#fff;">
		<div class="space20">
			<h2>Project updates</h2>
			<br /><br />		
			<ul>
				{% for u in updates %}
					<li><a href="{% url project_update p.id u.id%}">{{u.title}}</a> ({{u.time}})</li>
				{% endfor%}
			</ul>
		</div>
	</div>
{% endblock project_left_column%}