{% extends "rsr/base.html" %}

{% load webdesign addparam cache generic_content humanize i18n rsr_filters rsr_tags thumbnail %}

{% block title %} {{block.super}} - {% trans 'Projects' %}{% endblock %}

{% block breadcrum_items %}
{{block.super}}
<li id="last_breadcrum_item">Projects</li>
{# <li><a href="/rsr/projects/"><span>Projects</span></a></li> #}
{# <li id="last_breadcrum_item">Search results: "search string here"</li> #}
{% endblock breadcrum_items %}

{% block maincontent %}	
	{% comment %}
	<h1 style="color: #2097F7">Find projects and programmes</h1>
	<form action="." method="get" accept-charset="utf-8">
		<div id="project_search" class="span-18">
			<div class="span-7 first">
				<div class="space20">
					<input type="search" name="project_search" value="" id="search" style="width:350px;"> 
				</div>
			</div>
			<div class="span-11 last">
				<div class="space20">
					<input type="submit" value="Search">
				</div>
			</div>
		</div>
		<div class="span-18">
			<div class="linear_bg" style="height:100px;">
				<div class="span-4 first">
					<div class="space15">
						<h3 style="color:#3EACF8">Sectors</h3>						
					</div>
				</div>
				<div class="span-3">
					<div class="space15">
						<h3 style="color:#3EACF8">Regions</h3>
					</div>
				</div>
				<div class="span-3">
					<div class="space15">
						<h3 style="color:#3EACF8">Updates</h3>
					</div>
				</div>
				<div class="span-3">
					<div class="space15">
						<h3 style="color:#3EACF8">Status</h3>
					</div>
				</div>
				<div class="span-4 last">
					<div class="space15">
						<h3 style="color:#3EACF8">Budget Range</h3>
					</div>
				</div>
			</div>
		</div>
	</form>
	{% endcomment %}
	<h1 style="color: #2097F7">Project listing</h1>
	<div class="span-18" style="background-color:#fff; margin-top:15px;">
		<div class="round">
			<div style="background-color:#E5E5E9; padding:15px; border-bottom:1px solid #979AA5;">
				<div style="float:right;">
					<p style="margin-bottom:0;">
						{% ifequal page.number 1 %}
						{% trans 'First' %} |
						{% else %}
							{# if we have an organisation in the context, we are displaying the list filtered on that org, url have to conform to that #}
							{% if o %}
								<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "page" 1 %}#list">{% trans 'First' %}</a> |
							{% else %}
								<a href="{% url akvo.rsr.views.projectlist %}{% addparam "page" 1 %}#list">{% trans 'First' %}</a> |
							{% endif %}
						{% endifequal %}
						{% if page.has_previous %}
							{% if o %}
								<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "page" page.previous_page_number %}#list">{% trans 'Previous' %}</a> |
							{% else %}
								<a href="{% url akvo.rsr.views.projectlist %}{% addparam "page" page.previous_page_number %}#list">{% trans 'Previous' %}</a> |
							{% endif %}
						{% else %}
						{% trans 'Previous' %} |
						{% endif %}
						{% if page.has_next %}
							{% if o %}
								<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "page" page.next_page_number %}#list">{% trans 'Next' %}</a> |
							{% else %}
								<a href="{% url akvo.rsr.views.projectlist %}{% addparam "page" page.next_page_number %}#list">{% trans 'Next' %}</a> |
							{% endif %}
						{% else %}
						{% trans 'Next' %} |
						{% endif %}
						{% ifequal page.number page.paginator.num_pages %}
						{% trans 'Last' %}
						{% else %}
							{% if o %}
								<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "page" page.paginator.num_pages %}#list">{% trans 'Last' %}</a>
							{% else %}
								<a href="{% url akvo.rsr.views.projectlist %}{% addparam "page" page.paginator.num_pages %}#list">{% trans 'Last' %}</a>
							{% endif %}
						{% endifequal %}
					</p>
				</div>
				<p style="margin-bottom:0;">
					{% blocktrans with page.start_index as page_start and page.end_index as page_end and page.paginator.count as p_count %}
						Projects {{page_start}}-{{page_end}} of {{p_count}}
					{% endblocktrans %}
				</p>
			</div>
			<div class="linear_bg" style="padding:15px; border-bottom:1px solid #979AA5;">
				<div style="float:left; width:365px;">
					<p>Name</p>
				</div>
				<div style="float:left; width:150px;">
					<p>Location</p>
				</div>
				<div style="float:left; width:150px;">
					<p>Status</p>
				</div>
				<div style="float:left; width:200px;">
					<p>Partners</p>
				</div>
				<div class="clear"></div>
				{# <p style="margin-bottom:0;">Name, Country, Status, Partners, Last Update, Funding</p> #}
			</div>
			<div>
				{% for p in page.object_list %}
					<div style="background-color:#{% cycle 'fff' 'F1F5F9' %};min-height:100px;">
						<div style="float: left; width:130px;">
							<div class="space10">
								<a href="{% url akvo.rsr.views.projectmain p.id %}">
						            {% project_thumb p 100 75 'float:left; margin-right: 10px;' %}
						        </a>			
							</div>
						</div>
						<div style="float:left; width:250px;">
							<div class="space10">
								<p style="margin-bottom:0;">
									<a href="{% url akvo.rsr.views.projectmain p.id %}">{{p.name}}</a><br />
									{% comment %}
									{{p.subtitle}}<br />
									{{p.country}}
									{% endcomment %}
								</p>
							</div>
						</div>
						<div style="float:left; width:150px;">
							<div class="space10">
								<p style="margin-bottom:0;">
									{{p.country}}
								</p>
							</div>
						</div>
						<div style="float:left; width:150px;">
							<div class="space10">
								<p style="margin-bottom:0;">
									{{p.show_status}}
								</p>
							</div>
						</div>
						<div style="float:left; width:200px;">
							<div class="space10">
								<p style="margin-bottom:0;">
									{% for partner in p.all_partners %}
										<a href="{% url akvo.rsr.views.orgdetail partner.id %}">{{partner.name}}</a>{% if not forloop.last %},<br />{% endif %}
									{% endfor %}
								</p>
							</div>
						</div>
							
						<div class="clear"></div>
					</div>
				{% endfor %}
			</div>
			<div style="background-color:#E5E5E9; padding:15px; border-top:1px solid #979AA5;">
				<div style="float:right;">
					<p style="margin-bottom:0;">
						{% ifequal page.number 1 %}
						{% trans 'First' %} |
						{% else %}
							{# if we have an organisation in the context, we are displaying the list filtered on that org, url have to conform to that #}
							{% if o %}
								<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "page" 1 %}#list">{% trans 'First' %}</a> |
							{% else %}
								<a href="{% url akvo.rsr.views.projectlist %}{% addparam "page" 1 %}#list">{% trans 'First' %}</a> |
							{% endif %}
						{% endifequal %}
						{% if page.has_previous %}
							{% if o %}
								<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "page" page.previous_page_number %}#list">{% trans 'Previous' %}</a> |
							{% else %}
								<a href="{% url akvo.rsr.views.projectlist %}{% addparam "page" page.previous_page_number %}#list">{% trans 'Previous' %}</a> |
							{% endif %}
						{% else %}
						{% trans 'Previous' %} |
						{% endif %}
						{% if page.has_next %}
							{% if o %}
								<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "page" page.next_page_number %}#list">{% trans 'Next' %}</a> |
							{% else %}
								<a href="{% url akvo.rsr.views.projectlist %}{% addparam "page" page.next_page_number %}#list">{% trans 'Next' %}</a> |
							{% endif %}
						{% else %}
						{% trans 'Next' %} |
						{% endif %}
						{% ifequal page.number page.paginator.num_pages %}
						{% trans 'Last' %}
						{% else %}
							{% if o %}
								<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "page" page.paginator.num_pages %}#list">{% trans 'Last' %}</a>
							{% else %}
								<a href="{% url akvo.rsr.views.projectlist %}{% addparam "page" page.paginator.num_pages %}#list">{% trans 'Last' %}</a>
							{% endif %}
						{% endifequal %}
					</p>
				</div>
				<p style="margin-bottom:0;">
					{% blocktrans with page.start_index as page_start and page.end_index as page_end and page.paginator.count as p_count %}
						Projects {{page_start}}-{{page_end}} of {{p_count}}
					{% endblocktrans %}
				</p>
			</div>
		</div>
	</div>
	
{% endblock maincontent %}