{% extends "rsr/base_project.html" %}
{% load i18n rsr_tags thumbnail %}

{% block project_content %}
<div id="proj_sum_left" class="white_section" style="margin-bottom:15px;">
	<div class="" style="background-color:cyan; width:543px">
		<div style="margin:15px;">
			<div style="float:left;">
				{% project_thumb p 295 221 'margin: 0 10px 10px 0;' %}
			</div>
			<div style="float:left; margin-left:5px;">
				{% map_thumb p 140 140 '' %}
				<p class="nano grey" style="margin-bottom:0; margin-top:69px">Photo: M. Charmer</p>
			</div>
			
			{% comment %}
			{% thumbnail p.current_image 220x165 as project_image%}
			<img src="{{ project_image }}" />
			
			{% project_thumb p 144 108 'padding: 2px 6px;' %}
			<img src="{% thumbnail p.current_image 144x108 %}" />
			
			<img src="{{MEDIA_URL}}{{p.current_image}}" />
			{% endcomment %}

			{% comment %}
			<p>
				{{ p.project_plan_summary }}
				<a href="{% url project_details p.id%}">{% trans 'More details' %}</a>
			</p>
			{% endcomment %}
			
		</div>
	</div>
	<div id="name" class="right" style="width:175px;">
		<div style="margin:15px;">
			<h3>Location</h3>
			<p class="small grey">{{p.city}}, {{p.state}}, {{p.country}}</p>	
			<h3>Beneficiaries</h3>
		</div>
	</div>
	<div class="clear"></div>	
</div>
<div class="span-6 first">
	<div class="white_section">
		<div style="margin:15px;">
			<h3>Summary</h3>
			<p>{{ p.project_plan_summary|capfirst }}</p>
			<h3>Goal</h3>
			<p>{{ p.goals_overview|capfirst }}</p>
			<h3>{% trans 'Expected outcomes' %}</h3>
			{% include "inclusion_tags/outcomes.html" %}
			<h3>Last update</h3>
			<p>...</p>
			<h3>Funders</h3>
			<p>..</p>
		</div>
	</div>
</div>
<div class="span-6 last">
	<div class="white_section">
		<div style="margin:15px;">
		{% if updates %}
			{% for u in updates %}
				{% if forloop.first %}
					<h2>{{u.title}}</h2>
		            <p>
		                <span class="grey">{{u.time|date:"Y-m-d H:i" }}</span>
		                {% blocktrans with u.user.get_full_name as user_name and u.user.userprofile.organisation.name as user_org and u.user.userprofile.organisation.get_absolute_url as org_url and u.get_update_method_display as update_meth %}by {{user_name}}, <a href="{{org_url}}">{{user_org}}</a>, via {{update_meth}}{% endblocktrans %}
		            </p>
					<br>
					{% ifequal u.photo_location 'B' %}
		                {% update_thumb u 240 180 %}
		            {% endifequal %}
		            {% if u.text %}
		                <p>{{u.text|linebreaks}}</p>
		            {% endif %}
		            {% ifequal u.photo_location 'E' %}
						{# {% update_thumb u 300 225 %} #}
		                {% update_thumb u 240 180 %}
		            {% endifequal %}					
				{% endif %}
			{% endfor %}
		{% else %}
			{% trans 'No updates yet.' %}
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}


{% block inline_js %}
	{{ block.super }}
	$('#summary_right').height($('#proj_sum_left').height());	
{% endblock inline_js %}