{% load i18n %}
<div class="budget-item parent" id="budget_item{% if key %}-{{ key }}{% endif %}">
    <div class="row partial-header">
        <div class="col-md-9 col-sm-6 col-xs-6 hide-partial-click">
            <span class="folded-sign">{% if item %}+{% else %}-{% endif %}</span> {% trans 'Budget item' %}: <span class="unicode">{% if item %}{{ item }}{% else %}({% trans 'new' %}){% endif %}</span>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 text-right">
            <a class="delete-object-button" id="delete-budget-item{% if key %}-{{ key }}{% endif %}"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
    <div class="hide-partial {% if item %}hidden{% endif %}">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <div class="select-group control">
                        <select name="budget-item-label{% if key %}-{{ key }}{% endif %}" id="budget-item-label{% if key %}-{{ key }}{% endif %}" class="form-control priority1" onchange="toggleOtherLabel(this)">
                            <option value="" {% if not item.label %} selected="selected" {% endif %}>{% trans 'Budget item' %}:</option>
                            {% for bi in budget_item_labels %}
                                <option value="{{bi.pk}}" {% if item.label.label == bi.label %} selected="selected" {% endif %}>{{bi.label}}</option>
                            {% endfor %}
                        </select>
                        <label class="control-label" for="budget-item-label{% if key %}-{{ key }}{% endif %}">{% trans 'Budget item' %}</label>
                        <p class="help-block hidden">{% trans 'Select the budget item(s) to indicate how the project budget is divided. Use the ‘Other’ fields to add custom budget items.' %}</p>
                    </div>
                </div>
                <div class="col-md-4 control">
                    <input type="text" class="form-control{% if item.label.label == 'Other' %} priority1{% endif %}" name="budget-item-other{% if key %}-{{ key }}{% endif %}" id="budget-item-other{% if key %}-{{ key }}{% endif %}" placeholder="{% trans 'Other label extra info' %}"
                    {% if item.other_extra %} value="{{item.other_extra}}" {% endif %} maxlength="30" {% if not item.label.label == 'Other' %}disabled{% endif %}>
                    <label class="control-label" for="budget-item-other{% if key %}-{{ key }}{% endif %}">{% trans 'Other label extra info' %}</label>
                    <p class="help-block hidden">{% trans 'Enter a description for an “other” budget item.' %}</p>
                </div>
                <div class="col-md-4">
                    <div class="select-group control">
                        <select name="budget-item-type{% if key %}-{{ key }}{% endif %}" id="budget-item-type{% if key %}-{{ key }}{% endif %}" class="form-control priority2">
                            <option value="" {% if not item.type %} selected="selected" {% endif %}>{% trans 'Budget type' %}</option>
                            {% for bt in budget_types %}
                                <option value="{{ bt.code }}" {% if item.type == bt.code %} selected="selected" {% endif %}>{{ bt.code }} - {{ bt.name }}</option>
                            {% endfor %}
                        </select>
                        <label for="budget-item-type{% if key %}-{{ key }}{% endif %}" class="control-label">{% trans 'Budget type' %}</label>
                        <p class="help-block hidden">{% trans 'Select whether this is an original or revised budget of the project.' %}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6 control">
                    <div class="input-group priority1">
                        <span class="input-group-addon currency-display">{{ project.get_currency_display }}</span>
                        <input type="text" class="form-control priority1" name="budget-item-value{% if key %}-{{ key }}{% endif %}" id="budget-item-value{% if key %}-{{ key }}{% endif %}" placeholder="{% trans 'Budget item value' %}"
                        {% if item.amount %} value="{{item.amount}}" {% endif %}>
                    </div>
                    <label class="control-label" for="budget-item-value{% if key %}-{{ key }}{% endif %}">{% trans 'Budget item value' %}</label>
                    <p class="help-block hidden">{% trans 'The amount of budget that is set aside for this specific budget item.' %}</p>
                </div>
                <div class="col-md-6 control">
                    <input type="date" class="form-control priority2" name="budget-item-value-date{% if key %}-{{ key }}{% endif %}" id="budget-item-value-date{% if key %}-{{ key }}{% endif %}" placeholder="{% trans 'Budget item value date' %}"
                    {% if item.value_date %} value="{{item.value_date|date:'c'}}" {% endif %}>
                    <label class="control-label" for="budget-item-value-date{% if key %}-{{ key }}{% endif %}">{% trans 'Budget item value date' %}</label>
                    <p class="help-block hidden">{% trans 'The date to be used for determining the exchange rate for currency conversions.' %}</p>
                </div>
            </div>
        </div>
        <div class="form-group hidden hide-default">
            <div class="row">
                <div class="col-md-6 control">
                    <input type="date" class="form-control priority3" name="budget-item-period-start{% if key %}-{{ key }}{% endif %}" id="budget-item-period-start{% if key %}-{{ key }}{% endif %}" placeholder="{% trans 'Budget item period start' %}"
                    {% if item.period_start %} value="{{item.period_start|date:'c'}}" {% endif %}>
                    <label class="control-label" for="budgetItemPeriodStart">{% trans 'Budget item period start' %}</label>
                    <p class="help-block hidden">{% trans 'The starting date for the budget period.' %}</p>
                </div>
                <div class="col-md-6 control">
                    <input type="date" class="form-control priority3" name="budget-item-period-end{% if key %}-{{ key }}{% endif %}" id="budget-item-period-end{% if key %}-{{ key }}{% endif %}" placeholder="{% trans 'Budget item period end' %}"
                    {% if item.period_end %} value="{{item.period_end|date:'c'}}" {% endif %}>
                    <label class="control-label" for="budget-item-period-start{% if key %}-{{ key }}{% endif %}">{% trans 'Budget item period end' %}</label>
                    <p class="help-block hidden">{% trans 'The ending date for the budget period.' %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
