<div class="country-budget-item-item parent" id="country_budget_item{% if key %}-{{ key }}{% endif %}">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <div class="select-group control">
                    <select name="country-budget-item{% if key %}-{{ key }}{% endif %}" id="country-budget-item{% if key %}-{{ key }}{% endif %}" class="form-control priority3">
                        <option value="" {% if not item.code %} selected="selected" {% endif %}>Country budget item</option>
                        {% for bi in budget_identifiers %}
                            <option value="{{ bi.code }}" {% if item.code == bi.code %} selected="selected" {% endif %}>{{ bi.code }} - {{ bi.name }}</option>
                        {% endfor %}
                    </select>
                    <label class="control-label" for="country-budget-item{% if key %}{{ key }}{% endif %}">Country budget item</label>
                </div>
            </div>
            <div class="col-md-4 control">
                <input type="text" class="form-control priority3" name="country-budget-description{% if key %}-{{ key }}{% endif %}" id="country-budget-description{% if key %}-{{ key }}{% endif %}" placeholder="Description"
                {% if item.description %} value="{{item.description}}" {% endif %}>
                <label class="control-label" for="country-budget-description{% if key %}-{{ key }}{% endif %}">Country budget item description</label>
            </div>        
            <div class="col-md-4 control">
                <input type="text" class="form-control priority3" name="country-budget-percentage{% if key %}-{{ key }}{% endif %}" id="country-budget-percentage{% if key %}-{{ key }}{% endif %}" placeholder="Percentage"
                {% if item.percentage %} value="{{item.percentage}}" {% endif %}>
                <label class="control-label" for="country-budget-percentage{% if key %}-{{ key }}{% endif %}">Country budget item percentage</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center" id="delete-country-budget-item{% if key %}-{{ key }}{% endif %}">
            <a onclick="removePartial(this);" class="btn btn-link delete-object-button" id="delete-country-budget-item{% if key %}-{{ key }}{% endif %}"><span class="glyphicon glyphicon-remove"></span> Delete country budget item</a>
        </div>
    </div>
    <hr/>
</div>