<div class="location-administrative-input">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4 control">
                <input type="text" class="form-control priority3" id="locationAdministrativeCode{% if admin %}-{{ admin.pk }}{% endif %}" name="locationAdministrativeCode{% if admin %}-{{ admin.pk }}{% endif %}" placeholder="Administrative code" {% if admin.code %} value="{{admin.code}}" {% endif %}>
                <label class="control-label" for="locationAdministrativeCode">Administrative code</label>
            </div>
            <div class="col-md-4">
                <div class="select-group control">
                    <select name="locationVocabulary{% if admin %}-{{ admin.pk }}{% endif %}" id="locationVocabulary{% if admin %}-{{ admin.pk }}{% endif %}" class="form-control priority3">
                        <option value="" {% if not admin.vocabulary %} selected="selected" {% endif %}>Administrative vocabulary</option>
                         {% for vocabulary in geographic_vocabularies %}
                            <option value="{{ vocabulary.code }}" {% if admin.vocabulary == vocabulary.code %} selected="selected" {% endif %}>{{ vocabulary.code }} - {{ vocabulary.name }}</option>
                        {% endfor %}
                    </select>
                    <label class="control-label" for="locationVocabulary">Administrative vocabulary</label>
                </div>
            </div>
            <div class="col-md-4 control">
                <input type="text" class="form-control priority3" id="locationAdministrativeLevel{% if admin %}-{{ admin.pk }}{% endif %}" name="locationAdministrativeLevel{% if admin %}-{{ admin.pk }}{% endif %}"placeholder="Administrative level" {% if admin.level %} value="{{admin.level}}" {% endif %}>
                <label class="control-label" for="locationAdministrativeLevel">Administrative level</label>
            </div>
        </div>
    </div>
</div>
