{% load i18n %}
<div class="planned-disbursement-item parent" id="planned_disbursement{% if key %}-{{ key }}{% endif %}">
    <div class="form-group">
        {% if not forloop.first and key != 'add-0' %}<hr/>{% endif %}
        <div class="row">
            <div class="col-md-6 control">
                <div class="input-group priority2">
                    <span class="input-group-addon currency-display">{{ project.get_currency_display }}</span>
                    <input type="text" class="form-control" name="planned-disbursement-value{% if key %}-{{ key }}{% endif %}" id="planned-disbursement-value{% if key %}-{{ key }}{% endif %}" placeholder="{% trans 'Planned disbursement value' %}"
                    {% if pd.value %} value="{{pd.value}}" {% endif %}>
                </div>
                <label class="control-label" for="planned-disbursement-value{% if key %}-{{ key }}{% endif %}">{% trans 'Planned disbursement value' %}</label>
                <p class="help-block hidden">{% trans 'This should only be used to report specific planned cash transfers. ' %}</p>
            </div>
            <div class="col-md-6 control">
                <input type="date" class="form-control priority2" name="planned-disbursement-value-date{% if key %}-{{ key }}{% endif %}" id="planned-disbursement-value-date{% if key %}-{{ key }}{% endif %}" placeholder="{% trans 'Planned disbursement value date' %}"
                {% if pd.value_date %} value="{{pd.value_date|date:'c'}}" {% endif %}>
                <label class="control-label" for="planned-disbursement-value-date{% if key %}-{{ key }}{% endif %}">{% trans 'Planned disbursement value date' %}</label>
                <p class="help-block hidden">{% trans 'Specific date or predictable period for the planned disbursement value.' %}</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="select-group control">
            <select name="planned-disbursement-type{% if key %}-{{ key }}{% endif %}" id="planned-disbursement-type{% if key %}-{{ key }}{% endif %}" class="form-control priority2">
                <option value="" {% if not pd.type %} selected="selected" {% endif %}>{% trans 'Planned disbursement type' %}:</option>
                {% for entry in budget_types %}
                    <option value="{{ entry.code }}" {% if pd.type == entry.code %} selected="selected" {% endif %}>{{ entry.code }} - {{ entry.name }}</option>
                {% endfor %}  
            </select>
            <label for="planned-disbursement-type{% if key %}-{{ key }}{% endif %}" class="control-label">{% trans 'Planned disbursement type' %}</label>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6 control">
                <input type="date" class="form-control priority2" name="planned-disbursement-period-start{% if key %}-{{ key }}{% endif %}" id="planned-disbursement-period-start{% if key %}-{{ key }}{% endif %}" placeholder="{% trans 'Planned disbursement period start' %}"
                {% if pd.period_start %} value="{{pd.period_start|date:'c'}}" {% endif %}>
                <label class="control-label" for="planned-disbursement-period-start{% if key %}-{{ key }}{% endif %}">{% trans 'Planned disbursement period start' %}</label>
                <p class="help-block hidden">{% trans 'The exact date of the planned disbursement OR the starting date for the disbursement period.' %}</p>
            </div>
            <div class="col-md-6 control">
                <input type="date" class="form-control priority2" name="planned-disbursement-period-end{% if key %}-{{ key }}{% endif %}" id="planned-disbursement-period-end{% if key %}-{{ key }}{% endif %}" placeholder="{% trans 'Planned disbursement period end' %}"
                {% if pd.period_end %} value="{{pd.period_end|date:'c'}}" {% endif %}>
                <label class="control-label" for="planned-disbursement-period-end{% if key %}-{{ key }}{% endif %}">{% trans 'Planned disbursement period end' %}</label>
                <p class="help-block hidden">{% trans 'The ending date for the disbursement period.' %}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center" id="delete-planned-disbursement{% if key %}-{{ key }}{% endif %}">
            <a onclick="removePartial(this);" class="btn btn-link delete-object-button" id="delete-planned-disbursement{% if key %}-{{ key }}{% endif %}"><span class="glyphicon glyphicon-remove"></span> {% trans 'Delete planned disbursement' %}</a>
        </div>
    </div>
</div>
