<div class="policy-marker-item">
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <div class="select-group control">
                    <select name="policyMarker" id="policyMarker" class="form-control">
                        <option value="" {% if not marker.policy_marker %} selected="selected" {% endif %}>
                            Policy marker:
                        </option>
                        {% for pm in policy_marker %}
                            {% if not pm.0 == "code" %}
                                <option value="pm.0" {% if pm.0 == marker.policy_marker %} selected="selected" {% endif %}>
                                    {{pm.0}} - {{pm.1}}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label class="control-label" for="policyMarker">Policy marker</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="select-group control">
                    <select name="policyMarkerSignificance" id="policyMarkerSignificance" class="form-control">
                        <option value="" {% if not marker.significance %} selected="selected" {% endif %}>
                            Policy marker significance
                        </option>
                        {% for ps in policy_significance %}
                            {% if not ps.0 == "code" %}
                                <option value="ps.0" {% if ps.0 == marker.significance %} selected="selected" {% endif %}>
                                    {{ps.0}} - {{ps.1}}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label class="control-label" for="policyMarkerSignificance">Policy marker significance</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="select-group control">
                    <select name="policyMarkerVocabulary" id="policyMarkerVocabulary" class="form-control">
                        <option value="" {% if not marker.vocabulary %} selected="selected" {% endif %}>
                            Policy marker vocabulary
                        </option>
                        {% for pmv in policy_marker_vocabulary %}
                            {% if not pmv.0 == "code" %}
                                <option value="pmv.0" {% if pmv.0 == marker.vocabulary %} selected="selected" {% endif %}>
                                    {{pmv.0}} - {{pmv.1}}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label class="control-label" for="policyMarkerVocabulary">Policy marker vocabulary</label>
                </div>
            </div>
            <div class="col-md-6 control">
                <input type="text" class="form-control" id="policyMarkerDescription" placeholder="Policy marker description"
                {% if marker.description %} value="{{marker.description}}" {% endif %}>
                <label class="control-label" for="policyMarkerVocabulary">Policy marker description</label>
            </div>         
        </div>
    </div>
</div>