<div class="policy-marker-item">
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <div class="select-group control">
                   <select name="policyMarker{% if marker %}-{{ marker.pk }}{% endif %}" id="policyMarker{% if marker %}-{{ marker.pk }}{% endif %}" class="form-control">
                        <option value="" {% if not marker.policy_marker %} selected="selected" {% endif %}>Policy marker:</option>
                        {% for policy_marker in policy_markers %}
                            <option value="{{ policy_marker.code }}" {% if marker.policy_marker == policy_marker.code %} selected="selected" {% endif %}>{{ policy_marker.code }} - {{ policy_marker.name }}</option>
                        {% endfor %}
                    </select>
                    <label class="control-label" for="policyMarker">Policy marker</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="select-group control">
                    <select name="policyMarkerSignificance{% if marker %}-{{ marker.pk }}{% endif %}" id="policyMarkerSignificance{% if marker %}-{{ marker.pk }}{% endif %}" class="form-control">
                        <option value="" {% if not marker.significance %} selected="selected" {% endif %}>Policy marker significance</option>
                        {% for significance in policy_significances %}
                            <option value="{{ significance.code }}" {% if marker.significance == significance.code %} selected="selected" {% endif %}>{{ significance.code }} - {{ significance.name }}</option>
                        {% endfor %}
                    </select>
                    <label class="control-label" for="policyMarkerSignificance">Policy marker significance</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="select-group control">
                    <select name="policyMarkerVocabulary{% if marker %}-{{ marker.pk }}{% endif %}" id="policyMarkerVocabulary{% if marker %}-{{ marker.pk }}{% endif %}" class="form-control">
                        <option value="" {% if not marker.vocabulary %} selected="selected" {% endif %}>Policy marker vocabulary</option>
                        {% for vocabulary in policy_marker_vocabularies %}
                            <option value="{{ vocabulary.code }}" {% if marker.vocabulary == vocabulary.code %} selected="selected" {% endif %}>{{ vocabulary.code }} - {{ vocabulary.name }}</option>
                        {% endfor %}
                    </select>
                    <label class="control-label" for="policyMarkerVocabulary">Policy marker vocabulary</label>
                </div>
            </div>
            <div class="col-md-6 control">
                <input type="text" class="form-control" id="policyMarkerDescription{% if marker %}-{{ marker.pk }}{% endif %}" name="policyMarkerDescription{% if marker %}-{{ marker.pk }}{% endif %}" placeholder="Policy marker description" {% if marker.description %} value="{{marker.description}}" {% endif %}>
                <label class="control-label" for="policyMarkerVocabulary">Policy marker description</label>
            </div>         
        </div>
    </div>
</div>