<div class="project-location-item parent" id="project_location{% if key %}-{{ key }}{% endif %}">
    <div class="form-group">
        <div class="row">
            <div class="col-md-6 control">
                <input type="text" class="form-control priority1" id="location-latitude{% if key %}-{{ key }}{% endif %}" name="location-latitude{% if key %}-{{ key }}{% endif %}"
                placeholder="Latitude" {% if location.latitude %}
                value="{{location.latitude}}" {% endif %}>
                <label class="control-label" for="location-latitude{% if key %}-{{ key }}{% endif %}">Latitude</label>
            </div>
            <div class="col-md-6 control">
                <input type="text" class="form-control priority1" id="location-longitude{% if key %}-{{ key }}{% endif %}" name="location-longitude{% if key %}-{{ key }}{% endif %}"
                placeholder="Longitude" {% if location.longitude %}
                value="{{location.longitude}}" {% endif %}>
                <label class="control-label" for="location-longitude{% if key %}-{{ key }}{% endif %}">Longitude</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="select-group control">
            <select name="location-country{% if key %}-{{ key }}{% endif %}" id="location-country{% if key %}-{{ key }}{% endif %}" class="form-control priority1">
                <option value="" {% if not location.country %} selected="selected" {% endif %}>Country:</option>
                {% for country in countries %}
                    <option value="{{ country.id }}" {% if location.country == country %} selected="selected" {% endif %}>{{ country.name }}</option>
                {% endfor %}
            </select>
            <label for="location-country{% if key %}-{{ key }}{% endif %}" class="control-label">Country</label>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4 control">
                <input type="text" class="form-control priority2" id="location-city{% if key %}-{{ key }}{% endif %}" name="location-city{% if key %}-{{ key }}{% endif %}" placeholder="City"
                {% if location.city %} value="{{location.city}}" {% endif %}>
                <label class="control-label" for="location-city{% if key %}-{{ key }}{% endif %}">City</label>
            </div>
            <div class="col-md-4 control">
                <input type="text" class="form-control priority2" id="location-postal-code{% if key %}-{{ key }}{% endif %}" name="location-postal-code{% if key %}-{{ key }}{% endif %}" placeholder="Postal code"
                {% if location.postcode %} value="{{location.postcode}}" {% endif %}>
                <label class="control-label" for="location-postal-code{% if key %}-{{ key }}{% endif %}">Postal code</label>
            </div>
            <div class="col-md-4 control">
                <input type="text" class="form-control priority2" id="location-state{% if key %}-{{ key }}{% endif %}" name="location-state{% if key %}-{{ key }}{% endif %}" placeholder="State"
                {% if location.state %} value="{{location.state}}" {% endif %}>
                <label class="control-label" for="location-state{% if key %}-{{ key }}{% endif %}">State</label>
            </div>
        </div>
    </div>
    <div class="form-group control">
        <input type="text" class="form-control priority2" id="location-address1{% if key %}-{{ key }}{% endif %}" name="location-address1{% if key %}-{{ key }}{% endif %}" placeholder="Address 1" {% if location.address_1 %} value="{{location.address_1}}" {% endif %}>
        <label class="control-label" for="location-address1{% if key %}-{{ key }}{% endif %}">Address 1</label>
    </div>
    <div class="form-group control">
        <input type="text" class="form-control priority2" id="location-address2{% if key %}-{{ key }}{% endif %}" name="location-address2{% if key %}-{{ key }}{% endif %}" placeholder="Address 2" {% if location.address_2 %} value="{{location.address_2}}" {% endif %}>
        <label class="control-label" for="location-address2{% if key %}-{{ key }}{% endif %}">Address 2</label>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4 control">
                <input type="text" class="form-control priority3" id="location-reference{% if key %}-{{ key }}{% endif %}" name="location-reference{% if key %}-{{ key }}{% endif %}" placeholder="Reference" {% if location.reference %} value="{{location.reference}}" {% endif %}>
                <label class="control-label" for="location-reference{% if key %}-{{ key }}{% endif %}">Reference</label>
            </div>
            <div class="col-md-4 control">
                <input type="text" class="form-control priority3" id="location-code{% if key %}-{{ key }}{% endif %}" name="location-code{% if key %}-{{ key }}{% endif %}" placeholder="Code" {% if location.location_code %} value="{{location.location_code}}" {% endif %}>
                <label class="control-label" for="location-code{% if key %}-{{ key }}{% endif %}">Code</label>
            </div>
            <div class="col-md-4 control">
                <input type="text" class="form-control priority3" id="location-name{% if key %}-{{ key }}{% endif %}" name="location-name{% if key %}-{{ key }}{% endif %}" placeholder="Name" {% if location.name %} value="{{location.name}}" {% endif %}>
                <label class="control-label" for="location-name{% if key %}-{{ key }}{% endif %}">Name</label>
            </div>
        </div>
    </div>
    <div class="form-group control">
        <textarea id="location-description{% if key %}-{{ key }}{% endif %}" class="form-control priority3" name="location-description{% if key %}-{{ key }}{% endif %}" placeholder="Type in a location description">{{location.description}}</textarea>
        <label class="control-label" for="location-description{% if key %}-{{ key }}{% endif %}">Description</label>
    </div>
    <div class="form-group control">
        <textarea id="location-activity-description{% if key %}-{{ key }}{% endif %}" class="form-control priority3" name="location-activity-description{% if key %}-{{ key }}{% endif %}" placeholder="Type in a location activity description">{{location.activity_description}}</textarea>
        <label class="control-label" for="location-activity-description{% if key %}-{{ key }}{% endif %}">Activity description</label>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <div class="select-group control">
                    <select name="location-exactness{% if key %}-{{ key }}{% endif %}" id="location-exactness{% if key %}-{{ key }}{% endif %}" class="form-control priority3">
                        <option value="" {% if not location.exactness %} selected="selected" {% endif %}>Exactness:</option>
                        {% for exactness in geographic_exactnesses %}
                            <option value="{{ exactness.code }}" {% if location.exactness == exactness.code %} selected="selected" {% endif %}>{{ exactness.code }} - {{ exactness.name }}</option>
                        {% endfor %}
                    </select>
                    <label class="control-label" for="location-exactness{% if key %}-{{ key }}{% endif %}">Exactness</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="select-group control">
                    <select name="location-reach{% if key %}-{{ key }}{% endif %}" id="location-reach{% if key %}-{{ key }}{% endif %}" class="form-control priority3">
                        <option value="" {% if not location.location_reach %} selected="selected" {% endif %}>Reach:</option>
                        {% for reach in geographic_location_reaches %}
                            <option value="{{ reach.code }}" {% if location.location_reach == reach.code %} selected="selected" {% endif %}>{{ reach.code }} - {{ reach.name }}</option>
                        {% endfor %}
                    </select>
                    <label class="control-label" for="location-reach{% if key %}-{{ key }}{% endif %}">Reach</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <div class="select-group control">
                    <select name="location-class{% if key %}-{{ key }}{% endif %}" id="location-class{% if key %}-{{ key }}{% endif %}" class="form-control priority3">
                        <option value="" {% if not location.location_class %} selected="selected" {% endif %}>Class:</option>
                        {% for class in geographic_location_classes %}
                            <option value="{{ class.code }}" {% if location.location_class == class.code %} selected="selected" {% endif %}>{{ class.code }} - {{ class.name }}</option>
                        {% endfor %}
                    </select>
                    <label class="control-label" for="location-class{% if key %}-{{ key }}{% endif %}">Class</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="select-group control">
                    <select name="location-feature-designation{% if key %}-{{ key }}{% endif %}" id="location-feature-designation{% if key %}-{{ key }}{% endif %}" class="form-control priority3">
                        <option value="" selected="selected">Feature designation</option>
                        {% for location_type in location_types %}
                            <option value="{{ location_type.code }}" {% if location.feature_designation == location_type.code %} selected="selected" {% endif %}>{{ location_type.code }} - {{ location_type.name }}</option>
                        {% endfor %}
                    </select>
                    <label class="control-label" for="location-feature-designation{% if key %}-{{ key }}{% endif %}">Feature designation</label>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="location-administrative-container">
        {% for admin in location.administratives.all %}
            {% include "myrsr/project_admin_partials/location_administrative_input.html" with key=admin.pk %}
        {% empty %}
            {% include "myrsr/project_admin_partials/location_administrative_input.html" with key='add-0' %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="#" class="btn btn-link" id="add-location-administrative"><span class="glyphicon glyphicon-plus"></span> Add another administrative</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center" id="delete-location{% if key %}-{{ key }}{% endif %}">
            <a onclick="removePartial(this);" class="btn btn-link delete-object-button" id="delete-location{% if key %}-{{ key }}{% endif %}"><span class="glyphicon glyphicon-remove"></span> Delete location</a>
        </div>
    </div>
    <hr/>
</div>