<div class="recipient-country-item">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <div class="select-group control">
                    <select name="recipientCountry{% if rc %}-{{ rc.pk }}{% endif %}" id="recipientCountry{% if rc %}-{{ rc.pk }}{% endif %}" class="form-control priority3">
                        <option value="" {% if not rc %} selected="selected" {% endif %}>Recipient country:</option>
                        {% for country in iati_countries %}
                            <option value="{{ country.code }}" {% if rc.country == country.code %} selected="selected" {% endif %}>{{ country.code }} - {{ country.name }}</option>
                        {% endfor %}
                    </select>
                    <label class="control-label" for="recipientCountry">Recipient country</label>
                </div>
            </div>
            <div class="col-md-4 control">
                <input type="text" class="form-control priority3" id="recipientCountryPercentage"
                name="recipientCountryPercentage{% if rc %}-{{ rc.pk }}{% endif %}" placeholder="Percentage"
                {% if rc.percentage %} value="{{rc.percentage}}" {% endif %}>
                <label class="control-label" for="recipientCountryPercentage">Recipient country percentage</label>
            </div>
             <div class="col-md-4 control">
                <input type="text" class="form-control priority3" id="recipientCountryDescription"
                name="recipientCountryDescription{% if rc %}-{{ rc.pk }}{% endif %}" placeholder="Country description"
                {% if rc.text %} value="{{rc.text}}" {% endif %}>
                <label class="control-label" for="recipientCountryDescription">Recipient country description</label>
            </div>       
        </div>
    </div>
</div>
