<div class="related-project-item parent" id="related_project{% if key %}-{{ key }}{% endif %}">
    <hr/>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4 control">
                <input type="text" class="form-control" id="related-project-project{% if key %}-{{ key }}{% endif %}" placeholder="Related project"
                name="related-project-project{% if key %}-{{ key }}{% endif %}"
                {% if rp %} value={{ rp.related_project.title }} {% endif %} />
                <label for="related-project-project{% if key %}-{{ key }}{% endif %}" class="control-label">Related project</label>
                <p class="help-block hidden">A related that is present in RSR. If the related project is not present in RSR, please only fill in the IATI activity identifier.</p>
            </div>
            <div class="col-md-4 control">
                <input type="text" class="form-control" id="related-project-iati-identifier{% if key %}-{{ key }}{% endif %}"
                placeholder="Related project IATI identifier" name="related-project-iati-identifier{% if key %}-{{ key }}{% endif %}"
                {% if rp %} value="{{rp.related_iati_id}}" {% endif %} maxlength="100" />
                <label for="related-project-iati-identifier{% if key %}-{{ key }}{% endif %}" class="control-label">Related project IATI identifier</label>
                <p class="help-block hidden">The IATI activity identifier for the related project. Fill this in if the related project does not exist in RSR.</p>
            </div>
            <div class="col-md-4 control">
                <div class="select-group">
                    <select name="related-project-relation{% if key %}-{{ key }}{% endif %}" id="related-project-relation{% if key %}-{{ key }}{% endif %}" class="form-control">
                        <option value="" {% if not rp.relation %} selected="selected" {% endif %}>Type:</option>
                        <option value="1" {% if rp.relation|add:0 == 1 %} selected="selected" {% endif %}>1 - Parent</option>
                        <option value="2" {% if rp.relation|add:0 == 2 %} selected="selected" {% endif %}>2 - Child</option>
                        <option value="3" {% if rp.relation|add:0 == 3 %} selected="selected" {% endif %}>3 - Sibling</option>
                        <option value="4" {% if rp.relation|add:0 == 4 %} selected="selected" {% endif %}>4 - Co-funded</option>
                        <option value="5" {% if rp.relation|add:0 == 5 %} selected="selected" {% endif %}>5 - Third party</option>
                    </select>
                    <label for="related-project-relation{% if key %}-{{ key }}{% endif %}" class="control-label">Type</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center" id="delete-related-project{% if key %}-{{ key }}{% endif %}">
                <a onclick="return removePartial(this);" class="btn btn-link" id="delete-related-project{% if key %}-{{ key }}{% endif %}"><span class="glyphicon glyphicon-remove"></span> Delete related project</a>
            </div>
        </div>
    </div>
</div>