{% load i18n %}
<div class="sector-item parent" id="sector{% if key %}-{{ key }}{% endif %}">
    <div class="form-group">
        {% if not forloop.first and key != 'add-0' %}<hr/>{% endif %}
        <div class="row">
            <div class="col-md-6 control">
                <input type="text" class="form-control priority1" id="sector-code{% if key %}-{{ key }}{% endif %}" name="sector-code{% if key %}-{{ key }}{% endif %}" placeholder="{% trans 'Sector code' %}" {% if sector.sector_code %} value="{{sector.sector_code}}" {% endif %}>
                <label class="control-label" for="sector-code{% if key %}-{{ key }}{% endif %}">{% trans 'Sector code' %}</label>
                <p class="help-block hidden">{% trans 'This provides the code for the sector and is based on DAC sectors.' %}</p>
            </div>
            <div class="col-md-6 control">
                <div class="input-group priority2">
                    <input type="text" class="form-control" id="sector-percentage{% if key %}-{{ key }}{% endif %}" name="sector-percentage{% if key %}-{{ key }}{% endif %}" placeholder="{% trans 'Sector percentage' %}" {% if sector.percentage %} value="{{sector.percentage}}" {% endif %}>
                    <span class="input-group-addon">%</span>
                </div>
                <label class="control-label" for="sector-percentage{% if key %}-{{ key }}{% endif %}">{% trans 'Sector percentage' %}</label>
                <p class="help-block hidden">{% trans 'If the activity occurs in more than one sector, the percentage of activity commitment allocated to each sector should be provided if available. Percentages should add up to 100% of the activity being reported if they are shown for each sector.' %}</p>
            </div>
            <div class="col-md-6 control">
                <div class="select-group">
                    <select name="sector-vocabulary{% if key %}-{{ key }}{% endif %}" id="sector-vocabulary{% if key %}-{{ key }}{% endif %}" class="form-control priority2">
                        <option value="" {% if not sector.vocabulary %} selected="selected" {% endif %}>{% trans 'Sector vocabulary' %}:</option>
                        {% for vocabulary in sector_vocabularies %}
                            <option value="{{ vocabulary.code }}" {% if sector.vocabulary == vocabulary.code %} selected="selected" {% endif %}>{{ vocabulary.code }} - {{ vocabulary.name }}</option>
                        {% endfor %}
                    </select>
                    <label class="control-label" for="sector-vocabulary{% if key %}-{{ key }}{% endif %}">{% trans 'Sector vocabulary' %}</label>
                    <p class="help-block hidden">{% trans 'This is the code for the vocabulary used to describe the sector. This differentiates between DAC, ISO, COFOG, ADT (AidData) or WB (World Bank) vocabulary. If no code is given, it is assumed that DAC sectors are being used. Sectors should be mapped to DAC sectors where possible to enable international comparison.' %}</p>
                </div>
            </div>
            <div class="col-md-6 control">
                <input type="text" class="form-control priority2" id="sector-description{% if key %}-{{ key }}{% endif %}" name="sector-description{% if key %}-{{ key }}{% endif %}" placeholder="{% trans 'Sector description' %}" {% if sector.text %} value="{{sector.text}}" {% endif %} maxlength="100">
                <label class="control-label" for="sector-description{% if key %}-{{ key }}{% endif %}">{% trans 'Sector description' %}</label>
            </div>        
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center" id="delete-sector{% if key %}-{{ key }}{% endif %}">
                <a class="btn btn-link delete-object-button" id="delete-sector{% if key %}-{{ key }}{% endif %}"><span class="glyphicon glyphicon-remove"></span> {% trans 'Delete sector' %}</a>
            </div>
        </div>
    </div>
</div>
