<div class="transaction-item">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4 control">
                <input type="number" step="any" class="form-control" id="transactionValue" placeholder="Transaction value"
                {% if transaction.value %} value="{{transaction.value}}" {% endif %}>
                <label class="control-label" for="transactionValue">Transaction value</label>
            </div>
            <div class="col-md-4 control">
                <input type="date" class="form-control" id="transactionDate" placeholder="Transaction date"
                {% if transaction.transaction_date %} value="{{transaction.transaction_date|date:'c'}}" {% endif %}>
                <label class="control-label" for="transactionDate">Transaction date</label>
            </div>
            <div class="col-md-4 control">
                <input type="text" class="form-control" id="transactionValueDate" placeholder="Transaction value date"
                {% if transaction.value_date %} value="{{transaction.value_date|date:'c'}}" {% endif %}>
                <label class="control-label" for="transactionValueDate">Transaction value date</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6 control">
                <input type="text" class="form-control" id="transactionReference" placeholder="Transaction reference"
                {% if transaction.reference %} value="{{transaction.reference}}" {% endif %}>
                <label class="control-label" for="transactionReference">Transaction reference</label>
            </div>
            <div class="col-md-6 control">
                <input type="text" class="form-control" id="transactionDescription" placeholder="Transaction description"
                {% if transaction.description %} value="{{transaction.description}}" {% endif %}>
                <label class="control-label" for="transactionDescription">Transaction description</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6 control">
                <select class="form-control" id="providerOrganisation" placeholder="Provider organisation">
                    <option {% if not transaction.provider_organisation %} selected="selected" {% endif %}>
                        Provider organisation:
                    </option>
                    {% for org in organisation %}
                        <option value="{{org.id}}" 
                        {% if transaction.provider_organisation.name == org.name %} selected="selected" {% endif %}>
                            {{org.name}}
                        </option>
                    {% endfor %}
                </select>  
                <label class="control-label" for="providerOrganisation">Provider organisation</label>
            </div>
            <div class="col-md-6 control">
                <input type="text" class="form-control" id="providerOrganisationActivityId" placeholder="Provider organisation activity id"
                {% if transaction.provider_organisation_activity %} value="{{transaction.provider_organisation_activity}}" {% endif %}>
                <label class="control-label" for="providerOrganisationActivityId">Provider organisation activity id</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6 control">
                <select class="form-control" id="receiverOrganisation" placeholder="Receiver organisation">
                    <option {% if not transaction.receiver_organisation %} selected="selected" {% endif %}>
                        Receiver organisation:
                    </option>
                    {% for org in organisation %}
                        <option value="{{org.id}}" 
                        {% if transaction.receiver_organisation.name == org.name %} selected="selected" {% endif %}>
                            {{org.name}}
                        </option>
                    {% endfor %}
                </select> 
                <label class="control-label" for="receiverOrganisation">Receiver organisation</label>
            </div>
            <div class="col-md-6 control">
                <input type="text" class="form-control" id="receiverOrganisationActivityId" placeholder="Receiver organisation activity id"
                {% if transaction.receiver_organisation_activity %} value="{{transaction.receiver_organisation_activity}}" {% endif %}>
                <label class="control-label" for="receiverOrganisationActivityId">Receiver organisation activity id</label>
            </div>
        </div>
    </div>
    {% if project.sectors.all %}
        {% for sector in project.sectors.all %}
            {% include "myrsr/project_admin_partials/transaction_sector_input.html" %}
        {% endfor %}
    {% else %}
        {% include "myrsr/project_admin_partials/transaction_sector_input.html" %}
    {% endif %}  
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="btn btn-link" id="add-transaction-sector"><span class="glyphicon glyphicon-plus"></span> Add another transaction sector</a>
        </div>
    </div>
    <div class="form-group">
        <div class="select-group control">
            <select name="defaultAidType" id="transactionAidType" class="form-control">
                <option value="" {% if not transaction.aid_type %} selected="selected" {% endif %}>
                    Transaction aid type:
                </option>
                {% for entry in aid_types %}
                    {% if not entry.0 == "code" %}
                        <option value="{{entry.0}}" {% if transaction.aid_type == entry.0 %} selected="selected" {% endif %}>
                            {{entry.0}} - {{entry.2}}
                        </option>
                    {% endif %}
                {% endfor %}             
            </select>
            <label for="transactionAidType" class="control-label">Transaction aid type</label>
        </div>
    </div>
    <div class="form-group">
        <div class="select-group control">
            <select name="transactionDisbursementChannel" id="transactionDisbursementChannel" class="form-control">
                <option value="" {% if not transaction.disbursement_channel %} selected="selected" {% endif %}>
                    Transaction disbursement channel:
                </option>
                {% for entry in disbursement_channel %}
                    {% if not entry.0 == "code" %}
                        <option value="{{entry.0}}" {% if transaction.disbursement_channel == entry.0 %} selected="selected" {% endif %}>
                            {{entry.0}} - {{entry.2}}
                        </option>
                    {% endif %}
                {% endfor %} 
            </select>
            <label for="transactionDisbursementChannel" class="control-label">Transaction disbursement channel</label>
        </div>
    </div>
    <div class="form-group">
        <div class="select-group control">
            <select name="transactionFinanceType" id="transactionFinanceType" class="form-control">
                <option value="" {% if not transaction.finance_type %} selected="selected" {% endif %}>Transaction finance type:</option>
                {% for entry in finance_type %}
                    {% if not entry.0 == "code" %}
                        <option value="{{entry.0}}" {% if transaction.finance_type == entry.0 %} selected="selected" {% endif %}>
                            {{entry.0}} - {{entry.2}}
                        </option>
                    {% endif %}
                {% endfor %} 
            </select>
            <label for="transactionFinanceType" class="control-label">Transaction finance type</label>
        </div>
    </div>
    <div class="form-group">
        <div class="select-group control">
            <select name="transactionFlowType" id="transactionFlowType" class="form-control">
                <option value="" {% if not transaction.flow_type %} selected="selected" {% endif %}>Transaction flow type:</option>
                {% for entry in flow_types %}
                    {% if not entry.0 == "code" %}
                        <option value="{{entry.0}}" {% if transaction.flow_type == entry.0 %} selected="selected" {% endif %}>
                            {{entry.0}} - {{entry.1}}
                        </option>
                    {% endif %}
                {% endfor %} 
            </select>
            <label for="transactionFlowType" class="control-label">Transaction flow type</label>
        </div>
    </div>
    <div class="form-group">
        <div class="select-group control">
            <select name="transactionTiedStatus" id="transactionTiedStatus" class="form-control">
                <option value="" {% if not transaction.tied_status %} selected="selected" {% endif %}>Transaction tied status:</option>
                {% for entry in tied_status %}
                    {% if not entry.0 == "code" %}
                        <option value="{{entry.0}}" {% if transaction.tied_status == entry.0 %} selected="selected" {% endif %}>
                            {{entry.0}} - {{entry.1}}
                        </option>
                    {% endif %}
                {% endfor %} 
            </select>
            <label for="transactionTiedStatus" class="control-label">Transaction tied status</label>
        </div>
    </div>
    <div class="form-group">
        <div class="select-group control">
            <select name="transactionRecipientCountry" id="transactionRecipientCountry" class="form-control">
                <option value="" {% if not transaction.recipient_country %} selected="selected" {% endif %}>Transaction recipient country:</option>
                {% for entry in codelist_country %}
                    {% if not entry.0 == "code" %}
                        <option value="{{entry.0}}" {% if transaction.recipient_country == entry.0 %} selected="selected" {% endif %}>
                            {{entry.0}} - {{entry.1}}
                        </option>
                    {% endif %}
                {% endfor %} 
            </select>
            <label class="control-label" for="transactionRecipientCountry">Transaction recipient country</label>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6 control">
                <div class="select-group">
                    <select name="transactionRecipientRegion" id="transactionRecipientRegion" class="form-control">
                        <option value="" {% if not transaction.recipient_region %} selected="selected" {% endif %}>Transaction recipient region:</option>
                        {% for entry in region %}
                            {% if not entry.0 == "code" %}
                                <option value="{{entry.0}}" {% if transaction.recipient_region == entry.0 %} selected="selected" {% endif %}>
                                    {{entry.0}} - {{entry.1}}
                                </option>
                            {% endif %}
                        {% endfor %} 
                    </select>
                    <label class="control-label" for="transactionRecipientRegion">Transaction recipient region</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="select-group control">
                    <select name="transactionRecipientRegionVocabulary" id="transactionRecipientRegionVocabulary" class="form-control">
                        <option value="" {% if not transaction.recipient_region_vobacbulary %} selected="selected" {% endif %}>Recipient region vocabulary:</option>
                        {% for entry in region_vocabulary %}
                            {% if not entry.0 == "code" %}
                                <option value="{{entry.0}}" {% if transaction.recipient_region_vocabulary == entry.0 %} selected="selected" {% endif %}>
                                    {{entry.0}} - {{entry.1}}
                                </option>
                            {% endif %}
                        {% endfor %} 
                    </select>
                    <label class="control-label" for="transactionRecipientRegionVocabulary">Recipient region vocabulary</label>
                </div>
            </div>
        </div>
    </div>
</div>
