/*generic container (i.e. div) for floating buttons */ /*
.clear { 
    overflow: hidden;
    width: 100%;
}
*/

a.march_button {
    background: transparent url('../img/march/a_button_a.gif') no-repeat scroll top right;
    color: #444;
	color: #0073BC;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.march_button span {
    background: transparent url('../img/march/a_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 
a.march_button:active {
    background-position: bottom right;
    color: #000;
	color: #0073BC;
    outline: none; /* hide dotted outline in Firefox */
}

a.march_button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

a.march_button:hover {
    color:#0066FF;
}

h3 {
    font-size:1.1em;
    margin-bottom:3px;
}

.marchGrey {
    color:#999 !important;
}

.green {
	color:#008c00;
}

.red {
	color:#ec0056;
}

.black {
    color:#000;
}


/* -------
*/

/* fundingbox */

.fundingwrap {
	margin:0;
	padding:0;
	text-align:center;
	font-size:1.0em;
}

.fundingbox-header {
	background: transparent url('../img/fundingbox-header.gif') no-repeat top left;
	height:5px;
	width:172px;
	overflow:hidden;
	margin:5px auto 0px auto;
}
.fundingbox-footer {
	height:6px;
	background: transparent url('../img/fundingbox-footer.gif') no-repeat top;
	width:172px;
	overflow:hidden;
	margin:0px auto 5px auto;
}
.fundingbox-content {
	background: transparent url('../img/fundingbox-content.gif') repeat-y;
	width:172px;
	margin:0px auto 0px auto;
	overflow:hidden;
	text-align:center;
}

table.fundingbox-table  {
	width:162px;
	margin: 5px 5px 0px 5px;
	padding-left:3px;
	padding-right:3px;
}

table.fullyfunded-table {
	width:120px !important;
	margin: 30px auto 10px auto !important;
}


table.fullyfunded-table th {
	text-align:right !important;
}
table.fullyfunded-table td {
	text-align:left !important;
}


.fundingbox-table th {
	/*background-color:#ccc;*/
	/*padding:1px;*/
	padding: 0px 1px 0px 1px;
	margin: 2px 0px 0px 0px;
}

.fundingbox-table td {
	/*background-color:#f2f2f2;*/
	text-align:right;
	/*padding:1px;*/
	padding: 0px 1px 0px 1px;
	margin: 2px 0px 0px 0px;
	font-weight:bold;
}

.fundingbox-progress-bar {
	background-color:#ffefeb;
	border:1px solid #625e5b;
	margin:5px 9px 0px 9px;
	padding:0;
	height:12px;
	overflow:hidden;
	text-align:left;
}

.fundingbox-progress-bar-progress {
	background-color:#00b200 !important;
	height:12px;
}

.fundingbox-donate-container {
	width:154px;
	padding:0px 0px 0px 0px;
	margin:3px auto 0px auto;
	text-align:center;
	overflow:hidden;
}

.fundingbox-funded{
	margin: 0px auto 0px auto !important;
	padding:0;
	padding-top:35px;
	width:90%;
	max-width:90%;
	text-align:center;
}

div.fullyfunded-text {
	border-bottom:1px solid #9B9AAC;
	margin:0;
	margin-bottom:10px;
	padding-bottom:10px;
}

.fullyfunded-text p {
	margin:0;
	padding:0;
	color:#008c00 !important;
	font-size:12px; 
	font-weight:bold;
}

.fundingbox-donate-funded {
	border-top:1px solid #9B9AAC; 
	margin-top:5px;
}

.fundingbox-donate-funded p {
	padding:0; 
	margin: 5px 0px 0px 0px;
}

.fundingbox-donate-left p {
	margin:0;
	padding:0;
}


a.fundingbox-donate-left-button {
	color:#000 !important;
	background: transparent url('../img/donate-button.gif') no-repeat;
	display:block;
	width:75px;
	padding-top:5px;
	padding-bottom:6px;
	margin: 5px auto 0px auto;
	overflow:hidden;
}


.fundingbox-donate-right p {
	margin:0;
	padding:0;
}

.fundingbox-donate-right-sponsor {
	display:block; 
	margin-top:10px;
}

/* start new button */


div#donate_individual {
	width:47%; 
	float:left; 
	margin: 0px 0px 3px 0px;
	padding: 0px;
	padding-left:10px;
	font-size:0.9em;
	text-align:center;
	margin-top:10px;
}

div#donate_institutions {
	float:right; 
	width:44%; 
	margin: 0px 0px 3px 0px;
	padding: 0px;
	padding-right:5px;
	text-align:right;
	font-size:0.9em;
	text-align:center;
	margin-top:10px;
}


a.donate_button {
	/*background: transparent url('../../img/donate-button-normal.gif') no-repeat scroll top left;*/
	background: transparent url('../img/button-normal.gif') no-repeat scroll top left;
	color: #000 !important;
	display: block;
	/*float: left;*/
	font: normal 12px arial, sans-serif;
	height: 24px;
	width:75px;
	text-decoration: none !important;
	outline: none;
	margin-top:3px;
}
a.donate_button:hover {
	/*background: transparent url('../../img/donate-button-normal.gif') no-repeat scroll top left;*/
	background: transparent url('../img/button-hover.gif') no-repeat scroll top left;
	color: #000 !important;
	display: block;
	/*float: left;*/
	font: normal 12px arial, sans-serif;
	height: 24px;
	width:75px;
	text-decoration: none !important;
	outline: none;
}
a.donate_button:active {
	/*background: transparent url('../../img/donate-button-pushed.gif') no-repeat scroll top left;*/
	background: transparent url('../img/button-pushed.gif') no-repeat scroll top left;
	color: #fff !important;
	display: block;
	/*float: left;*/
	font: normal 12px arial, sans-serif;
	height: 24px;
	width:75px;
	text-decoration: none !important;
	outline: none;
}

/*
a.donate_button:focus {
	background: transparent url('../../img/donate-button-pushed.gif') no-repeat scroll top left;
	color: #000 !important;
	display: block;
	font: normal 12px arial, sans-serif;
	height: 24px;
	width:75px;
	text-decoration: none !important;
	outline: none;
}
*/

a.donate_button span {
    display: block;
    line-height: 14px;
	padding:5px;
    /*padding: 5px 0 5px 18px;*/
}

/* stop new button */


/* fundingbox grid*/
div.widget_donate_box-span-1, div.widget_donate_box-span-2 {float:left;margin-right:4px;}
.widget_donate_box-last, div.widget_donate_box-last {margin-right:0;}
.widget_donate_box-span-1 {width:75px;}
.widget_donate_box-span-2, div.widget_donate_box-span-2 {width:154px;margin:0;}
input.widget_donate_box-span-1, textarea.widget_donate_box-span-1, select.widget_donate_box-span-1 {width:75px!important;}
input.widget_donate_box-span-2, textarea.widget_donate_box-span-2, select.widget_donate_box-span-2 {width:144px!important;}
.widget_donate_box-first {margin-left:0;padding-left:0;}
.widget_donate_box-last {margin-right:0;padding-right:0;}