/* 
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
 */

/* box-level
-------------------------------------------------------------------------------------- */

#outer_leftwing
{
float: left;
width: 210px;
}

#outer_rightwing
{
float: right;
width: 750px;
}

/* Drupal
-------------------------------------------------------------------------------------- */

ul.menu,
ul.item-list
{
padding: 0 20px;
margin: 0;
list-style-type: none;
}

ul.menu li,
ul.item-list li
{
background-image: url(/rsr/media/img/arrow.png);
background-repeat: no-repeat;
background-position: 0 .2em;
padding-left: 1.2em;
padding-bottom: 0.5em
}

.item-list
{
padding: 20px 20px;
}

/* Ubercart
-------------------------------------------------------------------------------------- */

#store-footer {
  display:none;
}

/* Headings
-------------------------------------------------------------------------------------- */

h1.section, .boxhead h1
{
font-size: 1.2em;
font-weight: bold;
padding: 10px 20px;
}

h2
{
font-weight: bold;
font-size: 1.2em;
padding: 20px 20px 10px 20px;
}

h3
{
font-weight: bold;
font-size: 1em;
padding: 20px 20px 5px 20px;
}

/* generic tags
-------------------------------------------------------------------------------------- */

blockquote 
{
margin: 20px 30px 20px;
background-color:#fef9db;
padding:8px
}

code
{
margin: 20px 30px 20px;
background-color:#fef9db;
line-height: 1.5em;
padding: 10px;
}