/* 
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
 */

/* box-level
-------------------------------------------------------------------------------------- */

#outer_leftwing
{
float: left;
width: 710px;
}

#outer_rightwing
{
float: right;
width: 250px;
}

#home_flash_box
{
margin-bottom:  20px;
background-color: #009DE4;
}

#subdetailsleft
{
width: 343px;
float: left;
}

#subdetailsright
{
width: 343px;
float: right;
}

/* box-elements
-------------------------------------------------------------------------------------- */

#project_details_leftwing
{
padding-top: 15px;
width: 220px;
float: left;
border-right: 1px solid #dedede;
}

#project_details_rightwing
{
padding-top: 20px;
margin-left: 230px;
}

#project_details_rightwing div .leftwing
{
float: left;
width: 100px;
background-color: green;
}

#project_details_rightwing div .rightwing
{
background-color: blue;
}

/* system message and error pages
-------------------------------------------------------------------------------------- */
.c1
{
font-size: 1.4em;    
}

.c2
{
margin: 40px auto 50px auto;
width: 400px;
}

.c3
{
text-align: center;
margin: 20px 0 20px 0    
}

#error .c1
{
font-size: 1.6em;
color: red;
font-weight: bold;
text-align: center;
margin: 30px 0;    
}

#error .c2
{
margin: 0 auto;
width: 40%
}

ul.errorlist
{
padding: 20px;
}

/* tables
-------------------------------------------------------------------------------------- */
table.overall_statistics {
    margin: 0 20px;
    width:210px;
}

table.overall_statistics tr td {
    padding:0;
}

p#view_earlier_blog_entries {
    text-align: right; 
    padding-top:15px;   
}

/*
table#overall_statistics {
margin: 0 20px;
}

table#overall_statistics tr td {
    padding:0;
}
*/

/* funding bar
-------------------------------------------------------------------------------------- */

.funding_bar
{
border: 1px solid #999;
margin: 5px 0 5px 0;
padding: 0;
position: relative;
line-height: 0;
}

.funding_pledged
{
line-height: 1.1em;
position:absolute;
top: 5px;
left: 10px;
margin: 0px;
color: #008000;
background-color: transparent;
}

.funding_still_needed
{
line-height: 1.1em;
position:absolute;
top: 5px;
right: 10px;
margin: 0px;
color: red;
}

/* forms
-------------------------------------------------------------------------------------- */

.submit_section_A
{
text-align: center;
width: 200px;
margin: 30px auto;
}

.submit_section_cancel
{
margin-right: 20px; 
line-height: 2em; 
display: block; 
float: left
}

.submit_section_button
{
margin: 0; 
float: right;
}


/* registration form
-------------------------------------------------------------------------------------- */

.about_field {
	margin-left: 82px;
	padding-left: 0;
}

.about_field_extended {
	margin-left: 80px;
	padding-left: 0;	
}

/* sign-in form
-------------------------------------------------------------------------------------- */

form#sign_in {
   	background-color: #D0FFFF;
	width: 500px;
	margin: 20px;
	float: left;
}
form#sign_in fieldset {

}
form#sign_in legend {
	padding: 0 2px;
	font-weight: bold;
	font-size: 1.2em;
	padding: 10px 20px;
}
form#sign_in fieldset ul {
	margin: 0 0 0 50px;
    padding: 0;
    line-height: 1em;
}
form#sign_in fieldset li {
    list-style: none;
    padding: 10px;
    margin: 0;
    line-height: 1em;
}

form#sign_in label {
    font-weight: bold;
    float: left;
    text-align:right;
    line-height: 1em;
    margin: 1.2em 2em 0 0;
}
form#sign_in p.error {
    color: red;
    padding: 0.5em;
    margin: 0.5em;
}

/* headings
-------------------------------------------------------------------------------------- */

h1.section, .boxhead h1
{
font-size: 1.2em;
font-weight: bold;
padding: 10px 20px;
}

h2
{
font-weight: bold;
font-size: 1em;
padding: 20px 20px 5px 20px;
}

h3
{
font-weight: bold;
padding: 20px 20px 10px 0px;
}

.caption
{
color: #999;
font-size: 0.75em;
}

blockquote 
{
margin: 20px 30px 20px;
background-color:#fef9db;
padding:8px
}


table h2
{
font-weight: bold;
padding: 10px 0;
}

/* Live earth
-------------------------------------------------------------------------------------- */

div#live_earth_show {
    background: #000 url('../img/LE-bar-water-bkg3.png') no-repeat;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    /*
    padding-top:181px;
    height:206px;
    */
    padding-top:201px;
    /*height:216px;*/
    height:255px;
    
}
/*
#live_earth_show h1 {
    background: transparent;
    color:#DE481C;
    font-size: 1.2em;
    font-weight: bold;
    margin-left:20px;
    margin-bottom:15px;
}
*/

#live_earth_show p {
    background:transparent;
    /*color:#fff;*/
    color:#ebebeb;
    margin:15px 0;
    line-height:1.6em;
}
#live_earth_show p a {
    color:#04A9BF;
}

#live_earth_show p a:hover {
    text-decoration:underline;
}





