<footer>
    <div class="navbar">
        <div class="container">
            <div class="" id="footer-body">
                <ul class="nav navbar-nav">
                    <li><a href="http://akvo.org/products/rsr/">About RSR</a></li>
                    <li><a href="http://akvo.org/help/help-support/rsr-help/">Support</a></li>
                    <li><a href="https://github.com/akvo/akvo-rsr">Source code</a></li>
                    <li><a href="https://github.com/akvo/akvo-rsr/wiki/RSR_Partner-API">API</a></li>
                    <li><a href="http://akvo.org/help/akvo-policies-and-terms-2/akvo-rsr-terms-of-use/">Terms of service</a></li>
                    <li class="akvoLogo"><a href="http://akvo.org">Akvo.org</a></li>
                    <li class="uiFeedback"><a href="mailto: support.rsr@akvo.org?subject=RSR feedback"><i class="fa fa-comment-o"></i> Provide feedback</a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>