{% load i18n %}

<footer>
    <div class="navbar">
        <div class="container">
            <div class="" id="footer-body">
                <ul class="nav navbar-nav">
                    <li><a href="http://akvo.org/products/rsr/">{% trans 'About RSR' %}</a></li>
                    <li><a href="http://akvo.org/help/help-support/rsr-help/">{% trans 'Support' %}</a></li>
                    <li><a href="https://github.com/akvo/akvo-rsr">{% trans 'Source code' %}</a></li>
                    <li><a href="https://github.com/akvo/akvo-rsr/wiki/RSR_Partner-API">{% trans 'API' %}</a></li>
                    <li><a href="http://akvo.org/help/akvo-policies-and-terms-2/akvo-rsr-terms-of-use/">{% trans 'Terms of service' %}</a></li>
                    <li class="akvoLogo"><a href="http://akvo.org">Akvo.org</a></li>
                    <li class="uiFeedback">
                        {# Javascript will generate the support feedback email, as to reduce spam #}
                        {# <a href="mailto:rsr@akvo.org?subject=RSR feedback"> #}
                        <script type="text/javascript">document.write(String.fromCharCode(60,97,32,104,114,101,102,61,34,109,97,105,108,116,111,58,114,115,114,64,97,107,118,111,46,111,114,103,63,115,117,98,106,101,99,116,61,82,83,82,32,102,101,101,100,98,97,99,107,34,62));</script>
                        <i class="fa fa-comment-o"></i> {% trans 'Provide feedback' %}
                        {# </a> #}
                        <script type="text/javascript">document.write(String.fromCharCode(60,47,97,62));</script>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>