{% load i18n bootstrap3 rsr_utils rules %}

{% url 'index' as index_url %}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsed">
        <span class="sr-only">{% trans 'Toggle navigation' %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{% firstof rsr_page.return_url index_url %}">
        {% if rsr_page.logo %}
          {% img rsr_page 125 60 organisation.name %}
        {% elif rsr_page.organisation %}
          {% img rsr_page.organisation 125 60 rsr_page.organisation.name %}
        {% else %}
          <h1>Akvo RSR</h1> {# Text is just a placeholder, svg from css #}
        {% endif %}
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapsed">
        <ul class="nav navbar-nav">
            {% has_perm 'rsr.user_management' user as can_manage_users %}
            {% if can_manage_users %}
            <li class="navUserManagement">
                <a class="{% if 'user_management' in request.path %}active{% endif %}"
                   href="{% url 'user_management' %}">
                    {% trans "User management" %}
                </a>
            </li>
            {% endif %}
            {% has_perm 'rsr.project_management' user as can_manage_projects %}
            {% if can_manage_projects %}
            <li class="navIati">
                <a class="{% if 'myrsr/iati' in request.path %}active{% endif %}"
                   href="{% url 'my_iati' %}">
                    {% trans "IATI" %}
                </a>
            </li>
            {% endif %}
        </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if not user.username %}
          <li><a href="{% url 'register' %}"><i class="fa fa-pencil-square-o"></i> {% trans 'Register' %}</a></li>
          <li><a href="{% url 'sign_in' %}"><i class="fa fa-sign-in"></i> {% trans 'Sign in' %}</a></li>
        {% else %}
        <li>
          <a class="{% if 'myrsr' in request.path %}active{% endif %} btn areaToggle"
             href="{% url 'my_rsr' %}"></i> {% trans 'RSR Admin' %}</a>
        </li>
        <li><a href="{% url 'sign_out' %}"></i> {% trans 'Sign out' %}</a></li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>
