{% load i18n %}

{% if page %}
<div class="row center-text paginationWrap">
    <div class="col-md-8">
        <ul class="pagination">
            {% if page.has_previous %}
            <li><a href="?page={{ page.previous_page_number }}{{ q }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for page_number in page_range %}
            {% if not page_number == '...' %}
            <li {% if page_number == page.number %}class="active"{% endif %}><a href="?page={{ page_number }}{{ q }}">{{ page_number }}</a></li>
            {% else %}
            <li class="disabled"><span>{{ page_number }}</span></li>
            {% endif %}
            {% endfor %}
            {% if page.has_next %}
            <li><a href="?page={{ page.next_page_number }}{{ q }} ">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}