{% load i18n %}

{% if page %}
<div class="center-text paginationWrap">
        <ul class="pagination">
            {% for page_number in page_range %}
            {% if not page_number == '...' %}
            <li {% if page_number == page.number %}class="active"{% endif %}><a href="?page={{ page_number }}{{ q }}">{{ page_number }}</a></li>
            {% else %}
            <li class="disabled"><span>{{ page_number }}</span></li>
            {% endif %}
            {% endfor %}
        </ul>
</div>
{% endif %}