{% load i18n %}

{% if page %}
<div class="row center-text paginationWrap">
    <div class="col-md-8">
        <ul class="pagination">
            {% if page.has_previous %}
            <li><a href="?page={{ page.previous_page_number }}{{ q }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for page_number in page_range %}
            {% if not page_number == '...' %}
            <li {% if page_number == page.number %}class="active"{% endif %}><a href="?page={{ page_number }}{{ q }}">{{ page_number }}</a></li>
            {% else %}
            <li class="disabled"><span>{{ page_number }}</span></li>
            {% endif %}
            {% endfor %}
            {% if page.has_next %}
            <li><a href="?page={{ page.next_page_number }}{{ q }} ">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    </div>
    <div class="sortList col-md-4">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="sortByButton" data-toggle="dropdown" aria-expanded="true">
            {% trans "Sort by" %}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="sortByDropdown">
            <li role="presentation"{% if sorting = "-last_modified_at" %} class="disabled"{% endif %}><a role="menuitem" tabindex="-1" param="-last_modified_at">{% trans "Latest updated" %}</a></li>
            <li role="presentation"{% if sorting = "last_modified_at" %} class="disabled"{% endif %}><a role="menuitem" tabindex="-1" param="last_modified_at">{% trans "Oldest updated" %}</a></li>
            <li role="presentation"{% if sorting = "title" %} class="disabled"{% endif %}><a role="menuitem" tabindex="-1" param="title">{% trans "Title (A-Z)" %}</a></li>
            <li role="presentation"{% if sorting = "-title" %} class="disabled"{% endif %}><a role="menuitem" tabindex="-1" param="-title">{% trans "Title (Z-A)" %}</a></li>
            <li role="presentation"{% if sorting = "budget" %} class="disabled"{% endif %}><a role="menuitem" tabindex="-1" param="budget">{% trans "Total budget (low-high)" %}</a></li>
            <li role="presentation"{% if sorting = "-budget" %} class="disabled"{% endif %}><a role="menuitem" tabindex="-1" param="-budget">{% trans "Total budget (high-low)" %}</a></li>
          </ul>
        </div>
    </div>
</div>
{% endif %}