{% extends "rsr/base.html" %}
{% load i18n %}

{% block inline_styles %}
.form_error {
    float: right;
    width: 250px;
    background-color: #FFEBE7;
    border: 1px solid #FFCDD1;
    padding: 10px;
    color: red;
    margin-right: 20px;
}
{% endblock inline_styles %}

{% block content %}
	<div class="span-18 last">
		<div class="push-3 span-12 first last">
			<form id="" class="" method="post" action="#">
			    <fieldset>
			        <legend>{% trans 'Reset your password' %}</legend>
                    <ul>
                        {% if form.errors %}
                            <li class="clearfix">
                                <div class="form_error" style="width: 546px;">
                                    <h2 style="color: red;">{% trans 'An error occured.' %}</h2>
                                {% if form.non_field_errors %}
                                    {{ form.non_field_errors|join:"," }}
                                {% else %}
                                    {% trans 'Please review messages below.' %}
                                {% endif %}
                                    
                                </div>
                            </li>
                        {% endif %}
			            <li class="clearfix">
                            <p>
                                {% trans "Forgotten your password? Enter your e-mail address below, and we'll reset your password and e-mail the new one to you." %}
                            </p>
                            <label for="id_email">
                                {% trans 'Enter your email address' %}
                            </label>
                            {% if form.email.errors %}
                                <div class="form_error">
                                    {{ form.email.errors|join:", " }}
                                </div>
                            {% endif %}
							{{ form.email }}
                            <p class="small">
                                {% trans 'Enter the email address of your RSR account.' %}
                            </p>
                        </li>
						<li class="clearfix">
                            <div style="float:right; margin-top: 20px;">
    							<a style="vertical-align: baseline;" href="{% url index %}">{% trans 'Cancel' %}</a>
    							<input style="display: inline; margin:0 20px 0 20px; vertical-align: baseline;" type="submit" name="some_name" value="{% trans 'Submit' %}" id="some_name">
                            </div>
						</li>
			        </ul>
					
			    </fieldset>
			    <input type="hidden" name="next" value="{{ next }}" />
			</form>
		</div>
	</div>
	<div class="clear"></div>	
{% endblock content %}