{% extends "rsr/message_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}

{% block title %}{{block.super}} - {% trans 'Update complete' %}{% endblock %}

{% block message_header %}
    {% trans 'Update complete' %}
{% endblock message_header %}

{% block message_content %}
    {% trans 'Your account has been updated.' %}
{% endblock message_content %}
