/*
Akvo RSR is covered by the GNU Affero General Public License.
See more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.

Akvo CSS classes is based on the Bluetrip (http://bluetrip.org/) CSS framework.

*/


/*------------------------------------------------------------------ 
[Table of contents] 
 
1. Basic
2. Lists 
3. Tags 		
4. Forms
5. Tables
6. Margins & paddings
7. Text sizes
-------------------------------------------------------------------*/


/*------------------------------------------------------------------ 
[1. Basic] 
*/
body {
    background-color:#fff;
    color:#000;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-size:100%; /* IE6 & 7 */
}


a { color:#2B80AF; text-decoration: none; cursor: pointer;  }
a:visited { color:#2B80AF; }
a:hover { color:#0FA0CB; text-decoration: underline; }

p {
    font-size:0.875em; /* 16*0.875 = 14*/
    line-height:1.4em; 
    margin-bottom:1.5em;
    color:#333;
}

h1 {
    color:#000;
    font-size:1.625em;
    line-height:1.2em;
    margin-bottom:0.5em;
}

h2 {
    color:#000;
    font-size:1.125em;
    line-height:1.2em;
    margin-bottom:0.5em;
}

h3 {
    color:#000;
    font-size: 1.0em;
    line-height:1.2em;
    margin-bottom:0.5em;
}

h4 {
    color:#000;
    font-size: 0.875em;
    line-height:1.2em;
    margin-bottom:0.5em;
}

h5 {
    color:#000;
    font-size: 0.8125em;
    line-height:1.2em;
    margin-bottom:0.5em;
}


h6 {
    color:#000;
    font-size: 0.6875em;
    line-height:1.2em;
    margin-bottom:0.5em;
}


/*------------------------------------------------------------------ 
[2. Lists] 
*/

ul, ol { 
    margin-bottom:0.5em; 
    line-height:1.7em;
    font-size:0.875em;
    color:#333;
    margin-top:-0.5em;
    margin-bottom:1.5em;
    
}
ul ul {font-size:1em; margin-top:0em;}
ol ol {font-size:1em; margin-top:0em;}
ul li { margin-left:1em;}
ul { list-style-position: inside; list-style-type: disc; margin-left: 0.5em; }
ul ul { list-style-type: square; }
ul ul ul { list-style-type: circle; }
ol { list-style-position: inside; list-style-type: decimal; margin-left: 0.5em;}
ol li {  margin-left:1em; }
dt { font-weight: bold; margin-top: .8em; margin-bottom: .4em; }
/*
ol ol, ul ol { margin-left: 1.0em; }
*/
/*------------------------------------------------------------------ 
[3. Tags] 
*/
strong, th, thead td {font-weight: bold;}
cite, em, dfn { font-style: italic; }
code, kbd, samp, pre, tt, var { font-size: 0.857em; font-family: monaco, "Lucida Console", courier, monospace; }
code {
    background-color:#092125;
    color:#98F39F;
    border: 1px solid #9F9F9F;
    padding: 6px 13px;
    display:block;
    margin-bottom:14px;
    margin-top:14px;
}
del { text-decoration: line-through; color: #666; }
ins, dfn { border-bottom: 1px solid #ccc; }


blockquote { 
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    color: #666; 
    padding: 0 1em; 
    margin: 1.6em 0;
}
blockquote *:first-child { margin: .8em 0; }
blockquote *:first-child:before { content: "\201C"; }
blockquote *:first-child:after { content: "\201D"; }

/*------------------------------------------------------------------ 
[4. Forms] 
*/
fieldset { 
    padding:1.4em; 
    margin: 0 0 1.5em 0; 
    border: 1px solid #ccc; 
    padding: 0 1em 1em 1em;  /* padding-top is margin-top for fieldsets in Opera */
    margin: 1.6em 0; 
}
legend { font-weight: bold; font-size:1.2em; }
label { font-weight: bold; display: block; margin-top:5px; font-size:0.875em; }

input {
    font-size:0.875em;
}

input[type='text'], input[type='password'], textarea {
    /*font-size:0.875em;*/
    margin: 0.5em 1px;
    padding:3px;
    /*
    margin-top:0px;
    margin-bottom:21px;
    */
    /*
    margin-top:0.5em;
    margin-bottom:0.5em;
    */
    border: 1px solid #ccc; background: #fff;
    
    /*
    border-top:2px solid #A1A4AE;
    border-left:2px solid #A1A4AE;
    border-right:2px solid #F2F0EC;
    border-bottom:2px solid #F2F0EC;
    */
}

input[type="submit"], input[type="button"] {
    margin-top:0;
    padding-top:0;
    display: block;
    margin-bottom:20px;
    /*float:right;*/
}

input[type='checkbox'], input[type='radio'] {
    margin-right:1em;
    margin-bottom:1em;
    margin: 0.5em 1px;
    margin-left:1em;
}

textarea { border: 1px solid #ccc;}

.focusField {
    background-color:#e5fff3 !important;
    color:#000;
}

/*------------------------------------------------------------------ 
[5. Tables] 
*/
table { border-top: 1px solid #ccc;  border-left: 1px solid #ccc; }
th, td { border-bottom: 1px solid #ddd; border-right: 1px solid #ccc; padding: .8em; }


/*------------------------------------------------------------------ 
[6. Margins & paddings] 
*/
hr, p, dl, pre, blockquote, address, table, form { margin-bottom: 1.5em; }
caption { padding-bottom: .8em; } /* padding instead of margin for IE */
legend { padding-left: .8em; padding-right: .8em; }
legend+* { margin-top: 1em; } /* compensates for the opera margin bug */
select { padding: .1em .2em 0 .2em; }
option { padding: 0 .4em; }
a { position: relative; padding: 0.3em 0 .1em 0; } /* for larger click-area */


/*------------------------------------------------------------------ 
[7. Text sizes] 
*/
p.lede {
    color:#888;
    line-height:1.2em;
    font-size:1.125em;
    margin-bottom:1.3em;
}

p.small, .small p, .small label, ul.small {
    font-size:0.8125em;
    line-height:1.4em;
}


p.tiny, .tiny p, .tiny label {
    font-size:0.6875em;
    line-height:1.4em;
}

p.nano, .nano p, .nano label { 
    font-size:0.56725em;
    line-height:1.4em;
}

p.nano-lede {
    color:#888;
    line-height:1.2em;
    font-size:0.875em;
    margin-bottom:1.3em;
}


