@import '../../utils/common.scss';

.enumerator-view{
  display: flex;
  width: 100%;
  margin-top: 15px;
  &.showUpdatesToSubmit{
    padding-top: 40px;
    position: relative;
    .updates-to-submit{
      position: absolute;
      font-weight: bold;
      top: 0;
    }
    &.jwtView{
      padding-top: 20px;
      .updates-to-submit{
        top: -20px;
      }
    }
  }
  ul.indicators{
    width: 390px;
    border-right: 1px solid #f4f4f4;
    margin-left: -15px;
    position: sticky;
    top: 53px;
    overflow-y: auto;
    li{
      border-bottom: 1px solid rgb(236, 236, 236);
      font-size: 13px;
      cursor: pointer;
      padding: 2em 0.5em 1em 1em;
      &:first-child {
        border-top: 1px solid rgb(236, 236, 236);
      }
      &.declined{
        .check{
          background-color: #fff;
          border: 2px solid #EBCACA;
        }
        h5{
          color: #961417;
        }
      }
      &.selected{
        position: sticky;
        top: 0;
        bottom: 0;
        z-index: 1;
        &.overflow {
          top: 85px;
        }
        @media screen and (min-width: 768px){
          background-color: #efefef;
          h5{
            color: #4b4b4b;
          }
          .check{
            background-color: #fff;
          }
          &.declined{
            background-color: #F7EDED;
          }
          &.draft{
            background-color:#FFEBC5;
          }
          &.approved{
            background-color:#e5fadb; 
          }
          &.submitted {
            background-color: #edf5fb;
          }
        }
      }
    }
    h5{
      font-weight: 500;
      margin-bottom: 0;
      padding: 1em;
      color: rgb(75, 75, 75);
    }
    &.enumerator{
      height: calc(100vh - 180px);
    }
  }
  .content{
    padding: 0px 0 20px 20px;
    flex: 1;
    &>.ant-collapse{
      width: 100%;
      background-color: #fff;
      border-color: #f4f4f4;
      overflow: visible;
      &>.ant-collapse-item{
        border-color: #f4f4f4;
        &.pending-approval{
          border:1px solid $submitted;
        }
        &.draft{
          border:1px solid #D68D19;
        }
        &.approved{
          border:1px solid #009B8F;
        }
        &>.ant-collapse-header{
          padding-top: 22px;
          padding-bottom: 22px;
          font-size: 13px;
          display: flex;
          align-items: center;
          position: sticky;
          top: 55px;
          background-color: #fff;
          z-index: 11;
          .rightside{
            margin-left: auto;
            .ant-btn{
              margin-left: 5px;
            }
          }
          .right-corner {
            margin-left: auto;
            font-size: 14px;
            font-weight: 500;
            display: flex;
            gap: 6px;
            &.pending-approval{
              color: $submitted;
            }
            &.approved{
              color: #009b8f;
            }
          }
          
          @media screen and (max-width: 768px){
            top: 0!important;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
          }
        }
        &>.ant-collapse-content{
          border-top: none;
          @media screen and (max-width: 768px){
            .ant-collapse-content-box{
              padding: 0;
            }
          }
        }
      }
      &.webform>.ant-collapse-item{
        &>.ant-collapse-header{
          top: 50px;
        }
      }
      &.mneView>.ant-collapse-item{
        &>.ant-collapse-header{
          top: 135px;
        }
      }
    }
    .add-update{
      border: 1px solid #f4f4f4;
      position: relative;
      &>header{
        background-color: #efefef;
        height: 50px;
        padding-left: 50px;
        padding-top: 12px;
        position: absolute;
        width: 100%;
        top: 0;
        border-bottom: 1px solid #d6d6d6;
        .anticon{
          font-size: 24px;
          position: absolute;
          left: 13px;
          top: 12px;
        }
      }
      .score-checkboxes{
        ul{
          display: flex;
          flex-direction: column;
          li{
            line-height: 30px;
            font-size: 21px;
          }
        }
      }
      .submitted{
        border: 1px solid $submitted;
        background-color: #edf5fb;
        font-size: 17px;
        width: 80%;
        margin: 0 auto;
        padding: 10px 20px;
        margin-top: 10px;
        transform: translateY(15px);
        border-radius: 5px;
        b{
          color: $submitted;
          font-weight: bold;
          text-transform: uppercase;
          margin-right: 15px;
          margin-left: 5px;
        }
        i{
          margin-left: auto;
        }
        &.draft{
          border-color: #D68D19;
          b{
            color: #D68D19;
          }
        }
      }
      .md-output{
        padding: 10px;
        background-color: #F5F5F5;
        border: 1px solid #D9D9D9;
        border-radius: 3px;
      }

      .declined{
        background-color: #F7ECEC;
        display: flex;
        flex-direction: column;
        font-size: 17px;
        width: 80%;
        margin: 0 auto;
        padding: 10px 20px;
        margin-top: 10px;
        transform: translateY(15px);
        border-radius: 5px;
        &>div{
          display: flex;
          &:nth-child(2){
            border-top: 1px solid #FCF0E7;
            padding-top: 10px;
            margin-top: 7px;
            font-size: 12px;
            b{
              padding-right: 15px;
            }
          }
        }
        .status{
          color: #961417;
          font-weight: bold;
          text-transform: uppercase;
          margin-right: 15px;
        }
        i{
          margin-left: auto;
          font-weight: bold;
          font-size: 14px;
        }
      }
      h3{
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        color: rgb(151, 151, 151);
        margin-top: 20px;
        margin-bottom: 0px;
      }
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 50px;
      &>.ant-form{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
      }
      .ant-input-number{
        width: 170px;
        input{
          font-size: 17px;
        }
      }
      .inputs-container{
        margin: 35px auto 35px;
        display: flex;
        width: 80%;
        position: relative;
        &.qualitative{
          width: 90%;
          &>.inputs{
            flex: 1.5;
            border: none;
            padding-left: 0;padding-right: 0;
            h5{
              text-transform: uppercase;
              font-size: 13px;
              color: #555555;
              margin-bottom: 15px;
            }
          }
        }
        &.no-prev .inputs{
          margin-right: 0;
        }
      }
      .inputs{
        padding: 15px 50px;
        margin-right: 15px;
        border: 1px solid #4e998e;
        flex: 2;
        border-radius: 5px;
        &>.dsg-group{
          padding: 3em 10px 0 0;
          border: 1px solid rgb(182, 182, 182);
          border-radius: 4px;
          margin-top: 15px;
          margin-left: -15px;
          margin-bottom: 15px;
          position: relative;
          display: flex;
          max-width: 300px;
          flex-wrap: wrap;
          h5{
            text-transform: none;
            background-color: #fff;
            margin-bottom: 4px;
            // margin-left: 5px;
            font-size: 15px;
            text-align: left;
            padding: 0 5px;
            margin-left: 10px;
            color: rgb(49, 49, 49);
          }
          .h-holder{
            position: absolute;
            top: -10px;
            display: flex;
          }
          .ant-form-item{
            margin-bottom: 10px;
            margin-left: 15px;
            .ant-input-number{
              width: 110px;
            }
          }
        }
        .ant-form-item{
          .ant-form-item-label{
            line-height: 22px;
            opacity: 0.7;
            label{
              font-size: 13px;
            }
          }
        }
        .updated-actual{
          .cap{
            opacity: 0.85;
            font-size: 13px;
          }
          .value{
            b{
              margin-right: 10px;
            }
            small{
              opacity: 0.75;
              font-size: 10px;
            }
          }
        }
        .ant-input{
          width: 170px;
          font-weight: 600;
        }
        .perc{
          color: #4e998e;
          font-size: 33px;
          font-weight: 600;
          position: absolute;
          left: 53%;
          width: calc(100% - 200px);
          top: 10px;
          text-align: center;
        }
      }
      .prev-value-holder{
        flex: 1.5;
      }
      .prev-value{
        background-color: #fafafa;
        border-radius: 5px;
        border: 1px solid #f5f5f5;
        padding: 15px;
        text-align: center;
        h5{
          text-transform: uppercase;
          font-size: 13px;
          color: rgb(131, 131, 131);
          font-weight: normal;
        }
        .date{
          font-size: 12px;
          color: rgb(131, 131, 131);
        }
        .status{
          margin-top: -11px;
          margin-bottom: 5px;
          svg{
            width: 24px;
            transform: translateY(7px);
          }
          &.approved{
            color: #009B8F;
          }
          &.pending{
            color: #e36f3c;
          }
          &.returned{
            color: #961417;
            margin-top: 0px;
          }
        }
        .author{
          font-size: 15px;
        }
        .narrative{
          margin-top: 10px;
          font-size: 12px;
          text-align: justify;
        }
        .value-holder{
          display: flex;
          // align-items: center;
          justify-content: center;
          margin-top: 7px;
          .breakdown{
            font-size: 11px;
            line-height: 12px;
            text-align: left;
            margin-left: 11px;
            margin-top: 3px;
            .cap{
              font-size: 9px;
              opacity: 0.75;
              &.num{
                margin-top: 2px;
              }
            }
          }
        }
        .value{
          margin-top: 10px;
          border: 2px solid rgb(155, 155, 155);
          border-radius: 7px;
          display: inline-block;
          padding: 5px 9px;
          font-weight: 600;
          font-size: 16px;
          color: rgb(126, 126, 126);
        }
        .target-cap{
          font-size: 10px;
          opacity: 0.6;
          margin-top: 5px;
        }
        .dsg-group{
          padding: 5px 5px 0;
          border: 1px solid rgb(182, 182, 182);
          border-radius: 4px;
          margin-top: 15px;
          h5{
            text-transform: none;
            background-color: #fafafa;
            margin-bottom: 4px;
            font-size: 15px;
            text-align: left;
            padding: 0 5px;
            margin-left: 5px;
            color: rgb(49, 49, 49);
          }
          .h-holder{
            margin-top: -17px;
            display: flex;
          }
          ul{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 7px;
            li{
              margin-left: 10px;
              margin-right: 5px;
              border-bottom: 0;
              display: flex;
              flex-direction: column;
              align-items: start;
              margin-bottom: 4px;
              .label{
                text-align: left;
                font-size: 13px;
              }
              b{
                font-size: 13px;
              }
            }
            .ant-divider{
              margin: 5px 0;
            }
          }
        }
      }
      .all-submissions-btn-container{
        text-align: center;
        margin-top: 5px;
        .ant-btn{
          font-size: 11px;
          color: #000;
          font-weight: 600;
        }
      }
      .notes{
        width: 80%;
        margin: 25px auto;
      }
      .upload{
        width: 100%;
        margin: 25px auto;

      }
      @media screen and (max-width: 768px){
        .inputs-container{
          flex-direction: column-reverse;
          width: calc(100vw - 30px);
          .prev-value-holder{
            margin-bottom: 15px;
          }
          .inputs{
            margin-right: 0;
          }
        }
      }
    }
  }
  &.mneView{
    .add-update{
      h4{
        font-weight: 400;
      }
      .submitted{
        width: 95%;
      }
      .inputs-container{
        width: 95%;
        margin: 35px auto;
      }
      .inputs{
        padding: 15px 40px;
      }
      .dsg-overview{
        width: 420px;
      }
      .timeline-outer{
        width: 400px;
        margin-left: 20px;
      }
    }
  }
  .ant-form-item-label .input-label{
    display: inline-block;
  }
  @media screen and (max-width: 768px){
    min-width: calc(100vw);
    margin-left: -1em;
    margin-top: 0;
    ul.indicators{
      min-width: calc(100vw);
      width: calc(100vw);
      position: static;
      margin-left: 0;
    }
    .content{
      min-width: calc(100vw);
      width: calc(100vw);
      padding: 0;
      header{
        .ant-btn{
          min-width: 40px;
        }
        padding-right: 15px;
      }
    }
    .slider-container{
      display: flex;
    }
  }
}
@media screen and (max-width: 768px){
  header.main-header{
    display: none!important;
  }
  header.mobile-only{
    h1{
      font-size: 18px;
      padding: 0 15px;
      margin-bottom: 15px;
    }
    display: flex;
    h2{
      font-size: 16px;
    }
  }
}
.mobile-only{
  @media screen and (min-width: 768px){
    display: none;
  }
}
.hide-for-mobile{
  @media screen and (max-width: 768px){
    display: none;
  }
}

.empty{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  height: 300px;
  font-size: 18px;
  width: 100%;
}

.all-submissions-modal{
  .ant-modal-body>table{
    width: 100%;
    &>tr{
      &:not(:last-child){
        border-bottom: 1px solid #d8d8d8;
      }
      svg{
        width: 24px;
        height: 24px;
      }
      .svg-text{
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .text{
        display: flex;
        flex-direction: column;
        line-height: 18px;
        margin-left: 10px;
        font-size: 13px;
        white-space: nowrap;
      }
      td{

      }
      td.spacer{
        width: 100%;
      }

      .dsg-group{
        margin-right: 15px;
        padding: 11px 10px 4px 0;
        border: 1px solid rgb(182, 182, 182);
        border-radius: 4px;
        margin-top: 15px;
        margin-left: -10px;
        margin-bottom: 15px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        h5{
          text-transform: none;
          background-color: #fff;
          margin-bottom: 4px;
          white-space: nowrap;
          font-size: 15px;
          text-align: left;
          padding: 0 5px;
          margin-left: 10px;
          color: rgb(49, 49, 49);
        }
        .h-holder{
          position: absolute;
          top: -10px;
          display: flex;
        }
        ul{
          display: flex;
          li{
            margin-left: 15px;
            white-space: nowrap;
            position: relative;
            &:not(:first-child):before{
              content: " ";
              position: absolute;
              left: -8px;
              top: 6px;
              width: 1px;
              background-color: rgb(231, 231, 231);
              height: 32px;
            }
          }
        }
      }
      .value{
        color: #42998e;
        font-weight: 600;
        font-size: 30px;
        text-align: right;
      }
    }
  }
}
li.declined {
  span.ant-badge {
    .ant-badge-status-dot {
      position: inherit !important;  
    }
    position: inherit !important;
  }
} 
.enum-ui {
  width: 100%;
  .ant-collapse-borderless {
    background-color: #fff;
    .ant-collapse-item {
      border-bottom: none !important;
      .ant-collapse-content {
        border: 1px solid #f5f5f5;
      }
    }
  }
  .ant-card {
    &.active {
      &.draft {
        background-color: #ffebc5;
      }
      &.no-update-status {
        background-color: #efefef;
      }
      &.return-for-revision {
        background-color: #f7eded;
      }
      &.pending-approval {
        background-color: #edf5fb;
      }
      &.approved {
        background-color: #e5fadb;
      }
    }
    &.draft {
      border-left: 3px solid #ccb30a;
    }
    &.no-update-status {
      border-left: 3px solid #a7a5a5;
    }
    &.return-for-revision {
      border-left: 3px solid #f5222d;
    }
    &.pending-approval {
      border-left: 3px solid #1890ff;
    }
    &.approved {
      border-left: 3px solid #52c41a;
    }
  }
  .ant-page-header{
    position: sticky;
    top: 55px;
    z-index: 5;
    background-color: #fff;
    border-bottom: 1px solid rgb(235, 237, 240);
    border-top: 1px solid rgb(235, 237, 240);
    margin-bottom: 16px;
  }
  i.edit-button {
    font-size: 18px;
  }
}
