@import '../../utils/common.scss';

.enumerator-view{
  display: flex;
  width: 100%;
  &>ul{
    width: 390px;
    border-right: 1px solid #f4f4f4;
    margin-left: -15px;
    li{
      padding: 15px 0;
      border-bottom: 1px solid rgb(236, 236, 236);
      font-size: 13px;
      display: flex;
      cursor: pointer;
      .check-holder{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 23px;
        margin-right: 15px;
        margin-left: 15px;
      }
      .check{
        width: 23px;height: 23px;
        // min-width: 20px;
        border-radius: 20px;
        background-color: #efefef;
      }
      &.selected{
        background-color: #eff6f9;
        h5{
          color: #6497ad;
        }
        .check{
          background-color: #fff;
        }
      }
    }
    h5{
      font-weight: 500;
      margin-bottom: 0;
      padding-right: 10px;
      color: rgb(75, 75, 75);
      // padding-left: 50px;
    }
  }
  .content{
    padding: 20px 0 20px 20px;
    flex: 1;
    &>.ant-collapse{
      width: 100%;
      background-color: #fff;
      border-color: #f4f4f4;
      overflow: visible;
      &>.ant-collapse-item{
        border-color: #f4f4f4;
        &>.ant-collapse-header{
          padding-top: 22px;
          padding-bottom: 22px;
          // font-weight: bold;
          font-size: 13px;
          display: flex;
          align-items: center;
          position: sticky;
          top: 55px;
          background-color: #fff;
          z-index: 11;
          .ant-btn{
            margin-left: auto;
          }
        }
        &>.ant-collapse-content{
          border-top: none;
        }
      }
    }
    .add-update{
      border: 1px solid #f4f4f4;
      position: relative;
      header{
        background-color: #efefef;
        height: 50px;
        padding-left: 50px;
        padding-top: 12px;
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #d6d6d6;
        .anticon{
          font-size: 24px;
          position: absolute;
          left: 13px;
          top: 12px;
          // margin-right: 10px;
        }
      }
      display: flex;
      align-items: center;
      flex-direction: column;
      &>.ant-form{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
      }
      .inputs-container{
        margin: 75px auto 25px;
        display: flex;
        width: 80%;
        &.qualitative{
          width: 90%;
          &>.inputs{
            flex: 1.5;
            border: none;
            padding-left: 0;padding-right: 0;
            h5{
              text-transform: uppercase;
              font-size: 13px;
              color: #555555;
              margin-bottom: 15px;
            }
          }
        }
      }
      .inputs{
        padding: 15px 50px;
        margin-right: 15px;
        border: 1px solid #4e998e;
        flex: 2;
        // max-width: 440px;
        border-radius: 5px;
        &>.dsg-group{
          padding: 15px 10px 0 0;
          border: 1px solid rgb(182, 182, 182);
          border-radius: 4px;
          margin-top: 15px;
          margin-left: -15px;
          margin-bottom: 15px;
          position: relative;
          display: flex;
          h5{
            text-transform: none;
            background-color: #fff;
            margin-bottom: 4px;
            // margin-left: 5px;
            font-size: 15px;
            text-align: left;
            padding: 0 5px;
            margin-left: 10px;
            color: rgb(49, 49, 49);
          }
          .h-holder{
            position: absolute;
            top: -10px;
            display: flex;
          }
          .ant-form-item{
            margin-bottom: 10px;
            margin-left: 15px;
            .ant-input-number{
              width: 110px;
            }
          }
        }
        .ant-form-item{
          .ant-form-item-label{
            line-height: 22px;
            opacity: 0.7;
            label{
              font-size: 13px;
            }
          }
        }
        .updated-actual{
          .cap{
            opacity: 0.85;
            font-size: 13px;
          }
          .value{
            b{
              margin-right: 10px;
            }
            small{
              opacity: 0.75;
              font-size: 10px;
            }
          }
        }
        .ant-input{
          width: 170px;
          font-weight: 600;
        }
        .perc{
          color: #4e998e;
          font-size: 27px;
          font-weight: 600;
          // margin-top: 15px;
        }
      }
      .prev-value-holder{
        flex: 1.5;
      }
      .prev-value{
        background-color: #fafafa;
        border-radius: 5px;
        border: 1px solid #f5f5f5;
        padding: 15px;
        text-align: center;
        h5{
          text-transform: uppercase;
          font-size: 13px;
          color: rgb(131, 131, 131);
          font-weight: normal;
        }
        .date{
          font-size: 12px;
          color: rgb(131, 131, 131);
        }
        .author{
          font-size: 15px;
        }
        .narrative{
          margin-top: 10px;
          font-size: 12px;
          text-align: justify;
        }
        .value-holder{
          display: flex;
          // align-items: center;
          justify-content: center;
          margin-top: 7px;
          .breakdown{
            font-size: 11px;
            line-height: 12px;
            text-align: left;
            margin-left: 11px;
            margin-top: 3px;
            .cap{
              font-size: 9px;
              opacity: 0.75;
              &.num{
                margin-top: 2px;
              }
            }
          }
        }
        .value{
          margin-top: 10px;
          border: 2px solid rgb(155, 155, 155);
          border-radius: 7px;
          display: inline-block;
          padding: 5px 9px;
          font-weight: 600;
          font-size: 16px;
          color: rgb(126, 126, 126);
        }
        .target-cap{
          font-size: 10px;
          opacity: 0.6;
          margin-top: 5px;
        }
        .dsg-group{
          padding: 5px 5px 0;
          border: 1px solid rgb(182, 182, 182);
          border-radius: 4px;
          margin-top: 15px;
          h5{
            text-transform: none;
            background-color: #fafafa;
            margin-bottom: 4px;
            // margin-left: 5px;
            font-size: 15px;
            text-align: left;
            padding: 0 5px;
            margin-left: 5px;
            color: rgb(49, 49, 49);
          }
          .h-holder{
            margin-top: -17px;
            display: flex;
          }
          ul{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 7px;
            li{
              // width: 50%;
              // flex: 1;
              margin-left: 10px;
              margin-right: 5px;
              border-bottom: 0;
              display: flex;
              flex-direction: column;
              align-items: start;
              margin-bottom: 4px;
              .label{
                // white-space: nowrap;
                text-align: left;
                font-size: 13px;
              }
              b{
                font-size: 13px;
              }
              // justify-content: center;
            }
            .ant-divider{
              margin: 5px 0;
            }
          }
        }
      }
      .notes{
        width: 80%;
        // margin: 25px auto;
      }
      .upload{
        width: 100%;
      }
    }
  }
}