@import '../../utils/common.scss';

.pending-approval-grid{
  padding-bottom: 65px;
  &>ul.item{
    margin-top: 35px;
    margin-bottom: -10px!important;
    li{
      max-width: calc(50% - 50px);
      &:nth-of-type(2){
        h4{
          font-weight: normal;
        }
      }
    }
    h4{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .period-caption{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #9E9E9E;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  ul.item{
    display: flex;
    margin-bottom: 0px;
    padding-bottom: 0;
    li{
      .label{
        font-weight: 500;
        font-size: 10px;
        color: rgba(0, 0, 0, 0.4);
        text-transform: uppercase;
      }
    }
    .anticon-right{
      font-size: 19px;
      margin: 0 13px;
      transform: translateY(19px);
      opacity: 0.6;
    }
  }
  .row{
    background-color: #F5F5F5;
    padding: 20px 25px 10px;
    padding-right: 200px;
    display: flex;
    position: relative;
    min-height: 77px;
    li{
      &:not(:first-child){
        margin-left: 30px;
        position: relative;
        &:before{
          content: " ";
          position: absolute;
          width: 1px;
          background-color: #DADADA;
          height: 30px;
          left: -15px;
          top: 4px;
        }
      }
      strong{
        color: #E36F3C;
        font-size: 16px;
        margin-top: -1px;
        display: block;
        width: 100%;
        text-align: center;
      }
      .dsg-bar{
        height: 18px;
        border-radius: 3px;
        overflow: hidden;
        background-color: #C4C4C4;
        margin-top: 2px;
        display: flex;
        min-width: 100px;
        .dsg-item{
          height: 100%;
        }
      }
      .legend{
        font-size: 11px;
        margin-top: 5px;
      }
      &:nth-child(2){
        .dsg-bar .dsg-item{
          @for $i from 1 through 10 {
            &:nth-child(#{$i}){
              background-color: nth($g2colors, $i);
            }
          }
        }
        .legend .item{
          @for $i from 1 through 10 {
            &:nth-child(#{$i}) b{
              color: nth($g2colors, $i);
            }
          }
        }
      }
      &:nth-child(3){
        .dsg-bar .dsg-item{
          @for $i from 1 through 10 {
            &:nth-child(#{$i}){
              background-color: nth($g1colors, $i);
            }
          }
        }
        .legend .item{
          @for $i from 1 through 10 {
            &:nth-child(#{$i}) b{
              color: nth($g1colors, $i);
            }
          }
        }
      }
      &:nth-child(4){
        .dsg-bar .dsg-item{
          @for $i from 1 through 9 {
            &:nth-child(#{$i}){
              background-color: nth($g3colors, $i);
            }
          }
        }
        .legend .item{
          @for $i from 1 through 9 {
            &:nth-child(#{$i}) b{
              color: nth($g3colors, $i);
            }
          }
        }
      }
      &:nth-child(5){
        .dsg-bar .dsg-item{
          @for $i from 1 through 6 {
            &:nth-child(#{$i}){
              background-color: nth($g4colors, $i);
            }
          }
        }
        .legend .item{
          @for $i from 1 through 6 {
            &:nth-child(#{$i}) b{
              color: nth($g4colors, $i);
            }
          }
        }
      }
      ul.item{
        display: flex;
        flex-direction: column;
        li{
          margin-left: 0!important;
          margin-bottom: 8px;
        }
      }
      &>div{
        white-space: nowrap;
      }
      a{
        display: block;
        font-size: 13px;
      }
      .qualitative-value{
        white-space: normal;
        font-size: 12px;
        // max-width: 40%;
      }
      &.attachments{
        a{
          margin-top: 2px;
          display: block;
          white-space: nowrap;
          .ant-tag{
            text-transform: uppercase;
          }
        }
      }
    }
    .btns{
      position: absolute;
      right: 20px;
      white-space: nowrap;
      .ant-btn.ant-btn-primary{
        background-color: #000;
        border-color: #000;
        color: #fff;
        &[disabled], &.disabled{
          background-color: rgb(133, 133, 133);
          border-color: rgb(133, 133, 133);
          color: #fff;
        }
      }
      .ant-btn.ant-btn-link{
        color: #000;
        &[disabled], &.disabled{
          color: rgb(133, 133, 133);
        }
      }
    }
  }
  .bulk-btns{
    margin-left: 25px;
    .ant-btn.ant-btn-primary{
      margin-left: auto;
      background-color: #000;
      border-color: #000;
      color: #fff;
      &[disabled], &.disabled{
        background-color: rgb(133, 133, 133);
        border-color: rgb(133, 133, 133);
        color: #fff;
      }
    }
    .ant-btn.ant-btn-link{
      color: #000;
      &[disabled], &.disabled{
        color: rgb(133, 133, 133);
      }
    }
  }
  .approval-all-container {
    background-color: #FFFFFF;
    padding: 20px 25px 10px;
    padding-right: 25px;
    padding-right: 25px;
    padding-right: 200px;
    margin-bottom: 10px;
    min-height: 77px;
    position: sticky;
    top: 135px;
    z-index: 5;
    box-shadow: 0 2px 2px #DCDCDC;
  }
  .ant-collapse-borderless{
    background-color: #F5F5F5 !important;
  }
  .ant-collapse-borderless > .ant-collapse-item {
    border-bottom: none !important;
  }
}
