.results-view{
  .sidebar{
    width: 330px;
    height: calc(100vh - 60px);
    border: 1px solid #d3d3d3;
    border-radius: 7px;
    display: flex;
    position: sticky;
    top: 55px;
    // overflow: hidden;
    z-index: 2;
    flex-direction: column;
    .loading-container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    header{
      padding: 15px;
      display: flex;
      .ant-btn{
        margin-left: 10px;
        font-size: 20px;
        width: 33px;
        min-width: 33px;
        line-height: 26px;
      }
      .filters-dropdown{
        position: relative;
        .dropdown{
          position: absolute;
          z-index: 2;
          border-radius: 3px;
          background-color: #fff;
          box-shadow: 0 1px 5px rgba(0,0,0, 0.4);
          top: 40px;
          left: 10px;
          padding: 15px;
          .ant-select{
            min-width: 150px;
          }
          .ant-form-item{
            margin-bottom: 16px;
            &:last-of-type{
              margin-bottom: 0;
            }
          }
        }
      }
    }
    h5{
      font-weight: normal;
    }
    li:not(.active){
      opacity: 0.33;
      transition: opacity 0.27s ease-out;
    }
    &:hover li{
      opacity: 1;
    }
    &>ul{
      background-color: #f7f7f7;
      // padding: 10px 15px 0;
      margin-bottom: 0;
      overflow-y: scroll;
      &>li{
        padding: 10px 15px;
        &.active{
          background-color: #f1f6f9;
        }
        &:not(:last-child){
          border-bottom: 1px solid #d3d3d3;
          padding-bottom: 0px;
        }
        &>.label{
          background-color: #e3eef3;
          border-bottom-right-radius: 7px;
          border-top-left-radius: 7px;
          line-height: 28px;
          padding: 0 10px;
          text-transform: uppercase;
          font-size: 11px;
          display: inline-block;
          color: #7fc1e6;
        }
        &>.count-label{
          color: #7fc1e6;
          margin-left: 10px;
          line-height: 28px;
          font-weight: 500;
          display: inline-block;
          font-size: 12px;
        }
        ul{
          padding-top: 10px;
          li{
            padding-left: 25px;
            cursor: pointer;
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative;
            transition: all .27s ease-out;
            &:not(:last-child){
              border-bottom: 1px solid #d3d3d3;
              padding-bottom: 10px;
              // margin-bottom: 5px;
            }
            display: flex;
            align-items: center;
            div, i{
              color: #000;
            }
            &>div:first-of-type{
              padding-right: 5px;
            }
            .anticon{
              font-size: 18px;
            }
            position: relative;
            &:before, &:after{
              position: absolute;
              content: " ";
              height: 100%;
              top: 0;
              background-color: inherit;
              width: 15px;
            }
            &:hover{
              background-color: #e3eef3b6;
            }
            &:before{
              left: -15px;
            }
            &:after{
              right: -15px;
            }
            &.active{
              background-color: #b7d3df;
              a{
                div, i{
                  color: #fff;
                  opacity: 1;
                }
              }
            }
          }
          .label{
            display: inline-block;
            text-transform: capitalize;
            opacity: 0.5;
            font-size: 13px;
          }
          .count-label{
            display: inline-block;
            opacity: 0.5;
            font-weight: bold;
            margin-left: 10px;
            font-size: 13px;
          }
        }
      }
    }
  }
}