@import '../../utils/common.scss';
@import './sidebar.scss';

.results-view{
  display: flex;
  .mne-view{
    width: 100%;
    .main-content{
      flex: 1;
      &>.loading-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
    .filter-bar{
      padding: 15px 0 15px 10px;
      border-bottom: 1px solid #d3d3d3;
      position: sticky;
      top: 55px;
      background-color: #fff;
      z-index: 14;
      .label{
        font-size: 11px;
        opacity: 0.7;
        margin-bottom: 1px;
        transform: translateY(-2px);
      }
      .btn.switch{
        padding-right: 20px;
        margin-right: 20px;
        cursor: pointer;
        position: relative;
        &.disabled{
          opacity: 0.5;
          cursor: default;
        }
        &:after{
          content: " ";
          position: absolute;
          width: 1px;
          height: 80px;
          top: -16px;
          right: -1px;
          background-color: #E4E4E4;
        }
        .label{
          display: block;
          margin-bottom: 1px;
        }
        .label+div{
          display: flex;
          b{
            font-size: 20px;
            margin-left: 10px;
          }
          .ant-checkbox{
            transform: translateY(3px);
          }
        }
        &.fade{
          .label, .label+div{
            opacity: 0.4;
          }
        }
      }
      .periods-section{
        display: flex;
        flex-direction: column;
        .ant-select{
          min-width: 160px;
        }
      }
      .ant-select{
        .ant-select-selection__rendered{
          margin-right: 30px;
        }
      }
      .ant-btn{
        margin-left: 10px;
        &[disabled]{
          opacity: 0.4;
        }
      }
      .value-filter{
        min-width: 150px;
      }
      .ant-btn{
        margin-left: 10px;
        &[disabled]{
          opacity: 0.4;
        }
      }
      .filters-btn{
        background-color: #000;
        color: #fff;
        height: 32px;
        margin-left: 10px;
        margin-right: 15px;
        border-radius: 4px;
        padding-right: 15px;
        cursor: pointer;
        transition: all .2s ease-out;
        border: 1px solid #000;
        .SVGInline{
          margin-left: 6px;
          transform: translateY(6px);
          margin-right: 7px;
          display: inline-block;
          svg{
            width: 20px;
            circle{
              fill: #000;
              stroke: #fff;
              transition: all .2s ease-out;
            }
            line{
              stroke: #fff;
              transition: all .2s ease-out;
            }
          }
        }
        &.open{
          background-color: #fff;
          border: 1px solid #888;
          color: #888;
          .SVGInline svg{
            circle{
              fill: #fff;
              stroke: #888;
            }
            line{
              stroke: #888;
            }
          }
        }
      }
      .filters-dropdown-bg{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;height: 100%;
        z-index: 9;
      }
      .filters-dropdown{
        position: absolute;
        right: 27px;
        top: 63px;
        background-color: #fff;
        z-index: 10;
        width: 250px;
        border-radius: 4px;
        filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 1px 4px);
        max-height: calc(100vh - 95px);
        padding: 20px;
        &:before{
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0px 12px 12px 12px;
          border-color: transparent transparent #fff transparent;
          position: absolute;
          top: -12px;
          right: 60px;
        }
        .label{
          margin-bottom: 10px;
        }
        .ant-select{
          width: 100%;
          margin-left: 0;
        }
      }
      .ant-btn.unlock{
        // border-color: green;
        color: green;
      }
      .ant-btn.lock{
        // border-color: red;
        color: red;
      }
      .src{
        margin-left: 40px;
        position: relative;
        &:before{
          position: absolute;
          content: " ";
          height: calc(100% + 30px);
          width: 1px;
          background-color: rgb(226, 226, 226);
          left: -20px;
          top: -15px;
        }
      }
    }
    .results-list{
      background-color: #fff;
      .ant-collapse-content{
        overflow: visible;
      }
      &>.ant-collapse-item{
        border-bottom: none;
      }
      &>.ant-collapse-item>.ant-collapse-header{
        font-weight: 500;
        font-size: 16px;
        &>.text{
          display: flex;
          flex-direction: column;
          small{
            text-transform: uppercase;
            margin-top: 4px;
            font-weight: 600;
            font-size: 11px;
            color: #59968e;
          }
          i{
            font-size: 11px;
            margin-left: 10px;
            color: rgb(163, 163, 163);
            text-transform: uppercase;
          }
        }
        .expander{
          width: 34px;
          min-width: 34px;
          height: 34px;
          background: #f5f5f5;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 0;
          margin-right: 15px;
          margin-top: 5px;
          svg{
            transition: all .3s ease-out;
            path{
              fill: #b7b7b7;
            }
          }
          &.isActive svg{
            transform: rotate(180deg);
          }
        }
        display: flex;
        padding: 17px 0;
        padding-left: 7px;
      }
      &>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box{
        padding: 0;
        &>.ant-collapse{
          // background-color: #fff;
          &>.ant-collapse-item{
            &:last-child{
              border-bottom: none;
            }
            &>.ant-collapse-header{
              padding-right: 40px;
              padding-left: 20px;
              padding-top: 20px;
              padding-bottom: 20px;
              font-size: 15px;
              .ant-collapse-arrow{
                left: auto;
                right: 16px;
              }
            }
            .ant-collapse-content-box{
              padding-left: 0;
              padding-right: 0;
            }
            &>.ant-collapse-content>.ant-collapse-content-box>.ant-collapse{
              // background-color: #fff;
              &>.ant-collapse-item{
                border-top: 1px solid #d9d9d9;
                border-bottom: none;
                .ant-collapse-header{
                  padding-top: 16px;
                  padding-bottom: 16px;
                }
              }
            }
          }
        }
      }
    }
    .indicators-list{
      background-color: #f7f7f7;
      &>.ant-collapse-item{
        border-bottom: 5px solid white;
        .ant-collapse-header{
          b{
            color: #3f90f7;
          }
        }
        .ant-collapse-content-box{
          padding-bottom: 4px;
          .loading-container{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
          }
        }
      }
    }
    .no-periods{
      margin-left: 20px;
      margin-bottom: 20px;
      opacity: 0.7;
    }
    .periods{
      .ant-btn-link{
        color: #000;
        font-weight: 500;
      }
      padding-left: 5px;
      padding-right: 5px;
      &>.ant-collapse-item{
        border-top: none!important;
        background-color: #fff;
        margin-top: 5px;
      }
      &>.ant-collapse-item>.ant-collapse-header{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 16px;
        line-height: 32px;
        .ant-checkbox{
          margin-right: 12px;
        }
        .anticon{
          left: auto;
          right: 16px;
        }
        .iconbtn{
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 7px;
          &.locked{
            color: red;
            border-color: red;
          }
          &.unlocked{
            color: green;
            border-color: green;
          }
        }
        .pending-updates{
          margin-left: auto;
          margin-right: 30px;
          color: #E36F3D;
          font-weight: 500;
        }
      }
      &>.ant-collapse-item>.ant-collapse-content{
        overflow: visible;
      }
      &>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box{
        .graph{
          width: 400px;
        }
        .sticky{
          z-index: 2;
          position: sticky;
          top: 55px;
        }
        .no-updates{
          color: rgb(138, 138, 138);
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          height: calc(100%);
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .baseline-values{
          display: flex;
          padding-top: 20px;
          padding-left: 30px;
          padding-bottom: 20px;
          background-color: #fbfdfd;
          .baseline-value{
            display: flex;
            flex-direction: column;
            font-size: 11px;
            margin-right: 40px;
            .label{
              text-transform: uppercase;
              color: #777;
            }
            .value{
              font-weight: bold;
              color: $primaryColor;
              font-size: 14px;
            }
          }
        }
        .updates{
          flex: 1;
          margin-left: 20px;
          margin-top: 3.5em;
          &.qualitative{
            margin-bottom: 15px;
            margin-right: 15px;
            margin-left: 15px;
          }
          .ant-collapse{
            .ant-collapse-content-box{
              padding: 0;
            }
            .ant-collapse-item{
              &.hidden{
                display: none;
              }
              .horizontal{
                display: flex;
                margin-left: 5px;
                margin-top: 10px;
                .labeled{
                  margin-left: 15px;
                  display: flex;
                  flex-direction: column;
                  label{
                    text-transform: uppercase;
                    font-size: 11px;
                    color: rgb(119, 119, 119);
                  }
                  b{
                    font-size: 16px;
                  }
                }
              }
              .ant-collapse-header{
                .ant-collapse-arrow{
                  left: auto;
                  right: 16px;
                }
                background-color: #fafcfd;
                display: flex;
                padding: 20px 15px;
                align-items: center;
                .label{
                  color: #717171;
                  margin-right: 25px;
                }
                .status{
                  margin-left: auto;
                  margin-right: 20px;
                  &.approved{
                    color: $primaryColor;
                  }
                  &.pending{
                    color: #e36f3c;
                  }
                  display: flex;
                  font-size: 11px;
                  transform: translateY(3px);
                  .text{
                    margin-top: -7px;
                    line-height: 14px;
                    margin-left: 5px;
                    display: flex;
                    align-items: center;
                  }
                  svg{
                    width: 24px;
                    height: 24px;
                  }
                }
                .value-container{
                  display: flex;
                  justify-content: center;
                  min-width: 90px;
                }
                .value{
                  font-size: 18px;
                  line-height: 27px;
                  font-weight: 500;
                  // border: 2px solid $primaryColor;
                  border-radius: 4px;
                  padding: 0px 4px;
                  // margin-left: auto;
                  margin-right: 20px;
                  color: $primaryColor;
                  transition: all .2s ease-out;
                  &.hovered{
                    background-color: $primaryColor;
                    color: #fff;
                  }
                }
              }
            }
            .ant-collapse-item .ant-collapse-header{
              .btns{
                margin-left: -10px;
                margin-right: 20px;
                .ant-btn-primary{
                  background-color: #000;
                  border-color: #000;
                }
                .ant-btn-link{
                  color: #000;
                }
                .save-draft{
                  margin-left: 5px;
                }
              }
            }
            .ant-collapse-item{
              .ant-collapse-header{
                .btns{
                  margin-left: auto;
                  margin-right: 15px;
                }
                &>i{
                  display: none;
                }
              }
              .ant-collapse-content-box{
                padding: 20px;
                label{
                  color: rgb(105, 105, 105);
                  small{
                    margin-left: 25px;
                    opacity: 0.6;
                  }
                }
              }
            }
            .ant-collapse-item.pending-update{
              .ant-collapse-header{
                .value{
                  color: #E36D3D;
                }
                .value.hovered{
                  background-color: #E36D3D;
                  color: #fff;
                }
              }
            }
          }
          .update{
            display: flex;
            flex-direction: column;
            padding: 0;
            .disaggregations{
              margin: 10px;
              // background-color: #fafafa;
              padding: 5px 5px 2px;
              font-size: 12px;
              border-radius: 4px;
              display: flex;
              .disaggregation-group{
                // display: flex;
                position: relative;
                margin-right: 30px;
                &:after{
                  content: " ";
                  position: absolute;
                  height: 100%;
                  width: 1px;
                  background-color: #e6e6e6;
                  right: -15px;
                  top: 0;
                }
                &>span{
                  position: absolute;
                }
                h5{
                  margin-bottom: 10px;
                }
                @include disaggregation-bar-colors;
                table{
                  b{
                      margin-right: 15px;
                      margin-bottom: 5px;
                      background-color: #8f9271;
                      color: #fff;
                      padding: 3px 7px;
                      border-radius: 3px;
                      display: block;
                      text-align: center;
                      font-weight: 500;
                    }
                }
              }
            }
            .file-list{
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              padding: 10px 15px 0;
              margin-bottom: 0;
              li{
                margin-right: 10px;
                margin-bottom: 7px;
              }
            }
            .photo-list{
              display: flex;
              flex-direction: row;
              background-color: #fafafa;
              padding: 10px 10px 0 18px;
              margin-bottom: 0;
              flex-wrap: wrap;
              li{
                cursor: pointer;
                margin-bottom: 10px;
                &:not(:last-child){
                  margin-right: 10px;
                }
                img{
                  height: 50px;
                }
              }
            }
            .comments{
              flex: 1;
              padding: 10px;
              header{
                display: flex;
                .ant-btn{
                  font-size: 12px;
                  margin-top: 10px;
                  color: $primaryColor;
                }
              }
              .label{
                font-size: 12px;
                opacity: 0.5;
                padding: 10px;
                .count{
                  background-color: #e9e9e9;
                  width: 24px;height: 24px;
                  border-radius: 12px;
                  display: inline-block;
                  margin-left: 15px;
                  font-size: 14px;
                  color: rgb(133, 133, 133);
                  text-align: center;
                  line-height: 24px;
                  font-weight: 500;
                }
              }
              .new-comment{
                padding: 0 10px 15px;
                textarea{
                  margin-bottom: 10px;
                }
                .ant-btn-primary{
                  background-color: #000;
                  border-color: #000;
                }
              }
              .comment{
                border-top: 1px solid #e9e9e9;
                padding: 20px 10px;
                font-size: 12px;
                .top{
                  display: flex;
                  margin-bottom: 5px;
                  b{
                    font-weight: 500;
                  }
                  &>b:last-of-type{
                    margin-left: auto;
                  }
                }
                p{
                  opacity: 0.6;
                  margin-bottom: 0;
                }
              }
            }
            .scores{
              margin-left: 20px;
              margin-top: 20px;
            }
          }
          &>.ant-btn{
            margin-top: 15px;
            color: $primaryColor;
            border-color: $primaryColor;
          }
        }
      }
    } 
  }
  .updates-list{
    &>.ant-collapse-item{
      border-bottom: none;
      &.new-update>.ant-collapse-header>.value-container{
        display: none!important;
      }
      &>.ant-collapse-header{
        position: sticky;
        top: 135px;
        background: #fafcfd;
        z-index: 3;
        border-bottom: 1px solid #d9d9d9;
      }
      &>.ant-collapse-content{
        border-top: none;
        border-bottom: 1px solid #d9d9d9;
      }
    }
  }
  .main-content.filterBarVisible{
    .periods{
      &>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box{
        .sticky{
          top: 119px;
        }
      }
    }
  }


        .timeline-container{
          padding: 15px 15px 35px;
          background-color: #f7fafb;
          border: 2px solid #b6d2de;
          position: relative;
          &.withTarget{
            margin-top: 52px;
            .no-updates{
              height: calc(100% - 50px);
            }
          }
        }

        .timeline{
          height: 310px;
          position: relative;
          .bullets{
            position: absolute;
            bottom: -3px;
            &>div{
              width: 22px;height: 22px;
              color: #1e4d48;
              text-align: center;
              line-height: 18px;
              letter-spacing: -2px;
              font-weight: bold;
              font-size: 12px;
              position: absolute;
              margin-left: -11px;
              span{
                display: inline-block;
                transform: translateX(-1px);
              }
              transition: all .2s ease-out;
              cursor: pointer;
              transform: rotate(45deg);
            }
          }
          .cap{
            text-transform: uppercase;
            font-size: 11px;
            margin-bottom: 3px;
          }
          b{
            font-size: 26px;
            line-height: 23px;
            padding-right: 10px;
            position: relative;
            z-index: 2;
          }

          .target{
            color: #d57549;
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;
            transform: translateY(-2px);
            margin-top: -68px;
            &:after{
              content: " ";
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: #ecbaa2;
              left: 0;top: 53px;
            }
            &>div{
              display: flex;
            }
          }
          .edit-target-form{
            display: flex;
            .ant-input-number{
              width: 160px;
              font-size: 22px;
              input{
                font-weight: 700;
              }
            }
          }
          .edit-target-btn{
            display: inline-block;
            position: relative;
            z-index: 10;
            margin-left: 10px;
            color: rgb(85, 85, 85);
            transform: translateY(-2px);
            font-size: 11px;
            text-transform: uppercase;
            cursor: pointer;
            &.done{
              color: rgb(22, 128, 22);
              font-weight: 600;
            }
            .anticon{
              margin-right: 3px;
              transform: translateY(1px);
              font-size: 16px;
            }
          }
          .actual{
            color: $primaryColor;
            display: flex;
            flex-direction: column;
            width: 100%;
            position: absolute;
            right: 0;
            align-items: flex-end;
            z-index: 2;
            .text{
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              position: relative;
            }
            .cap{
              padding-left: 8px;
            }
            .val{
              position: relative;
              &>small{
                top: 0px;
                left: -37px;
                width: 40px;
                text-align: right;
                display: inline-block;
                position: absolute;
                z-index: 3;
              }
            }
            b{
              padding-right: 0;
              display: inline-block;
              position: relative;z-index: 2;
              padding-left: 8px;
              padding-right: 0px;
            }
            &.projected{
              .cap{
                transform: translateY(4px);
              }
              &>div{
                transform: translateY(-20px);
                padding: 5px;
                text-align: right;
                border-radius: 3px;
                display: flex;
                flex-direction: column;
                position: relative;
                background-color: #fff;
                border: 1px dashed $primaryColor;
                &>small{
                  color: #8b8c8e;
                  font-size: 8px;
                  text-transform: uppercase;
                  font-weight: 500;
                  background-color: #fff;
                  line-height: 10px;
                }
                .cap{
                  margin-top: -5px;
                  margin-bottom: 5px;
                }
                b, .cap{
                  background-color: #fff;
                }
                b{
                  padding-left: 0;
                }
                .val small{
                  position: static;
                  background-color: #fff;
                  transform: translateY(-10px);
                  margin-right: 3px;
                  left: auto;
                }
              }
            }
          }
          &>svg{
            position: absolute;
            bottom: 0;
            top: 43px;
            z-index: 3;
          }
          .actual-line{
            position: absolute;
            background-color: $primaryColor;
            height: 2px;
            width: 100%;
            left: 0;
          }
        }

  .loading-overlay{
    position: absolute;
    height: calc(100vh - 126px);
    top: 126px;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999999;
    font-size: 21px;
    font-weight: 300;
    .inner{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .ant-spin{
      margin-top: 10px;
    }
    small{
      opacity: 0.7;
    }
  }
  
}
.beta{
      margin-left: -60px;
      display: flex;
      background-color: #F3F3F3;
      position: absolute;
      top: 13px;
      padding: 7px;
      border-radius: 3px;
      left: 50%;
      .label{
        margin-left: 7px;
        margin-right: 7px;
        color: #D58D18;
        margin-top: 1px;
        .anticon{
          transform: translateY(3px);
          color: #D58D18;
          font-size: 22px;
          margin-right: 7px;
        }
      }
      .ant-btn{
        &.ant-btn-danger{
          background-color: #D58D18;
          border-color: #D58D18;
        }
      }
    }

    .update-target-modal{
      .ant-input-number{
        width: 100%;
      }
    }
summary{
  font-weight: bold;
}

.divider{
  &:after{
    content: " ";
    position: absolute;
    width: 1px;
    height: 85px;
    top: -16px;
    right: -1px;
    background-color: #E4E4E4;
  }
}
.ant-collapse > .ant-collapse-item {
  margin-bottom: 0.5em;
}
.ant-collapse > .draft-update > .ant-collapse-header:first-child {
  border: 1px solid #D68D19 !important;
  background-color: #e0e9e6 !important;
  .label span{
    color: #D68D19;
    font-weight: bold;
  }
}
.ant-table-row-cell-break-word{
  vertical-align: top;
}