$active: #43998f;

.results-view{
  display: flex;
  .sidebar{
    width: 270px;
    height: calc(100vh - 60px);
    border: 1px solid #d3d3d3;
    border-radius: 7px;
    display: flex;
    position: sticky;
    top: 55px;
    overflow: hidden;
    flex-direction: column;
    header{
      padding: 15px;
    }
    h5{
      font-weight: normal;
    }
    &>ul{
      background-color: #f7f7f7;
      padding: 10px 15px 0;
      margin-bottom: 0;
      overflow-y: scroll;
      &>li{
        padding: 10px 0;
        &:not(:last-child){
          border-bottom: 1px solid #d3d3d3;
          padding-bottom: 10px;
          // margin-bottom: 10px;
        }
        &>.label{
          background-color: #e3eef3;
          border-bottom-right-radius: 7px;
          border-top-left-radius: 7px;
          line-height: 28px;
          padding: 0 10px;
          text-transform: uppercase;
          font-size: 11px;
          display: inline-block;
          color: #7fc1e6;
        }
        &>.count-label{
          color: #7fc1e6;
          margin-left: 10px;
          line-height: 28px;
          display: inline-block;
          font-size: 12px;
        }
        ul{
          padding-top: 10px;
          li{
            padding-left: 10px;
            cursor: pointer;
            padding-top: 5px;
            position: relative;
            &:not(:last-child){
              border-bottom: 1px solid #d3d3d3;
              padding-bottom: 10px;
              margin-bottom: 5px;
            }
            &>a{
              display: flex;
              align-items: center;
            }
            &>div:first-of-type{
              padding-right: 5px;
            }
            .anticon{
              font-size: 18px;
            }
            &:hover{
              background-color: #e3eef3b6;
              &:after{
                content: " ";
                width: 15px;
                height: 100%;
                background-color: #e3eef3b6;
                position: absolute;
                right: -15px;
                top: 0;
              }
              &:before{
                content: " ";
                width: 15px;
                height: 100%;
                background-color: #e3eef3b6;
                position: absolute;
                left: -15px;
                top: 0;
              }
            }
          }
          .label{
            display: inline-block;
            text-transform: capitalize;
            opacity: 0.5;
            font-size: 13px;
          }
          .count-label{
            display: inline-block;
            opacity: 0.5;
            font-weight: bold;
            margin-left: 10px;
            font-size: 13px;
          }
        }
      }
    }
  }
  .main-content{
    margin-left: 15px;
    flex: 1;
  }
  .indicator-content{
    .periods{
      &>.ant-collapse-item>.ant-collapse-content{
        overflow: visible;
      }
      &>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box{
        display: flex;
        .graph{
          width: 400px;
        }
        .sticky{
          z-index: 2;
          position: sticky;
          top: 55px;
        }
        .graph{
          border: 2px solid #b6d2de;
          // padding: 15px;
          // border-radius: 5px;
        }
        .timeline-container{
          padding: 15px 15px 0;
          background-color: #f7fafb;
        }
        .timeline{
          // 
          height: 300px;
          position: relative;
          // margin-bottom: 50px;
          .bullets{
            position: absolute;
            bottom: -5px;
            &>div{
              width: 22px;height: 22px;
              border: 2px solid #1e4d48;
              color: #1e4d48;
              border-radius: 100%;
              text-align: center;
              line-height: 18px;
              letter-spacing: -2px;
              font-weight: bold;
              font-size: 12px;
              position: absolute;
              margin-left: -11px;
              span{
                display: inline-block;
                transform: translateX(-1px);
              }
            }
          }
          .cap{
            text-transform: uppercase;
            font-size: 11px;
            margin-bottom: 3px;
          }
          b{
            font-size: 26px;
            line-height: 23px;
            background-color: #fff;
            padding-right: 10px;
            position: relative;
            z-index: 2;
          }

          .target{
            color: #d57549;
            display: flex;
            flex-direction: column;
            position: relative;
            // margin: 8px;
            overflow: hidden;
            &:after{
              content: " ";
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: #f5ddd2;
              left: 0;top: 33px;
            }
          }
          .actual{
            color: $active;
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100%;
            top: 154px;
            // background-color: #fff;
            align-items: flex-end;
            .text{
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              position: relative;
            }
            .cap{
              // padding-right: 8px;
            }
            .val{
              position: relative;
            }
            b{
              padding-right: 0;
              display: inline-block;
              background-color: #fff;
              position: relative;z-index: 2;
              padding-left: 8px;
              padding-right: 0px;
            }
            small{
              bottom: -16px; right: 0px;
              width: 40px;
              text-align: right;
              display: inline-block;
              position: absolute;
              z-index: 3;
              background-color: #fff;
            }
            &:before{
              content: " ";
              position: absolute;
              background-color: $active;
              height: 2px;
              width: 100%;
              left: 0;top: 37px;
            }
          }
          svg{
            position: absolute;
            bottom: 0;
          }
        }

        .baseline-values{
          display: flex;
          padding-top: 50px;
          padding-left: 30px;
          padding-bottom: 20px;
          background-color: #fbfdfd;
          .baseline-value{
            display: flex;
            flex-direction: column;
            font-size: 12px;
            margin-right: 40px;
            .label{
              font-weight: 300;
              text-transform: uppercase;
              color: #777;
            }
            .value{
              font-weight: bold;
              color: $active;
            }
          }
        }
        .updates{
          flex: 1;
          margin-left: 20px;
          .ant-collapse{
            .ant-collapse-item{
              .ant-collapse-header{
                // width: 100%;
                .ant-collapse-arrow{
                  left: auto;
                  right: 16px;
                }
                background-color: #fafcfd;
                display: flex;
                padding: 20px 15px;
                align-items: center;
                // padding-left: 40px;
                .label{
                  color: #717171;
                  margin-right: 25px;
                }
                .status{
                  &.approved{
                    color: $active;
                  }
                  display: flex;
                  font-size: 11px;
                  transform: translateY(3px);
                  .text{
                    margin-top: -2px;
                    line-height: 14px;
                    margin-left: 5px;
                  }
                  svg{
                    width: 24px;
                    height: 24px;
                  }
                }
                .value{
                  font-size: 18px;
                  line-height: 27px;
                  font-weight: 500;
                  border: 2px solid $active;
                  border-radius: 4px;
                  padding: 0px 4px;
                  // margin-left: auto;
                  margin-right: 20px;
                  color: $active;
                }
              }
            }
          }
          .update{
            display: flex;
            flex-direction: column;
            .disaggregations{
              margin: 10px;
              background-color: #fafafa;
              padding: 15px 15px 2px;
              font-size: 12px;
              border-radius: 4px;
              ul{
                border-top: 1px solid white;
                margin-top: 10px;
                li{
                  border-bottom: 1px solid white;
                  line-height: 30px;
                  display: flex;
                  &>span:last-child{
                    margin-left: auto;
                  }
                }
              }
            }
            .comments{
              flex: 1;
              padding: 10px;
              .label{
                font-size: 11px;
                opacity: 0.4;
                padding: 10px;
              }
              .comment{
                border-top: 1px solid #e9e9e9;
                padding: 20px 0;
                font-size: 12px;
                .top{
                  display: flex;
                  margin-bottom: 5px;
                  b{
                    font-weight: 500;
                  }
                  &>b:last-of-type{
                    margin-left: auto;
                  }
                }
                p{
                  opacity: 0.6;
                }
              }
            }
          }
          &>.ant-btn{
            margin-top: 15px;
            color: $active;
            border-color: $active;
          }
        }
      }
    }
  }
}