@import '../../utils/common.scss';

.results-view{
  display: flex;
  .sidebar{
    width: 330px;
    height: calc(100vh - 60px);
    border: 1px solid #d3d3d3;
    border-radius: 7px;
    display: flex;
    position: sticky;
    top: 55px;
    overflow: hidden;
    flex-direction: column;
    header{
      padding: 15px;
    }
    h5{
      font-weight: normal;
    }
    &>ul{
      background-color: #f7f7f7;
      // padding: 10px 15px 0;
      margin-bottom: 0;
      overflow-y: scroll;
      &>li{
        padding: 10px 15px;
        &.active{
          background-color: #f1f6f9;
        }
        &:not(:last-child){
          border-bottom: 1px solid #d3d3d3;
          padding-bottom: 0px;
        }
        &>.label{
          background-color: #e3eef3;
          border-bottom-right-radius: 7px;
          border-top-left-radius: 7px;
          line-height: 28px;
          padding: 0 10px;
          text-transform: uppercase;
          font-size: 11px;
          display: inline-block;
          color: #7fc1e6;
        }
        &>.count-label{
          color: #7fc1e6;
          margin-left: 10px;
          line-height: 28px;
          font-weight: 500;
          display: inline-block;
          font-size: 12px;
        }
        ul{
          padding-top: 10px;
          li{
            padding-left: 25px;
            cursor: pointer;
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative;
            &:not(:last-child){
              border-bottom: 1px solid #d3d3d3;
              padding-bottom: 10px;
              // margin-bottom: 5px;
            }
            &>a{
              display: flex;
              align-items: center;
              div, i{
                color: #000;
              }
            }
            &>div:first-of-type{
              padding-right: 5px;
            }
            .anticon{
              font-size: 18px;
            }
            &:hover{
              background-color: #e3eef3b6;
              &:after{
                content: " ";
                width: 15px;
                height: 100%;
                background-color: #e3eef3b6;
                position: absolute;
                right: -15px;
                top: 0;
              }
              &:before{
                content: " ";
                width: 15px;
                height: 100%;
                background-color: #e3eef3b6;
                position: absolute;
                left: -15px;
                top: 0;
              }
            }
            &.active{
              background-color: #b7d3df;
              position: relative;
              &:before{
                position: absolute;
                content: " ";
                height: 100%;
                width: 30px;
                left: -30px;top: 0;
                background-color: #b7d3df;
              }
              &:after{
                position: absolute;
                content: " ";
                height: 100%;
                width: 30px;
                right: -30px;top: 0;
                background-color: #b7d3df;
              }
              a{
                h5{
                  color: #376881;
                }
                div, i{
                  color: #fff;
                  opacity: 1;
                }
              }
            }
          }
          .label{
            display: inline-block;
            text-transform: capitalize;
            opacity: 0.5;
            font-size: 13px;
          }
          .count-label{
            display: inline-block;
            opacity: 0.5;
            font-weight: bold;
            margin-left: 10px;
            font-size: 13px;
          }
        }
      }
    }
  }
  .main-content{
    margin-left: 15px;
    flex: 1;
  }
  .results-list{
    background-color: #fff;
    &>.ant-collapse-item>.ant-collapse-header{
      font-weight: 500;
      font-size: 16px;
      .expander{
        width: 34px;
        min-width: 34px;
        height: 34px;
        background: #f5f5f5;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-right: 15px;
        margin-top: 5px;
        svg{
          transition: all .3s ease-out;
          path{
            fill: #b7b7b7;
          }
        }
        &.isActive svg{
          transform: rotate(180deg);
        }
      }
      display: flex;
      padding: 17px 0;
    }
    &>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box{
      padding: 0;
      &>.ant-collapse{
        &>.ant-collapse-item{
          &>.ant-collapse-header{
            padding-right: 40px;
            padding-left: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 15px;
            .ant-collapse-arrow{
              left: auto;
              right: 16px;
            }
          }
          .ant-collapse{
            background-color: #fff;
            .ant-collapse-item{
              .ant-collapse-header{
                padding-top: 16px;
                padding-bottom: 16px;
              }
            }
          }
        }
      }
    }
  }
  
  .periods{
    &>.ant-collapse-item>.ant-collapse-content{
      overflow: visible;
    }
    &>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box{
      display: flex;
      .graph{
        width: 400px;
      }
      .sticky{
        z-index: 2;
        position: sticky;
        top: 55px;
        border: 2px solid #b6d2de;
      }
      .graph{
        
        // padding: 15px;
        // border-radius: 5px;
      }
      .timeline-container{
        padding: 15px 15px 35px;
        background-color: #f7fafb;
      }
      .no-updates{
        text-align: center;
        margin-top: 2px;
        margin-bottom: -20px;
        color: rgb(138, 138, 138);
      }
      .timeline{
        // 
        height: 310px;
        position: relative;
        // margin-bottom: 50px;
        .bullets{
          position: absolute;
          bottom: -3px;
          &>div{
            width: 22px;height: 22px;
            border: 2px solid #1e4d48;
            color: #1e4d48;
            border-radius: 100%;
            text-align: center;
            line-height: 18px;
            letter-spacing: -2px;
            font-weight: bold;
            font-size: 12px;
            position: absolute;
            margin-left: -11px;
            span{
              display: inline-block;
              transform: translateX(-1px);
            }
            transition: all .2s ease-out;
            cursor: pointer;
            &:hover, &.pinned{
              background-color: $primaryColor;
              color: #fff;
            }
          }
        }
        .cap{
          text-transform: uppercase;
          font-size: 11px;
          margin-bottom: 3px;
        }
        b{
          font-size: 26px;
          line-height: 23px;
          background-color: #f7fafb;
          padding-right: 10px;
          position: relative;
          z-index: 2;
        }

        .target{
          color: #d57549;
          display: flex;
          flex-direction: column;
          position: relative;
          z-index: 1;
          transform: translateY(-2px);
          // overflow: hidden;
          &:after{
            content: " ";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #ecbaa2;
            left: 0;top: 53px;
          }
        }
        .actual{
          color: $primaryColor;
          display: flex;
          flex-direction: column;
          width: 100%;
          position: absolute;
          right: 0;
          align-items: flex-end;
          z-index: 2;
          .text{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
          }
          .cap{
            padding-left: 8px;
            background-color: #f8fafb;
          }
          .val{
            position: relative;
            small{
              top: 0px;
              left: -37px;
              width: 40px;
              text-align: right;
              display: inline-block;
              position: absolute;
              z-index: 3;
              background-color: #f7fafb;
            }
          }
          b{
            padding-right: 0;
            display: inline-block;
            position: relative;z-index: 2;
            padding-left: 8px;
            padding-right: 0px;
          }
          &.projected{
            color: #a6bbb8;
            .cap{
              transform: translateY(4px);
            }
            &>small{
              position: absolute;
              top: -7px;
              color: #8b8c8e;
              font-size: 8px;
              text-transform: uppercase;
              font-weight: 500;
            }
          }
        }
        svg{
          position: absolute;
          bottom: 0;
          top: 43px;
          z-index: 3;
        }
        .actual-line{
          position: absolute;
          background-color: $primaryColor;
          height: 2px;
          width: 100%;
          left: 0;
        }
      }
      .dsg-overview{
        padding: 20px;
        &>header{
          // display: flex;
          // margin-bottom: 20px;
          // &>.target{
          //   margin-left: auto;
          // }
          // .cap{
          //   text-transform: uppercase;
          //   font-size: 11px;
          //   margin-bottom: 3px;
          // }
          // b{
          //   font-size: 26px;
          //   line-height: 23px;
          //   background-color: #f7fafb;
          //   // padding-right: 10px;
          //   position: relative;
          //   z-index: 2;
          // }
          // small{
          //   padding-left: 5px;
          // }

          // &>.target{
          //   color: #d57549;
          //   display: flex;
          //   flex-direction: column;
          //   position: relative;
          //   z-index: 1;
          //   text-align: right;
          // }
          .labels{
            display: flex;
            text-transform: uppercase;
            margin-bottom: 10px;               
            .target{
              margin-left: auto;
              b{
                margin-right: 5px;
              }
            }
          }
          .bar{
            height: 30px;
            margin-top: 1px;
            background-color: #e9e9e9;
            display: flex;
            position: relative;
            line-height: 30px;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 20px;
            overflow: hidden;
            border-radius: 3px;
            .fill{
              color: #fff;
              text-align: right;
              padding-right: 5px;
              padding-left: 3px;
              background-color: $primaryColor;
              position: relative;
              z-index: 2;
            }
            .target{
              position: absolute;
              right: 5px;
            }
          }
        }
        .disaggregation-group{
          h5{
            margin-bottom: 15px;
          }
          position: relative;
          &:not(:first-of-type){
            margin-top: 40px;
            &:before{
              content: " ";
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: rgb(221, 221, 221);
              top: -15px;
              left: 0;
            }
          }
          ul{
            li{
              margin-bottom: 17px;
              .labels{
                text-transform: uppercase;
                display: flex;
                color: #000;
                font-size: 12px;
                .label{
                  // transform: translateY(2px);
                }
                .target{
                  margin-left: auto;
                  b{
                    font-weight: 500;
                    opacity: 0.7;
                  }
                  span{
                    font-size: 10px;
                    opacity: 0.5;
                    padding-left: 5px;
                  }
                }
              }
              .bar{
                height: 20px;
                margin-top: 1px;
                background-color: #e9e9e9;
                display: flex;
                position: relative;
                overflow: hidden;
                border-radius: 2px;
                .fill{
                  text-align: right;
                  padding-right: 5px;
                  padding-left: 3px;
                  background-color: #cacaca;
                  position: relative;
                  z-index: 2;
                  color: #fff;
                  line-height: 20px;
                  font-size: 12px;
                }
                .target{
                  position: absolute;
                  right: 5px;
                }
              }
            }
          }
          @include disaggregation-bar-colors;
        }
      }

      .baseline-values{
        display: flex;
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 20px;
        background-color: #fbfdfd;
        .baseline-value{
          display: flex;
          flex-direction: column;
          font-size: 11px;
          margin-right: 40px;
          .label{
            text-transform: uppercase;
            color: #777;
          }
          .value{
            font-weight: bold;
            color: $primaryColor;
            font-size: 14px;
          }
        }
      }
      .updates-list .ant-collapse-content-box{
        padding: 0;
      }
      .updates{
        flex: 1;
        margin-left: 20px;
        .ant-collapse{
          .ant-collapse-item{
            .ant-collapse-header{
              // width: 100%;
              .ant-collapse-arrow{
                left: auto;
                right: 16px;
              }
              background-color: #fafcfd;
              display: flex;
              padding: 20px 15px;
              align-items: center;
              // padding-left: 40px;
              .label{
                color: #717171;
                margin-right: 25px;
              }
              .status{
                &.approved{
                  color: $primaryColor;
                }
                display: flex;
                font-size: 11px;
                transform: translateY(3px);
                .text{
                  margin-top: -7px;
                  line-height: 14px;
                  margin-left: 5px;
                  display: flex;
                  align-items: center;
                }
                svg{
                  width: 24px;
                  height: 24px;
                }
              }
              .value{
                font-size: 18px;
                line-height: 27px;
                font-weight: 500;
                border: 2px solid $primaryColor;
                border-radius: 4px;
                padding: 0px 4px;
                // margin-left: auto;
                margin-right: 20px;
                color: $primaryColor;
                transition: all .2s ease-out;
                &.hovered{
                  background-color: $primaryColor;
                  color: #fff;
                }
              }
            }
          }
          .ant-collapse-item.new-update{
            .ant-collapse-header{
              .btns{
                margin-left: auto;
                margin-right: 15px;
                .ant-btn-primary{
                  background-color: #000;
                  border-color: #000;
                }
                .ant-btn-link{
                  color: #000;
                }
              }
              &>i{
                display: none;
              }
            }
            .ant-collapse-content-box{
              padding: 20px;
              [type=text]{
                max-width: 150px;
              }
              .ant-input-number{
                width: 160px;
              }
              label{
                color: rgb(105, 105, 105);
                small{
                  margin-left: 25px;
                  opacity: 0.6;
                }
              }
            }
          }
        }
        .update{
          display: flex;
          flex-direction: column;
          padding: 0;
          .disaggregations{
            margin: 10px;
            // background-color: #fafafa;
            padding: 5px 5px 2px;
            font-size: 12px;
            border-radius: 4px;
            display: flex;
            .disaggregation-group{
              // display: flex;
              position: relative;
              margin-right: 30px;
              &:after{
                content: " ";
                position: absolute;
                height: 100%;
                width: 1px;
                background-color: #e6e6e6;
                right: -15px;
                top: 0;
              }
              &>span{
                position: absolute;
              }
              h5{
                margin-bottom: 10px;
              }
              @include disaggregation-bar-colors;
              table{
                b{
                    margin-right: 15px;
                    margin-bottom: 5px;
                    background-color: #8f9271;
                    color: #fff;
                    padding: 3px 7px;
                    border-radius: 3px;
                    display: block;
                    text-align: center;
                    font-weight: 500;
                  }
              }
            }
          }
          .comments{
            flex: 1;
            padding: 10px;
            header{
              display: flex;
              .ant-btn{
                font-size: 12px;
                margin-top: 10px;
                color: $primaryColor;
              }
            }
            .label{
              font-size: 12px;
              opacity: 0.5;
              padding: 10px;
              .count{
                background-color: #e9e9e9;
                width: 24px;height: 24px;
                border-radius: 12px;
                display: inline-block;
                margin-left: 15px;
                font-size: 14px;
                color: rgb(133, 133, 133);
                text-align: center;
                line-height: 24px;
                font-weight: 500;
              }
            }
            .comment{
              border-top: 1px solid #e9e9e9;
              padding: 20px 10px;
              font-size: 12px;
              .top{
                display: flex;
                margin-bottom: 5px;
                b{
                  font-weight: 500;
                }
                &>b:last-of-type{
                  margin-left: auto;
                }
              }
              p{
                opacity: 0.6;
                margin-bottom: 0;
              }
            }
          }
        }
        &>.ant-btn{
          margin-top: 15px;
          color: $primaryColor;
          border-color: $primaryColor;
        }
      }
    }
  }
}