{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}

<div style="padding:10px 0px 10px 0px;">
	
{% if o.has_water_projects %} 
	<img src="{{MEDIA_URL}}akvo/img/blue.png" title="{% trans 'Water' %}" alt="{% trans 'Project category' %}" class="category_icon" />
{% endif %}

{% if o.has_sanitation_projects %}
	<img src="{{MEDIA_URL}}akvo/img/orange.png" title="{% trans 'Sanitation' %}" alt="{% trans 'Project category' %}" class="category_icon" />
{% endif %}	

{% if o.has_training_projects %}
	<img src="{{MEDIA_URL}}akvo/img/purple.png" title="{% trans 'Training' %}" alt="{% trans 'Project category' %}" class="category_icon" />
{% endif %}

{% if o.has_education_projects %}
	<img src="{{MEDIA_URL}}akvo/img/green.png" title="{% trans 'Education' %}" alt="{% trans 'Project category' %}" class="category_icon" />
{% endif %}

{% if o.has_maintenance_projects %}
	<img src="{{MEDIA_URL}}akvo/img/olive.png" title="{% trans 'Maintenance' %}" alt="{% trans 'Project category' %}" class="category_icon" />		
{% endif %}

</div>
