{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n rsr_filters rsr_tags humanize %}
{% load url from future %}

<div class="fundingwrap">
	<div class="fundingboxwide-header"> </div>
	<div class="fundingboxwide-content" style="padding:10px 0;">
		{% if project.funding_still_needed|round = 0 %}
			<div class="fundingbox-funded" style="padding-top:15px; padding-bottom:0px;">	
				<div class="fullyfunded-text">
					<p>{% trans 'Raised' %}:&nbsp;{{project.get_currency_display|safe}}&nbsp;{{project.funding_total_given|round|intcomma}}</p>
				</div>
				<p class="grey fullyfunded-text" style="margin-bottom:15px;">{% trans 'This project is' %}<br />
					<span class="green" style="font-weight:bold; ">{% trans 'Fully funded' %}</span>
				</p>
			</div>
		{% else %}
			<div style="float:left; width:154px;">
				{% project_budget project %}
			</div>
			<div style="float:left; width:105px; border-left:1px solid #BCDAE0; padding-top:5px;";>
				{% if project.status != 'L' and project.status != 'R' %}
					{% individual_donate_button project %}
					<br />
					{% institutions_sponsor project %}
				{% endif %}
			</div>
		{% endif %}
	</div>
	<div class="fundingboxwide-footer"> </div>
</div>
	
