{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n rsr_filters humanize %}

<div class="fundingwrap">
	<div class="fundingboxnarrow-header"> </div>
	<div class="fundingboxnarrow-content" >
		{% if project.funding_still_needed|round = 0 %}
			<div class="fundingbox-funded">	
				<div class="fullyfunded-text">
					<p>{% trans 'Raised' %}:&nbsp;{{project.get_currency_display|safe}}&nbsp;{{project.funding_total_given|round|intcomma}}</p>
				</div>
				<p class="grey fullyfunded-text">{% trans 'This project is' %}<br />
					<span class="green" style="font-weight:bold; ">{% trans 'Fully funded' %}</span>
				</p>
			</div>
		{% else %}
			<table class="fundingbox-table" border="0" cellspacing="0" cellpadding="0" style="width:140px !important;">
				<tr class="green">
					<th>{% trans 'Raised' %}:</th>
					<td>{{project.get_currency_display|safe}} {{project.funding_total_given|round|intcomma}}</td>
				</tr>
				<tr class="red">
					<th>{% trans 'Still needed' %}:</th>
					<td>{{project.get_currency_display|safe}} {{project.funding_still_needed|round|intcomma}}</td>
				</tr>
			</table>
			<div class="fundingbox-progress-bar">
				{% if project.budget_total %}
					<div class="fundingbox-progress-bar-progress" style="width:{% widthratio project.funding_total_given project.budget_total 100 %}%"> </div>
				{% endif %}
			</div>
			<table class="fundingbox-table" border="0" cellspacing="0" cellpadding="0" style="width:140px !important;">
				<tr>
					<th>{% trans 'Total budget' %}:</th>
					<td>{{project.get_currency_display|safe}} {{project.budget_total|round|intcomma}}</td>
				</tr>					
			</table>
			{% if project.status != 'L' and project.status != 'R' %}
				<div id="donate44" style="margin: 10px; border-bottom:1px solid #A1A0AD; padding-bottom:7px;">
					<p class="grey" style="text-align:center; line-height:1.0em; margin-bottom:5px;">{% trans 'Individuals' %}</p>
					<a href="{% url project_donate project_id=project.id %}" class="donate_button" onclick="this.blur();" style="margin:0 auto;"><span>Donate</span></a>
				</div>
				<div style="margin:10px; text-align:center; margin-bottom:5px;">
					<p class="grey" style="line-height:1.0em; margin-bottom:0;">{% trans 'Institutions' %}:
						<span class="fundingbox-donate-right-sponsor" style="display:inline;">&nbsp;
							<a href="http://akvo.org/web/how_to_fund_a_project">{% trans 'Sponsor' %}&nbsp;&#x25BA;</a>
						</span>
					</p>
				</div>
			{% endif %}
		{% endif %}
	</div>
	<div class="fundingboxnarrow-footer"> </div>
</div>
