
{% load i18n rsr_filters humanize %}

<div class="round" style="border:1px solid #65BBCE; background-color:#FBFAF6; padding:5px 0;">
	{% ifequal p.funding_still_needed|round 0 %}
		<div style="padding:30px 0px; text-align:center;">
			<p class="green" style="margin:0; padding:0;">
				{% trans 'Fully funded' %}
			</p>
		</div>
	{% else %}
		<table class="fundingbox-table" cellspacing="0">
			<tr class="green">
				<th>{% trans 'Raised' %}:</th>
				<td>{{p.get_currency_display|safe}} {{p.funding_total_given|round|intcomma}}</td>
			</tr>
			<tr class="red">
				<th>{% trans 'Still needed' %}:</th>
				<td>{{p.get_currency_display|safe}} {{p.funding_still_needed|round|intcomma}}</td>
			</tr>	
		</table>
		<div class="fundingbox-progress-bar">
			{% if p.budget_total %}
			<div class="fundingbox-progress-bar-progress" style="width:{% widthratio p.funding_total_given p.budget_total 100 %}%"> </div>
			{% endif %}
		</div>
		<table class="fundingbox-table" cellspacing="0">
			<tr class="black">
				<th>{% trans 'Total budget' %}:</th>
				<td>{{p.get_currency_display|safe}} {{p.budget_total|round|intcomma}}</td>
			</tr>					
		</table>
	{% endifequal %}
</div>

{% comment %}
	
	
		{% if p.budget_total %}
			<table class="fundingbox-table" cellspacing="0">
				<tr class="green">
					<th>{% trans 'Raised' %}:</th>
					<td>{{p.get_currency_display|safe}} {{p.funding_total_given|round|intcomma}}</td>
				</tr>
				<tr class="red">
					<th>{% trans 'Still needed' %}:</th>
					<td>{{p.get_currency_display|safe}} {{p.funding_still_needed|round|intcomma}}</td>
				</tr>	
			</table>
			<div class="fundingbox-progress-bar-progress" 
				style="width:{% widthratio p.funding_total_given p.budget_total 100 %}%"> 
			</div>
		{% endif %}
{% endcomment %}