{% load i18n thumbnail %}

{% thumbnail object.map wxh crop upscale as map_thumb %}

{% if map_thumb %}
    <div style="width: {{width}}px; height:{{height}}px; text-align: center; vertical-align: middle; {{div_style}}">
        <img
            src="{{map_thumb}}"
            alt="{% trans 'Location' %}"
            title="{% trans 'Location' %}"
            style="{{img_style}}"
        />
    </div>
{% else %}
    <img src="{{MEDIA_URL}}akvo/img/nomap.jpg" style="{{div_style}}" />
{% endif %}