{% if debug %}
<link rel="stylesheet" href="{{MEDIA_URL}}akvo/css/src/style.css" type="text/css" media="screen" title="main">
<!--[if IE 6]><link rel="stylesheet" href="{{MEDIA_URL}}css/ie6.css" type="text/css" media="screen, projection"><![endif]-->
{% else %}
<link rel="stylesheet" href="{{MEDIA_URL}}akvo/css/src/style.css" type="text/css" media="screen" title="main">
<!--[if IE 6]><link rel="stylesheet" href="{{MEDIA_URL}}css/ie6.css" type="text/css" media="screen, projection"><![endif]-->
{% endif%}