{% load i18n thumbnail %}
{% load url from future %}

{% thumbnail update.photo wxh autocrop sharpen as update_image %}

{% if update_image %}
    <img src="{{update_image}}" alt="{{update.photo_caption}}" style="margin: 10px 10px 5px 20px" />
    <p class="small lightx1">
        {% if update.photo_caption %}
            {{update.photo_caption}}
        {% endif %}
        {% if update.photo_credit %}
            {% trans 'Photo credit' %}: {{update.photo_credit}}
        {% endif %}
    </p>
{% endif %}

