@import url("http://localhost/rsr/media/css/reset.css");
@import url("http://localhost/rsr/media/css/global.css");
@import url("http://localhost/rsr/media/css/style_rsr.css");
@import url("http://localhost/rsr/media/css/tabs.css");


/*------------------------------------------------------------------ 
[Table of contents] 
 
1. Body 
2. Widget 				/ .widget
3. Widget Table 		/ .widgetTable
4. Founding Table 		/ #widgetfoundingTable
5. Footer (Powered by)	/ #widgetFooter
-------------------------------------------------------------------*/


/*------------------------------------------------------------------ 
[1. Body] 
*/
html,body { 
	overflow: auto; 
	border:none; 
}
html>body { 
	overflow: visible; 
	border:none; 
}
html { height: 100%; }
IMG.photo { display:block; margin-top:10px;	margin-bottom:10px; }


/*------------------------------------------------------------------ 
[2. Widget / .widget] 
*/
.widget { 
	border:1px solid #ccc; 
	border:1px solid #7c808f;
	font-size:12px; 
}
.widgetHead { 
	background-color: #eb008d; 
	color: #fff; 
	padding: 5px 5px 5px 5px; 
}
.widgetHeadBig { 
	background-color: #eb008d; 
	color: #fff;
	padding: 15px 15px 15px 15px; 
	font-size:16px;
}
.widgetBody { padding: 20px 15px 5px 15px;}
.widgetBody p {
	font-size:13px; 
	font-weight: bold; 
	margin:0;
}
.widgetBody h1 {
	padding:0;
	margin: 0px 0px 15px 0px;
	font-size:16px;
	font-weight: bold;
}
.widgetBodyBigHeader {
	font-size:14px !important;
}

.widgetGreyText {
	color:rgb(153, 153, 153);
	background-color:inherit;
	padding: 3px 0px 0px 0px;
	font-size:12px !important;
	font-weight:normal !important;
}
.widgetCentered {
	width:100%; 
	text-align:center;
	margin:5px 0px 5px 0px;
}
.widgetClear {
  	height: 0;
  	clear: both;
}

.widgetTwoColumnWraper {
	width:200px;
	margin-top:20px;
}

.widgetTwoColumnLeftCell {
	float:left;
	width:90px;
	text-align:center;
	margin-top:7px;
	min-height:30px
}
.widgetTwoColumnRightCell {
	width:90px;
	display:inline;
	text-align:center;
	min-height:30px
}
.widgetBlueLink {
	font-weight: normal;
	font-size:12px;
}

/*------------------------------------------------------------------ 
[3. Widget Table / .widgetTable] 
*/
.widgetTable { margin:0; padding:0;}
.widgetTable td,th {font-weight:bold;}
.widgetTable th {width:120px;}

/*------------------------------------------------------------------ 
[4. Founding Table / #widgetfoundingTable] 
*/
#widgetfoundingTable thead { 
	background-color:inherit; 
	color:#00b300; 
}
#widgetfoundingTable tbody {
	background-color:inherit;
	color:#90cb9c;
}
#widgetfoundingTable tfoot {
	background-color:inherit;
	color:#ed0059;
}		
#widgetTotalBudget thead {
	background-color:inherit;
	color:#000000;
}
#widgetProgressBar {
	margin: 5px 0px 5px 0px;
	border:1px solid #7a7673;
}
#widgetProgressBar img { display: block; } /* IE6 fix*/

/*------------------------------------------------------------------ 
[5. Footer (Powered by)  / #widgetFooter] 
*/

#widgetFooter {margin: 3px 0px 0px 0px;}
#widgetFooter p { 
	display:inline; 
	font-size:10px !important; 
}
#widgetFooter img { vertical-align:bottom; }