body {
    background: #F9F9FA url(../img/top_gradient.png) repeat-x top fixed;
    color:#000;
    }

div#main_container {
    margin-top:80px;
    margin-bottom:40px;
    }
    
#footer {
    background: #F9F9FA url(../img/footer_gradient.png) repeat-x top;
    color:#585E68;
    padding-top:40px;
}