
	#donate_step_box {
		background: #fff url('{{MEDIA_URL}}img/donate/step_box_bkgd.png') repeat-x;
		border:1px solid #DFE0E6;
		margin-bottom:20px;
		margin-left:auto;
		margin-right:auto;
		margin-top:20px;
		width:785px;
	}
	
	#donate_step_box_inner {
		background: transparent url('{{MEDIA_URL}}img/donate/step_box_line.png') repeat-x 0px 20px;
		margin-left:auto;
		margin-right:auto;
		width:750px;
		height:40px;
	}
	.donate_steps {
		color:#8F94A3;
		float:left;
		margin-right:10px;
		padding-top:30px;
		width:140px;
		text-align:center;
		padding-bottom:10px;
		}
		
	.active_donate_step {
		color:#000;
		background: transparent url('{{MEDIA_URL}}img/donate/step_box_ball.gif') no-repeat center 15px;
	}
	
	#donate_step_5 {
		margin-right:0;
	}