
ul.machinery_steps {
    margin-left: 1em;
    }
    
.machinery_widget_choice_left {
    background-color:#cecece;
    float:left; 
    width:205px;
    }

.machinery_widget_choice_right {
    background-color:#ececec;
    float:left; 
    width:540px;
    margin-left:120px;
    }    

