#header {
    /*background: #EFF3F5 url('../img/main_nav_bottom.png') repeat-x bottom;*/
    background: transparent url('../img/main_nav_bkgd.png') repeat-x bottom;
    z-index:5;
    left: 0; /* IE 7 */
	position: fixed;
	top: 0;
	width: 100%;
    }

ul#main_nav {
    margin:0; 
    padding:0
    }

ul#main_nav li {
    list-style: none;
    display: inline;
    margin:0;
    padding:0;
    }

ul#main_nav li a {    
    color: #383C82;
    cursor: pointer;
    display: block;
    float: left;
    font-size:0.875em;
    font-weight:bold;
    height:37px;
    margin:0;
    overflow:hidden;
    padding:0;
    width: 90px;
    /*-webkit-transition:background-color .2s ease-out;*/
    }

ul#main_nav li a:hover {   
    background-color: #fff;
    color:#2097F7;
    text-decoration: none;
    }

ul#main_nav li a.active {
    background-color: #fff;
    }
    
ul#main_nav li a span {
    border-right: 1px solid #ACACBA;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* height and padding-top decides sets height on 
    the main_nav, use padding-top to position your text. */
    height:28px;
    padding-top:5px;
    cursor: pointer;
    }

a#main_nav_left {
    width:100px !important;
    overflow:hidden;
    }

#main_nav_language {
    float:left;
    width:244px;
    overflow:hidden;
    border-right: 1px solid #ACACBA;
    height:32px;
    }

#main_nav_account {    
    color:#32842F !important;
    }

#main_nav_account span {
    border-right: None !important;
    }

/*ul#account_nav {
    background-color:cyan;
    display:none;
    height:198px; 
    min-width:200px;
    position:absolute;
    width:100%;
    right:0;
    z-index:2;
    top:100%;
    }*/





