#project_status {
    background-color: #2096F5; /* fallback color */
    background-image: -moz-linear-gradient(100% 100% 90deg, #2096F5, #2D80AE);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2096F5), to(#2D80AE));
    }