$primaryColor: #43998f;
$colors: #A278B5, rgb(182, 74, 106), #DB3056, #FF6464, #FFB99A, #CFB495, #8BBABB, #6C7B95, #32AFA9, #A4D4AE, #698474, #889E81, #BAC7A7, #F8B195, #F67280, #C06C84, #6C5B7B, #6C7261, #E6A157, #EB8242, #C9753D, #FBDFF0, #F6C3E5, #F0CF85, #381460, #933B5B, #FF6F5E, #40BFC1, #9ACEFF, #12CAD6, #0FABBC, #151965, #32407B, #515585, #46B5D1, #E9EA77, #FFD369, #a99260, #c38a6d, #d8d13e;
$g1colors: #8E936D, #598381, #177E89, #08605F, #CDD1C4, #5C80BC, #4D5061, #30323D, #E8C547, #A2AD59;
$g2colors: #0c7b93, #00a8cc, #ecce6d, #b0a160, #434e52, #5b8c85, #e9e2d0, #ea9085, #92cad3, #6d9499;
$g3colors: #2c498b, #35619b, #3e78ab, #4891bb, #52aacb, #6abdd0, #8ecccc, #b4dbcb, #dceac9;
$g4colors: #B40815, #CC0516, #EC1817, #F9532F, #FF9B58, #D62A0B;
$submitted: rgb(24, 144, 255);

@mixin disaggregation-bar-colors{
  &:nth-child(1) .disaggregations-bar .dsg-item{
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) .color{
        background-color: nth($g1colors, $i);
      }
    }
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) .text-color{
        color: nth($g1colors, $i);
      }
    }
  }
  &:nth-child(2) .disaggregations-bar .dsg-item{
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) .color{
        background-color: nth($g2colors, $i);
      }
    }
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) .text-color{
        color: nth($g2colors, $i);
      }
    }
  }
  &:nth-child(3) .disaggregations-bar .dsg-item{
    @for $i from 1 through 9 {
      &:nth-child(#{$i}) .color{
        background-color: nth($g3colors, $i);
      }
    }
    @for $i from 1 through 9 {
      &:nth-child(#{$i}) .text-color{
        color: nth($g3colors, $i);
      }
    }
  }
  &:nth-child(4) .disaggregations-bar .dsg-item{
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) .color{
        background-color: nth($g4colors, $i);
      }
    }
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) .text-color{
        color: nth($g4colors, $i);
      }
    }
  }
}