$primaryColor: #43998f;
$colors: #A278B5, rgb(182, 74, 106), #DB3056, #FF6464, #FFB99A, #CFB495, #8BBABB, #6C7B95, #32AFA9, #A4D4AE, #698474, #889E81, #BAC7A7, #F8B195, #F67280, #C06C84, #6C5B7B, #6C7261, #E6A157, #EB8242, #C9753D, #FBDFF0, #F6C3E5, #F0CF85, #381460, #933B5B, #FF6F5E, #40BFC1, #9ACEFF, #12CAD6, #0FABBC, #151965, #32407B, #515585, #46B5D1, #E9EA77, #FFD369, #a99260, #c38a6d, #d8d13e;
@mixin disaggregation-bar-colors{
  &:nth-child(1) .disaggregations-bar .dsg-item{
    &:nth-child(1) .color{
      background-color: #8E936D;
    }
    &:nth-child(2) .color{
      background-color: #598381;
    }
    &:nth-child(3) .color{
      background-color: #177E89;
    }
    &:nth-child(4) .color{
      background-color: #08605F;
    }
    &:nth-child(5) .color{
      background-color: #CDD1C4;
    }
    &:nth-child(6) .color{
      background-color: #5C80BC;
    }
    &:nth-child(7) .color{
      background-color: #4D5061;
    }
    &:nth-child(8) .color{
      background-color: #30323D;
    }
    &:nth-child(9) .color{
      background-color: #E8C547;
    }
    &:nth-child(10) .color{
      background-color: #A2AD59;
    }
  }
  &:nth-child(2) .disaggregations-bar .dsg-item{
    &:nth-child(1) .color{
      background-color: #0c7b93;
    }
    &:nth-child(2) .color{
      background-color: #00a8cc;
    }
    &:nth-child(3) .color{
      background-color: #ecce6d;
    }
    &:nth-child(4) .color{
      background-color: #b0a160;
    }
    &:nth-child(5) .color{
      background-color: #434e52;
    }
    &:nth-child(6) .color{
      background-color: #5b8c85;
    }
    &:nth-child(7) .color{
      background-color: #e9e2d0;
    }
    &:nth-child(8) .color{
      background-color: #ea9085;
    }
    &:nth-child(9) .color{
      background-color: #92cad3;
    }
    &:nth-child(10) .color{
      background-color: #6d9499;
    }
  }
  &:nth-child(3) .disaggregations-bar .dsg-item{
    &:nth-child(1) .color{
      background-color: #2c498b;
    }
    &:nth-child(2) .color{
      background-color: #35619b;
    }
    &:nth-child(3) .color{
      background-color: #3e78ab;
    }
    &:nth-child(4) .color{
      background-color: #4891bb;
    }
    &:nth-child(5) .color{
      background-color: #52aacb;
    }
    &:nth-child(6) .color{
      background-color: #6abdd0;
    }
    &:nth-child(7) .color{
      background-color: #8ecccc;
    }
    &:nth-child(8) .color{
      background-color: #b4dbcb;
    }
    &:nth-child(9) .color{
      background-color: #dceac9;
    }
  }
  &:nth-child(4) .disaggregations-bar .dsg-item{
    &:nth-child(1) .color{
      background-color: #B40815;
    }
    &:nth-child(2) .color{
      background-color: #CC0516;
    }
    &:nth-child(3) .color{
      background-color: #EC1817;
    }
    &:nth-child(4) .color{
      background-color: #F9532F;
    }
    &:nth-child(5) .color{
      background-color: #FF9B58;
    }
    &:nth-child(6) .color{
      background-color: #D62A0B;
    }
  }
}