body {
	text-align: center; /* center hack */
}

#wrapper {
    width: 90%; /* center hack */
    width: 990px; /* fixed width */
    margin: 0 auto; /* center hack */
    text-align: left;
}

#top {
    width: 100%;
}

#header {
    text-align: center;
}

#search_form {
    text-align: left;
}

#menu {
    clear: both;
}

#main {
    float: left;
    width: 75%;
}

#content {
    float: right;
    width: 66.7%;
    overflow: hidden;
}

* html #content {
    float: right;
    width: 66.7%;
    overflow: hidden;
}

#sidebar-left {
    float: left;
    width: 33.3%;
    overflow: hidden;
}

* html #sidebar-left {
    float: left;
    width: 33.3%;
    overflow: hidden;
}

#sidebar-right {
    float: right;
    width: 25%;
    overflow: hidden;
    margin-left: -3px;
}

* html #sidebar-right {
    float: right;
    width: 25%;
    overflow: hidden;
    margin-left: -3px;
}

#footer {
    clear: both;
}

