{% extends "rsr/base.html" %}
{% load i18n humanize rsr_filters %}
{% load url from future %}

{% block head %}
  {{block.super}}

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable(
              {{updates_by_month|safe}}
      );

      var options = {
        title: "{% trans 'Project updates by month' %}",
        titleTextStyle: {
          color: '#2097F7',
          fontSize: 20
        },
        backgroundColor: {
          fill: '#EFF3F5', stroke: '#CCC', strokeWidth: '1'
        },
        hAxis: {title: "{% trans 'Month' %}", titleTextStyle: {color: '#2097F7'}},
        vAxis: {title: "{% trans 'Update count' %}", baseline: 0, titleTextStyle: {color: '#2097F7'}}
      };

      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }

    google.load('visualization', '1', {'packages': ['geochart']});
    google.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {
      var country_lookup = {{country_lookup|safe}};
      var data = google.visualization.arrayToDataTable(
              {{projects_by_country|safe}}
      );

      var options = {
        backgroundColor: {
          fill: '#EFF3F5', stroke: '#CCC', strokeWidth: '1'
        },
        colorAxis: {
          minValue: 0,  colors: ['#dce5f6', '#2d2b75']
        }
      };

      var geochart = new google.visualization.GeoChart(document.getElementById('map_div'));
      google.visualization.events.addListener(geochart, 'select', function() {
        var selectionIdx = geochart.getSelection()[0].row;
        var countryName = data.getValue(selectionIdx, 0);
        window.location = '/rsr/projects/all/?locations__country=' + country_lookup[countryName];
      });
      geochart.draw(data, options);
    };
  </script>
{%  endblock head %}

{% block breadcrum_items %}
  {{block.super}}
  <li id="last_breadcrum_item">{% trans "Akvo at a glance" %}</li>
{% endblock breadcrum_items %}

{% block maincontent %}

  <div class="clearfix">
    {% block outer_leftwing %}
    {% endblock outer_leftwing %}

    {% block outer_rightwing %}
      <div id="outer_rightwing">
        {% block outer_rightwing_top %}

        {% endblock outer_rightwing_top %}
        <div class="boxhead">
          {% if debug %}
            TIME: {% now "jS F Y H:i:s" %}
            PATH_INFO: {{request.META.PATH_INFO}}
            LANG: {{lang}}
          {% endif %}
          <h1>{% trans 'Akvo at a glance' %}</h1>
        </div> <!-- .boxhead -->
        <div class="boxbody">
          <table class="overall_statistics" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <th colspan="2">
                {% if request.path = '/rsr/projects/' %}
                  <h2>{% trans 'Projects in Akvo' %}</h2>
                {% else %}
                  <a href="{% url 'project_list' 'all' %}">
                    <h2>{% trans 'Projects in Akvo' %}</h2>
                  </a>
                {% endif %}
              </th>
            </tr>
            <tr>
              <td>
                {% trans 'Active' %}
              </td>
              <td style="text-align:right;">
                {{projects.status_active.count}}
              </td>
            </tr>
            <tr>
              <td>
                {% trans 'Need funding' %}
              </td>
              <td style="text-align:right;">
                {{projects.status_onhold.count}}
              </td>
            </tr>
            <tr>
              <td>
                {% trans 'Complete' %}
              </td>
              <td style="text-align:right;">
                {{projects.status_complete.count}}
              </td>
            </tr>
            <tr>
              <td>
                {% trans 'Cancelled' %}
              </td>
              <td style="text-align:right;">
                {{projects.status_cancelled.count}}
              </td>
            </tr>
            <tr class="hr bold">
              <td style="padding-top:2px; padding-bottom:20px;">
                {% trans 'Total projects' %}
              </td>
              <td style="text-align:right; padding-top:3px;">
                {{projects.status_not_archived.count}}
              </td>
            </tr>
          </table>
          <table class="overall_statistics" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
            <tr>
              <th colspan="3">
                <h2>{% trans 'People who get...' %}</h2>
              </th>
            </tr>
            <tr>
              <td style="width:50px;">&nbsp;</td>
              <td style="font-size:0.9em; width:80px; text-align:right;"><a href="/web/help_akvo_at_a_glance">{% trans 'Upcoming' %}</a></td>
              <td style="font-size:0.9em; width:80px; text-align:right;"><a href="/web/help_akvo_at_a_glance">{% trans 'Delivered' %}</a></td>
            </tr>
            <tr>
              <td style="font-weight:bold;">{% trans 'Water' %}</td>
              <td style="text-align:right;">{{projects.get_planned_water_calc|intcomma}}</td>
              <td style="text-align:right;">{{projects.get_actual_water_calc|intcomma}}</td>
            </tr>
            <tr class="hr">
              <td style="font-weight:bold; padding-bottom:20px;">{% trans 'Sanitation' %}</td>
              <td style="text-align:right;">{{projects.get_planned_sanitation_calc|intcomma}}</td>
              <td style="text-align:right;">{{projects.get_actual_sanitation_calc|intcomma}}</td>
            </tr>
          </table>
          <table class="overall_statistics" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
            <tr>
              <th colspan="2">
                <h2>{% trans 'Project Partners' %}</h2>
              </th>
            </tr>
            <tr>
              <td style="width:50%;">
                <a href="{% url 'rsr_org_list_filtered' "field" %}">{% trans 'Field partners' %}</a>
              </td>
              <td style="text-align:right; width:25%;">{{orgs.fieldpartners.count}}</td>
            </tr>
            <tr>
              <td><a href="{% url 'rsr_org_list_filtered' "support" %}">{% trans 'Support partners' %}</a></td>
              <td style="text-align:right;">{{orgs.supportpartners.count}}</td>
            </tr>
            <tr class="hr">
              <td style="padding-bottom:20px;">
                <a href="{% url 'rsr_org_list_filtered' "funding" %}">{% trans 'Funding partners' %}</a>
              </td>
              <td style="text-align:right;">{{orgs.fundingpartners.count}}</td>
            </tr>
            <tr class="bold">
              <td style="padding-bottom:5px;">{% trans 'Total organisations' %}</td>
              <td style="text-align:right;">{{orgs.all.count}}</td>
            </tr>
          </table>
          <table class="overall_statistics" border="0" cellspacing="0" cellpadding="0" style="margin-top:20px;">
            <tr class="font-weight:bold;">
              <th colspan="2" style="padding-bottom:10px;">
                <h2>{% trans 'Funding' %}</h2>
              </th>
            </tr>
            <tr>
              <td colspan="2">
                <strong>
                  {{projects.status_not_cancelled.status_not_archived.euros.distinct.count}}
                  project{{projects.status_not_cancelled.status_not_archived.euros.distinct.count|pluralize:"s"}}
                  in Euros
                </strong>
              </td>
            </tr>
            <tr>
              <td>{% trans 'Budget' %}</td>
              <td style="text-align:right;">
                € {{projects.status_not_cancelled.status_not_archived.euros.distinct.budget_sum|round|intcomma}}
              </td>
            </tr>
            <tr style="color:green;">
              <td>{% trans 'Raised' %}</td>
              <td style="text-align:right;">
                € {{projects.status_not_cancelled.status_not_archived.euros.distinct.funds_sum|round|intcomma}}
              </td>
            </tr>
            <tr style="color:red;">
              <td style="padding-bottom:5px;">{% trans 'Still needed' %}</td>
              <td style="text-align:right;">
                € {{projects.status_not_cancelled.status_not_archived.euros.distinct.funds_needed_sum|round|intcomma}}
              </td>
            </tr>
            {% if projects.status_not_cancelled.status_not_archived.dollars.distinct.count %}
              <tr>
                <td colspan="2">
                  <strong>
                    {{projects.status_not_cancelled.status_not_archived.dollars.distinct.count}}
                    project{{projects.status_not_cancelled.status_not_archived.dollars.distinct.count|pluralize:"s"}}
                    in US Dollars
                  </strong>
                </td>
              </tr>
              <tr>
                <td>{% trans 'Budget' %}</td>
                <td style="text-align:right;">
                  $ {{projects.status_not_cancelled.status_not_archived.dollars.distinct.budget_sum|round|intcomma}}
                </td>
              </tr>
              <tr style="color:green;">
                <td>{% trans 'Raised' %}</td>
                <td style="text-align:right;">$ {{projects.status_not_cancelled.status_not_archived.dollars.distinct.funds_sum|round|intcomma}}</td>
              </tr>
              <tr style="color:red;">
                <td style="padding-bottom:5px;">{% trans 'Still needed' %}</td>
                <td style="text-align:right;">$ {{projects.status_not_cancelled.status_not_archived.dollars.distinct.funds_needed_sum|round|intcomma}}</td>
              </tr>
            {% endif %}
          </table>
          <div id="chart_div" style="width: 975px; height: 600px;"></div>
          <h2 style="margin-top: 15px;">{% trans 'Projects by country' %}</h2>
          <div id="map_div" style="width: 975px; height: 600px;"></div>
          <p class="small grey">{% trans 'Click on a country to view the projects' %}</p>
        </div><!-- .boxbody -->
      </div><!-- #outer_rightwing -->
    {% endblock outer_rightwing %}
  </div> <!-- .clearfix to prevent floated elements above to collide with projects table -->

{% endblock maincontent %}
