{% extends "rsr/base.html" %}
{% load cache i18n humanize rsr_filters %}
{% load url from future %}


{% block maincontent %}

	<div class="clearfix">
		{% block outer_leftwing %}
			<div id="outer_leftwing">
				<h1>I'm left!</h1>
			</div> <!-- #outer_leftwing -->
		{% endblock outer_leftwing %}

		{% block outer_rightwing %}
			{% cache RSR_CACHE_SECONDS akvo_at_a_glance request.META.PATH_INFO lang %}
			<div id="outer_rightwing">
				{% block outer_rightwing_top %}
					
				{% endblock outer_rightwing_top %}
				<div class="boxhead">
					{% if debug %}
	            		TIME: {% now "jS F Y H:i:s" %}
	            		PATH_INFO: {{request.META.PATH_INFO}}
	            		LANG: {{lang}}
	        		{% endif %}
					<h1>{% trans 'Akvo at a glance' %}</h1>
				</div> <!-- .boxhead -->
				<div class="boxbody">
					<table class="overall_statistics" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<th colspan="2">
								{% if request.path = '/rsr/projects/' %}
								<h2>{% trans 'Projects in Akvo' %}</h2>
								{% else %}
									<a href="{% url 'project_list' 'all' %}">
										<h2>{% trans 'Projects in Akvo' %}</h2>
									</a>
								{% endif %}
							</th>
						</tr>
						<tr>
							<td>
								{% trans 'Active' %}
							</td>
							<td style="text-align:right;">
								{{projects.status_active.count}}
							</td>
						</tr>
						<tr>
							<td>
								{% trans 'Need funding' %}
							</td>
							<td style="text-align:right;">
								{{projects.status_onhold.count}}
							</td>
						</tr>
						<tr>
							<td>
								{% trans 'Complete' %}
							</td>
							<td style="text-align:right;">
								{{projects.status_complete.count}}
							</td>
						</tr>
						<tr>
							<td>
								{% trans 'Cancelled' %}
							</td>
							<td style="text-align:right;">
								{{projects.status_cancelled.count}}
							</td>
						</tr>
						<tr class="hr bold">
							<td style="padding-top:2px; padding-bottom:20px;">
								{% trans 'Total projects' %}
							</td>
							<td style="text-align:right; padding-top:3px;">
								{{projects.status_not_archived.count}}
							</td>
						</tr>
					</table>
					<table class="overall_statistics" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;"> 	
						<tr>
							<th colspan="3">
								<h2>{% trans 'People who get...' %}</h2>
							</th>
						</tr>
						<tr>
							<td style="width:50px;">&nbsp;</td>
							<td style="font-size:0.9em; width:80px; text-align:right;"><a href="/web/help_akvo_at_a_glance">{% trans 'Upcoming' %}</a></td>
							<td style="font-size:0.9em; width:80px; text-align:right;"><a href="/web/help_akvo_at_a_glance">{% trans 'Delivered' %}</a></td>
						</tr>
						<tr>
							<td style="font-weight:bold;">{% trans 'Water' %}</td>
							<td style="text-align:right;">{{projects.get_planned_water_calc|intcomma}}</td>
							<td style="text-align:right;">{{projects.get_actual_water_calc|intcomma}}</td>
						</tr>
						<tr class="hr">
							<td style="font-weight:bold; padding-bottom:20px;">{% trans 'Sanitation' %}</td>
							<td style="text-align:right;">{{projects.get_planned_sanitation_calc|intcomma}}</td>
							<td style="text-align:right;">{{projects.get_actual_sanitation_calc|intcomma}}</td>
						</tr>
					</table>
					<table class="overall_statistics" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">	
						<tr>
							<th colspan="3">
								{% if request.path = '/rsr/organisations/' %}
									<h2>{% trans 'Project Partners' %}</h2>
								{% else %}
									<a href="{% url 'rsr_org_list' %}">
										<h2>{% trans 'Project Partners' %}</h2>
									</a>
								{% endif %}
							</th>
						</tr>
						<tr class="bold">
							<td colspan="2" style="padding-bottom:5px;">{% trans 'Total organisations' %}</td>
							<td colspan="2" style="text-align:right;">{{orgs.all.count}}</td>
						</tr>
						<tr>
							<td style="width:50%;"><a href="{% url 'rsr_org_list_filtered' "field" %}">{% trans 'Field partners' %}</a></td>
							<td style="text-align:right; width:25%;">{{orgs.fieldpartners.count}}</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><a href="{% url 'rsr_org_list_filtered' "support" %}">{% trans 'Support partners' %}</a></td>
							<td style="text-align:right;">{{orgs.supportpartners.count}}</td>
							<td>&nbsp;</td>
						</tr>
						<tr class="hr">
							<td style="padding-bottom:20px;"><a href="{% url 'rsr_org_list_filtered' "funding" %}">{% trans 'Funding partners' %}</a></td>
							<td style="text-align:right;">{{orgs.fundingpartners.count}}</td>
							<td>&nbsp;</td>
						</tr>
					</table>
					<table class="overall_statistics" border="0" cellspacing="0" cellpadding="0" style="margin-top:20px;">	
						<tr class="font-weight:bold;">
							<th colspan="2" style="padding-bottom:10px;">
								{% trans 'Funding' %} {#<span style="font-weight:normal; color:#999">({{projects.count}} {% trans 'Projects' %})</span>#}
							</th>
						</tr>
						<tr>
							<td>{{projects.status_not_cancelled.status_not_archived.euro_projects_count}} project{{projects.status_not_cancelled.status_not_archived.euro_projects_count|pluralize:"s"}} in Euros</td>
						</tr>
						<tr style="color:green;">
							<td>{% trans 'Raised' %}</td>
							<td style="text-align:right;">{{projects.euros.0.get_currency_display|safe}} {{projects.status_not_cancelled.status_not_archived.euros.total_pledged|add:projects.status_not_cancelled.status_not_archived.euros.total_donated|round|intcomma}}</td>
						</tr>
						<tr style="color:red;">
							<td style="padding-bottom:5px;">{% trans 'Still needed' %}</td>
							<td style="text-align:right;">{{projects.euros.0.get_currency_display|safe}} {{projects.status_not_cancelled.status_not_archived.euros.total_funds_needed|round|intcomma}}</td>
						</tr>
						{% if projects.status_not_cancelled.status_not_archived.dollar_projects_count %}
						<tr>
							<td>{{projects.status_not_cancelled.status_not_archived.dollar_projects_count}} project{{projects.status_not_cancelled.status_not_archived.dollar_projects_count|pluralize:"s"}} in US Dollars</td>
						</tr>
						<tr style="color:green;">
							<td>{% trans 'Raised' %}</td>
							<td style="text-align:right;">{{projects.dollars.0.get_currency_display|safe}} {{projects.status_not_cancelled.status_not_archived.dollars.total_pledged|add:projects.status_not_cancelled.status_not_archived.dollars.total_donated|round|intcomma}}</td>
						</tr>
						<tr style="color:red;">
							<td style="padding-bottom:5px;">{% trans 'Still needed' %}</td>
							<td style="text-align:right;">{{projects.dollars.0.get_currency_display|safe}} {{projects.status_not_cancelled.status_not_archived.dollars.total_funds_needed|round|intcomma}}</td>
						</tr>
						{% endif %}
					</table>
				</div><!-- .boxbody -->
			</div><!-- #outer_rightwing -->
			{% endcache %}
		{% endblock outer_rightwing %}
	</div> <!-- .clearfix to prevent floated elements above to collide with projects table -->

{% endblock maincontent %}
