{% load i18n rsr_tags webdesign piwik_tags %}
{% load url from future %}


<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="{% trans 'We help donors and doers reach out to fund many thousands of new water and sanitation projects.' %}" />
	<meta name="keywords" content="akvo, Akvo, akvo.org, Akvo.org, water, sanitation" />
	<title>Akvo.org - {% block title %}{% trans 'See it happen' %}{% endblock %}</title>

  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,900,700,600,300,200,500|Questrial|Inconsolata|Muli:400,300italic,400italic,300|Raleway:400,900,800,700,600,500,100,200,300|Lobster|Lobster+Two:400,400italic,700,700italic|Lato:400,100,300,700,900,100italic,300italic,400italic,900italic,700italic' rel='stylesheet' type='text/css'>
	{% asset_bundle 'akvo_style' %}
	<!--[if IE 6]>
		{% asset_bundle 'akvo_ie6_style' %}
	<![endif]-->

  <style type="text/css" media="screen">
  	{% block inline_styles %}{% endblock inline_styles %}
	</style>
  
	<link rel="shortcut icon" href="{{MEDIA_URL}}akvo/img/favicon.ico" type="image/x-icon">

  {#  Piwik #}
  {% tracking_code %}

    <meta property="og:type" content="website"/>

	{% block head %}
    {# this link is overridden in organisation.html and project_base.html#}
    <link rel="alternate" type="application/rss+xml" title="Blog entries" href="/blog/?feed=rss2" />
    <link rel="alternate" type="application/rss+xml" title="{% trans 'Project updates for all Akvo RSR projects' %}" id="gallery" href="{%  url 'rss_all_updates' %}">
	{% endblock head %}

</head>
<body>

  <header id="top" class="newHeadFoot" role="banner">
    <div class="wrapperHead floats-in">
      <h1><a href="http://akvo.org"> Akvo.org </a></h1>
      <div id="navbar"><a href="#">Nav Menu</a></div>
      <nav id="n">
        <ul id="menu-main" class="menu">
          <li id="menu-item-304" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-304"><a href="http://akvo.org/products/">Products</a> </li>
          <li id="menu-item-308" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-308"><a href="http://akvo.org/seeithappen/">See it happen</a> </li>
          <li id="menu-item-309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-309"><a href="http://akvo.org/about-us/">About us</a> </li>
          <li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-316"><a href="http://akvo.org/blog/">Blog</a></li>
          <li id="menu-item-11685" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-9482 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-11685"><a href="http://akvo.org/help/help-support/">Help</a> </li>
        </ul>
      </nav>
      <div id="logIn" class="logInHeader">
        <nav>
          <ul>
            {% if not user.username %}
              <li>
                <a href="{% url 'register1' %}">Register</a>
              </li>
              <li>
                <a id="main_nav_account" href="{% url 'signin' %}?next={{request.path}}">Sign in</a>
              </li>
            {% else %}
              <li>
                <a href="{% url 'myakvo' %}">My Akvo</a>
              </li>
              <li>
                <a id="main_nav_account" href="{% url 'signout' %}">Sign out</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
    <div id="openSource"> <a href="http://akvo.org/open-data-content-and-software-at-akvo/" target="_blank">
      <h2>We love Open Source!</h2>
      </a> </div>
  </header>

	<div id="main_container" class="container">
		{% block draft %}
  		{% if draft %}
    		<div style="background-color:#E04F46; color:#fff; padding:10px; text-align:center; margin-bottom:20px;">
          {% trans "This is a draft view of the project. It can only be seen by Projects Members and Akvo Administrators." %}
        </div>
  		{% endif %}
		{% endblock draft %}
		
      {% block breadcrum %}

        <div class="span-18" style="margin-bottom:20px;">
          <div id="breadcrum_back">
            <ul id="breadcrum">
              {% block breadcrum_items %}
              <li><a href="http://akvo.org"><span>{% trans "Home" %}</span></a></li>
              {% endblock breadcrum_items %}
            </ul>
            <div class="clear"></div>
          </div>
        </div>

    {% endblock breadcrum %}
	
		{% block maincontent %}
			<h1>Akvo RSR</h1>
		{% endblock maincontent %}
	</div>

  <footer id="newFooter" class="newHeadFoot floats-in bottomPage" role="contentinfo">
    <div>
      <section id="siteMap" class="floats-in">
        <div class="wrapperHead">
          <div class="siteMapListMenu">
            <h3>About</h3>
            <nav>
              <ul>
                <li><a href="http://akvo.org/about-us/">About us</a></li>
                <li><a href="http://akvo.org/about-us/team/">Team</a></li>
                <li><a href="http://akvo.org/about-us/working-at-akvo/">Working at Akvo</a></li>
                <li><a href="http://akvo.org/about-us/akvo-faq/">Akvo FAQ</a></li>
                <li class="mediaPress"><a href="http://akvo.org/about-us/media-and-press/">Media</a></li>
                <li><a href="http://akvo.org/about-us/annual-reports/">Annual reports</a></li>
                <li><a href="http://akvo.org/about-us/articles-of-incorporation/">Article of incorporation</a></li>
              </ul>
            </nav>
          </div>
          <div class="siteMapListMenu">
            <h3>Partners</h3>
            <nav>
              <ul>
                <li><a href="http://akvo.org/about-us/partners/#govGroup">Governments</a></li>
                <li><a href="http://akvo.org/about-us/partners/#compsGroup">Companies</a></li>
                <li><a href="http://akvo.org/about-us/partners/#founGroup">Foundations</a></li>
                <li><a href="http://akvo.org/about-us/partners/#intGovGroup">Inter-governmental</a></li>
                <li><a href="http://akvo.org/about-us/partners/#ngoGroup">NGOs</a></li>
                <li><a href="http://akvo.org/about-us/partners/#knowledgeGroup">Knowledge Institutes</a></li>
                <li><a href="http://rsr.akvo.org">RSR users</a></li>
              </ul>
            </nav>
            <h3>Developers</h3>
            <nav>
              <ul>
                <li><a href="http://www.github.com/akvo">Source code</a></li>
                <li><a href="http://akvo.org/help/akvo-policies-and-terms-2/api-code-of-conduct/">API code of conduct</a></li>
              </ul>
            </nav>
          </div>
          <div class="siteMapListMenu">
            <h3>Policies</h3>
            <nav>
              <ul>
                <li><a href="http://akvo.org/help/akvo-policies-and-terms-2/">Full list</a></li>
                <li><a href="http://akvo.org/help/akvo-policies-and-terms-2/akvo-terms-of-use/">Terms of use</a></li>
                <li><a href="http://akvo.org/help/akvo-policies-and-terms-2/akvo-privacy-policy/">Privacy</a></li>
                <li><a href="http://akvo.org/help/akvo-policies-and-terms-2/akvo-donation-policy/">Donations</a></li>
                <li><a href="http://akvo.org/help/akvo-policies-and-terms-2/">Partners</a></li>
                <li><a href="http://akvo.org/help/akvo-policies-and-terms-2/">User submitted content</a></li>
                <li><a href="http://akvo.org/help/akvo-policies-and-terms-2/akvo-licensing-and-copyrights/">Licensing and copyright</a></li>
              </ul>
            </nav>
          </div>
          <div class="siteMapListMenu">
            <h3>Contact us</h3>
            <nav>
              <ul>
                <li><a href="http://akvo.org/help/help-support/">Help + support</a></li>
                <li><a href="http://akvo.org/contact-info/ ">Contact info</a></li>
                <li><a href="http://akvo.org/wp-admin/">Administrator? Login</a></li>
                <li class="problem"><a href="mailto:help@akvo.org">Report a problem</a></li>
                <li class=""><a href="http://akvo.statuspage.io">Services status</a></li>
              </ul>
            </nav>
          </div>
          <div class="socialAkvo">
            <h1 class="backLinedGrey">Let's be friends</h1>
            <nav class="socialLinks">
              <ul class="floats-in">
                <li class="twitter"><a href="https://twitter.com/akvo/staff" title="Akvo staff Twitter feed">akvo on twitter</a></li>
                <li class="github"><a href="https://github.com/akvo" title="Access Akvo apps code">akvo on github</a></li>
                <li class="youtube"><a href="http://www.youtube.com/user/Akvofoundation" title="Akvo.tv">akvo on youtube</a></li>
                <li class="flickr"><a href="http://www.flickr.com/search/?q=akvo" title="Akvo is on flickr">akvo on flickr</a></li>
                <li class="facebook"><a href="https://www.facebook.com/1Akvo" title="Akvo is also on Facebook">akvo on facebook</a></li>
                <li class="rss"><a href="http://akvo.org/blog/rss" title="Get our latest blogs RSS">get latest akvo feed</a></li>
                <li class="email"><a href="mailto:partners@akvo.org" title="Email us at partners@akvo.org">email akvo</a></li>
                <li class="contactInfo"><a href="http://akvo.org/contact-info/" title="Contact Akvo" >Contact Akvo</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </section>
      <section id="aboutAkvo">
        <div class="wrapper">
          <h1 class="backLinedGrey">A little more about Akvo.org</h1>
          <p>Akvo creates and runs open source internet and mobile services that make it easy to bring international development work online. We focus on project and programme dashboards, reporting, monitoring, evaluation and making data easier to share. Headquartered in Amsterdam, Akvo is a non-profit foundation that works with more than a thousand organisations around the world.</p>
        </div>
        <!--  <small>Copyright &copy; <?php echo date("Y"); echo " "; bloginfo('name'); ?></small>-->
      </section>
      <!-- <p id="back-top"> <a href="#header"><span></span>Back to Top</a> </p> -->
    </div>
    <?php wp_footer(); ?>
  </footer>

  {% if debug %}
    <script src="{{MEDIA_URL}}core/js/jquery-1.7.1.js"></script>
    <script src="{{MEDIA_URL}}core/js/jquery-ui.1.8.9.js"></script>
  {% else %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      !window.jQuery && document.write('<script src="{{MEDIA_URL}}core/js/jquery-1.7.1.min.js"><\/script>');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
  {% endif %}

  <!-- conditional since old template tags include google maps js -->
  <script type="text/javascript">
    !window.google && document.write('<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"><\/script>');
  </script>

  {% asset_bundle 'akvo_script' %}

	<script type="text/javascript">{% block inline_js %}{% endblock inline_js %}</script>
	{% block js %}{% endblock js %}
	
	<script type="text/javascript">
		var $ = jQ = jQuery.noConflict();
		
		jQ(document).ready(function() {
			//jQ('#languageChooser').change(function() {jQ('#langugeForm').submit();});
      // jQ('#languageChooser').change(function() {window.location = jQ('#languageChooser option:selected').val();});
	    {% block jq_ready %}{% endblock jq_ready %}
	  });    		
	</script>	
</body>
</html>
