{% load i18n rsr_tags webdesign %}
{% load url from future %}


<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="{% trans 'We help donors and doers reach out to fund many thousands of new water and sanitation projects.' %}" />
	<meta name="keywords" content="akvo, Akvo, akvo.org, Akvo.org, water, sanitation" />
	<title>Akvo.org - {% block title %}{% trans 'See it happen' %}{% endblock %}</title>

	{% asset_bundle 'akvo_style' %}
	<!--[if IE 6]>
		{% asset_bundle 'akvo_ie6_style' %}
	<![endif]-->

  <style type="text/css" media="screen">
  	{% block inline_styles %}{% endblock inline_styles %}
	</style>
  
	<link rel="shortcut icon" href="{{MEDIA_URL}}akvo/img/favicon.ico" type="image/x-icon">
	{% block head %}
    {# this link is overridden in organisation.html and project_base.html#}
    <link rel="alternate" type="application/rss+xml" title="Blog entries" href="/blog/?feed=rss2" />
    <link rel="alternate" type="application/rss+xml" title="{% trans 'Project updates for all Akvo RSR projects' %}" id="gallery" href="{%  url 'rss_all_updates' %}">
	{% endblock head %}
	
</head>
<body>
	<div id="header">
		<div id="header_container" class="container">
			<ul id="main_nav">
				<li>
					<a id="main_nav_left" href="/" class="{% if site_section = 'index' %}active{% endif %} {% if not site_section %}active{% endif %} ">
						<span>
							<img src="{{MEDIA_URL}}akvo/img/main_nav_akvo_logo.png" width="82" height="20" alt="Akvo.org" />
						</span>
					</a>
				</li>
				<li>
					<a href="{% url 'project_list' 'all' %}" class="{% if site_section = 'projects' %}active{% endif %}">
						<span>{% trans 'Projects' %}</span>
					</a>
				</li>
				<li>
					<a href="/web/focus-areas/">
						<span>{% trans 'Focus Areas' %}</span>
					</a>
				</li>
				<li>
					<a href="/web/partners" class="{% if site_section = 'partners' %}active{% endif %}">
						<span>{% trans 'Partners' %}</span>
					</a>
				</li>
				<li>
					<a href="/wiki/">
						<span>Akvopedia</span>
					</a>
				</li>
				<li>
					<a href="/web/about">
						<span>{% trans 'About' %}</span>
					</a>
				</li>
				<li>
					<a href="/blog/">
						<span>{% trans 'Blog' %}</span>
					</a>
				</li>
				<li>
					<span id="main_nav_language">
						<span class="small" style="margin-left:20px; margin-top:9px; display:block; ">
							&nbsp;
							{# Site language: English #}
						</span>
					</span>
				</li>
				<li>
					{% if not user.username %}
						<a href="{% url 'register1' %}">
							<span>{% trans 'Register' %}</span>
						</a>
					{% else %}
						<a href="{% url 'myakvo' %}">
							<span>{% trans 'My Akvo' %}</span>
						</a>
					{% endif %}
				</li>
				<li>
					{% if not user.username %}
						<a id="main_nav_account" href="{% url 'signin' %}?next={{request.path}}">
							<span>{% trans 'Sign in' %}</span>
						</a>
					{% else %}
						<a id="main_nav_account" href="{% url 'signout' %}" title="{{user.username}}">
							<span>{% trans 'Sign out' %}</span>
							{# <span>{% trans 'Account' %}</span> #}
						</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>
	<div id="main_container" class="container">
		{% block draft %}
  		{% if draft %}
    		<div style="background-color:#E04F46; color:#fff; padding:10px; text-align:center; margin-bottom:20px;">
          {% trans "This is a draft view of the project. It can only be seen by projects members and Akvo administrators." %}
    		</div>
  		{% endif %}
		{% endblock draft %}
		
      {% block breadcrum %}

        <div class="span-18" style="margin-bottom:20px;">
          <div id="breadcrum_back">
            <ul id="breadcrum">
              {% block breadcrum_items %}
              <li><a href="/"><span>{% trans "Home" %}</span></a></li>
              {% endblock breadcrum_items %}
            </ul>
            <div class="clear"></div>
          </div>
        </div>

				{% comment %}
        <div class="span-18" style="margin-bottom:20px;">
          <div class="span-14">
            <div id="breadcrum_back">
            <ul id="breadcrum">
              {% block breadcrum_items %}
              <li><a href="/"><span>{% trans "Home" %}</span></a></li>
              {% endblock breadcrum_items %}
            </ul>
            <div class="clear"></div>
          </div>
        </div>
        
        <div class="span-4 last" style="margin-bottom:20px; text-align:right">
          <select name="language" id="languageChooser" style="margin-top:3px;" class="span-4 last">
            {% for lang_code, lang_name in LANGUAGES %}
              <option value="/{{ lang_code }}/{{ current_path_without_lang }}" {% ifequal lang_code request.LANGUAGE_CODE %}selected="yes" {% endifequal %}>
                {{ lang_name }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
			{% endcomment %}
    {% endblock breadcrum %}
	
		{% block maincontent %}
			<h1>Akvo RSR</h1>
		{% endblock maincontent %}
	</div>
	<div id="footer">
		<div id="footer_container" class="container">
			<div class="span-18">
				<h2>
					{% comment %}Translators: This is the main header in the footer{% endcomment %}
					{% trans 'About Akvo.org' %}
				</h2>
				<p>
          {% blocktrans %}We are a non-profit foundation headquartered in the Netherlands. We help connect doers and donors to transform communities in some of the poorest parts of the world. The Akvo platform is open source and we encourage others to build on and improve these tools, or adapt the platform for other purposes.{% endblocktrans %}
				</p>
			</div>
			<div class="span-18">
				<div class="span-3 first">
					<h3>{% trans 'Policies' %}</h3>
					<p class="small">
						<a href="/web/terms_of_use">{% trans 'General terms of use' %}</a><br />
						<a href="/web/privacy_policy">{% trans 'Privacy' %}</a><br />
						<a href="/web/donation_policy">{% trans 'Donations' %}</a><br />
						<a href="/web/partners_and_projects_policy">{% trans 'Partners' %}</a><br />
						<a href="/web/akvo-rsr-api-code-of-conduct">
							{% trans 'Akvo API code of conduct' %}
						</a><br />
						<a href="/web/user_contribution_policy">{% trans 'User submitted content' %}</a><br />	
						<a href="/web/open_license">{% trans 'Licensing and copyrights' %}</a><br />
					</p>
				</div>
				<div class="span-3">
					<h3>
						{% comment %}Translators: This is the header for the About column in the footer {% endcomment %}
						{% trans 'About' %}
					</h3>
					<p class="small">
						<a href="/web/about">
							{% comment %}Translators: This is the About us link in the about column in footer{% endcomment %}
							{% trans 'About us' %}
						</a><br />
						<a href="/web/how-it-works">{% trans 'How it works' %}</a><br />
						<a href="/web/team">{% trans 'Team' %}</a><br />
						<a href="/web/jobs">{% trans 'Working at Akvo' %}</a><br />
						<a href="/web/faq">{% trans 'Akvo FAQ' %}</a><br />
						<br />
						<a href="/web/press">{% trans 'Press' %}</a><br />
						<a href="/web/annual_reports">{% trans 'Annual reports' %}</a><br />
						<a href="/web/articles_of_incorporation">{% trans 'Articles of incorporation' %}</a><br />											
					</p>
				</div>
				<div class="span-3">
					<h3>{% trans 'Partners' %}</h3>
					<p class="small">
						<a href="/web/partners">{% trans 'Strategic' %}</a><br />
						<a href="{% url 'rsr_org_list' %}">{% trans 'Project' %}</a><br />
						<a href="/web/commercial_partners">{% trans 'Commercial' %}</a><br />
						<a href="/web/knowledge_institute_partners">{% trans 'Knowledge institutes' %}</a><br />
						<a href="/web/akvo_investors">{% trans 'Akvo investors' %}</a><br />
					</p>
				</div>
				<div class="span-3">
					<h3>{% trans 'Developers' %}</h3>
					<p class="small">
						<a href="/labs/">{% trans 'AkvoLabs' %}</a><br />
						<a href="http://github.com/akvo/">{% trans 'Source code' %}</a><br />
					</p>
				</div>
				<div class="span-3">
					<h3>{% trans 'Admin' %}</h3>
					<p class="small">
						<a href="/rsr/admin">{% trans 'Akvo RSR login' %}</a><br />
						<a href="/blog/wp-login.php">{% trans 'Blog' %}</a><br />
						<a href="/web/?q=node/24">{% trans 'CMS' %}</a><br />
					</p>
				</div>
				<div class="span-3 last">
					<h3>{% trans 'Contact us' %}</h3>
					<p class="small">
						<a href="http://help.akvo.org/">Help + support</a><br />
						<a href="/web/contact_us">{% trans 'Contact info' %}</a><br />
						<br />
						<a class="red" href="http://help.akvo.org/discussion/new ">{% trans 'Report a problem' %}</a><br />
					</p>
				</div>
			</div>
		</div>
	</div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript">
    !window.jQuery && document.write('<script src="{{MEDIA_URL}}core/js/jquery-1.7.1.min.js"><\/script>');
  </script>
	{% if debug %}<script src="{{MEDIA_URL}}core/js/jquery-ui.1.8.9.min.js"></script>{% else %}
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
	{% endif %}

	<script type="text/javascript">{% block inline_js %}{% endblock inline_js %}</script>
	{% block js %}{% endblock js %}
	
	<script type="text/javascript">
		var $ = jQ = jQuery.noConflict();
		
		jQ(document).ready(function() {
			//jQ('#languageChooser').change(function() {jQ('#langugeForm').submit();});
      // jQ('#languageChooser').change(function() {window.location = jQ('#languageChooser option:selected').val();});
	    {% block jq_ready %}{% endblock jq_ready %}
	  });    		
	</script>	
</body>
</html>
