{% extends "rsr/rsr_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n rsr_tags thumbnail %}

{% block title %}{{block.super}} - {% trans 'Donate to Project' %} {{p.id}}{% endblock title %}

{% block style %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/machinery.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/march.css" media="screen" />

<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />

{% endblock style%}


{% block script %}
<script type="text/javascript" charset="utf-8">
	var akvo_project_id = {{p.id}};	
</script>
{% endblock script %}

{% block breadcrumbs %}
{{block.super}} &raquo; <a href="{% url akvo.rsr.views.projectlist %}">{% trans 'Project listing' %}</a> &raquo; <a href="{% url akvo.rsr.views.projectmain p.id %}">{{p.name}}</a> &raquo; {% trans 'Donate' %}
{% comment %}
{{block.super}} &raquo; <a href="{% url akvo.rsr.views.projectlist %}">{% trans 'Project listing' %}</a> &raquo; <a href="{% url akvo.rsr.views.projectmain project.id %}">{{project.name}}</a> &raquo; {% trans 'Get widget' %}
{% endcomment %}
{% endblock breadcrumbs %}


{% block content %}
	{% if live_earth_enabled %}
		{% if has_sponsor_banner %}
		<a href="{% url akvo.rsr.views.liveearth %}"><img src="{{MEDIA_URL}}img/lerfw-banner.png" alt="Live Earth" /></a>
		{% endif %}
	{% endif %}
	
	<div id="machinery-content" style="padding-left:30px; padding-right:30px; margin-bottom:10px; padding-bottom:20px;">
		<h1>{% trans 'Donate to the project' %}</h1>
		<div style="background-color:#F9FAFF; border:1px solid #DFE0E6; width:700px; margin-left:auto; margin-right:auto; margin-top:20px; margin-bottom:20px; padding:10px;">
			Select payment system, Enter amount, Confirm amount, Use payment system, Thank you
		</div>

		<h2 style="padding-left:0; margin-bottom:20px;">Select a payment system to use</h2>
		
		{% ifequal p.currency 'EUR' %}
		<div id="processor_right" style="float:left; width:48%; border:1px solid #DEDFE3; border-bottom:2px solid #DEDFE3; margin-right:30px; padding-bottom:20px;">
			<div style="margin:20px;">
				<h1>For Dutch users only</h1>
				<div style="margin-left:auto; margin-right:auto; margin-top:20px; width:230px; height:150px; text-align:center;">
					<img src="{{MEDIA_URL}}img/ideal-small.png" width="130" height="121" alt="Ideal" style="margin-top:20px;" />
				</div>
				<p>
					In the Netherlands, Akvo offers the iDeal system for payments directly from your bank account.
				</p>
				<div style="margin-left:auto; margin-right:auto; text-align:center; margin-top:20px;">
					<div style="text-align:center; margin-left:auto; margin-right:auto; display:inline-block;">
						<a class="march_button" href="{% url complete_donation project_id=p.id,engine='ideal' %}"><span>iDEAL</span></a>
						<div class="clear"> </div>
					</div>
				</div>				
			</div>			
		</div>
		{% endifequal %}
		
		<div id="processor_left" style="float:left; width:48%; border:1px solid #DEDFE3; border-bottom:2px solid #DEDFE3; padding-bottom:20px;">
			<div style="margin:20px;">
				<h1>For all users</h1>
				<div style="margin-left:auto; margin-right:auto; margin-top:20px; width:230px; height:150px;">
					<img src="{{MEDIA_URL}}img/horizontal_solution_PPeCheck.gif" width="230" height="65" alt="PayPal" style="margin-top:30px;" />
				</div>
				<p>
					For all countries, Akvo offers the PayPal Secure PaymentTM system for donations.
				</p>				
				<div style="margin-left:auto; margin-right:auto; text-align:center; margin-top:20px;">
					<div style="text-align:center; margin-left:auto; margin-right:auto; display:inline-block;">
						<a class="march_button" href="{% url complete_donation project_id=p.id,engine='paypal' %}"><span>Use PayPal</span></a>
						<div class="clear"> </div>
					</div>
				</div>
			</div>
		</div>
		
		<div style="clear:both;"></div>
		<br>
		<a href="{% url akvo.rsr.views.projectmain p.id %}">{% trans 'Cancel' %}</a>
		
		{% comment %}
		<div style="margin:0; padding:0;">
			<div>
				<h3>{% trans 'Project to receive your donation' %}</h3>

				<h1>Click one ofw the following links to select a payment system...</h1>
				<ul>
	            {% ifequal p.currency 'EUR' %}
				<li>
				    <p>A bit of blurb about iDEAL here</p>
				    <a href="{% url complete_donation project_id=p.id,engine='ideal' %}">iDEAL (Netherlands only)</a>
				</li>
				{% endifequal %}
				<li>
				    <p>A bit of blurb about PayPal here</p>
				    <a href="{% url complete_donation project_id=p.id,engine='paypal' %}">PayPal (All territories)</a>
				</li>
				</ul>
			</div>
		</div>
		{% endcomment %}
	</div>
{% endblock %}
{# ----------------------------------------------------------------------------- #}


{% comment %}
Nadat de consument iDEAL heeft gekozen als betaalwijze wordt de eigen bank geselecteerd. De daadwerkelijke betaling vindt daarna plaats in de vertrouwde omgeving van de website van de bank. In deze omgeving staat de bank garant voor de veiligheid. Koper en verkoper zijn verzekerd van een transparante transactie, zonder verborgen kosten.
{% endcomment %}

