{% extends "rsr/rsr_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n rsr_tags thumbnail %}

{% block title %}{{block.super}} - {% trans 'Donate to Project' %} {{p.id}}{% endblock title %}

{% block style %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/machinery.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/march.css" media="screen" />

<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />

{% endblock style%}


{% block script %}
<script type="text/javascript" charset="utf-8">
	var akvo_project_id = {{p.id}};	
</script>
{% endblock script %}

{% block breadcrumbs %}
{{block.super}} &raquo; <a href="{% url akvo.rsr.views.projectlist %}">{% trans 'Project listing' %}</a> &raquo; <a href="{% url akvo.rsr.views.projectmain p.id%}">{{p.name}}</a> &raquo; {% trans 'Choose payment processor' %} (step 1 of 5)
{% comment %}
{{block.super}} &raquo; <a href="{% url akvo.rsr.views.projectlist %}">{% trans 'Project listing' %}</a> &raquo; <a href="{% url akvo.rsr.views.projectmain project.id %}">{{project.name}}</a> &raquo; {% trans 'Get widget' %}
{% endcomment %}
{% endblock breadcrumbs %}


{% block content %}
	{% if live_earth_enabled %}
		{% if has_sponsor_banner %}
		<a href="{% url akvo.rsr.views.liveearth %}"><img src="{{MEDIA_URL}}img/lerfw-banner.png" alt="Live Earth" /></a>
		{% endif %}
	{% endif %}
	
	<div id="machinery-content" style="padding-left:30px; padding-right:30px; margin-bottom:10px; padding-bottom:20px;">
		<h1>{% trans 'Donate to a project in Akvo RSR' %}</h1>
		<hr style="width:100%; margin-left:0; clear:both;" />
		<div id="processor_left" style="float:left; width:48%; background-color:cyan;">
			<h1>Paypal</h1>
		    <a href="{% url complete_donation project_id=p.id,engine='paypal' %}">PayPal</a> (All territories)
		</div>
		
		{% ifequal p.currency 'EUR' %}
		<div id="processor_right" style="float:right; width:48%; background-color:yellow;">
			<h1>IDEAL</h1>
		    <a href="{% url complete_donation project_id=p.id,engine='ideal' %}">iDEAL</a> (Netherlands only)
		</div>
		{% endifequal %}
		<div style="clear:both;"></div>
		
		{% comment %}
		<div style="margin:0; padding:0;">
			<div>
				<h3>{% trans 'Project to receive your donation' %}</h3>

				<h1>Click one ofw the following links to select a payment system...</h1>
				<ul>
	            {% ifequal p.currency 'EUR' %}
				<li>
				    <p>A bit of blurb about iDEAL here</p>
				    <a href="{% url complete_donation project_id=p.id,engine='ideal' %}">iDEAL (Netherlands only)</a>
				</li>
				{% endifequal %}
				<li>
				    <p>A bit of blurb about PayPal here</p>
				    <a href="{% url complete_donation project_id=p.id,engine='paypal' %}">PayPal (All territories)</a>
				</li>
				</ul>
			</div>
		</div>
		{% endcomment %}
	</div>
{% endblock %}
{# ----------------------------------------------------------------------------- #}



