{% load i18n %}

<p>{{ invoice.time }}</p>

<br />

{% if invoice.user %}
<p>Name: {{ invoice.user.first_name }} {{ invoice.user.last_name }}</p>
<p>Email: {{ invoice.user.email }}</p>
<br />
<p>Dear {{ invoice.user.first_name }} {{ invoice.user.last_name }},</p>
{% else %}
<p>Name: {{ invoice.name }}</p>
<p>Email: {{ invoice.email }}</p>
<br />
<p>Dear {{ invoice.name }},</p>
{% endif %}

<br />

<p>Thank you for your online contribution on Akvo.org.  By giving, you have personally helped to advance the cause of clean water and sanitation around the world.</p>

<p>No goods or services were provided in exchange for your gift of funds.  At this time, only residents of the following countries may treat this donation as a tax-deductible charitable contribution to the extent allowed by law.</p>

<ul>
        {% ifequal invoice.project.currency 'EUR' %}
        <li>- The Netherlands (Nederland)</li>
        {% endifequal %}
        {% ifequal invoice.project.currency 'USD' %}
        <li>- United States of America</li>
        {% endifequal %}
</ul>

<p>We are working hard to expand this list to new countries.  In the future, you may check http://www.akvo.org/web/charitable/ to see if we have added your country to this list.</p>

<p>Please retain this message as a record of your contribution.</p>

<p>And please tell your friends about Akvo.org!  :)</p>

<br />

<p>A summary of your contribution:</p>

<ul>
    <li>Your gift will help: <a href="{{invoice.project.get_absolute_url}}">{{ invoice.project.name|safe }}</a></li>
    <li>Total contribution amount: {{ invoice.project.get_currency_display|safe }} {{ invoice.amount }}</li>
    <li>Akvo Reference ID: {{ invoice.id }}</li>
    {% ifequal payment_engine "paypal" %}
        <li>PayPal reference: {{ invoice.ipn }}</li>
    {% endifequal %}
    {% ifequal payment_engine "ideal" %}
        <li>Mollie/iDEAL reference: {{ invoice.transaction_id }}</li>
    {% endifequal %}
</ul>

<br />

<p>Visit the project at the link above to see progress and updates.</p>

<p>You may email us with technical questions at <a href="mailto:contribute@akvo.org">contribute@akvo.org</a></p>
