{% extends "rsr/sys_message_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}

{% block title %}{% trans 'Error: 404 - the page is not available' %}{% endblock title %}

{% block page_id %}
<div id="error">
{% endblock page_id %}

{% block message %}
    <h1 class="c1">
        {% block error_head %}{% trans "404: We're sorry, we can't find the page you requested" %}{% endblock %}
    </h1>

    <div class="c2">
        {% block error_body %}
		{{ request }}
		
        {% endblock error_body %}

        <p>{% trans 'Please <a href="mailto:support@akvo.org">contact us</a> if you have any questions.' %}</p>

    </div>
{% endblock message %}
