{% extends "rsr/rsr_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}

{% block content %}

<div class="clearfix">

{% block outer_leftwing %}
<div id="outer_leftwing">
	<h1>I'm left!</h1>
</div> <!-- #outer_leftwing -->
{% endblock outer_leftwing %}

{% block outer_rightwing %}
<div id="outer_rightwing">

	<div class="boxhead">
		<h1>{% trans 'Akvo at a glance' %}</h1>
	</div> <!-- .boxhead -->

	<div class="boxbody">
	<div></div>
	
	<table class="overall_statistics" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">
				{% ifequal request.path '/rsr/projects/' %}
				<h2>{% trans 'Projects in Akvo' %}</h2>
				{% else %}
					<a href="{% url akvo.rsr.views.projectlist %}">
						<h2>{% trans 'Projects in Akvo' %}</h2>
					</a>
				{% endifequal %}
			</th>
		</tr>
		<tr>
			<td>
				{% trans 'Active' %}
			</td>
			<td style="text-align:right;">
				{{stats.status_active}}
			</td>
		</tr>
		<tr>
			<td>
				{% trans 'On hold' %}
			</td>
			<td style="text-align:right;">
				{{stats.status_onhold}}
			</td>
		</tr>
		<tr>
			<td>
				{% trans 'Complete' %}
			</td>
			<td style="text-align:right;">
				{{stats.status_complete}}
			</td>
		</tr>
		<tr>
			<td>
				{% trans 'Cancelled' %}
			</td>
			<td style="text-align:right;">
				?
			</td>
		</tr>
		<tr class="hr bold">
			<td style="padding-top:2px; padding-bottom:20px;">
				{% trans 'Total projects' %}
			</td>
			<td style="text-align:right; padding-top:3px;">
				{{stats.project_count}}
			</td>
		</tr>
		
	</table>
	<table class="overall_statistics" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;"> 	
		<tr>
			<th colspan="3">
				<h2>{% trans 'People who get...' %}</h2>
			</th>
		</tr>
		<tr>
			<td style="width:50px;">&nbsp;</td>
			<td style="font-size:0.9em; width:80px; text-align:right;"><a href="#">{% trans 'Upcomming' %}</a></td>
			<td style="font-size:0.9em; width:80px; text-align:right;"><a href="#">{% trans 'Delivered' %}</a></td>
		</tr>
		<tr>
			<td style="font-weight:bold;">{% trans 'Water' %}</td>
			<td style="text-align:right;">{{stats.mdgs_water}}</td>
			<td style="text-align:right;">?</td>
		</tr>
		<tr class="hr">
			<td style="font-weight:bold; padding-bottom:20px;">{% trans 'Sanitation' %}</td>
			<td style="text-align:right;">{{stats.mdgs_sanitation}}</td>
			<td style="text-align:right;">?</td>
		</tr>
	</table>
	<table class="overall_statistics" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">	
		<tr>
			<th colspan="3">
				{% ifequal request.path '/rsr/projects/' %}
					<h2>{% trans 'Projects in Akvo' %}</h2>
				{% else %}
					<a href="{% url akvo.rsr.views.projectlist %}">
						<h2>{% trans 'Projects in Akvo' %}</h2>
					</a>
				{% endifequal %}
			</th>
		</tr>
		<tr class="bold">
			<td colspan="2" style="padding-bottom:5px;">{% trans 'Total organisations' %}</td>
			<td colspan="2" style="text-align:right;">00000</td>
		</tr>
		<tr>
			<td><a href="{% url rsr_org_list_filtered "field" %}">{% trans 'Field partners' %}</a></td>
			<td style="text-align:right;">{{stats.fieldpartner_count}}</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><a href="{% url rsr_org_list_filtered "support" %}">{% trans 'Support partners' %}</a></td>
			<td style="text-align:right;">{{stats.supportpartner_count}}</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="hr">
			<td style="padding-bottom:20px;"><a href="{% url rsr_org_list_filtered "funding" %}">{% trans 'Funding partners' %}</a></td>
			<td style="text-align:right;">{{stats.fundingpartner_count}}</td>
			<td>&nbsp;</td>
		</tr>
	</table>
	<table class="overall_statistics" border="0" cellspacing="0" cellpadding="0" style="margin-top:20px;">	
		<tr class="font-weight:bold;">
			<th colspan="2" style="padding-bottom:10px;">
				{% trans 'Funding' %} <span style="font-weight:normal; color:#999">({{stats.num_organisations}} {% trans 'Projects' %})</span>
			</th>
		</tr>
		<tr style="color:green;">
			<td>{% trans 'Pledged' %}</td>
			<td style="text-align:right;">&#8364; {{stats.funding_pledged}}</td>
		</tr>
		<tr style="color:red;">
			<td style="padding-bottom:5px;">{% trans 'Pledged' %}</td>
			<td style="text-align:right;">&#8364; {{stats.funding_pledged}}</td>
		</tr>
	</table>
	

	{% comment %}
	<table id="overall_statistics">
		<tr>
			<th colspan="2">
				{% ifequal request.path '/rsr/projects/' %}
					<h2>{% trans 'Projects in Akvo' %}</h2>
				{% else %}
					<a href="{% url akvo.rsr.views.projectlist %}">
						<h2>{% trans 'Projects in Akvo' %}</h2>
					</a>
				{% endifequal %}
			</th>
		</tr>
		<tr><td style="width: 40%;">{{stats.status_active}}</td><td>{% trans 'Active' %}</td></tr>
		<tr><td>{{stats.status_onhold}}</td><td>{% trans 'Need funding' %}</td></tr>
		<tr><td>{{stats.status_complete}}</td><td>{% trans 'Complete' %}</td></tr>

		<tr class="hr bold"><td>{{stats.project_count}}</td><td>{% trans 'Total projects' %}</td></tr>
		<tr><td colspan="2" style="padding: 15px 0 10px 0"><b>{% trans 'People who get' %}</b> (<a href="/web/help_akvo_at_a_glance">{% trans 'planned' %}</a>) <a href="/web/help_akvo_at_a_glance">{% trans 'actual' %}</a></td></tr>
		<tr><td>({{stats.mdgs_water}})<br />0</td><td>{% trans 'Water' %}</td></tr>
		<tr class="hr"><td>({{stats.mdgs_sanitation}})<br />300</td><td>{% trans 'Sanitation' %}</td></tr>

		<tr>
			<th colspan="2">
				{% ifequal request.path '/rsr/organisations/' %}
					<h2>{% trans 'Partners' %}</h2>
				{% else %}
					<a href="{% url rsr_org_list %}">
						<h2>{% trans 'Partners' %}</h2>
					</a>
				{% endifequal %}
			</th>
		</tr>

		<tr><td>{{stats.fieldpartner_count}}</td><td><a href="{% url rsr_org_list_filtered "field" %}">{% trans 'Field partners' %}</a></td></tr>
		<tr><td>{{stats.supportpartner_count}}</td><td><a href="{% url rsr_org_list_filtered "support" %}">{% trans 'Support partners' %}</a></td></tr>
		<tr><td>{{stats.fundingpartner_count}}</td><td><a href="{% url rsr_org_list_filtered "funding" %}">{% trans 'Funding partners' %}</a></td></tr>
		<tr class="hr bold"><td>{{stats.num_organisations}}</td><td>{% trans 'Organisations' %}</td></tr>
		<tr><th colspan="2"><h2>{% trans 'Funding' %} <span class="lightx2" style="font-weight: normal">({{stats.project_count}} {% trans 'projects' %})</span></h2></th></tr>
		<tr style="color: green"><td>&#8364; {{stats.funding_pledged}}</td><td>{% trans 'Pledged' %}</td></tr>
		<tr style="color: red"><td>&#8364; {{stats.funding_needed}}</td><td>{% trans 'Still needed' %}</td></tr>		
		
	</table>
	{% endcomment %}
	
	</div> <!-- .boxbody -->

</div> <!-- #outer_rightwing -->

</div> <!-- .clearfix to prevent floated elements above to collide with projects table -->

{% endblock outer_rightwing %}

{% block projects %}
{% endblock projects %}

{% endblock content %}
