{% extends "rsr/index_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n thumbnail %}

{% block script %}

	{% ifequal bandwidth 'ask' %}
	<!--<script type="text/javascript">
		msg = "Welcome to Akvo. Please indicate if you want to use the high bandwidth home page by clicking OK, or the low bandwidth home page by clicking Cancel.";
		if (confirm(msg))
			window.location.assign("{% url akvo.rsr.views.set_high_bandwidth %}");
		else
			window.location.assign("{% url akvo.rsr.views.set_low_bandwidth %}");
	</script>-->
	{% endifequal %}	

	<script type="text/javascript" src="{{MEDIA_URL}}flash/swfobject.js"></script>
{% endblock script %}

{% block style %}
	{{ block.super }}
	<style type="text/css">
	/* hide from ie on mac \*/
	
	#home_flash {
	}
	/* end hide */
	#breadcrumbs {
		display:none;
	}
	</style>
{% endblock style %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block page_id %}
<div id="page_home_flash">
{% endblock page_id %}

{% block outer_leftwing %}

	{% ifequal bandwidth 'high' %}
	<div id="home_flash_box">
	<a style="float:right; color: #FFF; padding: 20px;" href="{% url akvo.rsr.views.set_low_bandwidth %}">{% trans 'View static home page' %}</a>
	<div style="color: #fff; font-size: 1.5em; float: left; padding: 20px;">{% trans 'Our latest projects' %}</div>
	<div id="home_flash" style="color: #fff;">
		{% trans 'You are being re-directed to the static Akvo home page. If nothing happens,' %} <a style="color: #fff;" href="{% url akvo.rsr.views.set_low_bandwidth %}">{% trans 'click here' %}!</a>
		<noscript>
			<meta http-equiv="refresh" content="0;url={% url akvo.rsr.views.set_low_bandwidth %}"/>
		</noscript>
	</div> <!-- #home_flash -->
	</div> <!-- #home_flash_box -->

	<script type="text/javascript">
	
		var fo = new SWFObject("{{MEDIA_URL}}flash/TiltViewer.swf", "viewer", "980px", "350px", "9.0.28", "#000000");			
		
		if (!fo)
			window.location.assign("{% url akvo.rsr.views.set_low_bandwidth %}");
		// TILTVIEWER CONFIGURATION OPTIONS
		// To use an option, uncomment it by removing the "//" at the start of the line
		// For a description of config options, go to: 
		// http://www.airtightinteractive.com/projects/tiltviewer/config_options.html
															
		// XML GALLERY OPTIONS
		// To use local images defined in an XML document, use this block		
		fo.addVariable("useFlickr", "false");
		fo.addVariable("xmlURL", "http://dev.akvo.org:8080{% url akvo.rsr.views.flashgallery %}");
		fo.addVariable("maxJPGSize","260");
		
		//GENERAL OPTIONS		
		fo.addVariable("useReloadButton", "false");
		fo.addVariable("columns", "6");
		fo.addVariable("rows", "2");
		fo.addVariable("showFlipButton", "true");
		fo.addVariable("showLinkButton", "true");
		fo.addVariable("linkLabel", "Go to project page");
		//fo.addVariable("frameColor", "0xff0000");
		//fo.addVariable("backColor", "0xDDDDDD");
		fo.addVariable("bkgndInnerColor", "0x009DE4");
		fo.addVariable("bkgndOuterColor", "0x009DE4");				
 		//fo.addVariable("langGoFull", "Go Fullscreen");
		//fo.addVariable("langExitFull", "Exit Fullscreen");
		//fo.addVariable("langAbout", "About");	
		
		//PRO OPTIONS
		//fo.addVariable("bkgndTransparent", "true");
		//fo.addVariable("showFullscreenOption", "false");
		fo.addVariable("frameWidth", "20");
		fo.addVariable("zoomedInDistance", "1000");
		fo.addVariable("zoomedOutDistance", "2400");
		//fo.addVariable("fontName", "Times");
		fo.addVariable("titleFontSize", "64");
		fo.addVariable("descriptionFontSize", "42");
		fo.addVariable("linkFontSize", "58");
		fo.addVariable("linkTarget", "_self");
		//fo.addVariable("navButtonColor", "0xFF00FF");
		//fo.addVariable("flipButtonColor", "0x0000FF");
		//fo.addVariable("textColor", "0xFFFFFF");
		//fo.addVariable("linkTextColor", "0x000000");
		//fo.addVariable("linkBkgndColor", "0xFFFFFF");
				
		// END TILTVIEWER CONFIGURATION OPTIONS
		
		fo.addParam("allowFullScreen","true");
		fo.write("home_flash");			
	</script>	
	{% endifequal %}
	{% ifequal bandwidth 'low' %}

	<div id="home_flash_box" style="padding-bottom:14px; width: 710px; float: left;">
		<!--<a style="float:right; color: #FFF; padding: 20px;" href="{% url akvo.rsr.views.set_high_bandwidth %}">{% trans 'View flash-enabled home page' %}</a>-->
		<div style="color: #fff; font-size: 1.5em; padding: 15px 20px ;">{% trans 'Our latest projects' %}</div>
		<table>
			{% for p in grid_projects %}
				{% ifequal forloop.counter 1 %}
				<tr>
				{% endifequal %}
				{% ifequal forloop.counter 5 %}
				<tr>
				{% endifequal %}
				<td align="center">
					<a href="{% url akvo.rsr.views.projectmain p.id %}">
						<img style="padding: 2px 6px;" src="{% thumbnail p.current_image 144x108 crop,upscale,sharpen %}" title="{{p.name}}" alt="{{p.name}}"/>
					</a>
				</td>
				{% ifequal forloop.counter 4 %}
				</tr>
				{% endifequal %}
			{% endfor %}
				</tr>
		</table>
	
	</div> <!-- #home_flash_box -->
	<div style="float: right; width: 250px;">
		<div class="boxhead">
			<h1>{% trans 'Learn about Akvo' %}</h1>
		</div>
		<div class="boxbody" style="padding-top:0; padding-bottom:15px;">
			<h2 style="padding-bottom:0; padding-top:20px;">
				<a style="float:left;" href="http://akvo.org/web/what_we_do">{% trans 'What we do' %}</a>
				<a style="float:right; font-size:0.9em" href="http://akvo.org/web/what_we_do">{% trans 'Learn more' %} &gt;</a>
			</h2>
			<p style="font-size:0.9em; padding-bottom:0; clear:both;">
				{% trans 'We help donors and doers reach out to fund many thousands of new water and sanitation projects.' %}
			</p>
			
			<h2 style="padding-bottom:0; padding-top:20px;">
				<a style="float:left;" href="http://akvo.org/web/how_akvo_works">{% trans 'How Akvo works' %}</a>
				<a style="float:right; font-size:0.9em" href="http://akvo.org/web/how_akvo_works">{% trans 'Learn more' %} &gt;</a>
			</h2>
			<p style="font-size:0.9em; padding-bottom:0; clear:both;">
				{% trans 'Find projects to fund, or donors to fund projects. Report on projects. Share knowledge.' %}
			</p>
			
			<h2 style="padding-bottom:0; padding-top:20px;">
				<a style="float:left;" href="http://akvo.org/web/why_we_do_it">{% trans 'Why we do it' %}</a>
				<a style="float:right; font-size:0.9em" href="http://akvo.org/web/why_we_do_it">{% trans 'Learn more' %} &gt;</a>
			</h2>
			<p style="font-size:0.9em; padding-bottom:0; clear:both;">
				{% trans 'Akvo&#x27;s approach: a large number of small projects work best.' %}
			</p>
		</div>
	</div>

	{% endifequal %}
	
<div id="outer_leftwing">

{% comment %} Start sponsor partner {% endcomment %}
{% comment %}
	
<div class="boxhead">
<a href="http://www.akvo.org/blog/?feed=rss2" class="rss" style="float:right;margin-top:1em;">{% trans 'Subscribe via RSS' %}</a>
<h1>{% trans 'Sponsor partner blog posts' %}</h1>
</div> <!-- .boxhead -->
{% endcomment %}

<div id="index_sponsor_box" class="boxbody">
	<div class="clearfix" style="margin:0;">
	<div id="sponsor_box_left" style="">
		<h1>{% trans 'Live Earth and Akvo announce partnership' %}</h1>
		<ul>
			<li><a href="#">{% trans 'Press release' %}</a></li>
			<li><a href="rsr/liveearth">{% trans 'View Live Earth projects on Akvo' %}</a></li>
		</ul>
	</div>
	<div id="sponsor_box_right" style="">
		<h2>{% trans 'Latest articles' %}</h2>
		<ul>
			<li><a href="{{le_latest1.link}}">{{le_latest1.title|safe}}</a></li>
			<li><a href="{{le_latest2.link}}">{{le_latest2.title|safe}}</a></li>
		</ul>
		<p><a style="float:right; padding-bottom: 8px;" href="http://www.akvo.org/blog/">{% trans 'Read more' %}</a></p>
	</div>
	</div>
	{% comment %}
	<div id="name" style="background-color:#ccc;">
		<img src="http://10.0.1.3/~daniel/akvo/media/img/le-water-logo.png" width="70" height="67" alt="Le Water Logo" />
	</div>
	{% endcomment %}
</div>
{% comment %} stop sponsor partner {% endcomment %}

<div class="boxhead">
<a href="http://www.akvo.org/blog/?feed=rss2" class="rss" style="float:right;margin-top:1em;">{% trans 'Subscribe via RSS' %}</a>
<h1>{% trans 'Most recent Akvo Blog article' %}</h1>
</div> <!-- .boxhead -->

<div class="boxbody">

{% if img_src1 %}
<div style="float:left; width: 210px;">
	<img src="{{img_src1}}" style="width: 140px; margin: 15px 15px 5px 15px"/>
	<!--<p class="small lightx1">Image caption</p>-->
</div> <!-- style -->
{% endif %}

<h2 style="padding-top:12px;"><a href="http://www.akvo.org/blog/">{{latest1.title|safe}}</a></h2>
{% comment %}TODO: investigate translation and filter interaction in more detail{% endcomment %}
<p class="lightx2">{{latest1.updated|safe}} {% trans 'by' %} {{latest1.author|safe}}</p>
<p>{{latest1.summary|safe|truncatewords:45}}</p>

<p style="margin-bottom:0 !important;"><a style="float:right; padding-bottom: 8px;" href="http://www.akvo.org/blog/">{% trans 'Read more' %}</a></p>
<!--<p style="text-align: right"><a href="{{latest.link}}">Permalink</a></p>-->
<hr style="clear:both; margin-top:-7px !important; padding-top:0 !important; visibility: visible; line-height:1px; overflow:hidden; " />

{% if img_src2 %}
<div style="float:left; width: 210px;">
	<img src="{{img_src2}}" style="width: 140px; margin: 15px 15px 5px 15px"/>
	<!--<p class="small lightx1">Image caption</p>-->
</div> <!-- style -->
{% endif %}

<h2 style="padding-top:12px;"><a href="{{latest2.link}}">{{latest2.title|safe}}</a></h2>
{% comment %}TODO: investigate translation and filter interaction in more detail{% endcomment %}
<p class="lightx2">{{latest2.updated|safe}} {% trans 'by' %} {{latest2.author|safe}}</p>
<p>{{latest2.summary|safe|truncatewords:45}}</p>

<p style="margin-bottom:0 !important;"><a style="float:right; padding-bottom: 8px;" href="{{latest2.link}}">{% trans 'Read more' %}</a></p>
<hr style="clear:both; margin-top:-7px !important; padding-top:0 !important; visibility: visible; line-height:1px; overflow:hidden; " />
<p id="view_earlier_blog_entries"><a href="http://www.akvo.org/blog/">{% trans 'View earlier blog entries' %}</a></p>

<div style="clear:left"></div>

</div> <!-- .boxbody -->

</div> <!-- #outer_leftwing -->

{% endblock outer_leftwing %}
