{% extends "rsr/index_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n generic_content addparam rsr_filters rsr_tags thumbnail humanize %}

{% block title %}Live Earth: {% trans 'Project listing' %}
{% if o %}
	for {{o.name}}
{% endif %}
{% endblock title %}

{% block style %}
{{block.super}}
{% comment %}
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/machinery.css" media="screen" />	
	
{% endcomment %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/march.css" media="screen" />


<meta http-equiv="pragma" content="no-cache"/>
<meta http-equiv="cache-control" content="no-cache"/>
{% comment %}
	
<style type="text/css" media="screen">
	ul.errorlist li {
		color:red !important;
		display:inline;
	}
	ul.errorlist {
		margin:0;
		padding:0;
		display:inline;
	}
</style>
{% endcomment %}

{% endblock style%}

{% block breadcrumbs %}
{{block.super}} &raquo; Live Earth
{% comment %}
{{block.super}} &raquo; {% trans 'Project listing' %}
{% if o %}
	for {{o.name}}
{% endif %}
{% endcomment %}
{% endblock breadcrumbs %}

{% block page_id %}
<div id="page_project_directory">
{% endblock page_id %}

{% block outer_leftwing %}

<div id="outer_leftwing" style="margin-bottom:20px;">
	<div id="live_earth_show" class="boxbody">
		<p>
			The Dow Live Earth Run for Water is the largest solutions-based initiative in history aimed at solving the
			world’s water crisis. Taking place on April 18, 2010, the Dow Live Earth Run for Water will consist of a 
			series of 6km runs / walks (the average distance many women and children walk every day to secure water) 
			occurring over the course of 24 hours. The events will feature live musical performances and water education 
			activities in an effort to ignite a massive global movement to put an end to this epidemic.
		</p>
		<p>
			Live Earth’s global network of water charity partners is working with Akvo to help donors and doers reach out 
			to fund thousands of new water and sanitation projects.
		</p>
		<p>
			Visit <a href="http://liveearth.org/run">Live Earth's web site</a> to see lists of events in your area and
			around the world.
		</p>
	</div>
	
</div> <!-- #outer_leftwing -->
{% endblock outer_leftwing %}

{% block outer_rightwing %}
<div id="outer_rightwing">
	<div class="boxhead">
		<h1>{% trans 'Live Earth projects' %}</h1>
	</div> <!-- .boxhead -->
	<div class="boxbody">
		<div></div>
		{% comment %}
	
		<table class="overall_statistics" border="0" cellspacing="0" cellpadding="0"> 
			<tr class="bold hr">
				<td style="padding-bottom:20px;">
					{% trans 'Total projects in Akvo' %}
				</td>
				<td style="text-align:right">
					{{projs.published.count}}
				</td>
			</tr>
		</table>
		{% endcomment %}
		<table class="overall_statistics" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<th colspan="2">
					<h2>{% trans 'Projects in Akvo' %}</h2>
				</th>
			</tr>
			<tr>
				<td>
					{% trans 'Active' %}
				</td>
				<td style="text-align:right;">
					{{projs.status_active.count}}
				</td>
			</tr>
			<tr>
				<td>
					{% trans 'Need funding' %}
				</td>
				<td style="text-align:right;">
					{{projs.status_onhold.count}}
				</td>
			</tr>
			<tr>
				<td>
					{% trans 'Complete' %}
				</td>
				<td style="text-align:right;">
					{{projs.status_complete.count}}
				</td>
			</tr>
			<tr>
				<td>
					{% trans 'Cancelled' %}
				</td>
				<td style="text-align:right;">
					{{projs.status_cancelled.count}}
				</td>
			</tr>
			<tr class="hr bold">
				<td style="padding-top:2px; padding-bottom:20px;">
					{% trans 'Total projects' %}
				</td>
				<td style="text-align:right; padding-top:3px;">
					{{projs.published.count}}
				</td>
			</tr>

		</table>
		
		<table class="overall_statistics" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;"> 	
			<tr>
				<th colspan="3">
					<h2>{% trans 'People who get...' %}</h2>
				</th>
			</tr>
			<tr>
				<td style="width:50px;">&nbsp;</td>
				<td style="font-size:0.9em; width:80px; text-align:right;"><a href="/web/help_akvo_at_a_glance">{% trans 'Upcoming' %}</a></td>
				<td style="font-size:0.9em; width:80px; text-align:right;"><a href="/web/help_akvo_at_a_glance">{% trans 'Delivered' %}</a></td>
			</tr>
			<tr>
				<td style="font-weight:bold;">{% trans 'Water' %}</td>
				<td style="text-align:right;">{{projs.get_planned_water_calc|intcomma}}</td>
				<td style="text-align:right;">{{projs.get_actual_water_calc|intcomma}}</td>
			</tr>
            <tr class="hr">
				<td style="font-weight:bold; padding-bottom:20px;">{% trans 'Sanitation' %}</td>
				<td style="text-align:right;">{{projs.get_planned_sanitation_calc|intcomma}}</td>
				<td style="text-align:right;">{{projs.get_actual_sanitation_calc|intcomma}}</td>
			</tr>
		</table>
		{% comment %}
		<table class="overall_statistics" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;"> 
			<tr>
				<th colspan="3">
					<h2>{% trans 'Partners' %}</h2>
				</th>
			</tr>
			<tr>
				<td style="width:50%"><a href="{% url rsr_org_list_filtered "field" %}">{% trans 'Field partners' %}</a></td>
				<td style="text-align:right; width:25%">{{orgs.fieldpartners.count}}</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td><a href="{% url rsr_org_list_filtered "support" %}">{% trans 'Support partners' %}</a></td>
				<td style="text-align:right;">{{orgs.supportpartners.count}}</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="hr">
				<td style="padding-bottom:20px;"><a href="{% url rsr_org_list_filtered "funding" %}">{% trans 'Funding partners' %}</a></td>
				<td style="text-align:right;">{{orgs.fundingpartners.count}}</td>
				<td>&nbsp;</td>
			</tr>
		</table>
		{% endcomment %}
		<table class="overall_statistics" border="0" cellspacing="0" cellpadding="0" style="margin-top:20px;">	
			<tr class="font-weight:bold;">
				<th colspan="2" style="padding-bottom:10px;">
					{% trans 'Funding' %} {#<span style="font-weight:normal; color:#999">({{projs.published.count}} {% trans 'Projects' %})</span>#}
				</th>
			</tr>
			<tr>
				<td>{{projs.status_not_cancelled.euros.count}} project{{projs.status_not_cancelled.euros.count|pluralize:"s"}} in Euros</td>
			</tr>
			<tr style="color:green;">
				<td>{% trans 'Raised' %}</td>
				<td style="text-align:right;">{{projs.euros.0.get_currency_display|safe}} {{projs.status_not_cancelled.euros.total_pledged|add:projs.status_not_cancelled.euros.total_donated|round|intcomma}}</td>
			</tr>
			<tr style="color:red;">
				<td style="padding-bottom:5px;">{% trans 'Still needed' %}</td>
				<td style="text-align:right;">{{projs.euros.0.get_currency_display|safe}} {{projs.status_not_cancelled.euros.total_funds_needed|round|intcomma}}</td>
			</tr>
			{% if projs.status_not_cancelled.dollars.count %}
			<tr>
				<td>{{projs.status_not_cancelled.dollars.count}} project{{projs.status_not_cancelled.dollars.count|pluralize:"s"}} in US Dollars</td>
			</tr>
			<tr style="color:green;">
				<td>{% trans 'Raised' %}</td>
				<td style="text-align:right;">{{projs.dollars.0.get_currency_display|safe}} {{projs.status_not_cancelled.dollars.total_pledged|add:projs.status_not_cancelled.dollars.total_donated|round|intcomma}}</td>
			</tr>
			<tr style="color:red;">
				<td style="padding-bottom:5px;">{% trans 'Still needed' %}</td>
				<td style="text-align:right;">{{projs.dollars.0.get_currency_display|safe}} {{projs.status_not_cancelled.dollars.total_funds_needed|round|intcomma}}</td>
			</tr>
			{% endif %}
			
			{% comment %}
			<tr style="color:green;">
				<td>{% trans 'Pledged' %}</td>
				<td style="text-align:right;">&#8364; {{projs.total_pledged|round|intcomma}}</td>
			</tr>
			<tr style="color:red;">
				<td style="padding-bottom:5px;">{% trans 'Still needed' %}</td>
				<td style="text-align:right;">&#8364; {{projs.total_funds_needed|round|intcomma}}</td>
			</tr>
			{% endcomment %}
		</table>
	</div>
</div>
{% endblock outer_rightwing %}

{% block projects %}
<div class="boxhead clearfix" style="clear: left;">
	<a name="list"></a>
    <div style="float:right; margin: 1em; width: 40%;">
    <!--<label for="display_number_of_entries">Show</label>
    <select name='display_number_of_entries' class="select">
    <option value='25'>25</option>
    <option value='50'>50</option>
    <option value='75'>75</option>
    </select>
    results per page-->
		<span style="margin: 0 20px 0 20px">
			{% blocktrans with page.start_index as page_start and page.end_index as page_end and projs.count as p_count %}Projects {{page_start}}-{{page_end}} of {{p_count}}{% endblocktrans %}
		</span>
		<span style="margin: 0 20px 0 20px">
			{% ifequal page.number 1 %}
			{% trans 'First' %} |
			{% else %}
					<a href="{% url akvo.rsr.views.liveearth %}{% addparam "page" 1 %}#list">{% trans 'First' %}</a> |
			{% endifequal %}
			{% if page.has_previous %}
				
					<a href="{% url akvo.rsr.views.liveearth %}{% addparam "page" page.previous_page_number %}#list">{% trans 'Previous' %}</a> |
			{% else %}
			{% trans 'Previous' %} |
			{% endif %}
			{% if page.has_next %}	
					<a href="{% url akvo.rsr.views.liveearth %}{% addparam "page" page.next_page_number %}#list">{% trans 'Next' %}</a> |
			{% else %}
			{% trans 'Next' %} |
			{% endif %}
			{% ifequal page.number page.paginator.num_pages %}
			{% trans 'Last' %}
			{% else %}
					<a href="{% url akvo.rsr.views.liveearth %}{% addparam "page" page.paginator.num_pages %}#list">{% trans 'Last' %}</a>
			{% endifequal %}
		</span>
    </div>

    <h1>{% trans 'Project listing' %}
		{% if o %}
			for {{o.name}}
		{% endif %}
		<span class="lightx2" style="font-weight:normal">{% blocktrans with projs.count as p_count %}({{p_count}} total){% endblocktrans %}</span>
	</h1>
</div> <!-- .boxhead -->

<div class="boxbody" style="padding:0">

<table id="project_table">
<thead>
<tr>
	<th>
	{% if o %}
		<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "order_by" "name" %}#list" title="{% trans 'Sort projects by name' %}">{% trans 'Project name' %}</a>
	{% else %}
		<a href="{% url akvo.rsr.views.liveearth %}{% addparam "order_by" "name" %}#list" title="{% trans 'Sort projects by name' %}">{% trans 'Project name' %}</a>
	{% endif %}
	</th>
	<th>
	{% if o %}
		<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "order_by" "status" %}#list" title="{% trans 'Sort projects by status' %}">{% trans 'Status' %}</a>
	{% else %}
		<a href="{% url akvo.rsr.views.liveearth %}{% addparam "order_by" "status" %}#list" title="{% trans 'Sort projects by status' %}">{% trans 'Status' %}</a>
	{% endif %}
	</th>
	<th>
	{% if o %}
		<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "order_by" "country__country_name" %}#list" title="{% trans 'Sort projects by country' %}">{% trans 'Country' %}</a>
	{% else %}
		<a href="{% url akvo.rsr.views.liveearth %}{% addparam "order_by" "country__country_name" %}#list" title="{% trans 'Sort projects by country' %}">{% trans 'Country' %}</a>
	{% endif %}
	</th>
	<th>
	{% if o %}
		<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "order_by" "country__continent" %}#list" title="{% trans 'Sort projects by continent' %}">{% trans 'Continent' %}</a>
	{% else %}
		<a href="{% url akvo.rsr.views.liveearth %}{% addparam "order_by" "country__continent" %}#list" title="{% trans 'Sort projects by continent' %}">{% trans 'Continent' %}</a>
	{% endif %}
	</th>
	<th>
	{% if o %}
		<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "order_by" "total_budget" %}#list" title="{% trans 'Sort projects by total funds requested' %}">{% trans 'Total funds requested' %}</a>
	{% else %}
		<a href="{% url akvo.rsr.views.liveearth %}{% addparam "order_by" "total_budget" %}#list" title="{% trans 'Sort projects by total funds requested' %}">{% trans 'Total funds requested' %}</a>
	{% endif %}
	</th>
	<th>
	{% if o %}
		<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "order_by" "funds_needed" %}#list" title="{% trans 'Sort projects by funding still needed' %}">{% trans 'Funding still needed' %}</a>
	{% else %}
		<a href="{% url akvo.rsr.views.liveearth %}{% addparam "order_by" "funds_needed" %}#list" title="{% trans 'Sort projects by funding still needed' %}">{% trans 'Funding still needed' %}</a>
	{% endif %}
	</th>
	<!--<th>Total funds requested</th>
	<th>Funding still needed</th>-->
	<th>{% trans 'Field partner(s)' %}</th>
	<th>{% trans 'Support partner(s)' %}</th>
	<th style="border-right: 0">{% trans 'Funding partner(s)' %}</th>
</tr>
</thead>
{% for p in page.object_list %}
<tr>
	<td>

		{% if p.current_image %}
			<a href="{% url akvo.rsr.views.projectmain p.id %}">
			<img src="{% thumbnail p.current_image 100x75 crop,upscale,sharpen %}" alt="{{p.current_image_caption}}" style="float:left; margin-right: 10px;" />
			</a>
		{% else %}
			<div style="background-color: #ccc; width: 100px; height: 75px; float:left; margin-right: 10px"></div>
		{% endif %}	

		<a href="{% url akvo.rsr.views.projectmain p.id %}">{{p.name}}</a>
		<div class="lightx2 small">{{p.subtitle}}</div>
		<div style="clear: left;">
			<div style="padding-top: 5px">{% category_icons p %}</div>
	 	</div>
	</td>
	<td>{{p.show_status}}</td>
	<td>{{p.country}}</td>
	<td>{{p.country.get_continent_display}}</td>
	<td>
		{% ifequal p.funds_needed|round 0 %}
			<span style="color: green">
		{% else %}
			<span>
		{% endifequal %}
		<b>{{p.get_currency_display|safe}} {{p.total_budget|round|intcomma}}</b>
		</span>
	</td>
	<td>
		{% ifequal p.funds_needed|round 0 %}
			<span>
		{% else %}
			<span style="color: red">
		{% endifequal %}
		{# TODO: fix sorting as funding_still_needed is not used for the sorting of projects, but rather funds_needed that is created in the .extra() in views.py #}
		<b>{{p.get_currency_display|safe}} {{p.funds_needed|round|intcomma}}</b>
		</span>
	</td>
	<td>
	{% if p.fieldpartner_set.all %}
		{% for fieldpartner in p.fieldpartner_set.all %}
			<a href="{% url akvo.rsr.views.orgdetail fieldpartner.field_organisation.id %}">{{fieldpartner.field_organisation.name}}</a><br />
		{% endfor %}
	{% else %}
		&nbsp;
	{% endif %}
	</td>
	<td>
	{% if p.supportpartner_set.all %}
		{% for support in p.supportpartner_set.all %}
			<a href="{% url akvo.rsr.views.orgdetail support.support_organisation.id %}">{{support.support_organisation.name}}</a><br />
		{% endfor %}
	{% else %}
		&nbsp;
	{% endif %}
		<a href="{% url akvo.rsr.views.orgdetail live_earth.id %}">
		<img src="{% thumbnail live_earth.logo 67x50 autocrop,upscale,sharpen %}" style="margin-top:10px" />
		</a><br />
		<a href="{% url akvo.rsr.views.orgdetail live_earth.id %}">Live Earth</a>
	</td>
	<td style="border-right: 0;">
	{% if p.fundingpartner_set.all %}
		{% for funder in p.fundingpartner_set.all %}
			<a href="{% url akvo.rsr.views.orgdetail funder.funding_organisation.id %}">{{funder.funding_organisation.name}}</a><br />
		{% endfor %}	
	{% else %}
		&nbsp;
	{% endif %}
	</td>
</tr>
{% endfor %}

<tr>
	<td colspan="9" style="border-right:0">
		<div style="text-align: right">
			<!--<label for="display_number_of_entries">Show</label>
			<select name='display_number_of_entries' class="select">
				<option value='25'>25</option>
				<option value='50'>50</option>
				<option value='75'>75</option>
			</select>
			results per page-->
		<span style="margin: 0 20px 0 20px">
			{% blocktrans with page.start_index as page_start and page.end_index as page_end and projs.count as p_count %}Projects {{page_start}}-{{page_end}} of {{p_count}}{% endblocktrans %}
		</span>
		<span style="margin: 0 20px 0 20px">
			{% ifequal page.number 1 %}
			{% trans 'First' %} |
			{% else %}
			<a href="{% url akvo.rsr.views.liveearth %}{% addparam "page" 1 %}#list">{% trans 'First' %}</a> |
			{% endifequal %}
			{% if page.has_previous %}
			<a href="{% url akvo.rsr.views.liveearth %}{% addparam "page" page.previous_page_number %}#list">{% trans 'Previous' %}</a> |
			{% else %}
			{% trans 'Previous' %} |
			{% endif %}
			{% if page.has_next %}
			<a href="{% url akvo.rsr.views.liveearth %}{% addparam "page" page.next_page_number %}#list">{% trans 'Next' %}</a> |
			{% else %}
			{% trans 'Next' %} |
			{% endif %}
			{% ifequal page.number page.paginator.num_pages %}
			{% trans 'Last' %}
			{% else %}
			<a href="{% url akvo.rsr.views.liveearth %}{% addparam "page" page.paginator.num_pages %}#list">{% trans 'Last' %}</a>
			{% endifequal %}
		</span>
		</div>
	</td>
</tr>
</table>

</div> <!-- .boxbody -->

{% endblock projects %}

