{% extends "rsr/rsr_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load rsr_tags %}

{% load i18n %}

{% block title %}{{block.super}} - {% trans 'Project details' %}{% endblock title %}

{% block style %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/machinery.css" media="screen" />

<meta http-equiv="pragma" content="no-cache"/>
<meta http-equiv="cache-control" content="no-cache"/>

{% endblock style%}


{% block script %}
<script src="{{MEDIA_URL}}js/jquery-1.2.6.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
	var akvo_project_id = {{project.id}};
</script>

<script src="{{MEDIA_URL}}js/machinery.js" type="text/javascript"></script>
{% endblock script %}


{% block breadcrumbs %}
{{block.super}} &raquo; <a href="{% url akvo.rsr.views.projectlist %}">{% trans 'Project listing' %}</a> &raquo; <a href="{% url akvo.rsr.views.projectmain project.id %}">{{project.name}}</a> &raquo; {% trans 'Get widget' %}
{% endblock breadcrumbs %}


{% block content %}
<div id="machinery-content" style="padding-left:30px">
	{% comment %} Top part starts {% endcomment %}
	<div style="margin-left:30px; margin-right:30px;">
		<div style="width:50%; float:left;">
			<h1>Create a Widget to Use on Your Web Site</h1>
			<p style="margin-top:15px;">
				<span style="color:#A9A7B8;">This widget will show the project</span><br />{{project.name}}
			</p>
		</div>
		<div id="warning_main" style="float:right; width:380px; margin-right:40px; background-color:#FFEFEB; color:#FF0000; border:1px solid #FFDAD9; padding:10px;">
			<p>
				<span style="font-weight:bold;">A problem occurred</span><br />This page requires Javascript to run. 
			</p>
		</div>
	</div>
	<div style="padding-bottom:15px; clear:both;"> </div>
	<hr style="margin-left:30px; margin-right:30px; clear:both;" />
	{% comment %} Top part ends {% endcomment %}
	
	
		<div class="machinery_customization" style="margin-left:110px; margin-right:50px;">
		<div style="width:45%; float:left;" >
			<h3 style="margin-bottom:0; padding-bottom:0;">Step 1: Select the type of widget you wish to use</h3>
			<p class="machinerygrey" style="margin:0;padding:0;">
			You can customise the top and bottom bar and title text colours on the next step
			</p>
		</div>
		<div id="warning_color" style="float:right; margin-top:10px; width:380px; background-color:#FFEFEB; color:#FF0000; border:1px solid #FFDAD9; padding:10px;">
			<p>
				&nbsp;
			</p>
		</div>
		<div style="padding-bottom:15px; clear:both;"> </div>
				
		{% comment %}
			Start project widget with donation (feature-side)
		{% endcomment %}
		<div style="background-color:#FFFAD8; padding-left:30px; padding-right:30px; padding-bottom:20px; border:1px solid #BFBEC9; margin-bottom:30px;">
			<form action="customise-widget" method="post">
				<h3 style="margin-bottom:0; padding-bottom:0;">A: Project widget with Donation link (202 pixel width by 840 pixel height)</h3>
				<p class="machinerygrey" style="margin:0;padding:0;">
					Shows basic description and allows donations. Users who click on this widget will go to Akvo.org.
				</p>
			
				<div style="padding-bottom:20px;">
				
				</div>
				<p class="machinerygrey" style="margin-bottom:4px;">
					Sample
				</p>
			
				<div style="float:left; width:205px;">
					<script type="text/javascript" charset="utf-8">
						// think about refactor this to a general method in machinery.js
						document.write('<iframe src="http://'+ location.host +'/rsr/widget/feature-side/project/{{project.id}}/" width="202" height="840" frameborder="0" allowTransparency="true"> </iframe>');
							
					</script>
					{% comment %}
					<iframe src="http://sandbox.akvo.org/rsr/widget/feature-side/project/{{project.id}}/" width="202" height="840" frameborder="0" allowTransparency="true"> </iframe>
					{% endcomment %}
				</div>
				<div style="float:right; width:430px; padding-top:0px;">
					<h3 style="margin-top:0; padding-top:0;">Settings</h3>
					<hr style="margin-left:0; margin-right:auto;" />
					<p style="font-weight:bold;">
						Enter the web address where you will embed this widget
					</p>
					<input type="text" name="widget-site" value="akvo.org"> This will help us track statistics for you
					<br />
					<p class="machinerygrey">www.akvo.org</p>
						
					<hr style="margin-left:0; margin-right:auto;"/>
					
					<input type="hidden" name="widget-type" value="feature-side">
					<input type="radio" id="feature-side-specific-project" name="widget-choice" value="specific-project" checked /> Use the {{project.name}} project
					<br>
					<input type="radio" id="feature-side-random-from-org" name="widget-choice" value="random-from-org" /> Use random project from organisation:
					<br />
					<select name="widget-organisations" id="feature-side-organisations" size="1" style="margin-left:20px;" disabled >
						{% for organisation in organisations  %}
						<option value="{{organisation.id}}">{{organisation.name}}</option>
						{% endfor %}
					</select><br />
					<br />
					<hr style="margin-left:0; margin-right:auto;" />
					<a href="{% url akvo.rsr.views.projectmain project.id %}">Cancel</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Select and Proceed...">
					<hr style="margin-left:0; margin-right:auto;" />			 
				</div>
				<div style="clear:both;"> </div>
			</form>
		</div>
			
		
		{% if not user_level %}
			<p style="color:red;">
			Login for more content!
			</p>
		{% endif %}
		
		
		{% comment %}
			Start restricted widgets
		{% endcomment %}
		
		{% if user_level %}
			
		{% comment %}
			Start project widget with update  
		{% endcomment %}
		
		<div style="background-color:#FFFAD8; padding-left:30px; padding-right:30px; padding-bottom:20px; border:1px solid #BFBEC9; margin-bottom:30px;">
			<form action="customise-widget" method="post">
				<h3 style="margin-bottom:0; padding-bottom:0;">B: Project widget with updates (202 pixel width by 900 pixel height)</h3>
				<p class="machinerygrey" style="margin:0;padding:0;">
					Shows basic description and updates. Users who click on this widget will go to Akvo.org.
				</p>
			
				<div style="padding-bottom:20px;">
				
				</div>
				<p class="machinerygrey" style="margin-bottom:4px;">
					Sample
				</p>
			
				<div style="float:left; width:205px;">
					<script type="text/javascript" charset="utf-8">
						// think about refactor this to a general method in machinery.js
						document.write('<iframe src="http://'+ location.host +'/rsr/widget/project-updates/project/{{project.id}}/" width="202" height="900" frameborder="0" allowTransparency="true"> </iframe>');
							
					</script>
					{% comment %}
					<iframe src="http://sandbox.akvo.org/rsr/widget/feature-side/project/{{project.id}}/" width="202" height="840" frameborder="0" allowTransparency="true"> </iframe>
					{% endcomment %}
				</div>
				<div style="float:right; width:430px; padding-top:0px;">
					<h3 style="margin-top:0; padding-top:0;">Settings</h3>
					<hr style="margin-left:0; margin-right:auto;" />
					
					<p style="font-weight:bold;">
						Enter the web address where you will embed this widget
					</p>
					<input type="text" name="widget-site" value="akvo.org"> This will help us track statistics for you
					<br />
					<p class="machinerygrey">www.akvo.org</p>
						
					<hr style="margin-left:0; margin-right:auto;"/>
					
					<input type="hidden" name="widget-type" value="project-updates">
					<input type="radio" id="project-updates-specific-project" name="widget-choice" value="specific-project" checked /> Use the {{project.name}} project
					<br>
					<input type="radio" id="project-updates-random-from-org" name="widget-choice" value="random-from-org" /> Use random project from organisation:
					<br />
					<select name="widget-organisations" id="project-updates-organisations" size="1" style="margin-left:20px;" disabled >
						{% for organisation in organisations  %}
						<option value="{{organisation.id}}">{{organisation.name}}</option>
						{% endfor %}
					</select><br />
					<br />
					<hr style="margin-left:0; margin-right:auto;" />
					<a href="{% url akvo.rsr.views.projectmain project.id %}">Cancel</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Select and Proceed...">
					<hr style="margin-left:0; margin-right:auto;" />	 
				</div>
				<div style="clear:both;"> </div>
			</form>
		</div>
		
		{% comment %}
			Start project widget with contribution  
		{% endcomment %}
		
		<div style="background-color:#FFFAD8; padding-left:30px; padding-right:30px; padding-bottom:20px; border:1px solid #BFBEC9; margin-bottom:30px;">
			<form action="customise-widget" method="post">
				<h3 style="margin-bottom:0; padding-bottom:0;">C: Project with Donation Link (202 pixel width by 570 pixel height)</h3>
				<p class="machinerygrey" style="margin:0;padding:0;">
					Shows project title and subtitle. Allows donations. Users who click on this widget will go to Akvo.org.
				</p>
			
				<div style="padding-bottom:20px;">
				
				</div>
				<p class="machinerygrey" style="margin-bottom:4px;">
					Sample
				</p>
			
				<div style="float:left; width:205px;">
					<script type="text/javascript" charset="utf-8">
						// think about refactor this to a general method in machinery.js
						document.write('<iframe src="http://'+ location.host +'/rsr/widget/project-contribute/project/{{project.id}}/" width="202" height="570" frameborder="0" allowTransparency="true"> </iframe>');
							
					</script>
				</div>
				<div style="float:right; width:430px; padding-top:0px;">
					<h3 style="margin-top:0; padding-top:0;">Settings</h3>
					<hr style="margin-left:0; margin-right:auto;" />
					
					<p style="font-weight:bold;">
						Enter the web address where you will embed this widget
					</p>
					<input type="text" name="widget-site" value="akvo.org"> This will help us track statistics for you
					<br />
					<p class="machinerygrey">www.akvo.org</p>
						
					<hr style="margin-left:0; margin-right:auto;"/>
					
					<input type="hidden" name="widget-type" value="project-contribute">
					<input type="radio" id="project-contribute-specific-project" name="widget-choice" value="specific-project" checked /> Use the {{project.name}} project
					<br>
					<input type="radio" id="project-contribute-random-from-org" name="widget-choice" value="random-from-org" /> Use random project from organisation:
					<br />
					<select name="widget-organisations" id="project-contribute-organisations" size="1" style="margin-left:20px;" disabled >
						{% for organisation in organisations  %}
						<option value="{{organisation.id}}">{{organisation.name}}</option>
						{% endfor %}
					</select><br />
					<br />
					<hr style="margin-left:0; margin-right:auto;" />
					<a href="{% url akvo.rsr.views.projectmain project.id %}">Cancel</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Select and Proceed...">
					<hr style="margin-left:0; margin-right:auto;" />	 
				</div>
				<div style="clear:both;"> </div>
			</form>
		</div>
		
		
		
		{% comment %}
			Restrict to user level 2
		{% endcomment %}
		{% ifequal user_level 2   %}
			
		{% comment %}
			Start project list widget
		{% endcomment %}
		
		<div style="background-color:#FFFAD8; padding-left:30px; padding-right:30px; padding-bottom:20px; border:1px solid #BFBEC9; margin-bottom:30px;">
			<form action="customise-widget" method="post">
				<h3 style="margin-bottom:0; padding-bottom:0;">D: Project list widget (745 pixel width by 730 pixel height)</h3>
				<p class="machinerygrey" style="margin:0;padding:0;">
					Shows list of projects from your organisation. Users who click on this widget will go to Akvo.org
				</p>
			
				<div style="padding-bottom:20px;">
				
				</div>
				<p class="machinerygrey" style="margin-bottom:4px;">
					
				</p>
			
				<div style="float:left; width:205px;">
				
					{% comment %}
					<iframe src="http://sandbox.akvo.org/rsr/widget/feature-side/project/{{project.id}}/" width="202" height="840" frameborder="0" allowTransparency="true"> </iframe>
					{% endcomment %}
				</div>
				<div style="float:right; width:430px; padding-top:0px; padding-bottom:20px;">
					<h3 style="margin-top:0; padding-top:0;">Settings</h3>
					<hr style="margin-left:0; margin-right:auto;" />
					<p style="font-weight:bold;">
						Enter the web address where you will embed this widget
					</p>
					<input type="text" name="widget-site" value="akvo.org"> This will help us track statistics for you
					<br />
					<p class="machinerygrey">www.akvo.org</p>
						
					<hr style="margin-left:0; margin-right:auto;"/>
					<p style="font-weight:bold;">Choose organisation</p>
					<select name="widget-organisations" id="feature-side-organisations" size="1" >
						{% for organisation in organisations  %}
						<option value="{{organisation.id}}">{{organisation.name}}</option>
						{% endfor %}
					</select>
					<input type="hidden" name="widget-type" value="project-list" />
					<input type="hidden" name="widget-choice" value="project-list" /> 
					<hr style="margin-left:0; margin-right:auto;"/>
		
					<a href="{% url akvo.rsr.views.projectmain project.id %}">Cancel</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Select and Proceed...">
					
				</div>
				<div style="clear:both;"> </div>
				<p class="machinerygrey" style="margin-bottom:4px;">
					Sample
				</p>
				<div>
					<script type="text/javascript" charset="utf-8">
					// think about refactor this to a general method in machinery.js
					document.write('<iframe src="http://'+ location.host +'/rsr/widget/project-list/organisation/{% for organisation in organisations %}{% if forloop.first %}{{organisation.id}}{% endif %}{% endfor %}/" width="745" height="730" frameborder="0" allowTransparency="true"> </iframe>');
					</script>
				</div>
				
			</form>
		</div>
					
		{% endifequal %}
		{% endif %}

	
	<div style="padding-top:40px;"> &nbsp;</div>
</div>


{% endblock content %}

