{% extends "rsr/rsr_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load rsr_tags %}

{% load i18n %}

{% block title %}{{block.super}} - {% trans 'Project details' %}{% endblock title %}

{% block style %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/machinery.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/march.css" media="screen" />

{% endblock style%}


{% block script %}
<script src="{{MEDIA_URL}}js/jquery-1.2.6.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
	var akvo_project_id = {{project.id}};
	var akvo_widget_type = '{{widget_type}}';
	var akvo_widget_choice = '{{widget_choice}}';
	var akvo_widget_organisation = '{{organisation.id}}';
	var akvo_widget_site = '{{widget_site}}';
	
	var error0 = "{% trans 'Please review message below' %}";
	var error1 = "{% trans 'A: Hex color values should be 3 or 6 characters' %}";
	var error2 = "{% trans 'A: Not a valid hex number' %}";
	var error3 = "{% trans 'B: Hex color values should be 3 or 6 characters' %}";
	var error4 = "{% trans 'B: Not a valid hex number' %}";
	
	
	$(function(){
	 $('#preview').click(function(){
	  $('html, body').animate({ scrollTop: $('#preview_position').offset().top }, 1000);
	   return false;
	 });
	});
	
</script>

<script src="{{MEDIA_URL}}js/machinery2.js" type="text/javascript"></script>
{% endblock script %}


{% block breadcrumbs %}
{{block.super}} &raquo; <a href="{% url akvo.rsr.views.projectlist %}">{% trans 'Project listing' %}</a> &raquo; <a href="{% url akvo.rsr.views.projectmain project.id %}">{{project.name}}</a> &raquo; {% trans 'Get a widget' %}
{% endblock breadcrumbs %}


{% block content %}
<div id="machinery-content">
	{% comment %} Top part {% endcomment %}
	<div style="margin-left:30px; margin-right:30px;">
		<div style="width:50%; float:left;">
			<h1>{% trans 'Customise your widget' %}</h1>
			<p style="margin-top:15px;">
				{% ifequal widget_choice 'specific-project'  %}
					<span class="marchGrey">{% trans 'This widget will show the project' %}</span><br /><span style="font-weight:bold;">{{project.name}}</span>
				{% else %}
					<span class="marchGrey">{% trans 'This widget will show projects from the following organisation' %}</span><br /><span style="font-weight:bold;">{{organisation.name}}</span>
				{% endifequal %}
			</p>
		</div>
		<div id="machinery_step2_warning_main" style="float:right; width:380px; margin-right:40px; background-color:#FFEFEB; color:#FF0000; border:1px solid #FFDAD9; padding:10px;">
			<p>
				<span style="font-weight:bold;">{% trans 'A problem occurred' %}</span><br />
				<div id="machinery_step2_warning_main_message" style="display:inline;">
					<p>
						{% trans 'We are sorry, but you must have Javascript enabled in your browser to proceed.' %}
					</p>
				</div>
				<script type="text/javascript" charset="utf-8">
					document.getElementById('machinery_step2_warning_main_message').style.display = 'none';
				</script>
			</p>
		</div>
	</div>
	<div style="padding-bottom:15px; clear:both;"> </div>
	
	{% comment %} Bottom part{% endcomment %}
	<hr style="margin-left:30px; margin-right:30px; clear:both;" />
	<a id="preview_position"></a>
	<form>
		
		{% comment %} site start {% endcomment %}
		{% comment %}
		<div class="machinery_customization" style="background-color:#f3f3f3; margin-left:140px; margin-right:70px;">
			<h3>Step 1: Target site</h3>
			<p class="machinerygrey">
				<input type="text" name="some_name" value="akvo.org" id="some_name"><br />
				www.akvo.com
			</p>
			<br />
		</div>
		<hr style="margin-left:80px; margin-right:70px" />
		{% endcomment %}
		
		{% comment %} colours start	{% endcomment %}
		<div class="machinery_customization" style="margin-left:140px; margin-right:70px;">
			<div style="width:45%; float:left;">
				<h3>{% trans 'Step 2: Select colours for your widget and preview' %}</h3>
			</div>
			<div id="warning_color" style="float:right; margin-top:10px; width:380px; background-color:#FFEFEB; color:#FF0000; border:1px solid #FFDAD9; padding:10px; display: none;">
				<p>
					{% trans 'A color you entered is not recognized. Please change and try again.' %}
				</p>
			</div>
			<div style="padding-bottom:15px; clear:both;"> </div>
			<div style="margin-left:50px;">
				<p style="font-weight:bold; margin-bottom:10px;">{% trans 'A: Top and bottom coloured bars' %}</p>
				<div style="float:left; margin-left:50px; width:200px;">
					<p class="machinerygrey">
						<select name="backgroundcolor_pulldown" id="backgroundcolor_pulldown" size="1">
							<option value="B50000">{% trans 'Akvo Red' %} (#B50000)</option>
							<option value="FFD700">{% trans 'Gold' %} (#FFD700)</option>
							<option value="B8860B">{% trans 'DarkGoldenrod' %} (#B8860B)</option>
							<option value="FF0000">{% trans 'Red' %} (#FF0000)</option>
							<option value="8B0000">{% trans 'Dark Red' %} (#8B0000)</option>
							<option value="8B008B">{% trans 'DarkMagenta' %} (#8B008B)</option>
							<option value="4B0082">{% trans 'Indigo' %} (#4B0082)</option>
							<option value="191970">{% trans 'MidnightBlue' %} (#191970)</option>
							<option value="0000CD">{% trans 'MediumBlue' %} (#0000CD)</option>
							<option value="1E90FF">{% trans 'DodgerBlue' %} (#1E90FF)</option>
							<option value="008080">{% trans 'Teal' %} (#008080)</option>
							<option value="2E8B57">{% trans 'SeaGreen' %} (#2E8B57)</option>
							<option value="556B2F">{% trans 'DarkOliveGreen' %} (#556B2F)</option>
							<option value="696969">{% trans 'DimGray' %} (#696969)</option>
							<option value="708090">{% trans 'SlateGray' %} (#708090)</option>
							<option value="000000">{% trans 'Black' %} (#000000)</option>
							<option value="x">{% trans 'Other...' %}</option>
							{% comment %}
							
							<option value="040404">Bergwerk Black (#040404)</option>
							<option value="0066ff">Ocean Blue (#0066ff)</option>
							<option value="EA741C">Karussell Orange (#EA741C)</option>
							<option value="D3D3D3">Vantage Grey (#D3D3D3)</option>
							<option value="FFCC00">Duck Yellow (#FFCC00)</option>
							<option value="x">Other...</option>
							{% endcomment %}
						</select><br />
						{% trans 'Select colour' %}
					</p>
				</div>
				<div style="float:right; width:465px;">
					<div id="backgroundcolor_other_section" style="margin:0; padding:0; float:left; width:100%;">
						<div style="width:350px; float:right; padding-top:4px;">
							{% trans 'View a list of' %} <a href="http://en.wikipedia.org/wiki/Web_colors#X11_color_names" target="_new">{% trans 'standard colours' %}</a> ({% trans 'external link, new window' %}).
						</div>
						<p class="machinerygrey" style="margin:0; padding:0;">
							<!--<span id="backgroundcolor_warning" style="color:red;"></span><br />-->
							<input type="text" name="bgcolor" value="B50000" id="backgroundcolor_text" size="10" /><br />
							{% trans 'Enter a hex number' %}.
						</p>
					</div>
				</div>
				<div style="clear:both; padding-bottom:20px;"> </div>
				<p style="font-weight:bold; margin-bottom:10px;">{% trans 'B: Widget title on top bar' %}</p>
				<div style="float:left; margin-left:50px; width:200px;">
					<p class="machinerygrey">
						<select name="textcolor_pulldown" id="textcolor_pulldown" size="1" >
							<option value="FFFFFF">{% trans 'White' %} (#FFFFFF)</option>
							<option value="FFD700">{% trans 'Gold' %} (#FFD700)</option>
							<option value="B8860B">{% trans 'DarkGoldenrod' %} (#B8860B)</option>
							<option value="FF0000">{% trans 'Red' %} (#FF0000)</option>
							<option value="8B0000">{% trans 'Dark Red' %} (#8B0000)</option>
							<option value="8B008B">{% trans 'DarkMagenta' %} (#8B008B)</option>
							<option value="4B0082">{% trans 'Indigo' %} (#4B0082)</option>
							<option value="191970">{% trans 'MidnightBlue' %} (#191970)</option>
							<option value="0000CD">{% trans 'MediumBlue' %} (#0000CD)</option>
							<option value="1E90FF">{% trans 'DodgerBlue' %} (#1E90FF)</option>
							<option value="008080">{% trans 'Teal' %} (#008080)</option>
							<option value="2E8B57">{% trans 'SeaGreen' %} (#2E8B57)</option>
							<option value="556B2F">{% trans 'DarkOliveGreen' %} (#556B2F)</option>
							<option value="696969">{% trans 'DimGray' %} (#696969)</option>
							<option value="708090">{% trans 'SlateGray' %} (#708090)</option>
							<option value="000000">{% trans 'Black' %} (#000000)</option>
							<option value="x">{% trans 'Other...' %}</option>
							{% comment %}
							<option value="FCFCFC">Sky White(#FCFCFC)</option>
							<option value="0066ff">Ocean Blue (#0066ff)</option>
							<option value="EA741C">Karussell Orange (#EA741C)</option>
							<option value="D3D3D3">Vantage Grey (#D3D3D3)</option>
							<option value="B50000">Akvo Red (#B50000)</option>
							<option value="FFCC00">Duck Yellow (#FFCC00)</option>
							<option value="x">Other...</option>
							{% endcomment %}
						</select><br />
						{% trans 'Select colour' %}
					</p>
				</div>
				<div style="float:right; width:465px;">
					<div id="textcolor_other_section" style="margin:0; padding:0; float:left; width:100%;">
						<div style="width:350px; float:right; padding-top:4px;">
							{% trans 'View a list of' %} <a href="http://en.wikipedia.org/wiki/Web_colors#X11_color_names" target="_new">{% trans 'standard colours' %}</a> ({% trans 'external link, new window' %}).
						</div>
						<p class="machinerygrey" style="margin:0; padding:0;">
							<!--<span id="backgroundcolor_warning" style="color:red;"></span><br />-->
							<input type="text" name="textcolor" value="ffffff" id="textcolor_text" size="10" /><br />
							{% trans 'Enter a hex number' %}.
						</p>
					</div>
				</div>
				<div style="clear:both; padding-bottom:20px;"> </div>

					<div style="width:80%; text-align:center; padding-bottom:20px;">
						<div style="float:left; width:45%; padding-top:5px; text-align:right;">
							<a href="{% url akvo.rsr.views.projectmain project.id %}">{% trans 'Cancel' %}</a>
						</div>
						<div style="float:right; width:45%; text-align:left;">
							<a id="preview" class="march_button" href="javascript:this.blur();" onclick="preview_widget();"><span>{% trans 'Preview' %}</span></a>
						</div>
						<div style="clear:both;"> </div>
						&nbsp;&nbsp;&nbsp;&nbsp;
					</div>	
			</div>
		</div>			
		<hr style="margin-left:80px; margin-right:70px" />
		<!-- review part starts -->
		<div class="machinery_customization" style=" margin-left:140px; margin-right:70px;">
			<h3>{% trans 'Review your widget' %}</h3>
			
			<p class="machinerygrey">
				{% ifequal widget_type 'feature-side' %}
					{% trans 'How your widget will appear (202 pixels wide by 840 pixels high).' %}
				{% endifequal %}
				{% ifequal widget_type 'project-contribute' %}
					{% trans 'How your widget will appear (202 pixels wide by 570 pixels high).' %}
				{% endifequal %}
				{% ifequal widget_type 'project-updates' %}
					{% trans 'How your widget will appear (202 pixels wide by 900 pixels high).' %}
				{% endifequal %}
				{% ifequal widget_type 'project-list' %}
					{% trans 'How your widget will appear (745 pixels wide by 730 pixels high).' %}
				{% endifequal %}
			</p>
			{% comment %} #akvo_widget_container is an anchor for the widget! {% endcomment %}
			<div id="akvo_widget_container" style="margin:0; padding:0; margin-left:40px; margin-top:40px;"> </div>
		</div>
	
		<hr style="margin-left:80px; margin-right:70px" />
	
		<div class="machinery_customization" style="margin-left:140px; margin-right:70px;">
			<h3>{% trans 'Step 3: Copy the HTML code below for use on your web site' %}</h3>
			<p class="machinerygrey">
				{% trans 'You may repeat the steps above until you are satisﬁed with the appearance of your widget.' %}
			</p>
			<div style="width:100%; text-align:center; margin-top:20px; margin-bottom:40px;">
				<textarea style="background-color:#FEFCF4;" name="code" rows="8" cols="50" id="code"> </textarea>
			</div>
		</div>
	</form>
	<br />
	{% comment %}
	<form name="returnFromMachinery" action="{% url akvo.rsr.views.projectmain project.id %}" method="post" accept-charset="utf-8">
		<p>
			<a class="march_button" href="javascript:document.featureSideForm.submit();" onclick="this.blur();"><span>Select and Proceed...</span></a>
		</p>
		<p><input type="submit" value="Done"></p>
	</form>
	{% endcomment %}
</div>

<div style="text-align:center; padding-bottom:20px; padding-top:20px; margin-left:40px;">
	<div style="float:left; width:45%; padding-top:5px; text-align:right;">
		<a href="{% url akvo.rsr.views.getwidget project.id %}">{% trans 'Back' %}</a>
	</div>
	<div style="float:right; width:45%; text-align:left;">
		<a class="march_button" href="{% url akvo.rsr.views.projectmain project.id %}" onclick="this.blur();"><span>{% trans 'Done' %}</span></a>
	</div>
	<div style="clear:both;"> </div>
	&nbsp;&nbsp;&nbsp;&nbsp;
</div>

{% comment %}

<div style="background-color:yellow; margin-top:20px; height:40px; text-align:center;">
	<a class="march_button" href="{% url akvo.rsr.views.projectmain project.id %}" onclick="this.blur();"><span>Done</span></a>
</div>
{% endcomment %}

{% comment %}
<div style="width:100%; margin-top:20px; padding-bottom:50px;">
	<div style="width:150px; margin-left:auto; margin-right:auto; text-align:center;">
		<a class="march_button" href="{% url akvo.rsr.views.projectmain project.id %}" onclick="this.blur();"><span>Done</span></a>
	</div>
</div>
{% endcomment %}



{% endblock content %}

