{% extends "rsr/rsr_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n rsr_filters thumbnail %}

{% block title %}{{block.super}} - {% trans 'Organisation no.' %} {{o.id}}, {{o.name}}{% endblock title %}

{% block breadcrumbs %}
{{block.super}} &raquo; <a href="{% url rsr_org_list %}">{% trans 'Organisation listing' %}</a> &raquo; {{o.name}}
{% endblock breadcrumbs %}

{% block content %}
{% if live_earth_enabled %}
	{% if has_sponsor_banner %}
		<div style="margin-bottom:30px;">
				<a href="{% url akvo.rsr.views.liveearth %}"><img src="{{MEDIA_URL}}img/lerfw-banner-org.png" alt="Live Earth" /></a>
		</div>
	{% endif %}	
{% endif %}

{% block page_id %}
<div id="page_organisation">
{% endblock page_id %}

<div id="outer_leftwing">
	<div class="boxhead">
		<!--<div style="float: right; width: 30%"><a class="actionbutton ab_grey" href="#" onclick="this.blur();"><span>Edit organisation</span></a></div>-->

		<!--<p style="clear: right; float: right; width: 30%; text-align: right; margin-top: 5px;"><a href="#">Notify me of changes via email</a></p>-->
		<h1 class="section">{{o.name}}</h1>
		{% if o.long_name %}
		<p>{{o.long_name}}</p>
		{% else %}
		<p>&nbsp;</p>
		{% endif %}
	</div> <!-- .boxhead -->

<div class="boxbody">

	<table id="project_showcase">

	<tr>

	<td style="border-right: 1px solid #ccc; width: 33%">
		{% if o.logo %}
			<img src="{% thumbnail o.logo 174x130 %}" alt="Logo of {{o.name}}" style="margin: 10px 0;" />
		{% endif %}
		<h2 class="lightx2">{% trans 'Activities' %}</h2>
		<p>
			{% if o.field_partner   %}{% trans 'Field partner'   %}<br />{% endif %}
			{% if o.support_partner %}{% trans 'Support partner' %}<br />{% endif %}
			{% if o.funding_partner %}{% trans 'Funding partner' %}<br />{% endif %}
			{% if o.sponsor_partner %}{% trans 'Sponsor partner' %}<br />{% endif %}
		</p>
		<h2 class="lightx2">{% trans 'Type' %}</h2>
		<p>{{o.get_organisation_type_display}}</p>
	
		<!--<h2 class="lightx2">Scope</h2>
		<p>National</p>-->
		{% if o.url %}
			<h2 class="lightx2">{% trans 'Website' %}</h2>
			<p><a href="{{o.url}}">{{o.url}}</a></p>
		{% endif %}
		{% if o.akvopedia_entry %}
			<h2 class="lightx2">{% trans 'Akvopedia entry' %}</h2>
			<p>{{o.akvopedia_entry}}</p>
		{% endif %}

	</td>

	<td style="border-right: 1px solid #ccc; width: 33%;">
	<h2 class="lightx2">{% trans 'Location' %}</h2>
	<p>
	{% if o.address_1 %}{{o.address_1}}<br />{% endif %}
	{% if o.address_2 %}{{o.address_2}}<br />{% endif %}
	{% if o.postcode %}{{o.postcode}}<br />{% endif %}
	{% if o.city %}{{o.city}}<br />{% endif %}
	{% if o.state %}{{o.state}}<br />{% endif %}
	{% if o.state %}{{o.country}}{% endif %}
	</p>
	{% comment %}
	{{o.address_1}}<br />{{o.address_2}}<br />{{o.postcode}}<br />{{o.city}}<br />{{o.state}}<br />{{o.country}}</p>
	{% endcomment %}

	{% if o.map %}
		<img src="{% thumbnail o.map 140x140 %}" alt="type" style="margin: 20px 0;" />
	{% endif %}
	
	</td>

	<td style="width: 33%">
	<h2 class="lightx2">{% trans 'Contact' %}</h2>
	<p>{{o.contact_person}}</p>
	<h2 class="lightx2">{% trans 'Email' %}</h2>
	<p>{{o.contact_email}}</p>

	{% if o.phone %}
	<h2 class="lightx2">{% trans 'Phone' %}</h2>
	<p>{{o.phone}}</p>
	{% endif %}
	{% if o.mobile %}
	<h2 class="lightx2">{% trans 'Mobile' %}</h2>
	<p>{{o.mobile}}</p>
	{% endif %}
	{% if o.fax %}
	<h2 class="lightx2">{% trans 'Fax' %}</h2>
	<p>{{o.fax}}</p>
	{% endif %}
	
	{% comment %}
	{% if live_earth_enabled %}
		{% if has_sponsor_banner %}
		<a href="{% url akvo.rsr.views.liveearth%}">View Live Earth projects on Akvo</a>
		{% endif %}
	{% endif %}
	{% endcomment %}

	</td>	

	</tr>
	</table>

	<hr />
	<p>{{o.description|linebreaks}}</p>

</div> <!-- .boxbody -->

</div> <!-- #outer_leftwing -->

<div id="outer_rightwing">

<div class="boxhead">
<h1>{% trans 'Organisation Activities' %}</h1>
</div> <!-- .boxhead -->

<div class="boxbody">

<div></div> <!-- IE requires something above -->
<table class="overall_statistics" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<th colspan="2">
			{% ifequal request.path '/rsr/projects/' %}
			<h2>{% trans 'Projects in Akvo' %}</h2>
			{% else %}
				<a href="{% url akvo.rsr.views.projectlist %}">
					<h2>{% trans 'Projects in Akvo' %}</h2>
				</a>
			{% endifequal %}
		</th>
	</tr>
	<tr>
		<td>
			{% trans 'Active' %}
		</td>
		<td style="text-align:right;">
			{{o.published_projects.status_active.count}}
		</td>
	</tr>
	<tr>
		<td>
			{% trans 'On hold' %}
		</td>
		<td style="text-align:right;">
			{{o.published_projects.status_onhold.count}}
		</td>
	</tr>
	<tr>
		<td>
			{% trans 'Complete' %}
		</td>
		<td style="text-align:right;">
			{{o.published_projects.status_complete.count}}
		</td>
	</tr>
	<tr>
		<td>
			{% trans 'Cancelled' %}
		</td>
		<td style="text-align:right;">
			{{o.published_projects.status_cancelled.count}}
		</td>
	</tr>
	<tr class="hr bold">
		<td style="padding-top:2px; padding-bottom:20px;">
			{% trans 'Total projects' %}
		</td>
		<td style="text-align:right; padding-top:3px;">
			{{o.published_projects.count}}
		</td>
	</tr>
</table>
<table class="overall_statistics" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;"> 	
	<tr>
		<th colspan="3">
			<h2>{% trans 'People who get...' %}</h2>
		</th>
	</tr>
	<tr>
		<td style="width:50px;">&nbsp;</td>
		<td style="font-size:0.9em; width:80px; text-align:right;"><a href="/web/help_akvo_at_a_glance">{% trans 'Upcoming' %}</a></td>
		<td style="font-size:0.9em; width:80px; text-align:right;"><a href="/web/help_akvo_at_a_glance">{% trans 'Delivered' %}</a></td>
	</tr>
	<tr>
		<td style="font-weight:bold;">{% trans 'Water' %}</td>
		<td style="text-align:right;">{{o.published_projects.get_planned_water_calc}}</td>
		<td style="text-align:right;">{{o.published_projects.get_actual_water_calc}}</td>
	</tr>
	<tr class="hr">
		<td style="font-weight:bold; padding-bottom:20px;">{% trans 'Sanitation' %}</td>
		<td style="text-align:right;">{{o.published_projects.get_planned_sanitation_calc}}</td>
		<td style="text-align:right;">{{o.published_projects.get_actual_sanitation_calc}}</td>
	</tr>
</table>


<table class="overall_statistics" border="0" cellspacing="0" cellpadding="0" style="margin-top:20px;">	
	<tr class="font-weight:bold;">
		<th colspan="2" style="padding-bottom:10px;">
			{% trans 'Funding' %} 
			<span style="font-weight:normal; color:#999">
				{% blocktrans count o.published_projects.count as proj_count %}
					(1 project){% plural %}({{proj_count}} projects)
				{% endblocktrans %}
			</span>
		</th>
	</tr>
	<tr>
		<td style="color:#999;">Projects in Euros</td>
	</tr>
	<tr style="color:green;">
		<td>{% trans 'Pledged' %}</td>
		<td style="text-align:right;">&#8364; {{org_projects_euros.total_pledged|round}}</td>
	</tr>
	<tr style="color:red;" {% if not org_projects_dollars %}class="hr"{% endif %} >
		<td style="padding-bottom:20px;">{% trans 'Still needed' %}</td>
		<td style="text-align:right;">&#8364; {{org_projects_euros.total_funds_needed|round}}</td>
	</tr>
	{% if org_projects_dollars %}
	<tr>
		<td style="color:#999;">Projects in US Dollars</td>
	</tr>
	<tr style="color:green;">
		<td>{% trans 'Pledged' %}</td>
		<td style="text-align:right;">&#36; {{org_projects_dollars.total_pledged|round}}</td>
	</tr>
	<tr style="color:red;" class="hr">
		<td style="padding-bottom:20px;">{% trans 'Still needed' %}</td>
		<td style="text-align:right;">&#36; {{org_projects_dollars.total_funds_needed|round}}</td>
	</tr>
	{% endif %}
</table>
<table class="overall_statistics" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
	<tr><td class="padded" colspan="2"><h2>{% trans 'Project partners' %}</h2></td></tr>
	<tr>
		<td>
			{% for partner in org_partners %}
				<a href="{% url akvo.rsr.views.orgdetail partner.id %}">{{partner.name}}</a><br />
			{% endfor %}
		</td>
	</tr>
</table>

</div> <!-- .boxbody -->

<div class="boxhead">
<h1><a href="{% url akvo.rsr.views.filteredprojectlist o.id %}#list">{% trans 'Current projects' %}</a></h1>
</div> <!-- .boxhead -->

<div class="boxbody">
{% for project in org_projects %}
<p><a href="{% url akvo.rsr.views.projectmain project.id %}">{{project.name}}</a></p>
{% endfor %}

</div> <!-- .boxbody -->

</div> <!-- #outer_rightwing -->

</div> <!-- page id -->
{% endblock content %}
