{% extends "rsr/index_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}

{% load generic_content %}
{% load addparam %}

{% block title %}Organisation listing{% endblock title %}

{% block script %}
{{block.super}}
<script src="{{MEDIA_URL}}js/ui.tabs.pack.js" type="text/javascript"></script>
{% endblock script %}

{% block breadcrumbs %}
{{block.super}} &raquo; {% trans 'Organisation listing' %}
{% endblock breadcrumbs %}

{% block page_id %}
<div id="page_project_directory">
{% endblock page_id %}

{% block outer_leftwing %}

<div id="outer_leftwing">

<div class="boxhead">
    <a name="list"></a>
    <div style="float:right; margin-top: 0.6em">
    <!--<label for="display_number_of_entries">Show</label>
    <select name='display_number_of_entries' class="select">
    <option value='25'>25</option>
    <option value='50'>50</option>
    <option value='75'>75</option>
    </select>
    results per page-->
    <span style="margin: 0 20px 0 20px">
        {% blocktrans with page.start_index as page_start and page.end_index as page_end and orgz.count as o_count %}Organisations {{page_start}}-{{page_end}} of {{o_count}}{% endblocktrans %}
    </span>
    <span style="margin: 0 20px 0 20px">
        {% ifequal page.number 1 %}
        {% trans 'First' %} |
        {% else %}
        <a href="{% url rsr_org_list_filtered org_type %}{% addparam "page" 1 %}#list">{% trans 'First' %}</a> |
        {% endifequal %}
        {% if page.has_previous %}
        <a href="{% url rsr_org_list_filtered org_type %}{% addparam "page" page.previous_page_number %}#list">{% trans 'Previous' %}</a> |
        {% else %}
        {% trans 'Previous' %} |
        {% endif %}
        {% if page.has_next %}
        <a href="{% url rsr_org_list_filtered org_type %}{% addparam "page" page.next_page_number %}#list">{% trans 'Next' %}</a> |
        {% else %}
        {% trans 'Next' %} |
        {% endif %}
        {% ifequal page.number page.paginator.num_pages %}
        {% trans 'Last' %}
        {% else %}
        <a href="{% url rsr_org_list_filtered org_type %}{% addparam "page" page.paginator.num_pages %}#list">{% trans 'Last' %}</a>
        {% endifequal %}
    </span>
    </div>
	{% if org_type %}
		{% ifnotequal org_type 'all' %}
			{% ifequal org_type 'funding' %}
			<h1>{% trans 'Funding partners' %} <span class="lightx2" style="font-weight:normal">({{orgz.count}} {% trans 'total' %})</span></h1>
			{% endifequal %}
			{% ifequal org_type 'support' %}
			<h1>{% trans 'Support partners' %} <span class="lightx2" style="font-weight:normal">({{orgz.count}} {% trans 'total' %})</span></h1>
			{% endifequal %}
			{% ifequal org_type 'field' %}
			<h1>{% trans 'Field partners' %} <span class="lightx2" style="font-weight:normal">({{orgz.count}} {% trans 'total' %})</span></h1>
			{% endifequal %}
		{% else %}
			<h1>{% trans 'Organisation listing' %} <span class="lightx2" style="font-weight:normal">({{orgz.count}} {% trans 'total' %})</span></h1>
		{% endifnotequal %}
	{% else %}
		<h1>{% trans 'Organisation listing' %} <span class="lightx2" style="font-weight:normal">({{orgz.count}} {% trans 'total' %})</span></h1>
	{% endif %}
			
</div> <!-- .boxhead -->

<div class="boxbody" style="padding:0">

<table id="project_table">
<tr>
<th><a href="{% url rsr_org_list_filtered org_type %}{% addparam "order_by" "name" %}#list">{% trans 'Organisation name' %}</a></th>
<th><a href="{% url rsr_org_list_filtered org_type %}{% addparam "order_by" "organisation_type" %}#list">{% trans 'Type' %}</a></th>
<th><a href="{% url rsr_org_list_filtered org_type %}{% addparam "order_by" "country__country_name" %}#list">{% trans 'Country' %}</a></th>
<th><a href="{% url rsr_org_list_filtered org_type %}{% addparam "order_by" "country__continent" %}#list">{% trans 'Continent' %}</a></th>
<th>{% trans 'Total projects' %}</th>
<th>{% trans 'Funds requested' %}</th>
<th>{% trans 'Funds still needed' %}</th>
</tr>
{% for o in page.object_list %}
<tr>
	<td>
		
	
		{% if o.logo %}
            <a href="{% url akvo.rsr.views.orgdetail o.id %}">
			<img src="{{MEDIA_URL}}{{o.logo}}" alt="{{o.name}}" style="width: 100px; float:left; margin-right: 10px;" />
            </a>
		{% else %}
			<div style="background-color: #ccc; width: 100px; height: 75px; float:left; margin-right: 10px"></div>
		{% endif %}	

		<a href="{% url akvo.rsr.views.orgdetail o.id %}">{{o.name}}</a>
		<div class="lightx2 small">{{o.long_name}}</div>
		<div style="clear: left;">
		{% if o.field_partner %}
			 <img src="{{MEDIA_URL}}img/purple.png" alt="type" style="margin: 10px 5px 10px 0;" />
		 {% endif %}
		 {% if o.support_partner %}
			 <img src="{{MEDIA_URL}}img/blue.png" alt="type" style="margin: 10px 5px 10px 0;" />
		 {% endif %}
		 {% if o.funding_partner %}
			 <img src="{{MEDIA_URL}}img/orange.png" alt="type" style="margin: 10px 5px 10px 0;" />
		 {% endif %}
	 	</div>
	</td>
	<td>{{o.get_organisation_type_display}}</td>
	<td>{{o.country}}</td>
	<td>{{o.country.get_continent_display}}</td>
	<td>
		<a href="{% url akvo.rsr.views.filteredprojectlist o.id %}#list">{{o.projects.count}}</a><br />
	</td>
	<td>
		{% ifequal o.funding.still_needed 0 %}
			<span style="color: green">
		{% else %}
			<span>
		{% endifequal %}
		<b>&#8364; {{o.funding.total}}</b>
		</span>
	</td>
	<td>
		{% ifequal o.funding.still_needed 0 %}
			<span>
		{% else %}
			<span style="color: red">
		{% endifequal %}
		<b>&#8364; {{o.funding.still_needed}}</b>
		</span>
	</td>
</tr>

{% endfor %}

<tr>
	<td colspan="9">
		<div style="text-align: right">
            <span style="margin: 0 20px 0 20px">
                {% blocktrans with page.start_index as page_start and page.end_index as page_end and orgz.count as o_count %}Organisations {{page_start}}-{{page_end}} of {{o_count}}{% endblocktrans %}
            </span>
            <span style="margin: 0 20px 0 20px">
                {% ifequal page.number 1 %}
                {% trans 'First' %} |
                {% else %}
                <a href="{% url rsr_org_list_filtered org_type %}{% addparam "page" 1 %}#list">{% trans 'First' %}</a> |
                {% endifequal %}
                {% if page.has_previous %}
                <a href="{% url rsr_org_list_filtered org_type %}{% addparam "page" page.previous_page_number %}#list">{% trans 'Previous' %}</a> |
                {% else %}
                {% trans 'Previous' %} |
                {% endif %}
                {% if page.has_next %}
                <a href="{% url rsr_org_list_filtered org_type %}{% addparam "page" page.next_page_number %}#list">{% trans 'Next' %}</a> |
                {% else %}
                {% trans 'Next' %} |
                {% endif %}
                {% ifequal page.number page.paginator.num_pages %}
                {% trans 'Last' %}
                {% else %}
                <a href="{% url rsr_org_list_filtered org_type %}{% addparam "page" page.paginator.num_pages %}#list">{% trans 'Last' %}</a>
                {% endifequal %}
            </span>
		</div>
	</td>
</tr>
</table>

</div> <!-- .boxbody -->

</div> <!-- #outer_leftwing -->
{% endblock outer_leftwing %}

{% block projects %}


{% endblock projects %}

