{% extends "rsr/rsr_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load rsr_tags %}

{% load i18n %}

{% block title %}{{block.super}} - {% trans 'Project details' %}{% endblock title %}

{% block style %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/machinery.css" media="screen" />

<meta http-equiv="pragma" content="no-cache"/>
<meta http-equiv="cache-control" content="no-cache"/>

{% endblock style%}


{% block script %}
<script src="{{MEDIA_URL}}js/jquery-1.2.6.js" type="text/javascript"></script>

<script src="{{MEDIA_URL}}js/machinery.js" type="text/javascript"></script>
{% endblock script %}


{% block breadcrumbs %}
{% comment %}
{{block.super}} &raquo; <a href="{% url akvo.rsr.views.projectlist %}">{% trans 'Project listing' %}</a> &raquo; <a href="{% url akvo.rsr.views.projectmain project.id %}">{{project.name}}</a> &raquo; {% trans 'Get widget' %}
{% endcomment %}

{% endblock breadcrumbs %}

{% block content %}
<div id="machinery-content" style="padding-left:30px; padding-right:30px;">
	<div style="width:50%; float:left;">
		<h1>Thank you for your donation!</h1>
		<p>Your donation has been processed.</p>
		<p>You will shortly receive emails from PayPal and from Akvo confirming your donation.</p>
		
	</div>
	<div id="paypal_warning_main" style="float:right; width:380px; background-color:#FFEFEB; color:#FF0000; border:1px solid #FFDAD9; padding:10px;">
		<p>
			<span style="font-weight:bold;">A problem occurred</span><br />This page requires Javascript to run. 
		</p>
	</div>
	<div style="padding-bottom:15px; clear:both;"> </div>
	<hr style="width:100%; margin-left:0; clear:both;" />
	<div style="margin-left:40px">
		<div style="margin-left:40px;">
			<h2 style="padding-left:0;">Transaction information</h2>
			<p>Akvo transaction number:X</p>
			<p>Date and time:y</p>
			
			<h2 style="padding-left:0;">Your information</h2>
			{% if user.is_authenticated %}
				&euro;
				<p> 
					Your Name:
					{% if user.first_name and user.last_name %}
			    		{{ user.first_name }} {{ user.last_name }} ({{ user.username }})
			        {% else %}
					{{ user.username }}{% endif %}
				</p>
			{% else %}
				<p>Your credentials are: {{ name }}, {{ email }}</p>
			{% endif %}			
		</div>
		
		<hr style="width:100%; margin-left:0; margin-right:0;"/>
		<div style="margin-left:40px;">
			<h2 style="padding-left:0;">Project to which you donated</h2>
			<p>Project name: X </p>
			<p>Location: Y</p>
			<p>Akvo ref: Z</p>
			{% comment %}
			
			{% if p.current_image %}
				<div>
					<a href="{% url akvo.rsr.views.projectmain p.id %}">
		    			<img src="{{MEDIA_URL}}{{p.current_image}}" width="190" height="139" alt="{{p.current_image_caption}}" />
					</a>
				</div>
		    {% endif %}
			{% endcomment %}

			<div style="background-color:#efefef;">
				{% comment %}
				{% funding_box p %}					
				{% endcomment %}

			</div>		
		</div>
		
		<hr style="width:100%; margin-left:0; clear:both;" />
		<div style="margin-left:40px; float:left; width:300px;">
			<h2 style="padding-left:0;">Amount you donated (in Euros / &euro;)</h2>
			<p>Amount: &euro;</p>
			
		</div>
		<div id="paypal_warning_deatil" style="float:right; width:380px; background-color:#FFEFEB; color:#FF0000; border:1px solid #FFDAD9; padding:10px; margin-top:40px;">
			<p>
				<span style="font-weight:bold;">A problem occurred</span><br />This page requires Javascript to run. 
			</p>
		</div>
		<div style="clear:both;"> </div>
	</div>
	<hr style="width:100%; margin-left:0; clear:both;" />
	<div style="text-align:center;">
		Back to where you started
		
		{% comment %}
		<p style="margin-bottom:40px;">Click the Donate button to proceed to Paypal checkout</p>
		<div style="float:left; width:45%; text-align:right;">
			<a href="{% url akvo.rsr.views.projectmain p.id %}">Cancel</a>
			&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url akvo.rsr.views.donate p.id %}">Back</a>
		</div>
		<div style="float:right; width:45%; text-align:left;">
				{{ pp_form.sandbox }} {# Change to pp_form.render in production #}
		</div>
		<div style="clear:both; padding-bottom:30px;"> </div>
		{% endcomment %}
	</div>

</div>

{% comment %}

<h1>Please confirm your donation</h1>

<h2>Your information:</h2>

{% if user.is_authenticated %}
    <p>Your name: {# We need to handle cases where the user might not have filled in First Name, Last Name #}
        {% if user.first_name and user.last_name %}
            {{ user.first_name }} {{ user.last_name }} ({{ user.username }})</p>
        {% else %}
            {{ user.username }}{% endif %}</p>
    <p>Your email: {{ user.email }}.</p>
{% else %}
    <p>Your credentials are {{ name }}, {{ email }}</p>
{% endif %}

<p>You are donating &euro;{{ amount }} to the project "{{ p }}"</p>
<p>FOR TESTING ONLY: Your invoice number is {{ invoice_id }}.</p>
<p>Click on Donate to proceed to PayPal checkout.</p>
<hr />
{{ pp_form.sandbox }} {# Change to pp_form.render in production #}

{% endcomment %}

{% endblock content %}

