{% load i18n %}

{{ timestamp }} {# Should probably be formatted with |date:'' filter #}

{% if u %}
Name: {{ u.first_name }} {{ u.last_name }}
Email: {{ u.email }}

Dear {{ u.first_name }} {{ u.last_name }},
{% else %}
Name: {{ anon_name }}
Email: {{ anon_email }}

Dear {{ anon_name }},
{% endif %}

Thank you for your online contribution on Akvo.org.  By giving, you have personally helped to advance the cause of clean water and sanitation around the world.

No goods or services were provided in exchange for your gift of funds.  At this time, only residents of the following countries may treat this donation as a tax-deductible charitable contribution to the extent allowed by law.

        - The Netherlands (Nederland)

We are working hard to expand this list to new countries.  In the future, you may check http://www.akvo.org/web/charitable/ to see if we have added your country to this list.

Please retain this message as a record of your contribution.

And please tell your friends about Akvo.org!  :)


A summary of your contribution:

Your gift will help:            {{ project }} (http://akvo.org/rsr/project/{{ project.id }}/)
Total Contribution Amount:      {{ amount }} Euro{{ amount|pluralize:"s" }}
Akvo Reference ID:              {{ invoice }}
PayPal Reference ID:         	{{ paypal_reference }}

Visit the project at the link above to see progress and updates.

You may email us with technical questions at contribute@akvo.org
