<h1>Donate to project</h1>

{% if user.is_authenticated %}
    <h2>Your information:</h2>
    <p>Your name: <strong>{{ user.first_name }} {{ user.last_name }}</strong></p>
    <p>Your email: <strong>{{ user.email }}</strong></p>
{% else %}
    <p>You are not logged into akvo.org</p>
    <p><a href="/rsr/signin/">Sign in</a> or provide your full name and email address below.</p>
{% endif %}
<button>Change
    <span>(This button doesn't currently do anything!)</span>
</button>

<h2>{{ p.name}}</h2>
<p>{{ p.goals_overview }}</p>
<hr />
<p>This project still requires &euro;{{ funding_still_needed }} of funding.</p>
<hr />

<form method="post" action=".">
    {{ donate_form.as_p }}
    <p><input type="submit" value="Donate" /></p>
</form>
