{% extends "rsr/project_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load rsr_tags thumbnail %}

{% load i18n %}

{% block title %}{{block.super}} - {% trans 'Project details' %}{% endblock title %}

{% block script %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

<script src="{{MEDIA_URL}}js/ui.tabs.pack.js" type="text/javascript"></script>
<script type="text/javascript">

	$(function(){
    	$('#container-1 > ul').tabs();
	});
	
	$(document).ready(function(){
    	$(".btn-slide").click(function(){
    		$("#panel").slideToggle("slow");
    		$(this).toggleClass("active"); return false;
    	});
	});

</script>
{% endblock script %}

{% block breadcrumbs %}
{{block.super}} &raquo; <a href="{% url akvo.rsr.views.projectlist %}">{% trans 'Project listing' %}</a> &raquo; <a href="{% url akvo.rsr.views.projectmain p.id %}">{{p.name}}</a> &raquo; {% trans 'Project details' %}
{% endblock breadcrumbs %}

{% block outer_leftwing %}
<div id="outer_leftwing">

	<div class="boxhead">
		<!--<a class="actionbutton ab_grey" href="#" style="float: right" onclick="this.blur();"><span>Edit project</span></a>-->
		<h1 class="section">{{p.name}}</h1>
		<p>{{p.subtitle}}</p>
	</div> <!-- .boxhead -->

	<div class="boxbody">
		{% comment %}
			Fixed a problem with IE7 / Daniel 
		{% endcomment %}
		<div id="outerContainer">
			<div id="innerContainer" style=" width:450px; float:left;">
				<div id="name" style="width:200px; padding-left:30px; float:left;">
					<div class="lightx2"><b>{% trans 'Status' %}</b></div>
					<div>{{p.show_status}}</div>
					<br />
					<div class="lightx2"><b>{% trans 'Focus area' %}</b></div>

					{% category_icons p %}
				</div>
		
				<div id="name" style="width:200px; margin-left:230px;">
					{% if p.location_1 or p.location_2 or p.postcode %}
					<div class="lightx2">{% trans 'Location' %}</div>
					{% if p.location_1 %}
						{{p.location_1}}<br />
					{% endif %}
					{% if p.location_2 %}
						{{p.location_2}}<br />
					{% endif %}
					{% if p.postcode %}
						{{p.postcode}}<br />
					{% endif %}
				{% endif %}
					<div class="lightx2">{% trans 'City' %}</div>
					<div style="margin-bottom: 0.7em">{{p.city}}</div>
					<div class="lightx2">State</div>
					<div style="margin-bottom: 0.7em">{{p.state}}</div>
					<div class="lightx2">Country</div>
					<div style="margin-bottom: 0.7em">{{p.country}}</div>
				</div>
			</div>
			<div style="width:180px; margin-left:470px;">
				{% if p.map %}
						<img src="{% thumbnail p.map 140x140 %}" alt="{% trans 'location' %}" />
				{% else %}
						<img src="{{MEDIA_URL}}img/nomap.jpg" alt="{% trans 'location' %}" style="margin: 10px 10px 20px 10px" />
				{% endif %}
			</div>
		</div>
		
	{% comment %}
		
	<div style="float: left; width: 200px; padding-left: 30px;">
			
		<div class="lightx2"><b>{% trans 'Status' %}</b></div>
		<div>{{p.show_status}}</div>
		<br />
		<div class="lightx2"><b>{% trans 'Focus area' %}</b></div>

		{% category_icons p %}

	</div>

	<div style="float: left; width: 200px; padding-left: 20px">
		{% if p.location_1 or p.location_2 or p.postcode %}
		<div class="lightx2">{% trans 'Location' %}</div>
		{% if p.location_1 %}
			{{p.location_1}}<br />
		{% endif %}
		{% if p.location_2 %}
			{{p.location_2}}<br />
		{% endif %}
		{% if p.postcode %}
			{{p.postcode}}<br />
		{% endif %}
	{% endif %}
		<div class="lightx2">{% trans 'City' %}</div>
		<div style="margin-bottom: 0.7em">{{p.city}}</div>
		<div class="lightx2">State</div>
		<div style="margin-bottom: 0.7em">{{p.state}}</div>
		<div class="lightx2">Country</div>
		<div style="margin-bottom: 0.7em">{{p.country}}</div>

	</div>
	{% if p.map %}
		<div style="float: left; width: 200px; padding-left: 20px">
			<img src="{% thumbnail p.map 140x140 %}" alt="{% trans 'location' %}" style="margin: 10px 10px 20px 10px" />
		</div>
	{% else %}
		<div style="float: left; width: 200px; padding-left: 20px">
			<img src="{{MEDIA_URL}}img/nomap.jpg" alt="{% trans 'location' %}" style="margin: 10px 10px 20px 10px" />
		</div>
	{% endif %}
	
	{% endcomment %}	
	<hr style="clear:left; padding-top: 20px" />
	<p><a href="{% url akvo.rsr.views.projectmain p.id %}">< {% trans 'Back to project summary' %}</a></p>

            <div id="container-1" style="margin-top: 20px; padding-left: 20px;">
                <ul>
                    <li><a href="#tab_description"><span>{% trans 'Description' %}</span></a></li>
                    <li><a href="#tab_goals"><span>{% trans 'Goals' %}</span></a></li>
                    <li><a href="#tab_sustainability"><span>{% trans 'Sustainability' %}</span></a></li>
                    <!--<li><a href="#tab_results"><span>Results</span></a></li>-->
                </ul>
                
                <div id="tab_description" class="tab">
                    <p>{{p.project_plan_summary|linebreaks}}</p>
                    <br />		
                    <div style="float:left;width: 280px">
                    {% if p.current_image %}
                        <p class="small lightx1">{{p.current_image_caption}}</p>
                        <img src="{% thumbnail p.current_image 240x180 autocrop,upscale,sharpen %}" alt="{{p.current_image_caption}}" style="margin: 10px 10px 0 0" />
                    {% endif %}	
                    </div>	
                    <div style="width: 280px:">
                        <p class="lightx1"><b>{% trans 'Target benchmarks' %}</b></p>
                        {% include "rsr/inc_target_benchmarks.html" %}		
                    </div>
                    <div style="clear:both; padding-bottom: 20px">&#32;</div>
                    
                    {% if p.project_plan_detail %}
						<h2 class="lightx2">{% trans 'More information' %}</h2>
						<p>{{p.project_plan_detail|linebreaks}}</p>
					{% endif %}
                    {% if p.current_status_detail %}
						<h2 class="lightx2">{% trans 'Current state' %}</h2>
						<p>{{p.current_status_detail|linebreaks}}</p>
					{% endif %}
                    {% if p.context %}
						<h2 class="lightx2">{% trans 'Context' %}</h2>
						<p>{{p.context|linebreaks}}</p>
					{% endif %}
                    
                </div> <!-- #tab_description -->
        
            <div id="tab_goals" class="tab">
                <p style="padding-left:0;">{{p.goals_overview|linebreaks}}</p>
                <br />
                <div style="float:left;width:270px;">
                    <p class="lightx1"><b>{% trans 'Target benchmarks' %}</b></p>
                    {% include "rsr/inc_target_benchmarks.html" %}
                </div>
                <div style="margin-left:280px;">
                    {% if p.goal_1 or p.goal_2 or p.goal_3 or p.goal_4 or p.goal_5 %}
                    <p class="lightx1"><b>{% trans 'Goals overview' %}</b></p>
                    {% endif %}
                    <ul class="simplelist">
                    {% if p.goal_1 %}
                    <li>{{p.goal_1}}</li>
                    {% endif %}
                    {% if p.goal_2 %}
                    <li>{{p.goal_2}}</li>
                    {% endif %}
                    {% if p.goal_3 %}
                    <li>{{p.goal_3}}</li>
                    {% endif %}
                    {% if p.goal_4 %}
                    <li>{{p.goal_4}}</li>
                    {% endif %}
                    {% if p.goal_5 %}
                    <li>{{p.goal_5}}</li>
                    {% endif %}
                    </ul>
                   </ul>
                </div>			
                <div style="clear:left">&#32;</div>
            </div> <!-- #tab_goals -->
        
            <div id="tab_sustainability" class="tab">
                <p>{{p.sustainability|linebreaks}}</p>
            </div> <!-- #tab_sustainability -->
        
		</div> <!-- #container-1 -->
            
		<p><a href="{% url akvo.rsr.views.projectmain p.id %}">< {% trans 'Back to project summary' %}</a></p>

	</div> <!-- #project_details .boxbody -->

</div> <!-- #outer_leftwing -->

{% endblock outer_leftwing %}

