{% extends "rsr/project_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}
{% load rsr_tags %}

{% block title %}{{block.super}} - {% trans 'Funding details' %}{% endblock title %}

{% block breadcrumbs %}
{{block.super}} &raquo; <a href="{% url akvo.rsr.views.projectlist %}">{% trans 'Project listing' %}</a> &raquo; <a href="{% url akvo.rsr.views.projectmain p.id %}">{{p.name}}</a> &raquo; {% trans 'Funding details' %}
{% endblock breadcrumbs %}

{% block outer_leftwing %}
<div id="outer_leftwing">

	<div class="boxhead">
		{% comment %}
		{% if not p.funding.date_complete %}
			<a class="actionbutton ab_grey" href="/web/how_to_fund_a_project" style="float: right" onclick="this.blur();"><span>{% trans 'Fund project' %}</span></a>
		{% endif %}
		{% endcomment %}
		<h1 class="section">{% trans 'Funding' %}</h1>
	</div> <!-- .boxhead -->

	<div class="boxbody">	

		<table style="width: 100%">
		<tr>

		<td style="width: 50%; border-right: 1px solid #ccc; padding-left: 0;">
			<p style="margin-bottom: 3px"><a href="{% url akvo.rsr.views.projectmain p.id %}">< {% trans 'Back to project summary' %}</a></p>
			<div style="margin: 0 20px 10px 20px">
				{% funding_box_march p %}
				{% comment %}
				{% funding_bar p %}	
				{% endcomment %}
				
			</div>
			<!--<div style="border: 1px solid #999; margin: 0 20px 10px 20px">
				<div style="width: 176px;">
					<div style="width: {% widthratio p.funding.pledged p.funding.total 176 %}px; height: 30px; background-color: #4CAC62;"></div>
				</div>
			</div>-->
			<table>
				<tr>
					<td>{{p.funding.date_request_posted}}</td>
					<td>{% trans 'Request posted' %}</td>
				</tr>
				{% if p.funding.date_complete %}
					<tr>
						<td>{{p.funding.date_complete}}</td>
						<td>{% trans 'Project started' %}</td>
					</tr>
				{% endif %}
			</table>
		</td>

		<td style="width: 50%">
			<p><b>{% trans 'Funding breakdown' %}</b></p>
			<table style="width: 80%">
			<tr>
			<td>{% trans 'Employment costs' %}</td>
			<td>&#8364; {{p.funding.employment}}</td>
			</tr>
			<tr>
			<td>{% trans 'Building Material costs' %}</td>
			<td>&#8364; {{p.funding.building}}</td>
			</tr>
			<tr>
			<td>{% trans 'Training costs' %}</td>
			<td>&#8364; {{p.funding.training}}</td>
			</tr>
			<tr>
			<td>{% trans 'Maintenance costs' %}</td>
			<td>&#8364; {{p.funding.maintenance}}</td>
			</tr>
			<tr>
			<td>{% trans 'Other costs' %}</td>
			<td>&#8364; {{p.funding.other}}</td>
			</tr>
			<tr>
			<td><b>{% trans 'Total' %}</b></td>
			<td><b>&#8364; {{p.funding.total}}</b></td>
			</tr>
			</table>
		</td>
	
		</tr>
		</table>


		<hr />

		<h2 style="margin-left: 20px;">{% trans 'Current Funders' %}</h2>		

		<div style="padding-left: 20px">
			
 		{% for funder in p.fundingpartner_set.all %}
			<div style="width: 33%; float: left;{% if forloop.first %} padding-left: 0;{% endif %}">
				{% if funder.funding_organisation.logo %}
					<a href="{% url akvo.rsr.views.orgdetail funder.funding_organisation.id %}">
					<img src="{{MEDIA_URL}}{{ funder.funding_organisation.logo }}" alt="{% blocktrans with funder.funding_organisation.name as funding_org_name %}Logo of {{funding_org_name}}{% endblocktrans %}" style="margin: 10px 20px 10px 20px;" />
					</a>
				{% endif %}	
				<p><a href="{% url akvo.rsr.views.orgdetail funder.funding_organisation.id %}">{{funder.funding_organisation.name}}</a></p>
				<p>{{funder.funding_organisation.city}}, {{funder.funding_organisation.country}}</p>
				<p style="margin:10px 0"><b>{% trans 'Grant' %}: <span style="margin-left: 10px">{{funder.get_currency_display|safe}} {{funder.funding_amount}}</span></b></p>
			</div>
		{% endfor %}    
			
		</div> <!-- style -->

		<div style="clear:left"></div>

		<p style="margin: 30px 0 0 20px;"><a href="{% url akvo.rsr.views.projectmain p.id %}">< {% trans 'Back to project summary' %}</a></p>

	</div> <!-- .boxbody -->

</div> <!-- #outer_leftwing -->

{% endblock outer_leftwing %}

{% block funding %}
{% endblock funding %}
