{% extends "rsr/rsr_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n rsr_filters rsr_tags thumbnail humanize %}

{% block title %}{{block.super}} - {% trans 'Project no.' %} {{p.id}}, {{p.name}}{% endblock title %}

{% block style %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/march.css" media="screen" />
{% endblock style %}

{% block page_id %}
<div id="page_project">
{% endblock page_id %}

{% block content %}

{% block outer_leftwing %}
<div id="outer_leftwing">
	<h1>I'm left!</h1>
</div> <!-- #outer_leftwing -->
{% endblock outer_leftwing %}

{% block outer_rightwing %}
<div id="outer_rightwing">

    {% block funding %}
	<div class="boxhead">
		<h1>{% trans 'Funding' %}</h1>
	</div> <!-- .boxhead -->

	<div id="project_funding" class="boxbody">
		<div style="margin: 20px 20px 10px 20px">{% funding_box_march p %}</div>
        <p>{{p.date_request_posted}} {% trans 'Request posted' %}</p>
		{% if p.date_complete %}
    		<p>{{p.date_complete}} {% trans 'Funding completed' %}</p>
		{% endif %}
		<!--<p><b>Total: <span style="margin-left: 10px">{{p.get_currency_display|safe}} {{p.funding.total|round|intcomma}}</span></b></p>-->
		<p style="text-align: right"><a href="{% url akvo.rsr.views.projectfunding p.id %}">{% trans 'View details' %}</a></p>
		
		
		{% ifnotequal p.status 'L' %}
			<hr />
			<p style="margin: 10px 0 10px 0;">
							
				{% ifequal p.fundingpartner_set.count 1 %}
					<b>{% trans 'Current funder' %}</b>
				{% else %}
					{% ifequal p.fundingpartner_set.count 0 %}
							<b style="color: green;">{% trans 'You could fund this project!' %}</b>
					{% else %}
						<b>{% trans 'Current funders' %}</b>
					{% endifequal %}
				{% endifequal %}

	        </p>
		{% endifnotequal %}
    
 		{% for funder in p.fundingpartner_set.all %}
			{% if not forloop.first %}
				<hr />
			{% endif %}
			{% if funder.funding_organisation.logo %}
                <a href="{% url akvo.rsr.views.orgdetail funder.funding_organisation.id %}">
				<img src="{% thumbnail funder.funding_organisation.logo 120x90 %}" alt="{% trans 'Logo of' %} {{funder.funding_organisation.name}}" style="margin: 10px 20px;" />
                </a>
			{% endif %}	
			<p><a href="{% url akvo.rsr.views.orgdetail funder.funding_organisation.id %}">{{funder.funding_organisation.name}}</a></p>
			<p>{{funder.funding_organisation.city}}, {{funder.funding_organisation.country}}</p>
			<p style="margin:10px 0"><b>{% trans 'Grant' %}: <span style="margin-left: 10px">{{p.get_currency_display|safe}} {{funder.funding_amount|round|intcomma}}</span></b></p>
		{% endfor %}

		{% if p.funding_donated %}
			<hr />
			<p style="margin: 10px 0 10px 0;">
				<b>{% trans 'Donations from individuals' %}</b>
			</p>
			<p><img src="{{MEDIA_URL}}img/avatar.jpg" style="width:60px;height:60px;background-color:#dedede;margin-left: 15px;" /></p>
			<p style="margin:10px 0">
				<b>{% trans 'Total' %}:
					<span style="margin-left: 10px">
						{{p.get_currency_display|safe}}
						{{p.funding_donated|round|intcomma}}
					</span>
				</b>
			</p>
		{% endif %}
	</div> <!-- #project_funding & .boxbody -->
    {% endblock funding %}

	<div class="boxhead">
		<h1>{% trans 'Page tools' %}</h1>
	</div> <!-- .boxhead -->

	<div id="project_pagetools" class="boxbody">
		<!--<p><a href="#">Printable version</a></p>-->

		<p><a href="{% url akvo.rsr.views.projectmain p.id %}">{% trans 'Permalink to this project' %}</a></p>
		<p><a href="{% url akvo.rsr.views.getwidget p.id %}">{% trans 'Get a widget' %}</a></p>
		<!--<p><a href="#">Email this project's owner</a></p>-->
	</div> <!-- #project_pagetools & .box -->
	

	<div class="boxhead">

		<a class="actionbutton ab_grey" href="/web/become_a_project_partner" onclick="this.blur();"><span>{% trans 'Become a partner' %}</span></a>						
		<h1>{% trans 'Partners' %}</h1>
	</div> <!-- .boxhead -->

	<div id="project_partners" class="boxbody">
        {% ifequal p.fieldpartner_set.count 1 %}
            <h2>{% trans 'Field partner' %}</h2>
        {% else %}
            <h2>{% trans 'Field partners' %}</h2>
        {% endifequal %}
			{% for fp in p.fieldpartner_set.all %}
				{% if not forloop.first %}
					<hr />
				{% endif %}
				{% if fp.field_organisation.logo %}
                    <a href="{% url akvo.rsr.views.orgdetail fp.field_organisation.id %}">
					<img src="{% thumbnail fp.field_organisation.logo 120x90 %}" alt="{% trans 'Logo of' %}{{fp.field_organisation.name}}" style="margin: 10px 20px;" />
                    </a>
				{% endif %}	
				<p><a href="{% url akvo.rsr.views.orgdetail fp.field_organisation.id %}">{{fp.field_organisation.name}}</a></p>
				<p>{{fp.field_organisation.city}}, {{fp.field_organisation.country}}</p>
		{% endfor %}
		{% if p.supportpartner_set.count %}
			{% if p.fieldpartner_set.count %}
				<hr />
			{% endif %}
			{% ifequal p.supportpartner_set.count 1 %}
				<h2>{% trans 'Support partner' %}</h2>
			{% else %}
				<h2>{% trans 'Support partners' %}</h2>
			{% endifequal %}
			{% for sp in p.supportpartner_set.all %}
				{% if not forloop.first %}
					<hr />
				{% endif %}
				{% if sp.support_organisation.logo %}
                    <a href="{% url akvo.rsr.views.orgdetail sp.support_organisation.id %}">
					<img src="{% thumbnail sp.support_organisation.logo 120x90 %}" alt="{% trans 'Logo of' %} {{sp.support_organisation.name}}" style="margin: 10px 20px" />
                    </a>
				{% endif %}	
				<p><a href="{% url akvo.rsr.views.orgdetail sp.support_organisation.id %}">{{sp.support_organisation.name}}</a></p>
				<p>{{sp.support_organisation.city}}, {{sp.support_organisation.country}}</p>
			{% endfor %}
		{% endif %}     
		
		{% if p.sponsorpartner_set.count %}
			<hr />
			 {% ifequal p.sponsorpartner_set.count 1 %}
			<h2> {% trans 'Sponsor partner' %}</h2>
			{% else %}
			<h2> {% trans 'Sponsor partners' %}</h2>
			{% endifequal %}
			{% for sponsor in p.sponsorpartner_set.all %}
			
				{% if sponsor.sponsor_organisation.logo %}
					<a href="{% url akvo.rsr.views.orgdetail sponsor.sponsor_organisation.id %}">
						<img src="{% thumbnail sponsor.sponsor_organisation.logo 120x90 %}" style="margin:10px 20px;" />
					</a>
				{% endif %}
				<p>
					<a href="{% url akvo.rsr.views.orgdetail sponsor.sponsor_organisation.id %}">{{ sponsor.sponsor_organisation.name }}</a><br />
					{{ sponsor.sponsor_organisation.city }}, {{ sponsor.sponsor_organisation.country }}
				</p>
				
				{% comment %}
				<ul style="margin-left:35px; list-style-position: outside; list-style-type: disc; color:#367FC6; margin-right:20px; font-size:0.9em;">
					<li><a href="#">How Live Earth and Akvo work together</a></li>
					<li><a href="{% url akvo.rsr.views.liveearth %}">View all Live Earth projects in Akvo</a></li>
					<li><a href="http://liveearth.org/">Go to Live Earth&#x27;s web site</a></li>
				</ul>
				{% endcomment %}
						
			{% endfor %}
			
			{% comment %}
			<img src="{% thumbnail sp.sponsor_organisation.logo 67x50 autocrop,upscale,sharpen %}" width="67px" height="50px" />
			{% if sp.sponsor_organisation.logo %}
				<img src="{% thumbnail sp.sponsor_organisation.logo 67x50 autocrop,upscale,sharpen %}" width="67px" height="50px" />
			{% endif %}	
			{% endcomment %}
			
			
		
		{% endif %}     
		   

	</div> <!-- #project_partners & .boxbody -->

	

</div> <!-- #outer_rightwing -->
{% endblock outer_rightwing %}

</div> <!-- page id -->
{% endblock content %}
