{% extends "rsr/rsr_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load rsr_tags %}

{% load i18n %}

{% block title %}{{block.super}} - {% trans 'Project details' %}{% endblock title %}

{% block style %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/machinery.css" media="screen" />

<meta http-equiv="pragma" content="no-cache"/>
<meta http-equiv="cache-control" content="no-cache"/>

{% endblock style%}


{% block script %}
<script src="{{MEDIA_URL}}js/jquery-1.2.6.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
	var akvo_project_id = {{project.id}};
</script>

<script src="{{MEDIA_URL}}js/machinery.js" type="text/javascript"></script>
{% endblock script %}


{% block breadcrumbs %}
{% comment %}
{{block.super}} &raquo; <a href="{% url akvo.rsr.views.projectlist %}">{% trans 'Project listing' %}</a> &raquo; <a href="{% url akvo.rsr.views.projectmain project.id %}">{{project.name}}</a> &raquo; {% trans 'Get widget' %}
{% endcomment %}

{% endblock breadcrumbs %}


{% block content %}
<div id="machinery-content" style="padding-left:30px; padding-right:30px;">
	<div style="width:50%; float:left;">
		<h1>Donate to project: Enter Amount</h1>
	</div>
	<div id="paypal_warning_main" style="float:right; width:380px; background-color:#FFEFEB; color:#FF0000; border:1px solid #FFDAD9; padding:10px;">
		<p>
			<span style="font-weight:bold;">A problem occurred</span><br />This page requires Javascript to run. 
		</p>
	</div>
	<div style="padding-bottom:15px; clear:both;"> </div>
	<hr style="width:100%; margin-left:0; clear:both;" />
	<div style="margin-left:40px">
		<div style="margin-left:40px;">
			<h2 style="padding-left:0;">Your information</h2>
			<p>Your name: <strong>{{ user.first_name }} {{ user.last_name }}</strong></p>
			<p>Your email: <strong>{{ user.email }}</strong></p>
			<input type="button" name="some_name" value="Change (don't work)" id="some_name">
			
		</div>
		
		<hr style="width:100%; margin-left:0; margin-right:0;"/>
		<div style="margin-left:40px;">
			<h2 style="padding-left:0;">Project to which you are donating</h2>
			<p>Project name: <a href="{% url akvo.rsr.views.projectmain p.id %}">{{ p.name }}</a></p>
			<p>Location: {{ p.country.get_continent_display }} / {{p.country}}, {{p.city}}</p>
			<p>Akvo ref: {{ p.id }}</p>
			{% if p.current_image %}
				<div>
					<a href="{% url akvo.rsr.views.projectmain p.id %}">
		    			<img src="{{MEDIA_URL}}{{p.current_image}}" width="190" height="139" alt="{{p.current_image_caption}}" />
					</a>
				</div>
		    {% endif %}

			<div style="background-color:#efefef;">
				{% funding_box p %}
			</div>		
		</div>
		
		<hr style="width:100%; margin-left:0; clear:both;" />
		<div style="margin-left:40px; float:left; width:300px;">
			<h2 style="padding-left:0;">Amount you wish to donate (in Euros / &euro;)</h2>
			<form method="post" action=".">
			    {{ donate_form.as_p }}
			    <p><input type="submit" value="Donate" /></p>
			</form>
		</div>
		<div id="paypal_warning_deatil" style="float:right; width:380px; background-color:#FFEFEB; color:#FF0000; border:1px solid #FFDAD9; padding:10px; margin-top:40px;">
			<p>
				<span style="font-weight:bold;">A problem occurred</span><br />This page requires Javascript to run. 
			</p>
		</div>
		<div style="clear:both;"> </div>
	</div>
	<hr style="width:100%; margin-left:0; clear:both;" />
	<div style="text-align:center;">
		<p>You will be able to review and confirm your donation on the next page</p>
		<a href="{% url akvo.rsr.views.projectmain p.id %}">Cancel</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">Next</a>
		
	</div>
</div>



{% comment %}
	Pauls original template code
	
<h1>Donate to project</h1>

{% if user.is_authenticated %}
    <h2>Your information:</h2>
    <p>Your name: <strong>{{ user.first_name }} {{ user.last_name }}</strong></p>
    <p>Your email: <strong>{{ user.email }}</strong></p>
{% else %}
    <p>You are not logged into akvo.org</p>
    <p><a href="/rsr/signin/">Sign in</a> or provide your full name and email address below.</p>
{% endif %}

<button>Change
    <span>(This button doesn't currently do anything!)</span>
</button>

<h2>{{ p.name}}</h2>
<p>{{ p.goals_overview }}</p>
<hr />
<p>This project still requires &euro;{{ funding_still_needed }} of funding.</p>
<hr />

<form method="post" action=".">
    {{ donate_form.as_p }}
    <p><input type="submit" value="Donate" /></p>
</form>
{% endcomment %}
{% endblock content %}

