//{
//  "presets": [
//    ["env",{"modules":false}],
//    "react"
//  ],
//  "plugins": [
//    "react-hot-loader/babel"
//  ]
//}
//{
//  "presets": [
//    ["es2015", {"modules": false}],
//    "stage-2",
//    "react"
//  ],
//  "plugins": [
//    "react-hot-loader/babel"
//  ]
//}
{
  "presets": [["env",{"modules":false}], "react"],
  "env":{
    "test":{
      "presets":["env", "stage-0"],
      "plugins": ["babel-plugin-transform-decorators-legacy", "transform-object-rest-spread"]
    }
  }
}