<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>Akvo</title>
		
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/widget.css" media="screen" />
	<!--[if IE 6]>
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/ie6.css" media="screen" />
	<![endif]--> 

	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/ie.css" media="screen" />
	<![endif]-->
	
</head>
<body>
	<div class="widget">
		<div class="widgetHead">
			<p>Today's Featured Project</p>
		</div>
		<div class="widgetBody">
			<h1>Bal Vikas school sanitation project</h1>
			<p class="widgetGreyText">Within a peri-urban resettlement cluster</p>
			<img class="photo" src="people.png" width="194" height="143" alt="" />
		
			<p class="widgetGreyText">Location</p>
			<p>Northest Area, Delhi, India, ASIA</p>
			
			<p class="widgetGreyText">Status</p>
			<p>Active: Raising Founds</p>
			
			<p class="widgetGreyText">Founding</p>
			<table id="widgetfoundingTable" class="widgetTable">
				<thead>
					<tr>
						<th>Raised:</th>
						<td>&euro; 1800</td>
					</tr>  
				</thead>
				<tfoot> 
					<tr>
						<th>Still Needed:</th>
						<td>&euro; 3900</td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<th>Pledged:</th>
						<td>&euro; 2300</td>
					</tr>
				</tbody>
			</table>  
			
			<div id="widgetProgressBar">
				<img src="fundingbar.png" width="100" height="20" alt="Fundingbar" />
			</div>
			
			<table id="widgetTotalBudget" class="widgetTable">
				<tbody>
					<tr>
						<th>Total budget</th>
						<td>&euro; 8000</td>
					</tr>
				</tbody>
			</table>
			<div class="widgetTwoColumnWraper">
				<div class="widgetTwoColumnLeftCell">
					<p><a class="widgetBlueLink" href="http://www.akvo.org">View details</a></p>
				</div>
				<div class="widgetTwoColumnRightCell">
					<a href="#"><img src="donate_now.png" width="95" height="29" alt="Donate Now" /></a>
				</div>
				<div class="widgetClear"></div>
			</div>
			
			<div id="widgetFooter">
				<p class="widgetGreyText">Powered by</p>
				<a href="#"><img src="akvo_org.png" width="76" height="21" alt="Akvo Org" /></a>
			</div>
			
		</div>
	</div>	
</body>
</html>