{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<title>{% trans 'Akvo.org - the open source for water and sanitation' %}</title>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="{% trans 'Akvo.org - the open source for water and sanitation' %}" />
<meta name="keywords" content="{% trans 'water, sanitation, open source, development aid' %}" />

{% block style %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/widget.css" media="screen" />
{% endblock style %}

{% block script %}
{% endblock script %}

</head>

<body>

{% block content %}
<h1>{% trans 'Akvo RSR - Really simple reporting' %}!</h1>
{% endblock content %}

</body>
</html>