{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}
{% load rsr_tags %}

<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>{% block title %}{% endblock title %}</title>
	
	{% block links %}
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/widget.css" media="screen" />
	<!--[if IE 6]>
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/ie6.css" media="screen" />
	<![endif]--> 

	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/ie.css" media="screen" />
	<![endif]-->
	{% endblock links %}
</head>

<body>
	<div class="widget">
        {% block head %}
		<div class="widgetHead">
			<p>Widget head</p>
		</div>
		{% endblock head %}
        {% block body %}
		<div class="widgetBody">
			<p>Widget body</p>
		</div>
		{% endblock body %}
	</div>	
</body>

</html>