@import "../../utils/common.scss";

.ant-btn.ant-btn-primary{
  background-color: #000;
  border-color: #000;
  color: #fff;
  &[disabled], &.disabled{
    background-color: rgb(133, 133, 133);
    border-color: rgb(133, 133, 133);
    color: #fff;
  }
}
.ant-btn.ant-btn-link{
  color: #000;
  &[disabled], &.disabled{
    color: rgb(133, 133, 133);
  }
}
.ant-col {
  &.update-col:not(:first-child) {
    padding: 0 8px 0 16px !important;
    &::before {
      content: "";
      border-left: 1px solid #dadada;
      position: absolute;
      height: 50px;
      left: 0;
      top: 0;
    }
  }
}
.text-center {
  text-align: center;
}
.label {
  font-weight: 500;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}
strong.value {
  overflow-wrap: break-word;
  color: #e36f3c;
  font-size: 16px;
}
.card-title {
  h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.edit-button {
  margin-left: 15px;
  width: 22px;
  height: 22px;
  padding-top: 5px;
  cursor: pointer;
}
.period-caption {
  text-align: left;
  font: normal normal bold 12px/27px Helvetica;
  color: #707071;
}
.approval-all-container {
  background-color: #FFFFFF;
  box-shadow: 0 2px 2px #DCDCDC;
  min-height: 77px;
  position: sticky;
  top: 135px;
  z-index: 1;
  padding: 20px 16px;
  .bulk-btns{
    float: right;
  }
}
.disaggregations {
  .dsg-bar {
    height: 18px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #c4c4c4;
    margin-top: 2px;
    display: flex;
    min-width: 100px;
    .dsg-item {
      height: 100%;
    }
  }
  .legend {
    font-size: 11px;
    margin-top: 5px;
  }
  &:nth-child(2) {
    .dsg-bar .dsg-item {
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          background-color: nth($g2colors, $i);
        }
      }
    }
    .legend .item {
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) b {
          color: nth($g2colors, $i);
        }
      }
    }
  }
  &:nth-child(3) {
    .dsg-bar .dsg-item {
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          background-color: nth($g1colors, $i);
        }
      }
    }
    .legend .item {
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) b {
          color: nth($g1colors, $i);
        }
      }
    }
  }
  &:nth-child(4) {
    .dsg-bar .dsg-item {
      @for $i from 1 through 9 {
        &:nth-child(#{$i}) {
          background-color: nth($g3colors, $i);
        }
      }
    }
    .legend .item {
      @for $i from 1 through 9 {
        &:nth-child(#{$i}) b {
          color: nth($g3colors, $i);
        }
      }
    }
  }
  &:nth-child(5) {
    .dsg-bar .dsg-item {
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          background-color: nth($g4colors, $i);
        }
      }
    }
    .legend .item {
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) b {
          color: nth($g4colors, $i);
        }
      }
    }
  }
}
