$draft-color: #ccb30a;
$draft-bg: #D68D19;
$no-status-color: #a7a5a5;
$revision-color: #f5222d;
$active-color: #1890ff;
$approved-color: #52c41a;
$gray-500: #667085;

.tobe-reported {
  .ant-collapse-borderless {
    background-color: #fff;
    .ant-collapse-item {
      border-bottom: none !important;
      .ant-collapse-content {
        border: 1px solid #f5f5f5;
      }
    }
  }
  .ant-list-grid {
    &.ant-col {
      & > .ant-list-item {
        margin-bottom: 0 !important;
      }
    }
  }
  .tobe-reported-item {
    .ant-card-grid {
      padding: 0 !important;
      box-shadow: none !important;
    }
    .ant-card {
      &.draft {
        border-left: 3px solid $draft-color;
      }
      &.no-update-status {
        border-left: 3px solid $no-status-color;
      }
      &.return-for-revision {
        border-left: 3px solid $revision-color;
      }
      &.active-period {
        border-left: 3px solid $active-color;
      }
      &.approved {
        border-left: 3px solid $approved-color;
      }
    }
    .header-status {
      .draft .ant-typography {
        color: $draft-color !important;
      }
      .no-update-status .ant-typography {
        color: $no-status-color !important;
      }
      .return-for-revision .ant-typography {
        color: $revision-color !important;
      }
      .active-period .ant-typography {
        color: $active-color !important;
      }
      .approved .ant-typography {
        color: $approved-color !important;
      }
    }
  }
  .indicator-type {
    width: 100%;
    height: 50px;
    padding: 16px;
    margin-top: 8px;
    background-color: #efefef;
    border-bottom: 1px solid #d6d6d6;
  }
  .enumerator-view{
    .content {
      .add-update{
        padding-top: 0 !important;
      }
    }
    .ant-form-item-label{
      .input-label{
        text-align: left;
      }
    }
  }
}
.mne-view .action-text {
  display: none;
}
.mne-view .action {
  display: flex;
  flex-direction: row;
  justify-content: end;
  .ant-btn.ant-btn-link {
    color: $gray-500;
  }
}
.tobe-reported .ant-collapse-borderless .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .action-bar-xs {
  display: none;
}
.ant-col.label {
  .status {
    display: flex;
    gap: 8px;
    align-items: end;
    svg {
      width: 24px;
      transform: translateY(7px);
    }
    &.approved {
      color: #009b8f;
    }
    &.pending {
      color: #e36f3c;
    }
    &.returned {
      color: #961417;
    }
    &.draft {
      color: $draft-color;
    }
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .mne-view .ant-page-header .ant-page-header-content .ant-row .filter-period {
    padding-top: 16px;
  }
  .mne-view .action-text {
    margin-left: 8px;
    display: block;
  }
  .mne-view .action {
    flex-direction: column;
    .ant-btn.ant-btn.ant-btn-link {
      width: 100%;
    }
  }
  .tobe-reported .tobe-reported-item .action .ant-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5A5A59;
    border-radius: 0;
    background-color: #DADAD8;
    width: 100%;
    height: 40px;
    margin-top: 8px;
    &:hover {
      background-color: #f4f4f4;
      &.active-period {
        color: #fff;
        background-color: $active-color;
      }
      &.draft {
        background-color: $draft-bg;
      }
      &.approved {
        color: #fff;
        background-color: $approved-color;
      }
    }
  }
  .tobe-reported .ant-collapse-borderless .ant-collapse-item .ant-collapse-content .ant-collapse-content-box {
    padding: 8px;
  }
  .tobe-reported .ant-collapse-borderless .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .action-bar-lg {
    display: none;
  }
  .tobe-reported .ant-collapse-borderless .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .action-bar-xs {
    display: block;
  }
  .tobe-reported .add-update .dsg-overview {
    width: 100%;
  }
  .delete-action-row {
    margin-bottom: 16px;
    .delete-action-btn {
      width: 100%;
    }
  }
  .add-update .declined > div {
    flex-direction: column;
  }
  .add-update .declined i {
    margin-left: 0;
  }
  .add-update .inputs > .dsg-group .h-holder {
    position: relative;
    top: 0;
  }
  .add-update .inputs > .dsg-group {
    padding: 0;
  }
}