.tobe-reported {
  .ant-collapse-borderless {
    background-color: #fff;
    .ant-collapse-item {
      border-bottom: none !important;
      .ant-collapse-content {
        border: 1px solid #f5f5f5;
      }
    }
  }
  .ant-list-grid {
    &.ant-col {
      & > .ant-list-item {
        margin-bottom: 0 !important;
      }
    }
  }
  .tobe-reported-item {
    .ant-card-grid {
      padding: 0 !important;
      box-shadow: none !important;
    }
    .ant-card {
      &.draft {
        border-left: 3px solid #ccb30a;
      }
      &.no-update-status {
        border-left: 3px solid #a7a5a5;
      }
      &.return-for-revision {
        border-left: 3px solid #f5222d;
      }
      &.pending-approval {
        border-left: 3px solid #1890ff;
      }
      &.approved {
        border-left: 3px solid #52c41a;
      }
    }
  }
  .ant-card {
    &.active {
      &.draft {
        background-color: #ffebc5;
      }
      &.no-update-status {
        background-color: #efefef;
      }
      &.return-for-revision {
        background-color: #f7eded;
      }
      &.pending-approval {
        background-color: #edf5fb;
      }
      &.approved {
        background-color: #e5fadb;
      }
    }
  }
  .indicator-type {
    width: 100%;
    height: 50px;
    padding: 16px;
    margin-top: 8px;
    background-color: #efefef;
    border-bottom: 1px solid #d6d6d6;
  }
  .enumerator-view{
    .content {
      .add-update{
        padding-top: 0 !important;
      }
    }
    .ant-form-item-label{
      .input-label{
        text-align: left;
      }
    }
  }
}
.mne-view .action-text {
  display: none;
}
.mne-view .action {
  text-align: center;
}
.tobe-reported .ant-collapse-borderless .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .action-bar-xs {
  display: none;
}
@media (min-width: 320px) and (max-width: 576px) {
  .mne-view .ant-page-header .ant-page-header-content .ant-row .filter-period {
    padding-top: 16px;
  }
  .mne-view .action-text {
    display: block;
  }
  .tobe-reported .tobe-reported-item .action .ant-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5A5A59;
    border-radius: 0;
    background-color: #DADAD8;
    width: 100%;
    height: 40px;
    margin-top: 8px;
    &:hover {
      background-color: #f4f4f4;
      &.pending-approval {
        color: #fff;
        background-color: rgb(24, 144, 255);
      }
      &.draft {
        background-color: #D68D19;
      }
      &.approved {
        color: #fff;
        background-color: #52c41a;
      }
    }
  }
  .tobe-reported .ant-collapse-borderless .ant-collapse-item .ant-collapse-content .ant-collapse-content-box {
    padding: 8px;
  }
  .tobe-reported .ant-collapse-borderless .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .action-bar-lg {
    display: none;
  }
  .tobe-reported .ant-collapse-borderless .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .action-bar-xs {
    display: block;
  }
  .tobe-reported .add-update .dsg-overview {
    width: 100%;
  }
  .delete-action-row {
    margin-bottom: 16px;
    .delete-action-btn {
      width: 100%;
    }
  }
  .add-update .declined > div {
    flex-direction: column;
  }
  .add-update .declined i {
    margin-left: 0;
  }
  .add-update .inputs > .dsg-group .h-holder {
    position: relative;
    top: 0;
  }
  .add-update .inputs > .dsg-group {
    padding: 0;
  }
}