$base-color:#fff;
$primary-color:#1cabe2;
$secondary-color:#163A5B;
$light-color:#92d7f1;
$gray-color: #EEEFF0;
$gray-dark: #AFAFAF;
$green-color: #03AD8C;
$green-muted: #90BAC9;
$green-dark:#357594;
$success-color:#45988F;
$warning-color:#DC8749;
$danger-color:#CD514C;
$black: #000;
$maroon: #6D2A1E;
$blue-sky: #CBDEE5;
$blue-primary: #1890ff;