{% extends "admin/base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}

{% block title %}{{ title }} | {% trans 'Akvo RSR site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Akvo RSR administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
