{% load i18n %}

{% if comments %}            
    {% for c in comments %}    
        <div style="float:left; width: 90px; margin: 3px 10px 0px 0px;">
            <img src="{{MEDIA_URL}}base/img/avatar.jpg" style="width:60px;height:60px;background-color:#dedede;margin-left: 15px;" />
            <p style="margin-top: 10px">{{c.user.get_full_name}}</p>
        </div>						
        <div style="margin-left: 110px;">
            <p class="grey">{{c.time|date:"Y-m-d H:i"}}</p>
            {{c.comment|linebreaks}}
        </div>
        <br />
        <p style="text-align:right">
            <a href="mailto:abuse@akvo.org?subject={% blocktrans with p.id as p_id and c.id as c_id %}Comment%20abuse%20in%20project%20%23{{p_id}}%2C%20comment%20%23{{c_id}}{% endblocktrans %}">{% trans 'Report abuse' %}</a>
        </p>
        {% if not forloop.last %}
            <hr style="clear: both"/>
        {% endif %}
    {% endfor %}
{% else %}
    {% trans 'No comments yet.' %}
{% endif %}
