{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n addparam %}

<div class="sliding_box_header" >
    <div style="float:right;">
        <p style="margin:2px 5px">
            {% ifequal page.start_index page.end_index %}
                <span style="margin-right: 20px;" class="grey">{% blocktrans with page.start_index as start_index and page.paginator.count as count %}Project {{start_index}} of {{count}}{% endblocktrans %}</span>
            {% else %}
                <span style="margin-right: 20px;" class="grey">{% blocktrans with page.start_index as start_index and page.end_index as end_index and page.paginator.count as count %}Projects {{start_index}}-{{end_index}} of {{count}}{% endblocktrans %}</span>
            {% endifequal %}
            {% ifequal page.number 1 %}
                <span style="margin-right: 5px; margin-left: 5px;" class="grey">{% trans 'First' %}</span>
            {% else %}
                {# if we have an organisation in the context, we are diplaying the list filtered on that org, url have to conform to that #}
                {% if org %}
                    <a style="margin-right: 5px; margin-left: 5px;" href="{% url project_list_for_org org.id %}{% addparam "page" 1 %}#list">{% trans 'First' %}</a>
                {% else %}
                    <a style="margin-right: 5px; margin-left: 5px;" href="{% url focus_area focusarea %}{% addparam "page" 1 %}#list">{% trans 'First' %}</a>
                {% endif %}
            {% endifequal %}
            |
            {% if page.has_previous %}
                {% if org %}
                    <a style="margin-right: 5px; margin-left: 5px;" href="{% url project_list_for_org org.id %}{% addparam "page" page.previous_page_number %}#list">{% trans 'Previous' %}</a>
                {% else %}
                    <a style="margin-right: 5px; margin-left: 5px;" href="{% url focus_area focusarea %}{% addparam "page" page.previous_page_number %}#list">{% trans 'Previous' %}</a>
                {% endif %}
            {% else %}
                <span style="margin-right: 5px; margin-left: 5px;" class="grey">{% trans 'Previous' %}</span>
            {% endif %}
            |
            {% if page.has_next %}
                {% if org %}
                    <a style="margin-right: 5px; margin-left: 5px;" href="{% url project_list_for_org org.id %}{% addparam "page" page.next_page_number %}#list">{% trans 'Next' %}</a>
                {% else %}
                    <a style="margin-right: 5px; margin-left: 5px;" href="{% url focus_area focusarea %}{% addparam "page" page.next_page_number %}#list">{% trans 'Next' %}</a>
                {% endif %}
            {% else %}
                <span style="margin-right: 5px; margin-left: 5px;" class="grey">{% trans 'Next' %}</span>
            {% endif %}
            |
            {% ifequal page.number page.paginator.num_pages %}
                <span style="margin-right: 5px; margin-left: 5px;" class="grey">{% trans 'Last' %}</span>
            {% else %}
                {% if org %}
                    <a style="margin-right: 5px; margin-left: 5px;" href="{% url project_list_for_org org.id %}{% addparam "page" page.paginator.num_pages %}#list">{% trans 'Last' %}</a>
                {% else %}
                    <a style="margin-right: 5px; margin-left: 5px;" href="{% url focus_area focusarea %}{% addparam "page" page.paginator.num_pages %}#list">{% trans 'Last' %}</a>
                {% endif %}
            {% endifequal %}                    
        </p>
    </div>
    <div>
        <p style="margin:2px 5px">
            {% if org %}
                <span style="margin-right: 5px; margin-left: 5px;" class="grey">{% blocktrans with org.name as name %}Projects for {{name}}{% endblocktrans %}</span>
            {% else %}
                <span class="clear"></span>
            {% endif %}        
        </p>
    </div>
</div>
