{% extends "myrsr/myrsr_base.html" %}
{% load i18n bootstrap3 rsr_utils rules compressed %}
{% block title %}{% trans "MyRSR - my projects" %}{% endblock %}
{% block myrsr_main %}
    <div class="row">
        <div class="col-sm-6"><h3>{% trans "Project editor settings" %}</h3></div>
        <div class="col-sm-6 text-right btnHeader">
            <button class="btn btn-success" id="createProject"><i class="fa fa-plus"></i> {% trans 'Add a new setting' %}</button>
      </div>
    </div>
    <table class="table table-striped table-responsive myProjectList col-sm-12">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Created by" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        {% for ruleset in rulesets %}
            <tr>
                <td>{{ ruleset.name }}</td>
                <td>{{ ruleset.description }}</td>
                <td>{{ ruleset.created_by.get_full_name }}</td>
                <td>Actions.. to do</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
