{% extends "myrsr/myrsr_base.html" %}

{% load bootstrap3 pipeline i18n rsr_utils %}

{% block title %}{% trans 'MyRSR - My details' %} - {{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block head_js %}{% endblock head_js %}

{% block head %}{% endblock head %}


{% block myrsr_main %}
    <div class="col-sm-6 col-xs-12" id="profile">
        <h3>{% trans 'My details' %}</h3>
        <div class="usrAvatar">
            {% img user 100 100 user.get_full_name %}
        </div>
        <p>
            <form method="POST" action="" id="avatarForm" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in avatarform %}
                    {% bootstrap_field field layout='inline' %}
                {% endfor %}
            </form>
        </p>
        <form method="" action="" id="profileForm">
            {% csrf_token %}
            {% for field in profileform %}
                {% bootstrap_field field %}
            {% endfor %}
            {% buttons %}
                <button type="submit" class="btn btn-default btn-sm">
                    {% trans 'Update details' %}
                </button>
            {% endbuttons %}
        </form>
        <div id="password">
            <h4>{% trans 'Change your password' %}</h4>
            <form method="post" action="" id="passwordForm">
                {% for field in change_password_form %}
                    {% bootstrap_field field %}
                {% endfor %}
                {% buttons %}
                    <button type="submit" class="btn btn-default btn-sm">
                        {% trans 'Update password' %}
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12" id="organisations">


    </div>
    <div class="col-sm-6 col-xs-12" id="api_key">
        <h4 style="margin-top: 20px">API Key</h4>
        <span class="small">{{ api_key }}</span>
        <br><br>
        {% trans "For more information on how to use the RSR API, visit the" %}
        <a href="https://akvorsr.supporthero.io/container/show/api"> {% trans "support page." %}</a>
    </div>



{% endblock %}

{% block js %}
    {{ block.super }}

    {# App data #}
    <script type="application/json" id="akvo-rsr-typeahead-thumbs">
    {
        "numberOfCountries": {{ country_count }},
        "numberOfOrganisations": {{ organisation_count }}
    }
    </script>

    <script type="application/javascript">
        AKVO_RSR.typeahead = {};
        AKVO_RSR.typeahead.thumbs = JSON.parse(document.getElementById("akvo-rsr-typeahead-thumbs").innerHTML);
    </script>

    {# User data #}
    <script type="application/json" id="initial-data">
        {{ user_data|safe }}
    </script>

    <script type="application/json" id="user-request-link">
        {
            "link": "{% url 'user_request_organisation' user.id %}",
            "org_rest_link": "{% url 'organisation-list' %}",
            "country_rest_link": "{% url 'country-list' %}"
        }
    </script>

    <script type="application/json" id="akvo-rsr-ajax-url">
        {"ajaxUrl": "{% url 'user_update_details' user.id %}?format=json"}
    </script>

    {# Translation strings #}
    <script type="application/json" id="my-details-text">
        {
            "too_large_text": "{% trans 'is larger than the allowed limit'|escapejs %}",
            "close_text": "{% trans 'Close'|escapejs %}",
            "details_updated_text": "{% trans 'Your details have been updated.'|escapejs %}",
            "my_organisations_text": "{% trans 'My organisations'|escapejs %}",
            "connect_employer_text": "{% trans 'Connect with your employer'|escapejs %}",
            "not_approved_text": "{% trans 'Not approved'|escapejs %}",
            "organisation_text": "{% trans 'Organisation'|escapejs %}",
            "country_text": "{% trans 'Country (optional)'|escapejs %}",
            "job_title_text": "{% trans 'Job title (optional)'|escapejs %}",
            "request_join_text": "{% trans 'Request to join'|escapejs %}",
            "sending_request_text": "{% trans 'Sending request...'|escapejs %}",
            "required_text": "{% trans 'This field is required.'|escapejs %}",
            "already_connected_text": "{% trans 'You are already connected to this organisation as a user or your request is pending approval.'|escapejs %}",
            "not_connected_text": "{% trans 'Could not connect to organisation.'|escapejs %}"
        }
    </script>

    {# App data #}
    <script type="application/json" id="akvo-rsr-password-url">
        {
            "ajaxUrl": "{% url 'user_change_password' user.id %}?format=json"
        }
    </script>

    {# Translation strings #}
    <script type="application/json" id="password-change-strings">
      {
          "close_text": "{% trans 'Close'|escapejs %}",
          "password_update_text": "{% trans 'Password has been updated.'|escapejs %}"
      }
    </script>

    {% javascript 'my_change_password' %}
    {% javascript 'my_details' %}
{% endblock js %}
