{% extends "myrsr/myrsr_base.html" %}

{% load i18n bootstrap3 %}

{% block title %}{% trans 'MyRSR' %} - {{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block head_js %}
<script>
    $(document).ready(function() {
        // Form for updating details
        $('#profileForm').submit(function(event) {

            serializedData = {};
            $.each($(this).serializeArray(), function(i, obj) { serializedData[obj.name] = obj.value });

            $.ajax({
                type:"POST",
                url: "{% url 'user_update_details' user.id %}" + "?format=json",
                data : JSON.stringify(serializedData),
                contentType : 'application/json; charset=UTF-8',
                success: function(response){
                    $( "#profile" ).prepend('<div class="alert alert-success" role="alert">Your details have been updated.</div>');
                },
                error: function(response)
                {
                    jsonValue = $.parseJSON( response['responseText'] );

                    $.each(jsonValue, function(key, value){
                        $( "#profile" ).prepend('<div class="alert alert-danger" role="alert">' + value + '</div>');
                    });
                }
            });

            event.preventDefault();

        });

        // Typeahead for organisation and country input
        var organisations = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('long_name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {
                url: '/rest/v1/organisation/?format=json&limit=3000',
                filter: function(response) {
                    return response.results;
                }
            }
        });

        var countries = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {
                url: '/rest/v1/country/?format=json&limit=150',
                filter: function(response) {
                    return response.results;
                }
            }
        });

        organisations.initialize()
        countries.initialize()

        $('#organisationInput').typeahead({
            highlight: true
        },
        {
            name: 'organisations',
            displayKey: 'long_name',
            source: organisations.ttAdapter()
        }).on('typeahead:selected typeahead:autocompleted', function(event, data) {
            $('#organisationInput').attr("value_id", data.id);
        }).change(function() {
            $('#organisationInput').attr("value_id", null);
        });

        $('#countriesInput').typeahead({
            highlight: true
        },
        {
            name: 'countries',
            displayKey: 'name',
            source: countries.ttAdapter()
        }).on('typeahead:selected typeahead:autocompleted', function(event, data){
            $('#countriesInput').attr("value_id", data.id);
        }).change(function() {
            $('#countriesInput').attr("value_id", null);
        });
    });
</script>

<script type="application/json" id="initial-data">{{ user_data|safe }}</script>
<script type="application/json" id="user-request-link">{"link": "{% url 'user_request_organisation' user.id %}"}</script>

<style>
/* Style for typeahead dropdown, to be included in CSS file */

.tt-hint {
    color: #999;
}

.tt-dropdown-menu {
    /*width: 422px;*/
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}
.twitter-typeahead {
  width: 100%;
}
</style>
{% endblock %}


{% block myrsr_main %}
    <div class="col-md-5 col-xs-6 col-ty-12" id="profile">
        <h2>My details</h2>
        <form method="" action="" id="profileForm">
            {% csrf_token %}
            {% for field in profileform %}
                {% bootstrap_field field %}
            {% endfor %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% trans 'Update details' %}
                </button>
            {% endbuttons %}
        </form>
    </div>

    <div class="col-md-5 col-xs-6 col-ts-12" id="organisations"></div>
    <script type="application/javascript" src="/static/rsr/v3/js/build/rsr_v3_my_details.min.js" charset="utf-8"></script>
{% endblock %}
