{% extends "myrsr/myrsr_base.html" %}

{% load i18n bootstrap3 %}

{% block title %}{% trans 'MyRSR' %} - {{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block head_js %}
    <script>
        $(document).ready(function() {

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            var csrftoken = getCookie('csrftoken');
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $('#profileForm').submit(function(event) {

                serializedData = {};
                $.each($(this).serializeArray(), function(i, obj) { serializedData[obj.name] = obj.value });

                $.ajax({
                    type:"PATCH",
                    url: "/rest/v1/user/{{ user.pk }}/?format=json",
                    data : JSON.stringify(serializedData),
                    contentType : 'application/json; charset=UTF-8',
                    success: function(response){
                        $( "#profile" ).prepend('<div class="alert alert-success" role="alert">Your details have been updated.</div>');
                    },
                    error: function(response)
                    {
                        jsonValue = $.parseJSON( response['responseText'] );

                        $.each(jsonValue, function(key, value){
                            $( "#profile" ).prepend('<div class="alert alert-danger" role="alert">' + value + '</div>');
                        });
                    }
                });

                event.preventDefault();

            });

            $('#organisationForm').submit(function(event) {

                serializedData = {'user': '{{ user.pk }}'};
                $.each($(this).serializeArray(), function(i, obj) { serializedData[obj.name] = obj.value });

                $.ajax({
                    type:"POST",
                    url: "/rest/v1/employment/?format=json",
                    data : JSON.stringify(serializedData),
                    contentType : 'application/json; charset=UTF-8',
                    success: function(response){
                        org_entry = '<li>' + response.organisation_name;
                        if (response.job_title != "") {
                            org_entry += ' ( ' + response.job_title;
                            if (response.country_name != null) {
                                org_entry += ' , ' + response.country_name;
                            }
                            org_entry += ' )';
                        } else if (response.country_name != null) {
                            org_entry += ' ( ' + response.country_name + ' )';
                        }
                        org_entry += ' <i>Pending approval</i></li>';
                        $( "#organisations" ).prepend('<div class="alert alert-success" role="alert">Request has been sent.</div>');
                        $( "#noOrganisation").remove();
                        $( "#organisationsList").append(org_entry);
                    },
                    error: function(response)
                    {
                        if (response['status'] == 500) {
                            $("#organisations").prepend('<div class="alert alert-danger" role="alert">You are already linked to this organisation.</div>');
                        } else {
                            jsonValue = $.parseJSON(response['responseText']);

                            $.each(jsonValue, function (key, value) {
                                $("#organisations").prepend('<div class="alert alert-danger" role="alert">' + key + ': ' + value + '</div>');
                            });
                        }
                    }
                });

                event.preventDefault();

            });
        });
    </script>
{% endblock %}

{% block myrsr_main %}
    <div class="col-md-5 col-xs-6 col-ty-12" id="profile">
        <h2>My details</h2>
        <form method="" action="" id="profileForm">
            {% csrf_token %}
            {% for field in profileform %}
                {% bootstrap_field field %}
            {% endfor %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% trans 'Update details' %}
                </button>
            {% endbuttons %}
        </form>
    </div>

    <div class="col-md-5 col-xs-6 col-ty-12" id="organisations">
        <h2>My organisations</h2>
        {% if user.employments.all %}
        <ul id="organisationsList">
            {% for empl in user.employments.all %}
            <li>
                {{ empl.organisation.name }}
                {% if empl.job_title or empl.country %} (
                {% if empl.job_title %}{{ empl.job_title }}{% endif %}
                {% if empl.job_title and empl.country %}, {% endif %}
                {% if empl.country %}{{ empl.country.name }}{% endif %}
                ){% endif %}
                {% if not empl.is_approved %} <i>Pending approval</i>{% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <h2 id="noOrganisation"><small>Not affiliated with an organisation.</small></h2>
        <ul id="organisationsList"></ul>
        {% endif %}

        <h3>Connect with an organisation</h3>
        <form method="" action="" id="organisationForm">
            {% csrf_token %}
            {% for field in organisationform %}
                {% bootstrap_field field %}
            {% endfor %}
            {% buttons %}
                <button type="submit" class="btn btn-success">
                    {% trans 'Request to join' %}
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
