{% extends "myrsr/myrsr_base.html" %}

{% load pipeline i18n bootstrap3 %}

{% block title %}{% trans 'MyRSR - My IATI' %}{% endblock title %}

{% block myrsr_main %}
    <h3>
        {% trans "My IATI" %}{% if selected_org %} {% trans "for" %} {{ selected_org.long_name }}{% endif %}
    </h3>
    {% if selected_org and not new_export %}
        <button class="btn btn-default btn-sm" id="createIATIExport">
            <i class="fa fa-plus"></i> {% trans 'Add a new IATI export' %}
        </button>
    {% endif %}
    {% if selected_org and new_export %}
        <div class="small">
            <a href="{{ request.build_absolute_uri|slice:":-9" }}">< {% trans 'Back to exports overview' %}</a>
        </div>
    {% endif %}
    <div class="IatiDescription topMargin">
        {% trans 'Find out more about IATI' %}: <a href="http://www.aidtransparency.net/" target="_blank">{% trans 'International Aid Transparency Initiative' %}</a>.
    </div>
    {% if not selected_org %}
        <h4 class="topMargin">{% trans 'Select an organisation' %}</h4>
        {% trans 'Since your account is connected to multiple organisations, please select an organisation first' %}:
        <p>
            <form method="" action="" id="select_org_form">
                {% for field in select_org_form %}
                    {% bootstrap_field field %}
                {% endfor %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% trans 'Select organisation' %}
                    </button>
                {% endbuttons %}
            </form>
        </p>
    {% else %}
        <h4 class="topMargin">{% trans 'IATI files' %}</h4>
        <div class="IatiDescription topMargin">
            {% trans 'It is possible to generate both an IATI activity file for project information, and an IATI organisation file for organisation information:' %}
            <ul class="topMargin">
                <li>{% trans 'The latest activity file of' %} {{ selected_org.long_name|default:selected_org.name }}: <a href="http://{{ request.META.HTTP_HOST }}/organisation/{{ selected_org.pk }}/iati/" target="_blank">http://{{ request.META.HTTP_HOST }}/organisation/{{ selected_org.pk }}/iati/</a>.</li>
                <li>{% trans 'The organisation file of' %} {{ selected_org.long_name|default:selected_org.name }}: <a href="http://{{ request.META.HTTP_HOST }}/organisation/{{ selected_org.pk }}/iati-org/" target="_blank">http://{{ request.META.HTTP_HOST }}/organisation/{{ selected_org.pk }}/iati-org/</a>.</li>
            </ul>
            <input type="checkbox" id="fileOnOrganisationPage" {% if selected_org.public_iati_file %}checked{% endif %} /> {% trans 'Show latest activity file on the organisation page of' %} {{ selected_org.long_name|default:selected_org.name }}.
        </div>
        {% if not new_export %}
            {# Selected an organisation, show the IATI exports overview #}
            {# Container for showing a table with existing IATI exports (React) #}
            <div id="exportsOverview"></div>
        {% else %}
            {# Selected an organisation and creating a new export #}
            {# Container for showing a table with projects (React) #}
            <div id="newIATIExport"></div>
        {% endif %}
    {% endif %}
{% endblock myrsr_main %}

{% block js %}
    {{ block.super }}

    {# Translation strings #}
    <script type="application/json" id="translations">
        {
            "iati_export": "{% trans 'IATI export'|escapejs %}",
            "iati_exports": "{% trans 'IATI exports'|escapejs %}",
            "project": "{% trans 'project'|escapejs %}",
            "projects": "{% trans 'projects'|escapejs %}",
            "last_exports_url": "http://{{ request.META.HTTP_HOST }}/organisation/{{ selected_org.id }}/iati/",
            "loading": "{% trans 'loading'|escapejs %}",
            "refreshing": "{% trans 'refreshing'|escapejs %}",
            "pending_or_progress": "{% trans 'there is at least one export pending or in progress'|escapejs %}",
            "in": "{% trans 'in'|escapejs %}",
            "seconds": "{% trans 'seconds'|escapejs %}",
            "last": "{% trans 'last'|escapejs %}",
            "view_latest_file": "{% trans 'view latest file'|escapejs %}",
            "view_file": "{% trans 'view file'|escapejs %}",
            "set_latest": "{% trans 'set as latest file'|escapejs %}",
            "created_by": "{% trans 'created by'|escapejs %}",
            "created_at": "{% trans 'created at'|escapejs %}",
            "iati_version": "{% trans 'IATI version'|escapejs %}",
            "status": "{% trans 'status'|escapejs %}",
            "number_of_projects": "{% trans '# of projects'|escapejs %}",
            "actions": "{% trans 'actions'|escapejs %}",
            "processed": "{% trans 'processed'|escapejs %}",
            "no_iati_file": "{% trans 'no IATI file'|escapejs %}",
            "no_projects_1": "{% trans 'Your organisation does not report any projects yet.'|escapejs %}",
            "no_projects_2": "{% trans 'Set your organisation to reporting organisation of a project to create an IATI file for the project.'|escapejs %}",
            "no_projects_3": "{% trans 'Go to the projects admin '|escapejs %}",
            "here": "{% trans 'here'|escapejs %}",
            "create_new": "{% trans 'create a new'|escapejs %}",
            "new": "{% trans 'new'|escapejs %}",
            "no_exports": "{% trans 'your organisation has no IATI exports yet'|escapejs %}",
            "id": "{% trans 'ID'|escapejs %}",
            "title": "{% trans 'title'|escapejs %}",
            "included_export": "{% trans 'included in last export'|escapejs %}",
            "iati_checks": "{% trans 'IATI checks'|escapejs %}",
            "public": "{% trans 'public'|escapejs %}",
            "private": "{% trans 'private'|escapejs %}",
            "published": "{% trans 'published'|escapejs %}",
            "unpublished": "{% trans 'unpublished'|escapejs %}",
            "untitled": "{% trans 'untitled'|escapejs %}",
            "perform_checks": "{% trans 'Perform checks'|escapejs %}",
            "performing_checks": "{% trans 'Performing checks'|escapejs %}",
            "checks_not_performed": "{% trans 'Checks not performed yet'|escapejs %}",
            "warning": "{% trans 'warning'|escapejs %}",
            "warnings": "{% trans 'warnings'|escapejs %}",
            "error": "{% trans 'error'|escapejs %}",
            "errors": "{% trans 'errors'|escapejs %}",
            "show_all": "{% trans 'show all'|escapejs %}",
            "hide_all": "{% trans 'hide all'|escapejs %}",
            "checks_success": "{% trans 'all checks completed successfully'|escapejs %}",
            "unknown_date": "{% trans 'Unknown date'|escapejs %}",
            "and": "{% trans 'and'|escapejs %}",
            "yes": "{% trans 'yes'|escapejs %}",
            "no": "{% trans 'no'|escapejs %}",
            "project_selection": "{% trans 'project selection'|escapejs %}",
            "global_selection": "{% trans 'global selection'|escapejs %}",
            "project_status": "{% trans 'project status'|escapejs %}",
            "projects_selected": "{% trans 'projects selected'|escapejs %}",
            "select": "{% trans 'select'|escapejs %}",
            "deselect": "{% trans 'deselect'|escapejs %}",
            "all": "{% trans 'all'|escapejs %}",
            "without_errors": "{% trans 'without errors'|escapejs %}",
            "no_status": "{% trans 'no status'|escapejs %}",
            "needs_funding": "{% trans 'pipeline/identification'|escapejs %}",
            "active": "{% trans 'implementation'|escapejs %}",
            "completed": "{% trans 'completion'|escapejs %}",
            "post_completion": "{% trans 'post completion'|escapejs %}",
            "cancelled": "{% trans 'cancelled'|escapejs %}",
            "archived": "{% trans 'suspended'|escapejs %}"
        }
    </script>

    {# Initial data endpoints #}
    <script type="application/json" id="endpoints">
        {
            "base_url": "http://{{ request.META.HTTP_HOST }}",
            "organisation": "/rest/v1/organisation/{{ selected_org.id }}/?format=json",
            "iati_exports": "/rest/v1/iati_export/?format=json&reporting_organisation={{ selected_org.id }}",
            "iati_export": "/rest/v1/iati_export/{iati_export}/?format=json",
            "new_iati_export": "/rest/v1/iati_export/?format=json",
            "iati_activity_exports": "/rest/v1/iati_activity_export/?format=json&iati_export={iati_export}",
            "reporting_projects": "/rest/v1/project_iati_export/?format=json&limit=50&reporting_org={{ selected_org.id }}"
        }
    </script>

    {# Data #}
    <script type="application/json" id="data">
        {
            "user_id": "{{ request.user.id }}",
            "selected_org_id": "{{ selected_org.id }}"
        }
    </script>

    {# Months #}
    <script type="application/json" id="months">
        {
            "january": "{% trans 'Jan'|escapejs %}",
            "february": "{% trans 'Feb'|escapejs %}",
            "march": "{% trans 'Mar'|escapejs %}",
            "april": "{% trans 'Apr'|escapejs %}",
            "may": "{% trans 'May'|escapejs %}",
            "june": "{% trans 'Jun'|escapejs %}",
            "july": "{% trans 'Jul'|escapejs %}",
            "august": "{% trans 'Aug'|escapejs %}",
            "september": "{% trans 'Sep'|escapejs %}",
            "october": "{% trans 'Oct'|escapejs %}",
            "november": "{% trans 'Nov'|escapejs %}",
            "december": "{% trans 'Dec'|escapejs %}"
        }
    </script>

    {% javascript 'my_iati' %}
{% endblock js %}
