{% extends "myrsr/myrsr_base.html" %}

{% load compressed i18n bootstrap3 %}

{% block title %}{% trans 'MyRSR - My IATI' %}{% endblock title %}

{% block myrsr_main %}
    <h3>
        {% trans "My IATI" %}{% if selected_org %} {% trans "for" %} {{ selected_org.long_name }}{% endif %}
    </h3>
    <div class="IatiDescription">
        {% blocktrans %}
            IATI stands for <a href="http://www.aidtransparency.net/" target="_blank">International Aid Transparency Initiative</a>,
            which is a global reporting standard that makes it possible to compare and compile data sets from different projects and
            organisations. On this page it is possible to view previously exported files and to export an IATI file of the projects of
            your organisation.
        {% endblocktrans %}
    </div>
    {% if not selected_org %}
        <h4 class="topMargin">{% trans 'Select an organisation' %}</h4>
        {% trans 'Since your account is connected to multiple organisations, please select an organisation first' %}:
        <p>
            <form method="" action="" id="select_org_form">
                {% for field in select_org_form %}
                    {% bootstrap_field field %}
                {% endfor %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% trans 'Select organisation' %}
                    </button>
                {% endbuttons %}
            </form>
        </p>
    {% elif project_count > 0 %}
        {# TODO: Move to React #}
        {#        {% if export_added %}#}
        {#            <div class="alert alert-success" role="alert">#}
        {#                <strong>{% trans 'Successfully added an IATI file export! ' %}</strong><br/>#}
        {#                {% trans 'When the IATI file is generated, it will be shown in the overview on the right.' %}#}
        {#            </div>#}
        {#        {% endif %}#}

        {# Container for showing a table with existing IATI exports and creating a new IATI export (React) #}
        <div id="myIATIContainer"></div>

        <div class="IatiExportOverview"></div>

        {# React implementation for creating a new IATI export #}
        <h4 class="topMargin"></h4>
        <p>
            {% blocktrans %}
                In order to see which of your projects is fully IATI compliant, you can perform checks by clicking the
                "Perform checks" button. Projects with all mandatory IATI information filled in will be marked
                <span class="success">green</span> and projects with missing information will be marked <span class="error">red</span>.
            {% endblocktrans %}
        </p>
        <div id="IatiChecks"></div>
        <p>
            <form method="POST" action="" id="iati_export_form" class="iatiCheck">
                {% csrf_token %}
                {% for field in iati_export_form %}
                    {% bootstrap_field field %}
                {% endfor %}
                {% buttons %}
                    <button type="submit" class="btn btn-success">
                        {% trans 'Create new IATI file' %}
                    </button>
                {% endbuttons %}
            </form>
        </p>
    {% else %}
        <p class="noItem">
            {% trans "Your organisation does not report any projects yet. " %}
            {% trans "Set your organisation to reporting organisation of a project to create an IATI file for the project." %}<br/>
            {% blocktrans with admin_link="/myrsr/projects/" %}Go to the projects admin <a href={{ admin_link }}>here</a>.{% endblocktrans %}
        </p>
    {% endif %}

{#    {% if exports %}#}
{#    <div class="col-sm-5 col-xs-12 updateComponent">#}
{#        <h4 class="detailedInfo">{% trans 'Existing IATI exports' %}</h4>#}
{#        <ul class="noStyleUl">#}
{#        {% for export in exports %}#}
{#            <li>#}
{#                {{export.last_modified_at|date:"d-M-Y"}}:#}
{#                {% if export.iati_file %}#}
{#                    <a href="{{MEDIA_URL}}{{export.iati_file}}">{% trans 'View IATI file' %}</a>#}
{#                    ({{export.projects.count}} {% trans 'projects' %})#}
{#                {% else %}#}
{#                    {% trans 'No IATI file' %} ({{export.show_status}})#}
{#                {% endif %}#}
{#            </li>#}
{#        {% endfor %}#}
{#        </ul>#}
{#    </div>#}
{#    {% endif %}#}

{% endblock myrsr_main %}

{% block js %}
    {{ block.super }}

    {# React #}
    <script id="react" src="{{ STATIC_URL }}lib/scripts/react-0.14.7.min.js"></script>
    <script id="react-dom" src="{{ STATIC_URL }}lib/scripts/react-dom-0.14.7.min.js"></script>

    {# Translation strings #}
    <script type="application/json" id="translations">
        {
            "iati_export": "{% trans 'IATI export' %}",
            "iati_exports": "{% trans 'IATI exports' %}",
            "last_exports_1": "{% trans 'the public IATI file for your organisation is always available at this link: ' %}",
            "last_exports_2": "{% trans 'if you already have existing IATI exports, you can select which of the IATI exports should be available at this link.' %}",
            "last_exports_3": "{% trans 'this makes it possible to register only this link in the ' %}",
            "last_exports_4": "{% trans ' and automatically update your IATI file in the IATI registry by updating your IATI file in RSR.' %}",
            "last_exports_url": "http://{{ request.META.HTTP_HOST }}/organisation/{{ selected_org.id }}/iati/",
            "iati_registry": "{% trans 'IATI registry' %}",
            "loading": "{% trans 'loading' %}",
            "refreshing": "{% trans 'refreshing' %}",
            "last": "{% trans 'last' %}",
            "view_public_file": "{% trans 'view public file' %}",
            "view_file": "{% trans 'view file' %}",
            "set_public": "{% trans 'set as public file' %}",
            "created_by": "{% trans 'created by' %}",
            "created_at": "{% trans 'created at' %}",
            "iati_version": "{% trans 'IATI version' %}",
            "status": "{% trans 'status' %}",
            "number_of_projects": "{% trans '# of projects' %}",
            "actions": "{% trans 'actions' %}",
            "no_iati_file": "{% trans 'no IATI file' %}",
            "new": "{% trans 'new' %}",
            "no_exports": "{% trans 'your organisation has no IATI exports yet, create a new IATI export below' %}",
            "perform_checks": "{% trans 'Perform checks' %}",
            "performing_checks": "{% trans 'Performing checks' %}",
            "warning": "{% trans 'Warning' %}",
            "unknown_date": "{% trans 'Unknown date' %}"
        }
    </script>

    {# Initial data endpoints #}
    <script type="application/json" id="endpoints">
        {
            "base_url": "http://{{ request.META.HTTP_HOST }}",
            "iati_exports": "/rest/v1/iati_export/?format=json&limit=10&ordering=-created_at&reporting_organisation={{ selected_org.id }}",
            "iati_export": "/rest/v1/iati_export/{iati_export}/?format=json"
        }
    </script>

    {# Months #}
    <script type="application/json" id="months">
        {
            "january": "{% trans 'Jan' %}",
            "february": "{% trans 'Feb' %}",
            "march": "{% trans 'Mar' %}",
            "april": "{% trans 'Apr' %}",
            "may": "{% trans 'May' %}",
            "june": "{% trans 'Jun' %}",
            "july": "{% trans 'Jul' %}",
            "august": "{% trans 'Aug' %}",
            "september": "{% trans 'Sep' %}",
            "october": "{% trans 'Oct' %}",
            "november": "{% trans 'Nov' %}",
            "december": "{% trans 'Dec' %}"
        }
    </script>

    {% compressed_js 'my_iati' %}
{% endblock js %}