{% extends "myrsr/myrsr_base.html" %}
{% load i18n bootstrap3 rsr_utils rules %}
{% block title %}{% trans "MyRSR - my projects" %}{% endblock %}
{% block myrsr_main %}
  <div>
    <div class="">
      <div class="col-sm-6"><h3>{% trans "My project" %}s</h3></div>
      {% has_perm 'rsr.add_project' user as can_add_project %}
      {% if can_add_project %}
      <div class="col-sm-6 text-right btnHeader"><a href="http://rsr.akvo.org/admin/rsr/project/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add a new project</a></div>
      {% endif %}
    </div>
    {% if page %}
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Project</th><th>Location</th><th>Status</th><th>Actions</th></tr>
            <tr>
            </thead>
            {% for project in page %}
              <tr>
                <td class="media">
                  {% comment %}
                  <a class="pull-left" href="{% url 'project-main' project.id %}">
                    <img src="{{MEDIA_URL}}{{project.current_image}}" height="64" width="64"/>
                  </a>
                {% endcomment %}
                <a class="pull-left" href="{% url 'project-main' project.id %}">
                  {% img project 64 64 project.title %}
                </a>
                <div class="media-body">
                  <h4 class="media-heading">{{ project.title }}</h4>
                  <p class="small">{{ project.subtitle }}</p>
                </div>
              </td>
              <td>{% bootstrap_icon "globe" %} {{project.primary_location.country}}, {{project.primary_location.country.continent}}</td>
              <td>{{ project.show_status }}</td>
              <td>
                <div class="twoColumns clearfix">
                  <a href="{% url 'project-main' project.id %}">View</a>
                  {% has_perm 'rsr.change_project' user project as can_edit_project %}
                  {% has_perm 'rsr.change_publishingstatus' user project.publishingstatus as can_publish %}
                  {% if can_edit_project %}
                    <a href="/admin/rsr/project/{{project.pk}}/">Edit</a>
                  {% endif %}
                  {% if can_publish %}
                    <a href="/admin/rsr/publishingstatus/?project={{project.pk}}">
                      {% if project.is_published %}
                        Unpublish
                      {% else %}
                        Publish
                      {% endif %}
                    </a>
                  {% endif %}
                  {% has_perm 'rsr.post_updates' project as can_add_update %}
                  <a href="{% url 'add-update' project.pk %}">Add update</a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </table>
        <div class="">
          <p>Viewing {{ page.start_index }} - {{ page.end_index }} of {{ paginator.count }} projects</p>
          {% include 'navigation/pagination.html' %}
        </div>
      </div>
      <div class="container">
      {% else %}
        <p class="noItem text-center col-sm-6 col-sm-offset-3">{% trans "You can't see any projects yet." %}</p>
        {% if not organisations %}
          <p class="text-center col-sm-8 col-sm-offset-2">
            Go to the <a href="{% url 'my_details' %}">My details</a> page to request to join an organisation.
            Once your request is approved, you will see the projects of this organisation on this page.
          </p>
        {% else %}
          <p class="text-center col-sm-8 col-sm-offset-2">
            The organisation(s) you have joined do not have any projects yet.
            Go to the <a href="{% url 'my_details' %}">My details</a> page to see your organisation(s).
          </p>
        {% endif %}
      {% endif %}
    </div>
  {% endblock %}