{% extends "myrsr/myrsr_base.html" %}

{% load i18n bootstrap3 %}

{% block title %}{% trans "MyRSR - my proejcts" %}{% endblock %}

{% block myrsr_main %}
<div class="col-md-9 table-responsive">
  <h2>{% trans "My project" %}s</h2>
  <table class="table table-striped">
    <tr>
      <td>Image</td>
      <td>Location</td>
      <td>Status</td>
      <td>.</td>
    </tr>
    <tr>
      <td class="media">
          <a class="pull-left" href="#">
            <img class="media-object"
                 src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+"
                 alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Title</h4>
            <p class="small">Subtitle</p>
          </div>
      </td>
      <td>...</td>
      <td>...</td>
      <td>View, Edit, Publish</td>
    </tr>
    <tr>
      <td class="media">
          <a class="pull-left" href="#">
            <img class="media-object"
                 src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+"
                 alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Title</h4>
            <p class="small">Subtitle</p>
          </div>
      </td>
      <td>...</td>
      <td>...</td>
      <td>View, Edit, Publish</td>
    </tr>
  </table>

</div>

{% endblock %}
