{% extends "myrsr/myrsr_base.html" %}
{% load i18n rsr_utils rules pipeline %}
{% block title %}{% trans "MyRSR - my projects" %}{% endblock %}
{% block myrsr_main %}
<div class="row">
    <div class="col-sm-6">
        <button class="btn btn-default btn-sm" id="createProject"
                {% if not user.can_create_project %}disabled{% endif %}>
            <i class="fa fa-plus"></i> {% trans 'Add a new project' %}
        </button>
        <p class="text-danger" id="projectCreationError"></p>
        <span class="verticalPadding {% if not q_search %}hidden{% endif %}">
            <a href="{% url 'my_projects' %}">{% trans "My projects" %}</a>
        </span>
      </div>
      <div class="col-sm-6 btnHeader text-right">
          <form class="navbar-form" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="{% trans 'Search' %}" name="q" id="search"
                     {% if q_search %}value="{{ q_search }}"{% endif %}>
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>
      </div>
  {% if not user.is_superuser and not user.is_admin and not organisations %}
    <p class="noItem text-center col-sm-6 col-sm-offset-3">{% trans "You can't see any projects yet." %}</p>
    <p class="text-center col-sm-8 col-sm-offset-2">
      {% url 'my_details' as my_details_url %}
      {% blocktrans %}
        Go to the <a href="{{ my_details_url }}">My details</a> page to request to join an
        organisation.
        Once your request is approved, you will see the projects of this organisation on this page.
      {% endblocktrans %}
    </p>
  {% else %}
</div>
<div class="row">
  <div class=" col-sm-12">
    {% if page %}
      <table class="table table-striped table-responsive myProjectList">
        <thead>
        <tr>
            <th>{% trans "Projects" %}</th>
            <th>{% trans "Project Location" %}</th>
            <th>{% trans "Relationship" %}</th>
            <th>{% trans "End date (planned)" %}</th>
        </tr>
        </thead>
        {% for project in page %}
          <tr class="{% if not project.is_published %}notPublished{% elif not project.is_public %}isPrivate{% endif %}">
            <td class="media">
                <a class="pull-left" href="{% project_edit_link project user %}">
                {% img project 64 64 project.title %}
              </a>
              <div class="media-body">
                <a href="{% project_edit_link project user %}">
                  <h4 class="media-heading">{% if project.title %}{{ project.title }}{% else %}&lt;{% trans 'Untitled project' %}&gt;{% endif %}</h4>
                </a>
                <p>{{ project.subtitle }}</p>
              </div>
              {% if not project.is_published %}
                <span class="unplubishedPjt">{% trans 'Unpublished' %}</span>
              {% elif not project.is_public %}
                <span class="privatePjt">{% trans 'Private' %}</span>
              {% endif %}
            </td>
            <td>
                {{ project.primary_location.country }}
            </td>
            <td>
                <span class="label label-info">{% if project.children_all.exists %}Parent{% endif %}</span>
                <span class="label label-default">{% if project.parents_all.exists %}Child{% endif %}</span>
            </td>
            <td>{{ project.date_end_planned }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
      <div class="text-center small showingTxt">
        <p>
          {% blocktrans with start_index=page.start_index end_index=page.end_index paginator_count=paginator.count %}
            Viewing {{ start_index }} - {{ end_index }} of {{ paginator_count }} projects
          {% endblocktrans %}
        </p>
        {% include 'navigation/pagination.html' %}
      </div>
      </div>
      <div class="container">
    {% else %}
      {% if q %}
        <p class="noItem text-center verticalPadding col-sm-6 col-sm-offset-3">
          {% blocktrans %}Your search - {{ q_search }} - did not match any
            projects.{% endblocktrans %}
        </p>
      {% elif organisations %}
        <p class="noItem text-center col-sm-6 col-sm-offset-3">{% trans "You can't see any projects yet." %}</p>
        <p class="text-center col-sm-8 col-sm-offset-2">
          {% url 'my_details' as my_details_url %}
          {% blocktrans %}
            The organisation(s) you have joined do not have any projects yet.
            Go to the <a href="{{ my_details_url }}">My details</a> page to see your
            organisation(s).
          {% endblocktrans %}
        </p>
      {% endif %}
    {% endif %}
  {% endif %}
</div>
{% endblock %}
</div>
{% block js %}
    {{ block.super }}

    <script type="application/json" id="default-values">
        {
            "employments": {{ reportable_organisations }},
            "new_project_custom_fields": [{% for field in new_project_custom_fields %}{"name": "{{ field.name }}", "type": "{{ field.type }}", "section": {{ field.section }}, "order": {{ field.order }}, "max_characters": {% if field.max_characters %}{{ field.max_characters }}{% else %}0{% endif %}, "mandatory": {% if field.mandatory %}true{% else %}false{% endif %}, "help_text": "{{ field.help_text|linebreaksbr }}"}{% if not forloop.last %}, {% endif %}{% endfor %}],
            "connection_error": "{% trans 'General connection error, please check your internet connection'|escapejs %}",
            "could_not_add": "{% trans 'Could not add'|escapejs %}",
            "project": "{% trans 'project'|escapejs %}",
            "reporting_organisation": "{% trans 'reporting organisation'|escapejs %}",
            "project_log": "{% trans 'project log'|escapejs %}",
            "custom_fields": "{% trans 'custom fields'|escapejs %}",
            "contact_us": "{% trans 'Please contact Akvo staff by using the Help button on the right.'|escapejs %}"
        }
    </script>

    {% javascript 'my_projects' %}
{% endblock %}
