{% extends "myrsr/myrsr_base.html" %}

{% load pipeline i18n %}

{% block title %}{% trans 'MyRSR - My Reports' %}{% endblock %}

{% block myrsr_main %}
    <div id="container-fluid" class="col-sm-12"></div>
{% endblock %}

{% block js %}
    {{ block.super }}

    {# Initial data endpoints #}
    <script type="application/json" id="data-endpoints">
        {
            "base_url": "//{{ request.META.HTTP_HOST }}",
            "formats": "{% url 'report_formats_api' %}",
            "user": "{% url 'user-detail' 'v1' request.user.pk %}",
            "user_organisations": "{% url 'user_organisations_typeahead' %}",
            "user_projects": "{% url 'user_projects_typeahead' %}",
            "reports": "{% url 'reports_api-list' 'v1' %}"
        }
    </script>

    {# Translation strings #}
    <script type="application/json" id="translation-texts">
        {
            "my_reports": "{% trans 'Organisation reports'|escapejs %}",
            "download_report": "{% trans 'Download report'|escapejs %}",
            "report_type": "{% trans 'Report type'|escapejs %}",
            "select_a_report_type": "{% trans 'Select a report type'|escapejs %}",
            "organisation": "{% trans 'Organisation'|escapejs %}",
            "select_an_organisation": "{% trans 'Select an organisation'|escapejs %}",
            "project": "{% trans 'Project'|escapejs %}",
            "select_a_project": "{% trans 'Select a project'|escapejs %}",
            "report_format": "{% trans 'Report format'|escapejs %}",
            "select_a_format": "{% trans 'Select a format'|escapejs %}",
            "generating_report": "{% trans 'Generating report...'|escapejs %}",
            "available_shortly": "{% trans 'Your report will be downloaded shortly'|escapejs %}",
            "error": "{% trans 'Error:'|escapejs %}",
            "no_report": "{% trans 'No report is selected.'|escapejs %}",
            "no_organisation": "{% trans 'No organisation or project is selected.'|escapejs %}",
            "no_format": "{% trans 'No format is selected.'|escapejs %}",
            "download": "{% trans 'Download'|escapejs %}"
        }
    </script>

    {% javascript 'my_reports' %}
{% endblock %}
