{% extends "myrsr/myrsr_base.html" %}

{% load i18n bootstrap3 rsr_utils pipeline %}

{% block title %}{% trans 'MyRSR - My updates' %}{% endblock %}

{% block myrsr_main %}
    <div class="col-sm-6">
        <h3>{% trans 'My updates' %}</h3>
        <p class="text-danger" id="projectUpdateError"></p>
    </div>
    <div class="col-sm-6 btnHeader text-right">
          <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="q" id="search" {% if q_search %}value="{{q_search}}"{% endif %}>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% if page %}
        <div id="updates" class=" col-sm-12">
            <table class="table table-striped table-responsive">
                <thead><tr><th>{% trans 'Media' %}</th><th>{% trans 'Title' %}</th>{%if org_admin_view %}<th>{% trans 'User' %}</th>{% endif %}<th>{% trans 'Date' %}</th><th>{% trans 'Project' %}</th><th class="text-right">{% trans 'Actions' %}</th></tr></thead>
                <tbody>
                {% for update in page %}
                    <tr id="update-{{ update.id }}-container">
                        <td>
                            <a href="{% url 'update-main' update.project.id update.id %}">
                                {% if update.video %}
                                    {% vid_img update 64 64 update.title %}
                                {% else %}
                                    {% img update 64 64 update.title %}
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'update-main' update.project.id update.id %}">
                                {{ update.title }}
                            </a>
                        </td>
                        {%if org_admin_view %}
                        <td>
                            {{ update.user.get_full_name }}
                        </td>
                        {% endif %}
                        <td>{{ update.event_date }}</td>
                        <td>{{ update.project }}</td>
                        <td>
                            <div class="updateListMenu text-right">
                                <ul class="nav">
                                    <li><a href="{% url 'edit-update' update.project.id update.id %}">Edit</a></li>
                                    <li><a href="" class="delete-update" id="update-{{ update.id }}">Delete</a></li>
                                </ul>
                            </div>
                            <div id="confirm-delete-{{ update.id }}" class="update-confirm-container text-right"></div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-center showingTxt">
              <p>
              {% blocktrans with start_index=page.start_index end_index=page.end_index paginator_count=paginator.count %}
                  Viewing {{start_index}} - {{end_index}} of {{paginator_count}} updates
              {% endblocktrans %}
              </p>
              {% include 'navigation/pagination.html' %}
          </div>
        </div>
    {% elif q %}
        <p class="noItem text-center verticalPadding col-sm-6 col-sm-offset-3">
            {% blocktrans %}Your search - {{q_search}} - did not match any updates.{% endblocktrans %}
        </p>
    {% else %}
        <p class="noItem text-center verticalPadding col-sm-6 col-sm-offset-3">
            {% trans "You have not placed any updates yet." %}
        </p>
    {% endif %}

{% endblock %}

{% block js %}
    {{ block.super }}

    <script type="application/json" id="default-values">
        {
            "sure_message": "{% trans 'Are you sure?'|escapejs %}",
            "yes": "{% trans 'Yes'|escapejs %}",
            "no": "{% trans 'No'|escapejs %}",
            "delete_text": "{% trans 'Delete'|escapejs %}",
            "delete_progress":  "{% trans 'Deleting update'|escapejs %} <i class=\"fa fa-spin fa-spinner\"/>",
            "error_delete": "{% trans 'Update not found, try reloading the page.'|escapejs %}",
            "error_connection": "{% trans 'Connection error, check your internet connection.'|escapejs %}",
            "error_misc": "{% trans ' error, please contact support using the help button to the right.'|escapejs %}"
        }
    </script>

    {% javascript 'my_updates' %}
{% endblock %}
