{% extends "base.html" %}

{% load i18n bootstrap3 rules %}

{% block maincontent %}
<div class="container">
    <div class="row">
        {% block myrsr_menu %}
        <div class="col-md-2 myRsrMenu">
            <h4 class="hidden">MyRSR</h4>
            {% with current_path=request.get_full_path %}
            <nav class="navbar navbar-nav" role="navigation">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{% url 'my_details' %}"  class="{% if current_path == '/myrsr/' %}active{% endif %}">My details</a></li>
                    <li><a href="{% url 'my_updates' %}" class="{% if '/myrsr/updates/' in current_path %}active{% endif %}">My updates</a></li>
                    <li><a href="{% url 'my_projects' %}" class="{% if '/myrsr/projects/' in current_path %}active{% endif %}">My projects</a></li>
                    <li><a href="{% url 'project_admin' %}" class="{% if '/myrsr/project_admin/' in current_path %}active{% endif %}">Project admin</a></li>
                    {% has_perm 'rsr.iati_management' user as can_manage_iati %}
                    {% if can_manage_iati %}
                    <li><a href="{% url 'my_iati' %}" class="{% if '/myrsr/iati/' in current_path %}active{% endif %}">{% trans "My IATI" %}</a></li>
                    {% endif %}
                    {% has_perm 'rsr.change_employment' user as can_change_employments %}
                    {% if can_change_employments %}
                    <li><a href="{% url 'user_management' %}" class="{% if '/myrsr/user_management/' in current_path %}active{% endif %}">User management</a></li>
                    {% endif %}
                </ul>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{% url 'password_change' %}" class="{% if '/myrsr/password_change/' in current_path %}active{% endif %}">Change password</a></li>
                </ul>
            </nav>
            {% endwith %}
        </div>
        {% endblock %}
        <div class="col-md-10">
                {% block myrsr_main %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
