{% extends "base.html" %}

{% load i18n rules %}

{% block maincontent %}
    {% has_perm 'rsr.project_management' user as can_manage_projects %}
    {% has_perm 'rsr.change_employment' user as can_change_employments %}
    <div class="navContainer">
        <div class="container">
            <div class="row">
                {% block myrsr_menu %}
                <div class="col-md-12 myRsrMenu">
                    {% with current_path=request.get_full_path %}
                        <nav class="navbar navbar-nav nav-justified" role="navigation">
                            <ul class="nav nav-tabs">
                                <li><a href="{% url 'my_projects' %}" class="{% if '/myrsr/project' in current_path %}active{% endif %}">{% trans 'My projects' %}</a></li>
                                <li><a href="{% url 'my_updates' %}" class="{% if '/myrsr/updates/' in current_path %}active{% endif %}">{% trans 'My updates' %}</a></li>
                                <li><a href="{% url 'my_reports' %}" class="{% if '/myrsr/reports/' in current_path %}active{% endif %}">{% trans 'My reports' %}</a></li>
                                {% if can_manage_projects %}
                                    <li><a href="{% url 'my_results_select' %}" class="{% if '/myrsr/results/' in current_path or '/myrsr/new_results/' in current_path %}active{% endif %}">{% trans 'My results' %}</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endwith %}
                </div>
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="container myRsrPg">
        <div class="row">
            {% block myrsr_main %}{% endblock myrsr_main %}
        </div>
    </div>
{% endblock maincontent %}
