{% extends "myrsr/myrsr_base.html" %}

{% load bootstrap3 compressed i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block myrsr_main %}
<div class="col-md-6" id="password">
<h3>Change your password</h3>
<form method="post" action="" id="passwordForm">
    {% for field in form %}
        {% bootstrap_field field %}
    {% endfor %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "ok-sign" %} {% trans 'Update password' %}
        </button>
    {% endbuttons %}
</form>
</div>
{% endblock %}

{% block js %}
  {{ block.super }}

  {# App data #}
  <script type="application/json" id="akvo-rsr-ajax-url">
    {"ajaxUrl": "{% url 'user_change_password' user.id %}?format=json"}
  </script>

  {% compressed_js 'my_change_password' %}
{% endblock js %}
