{% extends "myrsr/myrsr_base.html" %}

{% load i18n bootstrap3 %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block head_js %}
    <script>
        $(document).ready(function() {

            $('#passwordForm').submit(function(event) {

                var $form = $(this);
                var serializedData = $form.serialize();

                $.post('/myrsr/password_change/', serializedData, function(response) {
                    $(".alert").remove()
                    response = JSON.parse(response);
                    if (response["message"].length > 1) {
                        for (i = 0; i < response["message"].length; i++) {
                            $("#password").prepend('<div class="alert alert-' + response["status"] + '" role="alert">' + response["message"][i] + '</div>');
                        }
                    } else {
                        $("#password").prepend('<div class="alert alert-' + response["status"] + '" role="alert">' + response["message"] + '</div>');
                    }
                });

                event.preventDefault();

            });

        });
    </script>
{% endblock %}

{% block myrsr_main %}
<div class="col-md-6 col-md-offset-2" id="password">
<form method="post" action="" id="passwordForm">
    {% csrf_token %}
    {% bootstrap_form_errors form type='non_fields' %}
    {% for field in form %}
        {% bootstrap_field field %}
    {% endfor %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "ok-sign" %} {% trans 'Update password' %}
        </button>
    {% endbuttons %}
</form>
</div>
{% endblock %}