{% extends "myrsr/myrsr_base.html" %}

{% load i18n bootstrap3 %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block head_js %}
    <script>
        $(document).ready(function() {

            $('#passwordForm').submit(function(event) {

                serializedData = {};
                $.each($(this).serializeArray(), function(i, obj) { serializedData[obj.name] = obj.value });

                $.ajax({
                    type:"POST",
                    url: "{% url 'user_change_password' user.id %}" + "?format=json",
                    data : JSON.stringify(serializedData),
                    contentType : 'application/json; charset=UTF-8',
                    success: function(response){
                        $( "#password" ).prepend('<div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>Password has been updated.</div>');
                        window.setTimeout(function() {
                            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                                $(this).remove();
                            });
                        }, 2000);
                    },
                    error: function(response)
                    {
                        jsonValue = $.parseJSON( response['responseText'] );

                        $.each(jsonValue, function(key, value){
                            $( "#password" ).prepend('<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>' + value + '</div>');
                            window.setTimeout(function() {
                                $(".alert").fadeTo(500, 0).slideUp(500, function(){
                                    $(this).remove();
                                });
                            }, 2000);
                        });
                    }
                });

                event.preventDefault();

            });

        });
    </script>
{% endblock %}

{% block myrsr_main %}
<div class="col-md-6" id="password">
<h1>Change your password</h1>
<form method="post" action="" id="passwordForm">
    {% for field in form %}
        {% bootstrap_field field %}
    {% endfor %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "ok-sign" %} {% trans 'Update password' %}
        </button>
    {% endbuttons %}
</form>
</div>
{% endblock %}
