{% extends "myrsr/myrsr_base.html" %}
{% load i18n bootstrap3 rsr_utils %}
{% block title %}{% trans 'MyRSR - Project Admin' %}{% endblock %}
{% block myrsr_main %}
    <h3>{% trans 'Project admin' %}</h3>
    <!--*************************************** FORM Container **********************************************-->
    <section class="panels projectEdit">
        <form role="form" id="">
            <fieldset>
                <!--*************************************** FORM STEP 1 **********************************************-->
                <div class="myPanel" id="panel0">
                    <div class="stepOne row">
                        <h2 class="text-center topMargin"><span>01</span>Project details</h2>
                        <div class="editDate">
                            <span>Date created:</span>
                            <time datetime="YYYY-MM-DDThh:mm:ssTZD">
                            April 20, 2015, 4:23 p.m.
                            </time><br/>
                            <span>Date Modified:</span>
                            <time datetime="YYYY-MM-DDThh:mm:ssTZD">
                            April 20, 2015, 4:23 p.m.
                            </time>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="projectTitle" class="control-label">Project title</label>
                        <input type="text" class="form-control" id="projectTitle" placeholder="Project title" />
                        <p class="help-block hidden">The title and subtitle fields are the newspaper headline for your project. Use them to attract attention to what you are doing. (45 characters)</p>
                    </div>
                    <div class="form-group">
                        <label for="projectTitle" class="control-label">Project subtitle</label>
                        <input type="text" class="form-control" id="eventSubTitle" placeholder="Project subtitle" />
                        <p class="help-block hidden">The title and subtitle fields are the newspaper headline for your project. Use them to attract attention to what you are doing. (75 characters)</p>
                    </div>
                    <div class="form-group">
                        <label for="iatiID" class="control-label">IATI identifier</label>
                        <input type="text" class="form-control" id="iatiID" placeholder="iati ID" />
                        <p class="help-block hidden">This should be the official unique IATI Identifier for the project. The identifier consists of the IATI organisation identifier and the (organisations internal) project identifier, e.g. NL-KVK-31156201-TZ1234. (100 characters)<br/>
                        Note that 'projects' in this form are the same as 'activities' in IATI.</p>
                    </div>
                    <div class="form-group">
                        <label for="projectStatus" class="control-label">Status</label>
                        <div class="select-group">
                            <select name="projectStatus" id="projectStatus" class="form-control">
                                <option value="No">None</option>
                                <option value="NF">Needs funding</option>
                                <option value="AC">Active</option>
                                <option value="">Complete</option>
                                <option value="">Cancelled</option>
                                <option value="">Archived</option>
                            </select>
                        </div>
                        <p class="help-block">
                        There are four different project statuses:</p>
                        <ol class="help-block">
                            <li>Needs funding: projects that still need funding.</li>
                            <li>Active: projects that started with the implementation phase.</li>
                            <li>Completed: projects that have been finished.</li>
                            <li>Cancelled: projects that were never fully implemented or carried out.</li>
                        </ol>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="eventFromPlanned" class="control-label">Start Date (planned):</label>
                                <input type="text" class="form-control ll-skin-melon" id="eventFromPlanned" placeholder="From">
                            </div>
                            <div class="col-md-6">
                                <label for="eventEndPlanned" class="control-label">End Date (planned):</label>
                                <input type="text" class="form-control" id="eventEndPlanned" placeholder="To">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="eventFromActual" class="control-label">Start Date (Actual):</label>
                                <input type="text" class="form-control ll-skin-melon" id="eventFromActual" placeholder="From">
                            </div>
                            <div class="col-md-6">
                                <label for="eventEndActual" class="control-label">End Date (Actual):</label>
                                <input type="text" class="form-control" id="eventEndActual" placeholder="To">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="projectStatus" class="control-label">Language</label>
                        <div class="select-group">
                            <select name="projectStatus" id="projectStatus" class="form-control">
                                <option value="GER">German</option>
                                <option value="EN">English</option>
                                <option value="FR">French</option>
                                <option value="SP">Spanish</option>
                                <option value="DU">Dutch</option>
                                <option value="RU">Russian</option>
                            </select>
                        </div>
                        <p class="help-block">The main language of the project.</p>
                    </div>
                    <div class="form-group">
                        <label for="projectCurrency" class="control-label">Currency</label>
                        <div class="select-group">
                            <select name="projectCurrency" id="projectCurrency" class="form-control">
                                <option value="us">$</option>
                                <option value="pound">£</option>
                                <option value="eur">€</option>
                            </select>
                        </div>
                        <p class="help-block hidden">The default currency for this project. Used in all financial aspects of the project.</p>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label for="donateBtn" class="control-label">
                                <input id="donateBtn" type="checkbox" name="donateBtn">Donate button</label>
                        </div>
                        <p class="help-block hidden">Show donate button for this project. If not selected, it is not possible to donate to this project and the donate button will not be shown.</p>
                    </div>
                    <div class="form-group">
                        <label for="projectHierarchy" class="control-label">Hierarchy</label>
                        <div class="select-group">
                            <select name="projectHierarchy" id="projectHierarchy" class="form-control">
                                <option value="GER">Core activity</option>
                                <option value="EN">Sub activity</option>
                                <option value="FR">Lower sub activity</option>
                            </select>
                        </div>
                        <p class="help-block">If you are reporting multiple levels of projects in RSR, you can specify whether this is a core or sub-project here.<br/>
                        So for example: is this project part of a larger project or programme.</p>
                    </div>


                    <div class="form-group">
                        <label class="control-label" for="projectDescription">Project description</label>
                        <textarea id="projectDescription" class="form-control" name="textarea" placeholder="Type in the project description"></textarea>
                    </div>

                </div>
                <!--*************************************** FORM STEP 2 **********************************************-->
                <div class="myPanel" id="panel1">
                    <div class="formStep stepTwo">
                        <h2 class="text-center topMargin"><span>02</span>Contact information</h2>
                    </div>
                    <div class="form-group">
                        <label for="projectStatus" class="control-label">Type</label>
                        <div class="select-group">
                            <select name="contactType" id="contactType" class="form-control">
                                <option value="" selected="selected">---------</option>
                                <option value="1">1 - General Enquiries</option>
                                <option value="2">2 - Project Management</option>
                                <option value="3">3 - Financial Management</option>
                                <option value="4">4 - Communications</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contactName" class="control-label">Name</label>
                        <input type="text" class="form-control" id="contactName" placeholder="Contact Name" />
                    </div>                    
                    <div class="form-group">
                        <label for="contactEmail" class="control-label">Email</label>
                        <input type="text" class="form-control" id="contactEmail" placeholder="Contact email" />
                    </div>                    
                    <div class="form-group">
                        <label for="jobTitle" class="control-label">Job title</label>
                        <input type="text" class="form-control" id="jobTitle" placeholder="Job title" />
                    </div>                    
                    <div class="form-group">
                        <label for="contactOrg" class="control-label">Organisation</label>
                        <input type="text" class="form-control" id="contactOrg" placeholder="Contact organisation" />
                    </div>                    
                    <div class="form-group">
                        <label for="contactPhone" class="control-label">Telephone</label>
                        <input type="text" class="form-control" id="contactPhone" placeholder="Contact phone number" />
                    </div>                    
                    <div class="form-group">
                        <label for="contactAddress" class="control-label">Address</label>
                        <input type="text" class="form-control" id="contactAddress" placeholder="Contact address" />
                    </div>
                </div>
                <!--*************************************** FORM STEP 3 **********************************************-->
                <div class="myPanel" id="panel2">
                    <div class="formStep stepThree">
                        <h2 class="text-center topMargin"><span>03</span>Partners</h2>
                    </div>
                </div>
                <!--*************************************** FORM STEP 4 **********************************************-->
                <div class="myPanel" id="panel1">
                    <div class="formStep stepTwo">
                        <h2 class="text-center topMargin"><span>02</span>Descriptions</h2>
                    </div>
                </div>
                <!--*************************************** FORM STEP 5 **********************************************-->
                <div class="myPanel" id="panel2">
                    <div class="formStep stepThree">
                        <h2 class="text-center topMargin"><span>03</span>Photos</h2>
                    </div>
                </div>
                <!--*************************************** FORM STEP 6 **********************************************-->
                <div class="myPanel" id="panel1">
                    <div class="formStep stepTwo">
                        <h2 class="text-center topMargin"><span>02</span>Links and documents</h2>
                    </div>
                </div>
                <!--*************************************** FORM STEP 7 **********************************************-->
                <div class="myPanel" id="panel2">
                    <div class="formStep stepThree">
                        <h2 class="text-center topMargin"><span>03</span>Locations</h2>
                    </div>
                </div>
                <!--*************************************** FORM STEP 8 **********************************************-->
                <div class="myPanel" id="panel1">
                    <div class="formStep stepTwo">
                        <h2 class="text-center topMargin"><span>02</span>Focus</h2>
                    </div>
                </div>
                <!--*************************************** FORM STEP 9 **********************************************-->
                <div class="myPanel" id="panel2">
                    <div class="formStep stepThree">
                        <h2 class="text-center topMargin"><span>03</span>Finance</h2>
                    </div>
                </div>
                <!--*************************************** FORM STEP 10 **********************************************-->
                <div class="myPanel" id="panel2">
                    <div class="formStep stepThree">
                        <h2 class="text-center topMargin"><span>03</span>Results</h2>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
{% endblock %}