{% extends "myrsr/myrsr_base.html" %}
{% load i18n bootstrap3 rsr_utils thumbnail compressed%}
{% block title %}{% trans 'MyRSR - Project Admin' %}{% endblock %}
{% block myrsr_main %}
    <h4>{% trans 'Project admin' %}</h4>
    <!--*************************************** FORM Container **********************************************-->

    <div class="formOverviewInfo">
        <div class="editDate">
            <span>Date created:</span>
            <time datetime="YYYY-MM-DDThh:mm:ssTZD">
            {{ project.created_at }}
            </time><br/>
            <span>Date modified:</span>
            <time datetime="YYYY-MM-DDThh:mm:ssTZD">
            {{ project.last_modified_at }}
            </time>
        </div>
        <div class="progress overview">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only"></span><span class="progress-percentage"></span>
            </div>
        </div>
    </div>
    <section class="panels projectEdit">
        <fieldset>
                <!--*************************************** FORM STEP 1 **********************************************-->
                <div class="myPanel borderBottom" id="panel1">
                    <div class="formStep stepOne">
                        <div onclick="scrollTo('panel1')">
                            <label for="stepOne" class="stepLabel"><h4>01 - General information</h4></label>
                        </div>
                        <input type="radio" name="step" id="stepOne" checked >
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only"></span><span class="progress-percentage"></span>
                            </div>
                        </div>
                        <div class="formBlock">
                            <form role="form" id="admin-step-1">
                            <div class="form-group control">
                                <input type="text" class="form-control validate priority1" name="projectTitle" id="projectTitle" placeholder="Project title" value="{% if project.title %}{{project.title}}{% endif %}" maxlength="45"/>
                                <label for="projectTitle" class="control-label">Project title</label>
                                <p class="help-block hidden">The title and subtitle fields are the newspaper headline for your project. Use them to attract attention to what you are doing. (45 characters)</p>
                            </div>
                            <div class="form-group control">
                                <input type="text" class="form-control priority1" name="projectSubTitle" id="projectSubTitle" placeholder="Project subtitle" maxlength="75"
                                {% if project.subtitle %} value="{{project.subtitle}}" {% endif %} />
                                <label for="projectSubTitle" class="control-label">Project subtitle</label>
                                <p class="help-block hidden">The title and subtitle fields are the newspaper headline for your project. Use them to attract attention to what you are doing. (75 characters)</p>
                            </div>
                            <div class="form-group control">
                                <input type="text" class="form-control priority2" name="iatiId" id="iatiID" placeholder="iati ID" maxlength="100"
                                {% if project.iati_activity_id %} value="{{project.iati_activity_id}}" {% endif %} />
                                <label for="iatiID" class="control-label">IATI identifier</label>
                                <p class="help-block hidden">This should be the official unique IATI Identifier for the project. The identifier consists of the IATI organisation identifier and the (organisations internal) project identifier, e.g. NL-KVK-31156201-TZ1234. (100 characters)<br/>
                                Note that 'projects' in this form are the same as 'activities' in IATI.</p>
                            </div>
                            <div class="related-project-container">
                                {% for rp in project.related_projects.all %}
                                    {% include "myrsr/project_admin_partials/related_project_input.html" with key=rp.pk %}
                                {% empty %}
                                    {% include "myrsr/project_admin_partials/related_project_input.html" with key='add-0' %}
                                {% endfor %}
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <a href="#" class="btn btn-link add-related-project" id=""><span class="glyphicon glyphicon-plus"></span> Add another related project</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-group control">
                                    <select name="projectStatus" id="projectStatus" class="form-control priority1">
                                        <option value="N" {% if project.status == "N" %} selected="selected"{% endif %}>None</option>
                                        <option value="H" {% if project.status == "H" %} selected="selected"{% endif %}>Needs funding</option>
                                        <option value="A" {% if project.status == "A" %} selected="selected"{% endif %}>Active</option>
                                        <option value="C" {% if project.status == "C" %} selected="selected"{% endif %}>Complete</option>
                                        <option value="L" {% if project.status == "L" %} selected="selected"{% endif %}>Cancelled</option>
                                        <option value="R" {% if project.status == "R" %} selected="selected"{% endif %}>Archived</option>
                                    </select>
                                    <label for="projectStatus" class="control-label">Status</label>
                                </div>
                                <p class="help-block hidden">
                                There are four different project statuses:</p>
                                <ol class="help-block hidden">
                                    <li>Needs funding: projects that still need funding.</li>
                                    <li>Active: projects that started with the implementation phase.</li>
                                    <li>Completed: projects that have been finished.</li>
                                    <li>Cancelled: projects that were never fully implemented or carried out.</li>
                                </ol>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 control">
                                        <input type="date" class="form-control ll-skin-melon priority1" name="eventFromPlanned" id="eventFromPlanned" placeholder="From (planned)"
                                        {% if project.date_start_planned %} value="{{project.date_start_planned|date:'c'}}" {% endif %} />
                                        <label for="eventFromPlanned" class="control-label">Start Date (planned):</label>
                                    </div>
                                    <div class="col-md-6 control">
                                        <input type="date" class="form-control priority2" name="eventEndPlanned" id="eventEndPlanned" placeholder="To (planned)"
                                        {% if project.date_end_planned %} value="{{project.date_end_planned|date:'c'}}" {% endif %} />
                                        <label for="eventEndPlanned" class="control-label">End Date (planned):</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 control">
                                        <input type="date" class="form-control ll-skin-melon priority1" name="eventFromActual" id="eventFromActual" placeholder="From (Actual)"
                                        {% if project.date_start_actual %} value="{{project.date_start_actual|date:'c'}}" {% endif %} />
                                        <label for="eventFromActual" class="control-label">Start Date (Actual):</label>
                                    </div>
                                    <div class="col-md-6 control">
                                        <input type="date" class="form-control priority2" name="eventEndActual" id="eventEndActual" placeholder="To (Actual)"
                                        {% if project.date_end_actual %} value="{{project.date_end_actual|date:'c'}}" {% endif %} />
                                        <label for="eventEndActual" class="control-label">End Date (Actual):</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-group control">
                                    <select name="projectLanguage" id="projectLanguage" class="form-control priority2">
                                        <option value="de" {% if project.language == 'de'%} selected="selected" {% endif %}>German</option>
                                        <option value="en" {% if project.language == 'en'%} selected="selected" {% endif %}>English</option>
                                        <option value="fr" {% if project.language == 'fr'%} selected="selected" {% endif %}>French</option>
                                        <option value="es" {% if project.language == 'es'%} selected="selected" {% endif %}>Spanish</option>
                                        <option value="nl" {% if project.language == 'nl'%} selected="selected" {% endif %}>Dutch</option>
                                        <option value="ru" {% if project.language == 'ru'%} selected="selected" {% endif %}>Russian</option>
                                    </select>
                                    <label for="language" class="control-label">Language</label>
                                </div>
                                <p class="help-block hidden">The main language of the project.</p>
                            </div>
                            <div class="form-group">
                                <div class="select-group control">
                                    <select name="projectCurrency" id="projectCurrency" class="form-control priority1">
                                        <option value="USD" {% if project.currency == "USD"%} selected="selected" {% endif %}>$</option>
                                        <option value="EUR" {% if project.currency == "EUR"%} selected="selected" {% endif %}>€</option>
                                    </select>
                                    <label for="projectCurrency" class="control-label">Currency</label>
                                </div>
                                <p class="help-block hidden">The default currency for this project. Used in all financial aspects of the project.</p>
                            </div>
                            <div class="form-group">
                                <div class="select-group control">
                                    <select name="projectHierarchy" id="projectHierarchy" class="form-control priority2">
                                        <option value="" {% if not project.hierarchy %} selected="selected" {% endif %}>Hierarchy:</option>
                                        <option value="1" {% if project.hierarchy|add:0 == 1 %} selected="selected" {% endif %}>Core activity</option>
                                        <option value="2" {% if project.hierarchy|add:0 == 2 %} selected="selected" {% endif %}>Sub activity</option>
                                        <option value="3" {% if project.hierarchy|add:0 == 3 %} selected="selected" {% endif %}>Lower sub activity</option>
                                    </select>
                                    <label for="projectHierarchy" class="control-label">Hierarchy</label>
                                </div>
                                <p class="help-block hidden">If you are reporting multiple levels of projects in RSR, you can specify whether this is a core or sub-project here.<br/>
                                So for example: is this project part of a larger project or programme.</p>
                            </div>
                            <div class="form-group">
                                <div class="select-group control">
                                    <select name="defaultAidType" id="defaultAidType" class="form-control priority3"> 
                                        <option value="" {% if not project.default_aid_type %} selected="selected" {% endif %}>Default aid type:</option>                                      
                                        {% for aid_type in aid_types %}
                                            <option value="{{ aid_type.code }}" {% if project.default_aid_type == aid_type.code %} selected="selected" {% endif %}>{{ aid_type.code }} - {{ aid_type.name }}</option>
                                        {% endfor %} 
                                    </select>
                                    <label for="defaultAidType" class="control-label">Default aid type</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-group control">
                                    <select name="defaultFlowType" id="defaultFlowType" class="form-control priority3">
                                        <option value="" {% if not project.default_flow_type %} selected="selected" {% endif %}>Default flow type:</option>
                                        {% for flow_type in flow_types %}
                                            <option value="{{ flow_type.code }}" {% if project.default_flow_type == flow_type.code %} selected="selected" {% endif %}>{{ flow_type.code }} - {{ flow_type.name }}</option>
                                        {% endfor %} 
                                    </select>
                                    <label for="defaultFlowType" class="control-label">Default flow type</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-group control">
                                    <select name="defaultTiedStatus" id="defaultTiedStatus" class="form-control priority3">
                                        <option value="" {% if not project.default_tied_status %} selected="selected" {% endif %}>Default tied status:</option>
                                        {% for tied_status in tied_statuses %}
                                            <option value="{{ tied_status.code }}" {% if project.default_tied_status == tied_status.code %} selected="selected" {% endif %}>{{ tied_status.code }} - {{ tied_status.name }}</option>
                                        {% endfor %} 
                                    </select>
                                    <label for="defaultTiedStatus" class="control-label">Default tied status</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-group control">
                                    <select name="collaborationType" id="collaborationType" class="form-control priority3">
                                        <option value="" {% if not project.collaboration_type %} selected="selected" {% endif %}>Collaboration type:</option>
                                        {% for collaboration_type in collaboration_types %}
                                            <option value="{{ collaboration_type.code }}" {% if project.collaboration_type == collaboration_type.code %} selected="selected" {% endif %}>{{ collaboration_type.code }} - {{ collaboration_type.name }}</option>
                                        {% endfor %} 
                                    </select>
                                    <label for="collaborationType" class="control-label">Collaboration type</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-group control">
                                    <select name="defaultFinanceType" id="defaultFinanceType" class="form-control priority3">
                                        <option value="" {% if not project.default_finance_type %} selected="selected" {% endif %}>Default finance type:</option>
                                        {% for finance_type in finance_types %}
                                            <option value="{{ finance_type.code }}" {% if project.default_finance_type == finance_type.code %} selected="selected" {% endif %}>{{ finance_type.code }} - {{ finance_type.name }}</option>
                                        {% endfor %} 
                                    </select>
                                    <label for="defaultFinanceType" class="control-label">Default finance type</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-save"></i> Save</button>
                                </div>
                                <div id="savingstep1"></div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--*************************************** FORM STEP 2 **********************************************-->
                <div class="myPanel borderBottom" id="panel2">
                    <div class="formStep stepTwo">
                        <div onclick="scrollTo('panel2')">
                            <label for="stepTwo" class="stepLabel"><h4>02 - Contact information</h4></label>
                        </div>
                        <input type="radio" name="step" id="stepTwo">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only"></span><span class="progress-percentage"></span>
                            </div>
                        </div>  
                        <div class="formBlock">
                            <form role="form" id="admin-step-2">
                            <div class="contact-information-container">
                                {% for contact in project.contacts.all %}
                                    {% include "myrsr/project_admin_partials/contact_information_input.html" with key=contact.pk %}
                                {% empty %}
                                    {% include "myrsr/project_admin_partials/contact_information_input.html" with key='add-0' %}
                                {% endfor %}
                            </div> 
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <a href="#" class="btn btn-link add-contact-information" id=""><span class="glyphicon glyphicon-plus"></span> Add another contact</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-save"></i> Save</button>
                                </div>
                                <div id="savingstep2"></div>
                            </div>
                            </form>
                        </div>                                    
                    </div>
                </div>
                <!--*************************************** FORM STEP 3 **********************************************-->
                <div class="myPanel borderBottom" id="panel3">
                    <div class="formStep stepThree">
                        <div onclick="scrollTo('panel3')">
                            <label for="stepThree" id="label3" class="stepLabel"><h4>03 - Partners</h4></label>
                        </div>
                        <input type="radio" name="step" id="stepThree">                        
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only"></span><span class="progress-percentage"></span>
                            </div>
                        </div>
                        <div class="formBlock">
                            <form role="form" id="admin-step-3">
                            <div class="form-group control">
                                <div class="reportingOrganisation-input reportingOrganisation typeahead-container"
                                data-child-id="reportingOrganisation"
                                data-child-class="priority1"
                                data-value="{% if project.reporting_org %}{{project.reporting_org.id}}{% endif %}"
                                data-count-class="reportingOrganisation">
                                </div>                                
                            </div>
                            <div class="form-group control">
                                <div class="checkbox">
                                    <label for="secondaryReporter" class="control-label">
                                        <input id="secondaryReporter" type="checkbox" name="secondaryReporter" class="priority3"
                                        {% if project.sync_owner_secondary_reporter %} checked {% endif %}>
                                            Secondary reporter
                                        </label>
                                </div>
                                <p class="help-block hidden">This indicates whether the reporting organisation is a secondary publisher: publishing data for which it is not directly responsible.</p>
                            </div>
                            <hr/>
                            <div class="partner-container">
                                {% for partnership in project.partnerships.all %}
                                    {% include "myrsr/project_admin_partials/partner_input.html" with key=partnership.pk %}
                                {% empty %}
                                    {% include "myrsr/project_admin_partials/partner_input.html" with key='add-0' %}
                                {% endfor %}
                            </div>                         
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <a href="#" class="btn btn-link add-partner" id=""><span class="glyphicon glyphicon-plus"></span> Add another partner</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-save"></i> Save</button>
                                </div>
                                <div id="savingstep3"></div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--*************************************** FORM STEP 4 **********************************************-->
                <div class="myPanel borderBottom" id="panel4">
                    <div class="formStep stepFour">
                        <div onclick="scrollTo('panel4')">
                            <label for="stepFour" class="stepLabel"><h4>04 - Descriptions</h4></label>
                        </div>
                        <input type="radio" name="step" id="stepFour">                        
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only"></span><span class="progress-percentage"></span>
                            </div>
                        </div>
                        <div class="formBlock">
                            <form role="form" id="admin-step-4">
                            <div class="form-group control">
                                <textarea id="summary" class="form-control priority1" name="summary" placeholder="Type in summary of the project plan">{% if project.project_plan_summary %}{{project.project_plan_summary}}{% endif %}</textarea>
                                <label class="control-label" for="summary">Summary of project plan</label>
                            </div>
                            <div class="form-group control">
                                <textarea id="background" class="form-control priority2" name="background" placeholder="Type in background">{% if project.background %}{{project.background}}{% endif %}</textarea>
                                <label class="control-label" for="background">Background</label>
                            </div>
                            <div class="form-group control">
                                <textarea id="currentSituation" class="form-control priority2" name="currentSituation" placeholder="Type in current situation">{% if project.current_status %}{{project.current_status}}{% endif %}</textarea>
                                <label class="control-label" for="currentSituation">Current situation</label>
                            </div>
                            <div class="form-group control">
                                <textarea id="projectPlan" class="form-control priority2" name="projectPlan" placeholder="Type in project plan">{% if project.project_plan %}{{project.project_plan}}{% endif %}</textarea>
                                <label class="control-label" for="projectPlan">Project plan</label>
                            </div>
                            <div class="form-group control">
                                <textarea id="targetGroup" class="form-control priority2" name="targetGroup" placeholder="Type in target group">{% if project.target_group %}{{project.target_group}}{% endif %}</textarea>
                                <label class="control-label" for="targetGroup">Target group</label>
                            </div>
                            <div class="form-group control">
                                <textarea id="sustainability" class="form-control priority2" name="sustainability" placeholder="Type in sustainability">{% if project.sustainability %}{{project.sustainability}}{% endif %}</textarea>
                                <label class="control-label" for="sustainability">Sustainability</label>
                            </div>
                            <div class="form-group control">
                                <textarea id="goalsOverview" class="form-control priority1" name="goalsOverview" placeholder="Type in goals overview">{% if project.goals_overview %}{{project.goals_overview}}{% endif %}</textarea>
                                <label class="control-label" for="goalsOverview">Goals overview</label>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-save"></i> Save</button>
                                </div>
                                <div id="savingstep4"></div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--*************************************** FORM STEP 5 **********************************************-->
                <div class="myPanel borderBottom" id="panel5">
                    <div class="formStep stepFive">
                        <div onclick="scrollTo('panel5')">
                            <label for="stepFive" class="stepLabel"><h4>05 - Photo</h4></label>
                        </div>
                        <input type="radio" name="step" id="stepFive">                        
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only"></span><span class="progress-percentage"></span>
                            </div>
                        </div>
                        <div class="formBlock">
                            <form role="form" id="admin-step-5">
                            <div class="form-group control" id="photo-container">
                                {% if project.current_image %}
                                    {% thumbnail project.current_image '250x250' format="PNG" upscale=True as im %}
                                        <img src="{{im.url}}" class="current-project-photo" id="img-photo" />
                                    {% endthumbnail %}
                                    <a onclick="deletePhoto(this);" class="btn btn-link delete-object-button" id="delete-photo"><span class="glyphicon glyphicon-remove"></span> Delete photo</a>
                                {% endif %}
                                <input type="file" class="form-control priority1" id="photo" name="photo" default="{% if project.current_image %}{{ project.current_image.url }}{% endif %}">
                                <label class="control-label" for="photo">Photo</label>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 control">
                                        <input type="text" class="form-control priority2" id="photoCaption" placeholder="Photo caption" name="photoCaption"
                                        {% if project.current_image_caption %} value="{{project.current_image_caption}}" {% endif %}>
                                        <label for="photoCaption" class="control-label">Photo caption</label>
                                    </div>
                                    <div class="col-md-6 control">
                                        <input type="text" class="form-control priority2" id="photoCredit" placeholder="Photo credit" name="photoCredit"
                                        {% if project.current_image_credit %} value="{{project.current_image_credit}}" {% endif %}>
                                        <label for="photoCredit" class="control-label">Photo credit</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-save"></i> Save</button>
                                </div>
                                <div id="savingstep5"></div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--*************************************** FORM STEP 6 **********************************************-->
                <div class="myPanel borderBottom" id="panel6">
                    <div class="formStep stepSix">
                        <div onclick="scrollTo('panel6')">
                            <label for="stepSix" class="stepLabel"><h4>06 - Links and documents</h4></label>
                        </div>
                        <input type="radio" name="step" id="stepSix">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only"></span><span class="progress-percentage"></span>
                            </div>
                        </div>
                        <div class="formBlock">
                            <form role="form" id="admin-step-6">
                            <div class="form-group">
                                <div class="link-container">
                                    {% for link in project.links.all %}
                                        {% include "myrsr/project_admin_partials/link_input.html" with key=link.pk %}
                                    {% empty %}
                                        {% include "myrsr/project_admin_partials/link_input.html" with key='add-0' %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <a href="#" class="btn btn-link add-link" id=""><span class="glyphicon glyphicon-plus"></span> Add another link</a>
                                </div>
                            </div>
                                <div class="document-container">
                                    {% for document in project.documents.all %}
                                        {% include "myrsr/project_admin_partials/document_input.html" with key=document.pk %}
                                    {% empty %}
                                        {% include "myrsr/project_admin_partials/document_input.html" with key='add-0' %}
                                    {% endfor %}
                                </div>                         
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <a href="#" class="btn btn-link add-document" id=""><span class="glyphicon glyphicon-plus"></span> Add another document</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-save"></i> Save</button>
                                </div>
                                <div id="savingstep6"></div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--*************************************** FORM STEP 7 **********************************************-->
                <div class="myPanel borderBottom" id="panel7">
                    <div class="formStep stepSeven">
                        <div onclick="scrollTo('panel7')">
                            <label for="stepSeven" class="stepLabel"><h4>07 - Locations</h4></label>
                        </div>
                        <input type="radio" name="step" id="stepSeven">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only"></span><span class="progress-percentage"></span>
                            </div>
                        </div>
                        <div class="formBlock">
                            <form role="form" id="admin-step-7">
                            <div class="form-group">
                                <div class="select-group control">
                                    <select name="scope" id="scope" class="form-control priority3">
                                        <option value="" {% if not project.project_scope %} selected="selected" {% endif %}>Project scope:</option>
                                        {% for scope in activity_scopes %}
                                            <option value="{{ scope.code }}" {% if project.project_scope == scope.code %} selected="selected" {% endif %}>{{ scope.code }} - {{ scope.name }}</option>
                                        {% endfor %}                                        
                                    </select>
                                    <label for="scope" class="control-label">Project scope</label>
                                </div>
                            </div>
                            <hr/>    
                            <div class="recipient-country-container">
                                {% for rc in project.recipient_countries.all %}
                                    {% include "myrsr/project_admin_partials/recipient_country_input.html" with key=rc.pk %}
                                {% empty %}
                                    {% include "myrsr/project_admin_partials/recipient_country_input.html" with key='add-0' %}
                                {% endfor %}
                            </div> 
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <a href="#" class="btn btn-link add-recipient-country" id=""><span class="glyphicon glyphicon-plus"></span> Add another recipient country</a>
                                </div>
                            </div>
                            <hr/> 
                            <div class="recipient-region-container">
                            {% for rr in project.recipient_regions.all %}
                                {% include "myrsr/project_admin_partials/recipient_region_input.html" with key=rr.pk %}
                            {% empty %}
                                {% include "myrsr/project_admin_partials/recipient_region_input.html" with key='add-0' %}
                            {% endfor %}
                            </div>                             
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <a href="#" class="btn btn-link add-recipient-region" id=""><span class="glyphicon glyphicon-plus"></span> Add another recipient region</a>
                                </div>
                            </div>
                            <hr/>
                            <div class="project-location-container">                         
                                {% if project.locations.all %}
                                    {% for location in project.locations.all %}
                                        {% include "myrsr/project_admin_partials/project_location_input.html" with key=location.pk %}
                                    {% endfor %}
                                {% else %}
                                    {% include "myrsr/project_admin_partials/project_location_input.html" with key='add-0' %}
                                {% endif %}    
                            </div>                                                       
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <a href="#" class="btn btn-link add-project-location" id=""><span class="glyphicon glyphicon-plus"></span> Add another project location</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-save"></i> Save</button>
                                </div>
                                <div id="savingstep7"></div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--*************************************** FORM STEP 8 **********************************************-->
                <div class="myPanel borderBottom" id="panel8">
                    <div class="formStep stepEight">
                        <div onclick="scrollTo('panel8')">
                            <label for="stepEight" class="stepLabel"><h4>08 - Focus</h4></label>
                        </div>
                        <input type="radio" name="step" id="stepEight">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only"></span><span class="progress-percentage"></span>
                            </div>
                        </div>
                        <div class="formBlock">
                            <form role="form" id="admin-step-8">
                            <div class="sector-container">
                                {% for sector in project.sectors.all %}
                                    {% include "myrsr/project_admin_partials/sector_input.html" with key=sector.pk %}
                                {% empty %}
                                    {% include "myrsr/project_admin_partials/sector_input.html" with key='add-0' %}
                                {% endfor %}
                            </div>    
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <a href="#" class="btn btn-link add-sector" id=""><span class="glyphicon glyphicon-plus"></span> Add another sector</a>
                                </div>
                            </div>
                            <div class="policy-marker-container">
                                {% for marker in project.policy_markers.all %}
                                    {% include "myrsr/project_admin_partials/policy_marker_input.html" with key=marker.pk %}
                                {% empty %}
                                    {% include "myrsr/project_admin_partials/policy_marker_input.html" with key='add-0' %}
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <a href="#" class="btn btn-link add-policy-marker" id=""> <span class="glyphicon glyphicon-plus"></span> Add another policy marker</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-save"></i> Save</button>
                                </div>
                                <div id="savingstep8"></div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--*************************************** FORM STEP 9 **********************************************-->
                <div class="myPanel borderBottom" id="panel9">
                    <div class="formStep stepNine">
                        <div onclick="scrollTo('panel9')">
                            <label for="stepNine" class="stepLabel"><h4>09 - Finance</h4></label>
                        </div>
                        <input type="radio" name="step" id="stepNine">                        
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only"></span><span class="progress-percentage"></span>
                            </div>
                        </div>
                        <div class="formBlock">
                            <form role="form" id="admin-step-9">
                            <div class="form-group control">
                                <input type="text" class="form-control priority3" name="capital-spend-percentage" id="capital-spend-percentage" placeholder="Capital spend percentage"
                                {% if project.capital_spend_percentage %} value="{{project.capital_spend_percentage}}" {% endif %}>
                                <label for="capital-spend-percentage" class="control-label">Capital spend percentage</label>
                            </div>
                            <div class="form-group">
                                <div class="select-group control">
                                    <select name="country-budget-vocabulary" id="country-budget-vocabulary" class="form-control priority3">
                                        <option value="" {% if not project.country_budget_vocabulary %} selected="selected" {% endif %}>
                                            Country budget vocabulary
                                        </option>
                                        {% for vocabulary in budget_identifier_vocabularies %}
                                            <option value="{{ vocabulary.code }}" {% if project.country_budget_vocabulary == vocabulary.code %} selected="selected" {% endif %}>{{ vocabulary.code }} - {{ vocabulary.name }}</option>
                                        {% endfor %}                                        
                                    </select>
                                    <label for="country-budget-vocabulary" class="control-label">Country budget vocabulary</label>
                                </div>
                            </div>
                            <hr/>
                            <div class="budget-item-container">
                                {% for item in project.budget_items.all %}
                                    {% include "myrsr/project_admin_partials/budget_item_input.html" with key=item.pk %}
                                {% empty %}
                                    {% include "myrsr/project_admin_partials/budget_item_input.html" with key='add-0' %}
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <a href="#" class="btn btn-link add-budget-item" id=""><span class="glyphicon glyphicon-plus"></span> Add another budget item</a>
                                </div>
                            </div>
                            <hr>
                            <div class="country-budget-item-container">
                                {% for item in project.country_budget_items.all %}
                                    {% include "myrsr/project_admin_partials/country_budget_item_input.html" with key=item.pk %}
                                {% empty %}
                                    {% include "myrsr/project_admin_partials/country_budget_item_input.html" with key='add-0' %}
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <a href="#" class="btn btn-link add-country-budget-item" id=""><span class="glyphicon glyphicon-plus"></span> Add another country budget item</a>
                                </div>
                            </div>
                            <hr>
                            <div class="transaction-container">
                                {% for transaction in project.transactions.all %}
                                    {% include "myrsr/project_admin_partials/transaction_input.html" with key=transaction.pk %}
                                {% empty %}
                                    {% include "myrsr/project_admin_partials/transaction_input.html" with key='add-0' %}
                                {% endfor %}
                            </div>                             
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <a href="#" class="btn btn-link add-transaction" id=""><span class="glyphicon glyphicon-plus"></span> Add another transaction</a>
                                </div>
                            </div>
                            <div class="planned-disbursement-container">
                                {% for pd in project.planned_disbursements.all %}
                                    {% include "myrsr/project_admin_partials/planned_disbursement_input.html" with key=pd.pk %}
                                {% empty %}
                                    {% include "myrsr/project_admin_partials/planned_disbursement_input.html" with key='add-0' %}
                                {% endfor %}
                            </div>                            
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <a href="#" class="btn btn-link add-planned-disbursement" id=""><span class="glyphicon glyphicon-plus"></span> Add another planned disbursement</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-save"></i> Save</button>
                                </div>
                                <div id="savingstep9"></div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--*************************************** FORM STEP 10 **********************************************-->
                <div class="myPanel borderBottom" id="panel10">
                    <div class="formStep stepTen">
                        <div onclick="scrollTo('panel10')">
                            <label for="stepTen" class="stepLabel"><h4>10 - Results</h4></label>
                        </div>
                        <input type="radio" name="step" id="stepTen">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only"></span><span class="progress-percentage"></span>
                            </div>
                        </div>
                        <div class="formBlock">
                            <form role="form" id="admin-step-10">
                            <div class="condition-container">
                                {% for condition in project.conditions.all %}
                                    {% include "myrsr/project_admin_partials/condition_input.html" with key=condition.pk %}
                                {% empty %}
                                    {% include "myrsr/project_admin_partials/condition_input.html" with key='add-0' %}
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <a href="#" class="btn btn-link add-condition" id=""><span class="glyphicon glyphicon-plus"></span> Add another condition</a>
                                </div>
                            </div>
                            <div class="result-container">
                                {% for result in project.results.all %}
                                    {% include "myrsr/project_admin_partials/result_input.html" with key=result.pk %}
                                {% empty %}
                                    {% include "myrsr/project_admin_partials/result_input.html" with key='add-0' %}
                                {% endfor %}
                            </div>                            
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <a href="#" class="btn btn-link add-result" id=""><span class="glyphicon glyphicon-plus"></span> Add another result</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-save"></i> Save</button>
                                </div>
                                <div id="savingstep10"></div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
{% endblock %}

{% block js %}
    {{ block.super }}

    <script type="text/template" id="related-project-input">{% include "myrsr/project_admin_partials/related_project_input.html" %}</script>
    <script type="text/template" id="budget-item-input">{% include "myrsr/project_admin_partials/budget_item_input.html" %}</script>
    <script type="text/template" id="condition-input">{% include "myrsr/project_admin_partials/condition_input.html" %}</script> 
    <script type="text/template" id="contact-information-input">{% include "myrsr/project_admin_partials/contact_information_input.html" %}</script> 
    <script type="text/template" id="country-budget-item-input">{% include "myrsr/project_admin_partials/country_budget_item_input.html" %}</script> 
    <script type="text/template" id="document-input">{% include "myrsr/project_admin_partials/document_input.html" %}</script> 
    <script type="text/template" id="indicator-input">{% include "myrsr/project_admin_partials/indicator_input.html" %}</script> 
    <script type="text/template" id="indicator-period-input">{% include "myrsr/project_admin_partials/indicator_period_input.html" %}</script> 
    <script type="text/template" id="link-input">{% include "myrsr/project_admin_partials/link_input.html" %}</script> 
    <script type="text/template" id="project-location-input">{% include "myrsr/project_admin_partials/project_location_input.html" %}</script>     
    <script type="text/template" id="location-administrative-input">{% include "myrsr/project_admin_partials/location_administrative_input.html"%}</script> 
    <script type="text/template" id="partner-input">{% include "myrsr/project_admin_partials/partner_input.html" %}</script> 
    <script type="text/template" id="planned-disbursement-input">{% include "myrsr/project_admin_partials/planned_disbursement_input.html" %}</script> 
    <script type="text/template" id="policy-marker-input">{% include "myrsr/project_admin_partials/policy_marker_input.html" %}</script> 
    <script type="text/template" id="recipient-country-input">{% include "myrsr/project_admin_partials/recipient_country_input.html" %}</script> 
    <script type="text/template" id="recipient-region-input">{% include "myrsr/project_admin_partials/recipient_region_input.html" %}</script> 
    <script type="text/template" id="related-project-input">{% include "myrsr/project_admin_partials/related_project_input.html" %}</script> 
    <script type="text/template" id="result-input">{% include "myrsr/project_admin_partials/result_input.html" %}</script> 
    <script type="text/template" id="sector-input">{% include "myrsr/project_admin_partials/sector_input.html" %}</script> 
    <script type="text/template" id="transaction-input">{% include "myrsr/project_admin_partials/transaction_input.html" %}</script> 
    <script type="text/template" id="transaction-sector-input">{% include "myrsr/project_admin_partials/transaction_sector_input.html" %}</script>
 
    {% block react_js %}
        <script src="//fb.me/react-0.12.0.js"></script>
    {% endblock react_js %}

    <script type="application/json" id="default-values">
        {
            "project_id": "{{ project.pk }}"
        }
    </script>

    <script type="application/javascript">
        function scrollTo(div_id) {
            var div = document.getElementById(div_id);
            setTimeout(function () {
                div.scrollIntoView();
                window.scrollBy(0, -100);
            }, 1);
        }
    </script>

    {% compressed_js 'react_typeahead' %}
    {% compressed_js 'myrsr_admin' %}
    
{% endblock %}
