{% extends "myrsr/myrsr_base.html" %}

{% load i18n %}

{% block title %}{% trans 'MyRSR' %} - {% trans 'Select project' %}{% endblock %}

{% block myrsr_main %}
    <h4>{% trans 'Select project' %}</h4>

    <form>
        <div class="form-group">
            <div class="select-group control">
                <select title="select-project"  id="select-project" class="form-control">
                    <option value="" selected="selected"></option>
                    {% for p in projects %}
                        <option value="{{ p.pk }}">{{ p.title }} (ID: {{ p.pk }})</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>

{% endblock %}

{% block js %}
    {{ block.super }}

    <script type="application/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var currentUrl = window.location.href;
            var selectProject = document.getElementById('select-project');
            selectProject.addEventListener('change', function () {
                if (selectProject.value !== '') {
                    window.location.assign(currentUrl + selectProject.value + '/');
                }
            });
        });
    </script>
{% endblock %}
