{% extends "myrsr/myrsr_base.html" %}

{% load bootstrap3 pipeline i18n rules %}

{% block title %}{% trans 'MyRSR - User management' %}{% endblock %}

{% block myrsr_main %}
<div class="col-sm-6 col-xs-8">
    <h3>{% trans 'User management' %}</h3>
    {% has_perm 'rsr.change_employment' user as can_change_employments %}
    {% if not can_change_employments %}
        <p class="noItem text-center verticalPadding col-sm-6 col-sm-offset-3">
            {% trans "You don't have the rights to manage users." %}
        </p>
    {% else %}
        <div id="invite_button"></div>
            </div>
        <div class="col-sm-6 col-xs-8 col-xs-offset-1 col-sm-offset-0 btnHeader text-right">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q" id="search" {% if q_search %}value="{{ q_search }}"{% endif %}>
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            Search                        
                        </button>
                    </div>
                </div>
            </form>
        </div>
        {% if employments %}
            <div id="user_table" class="col-sm-12"></div>
            <div class="text-center showingTxt">
                <span class="label label-info projectTotal">
                    {% blocktrans with start_index=page.start_index end_index=page.end_index paginator_count=paginator.count %}
                        {{paginator_count}} users
                    {% endblocktrans %}
                </span>
                {% include 'navigation/pagination.html' %}
            </div>
        {% else %}
            <p class="noItem text-center verticalPadding col-sm-6 col-sm-offset-3">
                {% if q_search %}
                    {% blocktrans %}Your search - {{ q_search }} - did not match any users.{% endblocktrans %}
                {% else %}
                    {% trans "No users that you can manage." %}
                {% endif %}
            </p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}

    {% if employments %}
        {# App data #}
        <script type="application/json" id="initial-employment-data">{{ employments|safe }}</script>
        <script type="application/json" id="organisation-data">{{ organisations|safe }}</script>
        <script type="application/json" id="org-admin">{"org_admin": {% if org_admin %}true{% else %}false{% endif %}}</script>
        <script type="application/json" id="role-data">{{ roles|safe }}</script>

        {# Translation strings #}
        <script type="application/json" id="user-management-text">
            {
                "approve_button_text": "{% trans 'Approve'|escapejs %}",
                "approve_text": "{% trans 'Are you sure you want to approve'|escapejs %}",
                "approve_user_text": "{% trans 'Approve user'|escapejs %}",
                "at_text": "{% trans 'at'|escapejs %}",
                "close_text": "{% trans 'Close'|escapejs %}",
                "email_text": "{% trans 'Email'|escapejs %}",
                "employment_exists": "{% trans 'Employment group already exists for user.'|escapejs %}",
                "grant_project_access": "{% trans 'Grant project access'|escapejs %}",
                "from_text": "{% trans 'from'|escapejs %}",
                "in_text": "{% trans 'in'|escapejs %}",
                "invite_users_text": "{% trans 'Invite users'|escapejs %}",
                "invite_users_heading": "{% trans 'Invite a user to your organisation(s) by filling in an email address, organisation and role. It is possible to invite multiple users by clicking on the green +. Each user will receive an email with an activation link that is valid for 7 days, and you will be notified when a user has activated his or her account.'|escapejs %}",
                "loading_text": "{% trans 'Loading...'|escapejs %}",
                "name": "{% trans 'Name'|escapejs %}",
                "none_text": "{% trans 'None'|escapejs %}",
                "organisation": "{% trans 'Organisation'|escapejs %}",
                "remove_button_text": "{% trans 'Remove'|escapejs %}",
                "remove_user_text": "{% trans 'Remove user from organisation'|escapejs %}",
                "remove_text": "{% trans 'Are you sure you want to remove'|escapejs %}",
                "role_text": "{% trans 'Role'|escapejs %}",
                "project_access": "{% trans 'Project access'|escapejs %}",
                "select_org_text": "{% trans 'Select organisation'|escapejs %}",
                "select_role_text": "{% trans 'Select role'|escapejs %}",
                "user_with_id": "{% trans 'User with ID'|escapejs %}"
            }
        </script>

        {% javascript 'my_user_management' %}
    {% endif %}
{% endblock js %}
