{% extends "myrsr/myrsr_base.html" %}

{% load bootstrap3 pipeline i18n rules %}

{% block title %}{% trans 'MyRSR - User projects access restrictions' %}{% endblock %}

{% block myrsr_main %}
  <section id="main" class="userProject">
    <header>
      <h2>Grant access to projects</h2>
      <h4 >Project access restrictions for <span>{{ user_projects_user.get_full_name }}</span></h4>
      <p>Select all appropriate projects that you would like grant the User access to. <br/>
       The User will have access to the selected projects based on the permissions of their assigned role. <br/>
      To restrict a User’s access to a project, uncheck the box.</p>
    </header>
    <article id="userProjects" class="col-sm-6 col-xs-8">
    </article>
  </section>
{% endblock %}

{% block js %}
  {{ block.super }}

  <script type="application/json" id="user-to-restrict">
      {
        "id": {{ user_projects_user.id }}
      }
  </script>

  <script type="application/json" id="user-projects-text">
    {
      "an_error_occured": "{% trans 'An error occured, please try again. The error message is: '|escapejs %}",
      "can_access": "{% trans 'Can access'|escapejs %}",
      "deselect_all": "{% trans 'De-select all projects'|escapejs %}",
      "no_title": "{% trans 'Project without a title'|escapejs %}",
      "project_id": "{% trans 'Project ID'|escapejs %}",
      "project_title": "{% trans 'Project title'|escapejs %}",
      "grant_access": "{% trans 'Grant access to the following checked projects'|escapejs %}",
      "select_all": "{% trans 'Select all projects'|escapejs %}"
    }
  </script>

  {% javascript 'vendors_bundle' %}
  {% javascript 'user_projects_bundle' %}
{% endblock js %}
