{% extends "myrsr/myrsr_base.html" %}
{% load bootstrap3 i18n rsr_utils %}
{% load render_bundle from webpack_loader %}
{% block title %}{% trans 'MyRSR - Generate one time URLs' %}{% endblock %}

{% block myrsr_main %}
    <div class="col-sm-6 col-xs-12">
        {% if message %}
            <h3>{{  message }}</h3>
        {% else %}
            <h3>Please fill in the following data</h3>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            {% for period in periods %}
                {% with indicator=period.indicator result=period.indicator.result project=period.indicator.result.project %}
                    <h4>Project: {{ project.title }}</h4>
                    <h5>Result: {{ result.title }}</h5>
                    <h6>Indicator: {{ indicator.title }}</h6>
                    <span>{{ period.period_start }} &mdash; {{ period.period_end }}</span>
                    {% if not message %}
                        <input class="form-control" type="number" name="indicator-period-{{period.id}}">
                    {% endif %}
                {% endwith %}
            {% endfor %}
            {% if not message %}
                <input value="submit" type="submit" class="btn btn-primary" />
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock js %}
