body {
    background:#F9F9FA url(../../img/top_gradient.png) repeat-x top fixed;
    color:#000;
    }

div#main_container {
    margin-bottom:40px;
    /*padding-top:55px;*/
    }

    
#footer {
    /*background:#F9F9FA url(../../img/footer_gradient.png) repeat-x top;*/
    padding-top:10px;
    padding-bottom:40px
    }
    
div#footer_bar {
    height:4px;
    max-height:4px;
    overflow:hidden;
    background-color:#C4C9D0;
	background: -moz-linear-gradient(top, #B9BFC8, #fff);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#B9BFC8), to(#fff));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B9BFC8', endColorstr='#ffffff');
	margin-bottom:15px;
}

#footer h3, #footer h2  {
    color: #585E68;
    }

#breadcrum_back {
    background-color: #EFF3F5;
    border: 1px solid #D6D7DD;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px;
    border-radius: 2px;
    }

ul#breadcrum {
    margin: 0; 
    padding: 0;
    }
    
ul#breadcrum li {
    list-style: none;
    display: inline;
    margin: 0; 
    padding: 0;
    }
    
ul#breadcrum li a {
    display: block;
    float: left;
    margin: 0; 
    padding: 0;
    }
    
ul#breadcrum li a span {
    background: transparent url(../../img/breadcrum.png) no-repeat right;
    display: block;
    height: 23px;
    margin: 0;
    padding: 0;
    padding-top: 1px;
    padding-right: 20px;
    padding-left: 12px;
    font-size: 12px;
    }

#last_breadcrum_item {
    display: block;
    color: #3D414B;
    height: 23px;
    margin: 0; 
    padding: 0;
    padding-top: 1px;
    padding-right: 20px;
    padding-left: 12px !important;
    font-size: 12px;
    }
    
div.error {
    background-color:#FFEBE7; 
    border:1px solid #FFCDD1; 
    color:red;
    float:right; 
    padding:10px; 
    width:300px; 
    }
    
div.counter_badge {
    background-color:#EFF3F5; 
    border:1px solid #A2A2A2;
    color:#000;
    float:right; 
    text-align:center; 
    width:47px;
    font-size:0.8125em;
    line-height:1.4em;
    padding: 5px 3px 0px 3px;
    font-weight:bold;
    
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px;
    border-radius: 2px;
    
    margin:20px;
    }
    
div.counter_badge span {
    font-size:0.8125em;
    font-weight:normal;
    }