#project_status {
  background-color: #2096F5;
  background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#2096F5), to(#2D80AE));
  border-bottom-left-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;
  border-top-left-radius: 2px 2px;
  border-top-right-radius: 2px 2px;
  color: white;
  padding: 8px;
}

#status_large {
  border-bottom-left-radius: 13px 13px;
  border-bottom-right-radius: 13px 13px;
  border-top-left-radius: 13px 13px;
  border-top-right-radius: 13px 13px;
  font-size: 1.2em;
  padding: 5px 10px;
}