/*
Akvo RSR is covered by the GNU Affero General Public License.
See more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.

Akvo CSS classes is based on the Bluetrip (http://bluetrip.org/) CSS framework.

*/


/*------------------------------------------------------------------ 
[Table of contents] 
 
1. Basic
2. Lists 
3. Tags 		
4. Forms
5. Tables
6. Margins & paddings
7. Nice to have classes
8. Text sizes
-------------------------------------------------------------------*/


/*------------------------------------------------------------------ 
[1. Basic] 
*/
body {
    font-size:100%; /* IE6 & 7 */
    font-family:Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    }
    
a { 
    color:#2B80AF;
    cursor:pointer;
    text-decoration:none;
    }
    
a:visited { color:#2B80AF; }
a:hover { color:#0FA0CB; text-decoration: underline; }

p {
    color:#3D414B;
    font-size:0.875em; /* 16*0.875 = 14*/
    line-height:1.4em; 
    margin-bottom:1.5em;
    }


h1 {
    color:#E35D18;
    font-size:1.25em;
    font-weight:normal;
    line-height:1.2em;
    margin-bottom:0.5em;
    }

h1.h0 {
    font-size:1.75em;
}

h2 {
    color:#1877B8;
    font-size:1.125em;
    font-weight:normal;
    line-height:1.2em;
    margin-bottom:0.5em;
    }

h3 {
    color:#E35D18;
    font-size: 1.0em;
    font-weight:normal;
    line-height:1.2em;
    margin-bottom:0.5em;
    }

h4 {
    color:#1877B8;
    font-size:0.875em;
    font-weight:bold;
    line-height:1.2em;
    margin-bottom:0.75em;
    }

h5 {
    color:#E35D18;
    font-size:0.8125em;
    font-weight:normal;
    line-height:1.2em;
    margin-bottom:0.5em;    
    }

h6 {
    color:#1877B8;
    font-size: 0.6875em;
    font-weight:normal;
    line-height:1.2em;
    margin-bottom:0.5em;    
    }


/*------------------------------------------------------------------ 
[2. Lists] 
*/

ul, ol { 
    color:#3D414B;
    font-size:0.875em;
    line-height:1.7em;
    margin-bottom:0.5em; 
    margin-bottom:1.5em;   
    margin-top:-0.5em;    
    }
ul ul {font-size:1em; margin-top:0em;}
ol ol {font-size:1em; margin-top:0em;}
ul li { margin-left:1em;}
ul { list-style-position: outside; list-style-type: disc; margin-left: 0.5em; }
ul ul { list-style-type: square; }
ul ul ul { list-style-type: circle; }
ol { list-style-position: inside; list-style-type: decimal; margin-left: 0.5em;}
ol li {  margin-left:1em; }
dt { font-weight: bold; margin-top: .8em; margin-bottom: .4em; }
/*
ol ol, ul ol { margin-left: 1.0em; }
*/


/*------------------------------------------------------------------ 
[3. Tags] 
*/
strong, th, thead td {font-weight: bold;}
cite, em, dfn { font-style: italic; }
code, kbd, samp, pre, tt, var { font-size: 0.857em; font-family: monaco, "Lucida Console", courier, monospace; }
code {
    background-color:#092125;
    border:1px solid #9F9F9F;
    color:#98F39F;
    display:block;
    margin-bottom:14px;
    margin-top:14px;
    padding:6px 13px;
    }
del { text-decoration: line-through; color: #666; }
ins, dfn { border-bottom: 1px solid #ccc; }

blockquote { 
    border-top:1px solid #ccc; 
    border-bottom:1px solid #ccc; 
    color:#666; 
    padding:0 1em; 
    margin:1.6em 0;
    }
blockquote *:first-child { margin: .8em 0; }
blockquote *:first-child:before { content: "\201C"; }
blockquote *:first-child:after { content: "\201D"; }


/*------------------------------------------------------------------ 
[4. Forms] 
*/
fieldset { 
    padding:1.4em; 
    margin:0 0 1.5em 0; 
    border:1px solid #ccc; 
    padding:0 1em 1em 1em;  /* padding-top is margin-top for fieldsets in Opera */
    margin:1.6em 0; 
    }
legend { font-weight:bold; font-size:1.2em; }
label { font-weight:bold; display:block; margin-top:5px; font-size:0.875em; }

input[type='text'], input[type='password'], textarea {
    border:1px solid #ccc; background: #fff;
    font-size:0.875em;
    margin:0.5em 1px;
    padding:3px;
    }

input[type="submit"], input[type="button"] {
    display: block;
    margin-bottom:20px;
    margin-top:0;
    padding-top:0;
    }

textarea { border: 1px solid #ccc;}

.focusField {
    background-color:#e5fff3 !important;
    color:#000;
    }

/*------------------------------------------------------------------ 
[5. Tables] 
*/
table { border-top:1px solid #ccc;  border-left:1px solid #ccc; font-size:0.875em; }
th, td { border-bottom:1px solid #ddd; border-right:1px solid #ccc; padding:.8em; }


/*------------------------------------------------------------------ 
[6. Margins & paddings] 
*/
hr, p, dl, pre, blockquote, address, table, form { margin-bottom: 0.75em; }
caption { padding-bottom: .8em; } /* padding instead of margin for IE */
legend { padding-left: .8em; padding-right: .8em; }
legend+* { margin-top: 1em; } /* compensates for the opera margin bug */
select { padding: .1em .2em 0 .2em; }
option { padding: 0 .4em; }
a { position: relative; padding: 0.3em 0 .1em 0; } /* for larger click-area */
.last {margin-bottom: 0;}
.strong {font-weight: bold;}

/*------------------------------------------------------------------ 
[7. Nice to have classes] 
*/
.hide { display:none; }
.grey { color:#888; }
.red { color:#E60113; }


/*------------------------------------------------------------------ 
[8. Text sizes] 
*/
p.lede {
    font-size:1.125em;
    line-height:1.2em;
    margin-bottom:1.3em;
    }

p.small, .small p, span.small, .small span,  .small label, ul.small, a.small, .simplelist ul li {
    font-size:0.8125em;
    line-height:1.4em;
    }

p.tiny, .tiny p, span.tiny, .tiny span, .tiny label, ul.tiny, a.tiny {
    font-size:0.6875em;
    line-height:1.4em;
    }

p.nano, .nano p, span.nano, .nano span, .nano label ul.nano, a.nano {
    font-size:0.56725em;
    line-height:1.4em;
    }

p.nano-lede {
    font-size:0.8125em;
    line-height:1.2em;
    margin-bottom:0.75em;
    }

