.hide { display: none; }
.grey { color: #888; }
.green { color: #008624;}
.lightgreen { color:#AFF06A;}
.red {color: #E60113;}
.white{color:#fff;}
.bold {font-weight: bold;}
.right {float:right;}
.left {float:left;}
.round {
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
    }
    
.rounded_top {
    -khtml-border-top-left-radius: 5px;
    -khtml-border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px; 
	-moz-border-top-right-radius: 5px; 
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.rounded_bottom {
    -khtml-border-bottom-left-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px; 
	-moz-border-bottom-right-radius: 5px; 
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}