{% load i18n rsr_tags webdesign piwik_tags %}
{% load url from future %}
{% load compressed %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8" />
    <meta property="og:type" content="website"/>
	<meta name="description" content="{% trans 'We help donors and doers reach out to fund many thousands of new water and sanitation projects.' %}" />

	<title>Akvo RSR - {% block title %}{% trans 'Home' %}{% endblock %}</title>

    <link rel="shortcut icon" href="{{ STATIC_URL }}rsr/site/img/favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
    <!-- Piwik -->
    {% tracking_code %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>