<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Register your Akvo RSR account</title>
</head>
<body>
{% load i18n %}
{% load bootstrap3 %}
<h1>Register your Akvo RSR account</h1>
<form method="post" action="" name="registrationForm">

    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}




    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} {% trans 'Register' %}
        </button>
    {% endbuttons %}

</form>
</body>
</html>