@import url(https://fonts.googleapis.com/css?family=Lato:300&subset=latin);

@keyframes bounceCheck {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.4); }
  100% { transform: scale(1); }
}

.editor{
  
  // padding-top: 50px;
  position: relative;
  .flex-container{
    display: flex;
    flex-direction: row;
  }
  .status-bar{
    position: -webkit-sticky;
    position: sticky;
    height: 50px;
    background-color: #f2f2f2;
    width: 100%;
    top: 55px;
    display: flex;
    line-height: 50px;
    z-index: 911;
    aside.saving-status{
      background: #e6e6e6;
      height: 50px;
      padding: 0 20px;
      .anticon{
        margin-right: 10px;
        color: green;
        font-size: 18px;
      }
      .ant-spin{
        margin-right: 8px;
      }
      .error{
        .anticon{
          color: red;
        }
      }
    }
    .content{
      display: flex;
      flex-direction: row-reverse;
      i{
        opacity: 0.5;
      }
      .ant-btn{
        margin-top: 9px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .validation-bar{
        margin-right: auto;
        margin-left: 30px;
        color: #555;
        font-size: 14px;
        .show-required{
          margin-left: 30px;
          font-size: 12px;
          font-weight: 500;
          cursor: pointer;
          .ant-switch{
            margin-right: 5px;
          }
        }
      }
    }
  }
  aside{
    width: 280px!important;
  }
  aside.main-menu{
    position: absolute;
    top: 50px;
    ul{
      background-color: #f2f2f2;
      padding: 20px 0;
      text-transform: uppercase;
      li{
        &.disabled{
          span{
            opacity: 0.2;
          }
        }
        a{
          position: relative;
          span{
            opacity: 0.4;
            transition: opacity .2s ease-out;
          }
          color: #000;
          display: block;
          line-height: 40px;
          font-weight: 400;
          padding: 0 20px;
          &:hover{
            span{
              opacity: 1;
            }
          }
        }
        .check{
          position: absolute;
          right: 20px;
          top: 2px;
          .anticon{
            font-size: 20px;
            color: #e0e0e0;
            &.checked{
              color: #31c531;
              animation: bounceCheck .4s;
            }
          }
        }
        &.active{
          a{
            font-weight: 400;
            background-color: #e6e6e6;
            span{
              opacity: 1;
            }
            cursor: default;
          }
          .check .anticon:not(.checked){
            color: #bbb;
          }
        }
        .loading{
          position: absolute;
          right: 20px;
          top: 9px;
          width: 20px;height: 20px;
          background-color: #e0e0e0;
          background: linear-gradient(90deg, #e0e0e0 25%, #e9e9e9 37%, #e0e0e0 63%);
          background-size: 400% 100%;
          vertical-align: top;
          animation: ant-skeleton-loading 1.4s ease infinite;
          border-radius: 50%;
        }
      }
    }
  }
  .content{
    flex: 1;
  }
  .main-content{
    margin-left: 280px;
    padding-left: 30px;
  }
  .view:not(.section5){
    margin-right: 230px;
    @media screen and (max-width: 1200px){
      margin-right: 100px;
    }
  }
  // .view.section5{
  //   margin-right: 200px;
  // }
  .alerts{
    width: 280px;
    position: absolute;
    right: 0;
    // padding-left: 30px;
    padding-top: 20px;
    @media screen and (max-width: 1200px){
      width: 200px;
    }
  }

  .ant-form-item-label{
    .anticon{
      margin-left: 6px;
      margin-right: 6px;
    }
    .input-label{
      display: flex;
      .optional{
        opacity: 0.3;
        font-style: italic;
      }
      .more-switches{
        margin-left: auto;
        font-size: 11px;
        .ant-switch{
          margin-left: 5px;
          margin-right: 5px;
        }
        span{
          opacity: 0.65;
        }
      }
    }
  }
  
  
  .ant-col-12{
    .ant-radio-group{
      width: 100%;
      display: flex;
      .ant-radio-button-wrapper{
        flex: 1;
        text-align: center;
      }
    }
  }
  .percentage-row{
    display: flex;
    .ant-form-item{
      margin-bottom: 0;
    }
    .ant-form-item:first-child{
      margin-right: 16px;
    }
    .ant-form-item:last-child{
      flex: 1;
    }
  }
  .percentage-input{
    max-width: 82px;
  }
}

hr{
  border: none;
  background-color: #ccc;
  height: 1px;
  margin: 30px 0;
}

.view {
  padding-top: 20px;

  .ant-btn.bottom-btn{
    margin-bottom: 30px;
  }

  .ant-col-12{
    .ant-input-number{
      display: block;
      width: auto;
    }
  }
  
  .ant-collapse{
    margin-bottom: 20px;
    .ant-collapse-content-box{
      .ant-form>.ant-form-item:last-child, &>.ant-form-item:last-child, &>div>.ant-form-item:last-of-type {
        margin-bottom: 0;
        &+section{
          margin-top: 25px;
        }
        &+.percentage-row{
          margin-top: 25px;
        }
      }
      .ant-form>.ant-row:last-child, &>div>.ant-row:last-child{
        .ant-col .ant-form-item{
          margin-bottom: 0;
        }
      }
      .ant-form-item-control{
        line-height: 1;
      }
    }
  }
}

.switch-suspend.ant-switch-checked{
  background-color: red;
}

