@import url(https://fonts.googleapis.com/css?family=Lato:300&subset=latin);

@keyframes bounceCheck {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.4); }
  100% { transform: scale(1); }
}

.project-view{
  .reports{
    background-color: #f7f7f7;
    padding: 30px 30px 0;
    display: flex;
    align-self: center;
    justify-content: center;
    .loading-container{
      margin-bottom: 30px;
    }
  }
}
.editor{
  
  // padding-top: 50px;
  position: relative;
  .flex-container{
    display: flex;
    flex-direction: row;
  }
  .status-bar{
    position: -webkit-sticky;
    position: sticky;
    height: 50px;
    background-color: #f2f2f2;
    width: 100%;
    top: 55px;
    display: flex;
    line-height: 50px;
    z-index: 911;
    aside.saving-status{
      background: #e6e6e6;
      height: 50px;
      padding: 0 10px 0 20px;
      .anticon{
        margin-right: 10px;
        color: green;
        font-size: 18px;
      }
      .ant-spin{
        margin-right: 8px;
      }
      .error{
        .anticon{
          color: red;
        }
      }
      position: relative;
      overflow: hidden;
      .last-updated{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .content{
      display: flex;
      flex-direction: row-reverse;
      i{
        opacity: 0.5;
      }
      .ant-btn-primary{
        margin-top: 9px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .preview-btn{
        margin-right: 10px;
        margin-left: -5px;
      }
      .ant-btn-group{
        margin-left: 10px;
        margin-right: 10px;
      }
      .validation-bar{
        margin-right: auto;
        margin-left: 30px;
        color: #555;
        font-size: 14px;
        b{
          color: #e55650;
        }
        .ant-switch{
          transform: translateY(-2px);
        }
        .ant-switch-checked{
          background-color: #f74848;
        }
        .all-done{
          color: #52a83a;
          font-weight: 600;
        }
        .all-done-toggle{
          .ant-switch-checked{
            background-color: #63c14a;
          }
        }
        .show-required{
          margin-left: 30px;
          font-size: 12px;
          font-weight: 500;
          cursor: pointer;
          .ant-switch{
            margin-right: 5px;
          }
        }
      }
    }
  }
  aside{
    width: 300px!important;
  }
  aside.main-menu{
    position: absolute;
    top: 50px;
    ul{
      background-color: #f2f2f2;
      padding: 20px 0;
      text-transform: uppercase;
      li{
        &.disabled{
          span{
            opacity: 0.2;
          }
        }
        a{
          position: relative;
          span{
            opacity: 0.4;
            transition: opacity .2s ease-out;
          }
          color: #000;
          display: block;
          line-height: 40px;
          font-weight: 400;
          padding: 0 20px;
          transition: all .2s ease-out;
          &:hover{
            background-color: #e6e6e6;
            span{
              opacity: 1;
            }
            .check .anticon:not(.checked){
              color: #bbb;
            }
          }
        }
        .check{
          position: absolute;
          right: 20px;
          top: 2px;
          .anticon{
            font-size: 20px;
            color: #e0e0e0;
            transition: color .2s ease-out;
            &.checked{
              color: #31c531;
              animation: bounceCheck .4s;
            }
          }
        }
        &.active{
          a{
            font-weight: 400;
            // background-color: #e6e6e6;
            background-color: #828282;
            color: #fff;
            span{
              opacity: 1;
            }
            cursor: default;
          }
          .check .anticon:not(.checked){
            color: #bbb;
          }
          &.checked{
            a{
              background-color: #63c14a;
            }
            .check .anticon{
              color: #fff;
            }
          }
        }
        .loading{
          position: absolute;
          right: 20px;
          top: 9px;
          width: 20px;height: 20px;
          background-color: #e0e0e0;
          background: linear-gradient(90deg, #e0e0e0 25%, #e9e9e9 37%, #e0e0e0 63%);
          background-size: 400% 100%;
          vertical-align: top;
          animation: ant-skeleton-loading 1.4s ease infinite;
          border-radius: 50%;
        }
      }
    }
  }
  .content{
    flex: 1;
  }
  .main-content{
    margin-left: 300px;
    padding-left: 30px;
  }
  .view:not(.section5){
    margin-right: 300px;
    max-width: 620px;
    @media screen and (max-width: 1200px){
      margin-right: 100px;
    }
  }
  // .view.section5{
  //   margin-right: 200px;
  // }
  .right-sidebar{
    width: 190px;
    position: absolute;
    right: 0;
    padding: 7px 10px 10px;
    font-size: 12px;
    top: 66px;
    // background: #f7f7f7;
    text-align: right;
    span{
      opacity: 0.6;
    }
    b{
      font-weight: normal;
    }
    // @media screen and (max-width: 1200px){
    //   width: 200px;
    // }
  }

  h3{
    &::first-letter {
      text-transform: uppercase;
    }
  }
  .ant-collapse-header{
    span{
      display: inline-block;
    }
    span::first-letter {
      text-transform: uppercase;
    }
  }

  
  
  .ant-col-12{
    .ant-radio-group{
      width: 100%;
      display: flex;
      .ant-radio-button-wrapper{
        flex: 1;
        text-align: center;
      }
    }
  }
  .percentage-row{
    display: flex;
    .ant-form-item{
      margin-bottom: 0;
    }
    .ant-form-item:first-child{
      margin-right: 16px;
    }
    .ant-form-item:last-child{
      flex: 1;
    }
  }
  .percentage-input{
    max-width: 82px;
  }
}

.ant-form-item-label{
  .anticon{
    margin-left: 6px;
    margin-right: 6px;
  }
  .input-label{
    display: flex;
    gap: 4px;
    &>div::first-letter {
      text-transform: uppercase;
    }
    .optional{
      opacity: 0.3;
      font-style: italic;
    }
    .more-switches{
      margin-left: auto;
      font-size: 11px;
      .ant-switch{
        margin-left: 5px;
        margin-right: 5px;
      }
      span{
        opacity: 0.65;
      }
    }
  }
}
.ant-collapse-item:not(.ant-collapse-item-active)>.ant-collapse-header.contains-mandatory, .ant-collapse-item .ant-collapse-item:not(.ant-collapse-item-active)>.ant-collapse-header.contains-mandatory{
  border: 1px solid red;
  border-color: red!important;
}
.ant-collapse > .ant-collapse-item.ant-collapse-item-active:last-child > .ant-collapse-header{
  border-radius: 0;
}

hr{
  border: none;
  background-color: #ccc;
  height: 1px;
  margin: 30px 0;
}

.min-required{
  color: #f74848;
  margin-bottom: 10px;
  display: inline-block;
  font-style: italic;
}
.min-required-wrapper{
  display: flex;
  .min-required{
    margin-top: 6px;
    margin-left: 10px;
  }
}

.mandatory-hint{
  font-style: italic;
  margin-left: 5px;
  display: inline-block;
  // opacity: 0.5;
  font-size: 12px;
  // font-weight: 600;
  color: #777;
  &:before{
    content: '• ';
    color: #e55650;
    font-size: 18px;
  }
  b{
    color: #e55650;
    font-size: 14px;
  }
}

.view {
  padding-top: 20px;
  &.custom-fields{
    padding-top: 0;
  }

  .ant-btn.bottom-btn{
    margin-bottom: 30px;
  }

  .ant-col-12{
    .ant-input-number{
      display: block;
      width: auto;
    }
  }
  
  .ant-collapse{
    margin-bottom: 20px;
    .ant-collapse-header{
      display: flex;
      .ant-collapse-extra{
        float: none;
        margin-left: auto;
        align-self: center;
      }
    }
    .ant-collapse-content-box{
      .ant-form>.ant-form-item:last-child, &>.ant-form-item:last-child, &>div>.ant-form-item:last-of-type {
        margin-bottom: 0;
        &+section{
          margin-top: 25px;
        }
        &+.percentage-row{
          margin-top: 25px;
        }
      }
      .ant-form>.ant-row:last-child, &>div>.ant-row:last-child{
        .ant-col .ant-form-item{
          margin-bottom: 0;
        }
      }
      .ant-form-item-control{
        line-height: 1;
      }
    }
  }
}

.switch-suspend.ant-switch-checked{
  background-color: red;
}

