{% load i18n humanize %}
<div class="progress hidden">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio project.funds project.budget 100 %}%">
        <span class="sr-only">{% widthratio project.funds project.budget 100 %}% {% trans 'Complete' %}</span>
    </div>
</div>
<div class="row hidden">
		<div class="col-xs-3 text-left">
			<span class="progress-label-start">{{project.funds|floatformat:0|intcomma}} {{project.currency}}</span></div>
		<div class="col-xs-3 col-xs-offset-5 text-right">
			<span class="progress-label-end">{{project.budget|floatformat:0|intcomma}} {{project.currency}}</span>
		</div>
</div>
<dl class="dl-horizontal topMargin">
	<dt class="totalBudgetLabel">{% trans 'Total Budget' %}:</dt><dd class="currencyAmount">{{project.budget|floatformat:0|intcomma}} {{project.currency}}</dd>
    {% if project.accepts_donations %}
    <dt class="totalBudgetLabel">{% trans 'Funds needed' %}:</dt><dd class="currencyAmount">{{project.funds_needed|floatformat:0|intcomma}} {{project.currency}}</dd>
    {% endif %}
</dl>
{% if project.accepts_donations %}
<div class="text-center donateButton">
	<a href="{% url 'project-donate' project.id %}" class="btn btn-primary">{% trans "Donate" %}</a>
</div>
{% endif %}
