{% load i18n %}

<footer id="project-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <p><span class="detailedInfo"><i class="fa fa-file-text"></i> {% trans "Related documents" %}:</span></p>
                <p>
                    <i class="noItem">{% trans "No related documents" %}</i>
{#                    {% for doc in project.documents.all %}#}
{#                        {{doc.show_link|safe}}<br>#}
{#                    {% empty %}#}
{#                        <i class="noItem">{% trans "No related documents" %}</i>#}
{#                    {% endfor %}#}
                </p>
            </div>
            <div class="col-sm-6 col-md-3">
                <p><span class="detailedInfo"><i class="fa fa-external-link"></i> {% trans "Related links" %}:</span></p>
                <p>
                    {% for link in project.links.all %}
                        {{link.show_link|safe}}<br>
                    {% empty %}
                        <i class="noItem">{% trans "No related links" %}</i>
                    {% endfor %}
                </p>
            </div>
            <div class="col-sm-6 col-md-3">
                <p><span class="detailedInfo"><i class="fa fa-tachometer"></i> {% trans "Widgets" %}:</span></p>
                <p><a href="{% url 'project-widgets' project.pk %}">{% trans 'Grab a widget' %}</a></p>
            </div>
            <div class="hidden-xs col-sm-6 col-md-3" id="project-footer-right">

                <p><span class="detailedInfo">{% trans "Export data" %}:</span></p>
                <p>
                    <div class="col-sm-6">
                        <a href="{% url 'rss_project_updates' project.id %}"><i class="fa fa-rss"></i> {% trans "RSS" %}</a><br/>
                    </div>
                    <div class="col-sm-6">
                        <a href="{% url 'project_extra-detail' project.id 'json' %}"><i class="fa fa-share-alt"></i> {% trans "JSON" %}</a><br/>
                    </div>
                </p>

            </div>
        </div>
    </div>
</footer>
