{% load i18n %}

<footer id="project-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <p><span class="detailedInfo"><i class="fa fa-file-text"></i> {% trans "Related documents" %}:</span></p>
                <p>
                      {% for doc in related_documents %}
                          {{doc.show_link|safe}}<br>
                      {% empty %}
                          <i class="noItem">{% trans "No related documents" %}</i>
                      {% endfor %}
                </p>
            </div>
            <div class="col-sm-6 col-md-3">
                <p><span class="detailedInfo"><i class="fa fa-external-link"></i> {% trans "Related links" %}:</span></p>
                <p>
                    {% for link in project.links.all %}
                        {{link.show_link|safe}}<br>
                    {% empty %}
                        <i class="noItem">{% trans "No related links" %}</i>
                    {% endfor %}
                </p>
            </div>
            <div class="col-sm-6 col-md-3">
                <p><span class="detailedInfo"><i class="fa fa-tachometer"></i> {% trans "Widgets" %}:</span></p>
                <p><a href="{% url 'project-widgets' project.pk %}">{% trans 'Grab a widget' %}</a></p>
            </div>
            <div class="col-sm-6 col-md-3">
                <p><span class="detailedInfo"><i class="fa fa-cloud-download"></i> {% trans "Export data" %}:</span></p>
                <p>
                    <a href="{% url 'rss_project_updates' project.id %}">{% trans "RSS" %}</a><br/>
                    <a href="{% url 'project_extra-detail' 'v1' project.id 'json' %}">{% trans "JSON" %}</a>
                </p>
            </div>
        </div>
    </div>
</footer>
