{% load i18n maps rsr_utils rules %}

<header class="projectHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>
                    <a href="{% url 'project-main' project.pk %}"><i class="fa {% if not project.is_public %}fa-lock{% else %}fa-folder-o{% endif %}"></i> {{project.title}}</a>
                    {% has_perm 'rsr.change_project' user project as can_edit_project %}
                    {% if can_edit_project %}
                    <a title="Edit Project" alt="Edit Project"
                       href="{% url 'project_editor' project.pk %}"><i class="fa fa-pencil"></i></a>
                    {% endif %}
                </h1>
                <p>{{project.subtitle}}</p>
                <div class="projectLocation">
                        <p class="small"><span class="glyphicon glyphicon-globe"></span>
                        {% for recipient_country in project.recipient_countries.all %}
                            {{ recipient_country }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            {% trans 'No recipient countries specified' %}
                        {% endfor %}
                        <a href="#" onclick="maptoggle()" class="map-toggle">{% trans 'Show map' %} +</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-4 shareBlock">
                <div class="row">
                    <nav>
                        <div class="col-xs-12">
                            <a href="#" class="btn btn-default hidden"><i class="fa fa-lightbulb-o"></i> {% trans 'Follow project' %}</a>
                            {% if not no_facebook %}
                            <a id="btn-fbShare" class="btn btn-default" href="#" onclick="
                            window.open(
                              'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
                              'facebook-share-dialog',
                              'width=626,height=436');
                            return false;"><i class="fa fa-facebook-official fa-lg"></i> {% trans 'Share' %}</a>
                            {% endif %}
                            {% if not no_twitter %}
                            <a id="btn-twShare" class="btn btn-default" href="#" onclick="
                            window.open(
                              'https://twitter.com/intent/tweet?text={% if update %}%22{{update.title|urlencode}}%22{% if update.user.first_name and update.user.last_name %} by {{update.user.first_name|urlencode}} {{update.user.last_name|urlencode}}{% endif %} - {% endif %}{{project.title|urlencode}}&url=http://{{request.META.HTTP_HOST}}{{request.path}}&via=Akvo&hashtags=AkvoRSR',
                              'twitter-share-dialog',
                              'width=626,height=436');
                            return false;"><i class="fa fa-twitter-square fa-lg"></i> {% trans 'Share' %}</a>
                            {% endif %}
                        </div>
                        {% if not rsr_page and project.keyword_logos or rsr_page and rsr_page.show_keyword_logos and project.keyword_logos %}
                            <div class="col-xs-12">
                                {% for keyword in project.keyword_logos|slice:":2" %}
                                    {% img keyword 125 60 keyword.label %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
        <div style="display: None" id="project-map" class="row initial">
          {# locations_map project '100%' '300px' #}
            {% project_map project.id '100%' '300px' %}
        </div>
    </div>
</header>

<script type="text/javascript">
 function maptoggle() {
   if ($( "#project-map" ).css('display') == 'none') {
     $( "#project-map" ).slideToggle('slow');
     if ($('#project-map').hasClass('initial')) {
       googleMap.load();
       $( "#project-map" ).removeClass('initial');
     }
     $('.map-toggle').html('{% trans 'Hide map' %} -');
   } else {
     $( "#project-map" ).slideToggle('slow');
     $('.map-toggle').html('{% trans 'Show map' %} +');
   }
 };
</script>
