.descriptions.view{
  .desc-label{
    display: flex;
    span::first-letter {
      text-transform: uppercase;
    }
    .ant-btn-group{
      margin-left: auto;
    }
  }
  [class*="EditorToolbar"]{
    position: sticky;
    position: -webkit-sticky;
    top: 105px;
    background-color: #fff;
    z-index: 2;
  }
}
.add-description-modal{
  .ant-btn{
    text-align: left;
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
  .desc-block{
    border-bottom: 1px dashed #ccc;
    margin-bottom: 15px;
    button span::first-letter {
      text-transform: uppercase;
    }
  }
  p{
    font-size: 12px;
    opacity: 0.7;
  }
}