{% load compressed i18n rsr_utils rsr_tags rules rsr_filters humanize markup_tags %}
<div class="project-tab finance" style="display: none;">
<article class="touch-navbar project-container">
  <section class="projectFinancial">
    <div class="container">
      <div class="row verticalPadding">
              <div class="col-sm-4">
                  <h4 class="">{% trans "Project budget" %}:</h4>
                  <dl class="dl-horizontal">
                      {% for budget_item in project.budget_items.all %}
                          {% if budget_item.label.label == 'Other' and budget_item.other_extra %}
                              <dt class="budgetItem">{{budget_item.other_extra}}{% if budget_item.type %} ({% if budget_item.type == '1' %}{% trans 'Original' %}{% else %}{% trans 'Revised' %}{% endif %}){% endif %}:</dt><dd class="currencyAmount budgetItem">{{budget_item.amount|floatformat:0|intcomma}}<span class="currency"> {{project.currency}}</span></dd>
                          {% else %}
                              <dt class="budgetItem">{{budget_item.label.label}}{% if budget_item.type %} ({% if budget_item.type == '1' %}{% trans 'Original' %}{% else %}{% trans 'Revised' %}{% endif %}){% endif %}:</dt><dd class="budgetItem currencyAmount">{{budget_item.amount|floatformat:0|intcomma}}<span class="currency"> {{project.currency}}</span></dd>
                          {% endif %}
                          {% if budget_item.period_start or budget_item.period_end %}
                              <dt class="budgetPeriod">{% trans "Budget period" %}:</dt><dd class="budgetPeriod currencyAmount">{% if budget_item.period_start %}{{budget_item.period_start|date:"d-M-Y"}}{% if budget_item.period_end %} - {% endif %}{% endif %}{% if budget_item.period_end %}{{budget_item.period_end|date:"d-M-Y"}}{% endif %}</dd>
                          {% endif %}
                      {% endfor %}
                      <dt class="totalFinance">{% trans "Total" %}:</dt><dd class="totalFinance currencyAmount">{{project.budget|floatformat:0|intcomma}}<span class="currency"> {{project.currency}}</span></dd>
                  </dl>
              </div>
              <div class="col-sm-4 currentFunders">
                  <h4 class="">{% trans "Current funders" %}:</h4>
                  <dl class="dl-horizontal">
                      {% for partnership in project.funding_partnerships %}
                          {% if partnership.organisation %}
                          <dt class="funders"><a href="{% url 'organisation-main' partnership.organisation.pk %}">{% img partnership.organisation 80 60 partnership.organisation.name %}</a></dt>
                          {% else %}
                          <dt class="funders"><img src="/static/images/default-org-logo.jpg" class="unknownFunderLogo"></dt>
                          {% endif %}
                          <dd class="funders">
                              {% if partnership.organisation %}
                              <a href="{% url 'organisation-main' partnership.organisation.pk %}">{{partnership.organisation}}</a>
                              {% else %}
                              <span class="unknownFunder">{% trans "Unknown organisation" %}</span>
                              {% endif %}
                              {% if partnership.funding_amount %}
                                  <br/>
                                  {{partnership.funding_amount|floatformat:0|intcomma}}<span class="currency"> {{project.currency}}</span>
                              {% endif %}
                              {% if partnership.iati_activity_id %}
                                  <br/>
                                  <span class="iati-activity-id">({{ partnership.iati_activity_id }})</span>
                              {% endif %}
                          </dd>
                      {% empty %}
                          <dt>{% trans 'No funders' %}</dt><dd></dd>
                      {% endfor %}
                      {% if pledged %}
                          <dt class="totalFinance">{% trans "Total" %}:</dt><dd class="totalFinance currencyAmount">{{pledged|floatformat:0|intcomma}}<span class="currency"> {{project.currency}}</span></dd>
                      {% endif %}
                  </dl>
                  <h4>{% trans "Donations" %}:</h4>
                  <dl class="dl-horizontal">
                      {% for donation in project.all_donations %}
                      <dt class="donation">{% if donation.is_anonymous %}{% trans "Anonymous" %}{% else %}{{donation.name}}{% endif %}:</dt><br class="donationBreak"><dd class="currencyAmount donation"><span class="currency"> ({% trans "excl. fee" %}: </span>{{donation.donation_fee|floatformat:0|intcomma}}<span class="currency"> {{project.currency}})</span> {{donation.amount_received|floatformat:0|intcomma}}<span class="currency"> {{project.currency}}</span></dd>
                      {% empty %}
                      <dt>{% trans "No donations" %}</dt><dd></dd>
                      {% endfor %}
                      {% if project.all_donations %}
                      <dt class="totalFinance">{% trans "Total" %}:</dt><dd class="totalFinance currencyAmount">{{project.all_donations_amount_received|floatformat:0|intcomma}}<span class="currency"> {{project.currency}}</span></dd>
                      {% endif %}
                  </dl>
              </div>
              <div class="col-sm-4">
                  <h4 class="">{% trans "Project funding" %}:</h4>
                  <dl class="dl-horizontal">
                      <dt>{% trans "Current funders" %}:</dt><dd class="currencyAmount">{% if pledged %}{{pledged|floatformat:0|intcomma}}{% else %}0{% endif %}<span class="currency"> {{project.currency}}</span></dd>
                      <dt>{% trans "Donations" %}:</dt><dd class="currencyAmount">{% if project.all_donations_amount_received %}{{project.all_donations_amount_received|floatformat:0|intcomma}}{% else %}0{% endif %}<span class="currency"> {{project.currency}}</span></dd>
                      <hr>
                      <dt>{% trans "Total funded" %}:</dt><dd class="currencyAmount">{{project.funds|floatformat:0|intcomma}}<span class="currency"> {{project.currency}}</span></dd>
                      <dt>{% trans "Project budget" %}:</dt><dd class="currencyAmount">{{project.budget|floatformat:0|intcomma}}<span class="currency"> {{project.currency}}</span></dd>
                      <dt class="totalFinance">{% trans "Funds needed" %}:</dt>
                      <dd class="totalFinance currencyAmount">
                          {% if project.funds_needed >= 0 %}{{project.funds_needed|floatformat:0|intcomma}}{% else %}0{% endif %}<span class="currency"> {{project.currency}}</span>
                      </dd>
                  </dl>
              </div>
    </div>
    <div class="row verticalPadding">
        <h4 class="">{% trans "Project transactions" %}:</h4>
              {% if project.transactions.all %}
              <dl class="dl-horizontal">
                  {% for transaction in project.transactions.all %}
                  <dt>{% if transaction.description %}{{transaction.description}}{% else %}{{transaction.iati_transaction_type}}{% endif %}:</dt><dd class="currencyAmount">{{transaction.value|floatformat:0|intcomma}}<span class="currency"> {{project.currency}}</span></dd>
                  {% endfor %}
              </dl>
              {% else %}
        <p class="small noInfoBlock"><i class="noItem">{% trans "No transactions for this project" %}</i></p>
              {% endif %}
    </div>
    </div>
  </section>
  </article>
</div>
