{% load compressed i18n rsr_utils rsr_tags rules rsr_filters humanize markup_tags %}
<div class="project-tab partners" style="display: none;">
<article class="touch-navbar project-container">
  <section class="projectPartners">
    <div class="container">
      {% for partner, partner_types in partners.items %}
          <div class="row verticalPadding projectPartners">
            <div class="col-sm-2 img">
              <a href='{% url 'organisation-main' partner.id %}'>{% img partner 120 120 partner.name %}</a>
            </div>
            <div class="col-sm-6">
              <a href='{% url 'organisation-main' partner.id %}' class="org-link">
                <i class="fa fa-users"></i>
                <h2>{{ partner.name }}</h2>
              </a>
            </div>
            <div class="col-sm-4">
              <h4 class="detailedInfo">{% trans "Roles" %}</h4>
              <ul>
                {% for type in partner_types %}
                  <li>
                    {{ type }}{% if not forloop.last %},{% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
      {% endfor %}
    </div>
  </section>
</article>
</div>
