{% load compressed i18n rsr_utils rsr_tags rules rsr_filters humanize markup_tags %}
<div class="project-tab report" style="display: none;">
  <article class="touch-navbar project-container projectReport">
      <div class="container">
              <div class="row">
                  <div class="col-sm-6">
                      <h4>{% trans "Identifiers" %}</h4>
                      <table class="table table-striped table-bordered table-responsive">
                          <tbody>
                              <tr>
                                  <th scope="row">{% trans "IATI Activity ID" %}</th>
                                  <td>{{project.iati_activity_id}}</td>
                              </tr>
                              {% for partnership in project.partnerships.all %}
                              {% if partnership.internal_id %}
                              <tr>
                                  <th scope="row">{{partnership.organisation}} {% trans "ID" %}</th>
                                  <td>{{partnership.internal_id}}</td>
                              </tr>
                              {% endif %}
                              {% endfor %}
                              <tr>
                                  <th scope="row">{% trans "RSR ID" %}</th>
                                  <td>{{project.pk}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="col-sm-6">
                      <h4>{% trans "Activity dates and status" %}</h4>
                      <table class="table table-striped table-bordered table-responsive">
                          <tbody>
                              <tr>
                                  <th scope="row">{% trans "Status" %}</th>
                                  <td>{{project.get_status_display}}</td>
                              </tr>
                              <tr>
                                  <th scope="row">{% trans "Planned Start Date" %}</th>
                                  <td>{{project.date_start_planned|default_if_none:""}}</td>
                              </tr>
                              <tr>
                                  <th scope="row">{% trans "Planned End Date" %}</th>
                                  <td>{{project.date_end_planned|default_if_none:""}}</td>
                              </tr>
                              <tr>
                                  <th scope="row">{% trans "Actual Start Date" %}</th>
                                  <td>{{project.date_start_actual|default_if_none:""}}</td>
                              </tr>
                              <tr>
                                  <th scope="row">{% trans "Actual End Date" %}</th>
                                  <td>{{project.date_end_actual|default_if_none:""}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
              {% if project.has_relations %}
              <h4>{% trans "Related activities" %}</h4>
              <table class="table table-striped table-bordered table-responsive">
                  <thead>
                      <tr>
                          <th>{% trans "Relation" %}</th>
                          <th>{% trans "Activity" %}</th>
                          <th>{% trans "IATI ID" %}</th>
                          <th>{% trans "RSR ID" %}</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for parent in project.parents %}
                          <tr>
                              <td>1 - {% trans "Parent" %}</td>
                              <td><a href="{% url 'project-main' parent.pk %}">{{parent.title}}</a></td>
                              <td>{{parent.iati_activity_id}}</td>
                              <td>{{parent.pk}}</td>
                          </tr>
                      {% endfor %}
                      {% for child in project.children %}
                          <tr>
                              <td>2 - {% trans "Child" %}</td>
                              <td><a href="{% url 'project-main' child.pk %}">{{child.title}}</a></td>
                              <td>{{child.iati_activity_id}}</td>
                              <td>{{child.pk}}</td>
                          </tr>
                      {% endfor %}
                      {% for sibling in project.siblings %}
                          <tr>
                              <td>3 - {% trans "Sibling" %}</td>
                              <td><a href="{% url 'project-main' sibling.pk %}">{{sibling.title}}</a></td>
                              <td>{{sibling.iati_activity_id}}</td>
                              <td>{{sibling.pk}}</td>
                          </tr>
                      {% endfor %}
                      {% for related_project in project.related_projects.all %}
                          {% if not related_project.related_project %}
                              <tr>
                                  <td>{{related_project.iati_relation}}</td>
                                  <td></td>
                                  <td>{{related_project.related_iati_id}}</td>
                                  <td></td>
                              </tr>
                          {% endif %}
                      {% endfor %}
                  </tbody>
              </table>
              {% endif %}
              <h4>{% trans "Descriptions" %}</h4>
              <table class="table table-striped table-bordered table-responsive">
                  <tbody>
                      <tr>
                          <th scope="row">{% trans "Project Plan" %}</th>
                          <td>{{project.project_plan}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Goals Overview" %}</th>
                          <td>{{project.goals_overview}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Target Group" %}</th>
                          <td>{{project.target_group}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Summary of Project Plan" %}</th>
                          <td>{{project.project_plan_summary}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Background" %}</th>
                          <td>{{project.background}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Situation at start of project" %}</th>
                          <td>{{project.current_status}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Sustainability" %}</th>
                          <td>{{project.sustainability}}</td>
                      </tr>
                      {% if project.keywords.all %}
                      <tr>
                          <th scope="row">{% trans "Keywords" %}</th>
                          <td>{% for keyword in project.keywords.all %}{% if not forloop.first %}, {% endif %}{{keyword}}{% endfor %}</td>
                      </tr>
                      {% endif %}
                  </tbody>
              </table>
              {% if project.recipient_countries.all %}
              <h4>{% trans "Recipient Countries" %}</h4>
              <table class="table table-striped table-bordered table-responsive">
                  <thead>
                      <tr>
                          <th>{% trans "Country" %}</th>
                          <th>{% trans "Percentage" %}</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for country in project.recipient_countries.all %}
                      <tr>
                          <td>{{country.iati_country}}</td>
                          <td>{% if country.percentage %}{{country.percentage}}%{% endif %}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              {% endif %}
              {% if project.recipient_regions.all %}
              <h4>{% trans "Recipient Regions" %}</h4>
              <table class="table table-striped table-bordered table-responsive">
                  <thead>
                      <tr>
                          <th>{% trans "Code" %}</th>
                          <th>{% trans "Region" %}</th>
                          <th>{% trans "Percentage" %}</th>
                          <th>{% trans "Vocabulary" %}</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for region in project.recipient_regions.all %}
                      <tr>
                          <td>{{region.region}}</td>
                          <td>{{region.iati_region}}</td>
                          <td>{% if region.percentage %}{{region.percentage}}%{% endif %}</td>
                          <td>{{region.iati_vocabulary}}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              {% endif %}
              {% if project.locations.all %}
              <h4>{% trans "Locations" %}</h4>
                  <table class="table table-striped table-bordered locationTab">
                      <thead>
                          <tr>
                              <th>{% trans "Latitude" %}</th>
                              <th>{% trans "Longitude" %}</th>
                              <th>{% trans "Country" %}</th>
                              <th>{% trans "Reference" %}</th>
                              <th>{% trans "Description" %}</th>
                              <th>{% trans "City" %}</th>
                              <th>{% trans "State" %}</th>
                              <th>{% trans "Address 1" %}</th>
                              <th>{% trans "Address 2" %}</th>
                              <th>{% trans "Postal code" %}</th>
                              <th>{% trans "Reach" %}</th>
                              <th>{% trans "Exactness" %}</th>
                              <th>{% trans "Class" %}</th>
                              <th>{% trans "Designation" %}</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for location in project.locations.all %}
                          <tr>
                              <td>{{location.latitude}}</td>
                              <td>{{location.longitude}}</td>
                              <td>{% if location.country %}{{location.country.name}}{% endif %}</td>
                              <td>{{location.reference}}</td>
                              <td>{{location.description}}</td>
                              <td>{{location.city}}</td>
                              <td>{{location.state}}</td>
                              <td>{{location.address1}}</td>
                              <td>{{location.address2}}</td>
                              <td>{{location.postcode}}</td>
                              <td>{{location.iati_reach}}</td>
                              <td>{{location.iati_exactness}}</td>
                              <td>{{location.iati_class}}</td>
                              <td>{{location.iati_designation}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              {% endif %}
              {% if project.sectors.all %}
              <h4>{% trans "Sectors" %}</h4>
              <table class="table table-striped table-bordered table-responsive">
                  <thead>
                      <tr>
                          <th>{% trans "Sector" %}</th>
                          <th>{% trans "Code" %}</th>
                          <th>{% trans "Percentage" %}</th>
                          <th>{% trans "Vocabulary" %}</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for sector in project.sectors.all %}
                      <tr>
                          <td>{{sector.iati_sector|title}}</td>
                          <td>{{sector.sector_code}}</td>
                          <td>{% if sector.percentage %}{{sector.percentage}}%{% endif %}</td>
                          <td>{{sector.iati_vocabulary}}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              {% endif %}
              {% if project.policy_markers.all %}
              <h4>{% trans "Policy Markers" %}</h4>
              <table class="table table-striped table-bordered table-responsive">
                  <thead>
                      <tr>
                          <th>{% trans "Policy Marker" %}</th>
                          <th>{% trans "Significance" %}</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for marker in project.policy_markers.all %}
                      <tr>
                          <td>{{marker.iati_policy_marker|title}}</td>
                          <td>{{marker.iati_significance|title}}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              {% endif %}
              <h4>{% trans "Project currency" %}</h4>
              <table class="table table-striped table-bordered table-responsive">
                  <tbody>
                      <tr>
                          <th scope="row">{% trans "Currency" %}</th>
                          <td>{{project.currency}}</td>
                      </tr>
                  </tbody>
              </table>
              {% if project.country_budget_items.all %}
              <h4>{% trans "Country Budget Items" %}</h4>
              <table class="table table-striped table-bordered table-responsive">
                  <thead>
                      <tr>
                          <th>{% trans "Description" %}</th>
                          <th>{% trans "Code" %}</th>
                          <th>{% trans "Percentage" %}</th>
                          <th>{% trans "Vocabulary" %}</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for budget_item in project.country_budget_items.all %}
                      <tr>
                          <td>{{budget_item.description}}</td>
                          <td>{{budget_item.iati_code|title}}</td>
                          <td>{% if budget_item.percentage %}{{budget_item.percentage}}%{% endif %}</td>
                          <td>{{budget_item.iati_vocabulary}}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              {% endif %}
              {% if project.budget_items.all %}
              <h4>{% trans "Product Budget Items" %}</h4>
                  <table class="table table-striped table-bordered table-responsive">
                      <thead>
                          <tr>
                              <th>{% trans "Label" %}</th>
                              <th>{% trans "Type" %}</th>
                              <th>{% trans "Value" %}</th>
                              <th>{% trans "Currency" %}</th>
                              <th>{% trans "Start Date" %}</th>
                              <th>{% trans "End Date" %}</th>
                              <th>{% trans "Value Date" %}</th>
                              <th>{% trans "Original/ Revised" %}</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for budget_item in project.budget_items.all %}
                          <tr>
                              {% if 'Other' in budget_item.label.label and budget_item.other_extra %}
                                  <td>{{budget_item.other_extra}}</td>
                              {% else %}
                                  <td>{{budget_item.label}}</td>
                              {% endif %}
                              <td>{{budget_item.iati_type}}</td>
                              <td>{{budget_item.amount}}</td>
                              <td>{{budget_item.iati_currency}}</td>
                              <td>{{budget_item.period_start|default_if_none:""}}</td>
                              <td>{{budget_item.period_end|default_if_none:""}}</td>
                              <td>{{budget_item.value_date|default_if_none:""}}</td>
                              <td>{{budget_item.iati_type}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              {% endif %}

              {% if project.planned_disbursements.all %}
              <h4>{% trans "Planned Disbursements" %}</h4>
                  <table class="table table-striped table-bordered table-responsive">
                      <thead>
                          <tr>
                              <th>{% trans "Value" %}</th>
                              <th>{% trans "Currency" %}</th>
                              <th>{% trans "Start Date" %}</th>
                              <th>{% trans "End Date" %}</th>
                              <th>{% trans "Value Date" %}</th>
                              <th>{% trans "Original/ Revised" %}</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for pd in project.planned_disbursements.all %}
                          <tr>
                              <td>{{pd.value}}</td>
                              <td>{{pd.iati_currency}}</td>
                              <td>{{pd.period_start|default_if_none:""}}</td>
                              <td>{{pd.period_end|default_if_none:""}}</td>
                              <td>{{pd.value_date|default_if_none:""}}</td>
                              <td>{{pd.iati_type}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              {% endif %}

              {% if project.transactions.all %}
              <h4>{% trans "Transactions" %}</h4>
                  <table class="table table-striped table-bordered table-responsive">
                      <thead>
                          <tr>
                              <th>{% trans "Reference" %}</th>
                              <th>{% trans "Value" %}</th>
                              <th>{% trans "Currency" %}</th>
                              <th>{% trans "Type" %}</th>
                              <th>{% trans "Date" %}</th>
                              <th>{% trans "Value Date" %}</th>
                              <th>{% trans "Description" %}</th>
                              <th>{% trans "Provider Organisation" %}</th>
                              <th>{% trans "Provider ID" %}</th>
                              <th>{% trans "Provider Activity ID" %}</th>
                              <th>{% trans "Recipient Organisation" %}</th>
                              <th>{% trans "Recipient ID" %}</th>
                              <th>{% trans "Recipient Activity ID" %}</th>
                              <th>{% trans "Disbursement Channel" %}</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for trans in project.transactions.all %}
                          <tr>
                              <td>{{trans.reference}}</td>
                              <td>{{trans.value}}</td>
                              <td>{{trans.iati_currency}}</td>
                              <td>{{trans.iati_transaction_type}}</td>
                              <td>{{trans.transaction_date|default_if_none:""}}</td>
                              <td>{{trans.value_date|default_if_none:""}}</td>
                              <td>{{trans.description}}</td>
                              <td>{{trans.provider_organisation}}</td>
                              <td>{{trans.provider_organisation_ref}}</td>
                              <td>{{trans.provider_organisation_activity}}</td>
                              <td>{{trans.receiver_organisation}}</td>
                              <td>{{trans.receiver_organisation_ref}}</td>
                              <td>{{trans.receiver_organisation_activity}}</td>
                              <td>{{trans.iati_disbursement_channel}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              {% endif %}

{#              {% if project.links.all or project.documents.all %}#}
{#              <h4>{% trans "Activity links" %}</h4>#}
{#              <table class="table table-striped table-bordered table-responsive">#}
{#                  <tbody>#}
{#                      {% for link in project.links.all %}#}
{#                      <tr>#}
{#                          <th scope="row">{% trans "Link" %}</th>#}
{#                          <td>{{link|safe}}</td>#}
{#                      </tr>#}
{#                      {% endfor %}#}
{#                      {% for doc in project.documents.all %}#}
{#                      <tr>#}
{#                          <th scope="row">{% trans "Document" %}</th>#}
{#                          <td>{{doc|safe}}</td>#}
{#                      </tr>#}
{#                      {% endfor %}#}
{#                  </tbody>#}
{#              </table>#}
{#              {% endif %}#}

              {% if project.conditions.all %}
              <h4>{% trans "Conditions" %}</h4>
              <table class="table table-striped table-bordered table-responsive">
                  <thead>
                      <tr>
                          <th>{% trans "Condition" %}</th>
                          <th>{% trans "Type" %}</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for condition in project.conditions.all %}
                      <tr>
                          <td>{{condition.text}}</td>
                          <td>{{condition.iati_type}}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              {% endif %}
              {% if project.has_results %}
              <h4>{% trans "Results" %}</h4>
              <table class="table table-striped table-bordered table-responsive">
                  <thead>
                      <tr>
                          <th>{% trans "Result" %}</th>
                          <th>{% trans "Type" %}</th>
                          <th>{% trans "Aggregation Status" %}</th>
                          <th>{% trans "Description" %}</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for result in project.results.all %}
                      {% if result.has_info %}
                      <tr>
                          <td>{{result.title}}</td>
                          <td>{{result.iati_type}}</td>
                          <td>{{result.aggregation_status|yesno:"Yes,No,"}}</td>
                          <td>{{result.description}}</td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                  </tbody>
              </table>
              {% endif%}

              {% if project.has_indicators %}
              <h4>{% trans "Indicators" %}</h4>
                  <table class="table table-striped table-bordered table-responsive">
                      <thead>
                          <tr>
                              <th>{% trans "Indicator" %}</th>
                              <th>{% trans "Measure" %}</th>
                              <th>{% trans "Ascending" %}</th>
                              <th>{% trans "Baseline" %}</th>
                              <th>{% trans "Period Start" %}</th>
                              <th>{% trans "Period End" %}</th>
                              <th>{% trans "Target Value" %}</th>
                              <th>{% trans "Actual Value" %}</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for result in project.results.all %}
                          {% for indicator in result.indicators.all %}
                          <tr>
                              <td>{{indicator.title}}</td>
                              <td>{{indicator.iati_measure}}</td>
                              <td>{{indicator.ascending|yesno:"Ascending,Descending,"}}</td>
                              <td>{% if indicator.baseline_year %}{% trans "In" %}: {{indicator.baseline_year}}{% endif %}
                                  {{indicator.baseline_value}}
                                  {% if indicator.baseline_comment %}({{indicator.baseline_comment}}){% endif %}
                              </td>
                              {% for period in indicator.periods.all %}
                              {% if not forloop.first %}
                              <tr><td></td><td></td><td></td><td></td>
                              {% endif %}
                              <td>{{period.period_start|default_if_none:""}}</td>
                              <td>{{period.period_end|default_if_none:""}}</td>
                              <td>{{period.target_value}}</td>
                              <td>{{period.actual_value}}</td>
                              {% empty %}
                              <td></td><td></td><td></td><td></td>
                              {% endfor %}
                          </tr>
                          {% endfor %}
                          {% endfor %}
                      </tbody>
                  </table>
              {% endif %}

              <h4>{% trans "Reporting Organisation" %}</h4>
              {% with reporting_partner=project.reporting_partner %}
              <table class="table table-striped table-bordered table-responsive reportingOrganisation">
                  <tbody>
                      <tr>
                          <th scope="row">{% trans "Name" %}</th>
                          <td>{{reporting_partner.organisation.name}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "IATI ID" %}</th>
                          <td>{{reporting_partner.organisation.iati_org_id|default_if_none:""}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Type" %}</th>
                          <td>{{reporting_partner.organisation.iati_org_type}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Secondary Reporter" %}?</th>
                          <td>{{reporting_partner.is_secondary_reporter|yesno:"Yes,No"}}</td>
                      </tr>
                  </tbody>
              </table>
              {% endwith %}

              <h4>{% trans "Participating Organisations" %}</h4>
              {% for partner, info in project.partners_info.items %}
              <table class="table table-striped table-bordered table-responsive participatingOrganisations">
                  <tbody>
                      <tr>
                          <th scope="row">{% trans "Name" %}</th>
                          <td>{{partner.name}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "IATI ID" %}</th>
                          <td>{{partner.iati_org_id|default_if_none:""}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Type" %}</th>
                          <td>{{partner.iati_org_type}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Role" %}</th>
                          <td>{% for ps in info.0 %}{% if not forloop.first %}, {% endif %}{{ps.iati_organisation_role_label|default_if_none:""}}{% endfor %}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "RSR ID" %}</th>
                          <td>{{partner.pk}}</td>
                      </tr>
                      {% if info.1 %}
                      <tr>
                          <th scope="row">{% trans "RSR Funding Amount" %}</th>
                          <td>{{info.1}}</td>
                      </tr>
                      {% endif %}
                  </tbody>
              </table>
              {% endfor %}

              {% if project.contacts.all %}
              <h4>{% trans "Contact Details" %}</h4>
              {% for contact in project.contacts.all %}
              <table class="table table-striped table-bordered table-responsive">
                  <tbody>
                      <tr>
                          <th scope="row">{% trans "Organisation" %}</th>
                          <td>{{contact.organisation}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Department" %}</th>
                          <td>{{contact.department}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Name" %}</th>
                          <td>{{contact.person_name}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Job Title" %}</th>
                          <td>{{contact.job_title}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Telephone" %}</th>
                          <td>{{contact.telephone}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Email" %}</th>
                          <td>{{contact.email}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Website" %}</th>
                          <td><a href="{{contact.website}}" target="_blank">{{contact.website}}</a></td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Address" %}</th>
                          <td>{{contact.mailing_address}}</td>
                      </tr>
                  </tbody>
              </table>
              {% endfor %}
              {% endif %}

              {% if project.project_scope or project.collaboration_type or project.default_flow_type or project.default_finance_type or project.default_tied_status or project.default_aid_type %}
              <h4>{% trans "Additional Details" %}</h4>
              <table class="table table-striped table-bordered table-responsive">
                  <tbody>
                      <tr>
                          <th scope="row">{% trans "Activity Scope" %}</th>
                          <td>{{project.iati_project_scope|title}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Collaboration Type" %}</th>
                          <td>{{project.iati_collaboration_type|title}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Default Flow Type" %}</th>
                          <td>{{project.iati_default_flow_type|title}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Default Finance Type" %}</th>
                          <td>{{project.iati_default_finance_type}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Default Tied Status" %}</th>
                          <td>{{project.iati_default_tied_status}}</td>
                      </tr>
                      <tr>
                          <th scope="row">{% trans "Default Aid Type" %}</th>
                          <td>{{project.iati_default_aid_type}}</td>
                      </tr>
                  </tbody>
              </table>
              {% endif %}
  </div>
  </article>
</div>
