{% load i18n rsr_utils rsr_tags humanize %}

<div class="project-tab summary">
    <article class="touch-navbar project-container">
        <div class="container">
            {% if not project.is_public %}
                <div id="draft" class="row">
                    {% trans 'This is a private project. It can only be seen by affiliated organisation members.' %}
                </div>
            {% elif not project.is_published %}
                <div id="draft" class="row">
                    {% trans 'This is a draft view of the project. It can only be seen by Administrators and Project editors.' %}
                </div>
            {% endif %}
        </div>
        <div class="projectTopRow">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div id="carousel"></div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1">
                        <aside class="projectSideInfo">
                            <ul>
                                <li>
                                    <span class="detailedInfo">{% trans 'Project summary' %}</span>
                                    <p id="summary-truncated">
                                        {{ project.project_plan_summary|truncatechars:450 }}
                                        {% ifnotequal project.project_plan_summary project.project_plan_summary|truncatechars:450 %}
                                            <a class="read-more">{% trans 'Read more' %}</a>
                                        {% endifnotequal %}
                                    </p>
                                    <p id="summary-full" class="hidden">
                                        {{ project.project_plan_summary }} <a class="read-less">{% trans 'Fold in' %}</a>
                                    </p>
                                </li>
                                {% if project.iati_activity_id %}
                                    <li>
                                        <span class="detailedInfo">{% trans 'IATI ID' %}</span>
                                        {{ project.iati_activity_id }}
                                    </li>
                                {% endif %}
                                {% if project.iati_status or project.date_start_planned or project.date_start_actual or project.date_end_planned or project.date_end_actual %}
                                    <li>
                                        {% if project.iati_status %}
                                            <span class="detailedInfo">{% trans 'Status' %}</span>
                                            <span class="detailedPoint">{{ project.show_plain_status }}</span>
                                        {% endif %}
                                        {% if project.date_start_planned %}
                                            <br/>
                                            <span class="detailedInfo">{% trans 'Start date (planned)' %}</span>
                                            <span class="detailedPoint">
                                                 {{ project.date_start_planned|date:"d-M-Y" }}
                                            </span>
                                        {% endif %}
                                        {% if project.date_start_actual %}
                                            <br/>
                                            <span class="detailedInfo">{% trans 'Start date' %}</span>
                                            <span class="detailedPoint">
                                                 {{ project.date_start_actual|date:"d-M-Y" }}
                                            </span>
                                        {% endif %}
                                        {% if project.date_end_planned %}
                                            <br/>
                                            <span class="detailedInfo">{% trans 'End date (planned)' %}</span>
                                            <span class="detailedPoint">
                                               {{project.date_end_planned|date:"d-M-Y"}}
                                            </span>
                                        {% endif %}
                                        {% if project.date_end_actual %}
                                            <br/>
                                            <span class="detailedInfo">{% trans 'End date' %}</span>
                                            <span class="detailedPoint">
                                                {{project.date_end_actual|date:"d-M-Y"}}
                                            </span>
                                        {% endif %}
                                        <br/>
                                        <span class="detailedInfo">{% trans "Finance" %}</span>
                                        <span class="detailedPoint">
                                            {% if project.has_multiple_budget_currencies %}
                                                <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="{% trans 'Only includes funds in project currency' %}"></span>
                                                {% widthratio project.funds project.get_budget_project_currency 100 %}% {% trans "of" %} {{project.get_budget_project_currency|floatformat:0|intcomma}}
                                            {% else %}
                                                {% widthratio project.funds project.budget 100 %}% {% trans "of" %} {{project.budget|floatformat:0|intcomma}}
                                            {% endif %}
                                            {{project.currency}}
                                        </span>

                                    </li>
                                {% endif %}
                                {% if project.has_relations %}
                                    <li>
                                        <span class="detailedInfo">{% trans 'Hierarchy' %}</span>
                                        {% blocktrans with parents_count=project.parents.count children_count=project.children.count siblings_count=project.siblings.count %}
                                            This project has {{ parents_count }} parent projects, {{ children_count }} child projects and {{ siblings_count }} sibling projects
                                        {% endblocktrans %}
                                        <a href="{% url 'project-hierarchy' project.pk %}">{% trans 'View full hierarchy' %}</a>
                                    </li>
                                {% endif %}
                                {% if project.sectors.all %}
                                    <li>
                                        <span class="detailedInfo">{% trans "Sectors" %}</span>
                                        {% for sector in project.sectors.all %}
                                            {% if not forloop.first %}, {% endif %}{{ sector.iati_sector }}
                                        {% endfor %}
                                    </li>
                                {% endif %}
                                {% if project.primary_organisation %}
                                    <li class="projectPartners">
                                        <span class="detailedInfo">{% trans "Primary organisation" %}</span>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <a href="{% url 'organisation-main' project.primary_organisation.pk %}" class="pull-left logoImg">
                                                    {% img project.primary_organisation 80 60 project.primary_organisation.name %}
                                                </a>
                                                <div class="media-body">
                                                    <a href="{% url 'organisation-main' project.primary_organisation.pk %}">{{ project.primary_organisation }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="morePartners projectPartners" projectId="{{ project.pk }}" primaryOrgId="{{ project.primary_organisation.pk }}" projectPage="true"></li>
                                {% endif %}
                                {% if project.accepts_donations %}
                                    <li class="donateSection text-center topMargin">
                                        <dl class="dl-horizontal">
                                            {% if not project.has_multiple_budget_currencies %}
                                            <dt class="totalBudgetLabel">{% trans 'Total Budget' %}:</dt><dd class="currencyAmount">{{ project.budget|floatformat|intcomma }} {{project.currency}}</dd>
                                            <dt class="totalBudgetLabel">{% trans 'Funds Needed' %}:</dt><dd class="currencyAmount">{{ project.funds_needed|floatformat|intcomma }} {{project.currency}}</dd>
                                            {% else %}
                                            <dt class="totalBudgetLabel">{% trans 'Total Budget' %}:</dt>
                                            {% for c, a in project.budget_currency_totals.items %}
                                            <dd class="currencyAmount">{{ a|floatformat|intcomma }} {{ c }}</dd>
                                            {% endfor %}
                                            <dt class="totalBudgetLabel">{% trans 'Funds Needed' %}:</dt>
                                            <dd class="currencyAmount">
                                                {{ project.get_funds_needed_project_currency|floatformat|intcomma }} {{project.currency}}
                                                <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="{% trans 'Only includes funds in project currency' %}"></span>
                                            </dd>
                                            {% endif %}
                                        </dl>
                                        <a onClick="showDonatePopup('{{ project.donate_url }}')" class="btn btn-default donateButton">{% trans "Donate" %}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="container textBlock">
            <div class="row">
                <div class="accordionContainer">
                    <div id="accordion" class="col-sm-12"></div>
                </div>
            </div>
            {% if updates %}
                <div class="row">
                    <div class="col-sm-12 updateComponent">
                        <h4 class="detailedInfo">{% trans 'Latest project updates' %}</h4>
                            {% for update in updates %}
                                <a href="{{ update.get_absolute_url }}" class="updateLinkTitle">
                                    <i class="fa fa-camera-retro"></i> {{ update.title }}
                                </a>
                            {% endfor %}
                        <div class="allUpdates">
                            <a href="#updates">
                                <i class="fa fa-eye"></i> {% trans 'See all updates for this project.' %}
                            </a>
                        </div>
                    </div>
              </div>
            {% endif %}
        </div>
    </article>
</div>

{% include 'project_partner_data.html' %}
