{% load pipeline i18n rsr_utils rsr_tags rules rsr_filters humanize markup_tags %}
<div class="project-tab updates" style="display: none;">
  <article>
    {% load rsr_filters %}
         <div class="touch-navbar">
            <section class="main-list updates">
              <ul class="container">
                {% for u in page %}
                <li class="row updateAsset">
                  <div class="col-sm-3 col-md-2 col-xs-4">
                      <a href="{% url 'update-main' u.project.id u.id %}">
                        {% if u.video %}
                          {% vid_img u 150 150 u.title %}
                        {% else %}
                          {% img u 150 150 u.title %}
                        {% endif %}
                      </a>
                  </div>
                  <div class="col-sm-4 col-md-4 col-xs-8">
                    <h1><a href="{% url 'update-main' u.project.id u.id %}"><i class="fa fa-camera-retro"></i> {{u.title}}</a></h1>
                    <a href="{% url 'project-main' u.project.pk %}" class="projectTitle"><i class="fa fa-folder-o"></i> {{u.project.title}}</a>
                    <div><span class="userFullName"><em>{% trans 'by' %}</em>{{u.user.first_name}} {{u.user.last_name}}</span>
                        {% if u.user.approved_organisations %}
                          {% with org=u.user.approved_organisations.0 %}
                            <a href="{% url 'organisation-main' org.pk %}" class="orgName"><i class="fa fa-users"></i>  {{org.long_name}}</a>
                          {% endwith %}
                        {% endif %}
                    </div>
                    <div class="upDateTime"><i class="fa fa-calendar-o"></i> {{u.event_date|date:"d-M-Y"}}</div>
                  </div>
                  <div class="excerpt col-sm-5 col-md-5 col-xs-12 hidden-xs">
                    {% autoescape off %}
                      {{ u.text|force_escape|urlize|apply_markup:"markdown"|truncatechars_html:250 }}
                    {% endautoescape %}
                  </div>
                </li>
                {% endfor %}
              </ul>
            </section>

        <div class="container">
            <div class="row">
                {% include 'navigation/pagination.html' %}
            </div>
        </div>

    </div>
  </article>
</div>
