{% load i18n rsr_tags webdesign rsr_tags thumbnail piwik_tags %}
{% load url from future %}


<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8"></meta>
  <meta name="google-translate-customization" content="ff4c8027f6d7342d-15c28fc8266bbfde-g0ad3b6e7a7f4b265-b"></meta>
  <!--[if IE 8]>
		<meta http-equiv="X-UA-Compatible" content="IE=8">
    <![endif]-->

  <title>{% block title %}{% endblock title %}{{organisation}}</title>

  {% asset_bundle 'partner_sites_style' %}
  {% if stylesheet %}<link rel="stylesheet" href="{{MEDIA_URL}}{{stylesheet}}">{% endif %}
  {% if favicon %}<link rel="shortcut icon" href="{{MEDIA_URL}}{{favicon}}" type="image/x-icon">{% endif %}

  {#  Piwik #}
  {% tracking_code %}

  <meta property="og:type" content="website"/>

  {% block head %}{% endblock head %}

  <!--[if lte IE 7]>
    <style type="text/css">
        #languageChooserConatiner, #google_translate_element {
            float: right;
            padding-top: 5px;
        }
        #crumb_container {
            margin-bottom: 3px;
        }
    </style>
  <![endif]-->

  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
  <script type="text/javascript">
    !window.Modernizr && document.write('<script src="{{MEDIA_URL}}core/js/modernizr-2.0.6.min.js"><\/script>');
  </script>

</head>
<body>
{% block social_init %}{% endblock social_init %}
{% block draft %}{% endblock draft %}
<div class="bottom_gradient_bar pad_bottom10">
  <div class="container pad_top10">
    {% if return_url %}
      <a href="{{return_url}}" style="text-decoration:none;">
    {% endif %}
    {% if logo %}
      <img src="{{MEDIA_URL}}{{logo}}" alt="{{organisation}}" />
    {% else %}
      <img src="{% thumbnail organisation.logo 148x36 sharpen autocrop %}" alt="{{organisation}}" />
    {% endif %}
    {% if return_url %}
      </a>
      <span class="small marg_left20">
        <a href="{{ return_url }}">&#x25C4; {% trans "Back to" %} <span class="notranslate">{{organisation}}</span></a>
      </span>
    {% endif %}
  </div>
</div>

<div class="container">
  <div id="crumb_container" class="marg_bottom20" style="width: 100%; display: table">
    <div class="breadcrum_back  clearfix" style="display: table-cell; width: 100%;">
      <ul class="breadcrum">
        {% block breadcrum_items %}
          {% if return_url %}
            <li><a href="{{ return_url }}"><span class="notranslate">{{organisation|truncatewords:3}}</span></a></li>
          {% else %}
            <li class="last_breadcrum_item notranslate">{{organisation|truncatewords:3}}</li>
          {% endif %}
        {% endblock breadcrum_items %}
      </ul>
    </div>

    {% if request.partner_site.ui_translation %}
      <div id="languageChooserConatiner" style="display: table-cell">
      <select name="language" id="languageChooser" style="margin:3px 0 0 20px;{% if not request.partner_site.google_translation %} width:290px;{% endif %}">
        {% for lang_code, lang_name in LANGUAGES %}
          <option value="/{{ lang_code }}/{{ current_path_without_lang }}" {% ifequal lang_code request.LANGUAGE_CODE %}selected="yes" {% endifequal %}>
            {% if lang_code == "es" %} Español (beta)
            {% elif lang_code == "nl" %} Nederlands (beta)
            {% elif lang_code == "fr" %} Français (bêta)
            {% elif lang_code == "de" %} Deutsch (beta)
            {% elif lang_code == "ru" %} Русский (beta)
            {% else %} English
            {% endif %}
          </option>
        {% endfor %}
      </select></div>
    {% endif %}

    {% if request.partner_site.google_translation %}
      <div id="google_translate_element" style="display: table-cell; padding-left: 20px; padding-bottom: 2px"></div>
      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: '{{lang_code}}', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, multilanguagePage: true}, 'google_translate_element');
        }
      </script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    {% endif %}

  </div>
  <div class="clear"></div>
  {% block content %}{% endblock content %}
</div>

<div class="top_gradient_bar pad_bottom10 marg_top40">
  <div class="container pad_top10">
    <div class="two_col_left">
      <p class="small">
        {% trans "Contact at " %}
        <a href="mailto:{{organisation.contact_email}}">{{organisation.contact_email}}</a>
        {% if akvoapp_root_url %}
          |
          {% if not user.username %}
            <a id="main_nav_account" href="{{akvoapp_root_url}}{% url 'sign_in' %}?next={{request.path}}" target="_top">
              <span>{% trans 'Sign in' %}</span>
            </a>
          {% else %}
            {% trans "Hello" %}
            {% if user.first_name %}{{user.first_name}}{% else %}{{user.username}}{% endif %}!
            <a id="main_nav_account" href="{% url 'sign_out' %}?next={{request.path}}" title="{{user.username}}" target="_top">
              <span>{% trans 'Sign out' %}</span>
            </a>
          {% endif %}
        {% endif %}
      </p>
    </div>
    <div class="two_col_right" style="text-align:right;">
      <p class="small">
        <a href="{{domain_url}}">
          <img src="{{MEDIA_URL}}widgets/img/akvo-badge.gif" width="100" height="30" alt="Akvo.org" style="vertical-align:text-bottom;" />
        </a>
      </p>
    </div>
    <div class="clear"></div>
  </div>
</div>

{% if debug %}
  <script src="{{MEDIA_URL}}core/js/jquery-1.7.1.js"></script>
{% else %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript">
    !window.jQuery && document.write('<script src="{{MEDIA_URL}}core/js/jquery-1.7.1.min.js"><\/script>');
  </script>
{% endif %}

{% block js %}{% endblock js %}
<script type="text/javascript">
  var $ = jQ = jQuery.noConflict();
  jQ(document).ready(function(){
    jQ('#languageChooser').change(function() {window.location = jQ('#languageChooser option:selected').val();});
    {% block jq_ready %}{% endblock jq_ready %}
  });
</script>
</body>
</html>
