.program-reports {
  .cards {
    display: flex;
    flex-wrap: wrap;
    transition: all .3s ease;

    & > * {
      box-sizing: border-box;
      flex: 1 1 auto;
      flex-grow: 0;
      width: 100%;
      margin-bottom: 30px;
      .ant-card{
        margin-right: 15px;
        margin-left: 15px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        width: 50%;
        &:nth-of-type(2n-1){
          .ant-card{
            margin-left: 0;
          }
        }
        &:nth-of-type(2n){
          .ant-card{
            margin-right: 0;
          }
        }
      }
      @media (min-width: 992px) {
        width: 33.33333%;
        &:nth-of-type(3n-2){
          .ant-card{
            margin-left: 0;
          }
        }
        &:nth-of-type(3n){
          .ant-card{
            margin-right: 0;
          }
        }
      }
    }
  }

  .ant-card.report {
    min-height: 250px;
    height: 100%;
    .ant-card-body{
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    h3 {
      font-weight: normal;
      font-size: 21px;
      margin-bottom: 0.5rem;
      line-height: 1.1;
    }

    .description {
      padding: 10px 0;
      text-align: justify;
    }

    .options {
      text-align: center;
      margin-top: auto;
      .ant-btn {
        display: block;
        width: 100%;
      }
    }
  }
}
