{% extends "rsr/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {{project.name}} {% trans 'widgets' %}{% endblock %}

{% block content %}

<div class="span-18">
	<div class="span-18">
		<h1>Select colours for your widget and preview (2/2)</h1>
	</div>
	<div class="span-10 first">
		<p class="grey small">
			{% trans 'The following steps will produce a snippet of widget code you can copy and paste into your own web site&#x27;s code' %}
		</p>
		<ol>
			<li>{% trans 'Select the type of widget you wish to use' %}.</li>
			<li>{% trans 'Select colours and preview your widget' %}.</li>
			<li>{% trans 'Copy the HTML code to your web site' %}.</li>
		</ol>
	</div>
	<div class="span-8 last">
		<noscript>
			<div id="machinery_step1_warning_main" style="float:right; width:380px; margin-right:25px; background-color:#FFEFEB; color:#FF0000; border:1px solid #FFDAD9; padding:10px;">
				<p>
					<span style="font-weight:bold;">{% trans 'A problem occurred' %}</span><br />
					{% trans 'We are sorry, but you must have Javascript enabled in your browser to proceed. ' %}
				</p>
			</div>
		</noscript>
	</div>
	<hr />
	<div class="push-1 span-17 first last">
		<h2>{% trans 'Step 2: Select colours for your widget and preview' %}</h2>
		<a id="preview_position"></a>
		<p class="grey small">
			{% trans 'This widget will show the project' %} {{ project.name }}
		</p>
		<div class="frame">
			<div class="space20">
				<form>
					<div id="warning_color" style="float:right; margin-top:10px; width:380px; background-color:#FFEFEB; color:#FF0000; border:1px solid #FFDAD9; padding:10px; display: none;">
						<p>
							{% trans 'A color you entered is not recognized. Please change and try again.' %}
						</p>
					</div>
					<p class="bold">{% trans 'A: Top and bottom coloured bars' %}</p>
					<div style="float:left; margin-left:50px; width:200px;">
						<p class="small grey">
						<select name="backgroundcolor_pulldown" id="backgroundcolor_pulldown" size="1">
							<option value="B50000">{% trans 'Akvo Red' %} (#B50000)</option>
							<option value="FFD700">{% trans 'Gold' %} (#FFD700)</option>
							<option value="B8860B">{% trans 'DarkGoldenrod' %} (#B8860B)</option>
							<option value="FF0000">{% trans 'Red' %} (#FF0000)</option>
							<option value="8B0000">{% trans 'Dark Red' %} (#8B0000)</option>
							<option value="8B008B">{% trans 'DarkMagenta' %} (#8B008B)</option>
							<option value="4B0082">{% trans 'Indigo' %} (#4B0082)</option>
							<option value="191970">{% trans 'MidnightBlue' %} (#191970)</option>
							<option value="0000CD">{% trans 'MediumBlue' %} (#0000CD)</option>
							<option value="1E90FF">{% trans 'DodgerBlue' %} (#1E90FF)</option>
							<option value="008080">{% trans 'Teal' %} (#008080)</option>
							<option value="2E8B57">{% trans 'SeaGreen' %} (#2E8B57)</option>
							<option value="556B2F">{% trans 'DarkOliveGreen' %} (#556B2F)</option>
							<option value="696969">{% trans 'DimGray' %} (#696969)</option>
							<option value="708090">{% trans 'SlateGray' %} (#708090)</option>
							<option value="000000">{% trans 'Black' %} (#000000)</option>
							<option value="x">{% trans 'Other...' %}</option>
						</select><br />
						{% trans 'Select colour' %}
						</p>
					</div>
					<div style="float:left; width:500px;">
						<div id="backgroundcolor_other_section" style="margin:0; padding:0; float:left; width:100%; display:none">
							<div style="width:350px; float:right; padding-top:4px;">
								<p class="small">
								{% trans 'View a list of' %} <a href="http://en.wikipedia.org/wiki/Web_colors#X11_color_names" 
								target="_new">{% trans 'standard colours' %}</a> ({% trans 'external link, new window' %}).
								</p>
							</div>
							<p class="grey tiny" style="margin:0; padding:0;">
								<!--<span id="backgroundcolor_warning" style="color:red;"></span><br />-->
								<input type="text" name="bgcolor" value="B50000" id="backgroundcolor_text" size="10" /><br />
								{% trans 'Enter a hex number' %}.
							</p>
						</div>
					</div>
					<div style="clear:both; padding-bottom:20px;"> </div>
					
					<p class="bold">{% trans 'B: Widget title on top bar' %}</p>
					<div style="float:left; margin-left:50px; width:200px;">
						<p class="small grey">
							<select name="textcolor_pulldown" id="textcolor_pulldown" size="1" >
								<option value="FFFFFF">{% trans 'White' %} (#FFFFFF)</option>
								<option value="FFD700">{% trans 'Gold' %} (#FFD700)</option>
								<option value="B8860B">{% trans 'DarkGoldenrod' %} (#B8860B)</option>
								<option value="FF0000">{% trans 'Red' %} (#FF0000)</option>
								<option value="8B0000">{% trans 'Dark Red' %} (#8B0000)</option>
								<option value="8B008B">{% trans 'DarkMagenta' %} (#8B008B)</option>
								<option value="4B0082">{% trans 'Indigo' %} (#4B0082)</option>
								<option value="191970">{% trans 'MidnightBlue' %} (#191970)</option>
								<option value="0000CD">{% trans 'MediumBlue' %} (#0000CD)</option>
								<option value="1E90FF">{% trans 'DodgerBlue' %} (#1E90FF)</option>
								<option value="008080">{% trans 'Teal' %} (#008080)</option>
								<option value="2E8B57">{% trans 'SeaGreen' %} (#2E8B57)</option>
								<option value="556B2F">{% trans 'DarkOliveGreen' %} (#556B2F)</option>
								<option value="696969">{% trans 'DimGray' %} (#696969)</option>
								<option value="708090">{% trans 'SlateGray' %} (#708090)</option>
								<option value="000000">{% trans 'Black' %} (#000000)</option>
								<option value="x">{% trans 'Other...' %}</option>
							</select><br />
							{% trans 'Select colour' %}
						</p>
					</div>
					<div style="float:left; width:500px;">
						<div id="textcolor_other_section" style="margin:0; padding:0; float:left; width:100%; display:none">
							<div style="width:350px; float:right; padding-top:4px;">
								<p class="small">
								{% trans 'View a list of' %} <a href="http://en.wikipedia.org/wiki/Web_colors#X11_color_names" 
								target="_new">{% trans 'standard colours' %}</a> ({% trans 'external link, new window' %}).
								</p>
							</div>
							<p class="grey tiny" style="margin:0; padding:0;">
								<!--<span id="backgroundcolor_warning" style="color:red;"></span><br />-->
								<input type="text" name="textcolor" value="ffffff" id="textcolor_text" size="10" /><br />
								{% trans 'Enter a hex number' %}.
							</p>
						</div>
					</div>
					<div style="clear:both; padding-bottom:20px;"> </div>
					<div style="width:200px; text-align:center; margin-left:auto; margin-right:auto">
						<a id="preview" class="march_button" href="javascript:this.blur();" onclick="preview_widget();"><span>{% trans 'Preview' %}</span></a>
					</div>
					<hr />
					<h3>{% trans 'Review your widget' %}</h3>

					<p class="machinerygrey">
						{% ifequal widget_type 'feature-side' %}
							{% trans 'How your widget will appear (202 pixels wide by 840 pixels high).' %}
						{% endifequal %}
						{% ifequal widget_type 'project-contribute' %}
							{% trans 'How your widget will appear (202 pixels wide by 570 pixels high).' %}
						{% endifequal %}
						{% ifequal widget_type 'project-updates' %}
							{% trans 'How your widget will appear (202 pixels wide by 900 pixels high).' %}
						{% endifequal %}
						{% ifequal widget_type 'project-list' %}
							{% trans 'How your widget will appear (745 pixels wide by 730 pixels high).' %}
						{% endifequal %}
					</p>
					{% comment %} #akvo_widget_container is an anchor for the widget! {% endcomment %}
					<div id="akvo_widget_container" style="margin:0; padding:0; margin-left:40px; margin-top:40px;"> </div>
					
					
				</form>
			</div>
		</div>
	</div>
	
	<div class="push-1 span-17 first last">
		<h2>{% trans 'Step 3: get your code' %}</h2>
		<a id="preview_position"></a>
		<p class="grey small">
			{% trans 'This widget will show the project' %} {{ project.name }}
		</p>
		<div class="frame">
			<div class="space20">
				<p class="grey">
					{% trans 'You may repeat the steps above until you are satisﬁed with the appearance of your widget.' %}
				</p>
				<div style="width:100%; text-align:center; margin-top:20px; margin-bottom:40px;">
					<textarea style="background-color:#FEFCF4;" name="code" rows="8" cols="50" id="code"> </textarea>
				</div>
			</div>
		</div>
	</div>
</div>
	
{% endblock content %}

{% block js %}
{{block.super}}
<script type="text/javascript" charset="utf-8">
	var akvo_project_id = {{project.id}};
	var akvo_widget_type = '{{widget_type}}';
	var akvo_widget_choice = '{{widget_choice}}';
	var akvo_widget_organisation = '{{organisation.id}}';
	var akvo_widget_site = '{{widget_site}}';

	var error0 = "{% trans 'Please review message below' %}";
	var error1 = "{% trans 'A: Hex color values should be 3 or 6 characters' %}";
	var error2 = "{% trans 'A: Not a valid hex number' %}";
	var error3 = "{% trans 'B: Hex color values should be 3 or 6 characters' %}";
	var error4 = "{% trans 'B: Not a valid hex number' %}";
</script>
<script src="{{MEDIA_URL}}js/machinery2.js" type="text/javascript"></script>
{% endblock js %}