{% extends "rsr/project_base.html" %}

{% load i18n rsr_tags thumbnail humanize %}

{% block inline_styles %}
#panel {
    display: none;
}
{% endblock inline_styles %}

{% block project_content %}

    <div class="span-14 first last">
        <div class="frame">
            <div class="space20">
                <h1 style="margin:0; padding:0; color:#00ABFA;">{{p.name}}</h1>
                <p class="grey">{{p.subtitle}}</p>
            </div>
        </div>
        <div class="frame">
            <div class="sliding_box_header">
                <span>{% trans 'All comments' %}</span>
            </div>
            <div class="space20">
                <p class="clear">
                    <a class="btn-slide" style="float:right" href="#" onclick="this.blur();">{% trans 'Add comment' %}</a>
                    &nbsp;
                </p>
                <div id="panel">
                    {% if not user.username %}
                        <p>{% trans 'You must be signed in to add a comment' %}</p>
                        <p><a href="{% url akvo.rsr.views.login %}?next={{request.path}}">{% trans 'Sign In' %}</a> <!--| <a href="#">Register</a></p>-->
                    {% else %}
                        <form enctype="multipart/form-data" method="post" action="comment">
                            {{form.comment}}
                            <p><a href="#" class="btn-slide">{% trans 'Cancel' %}</a></p>
                            <input type="submit" value="{% trans 'Submit' %}" class="submit" />
                        </form>
                    {% endif %}
                </div> <!-- #panel -->
            </div>
            <div class="space10">
                <hr />
            </div>
            <div class="space20">
                {% comments comments %}
            </div>
            <div class="space10">
                <hr />
            </div>
            <div class="space20">
                <p class="small">
                    {% trans 'The comments are owned by whoever posted them. We are not responsible for them in any way.' %}
                </p>
            </div>
        </div>
    </div>

{% endblock project_content %}

{% block js %}
{{ block.super }} 
<script src="{{MEDIA_URL}}js/ui.tabs.pack.js" type="text/javascript"></script>
<script type="text/javascript">

$(function(){
	$('#container-1 > ul').tabs();
});
$(function(){
	$('#container-2 > ul').tabs();
});

$(document).ready(function(){
    $(".btn-slide").click(function(){
        $("#panel").slideToggle("slow");
        $(this).toggleClass("active"); return false;
    });
});

</script>
{% endblock js %}

{% block jquery_ready %}
	{{ block.super }}
{% endblock jquery_ready %}	
