{% extends "rsr/base.html" %}

{% load i18n rsr_tags generic_content rsr_filters addparam %}

{% block title %}{{ block.super }} - {% trans 'Projects' %}{% endblock %}

{% block inline_styles %}
{{block.super}}
{% endblock inline_styles %}

{% block content %}
<div class="span-18">
	<div class="frame" style="background-color:#D8F4FE;">
		<div class="space15">
			<form action="" method="get" accept-charset="utf-8" style="margin-bottom:0;">
				<p>
					<span class="hl">Find projects:</span>
					<input type="text" name="find" value="" id="find" size="50" disabled="disabled">
					<input type="submit" value="Find" style="display:inline; vertical-align:baseline; margin-bottom:0;" disabled="disabled">					
				</p>
			</form>
		</div>
	</div>
</div>
<!--
<div class="span-3 first">
	<div class="frame">
		<div class="sliding_box_header">
			<p style="margin:2px 5px">Refine results</p>
		</div>
		<div class="space20">
			<h5>Sector</h5>
			<p>
				<label><input type="checkbox" name="sectors" value="2" id="sector_sanitation" > Sanitation</label>
				<label><input type="checkbox" name="sectors" value="1" id="sector_water" > Water</label>
			</p>
			<hr />
			<h5>Location</h5>
			<p>
				<label><input type="checkbox" name="continents" value="1" id="continent_africa" > Africa</label>
				<label><input type="checkbox" name="continents" value="2" id="continent_asia" > Asia</label>
				<label><input type="checkbox" name="continents" value="3" id="continent_australia" > Australia</label>
				<label><input type="checkbox" name="continents" value="4" id="continent_europe" > Europe</label>
				<label><input type="checkbox" name="continents" value="5" id="continent_north_america" > North America</label>
				<label><input type="checkbox" name="continents" value="6" id="continent_south_america" > South America</label>
				<label><input type="checkbox" name="continents" value="6" id="continent_south_america" disabled > Antarctica</label>
		</div>
	</div>
</div>
-->
<div class="span-18 last">
	<div class="frame" style="margin-bottom:0; border-bottom:none;">
        {% if o %}
            {% project_list_pagination page o %}
        {% else %}
            {% project_list_pagination page %}
        {% endif %}
	</div>

	<div class="span-18 first last" id="proj_list_table_header">
		<div class="span-6 first">
			<div class="space10">
				<p>
                    {% if o %}
                        <a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "order_by" "name" %}#list" title="{% trans 'Sort projects by name' %}">{% trans 'Name' %}</a>
                    {% else %}
                        <a href="{% url akvo.rsr.views.projectlist %}{% addparam "order_by" "name" %}#list" title="{% trans 'Sort projects by name' %}">{% trans 'Name' %}</a>
                    {% endif %}
                </p>
			</div>
		</div>
		<div class="span-2">
			<div class="space10">
                <p>
                    {% if o %}
                        <a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "order_by" "country__country_name" %}#list" title="{% trans 'Sort projects by country' %}">{% trans 'Country' %}</a>
                    {% else %}
                        <a href="{% url akvo.rsr.views.projectlist %}{% addparam "order_by" "country__country_name" %}#list" title="{% trans 'Sort projects by country' %}">{% trans 'Country' %}</a>
                    {% endif %}
                </p>
			</div>
		</div>
		<div class="span-2">
			<div class="space10">
				<p>
                    {% if o %}
                        <a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "order_by" "country__continent" %}#list" title="{% trans 'Sort projects by continent' %}">{% trans 'Continent' %}</a>
                    {% else %}
                        <a href="{% url akvo.rsr.views.projectlist %}{% addparam "order_by" "country__continent" %}#list" title="{% trans 'Sort projects by continent' %}">{% trans 'Continent' %}</a>
                    {% endif %}
                </p>
			</div>
		</div>
		<div class="span-2">
			<div class="space10">
				<p>
                    {% if o %}
                        <a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "order_by" "status" %}#list" title="{% trans 'Sort projects by status' %}">{% trans 'Status' %}</a>
                    {% else %}
                        <a href="{% url akvo.rsr.views.projectlist %}{% addparam "order_by" "status" %}#list" title="{% trans 'Sort projects by status' %}">{% trans 'Status' %}</a>
                    {% endif %}
                </p>
			</div>
		</div>
		<div class="span-2">
			<div class="space10">
				<p>
                    {% if o %}
                        <a href="{% url akvo.rsr.views.filteredprojectlist o.id %}{% addparam "order_by" "last_update" %}#list" title="{% trans 'Sort projects by latest update' %}">{% trans 'Update' %}</a>
                    {% else %}
                        <a href="{% url akvo.rsr.views.projectlist %}{% addparam "order_by" "status" %}#list" title="{% trans 'Sort projects by latest update' %}">{% trans 'Update' %}</a>
                    {% endif %}
                </p>
			</div>
		</div>
		<div class="span-2">
			<div class="space10">
				<p>{% trans 'Lead partners' %}</p>
			</div>
		</div>
		<div class="span-2 last">
			<div class="space10">
				<p>{% trans 'Other partners' %}</p>
			</div>
		</div>
	</div>
    
    {% for project in page.object_list %}
	<div class="span-18 first last" id="proj_list_table">
		<div class="span-6 first">
			<div style="border-left:1px solid #BCBCC6; padding-top:5px;">
				<div class="space10">
					<a href="{% url project_main project.id %}">
						{% project_thumb project 100 75 'float:left; margin-right: 10px;' %}
			        </a>
                    <p>
    					<a href="{% url project_main project.id %}">{{project.name}}</a><br/>
                        {{project.subtitle}}
                    </p>
                    <p>
                        {% category_icons project %}
                    </p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="span-2">
			<div class="space10">
                <p>
                {{project.city}}, {{project.country}}
                </p>
			</div>
		</div>
		<div class="span-2">
			<div class="space10">
                <p>
            	{{project.country.get_continent_display}}<br />
                </p>
			</div>
		</div>
		<div class="span-2">
			<div class="space10">
				<p>
					{{project.show_status}}
				</p>				
			</div>
		</div>
		<div class="span-2">
			<div class="space10">
				<p>
					{% with project.project_updates.latest as latest_update %}						
						{% ifequal latest_update None %}
							<span style="color:#000;">{% trans 'Not yet' %}</span>
						{% else %}
							<a href="{% url akvo.rsr.views.projectupdates project.id %}#{{latest_update.id}}">{{latest_update.time|string_to_date|date:"Y-m-d  H:i"}}</a>
						{% endifequal %}
					{% endwith %}
				</p>				
			</div>
		</div>
		<div class="span-2">
			<div class="space10">
                {% for partner in project.lead_partners %}
                    <p>
                        <a href="{% url akvo.rsr.views.orgdetail partner.id %}">{{partner}}</a><br />
                    </p>
                {% endfor %}
			</div>
		</div>
		<div class="span-2 last">
			<div class="space10">
                {% for partner in project.other_partners %}
                    <p>
                        <a href="{% url akvo.rsr.views.orgdetail partner.id %}">{{partner}}</a><br />
                    </p>
                {% endfor %}
			</div>
		</div>
		<div class="span-18 first last" 
			style="border-bottom:1px solid #F0F0F3; border-left:1px solid #ccc; padding-bottom:15px;">
		</div>
	</div>
	{% endfor %}
    
	<div class="clear"></div>

	<div class="frame">
        {% if o %}
            {% project_list_pagination page o %}
        {% else %}
            {% project_list_pagination page %}
        {% endif %}
	</div>
	
	{% comment %}

	<div class="frame">
		<div class="sliding_box_header">
			<p style="margin:2px 5px">2,573 results found for "virda"</p>
		</div>
		
		<div class="space20">
			<ul>
			{% for p in page.object_list %}
				<li><a href="{% url project_main project.id %}">{{project.name}}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	{% endcomment %}
</div>

{% endblock content %}