{% load i18n rsr_tags counter_tags humanize cache %}


<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
	<meta charset="UTF-8" />

	<title>{% block title %}Akvo.org{% endblock title %}</title>
	<base target="_top" />
	
	{% block style %}
	{% endblock style %}
	
	<style type="text/css" media="screen">
	{% block inline_styles %}
		#header {background-color:#{{bgcolor}};}
		#header h1 { color:#{{textcolor}}; }
		#footer {background-color:#{{bgcolor}}; color:#{{textcolor}} !important; height:30px; }
		h2 a {color:#{{bgcolor}} !important;}
	{% endblock inline_styles %}
	</style>	

</head>
<body style="margin-left:0px; margin-top:0px; background-color:transparent;">
	<div id="container" style="background-color:white;">
		<div id="header">
		{% block header %}
		<h1>Akvo.org</h1>
		{% endblock header %}
		</div>
		<div id="content">
		{% block content %}
			<p style="margin:10px;"><a href="http://www.akvo.org">Akvo</a> is like a Wikipedia, eBay and YouTube for water and sanitation projects, rolled into one.</p>
		{% endblock content %}
		</div>
		<div id="footer">
		{% block footer %}
			{% block  footer_counter %}
			<div style="float:left; padding-top:6px; display:none;">
				<span style="color:#{{textcolor}}; font-size:10px; font-weight:normal; margin-left:10px;">
					<span style="display:none;">{% counter project %}</span>
		        	{% cache 10 project.view_count %}
		        		{{ project.view_count|intcomma }} {% trans 'views' %}
		        	{% endcache %}
				</span>
			</div>
			{% endblock footer_counter %}
			<div class="float:right;">
				<a href="http://akvo.org">
					<img src="{{MEDIA_URL}}widgets/img/akvo-badge_small.png" width="60" height="18" alt="Akvo.org" />
					{# <img src="{{MEDIA_URL}}widgets/img/akvo-badge.gif" width="100" height="30" alt="Akvo.org" /> #}
				</a>
			</div>
			<div class="clear"></div>
			
		{% endblock footer %}
		</div>
	</div>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<script>
		!window.jQuery && document.write('<script src="{{MEDIA_URL}}core/js/jquery-1.4.2.min.js"><\/script>')
	</script>
		
	{% block inline_scripts %} {% endblock inline_scripts %}
	
	<script type="text/javascript">
		var $ = jQ = jQuery.noConflict();
		
		jQ(document).ready(function(){
			{% block jq_ready %}{% endblock jq_ready %}
		});		
	</script>
	
	{% comment %}
	{% if debug %}
		Debug:{% debug %}
		Sql_queries: {{ sql_queries }}
	{% endif %}
	{% endcomment %}
</body>
</html>
