{% extends "rsr/base.html" %}
{% load webdesign addparam cache humanize i18n rsr_filters rsr_tags thumbnail counter_tags %}
{% load url from future %}


{% block title %}{{project.name}}{% endblock title %}

{% block head %}
  <link rel="alternate" type="application/rss+xml" title="Updates to {{project.name}}" id="gallery" href="{%  url 'rss_project_updates' project.id %}">
{% endblock head %}

{% block breadcrum_items %}
  {{block.super}}
  <li><a href="{% url 'project_list' 'all' %}"><span>{% trans 'Projects' %}</span></a></li>

{% comment %}
<div style="float:right; margin-right:10px;">
  <span style="display:none;">{% counter project %}</span>
  <p style="margin:0; color:#999; margin-top:5px;" class="small">
    {% cache 10 project.view_count %}
      {{ project.view_count|intcomma }} {% trans 'views' %}
    {% endcache %}
  </p>
</div>
{% endcomment %}

{% comment %}
<span style="color:#999; font-size:10px; font-weight:normal; margin-left:20px; "><span style="display:none;">{% counter project %}</span>
  {% cache 10 project.view_count %}
      {{ project.view_count|intcomma }} {% trans 'views' %}
  {% endcache %}
</span>
{% endcomment %}
{% endblock breadcrum_items %}

{% block maincontent %}

<div class="two_column_left">
  <a href="{% url 'project_main' project.id %}">
    <h1 style="margin-bottom:5px;">{{project.name}}</h1>
  </a>
  <div style="float:right; width:100px; text-align:right;">
    <a href="{%  url 'rss_project_updates' project.id %}">
      <img src="{{MEDIA_URL}}core/img/icon_rss.gif" width="12" height="12" alt="RSS" title="RSS">
    </a>
  </div>
  <p class="grey" style="font-weight:bold;">{{project.subtitle}}</p>
  <div class="clear"></div>
  {% block project_left_column %}{% endblock project_left_column%}
</div>

<div class="two_column_right">
  <div id="project_status" class="two_column_right_inner">
    <div style="margin:15px; padding:20px 0px;">
      {{project.show_status_large}}<br />
      <div style="margin-top:15px;">
        <h3 style="color:#A3FFFF;">{% trans 'Funding' %}</h3>
        <div class="round">
          <div style="width:172px; margin-left:auto; margin-right:auto; padding-top:15px; padding-bottom:15px">
            {% funding_project project %}
          </div>
        </div>
        {% if not hide_funding_link %}
          <p class="small space0" style="padding-top:10px;">
          <a style="color:#FDF47A;" href="{% url 'project_funding' project.id %}">
            {% trans 'See funding details' %} &#x25BA;
          </a>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
	{% if not hide_latest_updates %}
		{% if not updates %}
			<div class="two_column_right_inner">
				<div class="small">
					<h2>{% trans 'No updates yet' %}</h2>
				</div>
			</div>
		{% else %}
			<div class="two_column_right_inner">
				<div class="small" style="float:left; width:130px;">
					<h2>{% trans 'Latest updates' %}</h2>
				</div>
				<div class="small" style="margin:2px 0; float:right; width:130px; text-align:right;">
					<a class="small" href="{% url 'project_updates' project.id %}">{% trans 'See all' %} &#x25BA;</a>
				</div>
				<div class="clear"></div>
			</div>

			{% for update in updates %}
				<div style="background-color:#AFF167;padding:2px; padding-left:15px;">
					<p class="small" style="margin:0;padding:0; font-weight:bold;">
						{{update.time|date:"d-M-Y"}}
					</p>
				</div>
				<div class="green_fold"></div>
				<div class="two_column_right_inner" style="background-color:#fff;">
					<div style="border:1px solid #ccc; border-top:none; margin-bottom:10px;">
                        {% if update.video %}
                            <div style="float:left; width:175px;">
                                <p class="small last" style="padding:5px 5px 0 5px;">
                                    <b><a href="{{ update.get_absolute_url }}">{{update.title}}</a></b>
                                    <br/>{{update.text|smart_truncate:50}}
                                </p>
                            </div>
                            <div style="float:right; width:116px;">
                                <a class="video_thumb" href="{{ update.get_absolute_url }}">
                                    <img src="{{ update.get_video_thumbnail_url }}" alt="" style="width:116px;">
                                    <i style="background-image: url({{ MEDIA_URL }}core/img/play_button_small.png); bottom:7px; cursor:pointer; left:5px;  width:50px; height:50px; position: absolute"></i>
                                </a>
                            </div>
                            <div class="clear"></div>
						{% else %}
							{% if update.photo %}
								<div style="float:left; width:175px;">
									<p class="small last" style="padding:5px 5px 0 5px;">
		                  				<b><a href="{{ update.get_absolute_url }}">{{update.title}}</a></b>
										<br/>{{update.text|smart_truncate:50}}
									</p>
								</div>
								<div style="float:right; width:116px; height: 100px; text-align:right;">
		                			<a href="{{ update.get_absolute_url }}">
		                  				<img src="{% thumbnail update.photo 116x100 crop autocrop sharpen upscale %}" alt="" style="margin:0;" />
		                			</a>
								</div>
								<div class="clear"></div>
							{% else %}
								<p class="small" style="padding:5px; margin-bottom:5px;">
									<b><a href="{{ update.get_absolute_url }}">{{update.title}}</a></b><br />
									{{update.text|smart_truncate:150}}
								</p>
							{% endif %}
                        {% endif %}
					</div>
				</div>
			{% endfor %}
		{% endif %}
	{% endif %}
	
	<div class="two_column_right_inner" style="margin-top:20px;">
		<h2>{% trans 'Tools for this page' %}</h2>
		<div class="white_box">
			<div class="space20">
				<div style="width:45%; float:left; padding-top:10px;">
					<a class="aqua awesome" href="{% url 'project_get_widget' project.id %}">{% trans 'Get a widget' %}</a>
				</div>
				<div style="width:45%; float:right;">
					<p style="margin:0;" class="tiny grey">
						{% trans 'Embed a live link to this project to your web site or blog.' %}
					</p>
				</div>
				<div class="clear"></div>
				<br />
				<hr />
					
				<p class="small grey">
					{% if can_add_update %}
						<a href="{% url 'project_add_update' project.id %}">{% trans 'Add update' %}</a> {% trans 'to this project.' %}<br />	
					{% else %}
						<a href="{% url 'signin' %}?next={{request.path}}">{% trans 'Sign in' %}</a>  {% trans 'to add update' %}<br />
					{% endif %}			
					<a href="{% url 'project_main' project.id %}">{% trans 'Permalink' %}</a> {% trans 'to this project' %}<br />
					<a href="/rsr/rss/updates/{{project.id}}/">{% trans 'Subscribe' %}</a> {% trans 'to the RSS feed of this project ' %}
				</p>
			</div>
		</div>
	</div>
	
	{% if not hide_project_partners %}
		<div class="two_column_right_inner" style="margin-top:20px;">
			<div class="small" style="float:left; width:130px;">
				<h2>{% trans 'Project partners' %}</h2>
			</div>
			<div class="small" style="margin:2px 0; float:right; width:130px; text-align:right;">
				<a class="small" href="{% url 'project_partners' project.id %}">{% trans 'See details' %} &#x25BA;</a>
			</div>
			<div class="clear"></div>
			<div class="white_box">
				<div class="space10">
					{% for partner in project.all_partners %}
						<div style="float:left; width:100px;">
							<a href="{{partner.get_absolute_url}}">
								{% org_logo partner 90 60 'margin:0;' %}
							</a>
						</div>
						<div style="float:left; width:170px;">
							<p class="small grey" style="margin:0; padding:=;">
								<a href="{{partner.get_absolute_url}}">{{partner.name}}</a><br />
                {% if partner.primary_location.city %}
                  {{partner.primary_location.city}},
                {% endif %}
                {{partner.primary_location.country}}
							</p>
						</div>
						<div class="clear"></div>
						{% if not forloop.last %}
							<hr style="margin-bottom:12px; margin-top:10px;"/>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
	
	{% if not hide_comments %}
		<div class="two_column_right_inner" style="margin-top:20px;">
			<div class="small" style="float:left; width:130px;">
				<h2>{% trans 'Comments' %}</h2>
			</div>
			<div class="small" style="margin:2px 0; float:right; width:130px; text-align:right;">
				<a class="small" href="{% url 'project_comments' project.id %}">{% trans 'See all' %} &#x25BA;</a>
			</div>
			<div class="clear"></div>
			<div class="white_box">
				<div class="space10">
					{% if not comments %}
					<a class="small" href="{% url 'project_comments' project.id %}">
						{% trans 'Add first comment' %}  &#x25BA;
					</a>
					{% else %}
						<a class="small" href="{% url 'project_comments' project.id %}">
							{% trans 'Add comment' %}  &#x25BA;
						</a>
						<hr style="margin-top:10px; margin-bottom:5px;"/>
						{% for c in comments %}
							<div class="grey_hover"
								{% if not forloop.last %} style="border-bottom: 1px solid #eee;"{% endif %}>
								<p style="padding:5px; margin-bottom:5px;">
									{{ c.comment|capfirst }}<br />
									<span class="grey small">
										{{c.user.get_full_name}}, {{c.time|date:"Y-m-d H:i"}}
									</span>
								</p>								
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
		<br />
	{% endif %}
		
	<div class="two_column_right_inner">
		<p class="grey tiny text_right">{% trans 'Akvo Ref' %}: {{project.id}}</p>
	</div>
</div>
{% endblock maincontent %}
