{% extends "rsr/base.html" %}
{% load i18n rsr_tags rsr_filters webdesign thumbnail %}
{% load markup_tags humanize sorting_tags pagination_tags %}
{% load url from future %}


{% block title %}
  {% if org %}
    {% trans 'Project listing for' %} {{org.name}}
  {% else %}
    {% if focus_area.slug != 'all' %}
      {% trans 'Projects' %} - {{focus_area.name}}
    {% else %}
      {% trans 'All projects' %}
    {% endif %}
  {% endif %}
{% endblock title %}

{% block breadcrum_items %}
  {{block.super}}
  <li><a href="{% url 'project_list' 'all' %}"><span>{% trans 'Projects' %}</span></a></li>
  {% if org %}
    {% if request.GET.q %}
      <li id="last_breadcrum_item">
        {{org.name}} {% trans 'projects filtered by keywords:' %} <span style="font-style:italic;">&quot;{{ request.GET.q|escape }}&quot;</span>
      </li>
    {% else %}
      <li id="last_breadcrum_item">{% trans 'Project listing for' %} {{org.name}}</li>
    {% endif %}
  {% else %}
    {% if focus_area.slug == 'all' %}
      {% if request.GET.q %}
        <li id="last_breadcrum_item">
          {% trans 'All projects filtered by keywords:' %} <span style="font-style:italic;">&quot;{{ request.GET.q|escape }}&quot;</span>
        </li>
      {% else %}
        <li id="last_breadcrum_item">{% trans 'All projects' %}</li>
      {% endif %}
    {% else %}
      {% if request.GET.q %}
        <li id="last_breadcrum_item">
          {{focus_area.name}} {% trans 'projects filtered by keywords:' %} <span style="font-style:italic;">&quot;{{ request.GET.q|escape }}&quot;</span>
        </li>
      {% else %}
        <li id="last_breadcrum_item">{{focus_area.name}}</li>
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock breadcrum_items %}

{% block maincontent %}

  {% autosort filter.qs as sorted_projects %}
  {% autopaginate sorted_projects 20 5 as projects %}

  <div class='container'>
    <div class='column span-18 last'>

      {% if org %}
        <h1 class="h0">{% trans 'Project listing for' %} <a href="{{org.get_absolute_url}}">{{org.name}}</a></h1>
        <a href="{{org.get_absolute_url}}">{% org_logo org 120 90 'float: left; margin: 0 20px 20px 0;' %}</a>
        {{org.description|smart_truncate:300|linebreaks|safe}}
        <p><a href="{{org.get_absolute_url}}">{% trans 'Read more about' %} {{org.name}}</a></p>
      {% else %}
        <h1 class="h0">{{focus_area}} {% trans 'projects' %}</h1>
        <div id="focus_area_description" class="column span-{% if focus_area.slug != 'all' %}15{% else %}18{% endif %}">
          <img width="120" height="90" style="float: left; margin: 0 20px 20px 0;" src="{% thumbnail focus_area.image 120x90 sharpen %}" alt="{{focus_area}}"/>
          {{focus_area.description|apply_markup:"markdown"}}
        </div>
        {% if focus_area.slug != 'all' %}
          <div class='column span-3 last'>
            <div class="white_box blue_tint">
              <div class="space20">
                <h2>Related focus area</h2>
                <a href="/web/{{focus_area.slug}}" class="small">{% trans 'Learn more about'%} <br/>{{focus_area}}&nbsp;<span class="link_triangle">&#x25BA;</span></a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}
      <div class="clear"></div>
      <h1 class="h0">
        {{sorted_projects.count}}
        {% blocktrans count sorted_projects.count as project_count %}project{% plural %}projects{% endblocktrans %}
      </h1>

      <form action="." method="get" accept-charset="utf-8" name="filter_form">
        <div id="project_search" class="span-18">
          <div class="round" style="border: 1px solid #ccc;">
            <div class="space15">

              {{ filter.form.title }}
              {{ filter.form.continent }}
              {{ filter.form.locations__country }}
              {{ filter.form.organisation }}

              <a id="filterButton" class="blue awesome" style="float:right;"
                 href="javascript:document.filter_form.submit();">
                <span>{% trans 'Filter' %}</span>
              </a>

              <br/><a href="{% url 'project_list' slug %}" class="nano" style="float:right; margin-top: 4px; margin-right: 3px">Reset filter</a>
              {% hidden_inputs_from_qs sort dir %}

              <div id="q_help" style="padding-left:25px; margin-top:10px;">
                <p class="tiny grey" style="margin-bottom:0; padding-bottom:0;">
                  {% trans 'Filter on project title or subtitle' %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class='column span-18 last' style="margin-top:15px;">
        <div class="white_box">
          {% paginate %}
          <table id="projects">
            <colgroup class="title_col"></colgroup>
            <colgroup span="6" class="colgroup"></colgroup>
            <tr>
              <th>
                {% translated_anchor title Title asc %}
              </th>
              <th>
                {% translated_anchor primary_location__country__name Location asc %}
              </th>
              <th>
                {% translated_anchor status Status asc %}
              </th>
              <th>
                <span class="small">Partners</span>
              </th>
              <th>
                {% translated_anchor latest_update_date Updated %}
              </th>
              <th>
                <span class="small">Focus area</span>
              </th>
              <th style="border-right: 0;">
                {% translated_anchor funds_needed Funding %}
              </th>
            </tr>
            {% for project in projects %}
              <tr>
                <td>
                  <div class="space10">
                    <a href="{% url 'project_main' project.id %}">
                      {% project_thumb project 100 75 'float:left; margin: 0 10px 10px 0;' %}
                      <p class="link_blue strong" style="margin-bottom:0">
                        {{project.title}}
                      </p>
                    </a>
                    <p class="tiny grey">
                      {{project.project_plan_summary|capfirst|smart_truncate:100}}
                    </p>
                  </div>
                </td>
                <td>
                  {# if the project has multiple locations #}
                  {% if project|countries_list|length > 1 %}
                    {# add a title attribute listing all countries where the project has locations and mark the primary location with a * #}
                    <p class="td-text" title="Multiple locations in&#10;{{ project|countries_list|rsr_sorted_set|join:"&#10;" }}">
                      * {{project.primary_location.country}}
                    </p>
                  {%  else %}
                    <p class="td-text">{{project.primary_location.country}}</p>
                  {%  endif %}
                  {# if the project has locations on multiple continents #}
                  {% if project|continents_list|rsr_sorted_set|length > 1 %}
                    {# add a title attribute listing all continents where the project has locations and mark the primary location with a * #}
                    <p class="td-text" title="Multiple locations in&#10;{{ project|continents_list|rsr_sorted_set|join:"&#10;" }}">
                      * {{project.primary_location.country.continent}}
                    </p>
                  {%  else %}
                    <p class="td-text">{{project.primary_location.country.continent}}</p>
                  {%  endif %}
                </td>
                <td>
                  <p class="td-text green">{{project.show_status}}</p>
                </td>
                <td>
                  <p class="td-text">
                    {% for partner in project.all_partners %}
                      <a href="{{partner.get_absolute_url}}">{{partner}}</a>{% if not forloop.last %}<br />{% endif %}
                    {% endfor %}
                  </p>
                </td>
                <td>
                  <p class="td-text">
                    {% if project.latest_update_id %}
                      <a href="{% url 'update_main' project.pk project.latest_update_id %}">{{project.latest_update_date|string_to_date|date:"d M Y"}}</a>
                    {% else %}
                      {% trans 'Not yet' %}
                    {% endif %}
                  </p>
                </td>
                <td>
                  <p class="td-text">
                    {% for area in project.focus_areas %}
                      <a href="{% url 'project_list' area.slug %}">{{area.name}}</a><br/>
                    {% endfor %}
                  </p>
                </td>
                <td>
                  <p class="td-text">
                    {# --- funding start --- #}
                  <div style="text-align:center;">
                    <p class="small" style="margin:0;">
                      {{project.get_currency_display|safe}} {{project.budget|round|intcomma}}
                    </p>
                  </div>
                  <div class="fundingbox-progress-bar" style="height:5px;">
                    {% if project.budget %}
                      <div class="fundingbox-progress-bar-progress" style="width:{% widthratio_trunc project.funds|add:1 project.budget 100 %}%">
                      </div>
                    {% endif %}
                  </div>
                  <div style="text-align:center;">
                    <p class="tiny grey" style="margin:0;">
                      {# |add:1 truncates so we get truc(funding_total_given+1) #}
                      {% widthratio_trunc project.funds|add:1 project.budget 100 %} %
                    </p>
                  </div>
                  <div style="text-align:center;">
                    {% if project.funds_needed|round == 0 %}
                      <p class="green" style="font-weight:bold;">
                        {% trans 'Fully funded' %}
                      </p>
                    {% else %}
                      {% if not project.status == 'L' and not project.status == 'R' %}
                        <div style="text-align:center; padding-top:5px; padding-bottom:5px;">
                          <a class="orange awesome small" href="{% url 'project_donate' project.id %}">{% trans 'Donate' %}</a>
                        </div>
                      {% endif %}
                    {% endif %}
                  </div>
                  {# --- funding stop --- #}
                </td>
              </tr>
            {% endfor %}
          </table>
          {% paginate %}
        </div>
      </div>

    </div>
  </div>

{% endblock maincontent %}

{% block jq_ready %}

	{{block.super}}

	var qDefaultValue = jQ('#q').val();
	jQ('#organisation').val({{org.id}});
		
	jQ('#continent').change(function() {

		function Country(countryName, countryId) {
			this.countryName = countryName;
			this.countryId = countryId;
			this.getName = function () { return this.countryName; }
			this.getId = function () { return this.countryId; }
		}

		/*
		function Continent(continentName, continentId) {
			this.continentName = continentName;
			this.continentId = continentId;
			this.getName = function () { return this.continentName; }
			this.getId = function () { return this.continentId; }
		}
		*/

		function add_countires(countries) {
			jQ('#country >option').remove();
			jQ('#country').append('<option value="all">{% trans 'All countries' %}</option>');
			for (var i=0; i < countries.length; i++) {				
				jQ('#country').append('<option value="' + countries[i].getId() + '">' 
					+ countries[i].getName() + '</option>');
			};
		}


		var all_countries = [];
		{% for country in countries %}
			all_countries[all_countries.length] = new Country('{{country.name}}',{{country.id}});
		{% endfor %}

		var countries_in_africa = [];
		{% for country in countries_in_africa %}
			countries_in_africa[countries_in_africa.length] = new Country('{{country.name}}',{{country.id}});
		{% endfor %}

		var countries_in_asia = [];
		{% for country in countries_in_asia %}
			countries_in_asia[countries_in_asia.length] = new Country('{{country.name}}',{{country.id}});
		{% endfor %}

		var countries_in_australia = [];
		{% for country in countries_in_australia %}
			countries_in_australia[countries_in_australia.length] = new Country('{{country.name}}',{{country.id}});
		{% endfor %}

		var countries_in_europe = [];
		{% for country in countries_in_europe %}
			countries_in_europe[countries_in_europe.length] = new Country('{{country.name}}',{{country.id}});
		{% endfor %}

		var countries_in_north_america = [];
		{% for country in countries_in_north_america %}
			countries_in_north_america[countries_in_north_america.length] = new Country('{{country.name}}',{{country.id}});
		{% endfor %}

		var countries_in_south_america = [];
		{% for country in countries_in_south_america %}
			countries_in_south_america[countries_in_south_america.length] = new Country('{{country.name}}',{{country.id}});
		{% endfor %}

		var selected_continent = jQ('#continent').val();		
		
		if (selected_continent == 1 ) {		
			add_countires(countries_in_africa);
		} 
		else if (selected_continent == 2 ) {		
			add_countires(countries_in_asia);
		}
		else if (selected_continent == 3) {
			add_countires(countries_in_australia);
		}
		else if (selected_continent == 4) {
			add_countires(countries_in_europe);
		}
		else if (selected_continent == 5) {
			add_countires(countries_in_north_america);
		}
		else if (selected_continent == 6) {
			add_countires(countries_in_south_america);
		}
		else {
			add_countires(all_countries);	
		}

	});

{% endblock jq_ready %}
