.approvals{
  h4{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
  }
  .periods{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    ul{
      display: flex;
      li{
        background-color: #F5F5F5;
        padding: 15px 25px;
        line-height: 24px;
        min-width: 270px;
        cursor: pointer;
        &:not(:first-child){
          margin-left: 15px;
        }
        .label{
          font-weight: 500;
          font-size: 10px;
          text-transform: uppercase;
          color: rgba(0, 0, 0, 0.4);
        }
        b{
          font-weight: 500;
          font-size: 14px;
          text-transform: uppercase;
          color: #404040;
        }
        .status{
          font-size: 12px;
          font-weight: 500;
          margin-top: 4px;
          .anticon{
            font-size: 16px;
            margin-right: 5px;
            transform: translateY(1px);
          }
          &.unlocked{
            color: #409964;
          }
          &.locked{
            color: #D87272;
          }
        }
      }
    }
  }
}