.focus.view{
  .calc-total-checker{
    margin-top: -10px!important;
    margin-bottom: 30px;
  }
}
.add-sector-modal{
  width: 600px!important;
  .ant-btn{
    margin-bottom: 10px;
    overflow: hidden;
    text-align: left;
  }
}
