{% extends "rsr/rsr_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}
{% load rsr_tags %}

{% block title %}{{block.super}} - {% trans 'Password reset' %}{% endblock %}

{% block header %}
    <div id="header" class="clearfix">
		<a href="{% url index %}"><img src="{{MEDIA_URL}}akvo/img/logo_akvo_250.png" alt="{% trans 'Akvo.org' %}" id="header_logo" /></a>
    </div>
{% endblock header %}

{% block breadcrumbs %}
	{{block.super}} &raquo; {% trans 'Password reset' %}
{% endblock breadcrumbs %}

{% block content %}

{% if validlink %}
    <div class="boxbody">
        <div class="clearfix">

            <h1 class="section c3">{% trans 'Password reset' %}</h1>
            <p class="lightx2">
                {% trans 'Please choose a new password.' %}</p>
        </div>
        <hr>
            
        <form method="post" action="">	
        <fieldset class="form clearfix">

            <div id="password" class="clearfix">
                <label>{% trans 'Enter new password' %}</label>

                {% if form.new_password1.errors or form.new_password2.errors %}
                 <div class="form_error">
                    <p class="c1">{% trans 'A problem occurred' %}</p>
                    {% if form.new_password1.errors %}
                    <p>{{ form.new_password1.errors|join:", " }}</p>
                    {% endif %}
                    {% if form.new_password2.errors %}
                    <p>{{ form.new_password2.errors|join:", " }}</p>
                    {% endif %}
                </div>
                {% endif %}              
                {{ form.new_password1 }}
                <p class="about_field">{% trans 'Enter the new password.' %}</p>
                
                {{ form.new_password2 }}
                <p class="about_field">{% trans 'Retype the password to avoid mistakes.' %}</p>
            </div>
            <hr>
            {% comment %}
                TODO: fix translation of button caption. _('Submit change') generates an exception right now...
            {% endcomment %}
            {% submit_button _('Change') 'ab_white' %}
	
        </fieldset>
        </form>
    </div>
{% endif %}
{% endblock content %}