{% extends "rsr/rsr_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}

{% load rsr_tags %}

{% block title %}{{block.super}} - {% trans 'Reset password' %}{% endblock %}

{% block header %}
    <div id="header" class="clearfix">
        <a href="{% url index %}"><img src="{{MEDIA_URL}}img/logo_akvo_250.png" alt="{% trans 'Akvo.org' %}" id="header_logo" /></a>
    </div>
{% endblock header %}

{% block breadcrumbs %}
	{{block.super}} &raquo; {% trans 'Reset password' %}
{% endblock breadcrumbs %}

{% block content %}

    <div class="boxbody">
        <div class="clearfix">

            {% if form.errors or form.email.errors %}
            <div class="form_error c2">
                <p class="c1">{% trans 'A problem occurred' %}</p>

                <p>{{ form.non_field_errors }}</p>
                
                <p>{% trans 'Please review messages below.' %}</p>
            </div>
            {% endif %}            

            <h1 class="section c3">{% trans 'Reset your password' %}</h1>
            <p class="lightx2">
                {% trans "Forgotten your password? Enter your e-mail address below, and we'll reset your password and e-mail the new one to you." %}
            </p>
        </div>
        <hr>
            
        <form method="post" action="">
        <fieldset class="form">
            <div id="username" class="clearfix">
                <label>{% trans 'Enter your email address' %}</label>
                {% if form.email.errors %}
                <div class="form_error">
                    <p class="c1">{% trans 'A problem occurred' %}</p>

                    <p>{{ form.email.errors|join:", " }}</p>
                </div>
                {% endif %}
                {{ form.email }}

                <p class="about_field">{% trans 'Enter the email address of your Akvo RSR account.' %}</p>
            </div>
            <hr>

			{% submit_button _('Reset') 'ab_white' %}
			
        </fieldset>
        </form>
    </div>
{% endblock content %}
