{% extends "rsr/user_message_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}

{% block title %}
                {% trans 'Registration complete' %}
{% endblock %}

{% block h1 %}
    {% trans 'Thank you!' %}
{% endblock h1 %}

{% block h2 %}
    {% trans 'Please check your email account.' %}
{% endblock h2 %}

{% block text %}
    {% trans 'A confirmation will be sent to you via email. Please click the link in the email to complete the setup of your account.' %}
{% endblock text %}
