{% extends "rsr/rsr_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}

{% load rsr_tags %}

{% block title %}{% trans 'Register with Akvo RSR - Step 2' %}{% endblock %}

{% block header %}
    <div id="header" class="clearfix">
		<a href="{% url index %}"><img src="{{MEDIA_URL}}akvo/img/logo_akvo_250.png" alt="{% trans 'Akvo.org' %}" id="header_logo" /></a>
    </div>
{% endblock header %}

{% block breadcrumbs %}
	{{block.super}} &raquo; {% trans 'Register with Akvo RSR - Step 2' %}
{% endblock breadcrumbs %}

{% block content %}

    <div class="boxbody">
        <div class="clearfix">

          {% if form.errors %}
            <div class="form_error" style="margin-right: 70px;">
                <p class="c1">{% trans 'A problem occurred' %}</p>
                {% if form.non_field_errors %}
                    <p>{{ form.non_field_errors }}</p>
                {% else %}
                    <p>{% trans 'Please review messages below.' %}</p>
                {% endif %}
            </div>
          {% endif %}            

            <h1 class="section">{% trans 'Set up your account' %}</h1>

            <p class="lightx2">{% trans 'Step 2 of 2' %}</p>
        </div>
        <hr>
            
        <form method="post" action="">
        <fieldset class="form">
            <div id="username" class="clearfix">
                <label>{% trans 'Enter a username' %}</label>
                {% if form.username.errors %}
                <div class="form_error">
                    <p class="c1">{% trans 'A problem occurred' %}</p>

                    <p>{{ form.username.errors|join:", " }}</p>
                </div>
                {% endif %}
                {{ form.username }}
                <!--<input class="input c4" name="input">-->

                <p class="about_field">
                    {% trans 'Your user name will be permanent. Use this to log into Akvo.' %}
                    <br />
                    {% trans 'Remember that user names as well as passwords are case sensitive.' %}
                </p>
            </div>
            <hr>

            <div id="fist_last_names" class="clearfix">
                <label>{% trans 'Enter your first and last name' %}</label>

                {% if form.first_name.errors or form.last_name.errors %}
                <div class="form_error">
                    <p class="c1">{% trans 'A problem occurred' %}</p>
                    {% if form.first_name.errors %}
                    <p>{{ form.first_name.errors|join:", " }}</p>
                    {% endif %}
                    {% if form.last_name.errors %}
                    <p>{{ form.last_name.errors|join:", " }}</p>
                    {% endif %}
                </div>
                {% endif %}              
                {{ form.first_name }}
                <p class="about_field">{% trans 'Enter first (given) name.' %}</p>
                
                {{ form.last_name }}
                <p class="about_field">{% trans 'Enter last (family) name.' %}</p>

                <p class="about_field_extended">{% trans 'Your first and last name will be displayed when you post comments or updates to Akvo.' %}</p>
            </div>
            <hr>

            <div id="password" class="clearfix">
                <label>{% trans 'Enter a password' %}</label>

                {% if form.password1.errors or form.password2.errors %}
                 <div class="form_error">
                    <p class="c1">{% trans 'A problem occurred' %}</p>
                    {% if form.password1.errors %}
                    <p>{{ form.password1.errors|join:", " }}</p>
                    {% endif %}
                    {% if form.password2.errors %}
                    <p>{{ form.password2.errors|join:", " }}</p>
                    {% endif %}
                </div>
                {% endif %}              
                {{ form.password1 }}
                <p class="about_field">{% trans 'Enter password' %}.</p>
                
                {{ form.password2 }}
                <p class="about_field">{% trans 'Retype password to verify' %}.</p>
            </div>
            <hr>

            <div id="email" class="clearfix">
                <label>{% trans 'Enter your email address' %}</label>

                {% if form.email.errors or form.email2.errors %}
                 <div class="form_error">
                    <p class="c1">{% trans 'A problem occurred' %}</p>
                    {% if form.email.errors %}
                    <p>{{ form.email.errors|join:", " }}</p>
                    {% endif %}
                    {% if form.email2.errors %}
                    <p>{{ form.email2.errors|join:", " }}</p>
                    {% endif %}
                </div>
                {% endif %}              
                {{ form.email }}
                <p class="about_field">{% trans 'Enter email address.' %}</p>
                
                {{ form.email2 }}

                <p class="about_field">{% trans 'Retype email address to verify.' %}</p>
            </div>
            <hr>
            {{ form.org_id }}

			{% submit_button _('Register') 'ab_white' %}

        </fieldset>
        </form>
    </div>
{% endblock content %}

