{% load i18n project_editor %}

<div class="project-location-item parent" id="project_location.{{ location|obj_id }}">
    {% include "myrsr/project_editor/partials/related_object_header.html" with rel_obj=location %}
    <div class="hide-partial {% if location.pk %}hidden{% endif %}">
        <p class="help-block">{% trans 'Use the link to' %}
            <a href="http://mygeoposition.com/" target="_blank">http://mygeoposition.com/</a>
            {% trans 'to obtain the coordinates for your locations to ensure the pins are correctly placed.' %}
        </p>
        <div class="row">
            <div class="col-md-4">
                {% include text_input with obj=location field='latitude' %}
            </div>
            <div class="col-md-4">
                {% include text_input with obj=location field='longitude' %}
            </div>
            <div class="col-md-4">
                {% include choice_input with obj=location field='country' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% include text_input with obj=location field='address_1' %}
            </div>
            <div class="col-md-6">
                {% include text_input with obj=location field='address_2' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {% include text_input with obj=location field='postcode' %}
            </div>
            <div class="col-md-4">
                {% include text_input with obj=location field='city' %}
            </div>
            <div class="col-md-4">
                {% include text_input with obj=location field='state' %}
            </div>
        </div>
        <div class="hide-default {% if not advanced_editor %}hidden{% endif %}">
            <div class="row">
                <div class="col-md-4">
                    {% include text_input with obj=location field='name' hidden=True %}
                </div>
                <div class="col-md-4">
                    {% include text_input with obj=location field='reference' hidden=True %}
                </div>
                <div class="col-md-4">
                    {% include text_input with obj=location field='location_code' hidden=True %}
                </div>
            </div>
            {% include textarea_input with obj=location field='description' hidden=True %}
            {% include textarea_input with obj=location field='activity_description' hidden=True %}
            <div class="row">
                <div class="col-md-3">
                    {% include choice_input with obj=location field='exactness' hidden=True %}
                </div>
                <div class="col-md-3">
                    {% include choice_input with obj=location field='location_reach' hidden=True %}
                </div>
                <div class="col-md-3">
                    {% include choice_input with obj=location field='location_class' hidden=True %}
                </div>
                <div class="col-md-3">
                    {% include choice_input with obj=location field='feature_designation' hidden=True %}
                </div>
            </div>
            <h5>{% trans 'Location administratives' %}</h5>
            <div class="location-administrative-container" id="location-administrative-container">
                {% for admin in location.administratives.all %}
                    {% include "myrsr/project_editor/related_objects/location_administrative_input.html" %}
                {% empty %}
                    {% with location_id_string=location.pk|default:"new-0"|stringformat:"s" %}
                        {% include "myrsr/project_editor/related_objects/location_administrative_input.html" with admin='AdministrativeLocation.'|add:project_id_string|add:'_'|add:location_id_string %}
                    {% endwith %}
                {% endfor %}
                <div class="row form-group">
                    <div class="col-md-12 text-center add-object-link">
                         <a href="#" class="add-location-administrative"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another administrative' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
