{% load i18n project_editor %}

<div class="transaction-sector-item parent" id="transaction_sector.{{ sector|obj_id }}">
    {% include "myrsr/project_editor/partials/related_object_header.html" with rel_obj=sector %}
    <div class="hide-partial {% if sector.pk %}hidden{% endif %}">
        <div class="row">
            <div class="col-md-4">
                {% include text_input with obj=sector field='code' hidden=True %}
            </div>
            <div class="col-md-4">
                {% include choice_input with obj=sector field='vocabulary' hidden=True %}
            </div>
            <div class="col-md-4">
                {% include text_input with obj=sector field='text' hidden=True %}
            </div>
        </div>
    </div>
</div>
