.locations.view{
  form h3:nth-of-type(2){
    margin-top: 30px;
  }
  .location-item{
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    margin-bottom: 15px;
    .ant-form-item{
      // padding-bottom: 0;
      // margin-bottom: 0;
    }
    .input-label{
      display: flex;
    }
    .anticon-delete{
      margin-left: auto;
      transform: translate(3px, 3px);
    }
  }
  .ant-collapse-item .ant-collapse-extra .amount {
    font-size: 14px;
    opacity: 0.7;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
  }
  .calc-total-checker{
    margin-top: -10px!important;
    margin-bottom: 30px;
  }
}