/* css relative font sizes 
body 76.1%

inherited 60% -> 78.8%
inherited 69% -> 90.7%
inherited 89% -> 117%
inherited 96% -> 126.1%

*/

/* reset! */
* {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, form, label, ol, dl, address {
	margin: 0.5em 0;
}

li, dd {
	margin-left: 1em;
}

fieldset {
	padding: 5em;
}

table {
   /* emulate cellspacing = cellpadding = 0 */
   border-collapse: collapse;
   border-spacing: 0;
}

body {
   font-size: 76.1%;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.3em;
}

input {
   margin-bottom: 0.2em;
}

#header {
   /*background: #FFF;*/
}

#footer {
   border-top: 1px solid #000000;
   padding-bottom: 15px;
}