.w170px {
	width: 100%;
	height: 100%;
}
.w170px ul.basicInfo { padding: 0.5em 1.5%; }
.w170px ul.basicInfo li {
	margin: 0 auto 0.25em auto;
	display: table;
}
.w170px ul.basicInfo li .projectStatus {
	font-size: 0.65em;
	text-align: center;
	margin: 0.25em auto 0.5em;
}
.w170px #project_title {
	width: 98%;
	display: block;
	font-size: 1em;
	text-transform: uppercase;
	margin: 0.75em 0 0.25em 5px;
	color: rgb(255,255,255);
}
.w170px .photo_frame {
	float: none;
	margin: 0 2%;
}
.w170px .photo_frame img {
	width: 96%;
	height: auto;
}
.w170px #project_subtitle {
	margin: 5px 5px 10px 5px;
	float: none;
}
.w170px .projectBudget {
	display: inline-block;
	position: relative;
	float: none;
	width: 95%;
	margin: 10px 5px 0 0;
	max-height: none;
	padding: 15px 4px;
}
.w170px ul.fundingwrap {
	margin: 15px 0 0 0;
	padding: 5px 0;
}
.w170px ul.fundingwrap li {
	padding: 10px 0;
	margin: 5px 0;
}
.w170px ul.fundingwrap li:first-child {
	padding: 10px 0;
	margin: 0px 0;
}
.w170px .orangeAction {
	font-size: 0.9em;
	padding: 0.15em 2em;
	margin: 20px auto 0;
}

.w170px header span {
	display: none;
}
