{% extends "rsr/project/project_base.html" %}
{% load i18n rsr_tags rsr_filters webdesign thumbnail counter_tags google_maps cache humanize %}
{% load url from future %}

{% block style %}
  {% asset_bundle 'dws_style14' %}
  <!--[if IE 6]>
    {% asset_bundle 'dws_ie6_style' %}
  <![endif]-->
{% endblock style %}

{% block title %}
  - {{project.name}}
  - {% trans 'Project updates' %}
  - {{update.title}}
{% endblock title %}

{% block breadcrum_items %}
{{block.super}}
  <li><a href="{{project.get_absolute_url}}"><span>{{project.name}}</span></a></li>
  <li><a href="{% url 'project_updates' project.id %}"><span>{% trans 'Project updates' %}</span></a></li>
  <li id="last_breadcrum_item">{{update.title}}</li>
{% endblock breadcrum_items %}


{% block project_main %}  
  <div class='column span-11'>
    <div class='column span-11 last'>
      <div class="white_box" style="background-color:#fff;">
        <div class='column span-11 last' style="width: 760px;">
          {% include "inclusion_tags/update_header.html" %}
          <div class="space20">
            <div class="h1_companion">
              <a class="" href="{% url 'project_updates' project.id %}">{% trans 'Back to updates for project' %}</a>
            </div>
            <h3 class="append-bottom">{% trans 'Project update:' %} {{update.title}}</h3>
            <p>
                {{update.time|date:"Y-m-d H:i" }}<br/>
                {% blocktrans with update.user.get_full_name as user_name and update.user.userprofile.organisation.name as user_org and update.user.userprofile.organisation.get_absolute_url as org_url and update.get_update_method_display as update_meth %}
                    by {{user_name}}, <a href="{{org_url}}">{{user_org}}</a>, via {{update_meth}}
                {% endblocktrans %}                
            </p>	
            {% if update.photo and update.photo_location == 'B' %}
              {% update_thumb update 720 540 %}
            {% endif %}

            {% if update.text %}
              <div class="prepend-top">
                {{update.text|linebreaks|safe}}
              </div>
            {% endif %}

            {% if update.photo and update.photo_location == 'E' %}
              {% update_thumb update 720 540 %}
            {% endif %}
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
{% endblock project_main %}