/*------------------------------------------------------------------ 
[Table of contents] 
 
1. Body
3. Content 		
4. Table
-------------------------------------------------------------------*/



/*------------------------------------------------------------------ 
[1. Body] 
*/

#container {
	width:170px;
	min-width:170px;
	max-width:170px;
}

#heightconstrain {
	padding:5px;
}

