/*------------------------------------------------------------------ 
[Table of contents] 
 
1. Body
3. Content 		
4. Table
-------------------------------------------------------------------*/



/*------------------------------------------------------------------ 
[1. Body] 
*/

#container {
	width:170px;
	min-width:170px;
	max-width:170px;
}

#heightconstrain {
	padding:5px;
}


#project_title {
    font-size:1.2em !important;
}


div.photo_frame {
    max-width:150px !important;
	width:150px !important;
}


.fundingboxnarrow-header {
	background: transparent url('../../img/fundingboxnarrow-header.gif') no-repeat top left;
	height:5px;
	width:150px;
	overflow:hidden;
	margin:5px auto 0px auto;
}

.fundingboxnarrow-footer {
	height:6px;
	background: transparent url('../../img/fundingboxnarrow-footer.gif') no-repeat top;
	width:150px;
	overflow:hidden;
	margin:0px auto 5px auto;
}


.fundingboxnarrow-content {
	background: transparent url('../../img/fundingboxnarrow-content.gif') repeat-y;
	width:150px;
	margin:0px auto 0px auto;
	overflow:hidden;
	text-align:center;
}
