/*---------------------------------------------------------------------------------

        Title:          RSR v3 functions and library
        Author:         Dan Rowden, dan@akvo.org

/*---------------------------------------------------------------------------------*/

                        /* Colours
---------------------------------------------------------------------------------*/

/* Akvo Primary Colours:    */
$akvoPurple: rgb(44, 42, 116);
/* Akvo Purplish Blue */
$rsrBlue: rgb(114, 205, 255);
/* Akvo very light blue */
$flowOrange: rgb(222, 137, 41);
/* Akvo Orange / light Brown */
$openaidYellow: rgb(255, 210, 0);
/* Akvo Yellow */
$akvopediaPink: rgb(191, 131, 185);
/* Akvo Pink*/
$akvoTvRed: rgb(238, 49, 36);
/* Akvo Red*/
$primary4: rgb(153, 153, 153);
/* Akvo Mid grey */
$primary5: rgb(57, 102, 128);
/* Akvo Darker shade Blue from light blue */
$primary6: rgb(107, 134, 141);
/* Akvo link blue */
$akvoLink: rgb(55, 146, 179);
/* Akvo black */
$akvoBlack: rgb(32, 32, 36);

/* Akvo Secondary Colours:    */
$secondary1: rgb(225, 237, 195);
/* Akvo very Light green */
$secondary2: rgb(227, 27, 35);
/* Akvo red */
$secondary3: rgb(219, 135, 201);
/* Akvo Pink */
$secondary5: rgb(125, 125, 125);
/* Akvo Darker Grey */
$secondary6: rgb(66, 76, 43);
/* Akvo Very dark Green (Military) */
$secondary7: rgb(119, 97, 0);
/* Akvo Kaki (Greenish Brown) */
$secondary8: rgb(242, 240, 230);
/* Akvo Off White */
$secondary9: rgb(74, 177, 207);
/* Akvo darkish blue / Water Point */

$bodyFont: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$scriptFont:  "Palatino", "Book Antiqua", Georgia, serif;
$titleFont: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@mixin border-radius($property) {
    -moz-border-radius: $property;
    -o-border-radius: $property;
    -webkit-border-radius: $property;
    border-radius: $property;
}
@mixin box-shadow($boxshadow...) {
    -moz-box-shadow: $boxshadow;
    -o-box-shadow: $boxshadow;
    -webkit-box-shadow: $boxshadow;
    box-shadow: $boxshadow;
}
@mixin background-size($backgroundSize...) {
    -moz-background-size: $backgroundSize;
    -o-background-size: $backgroundSize;
    -webkit-background-size: $backgroundSize;
    background-size: $backgroundSize;
}
@mixin transition($transitonProperties) {
    -moz-transition: $transitonProperties;
    -o-transition: $transitonProperties;
    -webkit-transition: $transitonProperties;
    transition: $transitonProperties;
}
@mixin noWrapTxt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin border-radius($property) {
    -moz-border-radius: $property;
    -o-border-radius: $property;
    -webkit-border-radius: $property;
    border-radius: $property;
}
@mixin box-sizing($boxSizingProperties) {
    -moz-box-sizing: $boxSizingProperties;
    -webkit-box-sizing: $boxSizingProperties;
    box-sizing: $boxSizingProperties;
}
/* Media Queries
  ========================================================================== */
$width-tiny:  570px; /* custom mid-point break */
$width-small:  768px;
$width-medium: 992px;
$width-large:  1200px;

@mixin responsive($width) {
    @if $width == lg {
        @media only screen and (min-width: $width-large) {
            @content;
        }
    }
    @else if $width == md {
        @media only screen and (min-width: $width-medium) {
            @content;
        }
    }
    @else if $width == sm {
        @media only screen and (min-width: $width-small) {
            @content;
        }
    }
    @else if $width == ty {
        @media only screen and (max-width: $width-small) and (min-width: $width-tiny) {
            @content;
        }
    }
    @else if $width == xs {
        @media only screen and (max-width: $width-small) {
            @content;
        }
    }
}

/* Placeholder
  ========================================================================== */

@mixin placeholder-color($color){
  &.placeholder{
    color: $color;
  }
  &:-moz-placeholder{
    color: $color;
  }
  &::-webkit-input-placeholder{
    color: $color;
  }
  &:-ms-input-placeholder{
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
  }
}
