/*---------------------------------------------------------------------------------

		Title:          RSR v3 styles
		Author:         Dan Rowden, dan@akvo.org

/*---------------------------------------------------------------------------------*/

@import 'library';


/* Hack for full-width columns below 570px */
@include responsive(ty) {
	.col-ty-12 {
		float: none;
		width: 100%;
	}
}


.navbar {
	border-radius: 0;
	border: none;
}

/* HEADER */
body > .navbar {
	background-color: #eee;
}
nav a {
	text-transform: none;
}
.navbar.a-main {
	text-transform: uppercase;
}
.navbar .btn {
	padding: 4px 9px;
}
.navbar-brand {
	width: 122px;
	background-image: url(../../img/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: -999px;
	margin-top: 11px;
	margin-left: 15px;
	height: 27px;
	padding: 0;
}
@include responsive(sm) {
	body > .navbar >.container .navbar-brand {
		margin-left: 0;
	}
}

/* FOOTER */
body > footer {
	margin-top: 1em;
}
footer .navbar {
	margin-bottom: 0;
}
#footer-body {
	text-align: center;
	font-size: 0;
}
#footer-body .navbar-nav {
	display: inline-block;
	float: none;
	font-size: 14px;
}


/* LISTING GENERIC */
#map {
	height: 100px;

	@include responsive(sm) {
		height: 200px;
	}
}

#search_filter .input-group {
	margin: auto;
	max-width: 400px;
}
