@import "library.scss";

html {
    width: 100%;
    overflow-y: scroll;
}

body {
    width: 100%;
    height: 100%;
    color: rgb(36, 48, 50);
    line-height: 1.42857;
    text-rendering: optimizelegibility;
    font-family: $bodyFont;
    padding-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titleFont;
    font-weight: normal;
}

a, a:link, a:visited {
    outline: none;
    color: $anchorLink;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
    &:link {
        -webkit-tap-highlight-color: #fcd700;
    }
    &:hover {
        color: $anchorLinkHover;
    }
}

/****************** Miscellanous Typography ********************/
.noItem {
	color:rgba($akvoPurple,0.2);
}
.moreLink {
	margin-left:5px;
	padding:3px;
	background:rgba($anchorLink, 0.1);
	@include border-radius(4px);
	&:hover {
		background:rgba($anchorLinkHover, 0.1);
	}
}
::-moz-selection {
    background: rgb(114, 205, 255);
    color: #fff;
    text-shadow: none;
}

::selection {
    background: rgb(114, 205, 255);
    color: #fff;
    text-shadow: none;
}

.topMargin {
    margin-top: 15px;
}

.verticalPadding {
    padding: 20px 0;
}

/* Force full-width columns below 570px (when using col-xs-N) */
@include responsive(small-screens) {
    .col-ty-12 {
        float: none;
        width: 100%;
    }
}


a.btn-primary, button.btn-primary {
    border: 1px solid $anchorLink;
    color: white;
    background: $anchorLink;
    &:hover {
        color: white;
        background: $anchorLinkHover;
        border: 1px solid $anchorLinkHover;
    }
}

.dropdown-label {
    display: block;
    color: rgba($rsrGreen, 0.7);
    text-align: left;
}

.btn-group, .form-group {
    button {
        @include border-radius(3px);
    }
}

/* Bootstrap style for typeahead dropdown, to be included in CSS file */
.tt-input, .tt-hint {
    border-radius: initial;
}

span.twitter-typeahead .tt-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

span.twitter-typeahead .tt-suggestion > p {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

span.twitter-typeahead .tt-suggestion.tt-cursor {
    color: #ffffff;
    background-color: #428bca;
}

span.twitter-typeahead {
    width: 100%;
}

.input-group span.twitter-typeahead {
    display: block !important;
}

.input-group span.twitter-typeahead .tt-dropdown-menu {
    top: 32px !important;
}

.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
    top: 44px !important;
}

.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
    top: 28px !important;
}

/****************************************************************************
								HEADER + NAVIGATION
****************************************************************************/
nav[role=navigation] {
    background-color: rgba(white,0.95);
    border: none;
    border-top: 3px solid rgba($rsrBlue, 0.5);
    padding: 5px 0;
    box-shadow: 0 1px 1px rgba(132, 132, 136, 0.1);
    border-radius: 0;
    border-bottom: 1px solid rgb(228, 228, 228);
    button.navbar-toggle {
        background: $rsrBlue;
        border: 1px solid $rsrBlue;
        &:hover {
            background: white;
            border: 1px solid $rsrBlue;
            .icon-bar {
                background: $rsrBlue;
            }
        }
    }
    .navbar-collapse {
        /*background:white;
        border-top:1px solid rgb(228,228,228);*/
    }
    .navbar-brand {
        float: left;
        font-size: 18px;
        line-height: 20px;
        padding: 0 15px 0 0;
        h1 {
            width: 125px;
            top: 2px;
            height: inherit;
            background: url(../../img/logo.png) no-repeat center center;
            -webkit-background-size: 125px auto;
            background-size: 125px auto;
            text-indent: -9999px;
            margin-top: 0;
        }
    }
    .navbar-nav {
        li {
            padding-top: 3px;
            &:first-child {}
            a {
                color: $anchorLink;
                font-family: $titleFont;
                &:hover {
                    color: $anchorLinkHover;
                }
                &.active {
                    /*color: $akvoPurple;*/
                    color: complement($rsrBlue);
                    font-weight: bold;
                    background: rgba($anchorLinkHover,0) url(../../img/arrowDownOrange.svg) no-repeat center 30px;
                    background-size: 15px 15px;
                }
                &.addUpdateBtn {
                    margin-top: 10px;
                    color: white;
                    &:hover {
                        background-color: $anchorLinkHover;
                    }
                }
            }
        }
        &.navbar-right {
        	li {
        		margin-right:2px;
        		a {
        			padding-left:10px;
        			padding-right:10px;
        		}
        	}
        }
    }
}

.navbar .btn {
    padding: 4px 9px;
}

@include responsive(small-screens) {
    body > .navbar > .container .navbar-brand {
        margin-left: 0;
    }
}


/* FOOTER */
body > footer {
    margin-top: 1em;
}
footer {
	.navbar {
		background: $akvoBlack;
		border-radius: 0;
		#footer-body {
			ul.nav {
				li{
					a {
						display:block;
						&[href="http://akvo.org"] {
						    margin: 0;
						    width: 42px;
						    background: url(../../img/akvo.orgLogo.svg) center center no-repeat;
						    text-indent: -9999px;
						    background-size: 42px 42px;						
						}
					}
					&.akvoLogo {
						width:70px;
						a[href="http://akvo.org"] {
						    margin: 0;
						    width: 70px;
						    background: url(../../img/akvo.orgLogo.svg) center 5px no-repeat;
						    text-indent: -9999px;
						    background-size: 70px 42px;						
						}
					}
				}
			}
		}
	}
}

#footer-body {
    text-align: center;
    font-size: 0;
}

#footer-body .navbar-nav {
    display: inline-block;
    float: none;
    font-size: 14px;
}

/* GENERIC STRUCTURE and TEXT STYLES */
.touch-navbar {
    margin-top: -20px;
}

.center-text {
    text-align: center;
}

.detailedInfo {
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: bold;
    color: $akvoBlack;
}

h4.detailedInfo {
    margin-bottom: 0.25em;
}

.progress-bar-info {
    background-color: $secondary1;
}

/* LISTINGS */
#map {
    height: 400px;
    background: #428bca;
    padding-top: 9px;
    @include responsive(small-max-screens) {
        height: 450px;
        padding-top: 0px;
    }
}
.searchContainer {
    position: relative;
    #search {
	    .showFilters {
	        background-color: rgba(white,0.2);
	        border: 1px solid rgba($rsrGreen, 0);
	        color: white;
	        transition: all 0.4s ease-in;
	        &:hover {
	            background: rgba($rsrGreen, 0.5);
	            border: 1px solid rgba($rsrGreen, 0.7);
	            color: white;
	        }
	        @include responsive(small-max-screens) {
	            display: table;
	            top: inherit;
	            left: inherit;
	            margin: 10px auto 0;
	        }
	    }
	   	&.toggled  {
	   		.showFilters {
		        background-color: rgba($rsrGreen, 1);
		        border: 1px solid rgba($rsrGreen, 1);
		    }
        }
	}	
}
#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 200px;
    width: 0;
    margin-left: -200px;
    overflow-y: auto;
    background: rgba(white, 0.9);
    @include border-radius(0 0 5px 0);
    @include transition(all 0.5s ease);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    .btn-group {
    	width:100%;
    	border-bottom:1px solid rgba($akvoBlack,0.1);
    	padding:5px 0;
	    select {
		    border-color:rgba($akvoBlack,0.2);
		    }
		}
    .showFilters {
            position: relative;
            margin:10px auto;
        }
    div#filter {
        padding: 5px 15px 15px 15px;
        label {
    		color: $rsrGreen;
            @include noWrapBlockTxt;
        }
    }
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled {
    padding-left: 200px;
    #sidebar-wrapper {
        width: 200px;
    }
    #page-content-wrapper {
        position: absolute;
        margin-right: -200px;
    }
}

#search-filter {
	@include responsive(small-max-screens) {
        padding-bottom: 0;
    }
    #search {
        color: #fff;
        text-align: center;
        @include responsive(small-max-screens) {
            padding-bottom: 0;
        }
    }
    background-color: #241F20;
    p {
        color: lighten($rsrBlue, 10%);
    }
    div#filter {
        background: darken(rgba(#383334, 1), 0%);
        text-align: center;
    }
}


/************************************************************************
		COMMON STYLES TO PROJECTS, UPDATES & ORGANISATIONS LISTS
************************************************************************/

.main-list {
    li {
        margin-bottom: 30px;
        list-style-type: none;
        padding: 15px 0;
        border-radius: 3px;
        &:nth-child(2n+1) {
            background: rgb(238, 238, 238);
        }
        &:last-child {
        	margin-bottom:0;
        }
        h1 {
            margin-top: 0;
            font-size: 1.3em;
        }
        div h4:first-of-type {
            margin-top: 0;
        }
        .thumbImg {
            height: 100%;
            img {
                width: 100%;
            }
        }
    }
    .excerpt {
        @include noWrapBlockTxt;
    }
}

/* PROJECT */
header {
    &.projectHeader {
        margin-bottom: 0;
        padding: 15px 0;
        background: lighten($anchorLinkHover, 25%);
        h1 {
            margin-top: 10px;
            margin-bottom: 0;
            font-size: 1.5em;
        }
        .shareBlock {
            position: relative;
            a {
                position: relative;
                top: 30px;
                @include responsive(small-max-screens) {
                    left: 0;
                    top: 0;
                }
            }
        }
        .projectLocation {
            color: lighten($akvoBlack, 50%);
            .map-toggle {
                text-transform: uppercase;
                font-size: 0.875em;
                font-weight: bold;
            }
        }
    }
}

#project-map {
    border: 1px solid darken($lightOrange, 10%);
    div.akvo_map {
        width: calc(100%-2px);
        height: 300px;
    }
}

div.projectTopRow {
    position: relative;
    background: rgba(245,245,245,1);
    margin-top: 1px;
    #carousel {
        padding: 15px 0;
        /*background-color: rgb(230, 231, 232);*/
        margin-left: -15px;
        @include responsive(small-max-screens) {
            margin-left: inherit;
        }
        .carousel-inner {
            .item {
                text-align: center;
                a {
                    img {
                        max-height: 400px;
                        margin: auto;
                    }
                }
            }
        }
        .carousel-control.right {
            background-image: none;
        }
        .carousel-control.left {
            background-image: none;
        }
    }
    .projectSideInfo {
        padding: 5px 0;
        margin-left: -15px;
        @include responsive(small-max-screens) {
            margin-left: inherit;
        }

        ul {
            margin: 0;
            padding: 0;
            li {
                color: lighten($akvoBlack, 50%);
                list-style-type: none;
                padding-top: 10px;
                padding-bottom: 5px;
                border-bottom:thin solid rgb(230,230,230);                
                border-top:thin solid rgb(248,248,248);
                &:first-child {
                    padding-top: 5px;                	
                    border-top:none;
                }                
                &:last-child {
                    padding-bottom: 0;
                    border-bottom:none;
                }
                &.projectPartners {
                	padding-bottom:20px;
                	border-bottom: none;
                    span {
                        margin-bottom: 10px;
                    }
                    a.logoImg {
                        max-width: 50px;
                        img {
                            width: 80%;
                        }
                    }
                    .partType {
                        @include noWrapBlockTxt;
                    }
                }
                &.financeBlock {
                	border-top: none;
                    padding:15px 0 15px 0;
                    background: rgba($rsrBlue,0.1);
                    span {
                        margin-left: 15px;
                    }
                    a {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}
div.timelineBlock {
	margin:15px auto 25px;
	#timeline {
	    height: 200px;
	}
}
div.textBlock {
	.panel {
		border: 1px solid rgba(235,235,235,0.5);
		.panel-heading {
			padding:0;
			.panel-title {
				a {
					display:block;
					padding:15px 15px;
				}
			}
		}
	.panel-collapse{
			.panel-body{
				background: rgba($rsrBlue,0);
			}
		}
	}
	.udpateComponent {
		padding-top:10px;
		padding-bottom:15px;
        background: lighten($anchorLinkHover, 25%);
	}
}
#project-footer {
    margin-bottom: -16px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: lighten($akvoPurple, 65%);
    .detailedInfo {
    	color:rgba($akvoPurple,1);
    }
    #project-footer-right {
	    background: rgba($akvoPurple, 0.1);;
	    padding: 1.5em;
	}
}



#draft {
    background: #E04F46;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

#gallery {
    height: 300px;
    background: #ccc;
}

/* Project hierarchy */
.project-hierarchy-window {
    border: 0.1em solid #d3d3d3;
    width: 150px;
    float: left;
    margin: 30px;
    padding: 10px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.project-hierarchy-window:hover,
.project-hierarchy-window._jsPlumb_source_hover,
.project-hierarchy-window._jsPlumb_target_hover {
    border: 1px solid orange;
    color: orange;
}

.project-hierarchy-empty-window {
    width: 150px;
    float: left;
    margin: 30px;
}