/*
Error: Invalid CSS after "	padding": expected ";", was ": 6px;"
        on line 144 of main.scss

139: 
140: 
141: /* PROJECT *\/
142: header {
143: 	margin-bottom: 20px
144: 	padding: 6px;
145: 	background: #ccc;
146: 
147: 	h1 {
148: 		margin-top: 10px;
149: 		margin-bottom: 0;

Backtrace:
main.scss:144
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:1163:in `expected'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:1099:in `expected'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:1094:in `tok!'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:761:in `block in try_declaration'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:1139:in `call'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:1139:in `rethrow'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:766:in `try_declaration'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:661:in `block_child'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:642:in `block'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:660:in `block_child'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:42:in `parse'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/engine.rb:393:in `_to_tree'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:469:in `on_file_changed'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:276:in `call'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:276:in `_process_changes'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:233:in `block in _wait_for_changes'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:216:in `loop'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:216:in `_wait_for_changes'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:312:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"	padding\": expected \";\", was \": 6px;\"\A         on line 144 of main.scss\A \A 139: \A 140: \A 141: /* PROJECT */\A 142: header {\A 143: 	margin-bottom: 20px\A 144: 	padding: 6px;\A 145: 	background: #ccc;\A 146: \A 147: 	h1 {\A 148: 		margin-top: 10px;\A 149: 		margin-bottom: 0;"; }
