/*---------------------------------------------------------------------------------

		Title:          RSR v3 styles
		Author:         Dan Rowden, dan@akvo.org

/*---------------------------------------------------------------------------------*/

@import 'library';


/* Force full-width columns below 570px (when using col-xs-N) */
@include responsive(ty) {
	.col-ty-12 {
		float: none;
		width: 100%;
	}
}


.navbar {
	border-radius: 0;
	border: none;
}

/* HEADER */
body > .navbar {
	background-color: #eee;
}
.navbar.a-main {
	text-transform: uppercase;
}
.navbar .btn {
	padding: 4px 9px;
}
.navbar-brand {
	width: 122px;
	background-image: url(../../img/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: -999px;
	margin-top: 11px;
	margin-left: 15px;
	height: 27px;
	padding: 0;
}
@include responsive(sm) {
	body > .navbar >.container .navbar-brand {
		margin-left: 0;
	}
}

/* FOOTER */
body > footer {
	margin-top: 1em;
}
footer .navbar {
	margin-bottom: 0;
}
#footer-body {
	text-align: center;
	font-size: 0;
}
#footer-body .navbar-nav {
	display: inline-block;
	float: none;
	font-size: 14px;
}

/* GENERIC STRUCTURE and TEXT STYLES */
.touch-navbar {
	margin-top: -20px;
}
.center-text {
	text-align: center;
}
h4.section {
	margin-bottom: 0.5em;
	font-size: 0.875em;
	text-transform: uppercase;
	font-weight: bold;
}

/* LISTINGS */
#map {
	height: 300px;
	background: #428bca;

	@include responsive(sm) {
		height: 450px;
	}
}

#search {
	padding: 20px;
	color: #fff;
	text-align: center;
	background-color: #241F20;

	.input-group {
		margin: auto;
		max-width: 400px;
	}
}

.main-list {

	article {
		margin-bottom: 20px;

		h1 {
			margin-top: 0;
			font-size: 1.2em;
		}
	 	img {
			width: 100%;
		}
	}
}
