@import 'library';

html {
    width: 100%;
    overflow-y: scroll;
}
body {
    width: 100%;
    height: 100%;
    color: rgb(36, 48, 50);
    line-height: 1.42857;
    text-rendering: optimizelegibility;
    font-family: $bodyFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titleFont;
    font-weight: normal;
}
a, a:link, a:visited {
    outline: none;
    color: $anchorLink;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
    &:link {
        -webkit-tap-highlight-color: #fcd700;
    }
    &:hover {
        color: $anchorLinkHover;
   	}
}

::-moz-selection {
    background:rgb(114, 205, 255);
    color: #fff;
    text-shadow: none;
}
::selection {
    background: rgb(114, 205, 255);
    color: #fff;
    text-shadow: none;
}

/* Force full-width columns below 570px (when using col-xs-N) */
@include responsive(small-screens) {
	.col-ty-12 {
		float: none;
		width: 100%;
	}
}

.navbar {
	border-radius: 0;
	border-bottom:1px solid rgb(228,228,228);
	.container {
		border-bottom:1px solid white;
	}
	li {
		a {
			&.active{
				color:$akvoPurple;
			}
		}
	}
}

/* HEADER */
body > .navbar {
	background-color: rgb(244,244,244);
}
.navbar.a-main {
	text-transform: uppercase;
}
.navbar .btn {
	padding: 4px 9px;
}
.navbar-brand {
	width: 122px;
	background-image: url(../../img/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: -999px;
	margin-top: 11px;
	margin-left: 15px;
	height: 27px;
	padding: 0;
}
@include responsive(small-screens) {
	body > .navbar >.container .navbar-brand {
		margin-left: 0;
	}
}

/* FOOTER */
body > footer {
	margin-top: 1em;
}
footer .navbar {
	margin-bottom: 0;
}
#footer-body {
	text-align: center;
	font-size: 0;
}
#footer-body .navbar-nav {
	display: inline-block;
	float: none;
	font-size: 14px;
}

/* GENERIC STRUCTURE and TEXT STYLES */
.touch-navbar {
	margin-top: -20px;
}
.center-text {
	text-align: center;
}
.section {
	font-size: 0.875em;
	text-transform: uppercase;
	font-weight: bold;
}
h4.section {
	margin-bottom: 0.25em;
}
.progress-label-current {
	position: relative;
}
.progress-label-start {
	float: left;
	margin-top: -16px;
}
.progress-label-end {
	float: right;
	margin-top: -16px;
}
//img {
//	max-width: 100%;
//}

/* LISTINGS */
#map {
	height: 300px;
	background: #428bca;

	@include responsive(sm) {
		height: 450px;
	}
}

#search-filter {
	margin-bottom: 20px;
}

#search {
	padding: 20px;
	color: #fff;
	text-align: center;
	background-color: #241F20;

	.input-group {
		margin: auto;
		max-width: 400px;
	}
}

.main-list {

	li {
		margin-bottom: 20px;

		h1 {
			margin-top: 0;
			font-size: 1.2em;
		}
		div h4:first-of-type {
			margin-top: 0;
		}
		img {
			width: 100%;
		}
	}
}


/* PROJECT */
header {
	margin-bottom: 20px;
	padding: 6px;
	background: #ccc;

	h1 {
		margin-top: 10px;
		margin-bottom: 0;
		font-size: 1.5em;
	}
}
.map-toggle {
	text-transform: uppercase;
	font-size: 0.875em;
}
#gallery {
	height: 300px;
	background: #ccc;
}
#timeline {
	height: 400px;
	background: #FFFFFF;
}

/* UPDATE */
.main-list .excerpt {
	height: 51px;
	overflow: hidden;
	text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
