.w468px {
	width: 468px;
	height: 234px;
}
.w468px .projectDescr {
	position: relative;
	overflow: auto;
	float: left;
	width: 325px;
	margin: 0 0 0 5px;
}
.w468px ul.basicInfo li { display: inline; }
