#projects-view{
  h2{
    margin-top: 5px;
  }
  .ant-input-affix-wrapper{
    width: auto;
    height: 32px;
    margin-left: 20px;
    margin-top: 9px;
  }
  .add-project-btn{
    margin-left: auto;
    margin-top: 9px;
  }
}