{% extends "rsr/base_sheet.html" %}
{% load i18n %}
{% load url from future %}


{% block title %}{% trans 'Change password' %}{% endblock title %}

{% block breadcrum_items %}
{{block.super}}
<li id="last_breadcrum_item">{% trans 'Change password' %}</li>
{% endblock breadcrum_items %}

{% block content %}
	<form method="post" action="" name="password_change_form">{% csrf_token %}
		{% if form.errors %}
        <div class="error">
            <p class="c1">{% trans 'A problem occurred' %}</p>
            <p>{{ form.non_field_errors }}</p>
            <p>{% trans 'Please review messages below.' %}</p>
        </div>
        {% endif %}
		<div style="width:500px;">
			<h1>{% trans 'Change password' %}</h1>
		</div>
		<div class="clear"></div>
		<hr />

		{% if form.old_password.errors %}
        <div class="error">
            <p class="c1">{% trans 'A problem occurred' %}</p>
            <p>{{ form.old_password.errors|join:", " }}</p>
        </div>
        {% endif %}
		<div style="width:500px;">
			<h3>{% trans 'Current password:' %}</h3>
			{{ form.old_password }}
			<p class="small grey">{% trans 'Verify the change with your current password.' %}</p>
		</div>
		<div class="clear"></div>
		<hr />
		
		{% if form.new_password1.errors or form.new_password2.errors %}
         <div class="error">
            <p class="c1">{% trans 'A problem occurred' %}</p>
            {% if form.new_password1.errors %}
            <p>{{ form.new_password1.errors|join:", " }}</p>
            {% endif %}
            {% if form.new_password2.errors %}
            <p>{{ form.new_password2.errors|join:", " }}</p>
            {% endif %}
        </div>
        {% endif %}
		<div style="width:500px;">
			<h3>{% trans 'New password:' %}</h3>
			
			{{ form.new_password1 }}
            <p class="small grey">{% trans 'Enter the new password.' %}</p>
            
            {{ form.new_password2 }}
            <p class="small grey">{% trans 'Retype the password to avoid mistakes.' %}</p>

		</div>
		<div class="clear"></div>
		<hr/>
		
		<div style="text-align:center; padding-bottom:20px;">
			<div style="float:left;">
				<a href="{% url 'index' %}" class="small">{% trans 'Cancel' %}</a>
			</div>
			<a class="aqua awesome" href="javascript:document.password_change_form.submit();">
				{% trans 'Change' %}
			</a>
		</div>
	</form>
{% endblock content %}