{% extends "rsr/base_sheet.html" %}

{% load i18n %}

{% block title %}{% trans 'Reset password' %}{% endblock title %}

{% block breadcrum_items %}
{{block.super}}
<li id="last_breadcrum_item">{% trans 'Reset password' %}</li>
{% endblock breadcrum_items %}

{% block content %}
	<h1>{% trans 'Reset password' %}</h1>
	<hr />
	<form method="post" action="" name="password_reset_form">{% csrf_token %}

		{% if form.errors or form.email.errors%}
        <div class="error">
            <p class="c1">{% trans 'A problem occurred' %}</p>
            <p>{{ form.non_field_errors }}</p>
			<p>{{ form.email.errors|join:", " }}</p>
        </div>
        {% endif %}
		<div style="width:500px;">
			<h3>{% trans 'Enter your email address:' %}</h3>
			{{ form.email }}<br />
			<p class="small grey">
				{% trans 'Enter the email address of your Akvo RSR account.' %}
			</p>
		</div>
		<div class="clear"></div>
		<hr>
		<div style="text-align:center; padding-bottom:20px;">
			<div style="float:left;">
				<a href="{% url akvo.rsr.views.index %}" class="small">{% trans 'Cancel' %}</a>
			</div>
			<a class="aqua awesome" href="javascript:document.password_reset_form.submit();">
				{% trans 'Reset' %}
			</a>
		</div>
	</form>
{% endblock content %}

