{% extends "rsr/base_sheet.html" %}

{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Successful password reset' %}{% endblock title %}

{% block breadcrum_items %}
{{block.super}}
<li id="last_breadcrum_item">{% trans 'Successful password reset' %}</li>
{% endblock breadcrum_items %}

{% block content %}
	<h1>{% trans 'Successful password reset' %}</h1>
	<hr />
	<p>
		{% trans 'You can now' %} <a href="{% url 'signin' %}?next=/">{% trans 'sign in' %}</a> 
		{% trans 'with your new password' %}.
	</p>
{% endblock content %}	

	