{% extends "rsr/base_sheet.html" %}

{% load i18n %}

{% block title %}{% trans 'Password reset email confirmation' %}{% endblock title %}

{% block breadcrum_items %}
{{block.super}}
<li id="last_breadcrum_item">{% trans 'Password reset email confirmation' %}</li>
{% endblock breadcrum_items %}

{% block content %}
	<h1>{% trans 'Please check for new e-mails' %}</h1>
	<hr />
	<p>
		{% trans "We&#x27;ve e-mailed a temporary password to your e-mail address. You should be receiving it shortly." %}
	</p>
{% endblock content %}	

