{% extends "rsr/base_sheet.html" %}

{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Registration complete' %}{% endblock title %}

{% block breadcrum_items %}
{{block.super}}
<li id="last_breadcrum_item">{% trans 'Registration complete' %}</li>
{% endblock breadcrum_items %}

{% block content %}
	<h1>{% trans 'Thank you!' %}</h1>
	<hr />
	
	<p>
	{% trans 'A confirmation will be sent to you via email. Please click the link in the email to complete the setup of your account.' %}
	</p>
{% endblock content %}	

