{% extends "base.html" %}
{% load i18n %}

{% block maincontent %}
<div id="lockdown">
  <div class="content">
    <h2>{% trans 'Password Required' %}</h2>

    <p>{% trans 'This site is not available to the public.' %}</p>

    {% if form %}
    <form action="" method="post">{% csrf_token %}
      <input type="password" name="password" placeholder="{% trans 'Enter password here' %}" required="" id="id_password" />
      <br />
      <input class="btn btn-primary" type="submit" value="{% trans 'Enter' %}" />
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
