{% load i18n %}

{% if project.iati_status == '1' %}
  <span class="projectStatus notComplete">
    {% trans "Pipeline/identification" %}
  </span>
{% elif project.iati_status == '2' %}
  <span class="projectStatus notComplete">
    {% trans "Implementation" %}
  </span>
{% elif project.iati_status == '3' %}
  <span class="projectStatus complete">
    {% trans "Completion" %}
  </span>
{% elif project.iati_status == '4' %}
  <span class="projectStatus complete">
    {% trans "Post-Completion" %}
  </span>
{% elif project.iati_status == '5' %}
  <span class="projectStatus complete">
    {% trans "Cancelled" %}
  </span>
{% elif project.iati_status == '6' %}
  <span class="projectStatus complete">
    {% trans "Suspended" %}
  </span>
{% else %} {# None (6) #}
  <span class="projectStatus notComplete">
    {% trans "None" %}
  </span>
{% endif %}