{% load i18n rsr_filters humanize %}

<ul class="fundingwrap">
  <li class="totalBudget">
    <h4>{% trans "Budget" %}:</h4>
    <span>{{project.budget|round|intcomma}} {{project.currency|safe}}</span>
  </li>
  <li class="raisedBudget">
    <h4>{% trans "Raised" %}:</h4>
    <span>{{project.funds|round|intcomma}} {{project.currency|safe}}</span>
  </li>
  <li class="neededBudget">
    <h4>{% trans "Needed" %}:</h4>
    <span>{{project.funds_needed|round|intcomma}} {{project.currency|safe}}</span>
  </li>
</ul>