{% extends "rsr/base.html" %}

{% block content %}

<div id="outer_leftwing">

<form enctype="multipart/form-data" method="post" action="">

<div class="box">
	<div class="indentx2" style="border-bottom: 1px solid #ccc; padding: 20px; width: 625px">

		<h1 class="title">Add comment</h1>
		<p class="lightx1" style="padding-left: 10px">You are commenting the project named</p>
		<p style="padding-left: 10px">{{project.name}}</p>
	</div>
	
	<div style="margin: 20px auto; border-bottom: 1px solid #ccc; padding-bottom: 20px; width: 350px">			
		<h2 style="margin-left: -50px">Enter comment text</h2>
						{{form.text}}
		{% if form.comment.errors %}
			<h2 style="color: #D4000D">A problem occurred</h2>
			<p style="color: #D4000D">{{ form.text.errors.as_text }}</p>
		{% endif %}
	</div>

	<div style="margin: 20px auto; text-align: center;">
	<a href="#">Cancel</a> <input type="submit" value="Sumbit changes" class="submit" />

	</div>
	
</div> <!-- .box -->
</form>
</div> <!-- .outer_leftwing -->
{% endblock content %}
