{% extends "rsr/sys_message_base.html" %}

{% block title %}Akvo RSR - Error: 404 - the page is not available{% endblock title %}

{% block page_id %}
<div id="error">
{% endblock page_id %}

{% block message %}
    <h1 class="c1">
        {% block error_head %}404: We're sorry, we can't find the page you requested{% endblock %}
    </h1>

    <div class="c2">
        {% block error_body %}

        {% endblock error_body %}

        <p>Please <a href="mailto:support@akvo.org">contact us</a> if you have any questions.</p>

    </div>
{% endblock message %}