{% extends "rsr/index_base.html" %}

{% block script %}

	{% ifequal bandwidth 'ask' %}
	<script type="text/javascript">
		msg = "Welcome to Akvo. Please indicate if you want to use the high bandwidth home page by clicking OK, or the low bandwidth home page by clicking Cancel.";
		if (confirm(msg))
			window.location.assign("{% url akvo.rsr.views.set_high_bandwidth %}");
		else
			window.location.assign("{% url akvo.rsr.views.set_low_bandwidth %}");
	</script>
	{% endifequal %}	

	<script type="text/javascript" src="{{MEDIA_URL}}flash/swfobject.js"></script>
{% endblock script %}

{% block style %}
	{{ block.super }}
	<style type="text/css">
	/* hide from ie on mac \*/
	
	#home_flash {
	}
	/* end hide */
	</style>
{% endblock style %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block page_id %}
<div id="page_home_flash">
{% endblock page_id %}

{% block outer_leftwing %}

	{% ifequal bandwidth 'high' %}
	<div id="home_flash_box">
	<a style="float:right; color: #FFF; padding: 20px;" href="{% url akvo.rsr.views.set_low_bandwidth %}">View static home page</a>
	<div style="color: #fff; font-size: 1.5em; float: left; padding: 20px;">Our latest projects</div>
	<div id="home_flash" style="color: #fff;">
		You are being re-directed to the static Akvo home page. If nothing happens, click <a style="color: #fff;" href="{% url akvo.rsr.views.set_low_bandwidth %}">here!</a>
		<noscript>
			<meta http-equiv="refresh" content="0;url={% url akvo.rsr.views.set_low_bandwidth %}"/>
		</noscript>
	</div> <!-- #home_flash -->
	</div> <!-- #home_flash_box -->

	<script type="text/javascript">
	
		var fo = new SWFObject("{{MEDIA_URL}}flash/TiltViewer.swf", "viewer", "980px", "350px", "9.0.28", "#000000");			
		
		if (!fo)
			window.location.assign("{% url akvo.rsr.views.set_low_bandwidth %}");
		// TILTVIEWER CONFIGURATION OPTIONS
		// To use an option, uncomment it by removing the "//" at the start of the line
		// For a description of config options, go to: 
		// http://www.airtightinteractive.com/projects/tiltviewer/config_options.html
															
		// XML GALLERY OPTIONS
		// To use local images defined in an XML document, use this block		
		fo.addVariable("useFlickr", "false");
		fo.addVariable("xmlURL", "http://dev.akvo.org:8080{% url akvo.rsr.views.flashgallery %}");
		fo.addVariable("maxJPGSize","260");
		
		//GENERAL OPTIONS		
		fo.addVariable("useReloadButton", "false");
		fo.addVariable("columns", "6");
		fo.addVariable("rows", "2");
		fo.addVariable("showFlipButton", "true");
		fo.addVariable("showLinkButton", "true");
		fo.addVariable("linkLabel", "Go to project page");
		//fo.addVariable("frameColor", "0xff0000");
		//fo.addVariable("backColor", "0xDDDDDD");
		fo.addVariable("bkgndInnerColor", "0x51C4FF");
		fo.addVariable("bkgndOuterColor", "0x0094E0");				
 		//fo.addVariable("langGoFull", "Go Fullscreen");
		//fo.addVariable("langExitFull", "Exit Fullscreen");
		//fo.addVariable("langAbout", "About");	
		
		//PRO OPTIONS
		//fo.addVariable("bkgndTransparent", "true");
		//fo.addVariable("showFullscreenOption", "false");
		fo.addVariable("frameWidth", "20");
		fo.addVariable("zoomedInDistance", "1000");
		fo.addVariable("zoomedOutDistance", "2400");
		//fo.addVariable("fontName", "Times");
		fo.addVariable("titleFontSize", "64");
		fo.addVariable("descriptionFontSize", "42");
		fo.addVariable("linkFontSize", "58");
		fo.addVariable("linkTarget", "_self");
		//fo.addVariable("navButtonColor", "0xFF00FF");
		//fo.addVariable("flipButtonColor", "0x0000FF");
		//fo.addVariable("textColor", "0xFFFFFF");
		//fo.addVariable("linkTextColor", "0x000000");
		//fo.addVariable("linkBkgndColor", "0xFFFFFF");
				
		// END TILTVIEWER CONFIGURATION OPTIONS
		
		fo.addParam("allowFullScreen","true");
		fo.write("home_flash");			
	</script>	
	{% endifequal %}
	{% ifequal bandwidth 'low' %}

	<div id="home_flash_box">
		<a style="float:right; color: #FFF; padding: 20px;" href="{% url akvo.rsr.views.set_high_bandwidth %}">View flash-enabled home page</a>
		<div style="color: #fff; font-size: 1.5em; padding: 20px;">Our latest projects</div>
		<table>
			{% for p in grid_projects %}
				{% ifequal forloop.counter 1 %}
				<tr>
				{% endifequal %}
				{% ifequal forloop.counter 7 %}
				<tr>
				{% endifequal %}
				<td align="center">
					<a href="{% url akvo.rsr.views.projectmain p.id %}">
						<img width="145" src="{{MEDIA_URL}}{{p.current_image}}" title="{{p.name}}" alt="{{p.name}}"/>
					</a>
				</td>
				{% ifequal forloop.counter 6 %}
				</tr>
				{% endifequal %}
			{% endfor %}
				</tr>
		</table>
	
	</div> <!-- #home_flash_box -->
	{% endifequal %}
	
<div id="outer_leftwing">

<div class="boxhead">
<a href="http://www.akvo.org/blog/?feed=rss2" class="rss" style="float:right;margin-top:1em;">Subscribe via RSS</a>
<h1>Most recent Akvo Blog entry</h1>
</div> <!-- .boxhead -->

<div class="boxbody">

{% if img_src %}
<div style="float:left; width: 210px;">
	<img src="{{img_src}}" style="width: 172px; margin: 15px 15px 5px 15px"/>
	<!--<p class="small lightx1">Image caption</p>-->
</div> <!-- style -->
{% endif %}
<h2>{{latest.title|safe}}</h2>
<p class="lightx2">24/06/2008 by {{latest.author|safe}}</p>
<p>{{latest.summary|safe}}</p>

<p><a href="http://www.akvo.org/blog/">Full entry</a></p>
<p style="text-align: right"><a href="{{latest.link}}">Permalink</a></p>
<hr />
<p style="text-align: right"><a href="http://www.akvo.org/blog/">View earlier blog entries</a></p>

<div style="clear:left"></div>

</div> <!-- .boxbody -->

</div> <!-- #outer_leftwing -->

{% endblock outer_leftwing %}
