{% extends "rsr/index.html" %}

<div id="page_organisation">

<div id="outer_leftwing">
	<div class="boxhead">
		<div style="float: right; width: 30%"><a class="actionbutton" href="#" onclick="this.blur();"><span>Edit project</span></a></div>

		<p style="clear: right; float: right; width: 30%; text-align: right; margin-top: 5px;"><a href="#">Notify me of changes via email</a></p>
		<h1 class="section">Bal Vikas school sanitation project</h1>
		<p>Within a peri-urban resettlement cluster</p>
	</div> <!-- .boxhead -->

<div class="boxbody">

	<table id="project_showcase">

	<tr>

	<td style="border-right: 1px solid #ccc; width: 33%">
	<img src="/productions/akvo.org/2008_06_12a/images/logo_waste.png" alt="Logo of Waste" style="margin: 10px 0;" />
	<h2 class="lightx2">Activities</h2>
	<p>Sanitation</p>
	<h2 class="lightx2">Type</h2>
	<p>Non-governmental organisation</p>

	<h2 class="lightx2">Scope</h2>
	<p>National</p>
	<h2 class="lightx2">Website</h2>
	<p><a href="#">http://www.basango.org</a></p>
	<h2 class="lightx2">Akvopedia entry</h2>
	<p>Bangladesh Association for Social Advancement</p>

	</td>

	<td style="border-right: 1px solid #ccc; width: 33%">
	<h2 class="lightx2">Location</h2>
	<p>Location<br />House 247, Road 18<br />New Dohs Mohakhali<br />Dhaka 1209<br />Bangladesh</p>
	<img src="/productions/akvo.org/2008_06_12a/images/map.png" alt="type" style="margin: 20px 0;" />

	</td>

	<td style="width: 33%">
	<h2 class="lightx2">Contact</h2>
	<p>A.K.M. Shirajul Islam</p>
	<h2 class="lightx2">Email</h2>
	<p>edbasa@worldnetbd.net</p>

	<h2 class="lightx2">Phone</h2>
	<p>008802-9862464</p>
	<h2 class="lightx2">Mobile</h2>
	<p>008802-9862464</p>
	<h2 class="lightx2">Fax</h2>
	<p>008802-9862464</p>

	</td>	

	</tr>
	</table>

	<hr />
	<p>Prat praesse quatum etumsandre core eriure modolor ercinim iurem ad ea faciduisis essequi tet num dip ex eum nim do del et, si tatinci 
	liquisse del do od mod tatis acipsustrud miniamet nibh et alit nonsectet alis enisci blaor sissim doloreriurem qui blandipit non vero eugait 
	ulputet, si. Vulla feugiat. Feu faccum quis ad dolestrud ex ex eum nonum iliquat aliquipit augait lute dolore dunt pratumsan venibh et acipisl ipit 
	lumsandre magna adit, quis nulputpat alit aliquatem vulla adiam diatum.</p>

</div> <!-- .boxbody -->

</div> <!-- #outer_leftwing -->

<div id="outer_rightwing">

<div class="boxhead">
<h1>Organisation Activities</h1>
</div> <!-- .boxhead -->

<div class="boxbody">
<table>
<tr><th colspan="2"><h2>Projects</h2></th></tr>
<tr><td style="width:50%">000</td><td>Active</td></tr>
<tr><td>000</td><td>On hold</td></tr>

<tr><td>000</td><td>Complete</td></tr>
<tr class="bold"><td>000</td><td>Total projects</td></tr>
<tr class="hr bold"><td>000000</td><td>MDGs</td></tr>
<tr><th colspan="2"><h2>Funding <span class="lightx2" style="font-weight: normal">(3 projects)</span></h2></th></tr>
<tr style="color: green"><td>&#8364; 000000</td><td>Pledged</td></tr>
<tr class="hr" style="color: red"><td>&#8364; 000000</td><td>Still needed</td></tr>

</table>

<h2>Project partners</h2>
<p><a href="#">123456789</a></p>
<p><a href="#">123456789</a></p>
<p><a href="#">123456789</a></p>
<p><a href="#">123456789</a></p>
<p><a href="#">123456789</a></p>

</div> <!-- .boxbody -->

<div class="boxhead">
<h1>Current projects</h1>
</div> <!-- .boxhead -->

<div class="boxbody">
<p><a href="#">123456789</a></p>
<p><a href="#">123456789</a></p>
<p><a href="#">123456789</a></p>
<p><a href="#">123456789</a></p>
<p><a href="#">123456789</a></p>

</div> <!-- .boxbody -->

</div> <!-- #outer_rightwing -->

</div> <!-- page id -->