{% extends "rsr/rsr_base.html" %}

{% block title %}Organisation no. {{o.id}}, {{o.name}}{% endblock title %}

{% block breadcrumbs %}
{{block.super}} &raquo; <a href="{% url rsr_org_list %}">Organisation listing</a> &raquo; {{o.name}}
{% endblock breadcrumbs %}

{% block content %}

{% block page_id %}
<div id="page_organisation">
{% endblock page_id %}

<div id="outer_leftwing">
	<div class="boxhead">
		<!--<div style="float: right; width: 30%"><a class="actionbutton ab_grey" href="#" onclick="this.blur();"><span>Edit organisation</span></a></div>-->

		<!--<p style="clear: right; float: right; width: 30%; text-align: right; margin-top: 5px;"><a href="#">Notify me of changes via email</a></p>-->
		<h1 class="section">{{o.name}}</h1>
		{% if o.long_name %}
		<p>{{o.long_name}}</p>
		{% else %}
		<p>&nbsp;</p>
		{% endif %}
	</div> <!-- .boxhead -->

<div class="boxbody">

	<table id="project_showcase">

	<tr>

	<td style="border-right: 1px solid #ccc; width: 33%">
		{% if o.logo %}
			<img src="{{MEDIA_URL}}{{o.logo}}" alt="Logo of {{o.name}}" style="margin: 10px 0;" />
		{% endif %}
		<h2 class="lightx2">Activities</h2>
		<p>
			{% if o.field_partner %}Field partner<br />{% endif %}
			{% if o.support_partner %}Support partner<br />{% endif %}
			{% if o.funding_partner %}Funding partner<br />{% endif %}
		</p>
		<h2 class="lightx2">Type</h2>
		<p>{{o.show_organisation_type}}</p>
	
		<!--<h2 class="lightx2">Scope</h2>
		<p>National</p>-->
	
		{% if o.url %}
			<h2 class="lightx2">Website</h2>
			<p><a href="{{o.url}}">{{o.url}}</a></p>
		{% endif %}
		{% if o.akvopedia_entry %}
			<h2 class="lightx2">Akvopedia entry</h2>
			<p>{{o.akvopedia_entry}}</p>
		{% endif %}

	</td>

	<td style="border-right: 1px solid #ccc; width: 33%">
	<h2 class="lightx2">Location</h2>
	<p>{{o.address_1}}<br />{{o.address_2}}<br />{{o.postcode}}<br />{{o.city}}<br />{{o.state}}<br />{{o.country}}</p>
	{% if o.map %}
	<img src="{{MEDIA_URL}}{{o.map}}" alt="type" style="margin: 20px 0;" />
	{% endif %}
	</td>

	<td style="width: 33%">
	<h2 class="lightx2">Contact</h2>
	<p>{{o.contact_person}}</p>
	<h2 class="lightx2">Email</h2>
	<p>{{o.contact_email}}</p>

	{% if o.phone %}
	<h2 class="lightx2">Phone</h2>
	<p>{{o.phone}}</p>
	{% endif %}
	{% if o.mobile %}
	<h2 class="lightx2">Mobile</h2>
	<p>{{o.mobile}}</p>
	{% endif %}
	{% if o.fax %}
	<h2 class="lightx2">Fax</h2>
	<p>{{o.fax}}</p>
	{% endif %}

	</td>	

	</tr>
	</table>

	<hr />
	<p>{{o.description}}</p>

</div> <!-- .boxbody -->

</div> <!-- #outer_leftwing -->

<div id="outer_rightwing">

<div class="boxhead">
<h1>Organisation Activities</h1>
</div> <!-- .boxhead -->

<div class="boxbody">

<div></div> <!-- IE requires something above -->
<table class="activities" width="208px" style="margin: 0 20px; padding: 0;">
	<tr><th colspan="2"><h2>Projects</h2></th></tr>
	<tr><td class="padded" style="width: 40%;">{{org_stats.status_active}}</td><td>Active</td></tr>
	<tr><td class="padded">{{org_stats.status_onhold}}</td><td>Need funding</td></tr>
	<tr><td class="padded">{{org_stats.status_complete}}</td><td>Complete</td></tr>
	<tr class="hr bold"><td class="padded">{{org_stats.project_count}}</td><td>Total projects</td></tr>
	<tr><td colspan="2" style="padding: 15px 0 10px 0"><b>People who get</b> (<a href="/web/help_akvo_at_a_glance">planned</a>) <a href="/web/help_akvo_at_a_glance">actual</a></td></tr>
	<!-- <tr><td class="padded" colspan="2">(<a href="#">projected</a>) <a href="#">actual</a></td></tr> -->
	<!-- <tr><td></td><td class="padded">(<a href="#">projected</a>) <a href="#">actual</a></td></tr> -->
	<tr><td class="padded">({{org_stats.mdgs_water}}) 0</td><td>Water</td></tr>
	<tr class="hr"><td class="padded">({{org_stats.mdgs_sanitation}}) 0</td><td>Sanitation</td></tr>
	<tr><th colspan="2"><h2>Funding <span class="lightx2" style="font-weight: normal">({{org_stats.project_count}} projects)</span></h2></th></tr>
	<tr style="color: green"><td class="padded">&#8364; {{org_stats.funding_pledged}}</td><td>Pledged</td></tr>
	<tr class="hr padded" style="color: red"><td class="padded">&#8364; {{org_stats.funding_needed}}</td><td>Still needed</td></tr>
	<tr><td class="padded" colspan="2"><h2>Project partners</h2></td></tr>
	<tr><td class="padded" colspan="2">{% for partner in org_partners %}<a href="{% url akvo.rsr.views.orgdetail partner.id %}">{{partner.name}}</a><br />{% endfor %}</td></tr>
</table>


</div> <!-- .boxbody -->

<div class="boxhead">
<h1><a href="{% url akvo.rsr.views.filteredprojectlist o.id %}#list">Current projects</a></h1>
</div> <!-- .boxhead -->

<div class="boxbody">
{% for project in org_projects %}
<p><a href="{% url akvo.rsr.views.projectmain project.id %}">{{project.name}}</a></p>
{% endfor %}

</div> <!-- .boxbody -->

</div> <!-- #outer_rightwing -->

</div> <!-- page id -->
{% endblock content %}
