{% extends "rsr/project_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load rsr_tags %}

{% block script %}
<script src="{{MEDIA_URL}}js/jquery-1.2.6.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}js/ui.tabs.pack.js" type="text/javascript"></script>
<script type="text/javascript">

	$(function(){
    	$('#container-1 > ul').tabs();
	});
	
	$(document).ready(function(){
    	$(".btn-slide").click(function(){
    		$("#panel").slideToggle("slow");
    		$(this).toggleClass("active"); return false;
    	});
	});

</script>
{% endblock script %}

{% block breadcrumbs %}
{{block.super}} &raquo; <a href="{% url akvo.rsr.views.projectlist %}">Project listing</a> &raquo; {{p.name}}
{% endblock breadcrumbs %}

{% block outer_leftwing %}
<div id="outer_leftwing">

	<div class="boxhead">
		<!--<a class="actionbutton ab_grey" href="#" style="float: right" onclick="this.blur();"><span>Edit project</span></a>-->
		<h1 class="section">{{p.name}}</h1>
		<p>{{p.subtitle}}</p>
	</div> <!-- .boxhead -->

	<div id="project_details" class="boxbody">
		<div id="project_details_leftwing">
            <h2 class="lightx2">Status</h2>
            <p>{{p.show_status}}</p>
            <h2 class="lightx2">Focus area</h2>

            <p>
                {% category_icons p %}
                <!--
                {% if p.category_water %}
					<img src="{{MEDIA_URL}}img/blue.png" title="Water" alt="type" style="margin: 5px 5px 10px 0;" />
                {% endif %}

                {% if p.category_sanitation %}
					<img src="{{MEDIA_URL}}img/orange.png" title="Sanitation" alt="type" style="margin: 5px 5px 10px 0;" />
                {% endif %}

                {% if p.category_training %}
					<img src="{{MEDIA_URL}}img/purple.png" title="Training" alt="type" style="margin: 5px 5px 10px 0;" />
                {% endif %}

                {% if p.category_education %}
                    <img src="{{MEDIA_URL}}img/green.png" title="Education" alt="type" style="margin: 5px 5px 10px 0;" />
                {% endif %}

                {% if p.category_maintenance %}
                    <img src="{{MEDIA_URL}}img/olive.png" title="Maintenance" alt="type" style="margin: 5px 5px 10px 0;" />		
                {% endif %}
                -->

            </p>						
            <h2 class="lightx2">Location</h2>
            <p>{{p.city}}<br />{{p.state}}, {{p.country}}</p>
            {% if p.map %}
                <img src="{{MEDIA_URL}}{{p.map}}" style="margin: 20px 20px 0px 20px;" />
            {% else %}
                <img src="{{MEDIA_URL}}img/nomap.jpg" style="margin: 20px 20px 0px 20px;" />
            {% endif %}
		</div> <!-- #project_details_leftwing -->

        <div id="project_details_rightwing">
            <div id="container-1">
                <ul>
                    <li><a href="#tab_description"><span>Description</span></a></li>
                    <li><a href="#tab_goals"><span>Goals</span></a></li>
                    <li><a href="#tab_sustainability"><span>Sustainability</span></a></li>
                    <!--<li><a href="#tab_context"><span>Context</span></a></li>-->
                    <!--<li><a href="#tab_personnel"><span>Personnel</span></a></li>-->
                </ul>
                
                <div id="tab_description" class="tab clearfix">
                    <p>{{p.project_plan_summary|linebreaks}}</p>
                    <p style="text-align:right"><a href="{% url akvo.rsr.views.projectdetails p.id %}">View details</a></p>
                    <br />		
                    <div style="float:left;width: 250px">
                    {% if p.current_image %}
                        <div class="small lightx1">{{p.current_image_caption}}</div>
                        <img src="{{MEDIA_URL}}{{p.current_image}}" alt="{{p.current_image_caption}}" style="width: 220px; margin: 10px 10px 0 0" />
                    {% endif %}	
                    </div>	
                    <div style="margin-left: 240px; width: 200px">
                        <p class="lightx1"><b>Target benchmarks</b></p>
                        {% include "rsr/inc_target_benchmarks.html" %}
                    </div>
                </div> <!-- #tab_description -->
        
            <div id="tab_goals" class="tab clearfix">
                <p style="padding-left:0;">{{p.goals_overview|linebreaks}}</p>
                <br />			
                <div style="float:left;width:230px;">
                    <p class="lightx1"><b>Target benchmarks</b></p>
                    {% include "rsr/inc_target_benchmarks.html" %}
                </div>
                <div style="margin-left:240px;">
                    {% if p.goal_1 or p.goal_2 or p.goal_3 or p.goal_4 or p.goal_5 %}
                    <p class="lightx1"><b>Goals overview</b></p>
                    {% endif %}
                    <ul class="simplelist">
                    {% if p.goal_1 %}
                    <li>{{p.goal_1}}</li>
                    {% endif %}
                    {% if p.goal_2 %}
                    <li>{{p.goal_2}}</li>
                    {% endif %}
                    {% if p.goal_3 %}
                    <li>{{p.goal_3}}</li>
                    {% endif %}
                    {% if p.goal_4 %}
                    <li>{{p.goal_4}}</li>
                    {% endif %}
                    {% if p.goal_5 %}
                    <li>{{p.goal_5}}</li>
                    {% endif %}
                    </ul>
                </div>			
            </div> <!-- #tab_goals -->
        
            <div id="tab_sustainability" class="tab clearfix">
                <p>{{p.sustainability|linebreaks}}</p>
                <p style="text-align:right"><a href="{% url akvo.rsr.views.projectdetails p.id %}#tab_sustainability">View details</a></p>
            </div> <!-- #tab_sustainability -->
        
            <!--<div id="tab_context" class="tab">
                <p>{{p.context|linebreaks}}</p>
            </div>--> <!-- #tab_context -->
        
            <!--<div id="tab_personnel" class="tab">
                <p>Personnel</p>
            </div>--> <!-- #tab_personnel -->
            </div> <!-- #container-1 -->

		</div> <!-- #project_details_rightwing -->

		<div style="clear:left; display:block">&#32;</div>

	</div> <!-- #project_details .boxbody -->

	<div id="subdetailsleft" class="clearfix">

        <div class="boxhead">
            <h1>Related to this project</h1>
        </div> <!-- .boxhead -->
    
        <div id="project_related" class="boxbody">

			<h2>Akvopedia entries</h2>
			{% for link in p.link_set.all %}
				{% ifequal link.kind 'A' %}
		            <p><a href="{{link.url}}">{{link.caption}}</a></p>
				{% endifequal %}
			{% endfor %}

            <hr />
            
            <h2>External links</h2>
			{% for link in p.link_set.all %}
				{% ifequal link.kind 'E' %}
		            <p><a href="{{link.url}}">{{link.caption}}</a></p>
				{% endifequal %}
			{% endfor %}
        </div> <!-- #project_related & .boxbody -->
    
        <div class="boxhead">											
            <a class="btn-slide actionbutton ab_grey" href="#" onclick="this.blur();"><span>Add comment</span></a>
            <h1>Comments</h1>
        </div> <!-- .boxhead -->
    
        <div id="project_comments" class="boxbody">
            
            <div id="panel">
            {% if not user.username %}
                <p>You must be signed in to add a comment.</p>
                <p><a href="{% url akvo.rsr.views.login %}?next={{request.path}}">Sign In</a> <!--| <a href="#">Register</a></p>-->
            {% else %}
                <form enctype="multipart/form-data" method="post" action="comment">
                    {{form.comment}}
                    <p><a href="#" class="btn-slide">Cancel</a></p>
                    <input type="submit" value="Submit" class="submit" />
                </form>
            {% endif %}
            </div> <!-- #panel -->        
            {% if comments %}            
            <!--<p style="margin-bottom: 20px">Questions about this project? <a href="#">Contact project liaison</a></p>-->
            {% for c in comments %}    
                <div class="members-photo">
                    <img src="{{MEDIA_URL}}img/avatar.jpg" style="width:60px;height:60px;background-color:#dedede;margin-left: 15px;" />
                    <!--<div style="width:60px;height:60px;background-color:#dedede;margin-left: 15px;"></div>-->
                    <p style="margin-top: 10px">{{c.user.get_full_name}}</p>
                </div>						
                    <div style="margin-left: 100px">
                    <p class="lightx1">{{c.time|date:"Y-m-d H:i"}}</p>
                    <p>{{c.comment|linebreaks}}</p>
                </div>
                <br />
                <!--<p style="text-align: right"><span class="lightx1">Agree:</span> <a href="#">(21)</a> <span class="lightx1 indent">Disagree:</span> <a href="#">(3)</a></p>-->
                <p style="text-align:right"><a href="mailto:abuse@akvo.org?subject=Comment abuse in project #{{p.id}}, comment #{{c.id}}">Report abuse</a></p>
                <hr style="clear: both"/>
            {% endfor %}
            <p style="text-align:right;"><a href="{% url akvo.rsr.views.projectcomments p.id %}">Older comments</a></p>
            <p class="lightx1">The comments are owned by whoever posted them. We are not responsible for them in any way.</p>
            {% else %}
                <span style="padding-left: 20px;" class="lightx1">No comments yet.</span>
            {% endif %}
        </div> <!-- #project_comments & .boxbody -->

	</div> <!-- #subdetailsleft -->

	<div id="subdetailsright">

        <div class="boxhead">
            <a class="actionbutton ab_grey" href="{% url akvo.rsr.views.updateform p.id %}" onclick="this.blur();"><span>Add update</span></a>
            <h1>Project updates</h1>
        </div> <!-- .boxhead -->
    
        <div id="project_updates" class="boxbody">
            <a href="/rsr/rss/updates/{{p.id}}/" class="rss">Subscribe via RSS</a>
            {% if updates %}
                {% for u in updates %}
                    <h2>{{u.title}}</h2>
                    <p><span class="lightx1">{{u.time|date:"Y-m-d H:i"}}</span> by {{u.user.get_full_name}} via {{u.show_update_method}}</p>
                    <!--<p><span class="lightx1">Status:</span> {{u.show_status}}</p>-->
                    <br />
                    {% if u.photo %}
                        {% ifequal u.photo_location 'B' %}
                            <img src="{{MEDIA_URL}}{{u.photo}}" alt="{{u.photo_caption}}" style="width: 240px; margin: 10px 10px 5px 20px" />
                            <p class="small lightx1">
                                {% if u.photo_caption %}
                                    {{u.photo_caption}}
                                {% endif %}
                                {% if u.photo_credit %}
                                    Photo credit: {{u.photo_credit}}
                                {% endif %}
                            </p>
                        {% endifequal %}
                    {% endif %}
                    {% if u.text %}
                        <p>{{u.text|linebreaks}}</p>
                    {% endif %}
                    {% if u.photo %}
                        {% ifequal u.photo_location 'E' %}
                            <img src="{{MEDIA_URL}}{{u.photo}}" alt="{{u.photo_caption}}" style="width: 240px; margin: 10px 10px 5px 20px" />
                            <p class="small lightx1">
                                {% if u.photo_caption %}
                                    {{u.photo_caption}}
                                {% endif %}
                                {% if u.photo_credit %}
                                    Photo credit: {{u.photo_credit}}
                                {% endif %}
                            </p>
                        {% endifequal %}
                    {% endif %}
                    <hr />            
                {% endfor %}
                <p style="text-align:right;"><a href="{% url akvo.rsr.views.projectupdates p.id %}">Earlier updates</a></p>
                <p class="lightx1">The updates are owned by whoever posted them. We are not responsible for them in any way.</p>
            {% else %}
                <span style="padding-left: 20px;" class="lightx1">No updates yet.</span>
            {% endif %}
        </div> <!-- #project_updates & .boxbody -->

	</div> <!-- #subdetailsright -->

</div> <!-- #outer_leftwing -->

{% endblock outer_leftwing %}
