{% extends "rsr/rsr_base.html" %}

{% block title %}Akvo RSR - Project list{% endblock %}

{% block content %}
<div id="outer_leftwing">
    <h1>Akvo at a glance</h1>
    <ul>
        {% for key, value in stats.items %}
            <li>{{key}} {{value}}</li>
        {% endfor %}
    </ul>
<table style="padding: 10px;">
    <tr>
        <th>Project name</th>    
        <th>Status</th>    
        <th>Country</th>    
        <th>Funds requested</th>    
        <th>Funds still needed</th>    
        <th>Field partner(s)</th>    
        <th>Support partner(s)</th>    
        <th>Funding partner(s)</th>    
        <th></th>    
    </tr>
{% for p in projects %}
    <tr>
        <td style="padding: 10px;">
            <p><a href="../project/{{p.id}}/">{{p.name}}</a></p>
            <p>{{p.subtitle}}</p>
        </td>
        <td style="padding: 10px;">
            <p>{{p.show_status}}</p>
        </td>
        <td style="padding: 10px;">
            <p>{{p.country}}</p>
        </td>
        <td style="padding: 10px;">
            <p>{{p.funding.total}} {{p.funding.currency}}</p>
        </td>
        <td style="padding: 10px;">
            <p>{{p.funding.still_needed}} {{p.funding.currency}}</p>
        </td>
        <td style="padding: 10px;">
            {% for fieldpartner in p.fieldpartner_set.all %}
                <p>{{fieldpartner.field_organization.name}}</p>
            {% endfor %}
        </td>
        <td style="padding: 10px;">
            {% for support in p.supportpartner_set.all %}
                <p>{{support.support_organization.name}}</p>
            {% endfor %}
        </td>
        <td style="padding: 10px;">
            {% for funder in p.fundingpartner_set.all %}
                <p>{{funder.funding_organization.name}}</p>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</table>
</div><!-- #outer_leftwing -->
{% endblock content %}