{% extends "rsr/rsr_base.html" %}
{% load rsr_tags %}
{% block title %}Project no. {{p.id}}, {{p.name}}{% endblock title %}

{% block page_id %}
<div id="page_project">
{% endblock page_id %}

{% block content %}

{% block outer_leftwing %}
<div id="outer_leftwing">
	<h1>I'm left!</h1>
</div> <!-- #outer_leftwing -->
{% endblock outer_leftwing %}

{% block outer_rightwing %}
<div id="outer_rightwing">

    {% block funding %}
	<div class="boxhead">
        {% if not p.funding.date_complete %}
		<a class="actionbutton ab_grey" href="/web/how_to_fund_a_project" onclick="this.blur();"><span>Fund project</span></a>
        {% endif %}
		<h1>Funding</h1>

		<!--<p><a href="#">Notify me of changes via email</a></p>-->
	</div> <!-- .boxhead -->

	<div id="project_funding" class="boxbody">
        <div style="margin: 20px 20px 10px 20px">{% funding_bar p %}</div>
		<!--<div style="border: 1px solid #999; margin: 20px 20px 10px 20px"><div style="width: 186px;"><div style="width: {% widthratio p.funding.pledged p.funding.total 186 %}px; height: 30px; background-color: #4CAC62;"></div></div></div>-->
        <p>{{p.funding.date_request_posted}} Request posted</p>
		{% if p.funding.date_complete %}
    		<p>{{p.funding.date_complete}} Funding completed</p>
		{% endif %}
		<!--<p><b>Total: <span style="margin-left: 10px">{{p.funding.get_currency_display|safe}} {{p.funding.total}}</span></b></p>-->
		<p style="text-align: right"><a href="{% url akvo.rsr.views.projectfunding p.id %}">View details</a></p>
		<hr />
		<p style="margin: 10px 0 10px 0;">
                {% ifequal p.fundingpartner_set.count 1 %}
                    <b>Current Funder</b>
                {% else %}
                    {% ifequal p.fundingpartner_set.count 0 %}
                        <b style="color: red;">You could fund this project!</b>
                    {% else %}
                        <b>Current Funders</b>
                    {% endifequal %}
                {% endifequal %}
        </p>
    
 		{% for funder in p.fundingpartner_set.all %}
			{% if not forloop.first %}
				<hr />
			{% endif %}
			{% if funder.funding_organisation.logo %}
                <a href="{% url akvo.rsr.views.orgdetail funder.funding_organisation.id %}">
				<img src="{{MEDIA_URL}}{{ funder.funding_organisation.logo }}" alt="Logo of {{funder.funding_organisation.name}}" style="margin: 10px 20px;" />
                </a>
			{% endif %}	
			<p><a href="{% url akvo.rsr.views.orgdetail funder.funding_organisation.id %}">{{funder.funding_organisation.name}}</a></p>
			<p>{{funder.funding_organisation.city}}, {{funder.funding_organisation.country}}</p>
			<p style="margin:10px 0"><b>Grant: <span style="margin-left: 10px">{{funder.get_currency_display|safe}} {{funder.funding_amount}}</span></b></p>
		{% endfor %}    
	</div> <!-- #project_funding & .boxbody -->
    {% endblock funding %}

	<div class="boxhead">

		<a class="actionbutton ab_grey" href="/web/become_a_project_partner" onclick="this.blur();"><span>Become a partner</span></a>						
		<h1>Partners</h1>
	</div> <!-- .boxhead -->

	<div id="project_partners" class="boxbody">
        {% ifequal p.fieldpartner_set.count 1 %}
            <h2>Field partner</h2>
        {% else %}
            <h2>Field partners</h2>
        {% endifequal %}
			{% for fp in p.fieldpartner_set.all %}
				{% if not forloop.first %}
					<hr />
				{% endif %}
				{% if fp.field_organisation.logo %}
                    <a href="{% url akvo.rsr.views.orgdetail fp.field_organisation.id %}">
					<img src="{{MEDIA_URL}}{{ fp.field_organisation.logo }}" alt="Logo of {{fp.field_organisation.name}}" style="margin: 10px 20px;" />
                    </a>
				{% endif %}	
				<p><a href="{% url akvo.rsr.views.orgdetail fp.field_organisation.id %}">{{fp.field_organisation.name}}</a></p>
				<p>{{fp.field_organisation.city}}, {{fp.field_organisation.country}}</p>
		{% endfor %}
		{% if p.supportpartner_set.count %}
			{% if p.fieldpartner_set.count %}
				<hr />
			{% endif %}
			{% ifequal p.supportpartner_set.count 1 %}
				<h2>Support partner</h2>
			{% else %}
				<h2>Support partners</h2>
			{% endifequal %}
			{% for sp in p.supportpartner_set.all %}
				{% if not forloop.first %}
					<hr />
				{% endif %}
				{% if sp.support_organisation.logo %}
                    <a href="{% url akvo.rsr.views.orgdetail sp.support_organisation.id %}">
					<img src="{{MEDIA_URL}}{{ sp.support_organisation.logo }}" alt="Logo of {{sp.support_organisation.name}}" style="margin: 10px 20px" />
                    </a>
				{% endif %}	
				<p><a href="{% url akvo.rsr.views.orgdetail sp.support_organisation.id %}">{{sp.support_organisation.name}}</a></p>
				<p>{{sp.support_organisation.city}}, {{sp.support_organisation.country}}</p>
			{% endfor %}
		{% endif %}        

	</div> <!-- #project_partners & .boxbody -->

	<div class="boxhead">
		<h1>Page tools</h1>
	</div> <!-- .boxhead -->

	<div id="project_pagetools" class="boxbody">
		<!--<p><a href="#">Printable version</a></p>-->

		<p><a href="{% url akvo.rsr.views.projectmain p.id %}">Permalink to this project</a></p>
		<!--<p><a href="#">Email this project's owner</a></p>-->
	</div> <!-- #project_pagetools & .box -->

</div> <!-- #outer_rightwing -->
{% endblock outer_rightwing %}

</div> <!-- page id -->
{% endblock content %}