{% extends "rsr/project_base.html" %}

{% block page_id %}
<div id="page_project_updates">
{% endblock page_id %}

{% block outer_leftwing %}
<div id="outer_leftwing">

	<div class="boxhead">
		<a class="actionbutton" href="#" onclick="this.blur();"><span>Add update</span></a>
		<h1 class="title">{{p.name}}</h1>
		<p>{{p.subtitle}}</p>

	</div> <!-- .boxhead -->
	
	<div id="project_updates" class="boxbody" style="padding-top: 10px;">

		<a href="#" class="rss" style="float:right">Subscribe via RSS</a>
		<h1 class="section">Project updates</h1>

        {% for u in updates %}
            {% if not forloop.first %}
                <hr />
            {% endif %}
            <a name={{u.id}} />
            <h2>{{u.title}}</h2>
            <p><span class="lightx1">{{u.time|date:"Y-m-d H:i"}}</span> by <a href="#">{{u.user}}</a></p>
            <p><span class="lightx1">Status:</span> {{u.show_status}}</p>
            <br />
            {% if u.text %}
                <p>{{u.text}}</p>
            {% endif %}
            {% if u.photo %}
                <img src="{{MEDIA_URL}}{{u.photo}}" alt="{{u.photo_caption}}" style="margin: 20px" />			
            {% endif %}
            <p class="small lightx1">{{u.photo_caption}}</p>
            <p style="text-align:right"><a href="{{request.path}}#{{u.id}}">Permalink</a></p>
        {% endfor %}

	</div> <!-- #project_updates & .boxbody -->

</div> <!-- #outer_leftwing -->
{% endblock outer_leftwing %}
