{% extends "rsr/rsr_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}
{% load rsr_tags %}

{% block title %}Sign in{% endblock title %}

{% block header %}
<div id="header" class="clearfix">
	<img src="{{MEDIA_URL}}img/logo_akvo_250.png" alt="{% trans 'Akvo.org' %}" id="header_logo" />
</div> <!-- #header -->
{% endblock header %}

{% block breadcrumbs %}
{{block.super}} &raquo; {% trans 'Sign in' %}
{% endblock breadcrumbs %}

{% block page_id %}
<div id="page_organisation">
{% endblock page_id %}

{% block content %}

<div class="boxbody" style="clear:left">
<h1 class="section">{% trans 'Please sign in' %}</h1>

{% if form.non_field_errors %}
    <div class="boxbody" style="background-color: orange; margin: 20px;">
    <h1 class="section">{% trans 'Error when signing in' %}</h1>
	{% for e in form.non_field_errors %}
	<p>{{e}}</p>
	{% endfor %}
    </div> <!-- .boxbody -->
{% endif %}

<form id="sign_in" class="boxbody" method="post" action="">
    <fieldset>
        <legend>{% trans 'I have an online account' %}</legend>
        <ul>
            <li class="clearfix">
                <label for="id_username">{% trans 'Enter username' %}</label>
				{{ form.username }}<br />
            </li>
            <li class="clearfix">
                <label for="id_password">{% trans 'Enter password' %}</label>
				{{ form.password }}<br />
            </li>
			<li class="clearfix">
				<a href="/rsr/accounts/password/reset/">{% trans 'I forgot my username and/or password' %}</a>
			</li>
        </ul>
    </fieldset>
    <hr />
    {% submit_button 'Sign in' 'ab_d0ffff' %}
    <input type="hidden" name="next" value="{{ next }}" />
</form>

<div class="boxbody lightx2" style="border: none; margin: 20px 20px 20px 530px; padding: 10px; ">
<h1 class="section">{% trans "I don't have an online account" %}</h1>
<p style="margin: 10px 0">{% trans "By <a href='/rsr/accounts/register1/'>registering</a> with Akvo, you'll be able to:" %}</p>

<ul class="simplelist">
<li>{% trans "Create updates on your organisation's projects" %}</li>
<li>{% trans 'Leave comments on projects' %}</li>
</ul>
<p style="margin: 10px 0">{% trans 'And much more! <a href="http://dev.akvo.org:8080/web/">Learn about</a> how Akvo works.' %}</p>
</div> <!-- style .boxbody -->

<div style="clear:left"></div>



</div> <!-- .boxbody -->

</div> <!-- page id -->

{% endblock %}