{% extends "rsr/rsr_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}

{% block page_id %}
<div id="system_message">
{% endblock page_id %}

{% block content %}

    <div class="boxbody">
        {% block message %}
        {% endblock message %}
        <div class="c3">
            <p>Return to the <a href="{% url akvo.rsr.views.index %}">Akvo home page</a></p>
        </div>    
    </div>

</div>

{% endblock content %}
