{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% extends "rsr/rsr_base.html" %}

{% block title %}{{block.super}} - Write an update{% endblock title %}

{% block breadcrumbs %}
	{{block.super}}
	&raquo; <a href="{% url akvo.rsr.views.projectlist %}">Project listing</a>
	&raquo; <a href="{% url akvo.rsr.views.projectmain p.id %}">{{p.name}}</a>
	&raquo; Write an update
{% endblock breadcrumbs %}

{% block content %}

<div id="outer_leftwing">

<form enctype="multipart/form-data" method="post" action="">

<div class="box">
	<div class="indentx2" style="border-bottom: 1px solid #ccc; padding: 20px; width: 625px">

		<h1 class="title">Add update</h1>
		<p class="lightx1" style="padding-left: 10px">You are updating the project named</p>
		<p style="padding-left: 10px">{{p.name}}</p>
	</div>
	
	<div style="margin: 20px auto; border-bottom: 1px solid #ccc; padding-bottom: 20px; width: 350px">
		<br />
		<h2 style="margin-left: -50px">Enter update title</h2>
		
						{{form.title|safe}}
						
		<p>50 characters max (<span id=myCounter>50</span> charaters left)</p>

		{% if form.title.errors %}
			<h2 style="color: #D4000D">A problem occurred</h2>
			<p style="color: #D4000D">{{ form.title.errors.as_text }}</p>
		{% endif %}
	</div>			

	<div style="margin: 20px auto; border-bottom: 1px solid #ccc; padding-bottom: 20px; width: 350px">			
		<h2 style="margin-left: -50px">Enter update text</h2>
						{{form.text}}
		{% if form.text.errors %}
			<h2 style="color: #D4000D">A problem occurred</h2>
			<p style="color: #D4000D">{{ form.text.errors.as_text }}</p>
		{% endif %}
	</div>

	
	<!--<div style="margin: 20px auto; border-bottom: 1px solid #ccc; padding-bottom: 20px; width: 350px">
		<h2 style="padding-bottom: 15px">Assign project status <span class="lightx2">(optional)</span></h2>
		{{form.status}}
		{% if form.status.errors %}
			<h2 style="color: #D4000D">A problem occurred</h2>
			<p style="color: #D4000D">{{ form.status.errors.as_text }}</p>
		{% endif %}
	</div>-->
	
	<div style="margin: 20px auto; border-bottom: 1px solid #ccc; padding-bottom: 20px; width: 350px">			
		<h2 style="margin-left: -50px">Add photo <span class="lightx2">(optional)</span></h2>
		<h2>Locate photo:</h2>
		{{form.photo}}
		{% if form.photo.errors %}
			<h2 style="color: #D4000D">A problem occurred</h2>
			<p style="color: #D4000D">{{ form.photo.errors.as_text }}</p>
		{% endif %}

			<br />
			<h2>Select where the photo will be placed:</h2>
			
			{{form.photo_location}}
			{% if form.photo_location.errors %}
				<h2 style="color: #D4000D">A problem occurred</h2>
				<p style="color: #D4000D">{{ form.photo_location.errors.as_text }}</p>
			{% endif %}
			
			<br />
			<h2>Photo caption (optional):</h2>
			{{form.photo_caption}}
			<p>75 characters max</p>
			{% if form.photo_caption.errors %}
				<h2 style="color: #D4000D">A problem occurred</h2>
				<p style="color: #D4000D">{{ form.photo_caption.errors.as_text }}</p>
			{% endif %}
			<br />
			<h2>Photo credit (optional):</h2>
			{{form.photo_credit}}
			<p>25 characters max</p>
			{% if form.photo_credit.errors %}
				<h2 style="color: #D4000D">A problem occurred</h2>
				<p style="color: #D4000D">{{ form.photo_credit.errors.as_text }}</p>
			{% endif %}
		
	<div style="margin: 20px auto; text-align: center;">
	<a href="{% url akvo.rsr.views.projectmain p.id %}">Cancel</a> <input type="submit" value="Submit update" class="submit" />

	</div>
	
</div> <!-- .box -->
</form>
</div> <!-- .outer_leftwing -->
{% endblock content %}
