{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% extends "rsr/sys_message_base.html" %}        
        
{% block message %}
        
<h1 class="section c1">{% block h1 %}Message header{% endblock h1 %}</h1>
<hr>

<div class="c2">
    <h2 class="paddedbottom" style="{% block h2_style %}{% endblock h2_style %}">{% block h2 %}Subheading{% endblock h2 %}</h2>

    <p class="lightx2">{% block text %}Donec eu libero sit amet quam egestas semper.{% endblock text %}</p>
</div>
<hr>

{% endblock message %}
