html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	outline: none;
}
html { height: 101%; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
header { width: 100%; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: 0;
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
	color: #5d9de5;
	transition: color .2s linear;
	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
}
a:hover {
	text-decoration: underline;
	color: #3f7cc0;
}
.seperator {
	margin: 50px 0 10px;
	display: block;
}
/*--------------------------------------------------------------
   						Default Typography.
  --------------------------------------------------------------*/

/* Default font settings.
   The font-size percentage is of 16px. (0.875 * 16px = 14px) */
   
   
html {
	background: rgb(255,255,255);
	font-size: 100%;
	margin-top: 0 !important;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	overflow: hidden;
}
body {
	font-size: 1em;
	color: rgb(32,32,36);
	text-rendering: optimizeLegibility;
	letter-spacing: 0.02em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.2em;
	background: rgb(255,255,255);
	padding: 0.5em;
}
iframe {
	overflow:hidden;
	}
iframe html, iframe body {
	padding:0;
	margin:0;
	}

/*--------------------------------------------------------------
							Headings
-------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	text-transform: none;
	font-weight: normal;
	font-family: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
	color: rgb(44,42,116);
	font-size: 2.6em;
	line-height: 1.2em;/*	text-shadow: 1px 2px 0 rgb(222, 137, 41);
*/
}
h2 {
	font-size: 2em;
	line-height: 1.2em;
	color: rgb(44,42,116);
}
h3 {
	font-size: 1.8em;
	line-height: 1.2em;
}
h4 {
	color: rgb(44,42,116);
	margin-bottom: 1.1em;
	font-size: 1.2em;
	line-height: 1.25em;
}
h5 {
	margin-bottom: 1.1em;
	font-size: 1.1em;
}
h6 { font-size: 1em; }
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }
/*  Styles the & when class "amp" is applied around &amp;  */
.amp {
	font-style: italic;
	font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
}
em {
	font-size: 1.2em;
	padding-bottom: 1em;
	color: rgb(222, 137, 41);
	font-style: italic;
	font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
	margin: 0.1em 2% 0 0;
}
time {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0.1em 2% 0 0;
	font-size: 0.9em;
}
p {
	text-align: left;
	font-size: 0.9em;
}
/*--------------------------------------------------------------
							Misc.
--------------------------------------------------------------*/

.hidden { display: none !important; }
.shown { display: inline-block !important; }
.hide { display: none; }
a img { border: none; }
/* self-clear floats 
	I use a class named .floats-in > This implicitely says that each time a container contains floated elements within. We can clear those by applying this class to that container.
*/

.floats-in:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}
/*--------------------------------------------------------------
						Widget
--------------------------------------------------------------*/
#container.darkBG {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin: 0;
	padding: 0;
	background: rgb(34,34,34);
	overflow: hidden;
}
#container.lightBG {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;
	position: relative;
	margin: 0;
	padding: 0;
	background: rgb(255,255,255);
	-webkit-box-shadow: 0 0 1px rgb(174,174,174);
	-moz-box-shadow: 0 0 1px rgb(174,174,174);
	-o-box-shadow: 0 0 1px rgb(174,174,174);
	box-shadow: 0 0 1px rgb(174,174,174);
	overflow: hidden;
}

/*************************** Widget Header **********************/
#container header {
	width:100%;
	display: inline-block;
	overflow: hidden;
}
#container header h1 {
	display: block;
	font-size: 1em;
	float: left;
	margin: 2px 0 0 1%;
}
#container header a {
	display: block;
	font-size: 1.2em;
	float: right;
	margin: 6px 1% 0 1%;
	text-indent: -9999px;
	width: 60px;
	height: 14px;
}
#container header span {
	font-size: 0.4em;
	float: right;
	margin-top: 3px;
}
#container.darkBG header { color: rgb(255,255,255); }
#container.darkBG header:after {
	border-bottom: 1px solid rgb(86, 86, 86);
	border-top: 1px solid rgb(0, 0, 0);
	content: "";
	display: block;
	margin: 0 auto 0 auto;
	width: 98%;
	visibility: visible;
}
#container.darkBG header h1 { color: rgb(74,179,227); }
#container.darkBG header a { background: url(../images/logoDark.png) center center no-repeat; }
#container.lightBG header { color: rgb(32,32,36); }
#container.lightBG header:after {
	border-bottom: 1px solid rgb(223, 223, 223);
	border-top: 1px solid rgb(245,245,245);
	content: "";
	display: block;
	margin: 25px auto 0 auto;
	width: 98%;
	visibility: visible;
}
#container.lightBG header h1 { color: rgb(44,42,116); }
#container.lightBG header a { background: url(../images/logoLight.png) center center no-repeat; }
/*************************** Widget div ***********************/
#content { position: relative; }
/*************************** Project panel ***********************/
ul.basicInfo {
	font-family: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: block;
	width: 95%;
	padding: 1.5%;
	margin: 0 0 0 0;
	background: rgb(75,75,75);
	background: rgba(255,255,255,0.1);
	clear: both;
}
#container.lightBG ul.basicInfo {
	background: rgb(235,235,235);
	background: rgba(0,0,0,0.1);
}
ul.basicInfo li .projectStatus {
	display: inline-block;
	padding: 0.15em 0.5em;
	font-size: 0.65em;
	text-transform: uppercase;
	border-radius: 0.15em;
	color: rgb(255,255,255);
}
.projectStatus.notComplete { background: rgb(217,104,0); }
.projectStatus.complete { background: rgb(140,198,63); }
ul.basicInfo li .projectLocation {
	display: inline-block;
	padding: 0.15em 0.35em 0.15em 17px;
	font-size: 0.6em;
	text-transform: uppercase;
	color: rgb(255,255,255);
	background: url(../images/pinLocation.png) left center no-repeat;
	margin: 0 0 0 5px;
	text-overflow: ellipsis;
	line-height: 1;
}
#container.lightBG ul.basicInfo li .projectLocation {
	color: rgb(32,32,36);
	background: url(../images/pinLocationBk.png) left center no-repeat;
}
#project_title {
	width: 98%;
	display: block;
	font-size: 1em;
	text-transform: uppercase;
	margin: 0.75em 0 0.75em 5px;
	color: rgb(255,255,255);
}
#project_title a { color: rgb(255,255,255); }
#container.lightBG #project_title a { color: rgb(32,32,36); }
.photo_frame {
	float: left;
	display: inline;
	border: 1px solid rgb(0,0,0);
	padding: 0;
	width: 37%;
	margin: 0 2% 0 1px;
	position:relative;
}
.photo_frame img {
	padding: 0;
	margin: 0;
	width: 100%;
	vertical-align: sub;
}
#project_subtitle {
	font-family: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: rgb(152,152,152);
	padding: 0;
	max-height: 190px;
	overflow: hidden;
	
}
/*************************** Budget panel ***********************/
.projectBudget {
	position: relative;
	overflow: auto;
	float: right;
	width: 26%;
	margin: 0 0.5% 0 0;
	overflow: hidden;
}
#container.lightBG div.projectBudget {
	border: 1px solid transparent;
}
#project_plan_summary {
	font-family: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 10px 5px;
	color: rgb(235,235,235);
}
#container.lightBG #project_plan_summary { color: rgb(32,32,36); }
ul.fundingwrap {}
ul.fundingwrap li {
	padding: 5px 0;
	margin: 3px 0;
}
ul.fundingwrap li:first-child {
	padding: 2px 0;
	margin: 0;
}
li.totalBudget {
	background: rgb(55,60,64);
	background: rgba(74,179,227,0.1);
	color: rgb(74,179,227);
}
li.raisedBudget {
	background: rgb(50,54,47);
	background: rgba(140,198,63,0.1);
	color: rgb(140,198,63);
}
li.neededBudget {
	background: rgb(50,36,36);
	background: rgba(237,28,36,0.1);
	color: rgb(237,28,36);
}
#container.lightBG li.totalBudget {
	background: rgb(207,229,238);
	background: rgba(74,179,227,0.2);
	color: rgb(74,179,227);
}
#container.lightBG li.raisedBudget {
	background: rgb(221, 232, 206);
	background: rgba(140,198,63,0.2);
	color: rgb(140,198,63);
}
#container.lightBG li.neededBudget {
	background: rgb(242, 199, 199);
	background: rgba(237,28,36,0.2);
	color: rgb(237,28,36);
}
.projectBudget li h4 {
	color: inherit;
	text-transform: uppercase;
	font-size: 0.75em;
	margin-bottom: inherit;
	margin: 0.1em 0 0.1em 0.25em;
}
.projectBudget li span {
	text-transform: uppercase;
	margin: 0 0 0 0.25em;
	font-size: 1.3em;
	font-family: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.orangeAction {
	display: table;
	margin: 0.5em auto 0.25em;
	border: 0 none;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	-o-border-radius: 0.25em;
	border-radius: 0.25em;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.25);
	color: rgb(255, 255, 255) !important;
	font-size: 0.8em;
	padding: 0.05em 1.5em;
	text-transform: uppercase;
	background: rgb(239,170,0); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmYWEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZjRmMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(239,170,0,1) 0%, rgba(207,79,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(239,170,0,1)), color-stop(100%, rgba(207,79,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(239,170,0,1) 0%, rgba(207,79,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(239,170,0,1) 0%, rgba(207,79,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(239,170,0,1) 0%, rgba(207,79,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(239,170,0,1) 0%, rgba(207,79,0,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efaa00', endColorstr='#cf4f00', GradientType=0 ); /* IE6-8 */
	border: 2px solid rgb(217,104,0);
}
.orangeAction:hover {
	background: rgb(164,179,87); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E0YjM1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTg5MGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=0 ); /* IE6-8 */
	text-decoration: none;
	border: 2px solid rgb(164,179,87);
}
/*************************** Progress BAr ***********************/
.html5-progress-bar { }
.html5-progress-bar progress {
	background-color: #f3f3f3;
	border: 0;
	border-radius: 15px;
	margin: 0 auto;
	border: 3px solid rgb(52,52,52);
    width: 95%;
}
.html5-progress-bar progress::-webkit-progress-bar {
 background-color: rgb(225,225,225);
 border-radius: 9px;
}
.html5-progress-bar progress::-webkit-progress-value {
background: rgb(216,138,69); /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q4OGE0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOTY4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
 background: -moz-linear-gradient(top, rgba(216,138,69,1) 0%, rgba(217,104,0,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(216,138,69,1)), color-stop(100%, rgba(217,104,0,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, rgba(216,138,69,1) 0%, rgba(217,104,0,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, rgba(216,138,69,1) 0%, rgba(217,104,0,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top, rgba(216,138,69,1) 0%, rgba(217,104,0,1) 100%); /* IE10+ */
 background: linear-gradient(to bottom, rgba(216,138,69,1) 0%, rgba(217,104,0,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d88a45', endColorstr='#d96800', GradientType=0 ); /* IE6-8 */
 border-radius: 9px;
}
.html5-progress-bar progress::-moz-progress-bar {
background: rgb(216,138,69); /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q4OGE0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOTY4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
 background: -moz-linear-gradient(top, rgba(216,138,69,1) 0%, rgba(217,104,0,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(216,138,69,1)), color-stop(100%, rgba(217,104,0,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, rgba(216,138,69,1) 0%, rgba(217,104,0,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, rgba(216,138,69,1) 0%, rgba(217,104,0,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top, rgba(216,138,69,1) 0%, rgba(217,104,0,1) 100%); /* IE10+ */
 background: linear-gradient(to bottom, rgba(216,138,69,1) 0%, rgba(217,104,0,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d88a45', endColorstr='#d96800', GradientType=0 ); /* IE6-8 */
 border-radius: 9px;
}
.html5-progress-bar .progress-value {
	padding: 0px 5px;
	line-height: 20px;
	margin-left: 5px;
	font-size: .8em;
	color: #555;
	height: 18px;
	float: right;
}
.bigBTN {
	font-family: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: inline-block;
	margin: 0.25em auto;
	border: 0 none;
	-moz-border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	-o-border-radius: 0.15em;
	border-radius: 0.15em;
	color: rgb(255, 255, 255);
	font-size: 2.8em;
	text-transform: uppercase;
	padding: 0.5em 1.75em;
	background: rgb(0,136,204); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwODhjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDQ0Y2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(0,136,204,1) 0%, rgba(0,68,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,136,204,1)), color-stop(100%, rgba(0,68,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,136,204,1) 0%, rgba(0,68,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,136,204,1) 0%, rgba(0,68,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,136,204,1) 0%, rgba(0,68,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,136,204,1) 0%, rgba(0,68,204,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0 ); /* IE6-8 */
	cursor: pointer;
}
.bigBTN:hover {
	background: rgb(203,96,179); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NiNjBiMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2MxNDZhMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2E4MDA3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYjM2YTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(203,96,179,1)), color-stop(50%, rgba(193,70,161,1)), color-stop(51%, rgba(168,0,119,1)), color-stop(100%, rgba(219,54,164,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=0 ); /* IE6-8 */
	text-decoration: none;
}
