{% load i18n rsr_tags webdesign %}
{% load url from future %}

<!doctype html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=8" />
	<meta name="description" content="{% trans 'Dutch Water Sector' %}" />
	<meta name="keywords" content="{% trans 'The Dutch water sector, dutchwatersector' %}" />
	<title>Dutch Water Sector{% block title %}{% endblock %}</title>

  {% block style %}
    {% asset_bundle 'dws_style' %}
    <!--[if IE 6]>
      {% asset_bundle 'dws_ie6_style' %}
    <![endif]-->
  {% endblock style %}

  <style type="text/css" media="screen">
  	{% block inline_styles %}{% endblock inline_styles %}
	</style>

	<link rel="shortcut icon" href="{{MEDIA_URL}}dws/img/favicon.ico" type="image/x-icon">
	<link rel="alternate" type="application/rss+xml" title="Blog entries" href="/blog/?feed=rss2" />
	<link rel="alternate" type="application/rss+xml" title="Project updates" href="/rsr/rss/all-updates" />
	
  {% block head %}{% endblock head %}
	
</head>
<body>
	<div id="header_container" class="container">
		<ul id="main_nav">
      <li>
        <a id="main_nav_left" href="{% url 'index' %}" class="{% ifequal site_section 'index' %}active{% endifequal %} {% if not site_section %}active{% endif %} ">
          <img src="{{MEDIA_URL}}dws/img/mainnav/dws_logo.png" width="222" height="41"
            alt="Dutch Water Sector" style="margin:0;padding:0;">
        </a>
      </li>
      <li><a href="/news"><span>{% trans 'News' %}</span></a></li>
      <li>
        <a href="{% url 'project_list' %}" class="{% ifequal site_section 'projects' %}active{% endifequal %}">
          <span>{% trans 'Projects' %}</span>
        </a>
      </li>
      <li>
        <a href="/web/directory" class="{% ifequal site_section 'directory' %}active{% endifequal %}">
          <span>{% trans 'Directory' %}</span>
        </a>
      </li>
      <li><a href="/features"><span>{% trans 'Features' %}</span></a></li>
      <li>
        <a href="/web/education">
          <span>{% trans 'Education' %}</span>
        </a>
      </li>
			<li>
        <a href="/web/focus-areas" class="{% ifequal site_section 'areas' %}active{% endifequal %}">
          <span>{% trans 'Focus Areas' %}</span>
        </a>
      </li>
			<li>
				<a href="/web/netherlands">
					<span>{% trans 'Netherlands' %}</span>
				</a>
			</li>
			<li><a href="/web/about"><span>{% trans 'About us' %}</span></a></li>
			<li>
				<span id="main_nav_language">
						&nbsp;
				</span>
			</li>
		</ul>
	</div>

	<div id="main_container" class="container">

		<div style="height:17px;">&nbsp;</div>

		{% block breadcrum  %}
			<div class="span-12" style="margin-bottom:20px;">
				<div id="breadcrum_back">
					<ul id="breadcrum">
						{% block breadcrum_items %}
						<li><a href="/"><span>{% trans 'Home' %}</span></a></li>
						{% endblock breadcrum_items %}
					</ul>
					<div class="clear"></div>
				</div>
			</div>
		{% endblock breadcrum %}
		
		{% block maincontent %}
			<h1>DWS RSR</h1>
		{% endblock maincontent %}
	</div>
	
	<div id="footer" class="container">
		<div id="footer_bar">&nbsp;</div>
		
		<p class="small grey">
			{% trans 'Site under' %} <a href="/web/open_license">{% trans 'open licence' %}</a>
			&nbsp;|&nbsp; <a href="/web/disclaimer">{% trans 'Disclaimer' %}</a>
			&nbsp;|&nbsp; <a href="/web/contact_us">{% trans 'Contact us' %}</a>
      {% if site_section != 'index' %}
        <img src="{{MEDIA_URL}}dws/img/holland_logo_oranje_74x25.gif" style="float: right; margin-top: -6px;"/>
      {% else %}
        <a href="http://www.akvo.org/"><img src="{{MEDIA_URL}}dws/img/Akvo-badge-grey.png" alt="Akvo.org"  style="float: right; margin-top: -7px;"></a>
      {% endif %}
		</p>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	{% if debug %}<script src="{{MEDIA_URL}}core/js/jquery-ui.1.8.9.min.js"></script>{% else %}
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
	{% endif %}
	
	<script type="text/javascript">
		!window.jQuery && document.write('<script src="{{MEDIA_URL}}core/js/jquery-1.5.1.min.js"><\/script>');
	</script>
		
	{% block js %}{% endblock js %}
	
	<script type="text/javascript">
		var $ = jQ = jQuery.noConflict();
		
		jQ(document).ready(function(){
			{% block jq_ready %}{% endblock jq_ready %}
			
			jQ('#grid_toggle').click(function () {
				jQ('.container').toggleClass('showgrid');
			});
			
		});		
	</script>	
</body>
</html>
