{% extends "rsr/base.html" %}

{% load i18n webdesign rsr_filters thumbnail counter_tags cache humanize %}
{% load oembed_tags markup_tags google_maps %}

{% block breadcrum  %}{% endblock breadcrum  %}

{% block maincontent %}

{% if preview %}
  <div id="preview_cover"></div>
  <div id="preview_alert">
    <h1 style="color: orange;">{% trans 'Preview!' %}</h1><a href="{% url admin:rsr_minicms_change cms.pk %}">{% trans 'Return to admin' %}</a>
  </div>
{% endif %}

<div class='container'>
  <div class='column span-10'>
    {% oembed 689x413 %}{{cms.video_url}}{% endoembed %}
  </div>
    
    <!--<div id="movie_container" style="width:689px; max-width:689px; max-height:408px height:408px; overflow:hidden;">
      <object width="689" height="408">
        <param name="movie" value="http://www.youtube.com/v/LqwtH6qYjmo&amp;hl=en_US&amp;fs=1&amp;rel=0&amp;hd=1">
        <param name="allowFullScreen" value="true">
        <param name="allowscriptaccess" value="always">
        <embed src="http://www.youtube.com/v/LqwtH6qYjmo&amp;hl=en_US&amp;fs=1&amp;rel=0&amp;hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="689" height="408">
      </object>
    </div>-->
  
  <div class='column span-4 last'>
    <div class="gradient_box" style="height: 411px;">
      <div id="top_right_box" class="space20">
        <div style="text-align:center;">
          <img src="{{MEDIA_URL}}pvw-take2/img/lets-work-together-logo-233x172-trans.gif" width="156" height="120"/>
        </div>
        {{cms.top_right_box|apply_markup:"markdown"}}
        <!--<h3 class="prepend-top" style="font-size:0.875em;">The Dutch water sector:<br/>Your worldwide partner for water</h3>
        <p class="nano-lede">
          The world faces many water challenges: climate change, droughts, rising water levels, a growing world economy.
        </p> 
        <p class="nano-lede">
          Based on an age-old relationship with water, the Netherlands can lead the way. We're a place where global expertise and experience come together.          
        </p> -->
        <div class="h1_companion">
          <a href="/web/directory">Find a partner <span class="link_triangle">&#x25BA;</span></a>
        </div>          
        <div class="clear"></div>
        <div class="h1_companion">
          <a href="/web/history">Our story <span class="link_triangle">&#x25BA;</span></a>
        </div>          
          <div class="clear"></div>
      </div> 
    </div> 
  </div>
   
</div> 

<div class='container'>
   
  <div class='column last span-14'>
    <div class="white_box gutter-top" style="background-color:#f1f1f1;">
      <div class="space5"> 
        <h5 style="display: inline; padding-left: 15px;">Latest news: </h5><a href="{{news_post.url}}" class="small_link">{{news_post.title}}</a>
      </div> 
    </div> 
  </div> 
</div> 

<div class='container'> 
          
  <div class='column span-10 gutter-top'>
      
    <div class='column span-5'>
      <div class="white_box" style="background-color:#fff; min-height: 485px;">
        <div class="space20">
          <div style="float: left;">
            <h1>{% trans 'Recent articles' %}</h1> 
          </div>
          <div class="h1_companion">
            <a class="" href="/news/?feed=rss2">
              RSS
              <img src="{{MEDIA_URL}}core/img/icon_rss.gif" width="12" height="12" alt="Icon Rss"  style="margin-left:5px; margin-right:0">
            </a>
          </div>
        </div> 
        <div class="clear"></div>
        {% for blog_post in blog_posts %}
          <div class="space20" style="margin-top: 0;">
            <p><a class="strong" href="{{blog_post.url}}">{{blog_post.title}}</a></p>
            <p class="nano-lede lt_grey">{{blog_post.date|date:"l, j F Y"}}</p> 
            {% if blog_post.image %}
              <div class="clear"></div>
              <img src="{{blog_post.image}}" width="123" style="margin: 0 10px 10px 0; float: left;">
            {% endif %}
            <p class="nano-lede">{{blog_post.text|striptags|smart_truncate:160}}</p> 
          </div>
          <div style="margin: 0 8px;"><hr/></div>
        {% endfor %}
        <div class="h1_companion" style="margin: 20px; margin-top: 5px;">
          <a href="/news">View earlier articles <span class="link_triangle">&#x25BA;</span></a>
        </div>          
        <div class="clear"></div>
      </div>
    </div>

    <div class='column span-5 last'>
      <div class="white_box" style="background-color:#fff; min-height: 485px;">
        <div id="map_box" class="space20">     
          <div style="float: left;">
            <h1>Projects worldwide</h1> 
          </div>
          <div class="h1_companion">
            <a href="{% url project_list %}">See all <span class="link_triangle">&#x25BA;</span></a>
          </div>
          <div class="clear"></div>
          {# <img src="/rsr/media/pvw-take2/img/project/storm_barrier.jpg" width="292" height="219" alt="Icon Rss"> #}
          <a href="{% url global_project_map %}">
            {% google_global_project_map 'static' 292 219 0 %}
            {# google_static_global_project_map 292 219 0 'blue' 'small' #}
          </a>
          {{cms.map_box|apply_markup:"markdown"}}
          <!--<p class="nano-lede strong">
            117 countries.<br/>
            € 20 billion in project budgets.<br/>
            178 million people's lives made better.
          </p>
          <p class="nano-lede lt_grey">Feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p>
          -->
          <div class="h1_companion">
            <a href="{% url global_project_map %}">View large map <span class="link_triangle">&#x25BA;</span></a>
          </div>          
          <div class="clear"></div>
        </div> 
      </div> 
    </div>

    <div class='column span-10 gutter-top last'>
      <div class="white_box">
        <div id="tagline_box" class="space20">
          <img style="float: right;" src="{{MEDIA_URL}}pvw-take2/img/holland_logo_oranje_130x44.gif">
          {{cms.tagline_box|apply_markup:"markdown"}}
          <div class="clear"></div>
        </div>
      </div>
    </div>

  </div>

  <div class='column last span-4 gutter-top'>
    <div class="white_box" style="background-color:#fff;">
      <div style="margin: 20px 20px 0px 20px;">     
        <div style="float: left;">
          <h1>Focus areas</h1> 
        </div>
        <div class="h1_companion">
          <a href="/web/focus-areas">See all <span class="link_triangle">&#x25BA;</span></a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div id="index-accordion" style="height: 500px;">
      <div id="accordion">
        {% for focus_area in focus_areas %}
        <h3><a href="#">{{focus_area.name}}</a></h3>
        <div>
          <img width="220" height="165" src="{% thumbnail focus_area.image 220x165 sharpen %}" alt="{{focus_area}}"/>
          <p class="nano-lede" style="font-size: 0.9375em;">
            {{focus_area.description|smart_truncate:80}}
            <a style="color: #1877B8;" href="/web/{{focus_area.slug}}">Read more <span class="link_triangle">&#x25BA;</span></a>
          </p>
        </div>
        {% endfor %}
      </div>              
    </div>          
  </div>


</div> 

{% endblock maincontent %}

{% block jq_ready %}
	{{ block.super }}
  $("#accordion").accordion();
  $(".selector").accordion({ fillSpace: true });
{% endblock jq_ready %}
