{% extends "rsr/base.html" %}
{% load i18n webdesign rsr_filters thumbnail counter_tags cache humanize %}
{% load oembed_tags markup_tags google_maps %}
{% load url from future %}


{% block breadcrum  %}{% endblock breadcrum  %}

{% block maincontent %}

{% if preview %}
  <div id="preview_cover"></div>
  <div id="preview_alert">
    <h1 style="color: orange;">{% trans 'Preview!' %}</h1><a href="{% url 'admin:rsr_minicms_change' cms.pk %}">{% trans 'Return to admin' %}</a>
  </div>
{% endif %}

<div class='container'>

  <div class='column span-8'>
    <div class="gradient_box" style="height: 468px;">
      News
    </div>
  </div>

  <div class='column span-4 last'>
    <div class="gradient_box" style="height: 368px;">
      Let's work...
    </div>
    <div class="gradient_box gutter-top" style="height: 80px;">
      Sign up!
    </div>
  </div>

</div>

<div class='container gutter-top'>

  <div class='column span-4'>
    <div class="white_box" style="height: 478px;">
      Features
    </div>
    <div class="white_box gutter-top" style="height: 478px;">
      Focus areas
    </div>
  </div>

  <div class='column span-4'>
    <div class="white_box" style="height: 400px;">
      Projects map
    </div>
    <div class="white_box gutter-top" style="height: 250px;">
      Project focus
    </div>
  </div>

  <div class='column span-4 last'>
    <div class="gradient_box" style="height: 400px;">
      Find experts
    </div>
    <div class="white_box gutter-top" style="height: 250px;">
      Expert focus
    </div>
  </div>

</div>

<div class='container gutter-top'>
  <div class='column span-12 last'>
    <div class="white_box" style="height: 100px;">
      Slogan
    </div>
  </div>
</div>

{% endblock maincontent %}

{% block jq_ready %}
	{{ block.super }}
  $("#accordion").accordion();
  $(".selector").accordion({ fillSpace: true });
{% endblock jq_ready %}
