{% extends "rsr/base.html" %}
{% load i18n webdesign rsr_filters rsr_tags thumbnail counter_tags cache humanize %}
{% load oembed_tags markup_tags google_maps %}
{% load url from future %}


{% block breadcrum  %}{% endblock breadcrum  %}

{% block inline_styles %}
#index_news_box {
	background: transparent url({{ news_post.0.image }}) no-repeat;
}
{% endblock inline_styles %}

{% block maincontent %}

{% if preview %}
  <div id="preview_cover"></div>
  <div id="preview_alert">
    <h1 style="color: orange;">{% trans 'Preview!' %}</h1><a href="{% url 'admin:rsr_minicms_change' cms.pk %}">{% trans 'Return to admin' %}</a>
  </div>
{% endif %}

<div class='container'>

  {# news box #}
  <div class='column span-8'>
    <div id="index_news_box">
      <div class="full">
        <div class="text_bg">
          <p>{% trans 'Latest news from the Dutch Water Sector' %}</p>
          <h1 class="serif">{{ news_post.0.title }}</h1>
        </div>
      </div>
      <div class="full bottom">
        <div class="text_bg">
          <p>
            {{ news_post.0.text|truncatewords_html:12}}
            <a class="yellow">{% trans 'Read more' %}</a>
          </p>
          <p class="yellow last" style="text-align: right;">
            <a class="yellow">{% trans 'More news headlines' %}</a>
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class='column span-4 last'>
    {# video box #}
    <div class="gradient_box" style="height: 368px;">
      <div class="space15 center">
        <h1 class="black">{% trans "let's work together" %}</h1>
        <p class="nano-lede lt_grey">{% trans "A world of expertise at your fingertips" %}</p>
      </div>
      <div class="hr_margin"><hr/></div>
      <div class="space15 center">
        <a href="http://www.youtube.com/user/NLWaterPartnership" class="small_link red">
          {% trans "See our latest videos on" %}
          <img src="{{MEDIA_URL}}dws/img/youtube_24x24.png" alt="YouTube" style="vertical-align: top;"/>
        </a>
        <div style="margin-top: 10px;">
        {% comment %}{# alternative with thumbnail and link to YT channel page #}
            <a href="http://www.youtube.com/watch?v={{cms.video_url}}">
              <img alt="{% trans "Watch on YouTube" %}" width="282" height="212" src="http://i1.ytimg.com/vi/{{cms.video_url}}/default.jpg" />
            </a>
        {% endcomment %}
          <iframe title="{% trans 'YouTube video player' %}" width="282" height="212" src="{{cms.video_url}}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

    </div>

    {# newsletter signup box #}
    <div class="gradient_box gutter-top" style="height: 80px;">
      Sign up!
    </div>
  </div>

</div>

<div class='container gutter-top'>
  {#  first column #}
  <div class='column span-4'>
    {# features box #}
    <div class="white_box" style="height: 478px;">
      <div class="space15">
        <div style="float: left;">
          <h1>{% trans 'Features' %}</h1>
        </div>
        <div class="h1_companion">
          <a class="" href="/news/?feed=rss2">
            RSS
            <img src="{{MEDIA_URL}}core/img/icon_rss.gif" width="12" height="12" alt="Icon Rss"  style="margin-left:5px; margin-right:0">
          </a>
        </div>
      </div>
    </div>

    {# focus area accordion box #}
    <div class="white_box gutter-top" style="background-color:#fff;">
      <div class="space15">
        <div style="float: left;">
          <h1 class="space0">{% trans 'Focus areas' %}</h1>
        </div>
        <div class="h1_companion">
          <a href="/web/focus-areas">{% trans 'See all' %} <span class="link_triangle">&#x25BA;</span></a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div id="index-accordion" style="height: 500px;">
      <div id="accordion">
        {% for focus_area in focus_areas %}
        <h3><a href="#">{{focus_area.name}}</a></h3>
        <div>
          <img width="220" height="165" src="{% thumbnail focus_area.image 220x165 sharpen %}" alt="{{focus_area}}"/>
          <p class="nano-lede" style="font-size: 0.9375em;">
            {{focus_area.description|smart_truncate:80}}
            <a style="color: #1877B8;" href="/web/{{focus_area.slug}}">{% trans 'Read more' %} <span class="link_triangle">&#x25BA;</span></a>
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {# second column #}
  <div class='column span-4'>

    {# global map box #}
    <div class="white_box" style="background-color:#fff; min-height: 400px;">
      <div id="map_box" class="space15">
        <div style="float: left;">
          <h1 class="box-heading">{% trans 'Projects worldwide' %}</h1>
        </div>
        <div class="h1_companion">
          <a href="{% url 'project_list' %}">{% trans 'See all' %} <span class="link_triangle">&#x25BA;</span></a>
        </div>
      </div>
      <a href="{% url 'global_project_map' %}">
        {% google_global_project_map 'static' 312 200 0 %}
        {# google_static_global_project_map 292 219 0 'blue' 'small' #}
      </a>
      <div class="space15">
        {{cms.map_box|apply_markup:"markdown"}}
        <div class="h1_companion">
          <a href="{% url 'global_project_map' %}">{% trans 'View large map' %} <span class="link_triangle">&#x25BA;</span></a>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    {# project focus box #}
    <div class="white_box gutter-top" style="height: 250px;">
      <div class="space15">
        <h1 class="box-heading">{% trans 'Projects focus' %}</h1>
        <p class="nano-lede lt_grey">{% trans "Learn about Dutch participation in this project:" %}</p>
        <p><a class="strong" href="{% url 'project_main' showcase.pk %}">{{ showcase.name }}</a></p>
      </div>
      <div class="hr_margin"><hr/></div>
      <div class="space15">
        <h1 class="h0" style="font-family:'Georgia',serif;">{{ showcase.primary_location.country }}</h1>
        <p><a href="{% url 'project_list' %}?country={{ showcase.primary_location.country.pk }}">{% trans "See Dutch projects in this country" %} <span class="link_triangle">&#x25BA;</span></a></p>
      </div>
    </div>

  </div>

  {# third column #}
  <div class='column span-4 last'>

    {# dutchwatersector.org box #}
    <div class="gradient_box">
      <div class="space15">
        <h1 class="box-heading">{% trans 'Find Dutch water experts' %}</h1>
        <div style="text-align: center;">
          <img src="{{MEDIA_URL}}dws/img/dws.org.logo.png" />
        </div>
        <p class="nano-lede lt_grey top-margin">{% trans "A directory of all Dutch water organisations and companies. Find a partner here!" %}</p>
        <div class="left strong" style="font-size:0.875em; width: 131px; margin: 8px 0;">
          <p>
            <a href="http://dutchwatersector.org/waterdirectory/?step=process&form_registers[]=01">
              {% trans "Waste water" %}
              <span class="link_triangle">&#x25BA;</span>
            </a>
          </p>
          <p>
            <a href="http://dutchwatersector.org/waterdirectory/?step=process&form_registers[]=02">
              {% trans "Drinking water" %}
               <span class="link_triangle">&#x25BA;</span>
            </a>
          </p>
          <p>
            <a href="http://dutchwatersector.org/waterdirectory/?step=process&form_registers[]=03">
              {% trans "Ground water" %}
               <span class="link_triangle">&#x25BA;</span>
            </a>
          </p>
          <p>
            <a href="http://dutchwatersector.org/waterdirectory/?step=process&form_registers[]=04">
              {% trans "Surface water" %}
               <span class="link_triangle">&#x25BA;</span>
            </a>
          </p>
          <p>
            <a href="http://dutchwatersector.org/waterdirectory/?step=process&form_registers[]=05">
              {% trans "Process water" %}
               <span class="link_triangle">&#x25BA;</span>
            </a>
          </p>
          <p>
            <a href="http://dutchwatersector.org/waterdirectory/?step=process&form_registers[]=06">
              {% trans "Sewage" %}
               <span class="link_triangle">&#x25BA;</span>
            </a>
          </p>
        </div>
        <div class="left strong" style="font-size:0.875em; width: 151px;  margin: 8px 0;">
          <p>
            <a href="http://dutchwatersector.org/waterdirectory/?step=process&form_registers[]=08">
              {% trans "Consultancy and engineering" %}
               <span class="link_triangle">&#x25BA;</span>
            </a>
          </p>
          <p>
            <a href="http://dutchwatersector.org/waterdirectory/?step=process&form_registers[]=09">
              {% trans "Information technology" %}
               <span class="link_triangle">&#x25BA;</span>
            </a>
          </p>
          <p>
            <a href="http://dutchwatersector.org/waterdirectory/?step=process&form_registers[]=10">
              {% trans "Organisations" %}
               <span class="link_triangle">&#x25BA;</span>
            </a>
          </p>
          <p>
            <a href="http://dutchwatersector.org/waterdirectory/?step=process&form_registers[]=11">
              {% trans "Personnel and training" %}
               <span class="link_triangle">&#x25BA;</span>
            </a>
          </p>
          <p>
            <a href="http://dutchwatersector.org/waterdirectory/?step=process&form_registers[]=20">
              {% trans "Business information" %}
               <span class="link_triangle">&#x25BA;</span>
            </a>
          </p>
          <p>
            <a href="http://dutchwatersector.org/waterdirectory/?step=process&form_registers[]=21">
              {% trans "Infrastructure" %}
               <span class="link_triangle">&#x25BA;</span>
            </a>
          </p>
        </div>
      </div>
      <div class="hr_margin"><hr/></div>
      <div class="space15 strong">
        <p class="h1_companion  ">
          <a href="http://dutchwatersector.org/waterdirectory/" target="_blank">
            {% trans "Go to directory" %}
             <span class="link_triangle">&#x25BA;</span>
          </a>
        </p>
        <div class="clear"></div>
      </div>
    </div>

    {# expert focus box #}
    <div class="white_box gutter-top" style="height: 250px;">
      <div class="space15">
        <h1 class="box-heading">{% trans 'Expert focus' %}</h1>
      </div>
      <div class="hr_margin"><hr/></div>
      <div class="space15">
        {% org_logo focus_org 120 90 'margin-left: 82px' %}
      </div>
      <div class="hr_margin"><hr/></div>
      <div class="space15">
        <h5>
          {{ focus_org }}
          {% if focus_org.long_name and not focus_org.name == focus_org.long_name %}
            - {{ focus_org.long_name }}
          {% endif %}
        </h5>
        <div class="h1_companion">
          <a href="{% url 'org_detail' focus_org.pk %}">
            {% trans 'Read more about' %} {{ focus_org }}
            <span class="link_triangle">&#x25BA;</span>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>

{# slogan box #}
<div class='container gutter-top'>
  <div class='column span-12 last'>
    <div class="white_box" style="height: 100px;">
      Slogan
    </div>
  </div>
</div>

{% endblock maincontent %}

{% block jq_ready %}
	{{ block.super }}
  $("#accordion").accordion();
  $(".selector").accordion({ fillSpace: true });
{% endblock jq_ready %}
