@import url(https://fonts.googleapis.com/css?family=Lato:300&subset=latin);

.editor{
  
  // padding-top: 50px;
  position: relative;
  .flex-container{
    display: flex;
    flex-direction: row;
  }
  .status-bar{
    position: sticky;
    height: 50px;
    background-color: #f2f2f2;
    width: 100%;
    top: 0;
    display: flex;
    line-height: 50px;
    z-index: 2;
    aside{
      background: #e6e6e6;
      height: 50px;
      padding: 0 20px;
      .anticon{
        margin-right: 10px;
        color: green;
      }
      span{
        font-size: 14px;
        opacity: 0.5;
      }
    }
    .content{
      display: flex;
      flex-direction: row-reverse;
      i{
        opacity: 0.5;
      }
      .ant-btn{
        margin-top: 9px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
  aside{
    width: 270px!important;
    position: absolute;
    ul{
      background-color: #f2f2f2;
      padding: 20px;
      text-transform: uppercase;
      li{
        position: relative;
        line-height: 40px;
        font-weight: 300;
        .check{
          position: absolute;
          right: 0;
          top: 0;
        }
        &.active{
          font-weight: bold;
          a{
            cursor: default;
          }
        }
      }
    }
  }
  .content{
    flex: 1;
  }
  &> .flex-container > .content{
    padding-left: 30px;
    margin-left: 270px;
    margin-right: 330px;
  }
  .alerts{
    width: 300px;
    position: absolute;
    right: 0;
    // padding-left: 30px;
    padding-top: 20px;
  }
}

hr{
  border: none;
  background-color: #ccc;
  height: 1px;
  margin: 20px 0;
}

.view {
  padding-top: 20px;
}

.settings.view {
  p:first-of-type{
    margin-bottom: 20px;
  }
  .switch-label{
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 2px;
  }
  .ant-switch{
    transform: translateY(-2px);
  }
  ul{
    li{
      line-height: 40px;
    }
  }
  small{
    line-height: 16px;
    margin-bottom: 10px;
    display: inline-block;
  }
}

.info.view{
  .ant-form-item-label{
    .anticon{
      margin-left: 6px;
      margin-right: 6px;
    }
    .optional{
      opacity: 0.3;
      font-style: italic;
    }
  }
  .status-label{
    display: flex;
  }
  .suspend-switches{
    margin-left: auto;
    font-size: 11px;
    .ant-switch{
      margin-left: 5px;
      margin-right: 5px;
    }
    span{
      opacity: 0.65;
    }
  }
  h3{
    margin-bottom: 15px;
  }
}

.switch-suspend.ant-switch-checked{
  background-color: red;
}

.partners.view{
  .ant-collapse{
    margin-bottom: 20px;
  }
  .ant-btn{
    margin-bottom: 30px;
  }
}