{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Page not found (404)' %}{% endblock title %}

{% block maincontent %}
<div class="container-fluid">
    <h1 class="text-center" style="margin-top: 1em; margin-bottom: 1em;">{% trans '404 Error Page. Not Found!' %}</h1>
    <div class="row">
        <div class="col-md-6"><img src="/static/rsr/images/404_surprise.png" alt="Surprise" class="center-block" style="max-height: 450px;" title=""></div>
        <div class="col-md-6">
        <p style="font-size:150%; margin-top:15%; margin-bottom:10%;">
            {% trans "Or isn&#39;t this what you were hoping for?" %}<br><br>
            {% trans "In that case something&#39;s gone wrong." %}<br><br>
            {% trans "You might want to try our home page, or the menu bar above." %}</p>
        </div>
    </div>
</div>
{% endblock maincontent %}


