{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Oops, something went wrong!' %} (500 error){% endblock title %}

{% block maincontent %}
<div class="container-fluid" style="margin-top: 3em; margin-bottom: 5em;">
    <h1 class="text-center" style="margin-bottom: 1em;">{% trans 'Oops, something went wrong!' %}</h1>
    <div class="row">
        <p class="text-center">
			{% blocktrans %}
            We were unable to serve your last request (500 error).<br><br>
            Our staff has been notified and will look into the problem as soon as possible.<br><br>
            Please try again later or <a href="http://rsrsupport.akvo.org/form">contact us</a> through our support system.
			{% endblocktrans %}
		</p>
    </div>
</div>
{% endblock maincontent %}
