{% load i18n rsr_filters rsr_tags webdesign piwik_tags %}
{% load url from future %}
{% load pipeline %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8"/>
    {% if debug %}<meta name="robots" content="none"/>{% endif %}
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Akvo RSR"/>
    <meta property="og:url" content="http://{{request.META.HTTP_HOST}}{{request.path}}"/>
    {% if update %}
      <meta property="og:title" content="{{update.title}} - {{project.title}}"/>
      <meta property="og:description" content="{{update.text|truncatechars_html:500}}"/>
      <meta name="Description" content="{{update.text|truncatechars_html:500}}"/>
      {% if update.photo %}
        <meta property="og:image" content="http://{{request.META.HTTP_HOST}}{{update.photo.url}}"/>
      {% else %}
        <meta property="og:image" content="http://{{request.META.HTTP_HOST}}{{STATIC_URL}}images/rsrLogo.svg"/>
      {% endif %}
    {% elif project %}
      <meta property="og:title" content="{{project.title}}"/>
      <meta property="og:description" content="{{project.subtitle}}"/>
      <meta name="Description" content="{{project.subtitle}}"/>
      {% if project.current_image %}
        <meta property="og:image" content="http://{{request.META.HTTP_HOST}}{{project.current_image.url}}"/>
      {% else %}
        <meta property="og:image" content="http://{{request.META.HTTP_HOST}}{{STATIC_URL}}images/rsrLogo.svg"/>
      {% endif %}
    {% else %}
      <meta property="og:title" content="Akvo RSR"/>
      <meta property="og:image" content="http://{{request.META.HTTP_HOST}}{{STATIC_URL}}images/rsrLogo.svg"/>
      <meta property="og:description" content="{% trans 'Akvo Really Simple Reporting is a web and Android-based system that makes it easy for development aid teams to bring complex networks of projects online and instantly share progress with everyone involved and interested.' %}"/>
      <meta name="Description" content="{% trans 'Akvo Really Simple Reporting is a web and Android-based system that makes it easy for development aid teams to bring complex networks of projects online and instantly share progress with everyone involved and interested.' %}"/>
    {% endif %}
    {% if facebook_app_id %}
    <meta property="fb:app_id" content="{{facebook_app_id}}"/>
    {% endif %}

    <title>Akvo RSR - {% block title %}{% trans 'Home' %}{% endblock %}</title>

    {% if favicon %}
        <link rel="shortcut icon" href="{{MEDIA_URL}}{{favicon}}" type="image/x-icon">
    {% else %}
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {# Fonts #}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    {# CSS #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    {% if page_stylesheet %}
      <link rel="stylesheet" href="{{MEDIA_URL}}{{page_stylesheet}}">
    {% endif %}
    {% if request.resolver_match.url_name == 'my_new_results' %}
      {% stylesheet 'new_results' %}
    {% else %}
      {% stylesheet 'rsr_v3_style' %}
    {% endif %}
    <style type="text/css">
        /** FIX for Bootstrap and Google Maps Info window styes problem **/
        img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
        max-width: none;
        }
    </style>

    {% block head %}{% endblock head %}

    {% block head_js %}{% endblock %}
  </head>

  <body>
    {% include 'navigation/header.html' %}

    {% block maincontent %}{% endblock %}

    {% include 'navigation/footer.html' %}

    <span id="cookieModal"></span>

    <script type="application/javascript">
      var AKVO_RSR = {};
      AKVO_RSR.language = "{{ request.LANGUAGE_CODE }}";
    </script>

    {# react-onclickoutside.js should load before date-picker, etc. #}
    {% javascript 'rsr_lib' %}

    <!-- Polyfill for promise for browsers which don't implement it -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/native-promise-only/0.8.1/npo.js"></script>

    {% if debug %}
      {# jQuery #}
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.js" integrity="sha256-WMJwNbei5YnfOX5dfgVCS5C4waqvc+/0fV7W2uy3DyU=" crossorigin="anonymous"></script>
      {# "_" libs #}
      <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js" integrity="sha256-FP1UiM01plqcjZjwrF6X/KM40aNTIXnuPcktfkZnxM4=" crossorigin="anonymous"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" integrity="sha256-SzKOQsVYGX1bmddyfPzGC6yXY/rWYGUSMOi6+T9gZ+0=" crossorigin="anonymous"></script>
      {# react libs #}
      <script id="react" src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js" integrity="sha256-42buMtfeO85Sgs1Be9myInpzVav/7JopgIzV9kZTU8U=" crossorigin="anonymous"></script>
      <script id="react-dom" src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js" integrity="sha256-gqW8xjwh0Mn7ydWfQzO8UumlK0xT/e2mwX06WCf6vKY=" crossorigin="anonymous"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.28.3/react-bootstrap.js" integrity="sha256-1+ly49wyRAfuv7DnOEprBLkI8+elD4fmLuK5ijkRQYA=" crossorigin="anonymous"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js" integrity="sha256-Mwt380i8l4SYALnzr30f5S+24UVSWtSUFJ16ICwMPL8=" crossorigin="anonymous"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/react-datepicker/0.27.0/react-datepicker.js" integrity="sha256-RR1jIQdZZDEA7nveawgM1zxoIW+pGcmlULDfh3kExwQ=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap-typeahead/1.3.0/react-bootstrap-typeahead.js" integrity="sha256-pJMiiSx35Ip7KmQTT74H2g2gG2+QZxyiKCWTdEIOyq8=" crossorigin="anonymous"></script>
      {# Other third party libraries #}
      <script src="//cdnjs.cloudflare.com/ajax/libs/jsPlumb/1.7.2/dom.jsPlumb.js" integrity="sha256-0bM5Fc0I7ovRAgHPI8ECaoa5wqvyi6xYL+t272uvdbE=" crossorigin="anonymous"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js" integrity="sha256-/jZqCQrAZxcboc/rOOI54YFU6KVLAi/Zvs6IG0xVXyk=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.js" integrity="sha256-VbCkoqthqE7ves/+1VO4vW2so2L7zhb4uanLPLcrh4k=" crossorigin="anonymous"></script>
      {# Sentry #}
      <script src="https://cdn.ravenjs.com/3.17.0/raven.js" crossorigin="anonymous"></script>
      {% else %}
      {# jQuery #}
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js" integrity="sha256-1OxYPHYEAB+HIz0f4AdsvZCfFaX4xrTD9d2BtGLXnTI=" crossorigin="anonymous"></script>
      {# "_" libs #}
      <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js" integrity="sha256-gOpnA1vUitDpr6qV2ONTzFxXQKgnwvBCOklJH6hHqyE=" crossorigin="anonymous"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" integrity="sha256-obZACiHd7gkOk9iIL/pimWMTJ4W/pBsKu+oZnSeBIek=" crossorigin="anonymous"></script>
      {# react libs #}
      <script id="react" src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.min.js" integrity="sha256-rgPYiQBjkIQzaUqbhVNaIA+ndxFwHinDHiclCeK1Ehw=" crossorigin="anonymous"></script>
      <script id="react-dom" src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.min.js" integrity="sha256-K0ZwZQsNtxtuQ0w9VJqy8Ha58ROnX3RBKtDmcu91Iz4=" crossorigin="anonymous"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.28.3/react-bootstrap.min.js" integrity="sha256-prTmx4/1s5i3KFpzm51OdT7ek7PcOBqchXpPl1I5zCE=" crossorigin="anonymous"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js" integrity="sha256-gAx3c/BXS1tVc72JrzzIsPxrs2jW+96PfM+Xwwvb9pk=" crossorigin="anonymous"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/react-datepicker/0.27.0/react-datepicker.min.js" integrity="sha256-jWrV9YKPwOIDbbJBdibBZUqy2RAs6krikmex/4ZEvQc=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap-typeahead/1.3.0/react-bootstrap-typeahead.min.js" integrity="sha256-h+f7x6eJizvxHSOOtL+EhGh8STY3xjELTArwjb0lkY4=" crossorigin="anonymous"></script>
      {# Other third party libraries #}
      <script src="//cdnjs.cloudflare.com/ajax/libs/jsPlumb/1.7.2/dom.jsPlumb.min.js" integrity="sha256-F1cIPOY4SemH0aexB8v8gKVMOpAOa2tT+TSPjZbdoS8=" crossorigin="anonymous"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js" integrity="sha256-aB35laj7IZhLTx58xw/Gm1EKOoJJKZt6RY+bH1ReHxs=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js" integrity="sha256-NjbogQqosWgor0UBdCURR5dzcvAgHnfUZMcZ8RCwkk8=" crossorigin="anonymous"></script>
      {# Sentry #}
      <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
    {% endif %}

    {# bootstrap #}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    {# RSR default libraries #}
    <script type="application/json" id="sentry-dsn">
        {
        "sentry_dsn": "{{sentry_dsn}}"
        {% if not request.user.is_anonymous %}
        ,"email": "{{request.user.email}}"
        {% endif %}
        }
    </script>
    {% javascript 'rsr' %}
    <script id="react-typeahead" src="{{STATIC_URL}}lib/scripts/react-typeahead.js"></script>

    {% block js %}{% endblock js %}

    <script>
      $(document).ready(function() {
        {% block jq %}{% endblock %}
      });
    </script>

    {# Translation strings #}
    <script type="application/json" id="cookie-text">
        {
            "cookie_text": "{% trans 'This website uses cookies to improve your experience. By continuing to browse the site you are agreeing to our use of cookies, as detailed in our '|escapejs %}",
            "privacy_text": "{% trans 'privacy and cookies policy'|escapejs %}",
            "button_text": "{% trans 'Accept'|escapejs %}",
            "password_environment": "{% trans 'Password protected environment'|escapejs %}",
            "password_environment_desc": "{% trans 'This is a password protected environment, please fill in the password:'|escapejs %}",
            "password_environment_avail": "{% trans 'After a week we will ask you to fill in the password again.'|escapejs %}",
            "continue_to_rsr": "{% trans 'Continue'|escapejs %}",
            "incorrect_password": "{% trans 'Incorrect password'|escapejs %}"
        }
    </script>

    {% javascript 'rsr_cookie' %}

    {# RSR support center help #}
    <script async data-cfasync='false' src='//d29l98y0pmei9d.cloudfront.net/js/widget.min.js?k=Y2xpZW50SWQ9MTIwJmhvc3ROYW1lPWFrdm9yc3Iuc3VwcG9ydGhlcm8uaW8='></script>

    {% piwik_tracking_code %}
  </body>
</html>
