{% load i18n rsr_filters rsr_tags webdesign piwik_tags %}
{% load url from future %}
{% load compressed %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8"/>
    {% if debug %}<meta name="robots" content="none"/>{% endif %}
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Akvo RSR"/>
    <meta property="og:url" content="http://{{request.META.HTTP_HOST}}{{request.path}}"/>
    {% if update %}
      <meta property="og:title" content="{{update.title}} - {{project.title}}"/>
      <meta property="og:description" content="{{update.text|truncatechars_html:500}}"/>
      <meta name="Description" content="{{update.text|truncatechars_html:500}}"/>
      {% if update.photo %}
        <meta property="og:image" content="http://{{request.META.HTTP_HOST}}{{update.photo.url}}"/>
      {% else %}
        <meta property="og:image" content="http://{{request.META.HTTP_HOST}}{{STATIC_URL}}images/rsrLogo.svg"/>
      {% endif %}
    {% elif project %}
      <meta property="og:title" content="{{project.title}}"/>
      <meta property="og:description" content="{{project.subtitle}}"/>
      <meta name="Description" content="{{project.subtitle}}"/>
      {% if project.current_image %}
        <meta property="og:image" content="http://{{request.META.HTTP_HOST}}{{project.current_image.url}}"/>
      {% else %}
        <meta property="og:image" content="http://{{request.META.HTTP_HOST}}{{STATIC_URL}}images/rsrLogo.svg"/>
      {% endif %}
    {% else %}
      <meta property="og:title" content="Akvo RSR"/>
      <meta property="og:image" content="http://{{request.META.HTTP_HOST}}{{STATIC_URL}}images/rsrLogo.svg"/>
      <meta property="og:description" content="{% trans 'Akvo Really Simple Reporting is a web and Android-based system that makes it easy for development aid teams to bring complex networks of projects online and instantly share progress with everyone involved and interested.' %}"/>
      <meta name="Description" content="{% trans 'Akvo Really Simple Reporting is a web and Android-based system that makes it easy for development aid teams to bring complex networks of projects online and instantly share progress with everyone involved and interested.' %}"/>
    {% endif %}
    {% if facebook_app_id %}
    <meta property="fb:app_id" content="{{facebook_app_id}}"/>
    {% endif %}

    <title>Akvo RSR - {% block title %}{% trans 'Home' %}{% endblock %}</title>

    {% if favicon %}
        <link rel="shortcut icon" href="{{MEDIA_URL}}{{favicon}}" type="image/x-icon">
    {% else %}
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {# Fonts #}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CRaleway:400,500,600,700%7CDancing+Script:400,700%7CLato:400,700,300%7CQuestrial%7CPoppins:400,600" rel="stylesheet" type="text/css">

    {# CSS #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    {% compressed_css 'rsr_v3_style' %}
    {% if stylesheet %}<link rel="stylesheet" href="{{MEDIA_URL}}{{stylesheet}}">{% endif %}
    <style type="text/css">
        /** FIX for Bootstrap and Google Maps Info window styes problem **/
        img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
        max-width: none;
        }
    </style>

    {% block head %}{% endblock head %}

    {% block head_js %}{% endblock %}
  </head>

  <body>
    {% include 'navigation/header.html' %}

    {% block maincontent %}{% endblock %}

    {% include 'navigation/footer.html' %}

    <span id="cookieModal"></span>

    <script type="application/javascript">
      var AKVO_RSR = {};
      AKVO_RSR.language = "{{ request.LANGUAGE_CODE }}";
    </script>

    {# jQuery #}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    {# React #}
    <script id="react" src="{{ STATIC_URL }}lib/scripts/react-0.14.7.min.js"></script>
    <script id="react-dom" src="{{ STATIC_URL }}lib/scripts/react-dom-0.14.7.min.js"></script>
    <script id="react-bootstrap" src="{{ STATIC_URL }}lib/scripts/react-bootstrap-0.28.3.min.js"></script>
    <script id="react-typeahead" src="{{ STATIC_URL }}lib/scripts/react-typeahead.js"></script>
    <script id="react-onclickoutside" src="{{ STATIC_URL }}lib/scripts/react-onclickoutside.js"></script>
    <script id="react-datepicker" src="{{ STATIC_URL }}lib/scripts/react-datepicker-0.27.0.js"></script>

    {# RSR default libraries #}
    <script src="{{ STATIC_URL }}lib/scripts/underscore-1.8.3.min.js"></script>
    {% compressed_js 'rsr' %}
    {% compressed_js 'rsr_lib' %}

    {% block js %}{% endblock js %}

    <script>
      $(document).ready(function() {
        {% block jq %}{% endblock %}
      });
    </script>

    {# Translation strings #}
    <script type="application/json" id="cookie-text">
        {
            "cookie_text": "{% trans 'This website uses cookies to improve your experience. By continuing to browse the site you are agreeing to our use of cookies, as detailed in our ' %}",
            "privacy_text": "{% trans 'privacy and cookies policy' %}",
            "button_text": "{% trans 'Accept' %}",
            "password_environment": "{% trans 'Password protected environment' %}",
            "password_environment_desc": "{% trans 'This is a password protected environment, please fill in the password:' %}",
            "password_environment_avail": "{% trans 'After 24 hours, we will ask you to fill in the password again.' %}",
            "continue_to_rsr": "{% trans 'Continue' %}",
            "incorrect_password": "{% trans 'Incorrect password' %}"
        }
    </script>

    <script src="{{ STATIC_URL }}scripts-src/cookie.js"></script>

    {# RSR support center help #}
    <script async data-cfasync='false' src='//d29l98y0pmei9d.cloudfront.net/js/widget.min.js?k=Y2xpZW50SWQ9MTIwJmhvc3ROYW1lPWFrdm9yc3Iuc3VwcG9ydGhlcm8uaW8='></script>

    {% piwik_tracking_code %}
  </body>
</html>
