{% extends "base.html" %}

{% load i18n bootstrap3 %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block maincontent %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" action="" name="passwordResetForm">
                {% csrf_token %}
                {% bootstrap_form_errors form type='non_fields' %}
                {% for field in form %}
                    {% bootstrap_field field %}
                {% endfor %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "refresh" %} {% trans 'Reset my password' %}
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}