<!--
Akvo RSR is covered by the GNU Affero General Public License.
See more details in the license.txt file located at the root folder of the Akvo RSR module.
For additional details on the GNU license please see http://www.gnu.org/licenses/agpl.html.
-->

{% extends "base.html" %}
{% load i18n rsr_filters humanize rsr_utils maps %}
{% block title %}{{ organisation.name }}{% endblock %}
{% block maincontent %}
  <div class="container organisationDetail">
    <div class="row verticalPadding organisationHeader">
      <div class="col-sm-8">
        <div class="col-sm-12">
          <h1>{{ organisation.name }}
            {% if organisation.long_name and not organisation.name == organisation.long_name %}
              <span class="h4">({{ organisation.long_name }})</span>
            {% endif %}
          </h1>
        </div>
        <div class="col-sm-12 orgLogo">
          {% if organisation.url %}
            <a href="{{ organisation.url }}" target="_blank">
              {% img organisation 350 250 organisation.name %}
            </a>
          {% else %}
            {% img organisation 350 250 organisation.name %}
          {% endif %}
        </div>
      </div>
      <div class="col-sm-3 orgDetails">
        <h4>{% trans 'Details' %}</h4>
        <ul class="noStyleUl">
          <li>
            {% if organisation.url %}
              <a class="orgUrl" href="{{ organisation.url }}">{{ organisation.url }}</a>
            {% endif %}
          </li>
          <li>
            {% if organisation.iati_org_id %}
              <span class="orgIati">{% trans 'IATI ID'%}: {{ organisation.iati_org_id }}</span>
            {% endif %}
          </li>
          <li>
            {% if organisation.primary_location.address_1 %}
                {{ organisation.primary_location.address_1 }}
            {% endif %}
          </li>
          <li>
            {% if organisation.primary_location.address_2 %}
              {{ organisation.primary_location.address_2 }}
            {% endif %}
          </li>
          <li>
            {% if organisation.primary_location.postcode %}
              {{ organisation.primary_location.postcode }}
            {% endif %}
          </li>
          <li>
            {% if organisation.primary_location.city %}
              {{ organisation.primary_location.city }}
            {% endif %}
          </li>
          <li>
            {% if organisation.primary_location.state %}
              {{ organisation.primary_location.state }}
            {% endif %}
          </li>
          <li>
            {% if organisation.primary_location.iati_country %}
              {{ organisation.primary_location.iati_country_value.name }}
            {% endif %}
          </li>
        </ul>
        {% if organisation.contact_email or organisation.phone %}
          <h4 class="topMargin">{% trans 'Contact information' %}</h4>
          <ul class="noStyleUl">
            <li>
              {% if organisation.contact_email %}
                <a class="orgEmail" href="mailto:{{ organisation.contact_email }}">
                  {{ organisation.contact_email }}
                </a>
              {% endif %}
            </li>
            <li>
              {% if organisation.phone %}
                <p>{{ organisation.phone }}</p>
              {% endif %}
            </li>
          </ul>
        {% endif %}
        {% if organisation.iati_file and organisation.public_iati_file %}
          <h4 class="topMargin">{% trans 'IATI file' %}</h4>
          <ul class="noStyleUl">
            <li>
              <span class="orgIati">
                <a href="{{ MEDIA_URL }}{{ organisation.iati_file }}" target="_blank">
                  {% trans 'View latest IATI file' %}
                </a>
              </span>
            </li>
          </ul>
        {% endif %}
      </div>
    </div>
    <div class="row orgDescr">
      <div class="col-sm-8 verticalPadding">
        <p>{{ organisation.description|linebreaks }}</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="organisationInfo">
      <div class="row verticalPadding">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>
            <a href="{% url 'project-directory' %}?organisation={{ organisation.pk }}">
              {% trans 'Projects in RSR' %}
            </a>
          </h2>
          <dl class="dl-horizontal">
            <dt class="iatiStatuses">{% trans 'Pipeline/identification' %}</dt>
            <dd>
              {% if organisation.published_projects.status_onhold.count %}
                <a href="{% url 'project-directory' %}?organisation={{ organisation.pk }}&amp;status=1">
                  {{ organisation.published_projects.status_onhold.count }}
                </a>
              {% else %}
                {{ organisation.published_projects.status_onhold.count }}
              {% endif %}
            </dd>
            <dt class="iatiStatuses">{% trans 'Implementation' %}</dt>
            <dd>
              {% if organisation.published_projects.status_active.count %}
                <a href="{% url 'project-directory' %}?organisation={{ organisation.pk }}&amp;status=2">
                  {{ organisation.published_projects.status_active.count }}
                </a>
              {% else %}
                {{ organisation.published_projects.status_active.count }}
              {% endif %}
            </dd>
            <dt class="iatiStatuses">{% trans 'Completion' %}</dt>
            <dd>
              {% if organisation.published_projects.status_complete.count %}
                <a href="{% url 'project-directory' %}?organisation={{ organisation.pk }}&amp;status=3">
                  {{ organisation.published_projects.status_complete.count }}
                </a>
              {% else %}
                {{ organisation.published_projects.status_complete.count }}
              {% endif %}
            </dd>
            <dt class="iatiStatuses">{% trans 'Post-completion' %}</dt>
            <dd>
              {% if organisation.published_projects.status_post_complete.count %}
                <a href="{% url 'project-directory' %}?organisation={{ organisation.pk }}&amp;status=4">
                  {{ organisation.published_projects.status_post_complete.count }}
                </a>
              {% else %}
                {{ organisation.published_projects.status_post_complete.count }}
              {% endif %}
            </dd>
            <dt class="iatiStatuses">{% trans 'Cancelled' %}</dt>
            <dd>
              {% if organisation.published_projects.status_cancelled.count %}
                <a href="{% url 'project-directory' %}?organisation={{ organisation.pk }}&amp;status=5">
                  {{ organisation.published_projects.status_cancelled.count }}
                </a>
              {% else %}
                {{ organisation.published_projects.status_cancelled.count }}
              {% endif %}
            </dd>
            <dt class="iatiStatuses">{% trans 'Suspended' %}</dt>
            <dd>
              {% if organisation.published_projects.status_none.count %}
                <a href="{% url 'project-directory' %}?organisation={{ organisation.pk }}&amp;status=6">
                  {{ organisation.published_projects.status_none.count }}
                </a>
              {% else %}
                {{ organisation.published_projects.status_none.count }}
              {% endif %}
            </dd>
            <dt class="iatiStatuses">{% trans 'Total projects' %}</dt>
            <dd>
              {% if organisation.published_projects %}
                <a href="{% url 'project-directory' %}?organisation={{ organisation.pk }}">
                  {{ organisation.published_projects.count }}
                </a>
              {% else %}
                {{ organisation.published_projects.count }}
              {% endif %}
            </dd>
          </dl>
        </div>
        <div class="col-md-4">
          <h2>
            <a href="{% url 'update-directory' %}?partner={{ organisation.pk }}">
              {% trans 'Updates in RSR' %}
            </a>
          </h2>
          <dl class="dl-horizontal">
              <dt>{% trans 'Total updates' %}</dt>
              <dd>
                  {% with update_count=organisation.public_updates.count %}
                    {% if  update_count %}
                      <a href="{% url 'update-directory' %}?partner={{ organisation.id }}">
                        {{ update_count }}
                      </a>
                    {% else %}
                      {{ update_count }}
                    {% endif %}
                  {% endwith %}
              </dd>
          </dl>
        </div>
        <div class="col-md-4">
          <h2>{% trans 'Funding' %}</h2>
          <dl class="org_statistics_table dl-horizontal">
            {% if organisation.org_currency_projects_count %}
              <dt>{% trans 'Projects' %}</dt>
              <dd>{{ organisation.org_currency_projects_count }}{% if organisation.has_multiple_project_currencies %} <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="{% trans 'Only includes projects with organisation currency' %}"></span>{% endif %}</dd>
              <dt>{% trans 'Currency used' %}</dt>
              <dd>{{organisation.currency_label}}</dd>
              <dt>{% trans 'Pledged' %}</dt>
              <dd>{{organisation.amount_pledged|floatformat:0|intcomma}} {{organisation.currency}}</dd>
              <dt>{% trans 'Still needed' %}</dt>
              <dd>{{organisation.org_currency_funds_needed|floatformat:0|intcomma}} {{organisation.currency}}</dd>
            {% endif %}
          </dl>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ block.super }}

  {# Google Maps #}
  <script src="//maps.google.com/maps/api/js"></script>
{% endblock js %}
