{% extends "base.html" %}
{% load i18n maps rsr_utils bootstrap3 pipeline %}
{% block title %}{% trans 'Organisations' %}{% endblock %}
{% block maincontent %}

    <div id="organisation-directory"></div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="//maps.google.com/maps/api/js"></script>
    {# Translation strings #}
    <script type="application/json" id="organisations-text">
     {
         "organisations_text": "{% trans 'Organisations'|escapejs %}",
         "search_text": "{% trans 'Search'|escapejs %}",
         "loading_text": "{% trans 'Loading...'|escapejs %}",
         "locations_text": "{% trans 'Locations'|escapejs %}",
         "all_text": "{% trans 'All'|escapejs %}",
         "keyword_text": "{% trans 'keyword'|escapejs %}",
         "location_text": "{% trans 'location'|escapejs %}",
         "status_text": "{% trans 'status'|escapejs %}",
         "organisation_text": "{% trans 'organisation'|escapejs %}",
         "sector_text": "{% trans 'sector'|escapejs %}",
         "reset_filters_text": "{% trans 'Reset filters'|escapejs %}",
         "no_location_text": "{% trans 'No location specified'|escapejs %}",
         "page_limit_text": "{% trans '# of projects'|escapejs %}"
     }
    </script>

    {% javascript 'directory_utils' %}
    {% javascript 'organisation_directory' %}

{% endblock js %}
