{% extends "base.html" %}

{% load pipeline i18n rsr_utils %}

{% block title %}{{project.title}} - {% trans "widget selection" %}{% endblock %}

{% block maincontent %}

<article class="touch-navbar project-container">
    {% include "partials/project_header.html" %}

    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h1>{% trans "Widget selection" %}</h1>
                <p>
                    {% trans "The following steps will produce a snippet of Akvo widget code you can copy and paste into your own web site's code." %}
                </p>
                <p>
                    {% trans "Step 1: Select and preview the widget you wish to use." %}<br>
                    {% trans "Step 2: Select colours and additional settings for your widget." %}<br>
                    {% trans "Step 3: Copy the HTML code to your web site." %}
                </p>
                <h2><small>{% trans "Step 1 of 3: Widget selection" %}</small></h2>
                <form>
                <div class="radio">
                    <label>
                        <input type="radio" name="widget" value="narrow">
                        {% trans "Narrow project widget with donation link" %}<br>
                        <span class="small">({% trans "170 pixels wide by 840 pixels high" %})</span>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="widget" value="cobranded">
                        {% trans "Project widget with cobranded banner" %}<br>
                        <span class="small">({% trans "468 pixels wide by 234 pixels high" %})</span>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="widget" value="small">
                        {% trans "Small project widget" %}<br>
                        <span class="small">({% trans "170 pixels wide by 312 pixels high" %})</span>
                    </label>
                </div>
                {% if project.find_primary_organisation %}
                    <div class="radio">
                        <label>
                            <input type="radio" name="widget" value="map">
                            {% trans "Project map widget" %}<br>
                            <span class="small">({% trans "Custom size, shows a map of all projects of an organisation" %})</span>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="widget" value="list">
                            {% trans "Project list widget" %}<br>
                            <span class="small">({% trans "730 pixels wide by 745 pixels high, shows a list of projects from your organisation" %})</span>
                        </label>
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-primary">{% trans "Select and proceed" %}</button>
                </form>
            </div>
            <div class="col-sm-7">
                <h3>{% trans "Preview" %}</h3>
                <div class="preview">{% trans "Select a widget to preview" %}</div>
            </div>
        </div>
    </div>
</article>
{% endblock %}

{% block jq %}
$( ".radio" ).change(function() {
    var widget = $('input[name=widget]:radio:checked').val();
    if (widget == 'narrow') {
        $( ".preview" ).html('<iframe src="{% url 'widget_project_narrow' project.pk %}" width="170px" height="840px" frameborder="0" allowTransparency="true" style="overflow: hidden"> </iframe>');
    }
    else if (widget == 'cobranded') {
        $( ".preview" ).html('<iframe src="{% url 'widget_cobranded_banner' project.pk %}" width="468px" height="234px" frameborder="0" allowTransparency="true" style="overflow: hidden"> </iframe>');
    }
    else if (widget == 'small') {
        $( ".preview" ).html('<iframe src="{% url 'widget_project_small' project.pk %}" width="170px" height="312px" frameborder="0" allowTransparency="true" style="overflow: hidden"> </iframe>');
    }
    else if (widget == 'map') {
        $( ".preview" ).html('<iframe src="{% url 'widget_org_map' %}?organisation_id={{project.primary_organisation.pk}}&width=600&height=300" width="600px" height="300px" frameborder="0" allowTransparency="true" style="overflow: hidden"> </iframe>');
    }
    else if (widget == 'list') {
        $( ".preview" ).html('<iframe src="{% url 'widget_project_list' %}?organisation_id={{project.primary_organisation.pk}}" width="730px" height="745px" frameborder="0" allowTransparency="true" style="overflow: hidden"> </iframe>');
    }
});
{% endblock %}