{% extends "base.html" %}
{% load addparam bootstrap3 pipeline humanize i18n maps rsr_tags rsr_utils thumbnail %}
{% block title %}{% trans 'Projects' %}{% endblock %}
{% block maincontent %}

  <form id="filterForm" action="" method="get" accept-charset="uft-8" class="searchContainer">
    <section id="search-filter">
      <div class="container-fluid">
        <div id="search" class="verticalPadding row searchBar">
          <div class="col-lg-4 col-md-6">
            <p class="hidden">{% trans "Refine the project list below by searching by name, organisation or sector" %}</p>
          </div>
        </div>
      </div>
    </section>
    <!-- hidden input field to keep the page limit when using the filters -->
    <input style="display: none;" name="limit" value="{{limit}}"/>
  </form>

  <div id="project-directory"></div>

{% endblock %}

{% block js %}
    {{ block.super }}

    {# Google Maps API #}
    <script src="//maps.google.com/maps/api/js"></script>

    <script type="application/json" id="akvo-rsr-typeahead-thumbs">
        {
            "numberOfProjects": {{ project_count }}
        }
    </script>

    <script type="application/javascript">
        AKVO_RSR.typeahead = {};
     /* AKVO_RSR.typeahead.thumbs = JSON.parse(document.getElementById("akvo-rsr-typeahead-thumbs").innerHTML);*/
    </script>

    {# Translation strings #}
    <script type="application/json" id="typeahead-text">
        {
        "projects_text": "{% trans 'Projects'|escapejs %}",
        "search_text": "{% trans 'Search'|escapejs %}",
        "loading_text": "{% trans 'Loading...'|escapejs %}",
        "organisations_text": "{% trans 'Organisations'|escapejs %}",
        "locations_text": "{% trans 'Locations'|escapejs %}",
        "all_text": "{% trans 'All'|escapejs %}",
        "keyword_text": "{% trans 'keyword'|escapejs %}",
        "location_text": "{% trans 'location'|escapejs %}",
        "status_text": "{% trans 'status'|escapejs %}",
        "organisation_text": "{% trans 'organisation'|escapejs %}",
        "sector_text": "{% trans 'sector'|escapejs %}",
        "reset_filters_text": "{% trans 'Reset filters'|escapejs %}",
        "no_location_text": "{% trans 'No location specified'|escapejs %}",
        "page_limit_text": "{% trans '# of projects'|escapejs %}"
        }
    </script>

    <script type="application/json" id="donate-text">
        {
        "donate_heading": "{% trans 'Donate'|escapejs %}",
        "donate_summary": "{% trans 'You will be sent to an external website that accepts donations for this project. To continue, click Donate.'|escapejs %}",
        "donate_text": "{% trans 'Donate'|escapejs %}",
        "donate_confirm_cancel_text": "{% trans 'Cancel'|escapejs %}"
        }
    </script>

    <script type="application/json" id="react-typeahead-org">
        {
        "currentOrg": "{{ current_org }}"
        }
    </script>

    {#  Initial data endpoints #}
    <script type="application/json" id="data-endpoints">
        {
            "base_url": "//{{ request.META.HTTP_HOST }}",
            "partnerships_of_project": "/rest/v1/partnership_more_link/?format=json&project={project}"
        }
    </script>

    {# More link translations #}
    <script type="application/json" id="more-link-translations">
        {
            "partner": "{% trans 'partner'|escapejs %}",
            "partners": "{% trans 'partners'|escapejs %}"
        }
    </script>

    {# More partners data #}
    {% for project in page %}
        {% include 'project_partner_data.html' %}
    {% endfor %}

    {% javascript 'project_directory_filters' %}
    {% javascript 'more_partners' %}
    {% javascript 'donate_popup' %}

{% endblock js %}
