{% extends "base.html" %}

{% load i18n rsr_utils %}

{% block title %}{{project.title}} - {% trans "widget selection" %}{% endblock %}

{% block maincontent %}

<article class="touch-navbar project-container">
    {% include "partials/project_header.html" %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <h1>{% trans "Widget selection" %}</h1>
                <p>
                    {% trans "The following steps will produce a snippet of Akvo widget code you can copy and paste into your own web site's code." %}
                </p>
                <p>
                    {% trans "Step 1: Select and preview the widget you wish to use." %}<br>
                    {% trans "Step 2: Select colours and additional settings for your widget." %}<br>
                    {% trans "Step 3: Copy the HTML code to your web site." %}
                </p>
                <h2><small>{% trans "Step 2 of 3: Settings" %}</small></h2>
                {% if widget == 'narrow' or widget == 'cobranded' or widget == 'small' %}
                    <h3><small>{% trans "Project" %}</small></h3>
                    <div class="radio">
                        <label>
                            <input type="radio" name="widget-project" value="project" checked>{% blocktrans with title=project.title %}Use the {{title}} project{% endblocktrans %}
                        </label>
                    </div>
                    {% if project.all_partners.distinct.count >= 1 %}
                        <div class="radio">
                            <label>
                                <input type="radio" name="widget-project" value="random">{% trans "Display a random project from an organisation" %}:
                            </label>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="widget-organisation" disabled>
                            <option value="{{project.find_primary_organisation.pk}}">{{project.find_primary_organisation.name}}</option>
                            {% for partner in project.all_partners.distinct %}
                                {% if not partner == project.find_primary_organisation %}
                                    <option value="{{partner.pk}}">{{partner.name}}</option>
                                {% endif %}
                            {% endfor %}
                          </select>
                        </div>
                    {% endif %}
                {% elif widget == 'map' or widget == 'list' %}
                    <h3><small>{% trans "Organisation" %}</small></h3>
                    <div class="form-group">
                        <select class="form-control" id="widget-organisation">
                        <option value="{{project.find_primary_organisation.pk}}">{{project.find_primary_organisation.name}}</option>
                        {% for partner in project.all_partners.distinct %}
                            {% if not partner == project.find_primary_organisation %}
                                <option value="{{partner.pk}}">{{partner.name}}</option>
                            {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                    {% if widget == 'map' %}
                        <h3><small>{% trans "Size" %}</small></h3>
                        {% trans "Height" %}: <input class="form-control" type="text" id="widget-height" value="300">
                        {% trans "Width" %}: <input class="form-control" type="text" id="widget-width" value="600">
                        <h3><small>{% trans "State" %}</small></h3>
                        <div class="radio">
                            <label>
                                <input type="radio" name="widget-state" value="dynamic" checked>{% trans "Dynamic" %}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="widget-state" value="static">{% trans "Static" %}
                            </label>
                        </div>
                    {% endif %}
                {% endif %}
                <h3><small>{% trans "Style" %}</small></h3>
                <div class="radio">
                    <label>
                        <input type="radio" name="widget-style" value="dark" checked>{% trans "Dark" %}
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="widget-style" value="light">{% trans "Light" %}
                    </label>
                </div>
                <h2><small>{% trans "Step 3 of 3: Copy the HTML" %}</small></h2>
                <p>
                    {% trans "Copy the HTML code below for use on your web site." %}
                    {% trans "You may repeat the steps above until you are satisfied with the appearance of your widget." %}
                </p>
                <p>
                    {% if widget == 'narrow' %}
                        <textarea class="form-control" name="code" id="code" rows="5"><iframe src="{{domain_url}}{% url 'widget_project_narrow' project.pk %}?style=dark" width="170px" height="840px" frameborder="0" allowTransparency="true" style="overflow: hidden"> </iframe></textarea>
                    {% elif widget == 'cobranded' %}
                        <textarea class="form-control" name="code" id="code" rows="5"><iframe src="{{domain_url}}{% url 'widget_cobranded_banner' project.pk %}?style=dark" width="468px" height="234px" frameborder="0" allowTransparency="true" style="overflow: hidden"> </iframe></textarea>
                    {% elif widget == 'small' %}
                        <textarea class="form-control" name="code" id="code" rows="5"><iframe src="{{domain_url}}{% url 'widget_project_small' project.pk %}?style=dark" width="170px" height="312px" frameborder="0" allowTransparency="true" style="overflow: hidden"> </iframe></textarea>
                    {% elif widget == 'map' %}
                        <textarea class="form-control" name="code" id="code" rows="5"><iframe src="{{domain_url}}{% url 'widget_org_map' %}?organisation_id={{project.find_primary_organisation.pk}}&width=600&height=300&style=dark&state=dynamic" width="600px" height="300px" frameborder="0" allowTransparency="true" style="overflow: hidden"> </iframe></textarea>
                    {% elif widget == 'list' %}
                        <textarea class="form-control" name="code" id="code" rows="5"><iframe src="{{domain_url}}{% url 'widget_project_list' %}?organisation_id={{project.find_primary_organisation.pk}}&style=dark" width="730px" height="745px" frameborder="0" allowTransparency="true" style="overflow: hidden"> </iframe></textarea>
                    {% endif %}
                </p>
                <p class="small">
                    <a href="{% url 'project-widgets' project.pk %}">< {% trans 'Back to widget selection' %}</a>
                </p>
            </div>
            <div class="col-sm-7">
                <h3>{% trans "Preview" %}</h3>
                <div class="preview"></div>
            </div>
        </div>
    </div>
</article>
{% endblock %}

{% block jq %}
// Initial display of preview
$( ".preview" ).html($( "#code" ).val());

// Initials var(s) for text replacements
var org_id = {{project.find_primary_organisation.pk}}
{% if widget == 'map' %}
    var height = 300
    var width = 600
{% endif %}

// Change of the project type (current project or random from organisation)
$( "input[name=widget-project]" ).change(function() {
    var type = $( "input[name=widget-project]:radio:checked" ).val();
    var code = $( "#code" ).val();
    if (type == 'project') {
        {% if widget == 'narrow' %}
        code = code.replace('{% url 'widget_random_project_narrow' %}?organisation_id='+org_id+'&', '{% url 'widget_project_narrow' project.pk %}?');
        {% elif widget == 'cobranded' %}
        code = code.replace('{% url 'widget_random_cobranded_banner' %}?organisation_id='+org_id+'&', '{% url 'widget_cobranded_banner' project.pk %}?');
        {% elif widget == 'small' %}
        code = code.replace('{% url 'widget_random_project_small' %}?organisation_id='+org_id+'&', '{% url 'widget_project_small' project.pk %}?');
        {% endif %}
        $( "#widget-organisation" ).prop('disabled', 'disabled');
    } else if (type == 'random' ) {
        {% if widget == 'narrow' %}
        code = code.replace('{% url 'widget_project_narrow' project.pk %}?', '{% url 'widget_random_project_narrow' %}?organisation_id='+org_id+'&');
        {% elif widget == 'cobranded' %}
        code = code.replace('{% url 'widget_cobranded_banner' project.pk %}?', '{% url 'widget_random_cobranded_banner' %}?organisation_id='+org_id+'&');
        {% elif widget == 'small' %}
        code = code.replace('{% url 'widget_project_small' project.pk %}?', '{% url 'widget_random_project_small' %}?organisation_id='+org_id+'&');
        {% endif %}
        $( "#widget-organisation" ).prop('disabled', false);
    }
    $( "#code" ).html(code);
    $( ".preview" ).html(code);
});

// Change of organisation
$( "#widget-organisation" ).change(function() {
    var new_org_id = $( "#widget-organisation" ).val();
    var code = $( "#code" ).val();
    code = code.replace('organisation_id='+org_id, 'organisation_id='+new_org_id);
    $( "#code" ).html(code);
    $( ".preview" ).html(code);
    org_id = new_org_id;
});

// Change of style, light or dark
$( "input[name=widget-style]" ).change(function() {
    var style = $( "input[name=widget-style]:radio:checked" ).val();
    var code = $( "#code" ).val();
    if (style == 'dark') {
        code = code.replace('style=light', 'style=dark');
    } else if (style == 'light' ) {
        code = code.replace('style=dark', 'style=light');
    }
    $( "#code" ).html(code);
    $( ".preview" ).html(code);
});

// Change of state (only for map widget), dynamic or static
$( "input[name=widget-state]" ).change(function() {
    var state = $( "input[name=widget-state]:radio:checked" ).val();
    var code = $( "#code" ).val();
    if (state == 'static') {
        code = code.replace('state=dynamic', 'state=static');
    } else if (state == 'dynamic' ) {
        code = code.replace('state=static', 'state=dynamic');
    }
    $( "#code" ).html(code);
    $( ".preview" ).html(code);
});

// Change of widget height (only for map widget)
$( "#widget-height" ).keyup(function() {
    var new_height = $( "#widget-height" ).val();
    var code = $( "#code" ).val();
    code = code.replace('height='+height, 'height='+new_height);
    code = code.replace('height="'+height, 'height="'+new_height);
    $( "#code" ).html(code);
    $( ".preview" ).html(code);
    height = new_height;
});

// Change of widget width (only for map widget)
$( "#widget-width" ).keyup(function() {
    var new_width = $( "#widget-width" ).val();
    var code = $( "#code" ).val();
    code = code.replace('width='+width, 'width='+new_width);
    code = code.replace('width="'+width, 'width="'+new_width);
    $( "#code" ).html(code);
    $( ".preview" ).html(code);
    width = new_width;
});
{% endblock %}