{% extends "base.html" %}

{% load compressed i18n rsr_utils humanize %}

{% block title %}{{project.title}}{% endblock title%}

{% block maincontent %}
<article class="touch-navbar project-container">
    {% include "partials/project_header.html" %}
    <section class="projectPartners">
	    <div class="container">
    		<h2 class="title">{% trans "Project partners" %}</h2>
        {% for partner in partner_vals|dictsort:"name" %}
          <div class="row verticalPadding projectPartners">
              <div class="col-sm-2 img">
                <a href='{% url 'organisation-main' partner.id %}'>{% img partner 120 120 partner.name %}</a>
              </div>
              <div class="col-sm-6">
              <div class="col-sm-8">
            {% endif %}
                <a href='{% url 'organisation-main' partner.id %}' class="org-link">
                  <i class="fa fa-users"></i>
                  <h2>{{partner.name}}</h2>
                </a>
              </div>
              <div class="col-sm-4">
                <h4 class="detailedInfo">{% trans "Roles" %}</h4>
                <ul>
                  {% for type in partner.partner_types %}
                    <li>{{type|title}} {% trans "partner" %}</li>
                    {% comment %}
                    {% if forloop.first %}
                      <li>{{type|title}} {% trans "partner" %}{% if forloop.last %}.{% else %},{% endif %}</li>
                    {% else %}
                      <li>{{type}} {% trans "partner" %}{% if forloop.last %}.{% else %},{% endif %}</li>
                    {% endif %}
                    {% endcomment %}
                  {% endfor %}
                </ul>
              </div>
            </div>
        {% endfor %}
	    </div>
	</section>
    {% include "partials/project_footer.html" %}
</article>
{% endblock maincontent %}
