{% extends "base.html" %}

{% load compressed i18n rsr_utils humanize %}

{% block title %}{{project.title}}{% endblock title%}

{% block maincontent %}
<article class="touch-navbar project-container">
    {% include "partials/project_header.html" %}
    <section class="projectFinancial">
	    <div class="container">
	    	<div class="row verticalPadding">
                <div class="col-sm-4">
                    <h4 class="">{% trans "Project financial details" %}:</h4>
                    <dl class="dl-horizontal">
                        {% for budget_item in project.budget_items.all %}
                        {% if 'other' in budget_item.label.label and budget_item.other_extra %}
                        <dt>{{budget_item.other_extra}}:</dt><dd><span class="currency">{{project.get_currency_display}}</span>{{budget_item.amount|floatformat|intcomma}}</dd>
                        {% else %}
                        <dt>{{budget_item.label.label}}:</dt><dd><span class="currency">{{project.get_currency_display}}</span>{{budget_item.amount|floatformat|intcomma}}</dd>
                        {% endif %}
                        <dt>{{budget_item.label.label}}:</dt><dd class="currencyAmount"><span class="currency">{{project.get_currency_display}}</span>{{budget_item.amount|floatformat:2|intcomma}}</dd>
                        {% endfor %}
                        <dt class="totalFinance">{% trans "Total" %}:</dt><dd class="totalFinance currencyAmount"><span class="currency">{{project.get_currency_display}}</span>{{project.budget|floatformat:2|intcomma}}</dd>
                    </dl>
                </div>
                <div class="col-sm-4">
                    <h4 class="">{% trans "Project funding" %}:</h4>
                    <dl class="dl-horizontal">
                        <dt>{% trans "Budget" %}:</dt><dd class="currencyAmount"><span class="currency">{{project.get_currency_display}}</span>{{project.budget|floatformat:2|intcomma}}</dd>
                        <dt>{% trans "Funded" %}:</dt><dd class="currencyAmount"><span class="currency">{{project.get_currency_display}}</span>{{project.funds|floatformat:2|intcomma}}</dd>
                        <dt class="totalFinance">{% trans "Funds needed" %}:</dt><dd class="totalFinance currencyAmount"><span class="currency"> {{project.get_currency_display}}</span>{{project.funds_needed|floatformat:2|intcomma}}</dd>
                    </dl>
                </div>
                <div class="col-sm-4">
                    <h4 class="">{% trans "Current funders" %}:</h4>
                    {% for partnership in project.funding_partnerships %}
                    <dl class="dl-horizontal">
                        <dt><a href="{% url 'organisation-main' partnership.organisation.pk %}">{% img partnership.organisation 80 60 partnership.organisation.name %}</a></dt>
                        <dd>
                            <a href="{% url 'organisation-main' partnership.organisation.pk %}">{{partnership.organisation}}</a>
                            {% if partnership.funding_amount %}
                            <br><span class="currency">{{project.get_currency_display}}</span>{{partnership.funding_amount|floatformat:2|intcomma}}
                            {% endif %}
                        </dd>
                    </dl>
                    {% endfor %}
                    <h4>{% trans "Donations" %}:</h4>
                    <dl class="dl-horizontal">
                        {% for donation in project.all_donations %}
                        <dt>{% if donation.is_anonymous %}{% trans "Anonymous" %}{% else %}{{donation.name}}{% endif %}:</dt><dd class="currencyAmount"><span class="currency">{{project.get_currency_display}}</span>{{donation.amount|floatformat:2|intcomma}}</dd>
                        {% empty %}
                        <dt>{% trans "No donations" %}</dt><dd></dd>
                        {% endfor %}
                        {% if project.all_donations %}
                        <dt class="totalFinance">{% trans "Total" %}:</dt><dd class="totalFinance currencyAmount"><span class="currency">{{project.get_currency_display}}</span>{{project.all_donations_amount|floatformat:2|intcomma}}</dd>
                        {% endif %}
                    </dl>
                </div>
			</div>
			<div class="row verticalPadding">
	    		<h4 class="">{% trans "Project transactions" %}:</h4>
                {% if project.transactions.all %}
                <dl class="dl-horizontal">
                    {% for transaction in project.transactions.all %}
                    <dt>{% if transaction.description %}{{transaction.description}}{% else %}{{transaction.iati_transaction_type}}{% endif %}:</dt><dd class="currencyAmount"><span class="currency">{{project.get_currency_display}}</span>{{transaction.value|floatformat:2|intcomma}}</dd>
                    {% endfor %}
                </dl>
                {% else %}
	    		<p class="small noInfoBlock"><i class="noItem">{% trans "No transactions for this project" %}</i></p>
                {% endif %}
			</div>
	    </div>
	</section>
    {% include "partials/project_footer.html" %}
</article>
{% endblock maincontent %}
