{% extends "base.html" %}
{% load addparam bootstrap3 pipeline humanize i18n maps rsr_tags rsr_utils thumbnail %}
{% block title %}{% trans 'Projects' %}{% endblock %}
{% block maincontent %}

  <form id="filterForm" action="" method="get" accept-charset="uft-8" class="searchContainer">
    <section id="search-filter">
      <div class="container-fluid">
        <div id="search-view" style="position: relative; top: -61px;">
            <!-- A hack to bring the search bar into view without being covered by the top nav bar -->
        </div>

        <div id="search" class="verticalPadding row searchBar">
          <div class="col-lg-4">
            <p class="">{% trans "Refine the project list below by searching by name, organisation or sector" %}</p>
            <div class="form-inline" role="form">
              <div class="form-group">
                <div class="input-group">
                  {% bootstrap_field filter.form.title_or_subtitle field_class='search-query' show_label=False %}
                  <span class="input-group-btn">
                      <button class="btn btn-primary" onclick="advanced_filter_form.preSubmitHack()">
                          {% trans "Search" %} &#8250;
                      </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 text-right" id="filter-wrapper">
            {% if q %}
              <div>
                <a href="{% url 'project-directory' %}" class="btn"><i class="fa fa-times"></i>  {% trans 'Reset all filters' %}</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
    <!-- hidden input field to keep the page limit when using the filters -->
    <input style="display: none;" name="limit" value="{{limit}}"/>
  </form>

  <section class="main-list projects">
    <div class="container-fluid">
      <div  class="row">
        <div class="col-sm-8">        
          <p class="text-center">
            {% blocktrans with start_index=page.start_index end_index=page.end_index paginator_count=paginator.count %}
            Viewing {{ start_index }} - {{ end_index }} of {{ paginator_count }} projects
            {% endblocktrans %}
            | View
            {% for page_number, page_size in page_info|slice:"1:" %}
            <a class="btn pageSize" href="{% addparam 'limit' page_size 'page' page_number %}">{{page_size}}</a>  
            {% endfor %}
            projects
          </p>
        </div>
        <div class="col-sm-8 projectListUl">
            <ul>
              {% for project in page %}
                <li>
                  <div class="thumbImg">
                    <a href="{% url 'project-main' project.id %}">
                      {% img project 350 150 project.title %}
                    </a>
                  </div>
                  <div class="">
                    <h1><a href="{% url 'project-main' project.id %}">{{project.title}}</a></h1>
                    <p class="projectSubT">{{project.subtitle}}</p>
                    <p class="projectLocation"><i class="fa fa-map-marker"></i>
                        {% for country in project.countries %}
                            {{ country }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            {% trans 'No location specified' %}
                        {% endfor %}
                    </p>
                  </div>
                </li>
              {% endfor %}
            </ul>
        </div>
        <div class="col-sm-4">
            <section id="map" class="touch-navbar">
              {% coll_map map_projects '100%' '100%' %}
            </section>
            {% if not rsr_page.all_maps %}
              <div id="map-warning" class="text-center">{% trans 'This map only shows the projects listed on this page.' %}</div>
            {% endif %}
        </div>
      </div>
    </div>
  </section>
  <div class="container-fluid">
       {% include 'navigation/pagination.html' %}
  </div>
{% endblock %}

{% block js %}
    {{ block.super }}

    {# Twitter Typeahead #}
    <script id="typeahead"
            src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.5/typeahead.bundle.js"
            integrity="sha256-9PktWqeso0y5/rAR0iDepG9qzPITS+ccSjYHU9vMCf4="
            crossorigin="anonymous"></script>

    {# Google Maps API #}
    <script src="//maps.google.com/maps/api/js"></script>

    <script type="application/json" id="akvo-rsr-typeahead-thumbs">
        {
            "numberOfProjects": {{ project_count }}
        }
    </script>

    <script type="application/javascript">
        AKVO_RSR.typeahead = {};
        AKVO_RSR.typeahead.thumbs = JSON.parse(document.getElementById("akvo-rsr-typeahead-thumbs").innerHTML);
    </script>

    {# Translation strings #}
    <script type="application/json" id="typeahead-text">
        {
        "projects_text": "{% trans 'Projects'|escapejs %}",
        "search_text": "{% trans 'Search'|escapejs %}",
        "loading_text": "{% trans 'Loading...'|escapejs %}",
        "organisations_text": "{% trans 'Organisations'|escapejs %}",
        "locations_text": "{% trans 'Locations'|escapejs %}",
        "all_text": "{% trans 'All'|escapejs %}",
        "keyword_text": "{% trans 'keyword'|escapejs %}",
        "location_text": "{% trans 'location'|escapejs %}",
        "status_text": "{% trans 'status'|escapejs %}",
        "organisation_text": "{% trans 'organisation'|escapejs %}",
        "sector_text": "{% trans 'sector'|escapejs %}",
        "apply_filter_text": "{% trans 'Apply filter'|escapejs %}",
        "close_this_text": "{% trans 'Close this'|escapejs %}"
        }
    </script>

    <script type="application/json" id="donate-text">
        {
        "donate_heading": "{% trans 'Donate'|escapejs %}",
        "donate_summary": "{% trans 'You will be sent to an external website that accepts donations for this project. To continue, click Donate.'|escapejs %}",
        "donate_text": "{% trans 'Donate'|escapejs %}",
        "donate_confirm_cancel_text": "{% trans 'Cancel'|escapejs %}"
        }
    </script>

    <script type="application/json" id="react-typeahead-org">
        {
        "currentOrg": "{{ current_org }}"
        }
    </script>

    {#  Initial data endpoints #}
    <script type="application/json" id="data-endpoints">
        {
            "base_url": "//{{ request.META.HTTP_HOST }}",
            "partnerships_of_project": "/rest/v1/partnership_more_link/?format=json&project={project}"
        }
    </script>

    {# More link translations #}
    <script type="application/json" id="more-link-translations">
        {
            "partner": "{% trans 'partner'|escapejs %}",
            "partners": "{% trans 'partners'|escapejs %}"
        }
    </script>

    {# More partners data #}
    {% for project in page %}
        {% include 'project_partner_data.html' %}
    {% endfor %}

    {% javascript 'project_directory_filters' %}
    {% javascript 'project_directory' %}
    {% javascript 'more_partners' %}
    {% javascript 'donate_popup' %}

{% endblock js %}
