{% extends "base.html" %}
{% load compressed i18n rsr_utils rsr_tags rules %}
{% load rsr_filters humanize markup_tags %}
{% block title %}{{ project.title }}{% endblock title %}
{% block maincontent %}
    <div class="header-container">
      {% include "partials/project_header.html" %}
    </div>
    <div class="tab-menu container">
      <div class="row">
        <a href="#summary" class="tab-link">{% trans 'Summary' %}</a>
        <a href="#report" class="tab-link">{% trans 'Full report' %}</a>
        {% if project.partners.all %}<a href="#partners" class="tab-link">{% trans 'Project partners' %}</a>{% endif %}
        <a href="#finance" class="tab-link">{% trans 'Finances' %}</a>
        {% if updates %}<a href="#updates" class="tab-link">{% trans 'Updates' %}</a>{% endif %}
      </div>
    </div>
    {% include "project_main_tabs/summary.html" %}
    {% include "project_main_tabs/report.html" %}
    {% include "project_main_tabs/partners.html" %}
    {% include "project_main_tabs/finance.html" %}
    {% if updates %}
        {% include "project_main_tabs/updates.html" %}
    {% endif %}
    {% include "partials/project_footer.html" %}
{% endblock %}

{% block js %}
    {{ block.super }}

    {# Descriptions #}
    <script type="application/json" id="akvo-rsr-accordion">
        {{ accordion_data|safe }}
    </script>

    {# Update photos #}
    <script type="application/json" id="akvo-rsr-carousel">
        {{ carousel_data|safe }}
    </script>

    {# Default values #}
    <script type="application/json" id="default-values">
        {
            "show_partners_tab": {% if project.partners.all %}true{% else %}false{% endif %},
            "show_updates_tab": {% if updates %}true{% else %}false{% endif %}
        }
    </script>

    {# Translation strings #}
    <script type="application/json" id="project-main-text">
        {
            "end_date_unknown_text": "{% trans 'End date unknown' %}",
            "start_date_unknown_text": "{% trans 'Start date unknown' %}",
            "actual_text": "{% trans 'actual' %}",
            "target_text": "{% trans 'target' %}",
            "background_text": "{% trans 'Background' %}",
            "current_situation_text": "{% trans 'Situation at start of project' %}",
            "goals_overview_text": "{% trans 'Goals overview' %}",
            "project_plan_text": "{% trans 'Project plan' %}",
            "sustainability_text": "{% trans 'Sustainability' %}",
            "target_group_text": "{% trans 'Target group' %}",
            "results_text": "{% trans 'Results and indicators' %}",
            "delete_confirm_text": "{% trans 'Are you sure you want to delete this update?' %}",
            "delete_confirm_yes_text": "{% trans 'Delete update' %}",
            "delete_confirm_cancel_text": "{% trans 'Cancel' %}"
        }
    </script>

    {# Slider library #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.0.2/nouislider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.0.2/nouislider.min.css" type="text/css">

    {% compressed_js 'project_main' %}
{% endblock js %}

{% block jq %}
  {{ block.super }}
  $('.logoImg > img').css('margin','inherit');
{% endblock jq %}
