{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Akvo.org' %}{% endblock %}

{% block maincontent %}

<div class="row" style="background-color: #abd4ff; height: 100px;">

</div>

<div class="row" style="background-color: #241F20; padding: 20px;">
  <form class="form" role="form">
    <div class="input-group ">
      <span class="input-group-addon">{% trans "Search" %}</span>
      <input type="text" class="form-control">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"> </span>
      </span>
    </div>
  </form>
</div>

<div class="row" style="background-color: #383334; padding: 20px;">
  <span style="color: #00AD9F; display: inline; text-transform: uppercase;">
    continents</span><br />
  <!-- Split button -->
  <div class="btn-group">
    <button type="button" class="btn">All</button>
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">All</a></li>
      <li class="divider"></li>
      <li><a href="#">Africa</a></li>
      <li><a href="#">Antartica</a></li>
      <li><a href="#">Asia</a></li>
      <li><a href="#">Australia</a></li>
      <li><a href="#">Europe</a></li>
      <li><a href="#">North America</a></li>
      <li><a href="#">South America</a></li>
    </ul>
  </div>
</div>

<h1>{% trans "We currently have n updates online" %}</h1>

<div class="row" style="text-align: center">
  <ul class="pagination">
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>
<div class="row">
  <ul class="list-group">
    {% for u in updates %}
    <li class="list-group-item media">
      <a class="pull-left" href="#{# url 'organisation-main' o.id #}">
        <img class="media-object"
             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+"
             alt="">
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="{% url 'update-main' u.id %}">{{u.title}}</a></h4>
        <p class="small">
          {{o.primary_location.country}}, {{o.primary_location.country.continent}}
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="row" style="text-align: center">
  <ul class="pagination">
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>
<div class="row" style="height: 100px;">
</div>
{% endblock %}
