{% extends "base.html" %}
{% load pipeline i18n rsr_utils rsr_tags rules %}
{% load rsr_filters humanize markup_tags %}
{% block title %}{{ project.title }}{% endblock title %}
{% block maincontent %}
    <div class="header-container">
        {% include "partials/project_header.html" %}
    </div>
    <div class="projectMenu" id="projectMenu">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <nav class="navbar navbar-nav nav-justified">
                        <ul class="nav nav-tabs">
                            <li><a href="#summary" id="summary-tab" class="tab-link selected">{% trans 'Summary' %}</a></li>
                            <li><a href="#report" class="tab-link">{% trans 'Full report' %}</a></li>
                            <li><a href="#partners" class="tab-link">{% trans 'Project partners' %}</a></li>
                            <li><a href="#finance" class="tab-link">{% trans 'Finances' %}</a></li>
                            {% if project.results.all %}<li><a href="#results" class="tab-link">{% trans 'Results' %}</a></li>{% endif %}
                            {% if updates %}<li><a href="#updates" class="tab-link">{% trans 'Updates' %}</a></li>{% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {% include "project_main_tabs/summary.html" %}
    {% include "project_main_tabs/report.html" %}
    {% include "project_main_tabs/partners.html" %}
    {% include "project_main_tabs/finance.html" %}
    {% if project.results.all %}{% include "project_main_tabs/results.html" %}{% endif %}
    {% if updates %}{% include "project_main_tabs/updates.html" %}{% endif %}
    {% include "partials/project_footer.html" %}
{% endblock %}

{% block js %}
    {{ block.super }}

    {# Smooth scroll #}
    <script id="smooth-scroll" src="{{ STATIC_URL }}lib/scripts/smooth-scroll-9.1.4.min.js"></script>

    {# Markdown #}
    <script id="markdown" src="{{ STATIC_URL }}lib/scripts/micromarkdown-0.3.4.js"></script>

    {# Descriptions #}
    <script type="application/json" id="akvo-rsr-accordion">
        {{ accordion_data|safe }}
    </script>

    {# Update photos #}
    <script type="application/json" id="akvo-rsr-carousel">
        {{ carousel_data|safe }}
    </script>

    {# Default values #}
    <script type="application/json" id="default-values">
        {
            "project_id": {{ project.pk }},
            "show_partners_tab": {% if project.partners.all %}true{% else %}false{% endif %},
            "show_updates_tab": {% if updates %}true{% else %}false{% endif %},
            "show_results_tab": {% if project.results.all %}true{% else %}false{% endif %}
        }
    </script>

    {# Translation strings #}
    <script type="application/json" id="project-main-text">
        {
            "end_date_unknown_text": "{% trans 'End date unknown'|escapejs %}",
            "start_date_unknown_text": "{% trans 'Start date unknown'|escapejs %}",
            "actual_text": "{% trans 'actual'|escapejs %}",
            "target_text": "{% trans 'target'|escapejs %}",
            "background_text": "{% trans 'Background'|escapejs %}",
            "current_situation_text": "{% trans 'Situation at start of project'|escapejs %}",
            "goals_overview_text": "{% trans 'Goals overview'|escapejs %}",
            "project_plan_text": "{% trans 'Project plan'|escapejs %}",
            "sustainability_text": "{% trans 'Sustainability'|escapejs %}",
            "target_group_text": "{% trans 'Target group'|escapejs %}",
            "results_text": "{% trans 'Results and indicators'|escapejs %}",
            "delete_confirm_text": "{% trans 'Are you sure you want to delete this update?'|escapejs %}",
            "delete_confirm_yes_text": "{% trans 'Delete update'|escapejs %}",
            "delete_confirm_cancel_text": "{% trans 'Cancel'|escapejs %}",

            "donate_heading": "{% trans 'Donate'|escapejs %}",
            "donate_summary": "{% trans 'You will be sent to an external website that accepts donations for this project. To continue, click Donate.'|escapejs %}",
            "donate_text": "{% trans 'Donate'|escapejs %}",
            "donate_confirm_cancel_text": "{% trans 'Cancel'|escapejs %}"
        }
    </script>

    {#  Initial data endpoints #}
    <script type="application/json" id="data-endpoints">
        {
            "base_url": "//{{ request.META.HTTP_HOST }}",
            "result": "/rest/v1/result/{result}/?format=json",
            "results_of_project": "/rest/v1/result/?format=json&project={project}",
            "indicators_of_project": "/rest/v1/indicator/?format=json&result__project={project}",
            "periods_of_project": "/rest/v1/indicator_period/?format=json&indicator__result__project={project}",
            "updates_and_comments_of_project": "/rest/v1/indicator_period_data_framework/?format=json&period__indicator__result__project={project}",
            "period_framework": "/rest/v1/indicator_period_framework/{period}/?format=json",
            "update_and_comments": "/rest/v1/indicator_period_data_framework/{update}/?format=json",
            "updates_and_comments": "/rest/v1/indicator_period_data_framework/?format=json",
            "comments": "/rest/v1/indicator_period_data_comment/?format=json",
            "user": "/rest/v1/user/{{ user.pk }}/?format=json",
            "partnerships": "/rest/v1/partnership/?format=json&project={{ project.pk }}",
            "file_upload": "/rest/v1/indicator_period_data/{update}/upload_file/?format=json",
            "partnerships_of_project": "/rest/v1/partnership_more_link/?format=json&project={project}"
        }
    </script>

    {###### RESULTS FRAMEWORK ######}
    {% if project.results.all %}
      <script type="application/json" id="mode">
          {
              "public": true
          }
      </script>
      {% include "results_base.html" %}
    {% endif %}

    {# More link translations #}
    <script type="application/json" id="more-link-translations">
        {
            "partner": "{% trans 'partner'|escapejs %}",
            "partners": "{% trans 'partners'|escapejs %}"
        }
    </script>

    {# Report tab translations #}
    <script type="application/json" id="report-translations">
        {
            "id": "{% trans 'ID'|escapejs %}",
            "identifiers": "{% trans 'Identifiers'|escapejs %}",
            "iati_activity": "{% trans 'IATI activity'|escapejs %}",
            "activity_dates_status": "{% trans 'Activity dates and status'|escapejs %}",
            "status": "{% trans 'Status'|escapejs %}",
            "planned": "{% trans 'Planned'|escapejs %}",
            "actual": "{% trans 'Actual'|escapejs %}",
            "start": "{% trans 'start'|escapejs %}",
            "end": "{% trans 'end'|escapejs %}",
            "date": "{% trans 'date'|escapejs %}",
            "loading": "{% trans 'Loading data'|escapejs %}",
            "descriptions": "{% trans 'Descriptions'|escapejs %}",
            "project_plan": "{% trans 'Project plan'|escapejs %}",
            "goals_overview": "{% trans 'Goals overview'|escapejs %}",
            "target_group": "{% trans 'Target group'|escapejs %}",
            "project_plan_summary": "{% trans 'Summary of project plan'|escapejs %}",
            "background": "{% trans 'Background'|escapejs %}",
            "current_status": "{% trans 'Situation at start of project'|escapejs %}",
            "sustainability": "{% trans 'Sustainability'|escapejs %}",
            "keywords": "{% trans 'Keywords'|escapejs %}",
            "related_project": "{% trans 'Related projects'|escapejs %}",
            "project_contact": "{% trans 'Project contacts'|escapejs %}",
            "partnership": "{% trans 'Partnerships'|escapejs %}",
            "budget_item": "{% trans 'Budget items'|escapejs %}",
            "country_budget_item": "{% trans 'Country budget items'|escapejs %}",
            "transaction": "{% trans 'Transactions'|escapejs %}",
            "transaction_sector": "{% trans 'Transaction sectors'|escapejs %}",
            "planned_disbursement": "{% trans 'Planned disbursements'|escapejs %}",
            "project_location": "{% trans 'Locations'|escapejs %}",
            "administrative_location": "{% trans 'Location administratives'|escapejs %}",
            "recipient_country": "{% trans 'Recipient countries'|escapejs %}",
            "recipient_region": "{% trans 'Recipient regions'|escapejs %}",
            "result": "{% trans 'Results'|escapejs %}",
            "indicator": "{% trans 'Indicators'|escapejs %}",
            "indicator_reference": "{% trans 'Indicator references'|escapejs %}",
            "indicator_period": "{% trans 'Indicator periods'|escapejs %}",
            "indicator_period_actual_dimension": "{% trans 'Indicator period actual dimensions'|escapejs %}",
            "indicator_period_target_dimension": "{% trans 'Indicator period target dimensions'|escapejs %}",
            "indicator_period_actual_location": "{% trans 'Indicator period actual locations'|escapejs %}",
            "indicator_period_target_location": "{% trans 'Indicator period target locations'|escapejs %}",
            "sector": "{% trans 'Sectors'|escapejs %}",
            "policy_marker": "{% trans 'Policy markers'|escapejs %}",
            "humanitarian_scope": "{% trans 'Humanitarian scopes'|escapejs %}",
            "project_condition": "{% trans 'Conditions'|escapejs %}",
            "project_document": "{% trans 'Documents'|escapejs %}",
            "project_document_category": "{% trans 'Document categories'|escapejs %}",
            "link": "{% trans 'Links'|escapejs %}",
            "crs_add": "{% trans 'CRS++'|escapejs %}",
            "crs_add_other_flag": "{% trans 'CRS++ other flags'|escapejs %}",
            "fss": "{% trans 'FSS'|escapejs %}",
            "fss_forecast": "{% trans 'FSS forecasts'|escapejs %}",
            "legacy_data": "{% trans 'Legacy data'|escapejs %}"
        }
    </script>

    {# Partner tab translations #}
    <script type="application/json" id="partner-translations">
        {
            "loading": "{% trans 'Loading'|escapejs %}",
            "roles": "{% trans 'Roles'|escapejs %}",
            "partners": "{% trans 'partners'|escapejs %}"
        }
    </script>

    {# Slider library #}
    <script src="{{ STATIC_URL }}lib/scripts/nouislider-8.0.2.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/styles/nouislider-8.0.2.min.css" type="text/css">

    {% javascript 'more_partners' %}
    {% javascript 'donate_popup' %}
    {% javascript 'project_main' %}
    {% javascript 'project_main_partners' %}
    {% javascript 'project_main_report' %}

{% endblock js %}
