{% extends "base.html" %}

{% load i18n maps rsr_utils thumbnail humanize bootstrap3 %}

{% block title %}{% trans 'Projects' %}{% endblock %}

{% block head_js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.compat.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {

        var projects = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('background',
                                                                 'current_image_credit',
                                                                 'current_status',
                                                                 'project_plan',
                                                                 'project_plan_summary',
                                                                 'subtitle',
                                                                 'title'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {
                url: '/rest/v1/project/?format=json&limit=10000',
                filter: function(response) {
                    f = [
                        'id',
                        'background',
                        'current_image_credit',
                        'current_status',
                        'project_plan',
                        'project_plan_summary',
                        'subtitle',
                        'title'
                    ];
                    return _.map(response.results, _.partialRight(_.pick, f));
                }
            }
        });

   {% comment %}
   var organisations = new Bloodhound({
     datumTokenizer: Bloodhound.tokenizers.obj.whitespace('long_name'),
     queryTokenizer: Bloodhound.tokenizers.whitespace,
     prefetch: {
       url: '/rest/v1/organisation/?format=json&limit=10000',
       filter: function(response) {
         return response.results;
       }
     }
   });


   var countries = new Bloodhound({
     datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
     queryTokenizer: Bloodhound.tokenizers.whitespace,
     prefetch: {
       url: '/rest/v1/country/?format=json&limit=10000',
       filter: function(response) {
         return response.results;
       }
     }
   });

   var focus_area = new Bloodhound({
     datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
     queryTokenizer: Bloodhound.tokenizers.whitespace,
     prefetch: {
       url: '/rest/v1/focus_area/?format=json&limit=10000',
       filter: function(response) {
         return response.results;
       }
     }
   });
        {% endcomment %}

   projects.initialize();
   // organisations.initialize();
   // countries.initialize();
   // focus_area.initialize();

   $('#id_title').typeahead(
     {
       highlight: true
     },
     {
       name: 'projects',
       displayKey: 'title',
       source: projects.ttAdapter(),
       templates: {
           header: '<h3 class="dd-category">Projects</h3>',
           suggestion: _.template('<a href="/project/<%= id %>"><p><%= title %>!</p><p><%= subtitle %></p></a>')
        // suggestion: Handlebars.compile('<a href="/project/\{\{id\}\}/"><p><u>\{\{title\}\}</u></p><p>\{\{subtitle\}\}</p></a>')
       }
     }

       {% comment %}
     {
       name: 'projects',
       displayKey: 'title',
       source: projects.ttAdapter(),
       templates: {
         header: '<h3 class="dd-category">Projects</h3>',
         suggestion: Handlebars.compile('<a href="/project/\{\{id\}\}/"><p><u>\{\{title\}\}</u></p><p>\{\{subtitle\}\}</p></a>')
       }
     }
       {% endcomment %}
       {% comment %}
       ,
     {
       name: 'organisations',
       displayKey: 'long_name',
       source: organisations.ttAdapter(),
       templates: {
         header: '<h3 class="dd-category">Partners</h3>'
       }
     },
     {
       name: 'countries',
       displayKey: 'name',
       source: countries.ttAdapter(),
       templates: {
         header: '<h3 class="dd-category">Countries</h3>'
       }
     },
     {
       name: 'focus_area',
       displayKey: 'name',
       source: focus_area.ttAdapter(),
       templates: {
         header: '<h3 class="dd-category">Focus area</h3>'
       }
     }
       {% endcomment %}
   );

 });
</script>
{% endblock %}

{% block maincontent %}

<section id="map" class="touch-navbar">
    {% global_project_map '100%' '100%' %}
</section>

<section id="search-filter">
<form id="filterForm" action="" method="get" accept-charset="uft-8">
    <div class="container-fluid">
      <div id="search" class="verticalPadding">
        <p>{% trans "Refine the project list below by searching by name, organisation or sector" %}</p>
        <div class="form-inline" role="form">
          {#<form class="form-inline" role="form">#}
          <div class="form-group">
            <div class="input-group">
              {% bootstrap_field filter.form.title field_class='search-query' show_label=False %}
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">{% trans "Update list" %} &#8250;</button>
              </span>
            </div>
            <a class="btn showFilters btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-filter"></i> Advanced filters</a>
          </div>
          {#</form>#}
        </div>
      </div>
    </div>

    <style>
     .form-group label {color: #1B635E}
    </style>

    <div id="collapseOne" class="panel-collapse collapse {{ show_filters }}">
      <div id="filter" class="verticalPadding row">

        <div class="btn-group">
          {% bootstrap_field filter.form.continent %}
        </div>

        <div class="btn-group">
          {% bootstrap_field filter.form.status %}
        </div>

        <div class="btn-group">
          {% bootstrap_field filter.form.organisation %}
        </div>
        {% comment %}
        <div class="btn-group">
          {% bootstrap_field filter.form.category %}
        </div>
        {% endcomment %}

        <div class="btn-group">
          {% bootstrap_field filter.form.focus_area %}
        </div>

        <div class="btn-group">
          {# bootstrap_field filter.form.title #}
        </div>

        {% comment %}
        <div class="btn-group">
          <button type="button" class="btn btn-default">Policy marker</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">All</a></li>
            <li class="divider"></li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-default">Sector code</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">All</a></li>
            <li class="divider"></li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-default">Total budget</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">All</a></li>
            <li class="divider"></li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>

        <div class="btn-group">
          <div class="btn-group">
            <button type="button" class="btn btn-default">Date from</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">All</a></li>
              <li class="divider"></li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <button type="button" class="btn btn-default">To</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">All</a></li>
              <li class="divider"></li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
        {% endcomment %}
    </div>
  </div>
  </form>
</section>

<div class="container-fluid">
  <div class="row center-text verticalPadding">
    <p>Viewing {{ page.start_index }} - {{ page.end_index }} of {{ paginator.count }} projects</p>
    {% include 'navigation/pagination.html' %}
  </div>
</div>

<section class="main-list projects">
    <ul class="container">
      {% for p in page %}
        <li class="row">
          <div class="col-lg-2 col-sm-3 col-xs-5 thumbImg">
            <a href="{% url 'project-main' p.id %}">
                {% img p 200 200 p.title %}
            </a>
          </div>
          <div class="col-lg-4 col-sm-3 col-xs-7">
              <h1><a href="{% url 'project-main' p.id %}">{{p.title}}</a></h1>
              <p>{{p.subtitle}}</p>
              <p><span class="glyphicon glyphicon-globe"></span> {{p.primary_location.country}}, {{p.primary_location.country.continent}}</p>
              <p><span class="glyphicon glyphicon-folder-close"></span> <a href="{% url 'organisation-main' p.partners.all.0.id %}">{{p.partners.all.0}}</a> <a href="#" class="small">+{{p.partners.count|add:"-1"}} more</a></p>
          </div>
          <div class="col-sm-3 hidden-xs hidden-sm">
            <h4 class="detailedInfo">{% trans "Focus Areas" %}</h4>
              <p>
              {% for area in p.focus_areas %}
                <a href="#">{{area.name}}</a><br/>
              {% endfor %}
              </p>
              <h4 class="detailedInfo">{% trans "Sectors" %}</h4>
              <p>?</p>
              <h4 class="detailedInfo">{% trans "Status" %}</h4>
              <p>{{p.get_status_display}}</p>
          </div>
          <div class="col-md-3 hidden-xs hidden-sm">
            <h4 class="detailedInfo">{% trans "Finance" %}</h4>
            {% include "partials/project_budget.html" with project=p %}
          </div>
          <div class="col-xs-7 col-xs-offset-5 col-sm-6 col-sm-offset-0 visible-xs-block visible-sm">
            <p class="small">
              <span class="detailedInfo">{% trans "Focus Areas" %}</span>
              {% for area in p.focus_areas %}<a href="#">{{area.name}}</a> {% endfor %}<br>
              <span class="detailedInfo">{% trans "Sectors" %}</span> ? <a href="#" class="small">+4 more</a><br>
              <span class="detailedInfo">{% trans "Status" %}</span> {{p.get_status_display}}<br>
              <span class="detailedInfo">{% trans "Finance" %}</span>
              {% widthratio p.funds p.budget 100 %}% {% trans "of" %} {{p.get_currency_display}}{{p.budget|floatformat|intcomma}}
            </p>
          </div>
        </li>
  {% endfor %}
</ul>
  </section>
<div class="container-fluid">
  <div class="row center-text">
     {% include 'navigation/pagination.html' %}
   </div>
 </div>

<script> {# crude js :-( #}
 $('select').change(function() {
   $('#filterForm').submit();
 });
</script>
{% endblock %}
