{% extends "base.html" %}

{% load i18n bootstrap3 pipeline %}

{% block title %}{% trans 'Sign in to your Akvo RSR account' %}{% endblock %}

{% block maincontent %}
<div class="container-fluid alignFooter">
    <h2 class="text-center verticalPadding">{% trans 'Sign in' %}</h2>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" action="" name="registrationForm">
                {% csrf_token %}
                {% bootstrap_form_errors form type='non_fields' %}
                <div class="form-group">
                  <label class="control-label" for="id_username">{% trans 'Email'%}</label>
                  <input class="form-control" id="id_username" maxlength="254" name="username" placeholder="Email" required="required" title="" type="text" />
                </div>
                <div class="form-group">
                  <label class="control-label" for="id_password">{% trans 'Password' %}</label>
                  <input class="form-control" id="id_password" name="password" placeholder="Password" required="required" title="" type="password" /></div>
                {% buttons %}
                    <button type="submit" class="btn btn-primary center-block">
                        <i class="fa fa-sign-in"></i> {% trans 'Login' %}
                    </button>
                    <div id="reset-pw" class="text-center topMargin"></div>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    {# Translation strings #}
    <script type="application/json" id="reset-password-text">
        {
            "reset_your_password_text": "{% trans 'Reset your password'|escapejs %}",
            "fill_email_text": "{% trans 'Fill in your email address in the field below. We will send you instructions on how to reset your password.'|escapejs %}",
            "email_text": "{% trans 'Email'|escapejs %}",
            "reset_password_text": "{% trans 'Reset password'|escapejs %}",
            "forgot_password_text": "{% trans 'I forgot my password'|escapejs %}",
            "close_text": "{% trans 'Close'|escapejs %}"
        }
    </script>

    {% javascript 'password_reset' %}
{% endblock %}
