{% extends "base.html" %}

{% load i18n maps markup_tags rsr_utils %}

{% block title %}{% trans 'Updates' %}{% endblock %}

{% block maincontent %}

<section id="map" class="touch-navbar">
    {% global_update_map '100%' '100%' %}
</section>

<section id="search-filter" class="container-fluid">
    <div class="row">
        <div id="search" class="verticalPadding">
            <p>{% trans "Refine the update list below by searching by project, name or organisation" %}</p>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{% trans "Search" %}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">{% trans "Update list" %}</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>

        <div id="filter" style="background-color: #383334; padding: 20px;">
            <span style="color: #00AD9F; display: inline; text-transform: uppercase;">
            continents</span><br />
            <!-- Split button -->
            <div class="btn-group">
                <button type="button" class="btn">All</button>
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">All</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Africa</a></li>
                    <li><a href="#">Antartica</a></li>
                    <li><a href="#">Asia</a></li>
                    <li><a href="#">Australia</a></li>
                    <li><a href="#">Europe</a></li>
                    <li><a href="#">North America</a></li>
                    <li><a href="#">South America</a></li>
                </ul>
            </div>
        </div>
     </div>
</section>

<div class="container">

    <div class="row center-text">
        <p>Viewing {{ page.start_index }} - {{ page.end_index }} of {{ paginator.count }} updates</p>
        {% include 'navigation/pagination.html' %}
    </div>

    <section class="main-list updates">
        <ul>
            {% for u in page %}
            <li class="row updateAsset">
                <div class="col-sm-3 col-md-2 col-xs-4 col-lg-2 thumbImg">
                    <a href="{% url 'update-main' u.project.id u.id %}">
                      {% img u 220 220 u.title %}
                    </a>
                </div>
                <div class="col-sm-4 col-xs-8 col-md-5 col-lg-5">
                    <h1><a href="{% url 'update-main' u.project.id u.id %}">{{u.title}}</a></h1>
                    <p class="small"><span class="glyphicon glyphicon-folder-close"></span>
                      <a href="{% url 'project-main' u.project.pk %}">{{u.project.title}}</a><br>
                    <span class="glyphicon glyphicon-user"></span> {% trans "Person" %} (Partner)<br>
                    <span class="glyphicon glyphicon-map-marker"></span> {% trans "Location" %}
                    {{u.primary_location.country.continent}}, {{u.primary_location.country}} <br>
                    {{u.created_at|date:"d-M-Y"}}</p>
                </div>   
                <div class="excerpt small col-sm-5 col-xs-12  col-md-5 col-lg-5 hidden-xs">
                    {% autoescape off %}
                      {{ u.text|force_escape|urlize|apply_markup:"markdown" }}
                    {% endautoescape %}
                </div>            
            </li>
            {% endfor %}
        </ul>
    </section>

    <div class="row center-text">
        {% include 'navigation/pagination.html' %}
    </div>

</div>
{% endblock %}
