{% extends "base.html" %}

{% load i18n maps markup_tags rsr_utils bootstrap3 %}

{% block title %}{% trans 'Updates' %}{% endblock %}

{% block head_js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.compat.min.js"></script>

    <script type="text/javascript">
     $(document).ready(function() {
       var updates = new Bloodhound({
         datumTokenizer: Bloodhound.tokenizers.obj.whitespace('text', 'title'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {
                url: '/rest/v1/project_update/?format=json&limit=10000',
                filter: function(response) {
                    f = [
                        'id',
                        'text',
                        'title'
                    ];
                    return _.map(response.results, _.partialRight(_.pick, f));
                }
            }
       });
       updates.initialize();

       $('#id_title').typeahead(
         {
           highlight: true
         },
         {
           name: 'updates',
           displayKey: 'title',
           source: updates.ttAdapter(),
           templates: {
             header: '<h3 class="dd-category">Updates</h3>',
             suggestion: _.template('<a href="/project_updates/<%= id %>"><p><%= title %>!</p></a>')
           }
         }
       );
     });

    </script>
{% endblock %}
{% block maincontent %}

<section id="map" class="touch-navbar">
    {% global_update_map '100%' '100%' %}
</section>

<section id="search-filter">
  <form id="filterForm" action="" method="get" accept-charset="uft-8">

    <div class="container-fluid">
      <div id="search" class="verticalPadding">
        <p>{% trans "Refine the project list below by searching by name, organisation or sector" %}</p>
        <div class="form-inline" role="form">
          {#<form class="form-inline" role="form">#}
          <div class="form-group">
            <div class="input-group">
              {% bootstrap_field filter.form.title field_class='search-query' show_label=False %}
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">{% trans "Update list" %} &#8250;</button>
              </span>
            </div>
            <a class="btn showFilters btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-filter"></i> Advanced filters</a>
          </div>
          {#</form>#}
        </div>
      </div>
    </div>

    <div id="collapseOne" class="panel-collapse collapse {{ show_filters }}">
      <div id="filter" class="verticalPadding row">

        <div class="btn-group">
          {% bootstrap_field filter.form.continent %}
        </div>

        {% comment %}
        <div class="btn-group">
          <button type="button" class="btn">Continents</button>
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">All</a></li>
            <li class="divider"></li>
            <li><a href="#">Africa</a></li>
            <li><a href="#">Antartica</a></li>
            <li><a href="#">Asia</a></li>
            <li><a href="#">Australia</a></li>
            <li><a href="#">Europe</a></li>
            <li><a href="#">North America</a></li>
            <li><a href="#">South America</a></li>
          </ul>
        </div>
        {% endcomment %}
      </div>
    </div>
  </form>
</section>

<div class="container-fluid">
  <div class="row center-text verticalPadding">
        <p>Viewing {{ page.start_index }} - {{ page.end_index }} of {{ paginator.count }} updates</p>
        {% include 'navigation/pagination.html' %}
    </div>
</div>

    <section class="main-list updates">
        <ul class="container">
            {% for u in page %}
            <li class="row updateAsset">
                <div class="col-sm-3 col-md-2 col-xs-4 col-lg-2 thumbImg">
                    <a href="{% url 'update-main' u.project.id u.id %}">
                      {% img u 220 220 u.title %}
                    </a>
                </div>
                <div class="col-sm-4 col-xs-8 col-md-5 col-lg-5">
                    <h1><a href="{% url 'update-main' u.project.id u.id %}">{{u.title}}</a></h1>
                    <p class="small"><span class="glyphicon glyphicon-folder-close"></span>
                      <a href="{% url 'project-main' u.project.pk %}">{{u.project.title}}</a><br>
                    <span class="glyphicon glyphicon-user"></span> {% trans "Person" %} (Partner)<br>
                    <span class="glyphicon glyphicon-map-marker"></span> {% trans "Location" %}
                    {{u.primary_location.country.continent}}, {{u.primary_location.country}} <br>
                    {{u.created_at|date:"d-M-Y"}}</p>
                </div>
                <div class="excerpt small col-sm-5 col-xs-12  col-md-5 col-lg-5 hidden-xs">
                    {% autoescape off %}
                      {{ u.text|force_escape|urlize|apply_markup:"markdown" }}
                    {% endautoescape %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>

<div class="container-fluid">
    <div class="row center-text">
            {% include 'navigation/pagination.html' %}
    </div>
</div>
{% endblock %}
