{% extends "base.html" %}

{% load i18n markup_tags rsr_utils %}

{% block title %}{{update.title}}{% endblock %}

{% block maincontent %}

<div class="touch-navbar">
    {% include "partials/project_header.html" with project=update.project %}

    <div class="container">
        <div class="row">
            <article class="col-md-12">
                <hgroup>
                  <h1>{{update.title}}</h1>
                  <h4> {{update.created_at|date:"d-M-Y"}}</h4>
                </hgroup>

                <div class="row">
                    <div class="col-md-7">
                        <div class="post-info media">
                            <a class="pull-left">
                                <img src="http://placehold.it/30x30">
                            </a>
                            <div class="media-body">
                                <p>by First Last (<a href="#">Partner</a>) via mobile</p>
                                <p class="small">Benin, Africa &nbsp; <a href="#" class="map-toggle">View map</a></p>
                            </div>
                            {% img update 800 600 update.title %}
                            {#<img src="http://placehold.it/800x600">#}

                            {% autoescape off %}
                              {{ update.text|force_escape|urlize|apply_markup:"markdown" }}
                            {% endautoescape %}
                        </div>
                    </div>

                    <aside class="col-md-4 col-md-offset-1">
                        <h2>More updates from this project</h2>
                        <div class="row">
                            {% for u in update.project.project_updates.all %}
                            <article class="col-md-12 col-xs-6 col-ty-12">
                              <a href="{% url 'update-main' u.project.id u.id %}">
                                {% img u 400 300 u.title %}
                              </a>
                                <h1><a href="{% url 'update-main' u.project.id u.id %}">{{u.title}}</a></h1>
                                <p class="small"><span class="glyphicon glyphicon-folder-close"></span> <a href="#">Project name</a><br>
                                <span class="glyphicon glyphicon-user"></span> Person (Partner)<br>
                                <span class="glyphicon glyphicon-map-marker"></span> Location</p>
                                <div class="excerpt small">
                                {% autoescape off %}
                                  {{ u.text|force_escape|urlize|apply_markup:"markdown" }}
                                {% endautoescape %}
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                    </aside>
                </div>
            </article>
        </div>
    </div>

</div>

{% endblock %}
