{% extends "base.html" %}

{% load i18n markup_tags rsr_utils bootstrap3 embed_video_tags %}

{% block title %}{{update.title}}{% endblock %}

{% block maincontent %}

<div class="touch-navbar">
    {% include "partials/project_header.html" with project=update.project %}
    <div class="container">
        <div class="row">
            <article class="col-md-12">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <hgroup>
                          <h1>{{update.title}}
                              {% if user == update.user and not update.edit_window_has_expired %}
                              <a href="{% url 'edit-update' project.pk update.pk %}" class="btn btn-primary">
                                  {% bootstrap_icon "pencil" %} Edit</a>
                              {% endif %}
                          </h1>
                          <h4> {{update.created_at|date:"d-M-Y"}}</h4>
                        </hgroup>
                        <div class="post-info media">
                            <div class="media-body">
                                <p>by {{update.user.first_name}} {{update.user.last_name}} via {{update.get_update_method_display}}</p>
                            </div>
                            {% if update.video %}
                            <p>{% video update.video '600x450' %}</p>
                            <p class="small">
                                {% if update.video_caption %}
                                "{{ update.video_caption }}"{% if update.video_credit %}<br>{% endif %}
                                {% endif %}
                                {% if update.video_credit %}{% trans 'Video credit' %}: {{ update.video_credit }}{% endif %}
                            </p>
                            {% endif %}
                            {% if update.photo %}
                            <p>{% img update 600 450 update.title %}</p>
                            <p class="small">
                                {% if update.photo_caption %}
                                "{{ update.photo_caption }}"{% if update.photo_credit %}<br>{% endif %}
                                {% endif %}
                                {% if update.photo_credit %}{% trans 'Photo credit' %}: {{ update.photo_credit }}{% endif %}
                            </p>
                            {% endif %}
                            {% autoescape off %}
                                <p>{{ update.text|force_escape|urlize|apply_markup:"markdown" }}</p>
                            {% endautoescape %}
                        </div>
                    </div>

                    {% if other_updates %}
                    <aside class="col-md-4 col-md-offset-1 hidden-sm hidden-xs">
                        <h3>{% trans "Latest updates from this project" %}</h3>
                        <div class="row">
                            {% for u in other_updates %}
                            <div class="row">
                                <div class="col-lg-5 col-md-5">
                                    <a href="{% url 'update-main' u.project.id u.id %}">
                                        {% if u.video %}
                                            {% vid_img u 120 120 u.title %}
                                        {% else %}
                                            {% img u 120 120 u.title %}
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col-lg-7 col-md-7">
                                    <h4><a href="{% url 'update-main' u.project.id u.id %}">{{u.title}}</a></h4>
                                    <p class="small">
                                        <span class="glyphicon glyphicon-user"></span> {{u.user.first_name}} {{u.user.last_name}}<br>
                                        {% if u.primary_location.country %}
                                        <span class="glyphicon glyphicon-map-marker"></span> {{u.primary_location.country}}, {{u.primary_location.country.continent}} <br>
                                        {% endif %}
                                        <span class="glyphicon glyphicon-calendar"></span> {{u.created_at|date:"d-M-Y"}}<br>
                                    </p>
                                </div>
                            </div>
                            <br>
                            {% endfor %}
                        </div>
                    </aside>
                    {% endif %}
                </div>
            </article>
        </div>
    </div>

</div>

{% endblock %}
