{% extends "base.html" %}

{% load i18n markup_tags rsr_utils bootstrap3 %}

{% block title %}{{project.title}}{% endblock %}

{% block maincontent %}
<article class="touch-navbar">
    {% include "partials/project_header.html" %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-xs-12" id="update">
                <h2>{% if edit_mode %}{% trans 'Edit an update' %}{% else %}{% trans 'Add an update' %}{% endif %}</h2>
                {% if not allow_update %}
                <p>{% trans "You are not allowed to post updates for this project, because you are not connected to an organisation of this project." %}</p>
                {% url 'my_details' as my_details_url %}
                <p>{% blocktrans %}Go to the <a href="{{my_details_url}}">My details</a> page to request to join an organisation.{% endblocktrans %}
                {% trans "Once your request is approved, you will be able to post updates to this project." %}</p>
                {% else %}
                {% if edit_mode %}
                    <p class="small">
                    {% if request.user == update.user %}
                    {% blocktrans with update_time=update.time_gmt|date:"H:i T (j F Y)" %}
                        You posted this update at {{update_time}}.
                    {% endblocktrans %}
                    {% else %}
                    {% blocktrans with update_time=update.time_gmt|date:"H:i T (j F Y)" %}
                    {{update_user}} posted this update at {{update_time}}.
                    {% endblocktrans %}
                    {% endif %}
                    </p>
                {% endif %}
                {% if update and update.photo and edit_mode %}
                    <p>{% img update 400 300 update.title %}</p>
                {% endif %}
                <form method="post" action="" id="updateForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in updateform %}
                        {% bootstrap_field field %}
                    {% endfor %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% if edit_mode %}{% trans 'Edit update' %}{% else %}{% trans 'Add update' %}{% endif %}
                        </button>
                    {% endbuttons %}
                </form>
                {% endif %}
            </div>
            {% if updates %}
            <div class="col-md-5 hidden-sm hidden-xs updateComponent">
                <h3>{% trans 'Previous updates of this project' %}</h3>
                {% for update in updates %}
                <div class="row updateLine">
                    <div class="col-lg-2 col-md-2 thumbImg">
                        <a href="{% url 'update-main' update.project.id update.id %}">
                          {% if update.video %}
                            {% vid_img update 80 80 update.title %}
                          {% else %}
                            {% img update 80 80 update.title %}
                          {% endif %}
                        </a>
                    </div>
                    <div class="col-lg-10 col-md-10">
                      <a href="{{update.get_absolute_url}}" class="updateLinkTitle"><i class="fa fa-camera-retro"></i> {{update.title}}</a>
                    </div>
                </div>
                {% endfor %}
                <div class="allUpdates text-center"><a href="{% url 'project-updates' project.pk %}"><i class="fa fa-eye"></i> {% trans 'See all updates for this project.' %}</a></div>
            </div>
            {% endif %}
    </div>
</article>

{% endblock %}

{% block jq %}
  $( "#id_latitude").val(0);
  $( "#id_longitude").val(0);
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(storePosition, geolocationDisabled);
  }
  function storePosition(position) {
    $( "#id_latitude").val(position.coords.latitude);
    $( "#id_longitude").val(position.coords.longitude);
  }
  function geolocationDisabled(failure) {
      if(failure.message.indexOf("Only secure origins are allowed") == 0) {
          // Secure Origin issue.
          alert("Your browser doesn't support getting location on non-https"
                + " sites. If you want your location to be shared, please use"
                + " another browser");
      }
  }

$('#id_photo').bind('change', function() {
    var size = ((this.files.length > 0) && this.files[0].size) || 0;
    const megabyte = 1048576;
    const max_size = 2;

    var parent = $(this).parent(),
        help_block = parent.find('.help-block'),
        help_text = '{% trans "Please upload an image of 2 MB or less."|escapejs %}';

    // Disable/Enable submit, add/remove error class
    if (size > (max_size * megabyte)) {
        parent.addClass('has-error');
        $("button[type=submit]").attr('disabled', 'disabled');
    } else {
        parent.removeClass('has-error');
        $("button[type=submit]").removeAttr('disabled');
    }

    // Change help text
    if (this.files.length == 0) {
        help_block.text(help_text);
    } else {
        help_block.text(help_text + ' ' + '{% trans "Your image size: "|escapejs %}' + Math.round(size/megabyte * 1000)/1000 + ' MB');
    }
});

{% endblock %}
