{% extends "base.html" %}
{% load i18n markup_tags rsr_utils bootstrap3 embed_video_tags %}
{% block title %}{{update.title}}{% endblock %}
{% block maincontent %}
    <div class="touch-navbar updateMain">
        {% include "partials/project_header.html" with project=update.project %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7 col-xs-12">
                    <h2><i class="fa fa-camera-retro"></i> {{update.title}}</h2>
                    <div class="upDateTime"><i class="fa fa-calendar-o"></i> {{update.event_date|date:"d-M-Y"}}</div>
                    <div class="post-info media">
                        <div class="media-body">
                            <p>
                            {% if update.user.avatar %}
                                {% img update.user 50 50 update.user.get_full_name %}
                            {% endif %}
                            <span class="userFullName"><em>{% trans 'by' %}</em>{{update.user.first_name}} {{update.user.last_name}}</span> {% trans 'via' %} {{update.get_update_method_display}}
                            </p>
                        </div>

                        {% if update.video %}
                        <figure>
                          {% video update.video '600x450' %}
                          <figcaption>
                            {% if update.video_caption %}
                                <h6>"{{ update.video_caption }}"{% if update.video_credit %}</h6>
                            {% endif %}
                            {% endif %}

                            {% if update.video_credit %}<em>{% trans 'Video credit' %}:</em> <h6 style="display:inline;"> {{ update.video_credit }}</h6>{% endif %}
                          </figcaption>
                        </figure>
                        {% endif %}

                        {% if update.photo %}
                        <figure>
                            <a href="{{update.photo.url}}" target="_blank">{% img update 600 450 update.title %}</a>
                          <figcaption>
                            {% if update.photo_caption %}
                                <h6>"{{ update.photo_caption }}"{% if update.photo_credit %}</h6>{% endif %}
                            {% endif %}
                            {% if update.photo_credit %}<em>{% trans 'Photo credit' %}:</em> <h6 style="display:inline;">{{ update.photo_credit }}</h6>{% endif %}
                          </figcaption>
                        </figure>
                        {% endif %}


                        {% autoescape off %}
                        <div class="updateText topMargin">{{ update.text|force_escape|urlize|apply_markup:"markdown" }}</div>
                    {% endautoescape %}
                </div>
            </div>
            {% if other_updates %}
                <aside class="col-md-4 col-md-offset-1 hidden-sm hidden-xs asideUpList">
                    <h4>{% trans "Latest updates from this project" %}</h4>
                    {% for u in other_updates %}
                        <div class="row">
                            <div class="col-md-4">
                                <a href="{% url 'update-main' u.project.id u.id %}">
                                    {% if u.video %}
                                        {% vid_img u 120 120 u.title %}
                                    {% else %}
                                        {% img u 120 120 u.title %}
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-md-8">
                                <h5><a href="{% url 'update-main' u.project.id u.id %}"><i class="fa fa-camera-retro"></i> {{u.title}}</a></h5>
                                <div><span class="userFullName"><em>{% trans 'by' %}</em>{{u.user.first_name}} {{u.user.last_name}}</span>
                                    {% if u.user.approved_organisations %}
                                        {% with org=u.user.approved_organisations.0 %}
                                        <a href="{% url 'organisation-main' org.pk %}" class="orgName"><i class="fa fa-users"></i>  {{org.long_name}}</a>
                                    {% endwith %}
                                {% endif %}
                            </div>
                            <div class="upDateTime"><i class="fa fa-calendar-o"></i> {{u.event_date|date:"d-M-Y"}}</div>
                        </div>
                    </div>
                {% endfor %}
                <div class="allUpdates text-center"><a href="{% url 'project-updates' project.pk %}"><i class="fa fa-eye"></i> {% trans 'See all updates for this project.' %}</a></div>
            </aside>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}
