{% extends "base.html" %}
{% load i18n maps markup_tags rsr_utils rsr_filters bootstrap3 %}
{% load render_bundle from webpack_loader %}

{% block title %}{% trans 'Updates' %}{% endblock %}
{% block maincontent %}

    <div id="update-directory"></div>

{% endblock %}

{% block js %}
    {{ block.super }}

    <script src="https://maps.googleapis.com/maps/api/js?key={{gmaps_api_key}}"></script>
    {# Translation strings #}
    <script type="application/json" id="updates-text">
     {
         "updates_text": "{% trans 'Updates'|escapejs %}",
         "search_text": "{% trans 'Search'|escapejs %}",
         "loading_text": "{% trans 'Loading...'|escapejs %}",
         "organisations_text": "{% trans 'Organisations'|escapejs %}",
         "locations_text": "{% trans 'Locations'|escapejs %}",
         "all_text": "{% trans 'All'|escapejs %}",
         "keyword_text": "{% trans 'keyword'|escapejs %}",
         "location_text": "{% trans 'location'|escapejs %}",
         "status_text": "{% trans 'status'|escapejs %}",
         "organisation_text": "{% trans 'organisation'|escapejs %}",
         "sector_text": "{% trans 'sector'|escapejs %}",
         "reset_filters_text": "{% trans 'Reset filters'|escapejs %}",
         "no_location_text": "{% trans 'No location specified'|escapejs %}",
         "page_limit_text": "{% trans '# of projects'|escapejs %}",
         "list_message_text": "{% trans 'The most recent updates added to RSR'|escapejs %}"

     }
    </script>

    {% render_bundle 'directoryUtils' %}
    {% render_bundle 'updateDirectory' %}

{% endblock js %}
