{% load url from future %}
{% load i18n rsr_filters humanize rsr_tags %}


<div class="round white_back" style="border:1px solid #7BBDCD">
  {% if project.funds_needed|round = 0 %}
    <div style="text-align:center">
      <p class="black normal marg_bottom0">
        {{project.get_currency_display|safe}} {{project.budget|round|intcomma}}
      </p>
      <div class="fundingbox-progress-bar" style="height:3px;">
        {% if project.budget %}
          <div class="fundingbox-progress-bar-progress" style="width:{% widthratio project.funds project.budget 100 %}%;"> </div>
        {% endif %}
      </div>
      <p class="green small marg_top0 marg_bottom5">
        {% widthratio_trunc project.funds|add:1 project.budget 100 %}% {% trans "Raised" %}
      </p>
      <p class="green marg_top5 marg_bottom15 fat">
        {% trans "Fully funded" %}
      </p>
    </div>
  {% else %}
    <table class="tiny_table" style="width:143px">
      <tr>
        <td>{{project.get_currency_display|safe}}</td>
        <td>{{project.budget|round|intcomma}}</td>
        <td>{% trans "Requested" %}</td>
      </tr>
      <tr class="green">
        <td class="green">{{project.get_currency_display|safe}}</td>
        <td>{{project.funds|round|intcomma}}</td>
        <td>{% trans "Raised" %}</td>
      </tr>
      <tr class="red">
        <td>{{project.get_currency_display|safe}}</td>
        <td>{{project.funds_needed|round|intcomma}}</td>
        <td>{% trans "Still needed" %}</td>
      </tr>
    </table>
    <div id="project_funding_details_link" style="text-align:center; padding: 5px 0 10px 0;">
      <a class="orange awesome small" style="color:#000" href="{{domain_url}}/rsr/project/{{project.id}}/donate/">{% trans 'Donate' %}</a>
    </div> 
  {% endif %}
</div>
