{% extends "partner_sites/base.html" %}
{% load i18n rsr_tags webdesign thumbnail rsr_filters google_maps sorting_tags pagination_tags rsr_filters %}
{% load url from future %}


{% block title %}{% trans "Get a widget" %} - {% endblock title %}


{% block breadcrum_items %}
  {{block.super}}
  <li><a href="{% url 'home' %}"><span>{% trans "Projects" %}</span></a></li>
  <li class="last_breadcrum_item">{% trans "Get a widget" %}</li>
{% endblock breadcrum_items %}


{% block breadcrum_right %}{% endblock breadcrum_right %} {# Override #}


{% block content %}
  <div class="clearfix">
    <h2>{% trans "Get a widget" %}</h2>
    <p class="grey">
      {% trans "The following steps will produce a snippet of Akvo widget code you can copy and paste into your own web site&#x27;s code." %}<br />
    </p>
    <ul style="padding-left:0; list-style-type:none; margin-left:0">
      <li style="padding-left:0; margin-left:0">{% trans "Step 1: Select the type of widget you wish to use." %}</li>
      <li style="padding-left:0; margin-left:0">{% trans "Step 2: Select colours and preview your widget." %}</li>
      <li style="padding-left:0; margin-left:0">{% trans "Step 3: Copy the HTML code to your web site." %}</li>
    </ul>
    <hr />
    
    <div style="margin-left:40px;">
      <h3>{% trans "Step 1: Select the type of widget you wish to use." %}</h3>
      <p class="small grey">{% trans "You can customise the top and bottom bar and title text colours on the next step." %}</p>
      <div class="pad20 whitebox marg_bottom40">
        <form name="projectMapForm" action="." method="post">{% csrf_token %}
          <input type="hidden" name="widget-type" value="project-map" />
          <h3>{% trans "Project map widget" %}</h3>
          <p class="small grey">{% trans "Shows a map of projects from your organisation. Users who click on this widget will go to Akvo.org." %}</p>

          <script type="text/javascript">
            document.write('<iframe src="{% url 'widget_org_map' %}" width="600" height="300" frameborder="0" allowTransparency="true"> </iframe>');
          </script>
        
          <div style="text-align:center; width:600px; max-width:600px; padding-top:40px">
            <a class="aqua awesome" onclick="this.blur();" href="javascript:document.projectMapForm.submit();" >
              <span style="color:#fff">{% trans 'Select and Proceed...' %}</span>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
