{% extends "partner_sites/base.html" %}
{% load i18n rsr_tags webdesign thumbnail rsr_filters google_maps sorting_tags pagination_tags rsr_filters %}
{% load url from future %}


{% block title %}{% trans "Get a widget" %} - {% endblock title %}


{% block breadcrum_items %}
  {{block.super}}
  <li><a href="{% url 'home' %}"><span>{% trans "Projects" %}</span></a></li>
  <li class="last_breadcrum_item">{% trans "Get a widget" %}</li>
{% endblock breadcrum_items %}


{% block breadcrum_right %}{% endblock breadcrum_right %} {# Override #}


{% block content %}
  <div class="clearfix">
    <h2>{% trans "Get a widget" %}</h2>
    <p class="grey">
      {% trans "This widget will show projects from the following organisation" %}<br />
      <b class="black">{{organisation}}</b>
    </p>
    <hr />
    <div style="margin-left:40px;">
      <h3>{% trans "Select colours for your widget and preview" %}</h3>
      <div class="pad20 whitebox marg_bottom40">
        <h3>{% trans "A: Bottom coloured bar" %}</h3>
        <p></p>
        
        <h3>{% trans "B: Set height of the widget" %}</h3>
        <p></p>
        
        <h3>{% trans "C: Set width fo the widget" %}</h3>
        <p></p>
        
        <h3>{% trans "D: Set map state" %}</h3>
        <p></p>
        
        <hr />
        
        <h3>{% trans "E: Review your widget" %}</h3>
        <p></p> 
      </div>

      <h3>{% trans "Copy the HTML code below for use on your web site" %}</h3>
      <div class="pad20 whitebox">
        <p class="grey small">
          {% trans "You may repeat the steps above until you are satisﬁed with the appearance of your widget." %}
        </p>
          

      </div>

    </div>
  </div>
{% endblock content %}
