{% extends "partner_sites/base.html" %}
{% load i18n rsr_tags webdesign thumbnail rsr_filters google_maps sorting_tags pagination_tags rsr_filters %}
{% load url from future %}


{% block title %}{% trans "Configure widget" %} - {% endblock title %}

{% block head %}
  {{block.super}}
  <style>
    div.getWidget {
      /*margin-left: 15px;*/
      margin-bottom: 40px;
      float: left;
      margin-right: 15px;
      min-width: 110px;
    }
    .getWidget label {
      font-weight: normal;
      font-size: 0.8125em;
      margin-left: 10px;
      margin-top: 0;
      margin-bottom: 8px;
    }
  
    .getWidget input[type=text] {
      display: inline;
      margin-top: 0px;
      margin-bottom: 1px;
    }

    #widget_preview {
      width: 480px;
      float:left;
      margin-top:20px;
    }
    #widget_conf {
      width: 400px;
      float: left;
    }

  </style>
{% endblock head %}


{% block breadcrum_items %}
  {{block.super}}
  <li><a href="{% url 'home' %}"><span>{% trans "Projects" %}</span></a></li>
  <li><a href="{% url 'get_widget' project.id %}"><span>{% trans "Select widget" %}</span></a></li>
  <li class="last_breadcrum_item">{% trans "Configure widget" %}</li>
{% endblock breadcrum_items %}

{% block breadcrum_right %}{% endblock breadcrum_right %} {# Override #}

{% block content %}
  <div class="clearfix">
    <h2>{% trans "Configure widget - step 2 of 2" %}</h2>
    <div style="margin-left:40px; margin-top: 30px;">
      <div class="pad20 whitebox marg_bottom40">
        {# div width get set in jquery ready function based on widget type #}
        <div id="widget_preview">
          <div id="akvo_widget_container"></div>
        </div>
        <div id="widget_conf">
          {# <h3 style="margin-bottom:15px">{% trans "Step 2: Configure widget" %}</h3> #}
          <div class="getWidget">
            <h4>{% trans "Style" %}</h4>
            <label class="radio">
              <input type="radio" name="style" id="style-dark" value="dark" checked>
                {% trans 'dark' %}
            </label>
            <label class="radio">
              <input type="radio" name="style" id="style-light" value="light">
                {% trans 'light' %}:
            </label>
          </div>
            {% if widget_kind == 'project-map' %}
              <div class="getWidget">
                <h4>{% trans "State" %}</h4>
                <label class="radio">
                  <input type="radio" name="state" id="state-dynamic" value="dynamic" checked>
                    {% trans 'dynamic' %}
                </label>
                <label class="radio">
                  <input type="radio" name="state" id="state-static" value="static">
                  {% trans 'static' %}:
                </label>
              </div>
              <div class="getWidget">
                <h4>{% trans "Size" %}</h4>
                <div style="float: left;">
                  <label for="height">{% trans "Height" %}:</label>
                  <label for="width">{% trans "Width" %}:</label>
                </div>
                <div style="float: left;">
                  <input type="text" id="width" value="600" size=4 placeholder="{% trans "600" %}" /><br />
                  <input type="text" id="height" value="300" size=4 placeholder="{% trans "300" %}" />
                </div>
                <div class="clear"></div>
             </div>
            {% endif %}
          <div class="clear"></div>
          <label for="site" style="margin-top:10px;">{% trans "Where you will embed this widget" %}:</label>
          <input type="text" id="site" value="" size=51 placeholder="{% trans "Example:" %} www.akvo.org" />
        
          <h3 style="margin-bottom:15px">{% trans "Step 3: Copy the HTML code for use on your web site" %}</h3>
          <div class="getWidget">
            <textarea style="background-color:#FEFCF4;" name="code" rows="8" cols="52" id="code"> </textarea>
          </div>
          <hr />
          <div class="getWidget">
            <a class="yellow awesome" href="{% url 'get_widget' project.id %}" style="color:#fff;">
              <span>{% trans 'Back to widget selection' %}</span>
            </a>&nbsp;
            <a class="aqua awesome" href="{% url 'project_main' project.id %}" style="color:#fff;">
              <span>{% trans 'Back to project' %}</span>
            </a>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  {{block.super}}
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

  <script>
    (function(win) {
      win.akvoWidgetMachinery = {

        /** Create an object to represent the widget we want to grab */
        widget: {
          {% if project and widget_source == 'specific' %}project: {{project.id}},{% endif %}
          kind: '{{widget_kind}}',
          source: '{{widget_source}}', {# specific or random project #}
          organisation: '{{organisation.id}}',
          host: '{{app_url}}',
          style: 'dark',
          _site: '',
          {% if widget_kind == 'project-map' %}
            height: 300,
            width: 600,
            state: 'dynamic',
          {% else %}
            height: function () {
              switch (this.kind) {
                case 'cobranded-banner':  return 234;
                case 'project-narrow':    return 840;
                case 'project-small':     return 312;
                case 'project-list':      return 730;
              }  
            },

            width: function () {
              switch (this.kind) {
                case 'cobranded-banner':  return 468;
                case 'project-narrow':    return 170;
                case 'project-small':     return 170;
                case 'project-list':      return 745;
              }
            },
          {% endif %}
          
          
          src: function () {
            var template;
            
            // Map widget
            {% if widget_kind == 'project-map' %}
              template = '<%= host %>/widgets/projects/map/';
              template += '?style=<%= style %>&state=<%= state %>';
              template += '&width=<%= width %>&height=<%= height %>';
            {% elif widget_kind == 'project-list' %}
              template = '<%= host %>/widgets/projects/list/';
              template += '?style=<%= style %>';
            {% else %}
              template = '<%= host %>/widgets/<%= kind %>/';
              template += this.source === 'random' ? 'random/' : '<%= project %>/';
              template += '?style=<%= style %>';
            {% endif %}
            
            template += this.site();
            return _.template(template)(this);
          },

          site: function () {
            return this._site === '' ? '' : '&site=' + this._site;
          },

          setSite: function (site) {
            this._site = site;
          },

          codeSnippet: function () {
            var template;

            {% if widget_kind == 'project-map' %}
              template = '" height="<%= height %>" width="<%= width %>" frameborder="0"';
            {% else %}
              template = '" height="<%= height() %>" width="<%= width() %>" frameborder="0"';
            {% endif %}
            template += ' allowTransparency="true" style="overflow: hidden"> </iframe>';
            return '<iframe src="' + this.src() + _.template(template)(this);
          }

        },

        previewWidget: function () {
          var widget_iframe, first;

          widget_iframe = document.getElementById('akvo_widget');
          if (!widget_iframe) {
            widget_iframe = document.createElement('iframe');
            first = true;
          }
          widget_iframe.setAttribute('allowTransparency', 'true');
          widget_iframe.setAttribute('frameBorder', 0);
          widget_iframe.setAttribute('id','akvo_widget');
          {% if widget_kind == 'project-map' %}
            widget_iframe.setAttribute('height', this.widget.height);
            widget_iframe.setAttribute('width', this.widget.width);
          {% else %}
            widget_iframe.setAttribute('height', this.widget.height());
            widget_iframe.setAttribute('width', this.widget.width());
          {% endif %}
          widget_iframe.setAttribute('src', this.widget.src());
          widget_iframe.setAttribute('style', 'overflow: hidden;');
          
          if (first) {
            document.getElementById('akvo_widget_container').appendChild(widget_iframe);
            first = false;
          }
        },

        craftSnippet: function () {
          $('#code').val(this.widget.codeSnippet());
        },

        update: function () {
          this.previewWidget();
          this.craftSnippet();
        }

      }
    }(window));

  </script>

{% endblock js %}

{% block jq_ready %}
{{block.super}}
  {% if widget_kind == 'project-map' %}
    $('#widget_preview').width(akvoWidgetMachinery.widget.width + 20);
  {% else %}
    $('#widget_preview').width(akvoWidgetMachinery.widget.width() + 20);
  {% endif %}

  akvoWidgetMachinery.update();

  {# style form field changes #}
  $('input:radio[name=style]').click(function() {
    akvoWidgetMachinery.widget.style = $(this).val();
    akvoWidgetMachinery.update();
  });

  {# Site form field changes #}
  $('#site').keyup(function() {
    akvoWidgetMachinery.widget.setSite($(this).val());
    akvoWidgetMachinery.craftSnippet();
  });

  $('#site').change(function() {
    akvoWidgetMachinery.widget.setSite($(this).val());
    akvoWidgetMachinery.craftSnippet();
  });

  {# Width & height form field changes #}
  {% if widget_kind == 'project-map' %}
    $('input:radio[name=state]').click(function() {
      akvoWidgetMachinery.widget.state = $(this).val();
      akvoWidgetMachinery.update();
    });

    {# width #}
    $('#width').change(function() {
      akvoWidgetMachinery.widget.width = $(this).val();
      akvoWidgetMachinery.craftSnippet();
      akvoWidgetMachinery.update();
    });

    $('#width').keyup(function() {
      akvoWidgetMachinery.widget.width = $(this).val();
      akvoWidgetMachinery.craftSnippet();
      akvoWidgetMachinery.update();
    });

    {# height #}
    $('#height').change(function() {
      akvoWidgetMachinery.widget.height = $(this).val();
      akvoWidgetMachinery.craftSnippet();
      akvoWidgetMachinery.update();
    });

    $('#height').keyup(function() {
      akvoWidgetMachinery.widget.height = $(this).val();
      akvoWidgetMachinery.craftSnippet();
      akvoWidgetMachinery.update();
    });

  {% endif %}
  
  
  
{% endblock jq_ready %}
