{% extends "partner_sites/widgets/base.html" %}
{% load i18n rsr_filters rsr_tags rsr_widgets %}

{% block style %}
{{block.super}}
<link rel="stylesheet" href="{{MEDIA_URL}}ps_widgets/w170pxSmall.css" type="text/css" media="screen" title="main">
{% endblock style %}

{% block body %}
<section id="container" class="w170pxSmall {{style}} rsrWidget floats-in">
  {% rsr_widget_header %}
  <div id="content" class="floats-in">
    <div class="projectDescr">
      {% rsr_widget_project_status_location project %}
      <h2 id="project_title"><a href="{{app_url}}{{project.get_absolute_url}}">
        {{project.title|smart_truncate:60}}
      </a></h2>
      {% rsr_widget_project_photo project 145 109 %}
    </div>
  </div>
</section>
{% endblock body %}