body{
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
}

h1{
  font-size: 30px;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 21px;
}
h4{
  font-size: 18px;
}

ol{
  list-style: decimal;
  padding-left: 20px;
}

.capitalized{
  text-transform: capitalize;
}

.ant-tooltip-inner{
  ol{
    font-size: 12px;
    line-height: 18px;
    li{
      margin-top: 4px;
    }
  }
}

.lang-menu{
  li{
    display: flex;
    padding-left: 30px;
    padding-right: 20px;
  }
  img{
    height: 14px;
    margin-left: auto;
    margin-top: 3px;
  }
}
.top-bar{
  padding: 20px 0;
  height: 70px;
  img.logo{
    max-height: 42px;
  }
  .hamburger{
    font-size: 26px;
    margin-right: 13px;
    color: #000;
    cursor: pointer;
  }
  .ui.container{
    display: flex;
    &>.SVGInline{
      margin-top: -3px;
    }
    ul{
      display: flex;
      margin-left: 20px;
      margin-top: 10px;
      font-size: 14px;
      @media print{
        display: none;
      }
      li{
        border-left: 1px solid #efefef;
        padding: 0 20px;
        a{
          color: #72bfe4;
          &:hover{
            color: #2c1c42;
          }
          &.active{
            color: #2c1c42;
            cursor: default;
          }
        }
      }
    }
    .right-side{
      display: flex;
      @media print{
        display: none;
      }
      .lang{
        margin-right: 10px;
        margin-top: 4px;
        img{
          height: 14px;
        }
      }
      .user{
        margin-top: 4px;
        cursor: pointer;
        margin-right: 15px;
        color: #2593fc;
        .anticon{
          transform: translateY(1px);
        }
      }
      margin-left: auto;
    }
  }
}
.announcement-btn{
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 100px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px 18px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.33);
  color: rgb(151, 151, 151);
  .anticon{
    margin-right: 7px;
    font-size: 17px;
    transform: translateY(2px);
  }
  &.highlight{
    color: #ef7d30;
    font-weight: 600;
    box-shadow: 0 0 4px #ef7d30;
    border-color: #f6c394;
  }
}
.announcement-modal{
  .ant-tabs{
    min-width: 240px;
    overflow-x: visible;
    .ant-tabs-nav-container, .ant-tabs-nav-wrap, .ant-tabs-nav-scroll{
      overflow-x: visible;
    }
    .ant-tabs-left-bar .ant-tabs-tab {
      max-width: 220px;
      white-space: normal;
      .date{
        font-size: 11px;
        opacity: 0.7;
        text-transform: uppercase;
        font-weight: 600;
      }
      h5{
        font-weight: normal;
        color: inherit;
        margin-bottom: 0;
      }
      h5.highlight{
        font-weight: 600;
        color: rgba(0, 0, 0, 0.65);
        &:before{
          content: "NEW";
          font-weight: bold;
          position: absolute;
          left: 0px;
          top: 10px;
          font-size: 9px;
          color: #fff;
          background-color: #ef7d30;
          padding: 2px 3px;
          border-radius: 2px;
        }
      }
    }
  }
  .ant-modal-body{
    display: flex;
  }
  .reset-dev{
    position: absolute;
    bottom: 10px;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
  }
}
.announcement-prompt{
  text-align: center;
  .content{
    #lottie{
      transform: translateY(-20px);
    }
    &>div:first-child{
      height: 210px;
    }
    .anticon{
      font-size: 36px;
    }
  }
}
.announcement-btn-circle {
  position: fixed;
  z-index: 9999;
  bottom: 5%;
  right: 5%;
  &.highlight {
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 12px #00ffff;
    border-color: #00e6e6;
  }
}
.announcement-popover {
  text-align: right; 
  .new-feature {
    font: normal normal bold 16px/19px Helvetica;
    letter-spacing: 0px;
    color: #2B2F56;
  }
  .help-links {
    margin-top: 1em;
  }
  .help {
    padding: 0 20px;
    font: normal normal bold 16px/19px Helvetica;
    letter-spacing: 0px;
    color: #2B2F56;
  }
}
.ann-menu{
  .ant-dropdown-menu-item{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    position: relative;
    &:not(:last-child){
      &:after{
        content: " ";
        position: absolute;
        left: 20px;
        bottom: -1px;
        width: calc(100% - 40px);
        height: 1px;
        background-color: rgb(233, 233, 233);
      }
    }
    .date{
      font-size: 10px;
      text-transform: uppercase;
      opacity: 0.7;
      margin-bottom: -3px;
    }
    &.seen{
      opacity: 0.4;
    }
    &:not(.seen){
      color: rgb(180, 158, 29);
    }
  }
}
.ant-dropdown-menu-item .active{
  color:rgba(0, 0, 0, 0.25);
}

header.main-header{
  // border-bottom: 1px solid #ccc;
  // padding: 10px 0 0;
  display: flex;
  margin-bottom: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 911;
  background: #fff;
  min-height: 55px;
  &:before{
    content: " ";
    position: absolute;
    left: -15px;
    width: 15px;
    height: 100%;
    top: 0;
    background-color: #fff;
  }
  &>h1{
    transform: translateY(10px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .anticon{
    font-size: 26px;
    margin-right: 11px;
    // margin-left: 11px;
    transform: translateY(12px);
  }
  h1{
    font-weight: 300;
    font-size: 21px;
    color: #2F1A45;
    margin-bottom: 10px;
    line-height: 35px;
    padding-right: 15px;
    flex: 1;
  }
  &+.ant-tabs{
    // margin-left: auto;\
    margin-top: -5px;
    .ant-tabs-bar{
      margin-bottom: 1px;
      border: none;
    }
    a{
      color: rgba(0, 0, 0, 0.85);
      font-weight: 600;
      text-transform: capitalize;
      &:hover{
        color: #3f90f7;
      }
    }
    .ant-tabs-tab-active{
      a{
        color: inherit;
      }
    }
  }
}

.rte{
  button{
    border: none;
    background: transparent;
  }
  select + span{
    border: none!important;
    background: #ececec8a;
    border-radius: 3px!important;
  }
}
.has-error .rte{
  border-color: red;
}
.error-overlay{
  display: flex;
  align-content: center;
  justify-content: center;
  .content{
    display: flex;
    .text{
      min-width: 300px;
      margin-right: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1{
        color: #21481c;
      }
    }
  }
}

.public-DraftEditor-content{
  word-break: break-all;
}

.ant-col{
  .ant-calendar-picker{
    display: block;
  }
}
.add-org-btn{
  color: #3f90f7;
  margin-top: 10px;
  font-weight: 500;
}

.ant-radio-group.required .ant-radio-button-wrapper{
  border-color: red;
}

.ant-collapse-item.removing{
  opacity: 0.5;
}
.rte{
  [contenteditable=false]{
    background-color: #f5f5f5;
  }
}
.project-tabs{
  border-bottom: 1px solid #e4e4e4;
  .ant-tabs-tab{
    a{
      display: flex;
    }
    .badge{
      margin-left: 5px;
      border: 1px solid #D90201;
      color: #D90201;
      line-height: 18px;
      height: 20px;
      width: 20px;
      text-align: center;
      font-size: 11px;
      border-radius: 15px;
      margin-top: 3px;
    }
  }
}

@import "./container.scss";
.ui.container{
  @media (max-width: 768px){
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
  }
  @media (min-width: 1200px) {
    margin-left: 50px!important;
    margin-right: 50px!important;
    width: auto;
  }
}

.side-menu-container{
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 99999;
  .bg{
    position: absolute;
    z-index: 0;
    left: 0;top: 0;
    width: 100%;height: 100%;
    background-color: rgba(0,0,0,0.75);
  }
  .side-menu{
    width: 250px;
    background-color: #f0f0f0;
    height: 100%;
    position: relative;
    z-index: 1;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.4);
    header{
      height: 52px;
      background-color: #72bfe4;
      color: #fff;
      padding: 10px 30px;
      display: flex;
      .text{
        margin-top: 4px;
      }
      .ant-btn{
        margin-left: auto;
        border-color: white;
        margin-right: -20px;
        svg{
          path{
            fill: #fff;
          }
        }
      }
    }
    ul{
      background-color: #fff;
      padding: 10px 0;
      li>*{
        display: flex;
        padding: 0 30px;
        text-transform: uppercase;
        line-height: 42px;
        align-items: center;
        color: #2c1c43;
        transition: all .3s ease-out;
        font-weight: 500;
        &.active{
          opacity: 0.5;
          cursor: default;
          .anticon{
            transform: translateX(7px)
          }
        }
        &:not(.active):not(.change-lang):hover{
          color: #72bfe4;
          &>*{
            color: #72bfe4;
          }
          .anticon{
            transform: translateX(7px)
          }
        }
        .anticon{
          margin-left: auto;
          transition: all .25s ease-out;
        }
      }
    }
    .change-lang{
      position: absolute;
      bottom: 10px;
      font-size: 12px;
      width: 100%;
      display: flex;
      padding: 0 20px 0 30px;
      text-transform: uppercase;
      line-height: 42px;
      align-items: center;
      cursor: pointer;
      .lang{
        margin-left: auto;
        img{
          height: 14px;
        }
      }
    }
    .div{
      padding: 0 30px 15px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 11px;
      opacity: 0.5;
    }
  }
}
