body{
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.top-bar{
  padding: 20px 0;
  height: 70px;
  // background-color: #f2f2f2;
}

header{
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  h1{
    font-weight: 300;
    font-size: 21px;
    color: #2F1A45;
    margin-bottom: 0;
  }
  margin-bottom: 10px;
}

@import "./container.scss"