body{
  margin: 0;
  padding: 0;
  background-color: #fff;
}

h1{
  font-size: 30px;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 21px;
}
h4{
  font-size: 18px;
}

ol{
  list-style: decimal;
  padding-left: 20px;
}

.capitalized{
  text-transform: capitalize;
}

.ant-tooltip-inner{
  ol{
    font-size: 12px;
    line-height: 18px;
    li{
      margin-top: 4px;
    }
  }
}

.lang-menu{
  margin-left: -12px;
  img{
    height: 14px;
  }
}
.top-bar{
  padding: 20px 0;
  height: 70px;
  .ui.container{
    display: flex;
    &>.SVGInline{
      margin-top: -3px;
    }
    ul{
      display: flex;
      margin-left: 20px;
      margin-top: 10px;
      font-size: 14px;
      @media print{
        display: none;
      }
      li{
        border-left: 1px solid #efefef;
        padding: 0 20px;
        a{
          color: #72bfe4;
          &:hover{
            color: #2c1c42;
          }
        }
      }
    }
    .right-side{
      @media print{
        display: none;
      }
      .lang{
        margin-right: 10px;
        img{
          height: 14px;
        }
      }
      .user{
        cursor: pointer;
        margin-right: 15px;
        color: #2593fc;
        .anticon{
          transform: translateY(1px);
        }
      }
      margin-left: auto;
    }
  }
  // background-color: #f2f2f2;
}

header.main-header{
  // border-bottom: 1px solid #ccc;
  // padding: 10px 0 0;
  display: flex;
  margin-bottom: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 911;
  background: #fff;
  &>h1{
    transform: translateY(10px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .ant-tabs{
    margin-left: auto;
    .ant-tabs-bar{
      margin-bottom: 1px;
      border: none;
    }
    a{
      color: rgba(0, 0, 0, 0.65);
      &:hover{
        color: #3f90f7;
      }
    }
  }
  .anticon{
    font-size: 26px;
    margin-right: 11px;
    // margin-left: 11px;
    transform: translateY(12px);
  }
  h1{
    font-weight: 300;
    font-size: 21px;
    color: #2F1A45;
    margin-bottom: 10px;
    line-height: 35px;
    padding-right: 15px;
    flex: 1;
  }
}

.rte{
  button{
    border: none;
    background: transparent;
  }
  select + span{
    border: none!important;
    background: #ececec8a;
    border-radius: 3px!important;
  }
}
.has-error .rte{
  border-color: red;
}

.public-DraftEditor-content{
  word-break: break-all;
}

.ant-col{
  .ant-calendar-picker{
    display: block;
  }
}
.add-org-btn{
  color: #3f90f7;
  margin-top: 10px;
  font-weight: 500;
}

.ant-radio-group.required .ant-radio-button-wrapper{
  border-color: red;
}

@import "./container.scss";

@media (min-width: 1200px) {
  .ui.container{
    margin-left: 50px!important;
    margin-right: 50px!important;
    width: auto;
  }
}
