@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;700&display=swap');

$screen-small: 375px;
$screen-regular: 768px;
$screen-large: 1280px;

$padding-default: 2rem;
$padding-small: 1rem;
$padding-header: 10px;

$layout-padding: 50px;
$layout-padding-small-screen: 40px;
$margin-small: 1rem;
$margin-default: 2rem;

$border-radius: 4px !default;
$box-shadow-xs: 0px 1px 2px rgba(29, 41, 57, 0.05);
$box-shadow-sm: 0px 1px 3px rgba(29, 41, 57, 0.1), 0px 1px 2px rgba(29, 41, 57, 0.06);
$box-shadow-md: 0px 4px 8px -2px rgba(29, 41, 57, 0.1), 0px 2px 4px -2px rgba(29, 41, 57, 0.06);
$box-shadow-lg: 0px 12px 1rem -4px rgba(29, 41, 57, 0.08), 0px 4px 6px -2px rgba(29, 41, 57, 0.03);
$box-shadow-xl: 0px 20px 24px -4px rgba(29, 41, 57, 0.08), 0px 8px 8px -4px rgba(29, 41, 57, 0.03);
$box-shadow-2xl: 0px 24px 48px -12px rgba(29, 41, 57, 0.18);
$box-shadow-3xl: 0px 2rem 64px -12px rgba(29, 41, 57, 0.14);

$font-family: "Assistant", sans-serif;
$font-family-heading: "Roboto Condensed";
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$heading-size-2xl: 96px;
$heading-size-xl: 56px;
$heading-size-lg: 48px;
$heading-size-md: 36px;
$heading-size-sm: 30px;
$heading-size-xs: 24px;

$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-md: 1rem;
$font-size-sm: 14px;
$font-size-xs: 12px;

$logo-height: 39.42px;
$logo-width: 120px;

$gray-25: #fcfcfd;
$gray-50: #f9fafb;
$gray-100: #f2f4f7;
$gray-200: #eaecf0;
$gray-300: #d0d5dd;
$gray-400: #98a2b3;
$gray-500: #667085;
$gray-600: #475467;
$gray-700: #344054;
$gray-800: #1d2939;
$gray-900: #101828;

$primary-25: #f2f7fc;
$primary-50: #e3effc;
$primary-100: #cae3fc;
$primary-200: #bddcfc;
$primary-300: #b0d6fc;
$primary-400: #97c9fc;
$primary-500: #7ebdfc;
$primary-600: #4ca3fc;
$primary-700: #218efc;
$primary-800: #1b73cc;
$primary-900: #165da6;

$error-25: #fffbfa;
$error-50: #fef3f2;
$error-100: #fee4e2;
$error-200: #fecdca;
$error-300: #fda29b;
$error-400: #f97066;
$error-500: #f04438;
$error-600: #d92d20;
$error-700: #b42318;
$error-800: #912018;
$error-900: #7a271a;

$warning-25: #fffcf5;
$warning-50: #fffaeb;
$warning-100: #fef0c7;
$warning-200: #fedf89;
$warning-300: #fec84b;
$warning-400: #fdb022;
$warning-500: #f79009;
$warning-600: #dc6803;
$warning-700: #b54708;
$warning-800: #93370d;
$warning-900: #7a2e0e;

$success-25: #f6fef9;
$success-50: #ecfdf3;
$success-100: #d1fadf;
$success-200: #a6f4c5;
$success-300: #6ce9a6;
$success-400: #32d583;
$success-500: #12b76a;
$success-600: #039855;
$success-700: #027a48;
$success-800: #05603a;
$success-900: #054f31;

$gray-gradient-600: conic-gradient(from 259.08deg at 50% 50%, #475467 0deg, rgba(71, 84, 103, 0) 360deg);
$gray-gradient-600-500: linear-gradient(90deg, #475467 0%, #667085 100%);
$gray-gradient-700-600: linear-gradient(45deg, #344054 0%, #475467 100%);
$gray-gradient-800-45: linear-gradient(45deg, #1d2939 0%, #475467 100%);
$gray-gradient-800-90: linear-gradient(63.44deg, #1d2939 16.72%, #475467 83.39%);
$gray-gradient-800-700: linear-gradient(26.57deg, #1d2939 8.33%, #344054 91.67%);
$gray-gradient-900-600: linear-gradient(45deg, #101828 0%, #475467 100%);

$primary-gradient-600: conic-gradient(from 259.08deg at 50% 50%, #4ca3fc 0deg, rgba(76, 163, 252, 0) 360deg);
$primary-gradient-600-500: linear-gradient(90deg, #4ca3fc 0%, #7ebdfc 100%);
$primary-gradient-700-600: linear-gradient(45deg, #218efc 0%, #7ebdfc 100%);
$primary-gradient-800-45: linear-gradient(45deg, #1b73cc 0%, #97c9fc 100%);
$primary-gradient-800-90: linear-gradient(63.44deg, #1b73cc 16.72%, #97c9fc 83.39%);
$primary-gradient-800-700: linear-gradient(26.57deg, #1b73cc 8.33%, #97c9fc 91.67%);
$primary-gradient-900-600: linear-gradient(45deg, #165da6 0%, #97c9fc 100%);

$white: #ffffff;
$white-secondary: #f8f8fa;
$blue-dark: #134a7d;
$blue-tag: #85a1cb;
$blue-light: #eff3fc;
$purple-dark: #202529;
$orange: #de8929;
$black: #031b33;
$green-primary: #3b9b91;
