{% extends "rsr/index_base.html" %}

{% block script %}

	{% ifequal bandwidth 'ask' %}
	<!--<script type="text/javascript">
		msg = "Welcome to Akvo. Please indicate if you want to use the high bandwidth home page by clicking OK, or the low bandwidth home page by clicking Cancel.";
		if (confirm(msg))
			window.location.assign("{% url akvo.rsr.views.set_high_bandwidth %}");
		else
			window.location.assign("{% url akvo.rsr.views.set_low_bandwidth %}");
	</script>-->
	{% endifequal %}	

	<script type="text/javascript" src="{{MEDIA_URL}}flash/swfobject.js"></script>
{% endblock script %}

{% block style %}
	{{ block.super }}
	<style type="text/css">
	/* hide from ie on mac \*/
	
	#home_flash {
	}
	/* end hide */
	#breadcrumbs {
		display:none;
	}
	</style>
{% endblock style %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block page_id %}
<div id="page_home_flash">
{% endblock page_id %}

{% block outer_leftwing %}

	<div id="home_flash_box" style="padding-bottom:20px;">
		<a style="float:right; color: #FFF; padding: 20px;" href="{% url akvo.rsr.views.set_high_bandwidth %}">View flash-enabled home page</a>
		<div style="color: #fff; font-size: 1.5em; padding: 20px;">Our latest projects</div>
		<table width="900px;">
			{% for p in grid_projects %}
				{% ifequal forloop.counter 1 %}
				<tr>
				{% endifequal %}
				{% ifequal forloop.counter 7 %}
				<tr>
				{% endifequal %}
				<td align="center">
					<a href="{% url akvo.rsr.views.projectmain p.id %}">
						<img width="132" style="padding: 6px;" src="{{MEDIA_URL}}{{p.current_image}}" title="{{p.name}}" alt="{{p.name}}"/>
					</a>
				</td>
				{% ifequal forloop.counter 6 %}
				</tr>
				{% endifequal %}
			{% endfor %}
				</tr>
		</table>
	
	</div> <!-- #home_flash_box -->
	
<div id="outer_leftwing">

<div class="boxhead">
<a href="http://www.akvo.org/blog/?feed=rss2" class="rss" style="float:right;margin-top:1em;">Subscribe via RSS</a>
<h1>Most recent Akvo Blog article</h1>
</div> <!-- .boxhead -->

<div class="boxbody">

{% if img_src1 %}
<div style="float:left; width: 210px;">
	<img src="{{img_src1}}" style="width: 172px; margin: 15px 15px 5px 15px"/>
	<!--<p class="small lightx1">Image caption</p>-->
</div> <!-- style -->
{% endif %}

<h2><a href="http://www.akvo.org/blog/">{{latest1.title|safe}}</a></h2>
<p class="lightx2">24/06/2008 by {{latest1.author|safe}}</p>
<p>{{latest1.summary|safe}}</p>

<p><a style="float:right; padding-bottom: 8px;" href="http://www.akvo.org/blog/">Read more</a></p>
<!--<p style="text-align: right"><a href="{{latest.link}}">Permalink</a></p>-->
<hr style="clear:both"/>

{% if img_src2 %}
<div style="float:left; width: 210px;">
	<img src="{{img_src2}}" style="width: 172px; margin: 15px 15px 5px 15px"/>
	<!--<p class="small lightx1">Image caption</p>-->
</div> <!-- style -->
{% endif %}
<h2><a href="{{latest2.link}}">{{latest2.title|safe}}</a></h2>
<p class="lightx2">24/06/2008 by {{latest2.author|safe}}</p>
<p>{{latest2.summary|safe}}</p>

<p><a style="float:right; padding-bottom: 8px;" href="{{latest2.link}}">Read more</a></p>
<hr style="clear:both" />
<p style="text-align: right"><a href="http://www.akvo.org/blog/">View earlier blog entries</a></p>

<div style="clear:left"></div>

</div> <!-- .boxbody -->

</div> <!-- #outer_leftwing -->

{% endblock outer_leftwing %}
