{% extends "rsr/project_base.html" %}

{% block script %}
{{block.super}}
<script src="{{MEDIA_URL}}js/ui.tabs.pack.js" type="text/javascript"></script>
{% endblock script %}

{% block breadcrumbs %}
{{block.super}} &raquo; <a href="/rsr/projects/">Project listing</a> &raquo; {{p.name}}
{% endblock breadcrumbs %}

{% block outer_leftwing %}
<div id="outer_leftwing">

	<div class="boxhead">
		<a class="actionbutton ab_grey" href="#" style="float: right" onclick="this.blur();"><span>Fund project</span></a>
		<h1 class="section">Funding</h1>
	</div> <!-- .boxhead -->

	<div class="boxbody">	

		<table style="width: 66%">
		<tr>

		<td style="width: 50%; border-right: 1px solid #ccc; padding-left: 0;">
		<p style="margin-bottom: 20px"><a href="#">< Back to project summary</a></p>
		<p style="text-align:center">Next milestone: 01 Jul 2008</p>
		<div style="border: 1px solid #999; margin: 0 20px 10px 20px"><div style="width: 106px;">
		<div style="width: {% widthratio p.funding.pledged p.funding.total 106 %}px; height: 30px; background-color: #4CAC62;"></div></div></div>
			<table>
			<tr>
			<td>04 Jan 2008</td>
			<td>Request posted</td>
			</tr>
			<tr>
			<td>06 Jan 2008</td>
			<td>Project started<br />Project ongoing</td>
			</tr>
			</table>
		</td>

		<td style="width: 50%">
			<p><b>Funding breakdown</b></p>
			<table style="width: 80%">
			<tr>
			<td>Employment costs</td>
			<td>&#8364; 0000</td>
			</tr>
			<tr>
			<td>Building Material costs</td>
			<td>&#8364; 0000</td>
			</tr>
			<tr>
			<td>Training Material costs</td>
			<td>&#8364; 0000</td>
			</tr>
			<tr>
			<td>Maintenance costs</td>
			<td>&#8364; 0000</td>
			</tr>
			<tr>
			<td>Other costs</td>
			<td>&#8364; 0000</td>
			</tr>
			<tr>
			<td><b>Total</b></td>
			<td>&#8364; 0000</td>
			</tr>
			</table>
		</td>
	
		</tr>
		</table>


		<hr />

		<h2 style="margin-left: 20px;">Current Funders</h2>		

		<div style="padding-left: 20px">

		<div style="width: 33%; float: left; padding-left: 0;">
		<img src="http://dev.akvo.org:8080/rsr/media/img/2008/06/21/logo_waste.png" alt="Logo of {{funder.funding_organization.name}}" style="margin: 10px 20px 10px 20px;" />
		<p><a href="#">WASTE</a></p>
		<p>Delft, The Netherlands</p>
		<p><b>Grant: &#8364; 8000</b></p>
		</div>

		<div style="width: 33%; float: left">
		<img src="http://dev.akvo.org:8080/rsr/media/img/2008/06/21/logo_waste.png" alt="Logo of {{funder.funding_organization.name}}" style="margin: 10px 20px 10px 20px;" />
		<p><a href="#">WASTE</a></p>
		<p>Delft, The Netherlands</p>
		<p><b>Grant: &#8364; 8000</b></p>
		</div>

		<div style="width: 33%; float: left">
		<img src="http://dev.akvo.org:8080/rsr/media/img/2008/06/21/logo_waste.png" alt="Logo of {{funder.funding_organization.name}}" style="margin: 10px 20px 10px 20px;" />
		<p><a href="#">WASTE</a></p>
		<p>Delft, The Netherlands</p>
		<p><b>Grant: &#8364; 8000</b></p>
		</div>

		<div style="width: 33%; float: left">
		<img src="http://dev.akvo.org:8080/rsr/media/img/2008/06/21/logo_waste.png" alt="Logo of {{funder.funding_organization.name}}" style="margin: 10px 20px 10px 20px;" />
		<p><a href="#">WASTE</a></p>
		<p>Delft, The Netherlands</p>
		<p><b>Grant: &#8364; 8000</b></p>
		</div>

		<div style="width: 33%; float: left">
		<img src="http://dev.akvo.org:8080/rsr/media/img/2008/06/21/logo_waste.png" alt="Logo of {{funder.funding_organization.name}}" style="margin: 10px 20px 10px 20px;" />
		<p><a href="#">WASTE</a></p>
		<p>Delft, The Netherlands</p>
		<p><b>Grant: &#8364; 8000</b></p>
		</div>

		<div style="width: 33%; float: left">
		<img src="http://dev.akvo.org:8080/rsr/media/img/2008/06/21/logo_waste.png" alt="Logo of {{funder.funding_organization.name}}" style="margin: 10px 20px 10px 20px;" />
		<p><a href="#">WASTE</a></p>
		<p>Delft, The Netherlands</p>
		<p><b>Grant: &#8364; 8000</b></p>
		</div>

		</div> <!-- style -->

		<div style="clear:left"></div>

		<p style="margin: 30px 0 0 20px;"><a href="#">< Back to Project Summary</a></p>

		
	</div> <!-- .boxbody -->

</div> <!-- #outer_leftwing -->

{% endblock outer_leftwing %}
