{% extends "base.html" %}

{% block css %}
th, td {
    padding: 4px;
}
{% endblock css %}

{% block title %}Orgzzz!{% endblock %}

{% block header %}
    <h1>Projects</h1>
{% endblock header %}

{% block content %}

<table cellspacing="0">
    <tbody>
    {% for object in object_list %}
        {% for key, value in object.items %}
        <tr class="row1">
            <td>{{ key }}:<br/>{{ value }}</td>
        </tr>
        {% endfor %}
    {% endfor %}    
    </tbody>
</table>


{% endblock content %}