<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 
<head>

<title>Akvo RSR</title>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <style type="text/css" media="screen">
            @import "{{MEDIA_URL}}css/reset.css";
            @import "{{MEDIA_URL}}css/style.css";
            {% block css %}
            {% endblock css %}
        </style>


<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="/productions/akvo.org/2008_06_03a/styles/ie.css" media="screen" />
<![endif]-->

</head>

<body>

<div id="outer_wrapper">
<div id="container">

<div id=""><!-- #header -->
			<div class="header">
			
				<div id="header">
					<img src="{{MEDIA_URL}}img/logo_akvo_250.png" alt="Akvo.org" style="float:left;" />
					<p style="float:right">Logged in as: verylongname.surname@akvo.org <a href="#" style="margin: 5px 10px 0 0;padding: 4px 											7px;background-color: #dedede;">Logout</a></p>

				</div>
			
				<div id="navcontainer">
					<ul id="navlist">
						<li><a href="#" class="active">Home</a></li>
						<li><a href="#">Akvopedia</a></li>
						<li><a href="#">Projects</a></li>
						<li><a href="#">Find support</a></li>
						<li><a href="#">Give support</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">About</a></li>
					</ul>
				</div>

			</div>
<!-- /#header -->

<!-- #column_1 -->
			<div id="content-left">
				<div class="box">
					<div style="background-color: #ededed">
					<a href="#" class="action">Edit project</a>
					<h1 class="title" style="background-color: #ededed">Bangalor sanitation</h1>

					<div class="status">Within a peri-urban resettlement cluster</div>
					</div>

					<div class="project_left_tab">
						<h2 class="lightx2">Status</h2>
						<p>Active</p>
						<h2 class="lightx2">Focus area</h2>

						<p>
						<img src="{{MEDIA_URL}}img/purple.png" alt="type" style="margin: 10px 5px 10px 0;" />
						<img src="/productions/akvo.org/2008_06_03a/images/blue.png" alt="type" style="margin: 10px 5px 10px 0;" />
						<img src="/productions/akvo.org/2008_06_03a/images/orange.png" alt="type" style="margin: 10px 5px 10px 0;" />
						<img src="/productions/akvo.org/2008_06_03a/images/green.png" alt="type" style="margin: 10px 5px 10px 0;" />
						<img src="/productions/akvo.org/2008_06_03a/images/olive.png" alt="type" style="margin: 10px 5px 10px 0;" />		
						</p>						
						<h2 class="lightx2">Location</h2>
						<p>North-East Area<br />Delhi, India</p>

						<div style="width:160px;height:160px;background-color:#dedede;margin:10px"></div>
					</div>
					
					
					<div class="project_right_tab" style="border-left:1px solid #ccc; padding-left: 20px;">
						<div id="tabcontainer">
						<ul id="tablist">
						<li><a href="#">Context</a></li>
						<li><a href="#">Key results</a></li>
						<li><a href="#">Goals</a></li>

						<li id="active"><a href="#" id="current">Description</a></li>
						</ul>
						</div>
						<p style="padding-left:0;">This project aims to provide safe sanitation facilities for 500 school children by providing 6 private urinal units 							and 2 urine diverting dry ecosan toilets. A school curriculum on water, sanitation and hygiene amongthe pupils will be developped and executed.
						<a href="#">View details</a></p>
						<br />
						
						<div style="float:left;width:270px">
							<div class="small lightx1">Sum zzriurem erci blandre consed molore veliquatem ipis et qui eriustie magna commy nullaorpeulla. 
							(Credit: Ipisim Zzrit)</div>

							<div style="width:270px;height:210px;background-color:#dedede;margin:10px 0 10px 0;"></div>
							</div>
						
						<div style="margin-left:280px;">
							<h2 class="lightx1">Overall goals</h2>
							<ul class="simplelist">
							<li>8 functioning sanitation systems</li>
							<li>500	persons	with access to improved sanitation for 10 years</li>

							<li>500	persons	who	receive training / education per year</li>
							</ul>
							
						</div>
						
						<p style="clear:left">CLEAR</p>
					</div>
					
					
				</div>
				
				<div id="cleft_1-2">
					<div class="box">

						<h1 class="box_heading" style="margin: 0 0 10px 0;">Related to this project</h1>
						<h2>Akvopedia Entries</h2>
						<p><a href="#">Technique 101</a></p>
						<p><a href="#">Technology 101</a></p>
						<p><a href="#">Documentation 101</a></p>
						<hr />

						<h2>External Links</h2>
						<p><a href="#">Government of Country</a></p>
						<p><a href="#">Disasters Emergency Committee</a></p>
						<p><a href="#">Oxfam</a></p>
						<p class="small lightx1 spaced">Akvo.org is not responsible for the content of external web sites</p>
					</div>								
					<div class="box">

						<a href="#" class="action btn-slide">Add comment</a>
						<h1 class="box_heading" style="margin: 0 0 10px 0;">Comments</h1>
						<div class="members-photo"><div style="width:60px;height:60px;background-color:#dedede;margin-left: 15px;"></div>
						<p style="margin-top: 10px"><a href="#">Duismodolore Tatie</a></p>
						</div>
						
						<div id="panel">
						<!-- you can put content here -->

						</div>
						
						
						<div style="margin-left: 100px; clear:left"
						<p class="lightx1">00/00/0000 00:00 gmt</p>
						<p>Ut adipisit nonse digna faciliquip el ipit, quisl dolendipisl ea accummolobor sustin henit prat vullaUt adipisit nonse digna faciliquip el 						ipit, quisl dolendipisl ea accummolobor sustin henit prat vullaUt adipisit nonse digna faciliquip el ipit, quisl dolendipisl ea accummolobor 						sustin henit prat vulla.</p>
						</div>
						<br />
						<p><span class="lightx1">Agree:</span> <a href="#">(21)</a> <span class="lightx1 indent">Disagree:</span> <a href="#">(3)</a></p>

						<p style="text-align:right"><a href="#">Report abuse</a></p>
						<hr />
						<div class="members-photo"><div style="width:60px;height:60px;background-color:#dedede;margin-left: 15px;"></div>
						<p style="margin-top: 10px"><a href="#">Duismodolore Tatie</a></p>
						</div>
						<div style="margin-left: 100px;"
						<p class="lightx1">00/00/0000 00:00 gmt</p>
						<p>Ut adipisit nonse digna faciliquip el ipit, quisl dolendipisl ea accummolobor sustin henit prat vullaUt adipisit nonse digna faciliquip el 						ipit, quisl dolendipisl ea accummolobor sustin henit prat vullaUt adipisit nonse digna faciliquip el ipit, quisl dolendipisl ea accummolobor 						sustin henit prat vulla</p>

						</div>
						<br />
						<p><span class="lightx1">Agree:</span> <a href="#">(21)</a> <span class="lightx1 indent">Disagree:</span> <a href="#">(3)</a></p>
						<p style="text-align:right"><a href="#">Report abuse</a></p>
						<hr />

						<p style="text-align:right;"><a href="#">Older comments</a></p>


					</div>
				</div>

				<div id="cleft_2-2" class="box">
						<a href="#" class="action">Add update</a>
						<h1 class="box_heading" style="margin: 0 0 10px 0;">Project updates</h1>

						<h2>Ad magna facipsum nimolortin vel ilis ad</h2>
						<p><span class="lightx1">00/00/0000</span> by Tat Duismodolore Tatie</p>
						<p>Type: Progress update</p>
						<br />
						<p>Ut adipisit nonse digna faciliquip el ipit, quisl dolendipisl ea accummolobor sustin henit prat vullaUt adipisit nonse digna faciliquip el 						ipit, quisl dolendipisl ea accummolobor sustin henit prat vullaUt adipisit nonse digna faciliquip el ipit, quisl dolendipisl ea accummolobor sustin henit prat vulla</p>
						<p>Ut adipisit nonse digna faciliquip el ipit, quisl dolendipisl ea accummolobor sustin henit prat vullaUt adipisit nonse digna faciliquip el 						ipit, quisl dolendipisl ea accummolobor sustin henit prat vullaUt adipisit nonse digna faciliquip el ipit, quisl dolendipisl ea accummolobor sustin henit prat vulla</p>

						<div style="width:200px;height:200px;background-color:#dedede;margin: 10px;"></div>
						<p class="small lightx1">Eriustie magna commy nullaorpeulla</p>
						<hr />
						<h2>Ad magna facipsum nimolortin vel ilis ad</h2>
						<p><span class="lightx1">00/00/0000</span> by Tat. Duismodolore TatieLink 1</p>
						<p>Type: Progress update</p>

						<br />
						<p>Ut adipisit nonse digna faciliquip el ipit, quisl dolendipisl ea accummolobor sustin henit prat vullaUt adipisit nonse digna faciliquip el 						ipit, quisl dolendipisl ea accummolobor sustin henit prat vullaUt adipisit nonse digna faciliquip el ipit, quisl dolendipisl ea accummolobor sustin henit prat vulla</p>
						<div style="width:200px;height:200px;background-color:#dedede;margin: 10px;"></div>
						<p class="small lightx1 spaced">Sum zzriurem erci blandre consed molore veliquatem ipis et, qui eriustie magna commy nullaorpeulla.
						(Credit: Ipisim Zzrit)</p>
						<hr />
						<p style="text-align:right;"><a href="#">Earlier updates</a></p>

				</div>
				
			</div>
<!-- /#column_1 -->

<!-- #column_2 -->
			<div id="content-right">
				
				<div class="box">
						<a href="#" class="action">Fund project</a>
						<h1 class="box_heading" style="margin: 0 0 10px 0;">Funding</h1>

						<p><a href="#">Notify me of changes via email</a></p>
						<div style="border: 1px solid #999;margin: 10px">
						<div style="width: 180px; height: 30px; background-color: #dedede;"></div>
						</div>
						<p>04/01/2008 Request posted</p>
						<p>06/01/2008 Funding started</p>
						<p>Ongoing Funding completed</p>

						<p><b>Total: <span style="margin-left: 10px">&#0128 8000</span></b></p>
						<p><a href="#" style="float: right">View details</a></p>
						<p style="margin: 10px 0 10px 0;"><b>Current Funders</b></p>
						<img src="/productions/akvo.org/2008_06_03a/images/waste.png" alt="type" style="margin: 10px 20px 10px 20px; width: 150px" />
						<p><a href="#">WASTE</a></p>
						<p>Delft, The Netherlands</p>

						<p style="margin:10px 0"><b>Grant: <span style="margin-left: 10px">&#0128 8000</span></b></p>
						<hr />
						<div style="width: 50px; height: 50px; background-color: #dedede; margin: 10px;"></div>
						<p><a href="#">Re Velis Nummy Num Dipsusto</a></p>
						<p>Num Veliqua</p>
						<p>Facilit am Nulla Feugait</p>

						<p style="margin:10px 0"><b>Grant: <span style="margin-left: 10px">&#0128 1234567890</span></b></p>
				</div>
				
				<div class="box">
						<a href="#" class="action">Become a partner</a>
						<h1 class="box_heading" style="margin: 0 0 10px 0;">Partners</h1>
						<p style="margin: 10px 0 10px 0;"><b>Field partner</b></p>
						
						    <div style="width: 50px; height: 50px; background-color: #dedede; margin: 10px;"></div>
						    <p><a href="#">Partner name</a></p>
						    <p>Region, country</p>

						<hr />
						<p style="margin: 10px 0 10px 0;"><b>Support partner</b></p>
						<div style="width: 50px; height: 50px; background-color: #dedede; margin: 10px;"></div>
						<p><a href="#">Re Velis Nummy Num Dipsusto</a></p>

						<p>Num Veliqua</p>
						<p>Facilit am Nulla Feugait</p>
				</div>

				<div class="box">
					<h1 class="box_heading" style="margin: 0 0 10px 0;">Track project</h1>
					<p><a href="#">Printable version</a></p>

					<p><a href="#">Permalink to this project</a></p>
					<p><a href="#">Email this project's owner</a></p>
				</div>

			</div>
<!-- /#column_2 -->



<!-- #footer -->
			<div id="footer">
			<p>Site content under <a href="#">Open License</a> | <a href="#">Terms of use</a> | <a href="#">Privacy policy</a> | 
			Prototype funding by <a href="#">Partners voor Water and others</a><span style="float:right"><a href="#">Contact us</a></span></p>
			</div>
<!-- /#footer -->


</div> <!-- #container -->
</div> <!-- #outer_wrapper -->

</body>
</html>
