{% extends "rsr/rsr_base.html" %}

{% block content %}

<div class="boxbody">

<div class="clearfix">
<div class="form_error" style="margin-right: 70px">
<p><b>A problem occurred</b></p>
<p>Please review messages below.</p>
</div> <!-- .form_error -->

<h1 class="section" style="font-size: 1.4em;">Setup your account</h1>
<p class="lightx2">Step 2 of 2</p>
</div> <!-- .clearfix -->

<hr />

<fieldset class="form">

<div id="username" class="clearfix">
<label>Enter a username</label>
<div class="form_error">
<p><b>A problem occurred</b></p>
<p>User name already taken. Please 
select another and try again.</p>
</div> <!-- .form_error -->
<input class="input" name="input" style="width: 200px" />
<p class="about_field">Your user name will be permanent. Use this to log into Akvo.</p>
</div> <!-- #username -->
<hr />

<div id="fist_last_names" class="clearfix">
<label>Enter your first and last name</label>
<div class="form_error">
<p><b>A problem occurred</b></p>
<p>User name already taken. Please 
select another and try again.</p>
</div> <!-- .form_error -->
<input class="input" name="input" style="width: 200px" />
<p class="about_field">Enter first (given) name.</p>
<input class="input" name="input" style="width: 200px" />
<p class="about_field">Enter last (family) name.</p>
<p class="about_field_extended">Your first and last name will be displayed when you post 
comments or updates to Akvo.</p>
</div> <!-- #fist_last_names -->
<hr />

<div id="password" class="clearfix">
<label>Enter a password</label>
<div class="form_error">
<p><b>A problem occurred</b></p>
<p>Password is too short. Please 
select another and try again.</p>
</div> <!-- .form_error -->
<input class="input" name="input" style="width: 200px" />
<p class="about_field">Enter password.</p>
<input class="input" name="input" style="width: 200px" />
<p class="about_field">Retype password to verify.</p>
</div> <!-- #password -->
<hr />

<div id="email" class="clearfix">
<label>Enter your email address</label>
<div class="form_error">
<p><b>A problem occurred</b></p>
<p>The email address is not valid. Please 
select another and try again.</p>
</div> <!-- .form_error -->
<input class="input" name="input" style="width: 200px" />
<p class="about_field">Enter email address.</p>
<input class="input" name="input" style="width: 200px" />
<p class="about_field">Retype email address to verify.</p>
</div> <!-- #username -->
<hr />

<div style="text-align: center">
<a href="#" style="margin-right: 20px;">Cancel</a> 
<button><a class="actionbutton ab_white" href="#" onclick="this.blur();" style=" margin:0"><span>Submit</span></a></button>
</div> <!-- style -->

</fieldset>

</div> <!-- boxbody -->

{% endblock %}