{% extends "rsr/rsr_base.html" %}

{% block content %}

<div class="boxbody">
<h1 class="section" style="font-size: 1.4em;">Thank you!</h1>
<hr />
<div style="margin: 40px auto 50px auto; width: 400px;">
<h2 class="paddedbottom">Please check your email account</h2>
<p class="lightx2">A confirmation will be sent to you via email. Please click the link in the email to 
complete the setup of your account.</p>
</div> <!-- style -->
<hr />
<div style="text-align: center; margin: 20px 0 20px 0"><a href="#">Back to Akvo home</a></div>
</div> <!-- boxbody -->

<div class="boxbody">
<h1 class="section" style="font-size: 1.4em;">Account Setup Complete</h1>
<hr />
<div style="margin: 40px auto 50px auto; width: 400px;">
<h2 class="paddedbottom">Welcome to Akvo!</h2>
<p class="lightx2">You may now post updates to your organisation's projects, and post comments on 
any project page within Akvo.</p>
<br />
<p class="lightx2">Note:</p>
<p class="lightx2">Currently, if you wish to post comments on the Akvo blog or create or edit Akvopedia 
articles, you must still create accounts in each of those specific areas. For more 
information, <a href="#">click here</a>.</p>
</div> <!-- style -->
<hr />
<div style="text-align: center; margin: 20px 0 20px 0"><a href="#">Back to Akvo home</a></div>
</div> <!-- boxbody -->

<div class="boxbody">
<h1 class="section" style="font-size: 1.4em;">Account Setup Incomplete</h1>
<hr />
<div style="margin: 40px auto 50px auto; width: 400px;">
<h2 class="paddedbottom">We're sorry, there has been a problem setting up your account.</h2>
<p class="lightx2">Please <a href="#">click here</a> to send an email to the Akvo system administrator.</p>
</div> <!-- style -->
<hr />
<div style="text-align: center; margin: 20px 0 20px 0"><a href="#">Back to Akvo home</a></div>
</div> <!-- boxbody -->

{% endblock %}