<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style type="text/css">
	</style>	
	<title>Test</title>
</head>

<body>
	
	<div style="border: 1px solid #999; margin: 5px 0 5px 0; padding: 5px;" class="clearfix">
	    <img style="width: 100%;" src="/rsr/media/img/test.png" alt="test"/>
    	<div style="position:absolute; top: 30px; right: 20px; color: red;">&#8364; 00000</div>
    	<div style="position:absolute; top: 30px; left: 20px; background-color: transparent;">&#8364; 00000</div>
	</div>
	
</body>

</html>