driverName=com.mysql.jdbc.Driver
connectionUrl=jdbc:mysql://localhost/teamcity
connectionProperties.user=teamcity
connectionProperties.password=[some_db_password]

maxConnections=50

connectionProperties.useLocalSessionState=true
connectionProperties.elideSetAutoCommits=true
connectionProperties.alwaysSendSetIsolation=false

connectionProperties.characterEncoding=UTF-8
