.access-section{
  padding-bottom: 30px;
  .ant-radio-group{
    display: flex;
  }
  .ant-radio-button-wrapper{
    flex: 1;
    line-height: 40px;
    height: 70px;
    padding-left: 10px;
    .anticon{
      font-size: 16px;
    }
    &:not(:last-of-type){
      // border-right: 1px solid #dedede;
      padding-right: 10px;
      margin-right: 0;
    }
    p{
      font-size: 12px;
      margin-bottom: 0;
      margin-top: -15px;
      padding-bottom: 0;
    }
  }
  ul{
    margin-top: 20px;
    li{
      display: flex;
      padding: 7px;
      &:not(:last-of-type){
        border-bottom: 1px solid #dedede;
      }
      align-items: center;

      &>.text{
        flex: 1;
        margin-top: 4px;
        p{
          margin-bottom: 5px;
        }
      }
      .ant-select{
        width: auto;
        // margin-top: 10px;
      }
    }
  }
}

.invite-user-modal{
  .ant-collapse{
    margin-top: 15px;
  }
  h5{
    // margin-top: 15px;
  }
  ul{
    margin-top: -10px;
    margin-bottom: -10px;
    li{
      border-bottom: 1px solid #dedede;
      display: flex;
      line-height: 50px;
      &:last-child{
        border-bottom: none;
      }
      .role{
        opacity: 0.6;
        font-size: 12px;
      }
      .ant-btn{
        margin-left: auto;
        margin-top: 10px;
      }
    }
  }
}

.roles-dropdown{
  .ant-dropdown-menu-item:not(:last-child){
    border-bottom: 1px solid #f1f1f1;
  }
  .ant-dropdown-menu-item:last-child{
    .anticon{
      color: red;
    }
  }
  small{
    opacity: 0.6;
    margin-top: -3px;
    display: block;
  }
}