{% extends "rsr/base.html" %}
{% load i18n %}

{% block inline_styles %}
.form_error {
    float: right;
    width: 250px;
    background-color: #FFEBE7;
    border: 1px solid #FFCDD1;
    padding: 10px;
    color: red;
    margin-right: 20px;
}
{% endblock inline_styles %}

{% block content %}
	<div class="span-18 last">
		<div class="push-3 span-12 first last">
			<form id="" class="" method="post" action="#">
			    <fieldset>
			        <legend>{% trans 'Set up your account - Step 2' %}</legend>
        {% if form.errors %}
        <ul>
            <li class="clearfix">
                <div class="form_error" style="width: 546px;">
                    <h2 style="color: red;">{% trans 'Error when registering' %}</h2>
                {% if form.non_field_errors %}
                    {{ form.non_field_errors|join:"," }}
                {% else %}
                    {% trans 'Please review messages below.' %}
                {% endif %}
                    
                </div>
            </li>
        </ul>
        {% endif %}
			        <ul>
			            <li class="clearfix">
                            <label for="id_username">
                                {% trans 'Enter a username' %}
                            </label>
                            {% if form.username.errors %}
                                <div class="form_error">
                                    {{ form.username.errors|join:", " }}
                                </div>
                            {% endif %}
							{{ form.username }}
                            <p class="small">
                                {% trans 'Your user name will be permanent. Use this to log into Akvo.' %}
                            </p>
                            <p class="small">
                                {% trans 'Remember that user names as well as passwords are case sensitive.' %}
                            </p>
                            <hr />
			            </li>
			            <li class="clearfix">
                            <label for="id_first_name">
                                {% trans 'Enter your first and last name' %}
                            </label>
                            {% if form.first_name.errors %}
                                <div class="form_error">
                                    {{ form.first_name.errors|join:", " }}
                                </div>
                            {% endif %}
							{{ form.first_name }}
                            <p class="small">{% trans 'Enter first (given) name.' %}</p>
                            {% if form.last_name.errors %}
                                <div class="form_error">
                                    {{ form.last_name.errors|join:", " }}
                                </div>
                            {% endif %}
							{{ form.last_name }}
                            <p class="small">
                                {% trans 'Enter last (family) name.' %}
                            </p>
                            <p class="small">
                                {% trans 'Your first and last name will be displayed when you post comments or updates to Akvo.' %}
                            </p>
                            <hr />
			            </li>
			            <li class="clearfix">
                            <label for="id_password1">
                                {% trans 'Enter a password' %}
                            </label>
                            {% if form.password1.errors %}
                                <div class="form_error">
                                    {{ form.password1.errors|join:", " }}
                                </div>
                            {% endif %}
							{{ form.password1 }}
                            <p class="small">{% trans 'Enter password' %}.</p>
                            {% if form.password2.errors %}
                                <div class="form_error">
                                    {{ form.password2.errors|join:", " }}
                                </div>
                            {% endif %}
							{{ form.password2 }}
                            <p class="small">{% trans 'Retype password to verify' %}.</p>
                            <hr />
			            </li>
			            <li class="clearfix">
                            <label for="id_email">
                                {% trans 'Enter your email address' %}
                            </label>
                            {% if form.email.errors %}
                                <div class="form_error">
                                    {{ form.email.errors|join:", " }}
                                </div>
                            {% endif %}
							{{ form.email }}
                            <p class="small">{% trans 'Enter email address.' %}</p>
                            {% if form.email2.errors %}
                                <div class="form_error">
                                    {{ form.email2.errors|join:", " }}
                                </div>
                            {% endif %}
							{{ form.email2 }}
                            <p class="small">{% trans 'Enter email address.' %}</p>
                            <hr />
			            </li>
						<li class="clearfix">
                            <div style="float:right; margin-top: 20px;">
    							<a style="vertical-align: baseline;" href="{% url index %}">{% trans 'Cancel' %}</a>
    							<input style="display: inline; margin:0 20px 0 20px; vertical-align: baseline;" type="submit" name="some_name" value="{% trans 'Continue' %}" id="some_name">
                            </div>
						</li>
			        </ul>
					
			    </fieldset>
			    <input type="hidden" name="next" value="{{ next }}" />
			</form>
		</div>
	</div>
	<div class="clear"></div>	
{% endblock content %}