body {
  background-color: #FBFBFC;
}
.whitebox {
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
}
.pagination {
  background-color: #E5E5E9;
  text-align: right;
  padding: 10px;
}
article {
  float: left;
  max-width: 700px;
}
aside {
  float: right;
  width: 250px;
}
.money_blue_background {
  border-style: solid;
  border-color: #96d7f9;
  border-width: 1px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #00ffff;
  /* for non-css3 browsers */

  /* Safari 4-5, Chrome 1-9 */

  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0ab9fd), to(#0094fb));
  /* Safari 5.1, Chrome 10+ */

  /*    background: -webkit-linear-gradient(top, #0AB9FD, #0094Fb);*/

  /* Firefox 3.6+ */

  background: -moz-linear-gradient(top, #0ab9fd, #0094fb);
  /* IE 10 */

  background: -ms-linear-gradient(top, #0ab9fd, #0094fb);
  /* Opera 11.10+ */

  background: -o-linear-gradient(top, #0ab9fd, #0094fb);
}
.status_large {
  -khtml-border-radius: 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  font-size: 1.2em;
  padding: 5px 10px;
}
