a { 
    color:#2B80AF;
    cursor:pointer;
    text-decoration:none;
    }
    
a:visited { color:#2B80AF; }
a:hover { color:#0FA0CB; text-decoration: underline; }



#breadcrum_back {
    background-color: #EFF3F5;
    border: 1px solid #D6D7DD;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px;
    border-radius: 2px;
    }

ul#breadcrum {
    margin: 0; 
    padding: 0;
    }
    
ul#breadcrum li {
    list-style: none;
    display: inline;
    margin: 0; 
    padding: 0;
    }
    
ul#breadcrum li a {
    display: block;
    float: left;
    margin: 0; 
    padding: 0;
    }
    
ul#breadcrum li a span {
    background: transparent url('../../../akvo/img/breadcrum.png') no-repeat right;
    display: block;
    height: 23px;
    margin: 0;
    padding: 0;
    /*padding-top: 1px;*/
    padding-top: 3px;
    padding-right: 20px;
    padding-left: 12px;
    font-size: 12px;
    }

#last_breadcrum_item {
    display: block;
    color: #3D414B;
    height: 23px;
    margin: 0; 
    padding: 0;
    padding-top: 1px;
    padding-right: 20px;
    padding-left: 12px !important;
    font-size: 12px;
    }


.image-grid {
  margin: -20px 0 0 -40px;
  padding-left: 45px;
  width: 840px;
    }

.image-grid:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
    }

.image-grid li {
  width: 128px;
  margin: 20px 0 0 35px;
  float: left;
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 17px;
  color: #686f74;
  height: 177px;
  overflow: hidden;
    }

.image-grid li img,
.image-grid li strong {
  display: block;
    }

.image-grid li strong {
  color: #888;
  font-size:11px !important;
    }
