
/* .container and .clear from Blueprint http://code.google.com/p/blueprintcss/ */

.container {
    width: 975px;
    margin: 0 auto;
    }

div.two_col_left {
    float:left;
    width:475px;
    }

div.two_col_right {
    float:right;
    width:475px;
    }

div.three_col_left {
    float:left;
    width:309px;
    }

div.three_col_center {
    float:left;
    width:309px;
    margin-left:23px;
    }

div.three_col_right {
    float:right;
    width:309px;
    }

.clearfix:after, .container:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
    }
.clearfix, .container {display: inline-block;}
* html .clearfix,
* html .container {height: 1%;}
.clearfix, .container {display: block;}
.clear { clear:both; }

a {
    color:#2B80AF;
    cursor:pointer;
    text-decoration:none;
    }

a:visited { color:#2B80AF; }
a:hover { color:#0FA0CB; text-decoration: underline; }
