h1 {
	text-transform: none;
	font-weight: normal;
	font-family: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: rgb(44,42,116);
	font-size: 2.9em;
	line-height: 1.2em;/*	text-shadow: 1px 2px 0 rgb(222, 137, 41);
*/
    margin: 0;
}
/* Lined behind Header. */

.backLined {
	position: relative;
	margin: 0.75em auto;
	padding: 0;
	text-align: center;
	text-shadow: none;
}

.strongType {
	font-family: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:1.8em;
	line-height:1.2em;
}

.twoColumns {
	position: relative;
	margin: 1px auto 0 auto;
}

.twoColumns > div {
position: relative;
float: left;
margin: 0 0.5%;
padding: 2%;
width: 44%;
}

.twoColumns > div:last-child {
margin: 0 1% 0 0;
}

.twoColumns > div:first-child {
margin: 0 0 0 1%;
}

p {
    text-align: left;
    margin: 0.5em 0;
    padding: 0 0.5em 0 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
}