
#fundingbox_fully_funded {
    border-bottom:1px solid #888; 
    margin-bottom:5px;
    margin-left:auto; 
    margin-right:auto; 
    padding-bottom:5px;
    width:90%; 
    }

#donate_step_box {
	background: #fff url('../../img/donate/step_box_bkgd.png') repeat-x;
	border:1px solid #DFE0E6;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	width:785px;
    }

#donate_step_box_inner {
	background: transparent url('../../img/donate/step_box_line.png') repeat-x 0px 20px;
	margin-left:auto;
	margin-right:auto;
	width:750px;
	height:40px;
    }
    
.donate_steps {
	color:#8F94A3;
	float:left;
	margin-right:10px;
	padding-top:30px;
	width:140px;
	text-align:center;
	padding-bottom:0px;
	}
	
.active_donate_step {
	color:#000;
	background: transparent url('../../img/donate/step_box_ball.gif') no-repeat center 15px;
    }

#donate_step_5 {
	margin-right:0;
    }

#donate_step_box_inner p {
    font-size:0.8125em;
    line-height:1.4em;
    }

.fundingbox-table, .fundingbox-table tr, .fundingbox-table tr th, .fundingbox-table tr td  { 
    border:none;
    padding:0;
    margin:0;
    font-size:0.875em; /* 16*0.875 = 14*/
    line-height:1.4em;
    width:170px;
    }

.fundingbox-table tr th {
    padding-left:5px;
    text-align:left;
    width:100px;
    }

.fundingbox-table tr td {
    width:70px;
    text-align:right;
    padding-right:5px;
    }


.fundingbox-progress-bar {
	background-color:#ffefeb;
	border:1px solid #625e5b;
	margin:5px 9px 5px 9px;
	padding:0;
	height:12px;
	overflow:hidden;
	text-align:left;
    }

.fundingbox-progress-bar-progress {
	background-color:#00b200 !important;
	height:12px;
    }
    
.donate_details_left {
    float:left; 
    width:100px; 
    text-align:right;
    }
    
.donate_details_left p {
    color:#ccc;
    font-size:0.8125em;
    line-height:1.4em;
    margin:0;
    }
    
.donate_details_right {
    float:left;
    margin-left:10px;
    }
    
.donate_details_right p {
    font-size:0.8125em;
    line-height:1.4em;
    margin:0;
    }