table.funding_box-table  {
	width:100%;
	margin:0px;
	border:none;
	font-size:0.8125em;
}


.funding_box-table th {
	/*background-color:#ccc;*/
	/*padding:1px;*/
	padding: 2px;
	margin: 2px;
	text-align:left;
	border:none;
}

.funding_box-table td {
	/*background-color:#f2f2f2;*/
	text-align:right;
	/*padding:1px;*/
	padding: 2px;
	margin: 2px;
	font-weight:bold;
	border:none;
}

.funding_box-progress-bar {
	background-color:#ffefeb;
	border:1px solid #625e5b;
	margin:5px 0px 0px 0px;
	padding:0;
	height:12px;
	overflow:hidden;
	text-align:left;
}

.funding_box-progress-bar-progress {
	background-color:#00b200 !important;
	height:12px;
}


a.donate_button {
	background:  transparent url(../../img/project/donate_button.gif) no-repeat 0px 0px;
	color: #000 !important;
	display: block;
	font-size:0.8125em;
	height: 19px;
	width:75px;
	text-decoration: none !important;
	outline: none;
	margin-top:3px;
	margin-left:auto;
	margin-right:auto;
}
a.donate_button:hover {
    background:  transparent url(../../img/project/donate_button.gif) no-repeat 0px -23px;
	color: #000 !important;
}
a.donate_button:active {
    background:  transparent url(../../img/project/donate_button.gif) no-repeat 0px -46px;
	color: #fff !important;
}

a.donate_button span {
    display: block;
	padding:2px;
}
