#slide_box {
	width:622px;
	height:220px;
	overflow:hidden;
	position:relative;
	max-height:220px;
	}

#slider {
	position:absolute;
	width:1866px;
	height:220px;
	right:-1244px;
	}
	
.slide_box_pic {
	float:left;
	position:relative;
	width:622px;
	height:220px;
	}

#slide_box_0 {
	/*background-color:cyan;*/
	}
#slide_box_1 {
	/*background-color:yellow;*/
	}
#slide_box_2 {
	/*background-color:orange;*/
	}

a.staff_picks_link {
	border-bottom:1px solid #ccc;
	text-decoration:none;
	}
		
#staff_picks_link_0 {
	border-bottom:1px solid #888;
	}


.front_sponsor_box {
    width:321px;
    }
    
.front_sponsor_box div div {
    height:70px;
    }


/* from pvw-take2 */

.h1_companion {
  /* text that floats to the right of a h1 */
  float: right;
  margin-top: 0.5em;
  font-size: 0.8125em;
}

.small_link {
  font-size: 0.8125em;
}

#index_feature_box {
    height: 484px;
    position:relative;
    border: 0;
}

#index_feature_box .left {
    position: absolute;
    left: 0;
}

#index_feature_box .right {
    position: absolute;
    right: 0;
}

#index_feature_box .bottom {
    position: absolute;
    bottom: 0;
}

#index_feature_box .half {
    width: 322px;
}

#index_feature_box .quarter {
    width: 161px;
}

#index_feature_box .three_quarters {
    width: 484px;
}

#index_feature_box .full {
    width: 645px;
}

#index_feature_box .text_bg {
    background: transparent url(../../img/backgrd_lt_grey.png) repeat;
    padding: 20px;
}

#index_feature_box h1 {
    font-size: 1.875em;
}

#index_feature_box a, #index_feature_box h1, #index_feature_box h3, #index_feature_box h5 {
    color: yellow;
}

#index_feature_box p {
    font-size: 1em;
    margin-bottom: .5em;
}

#index_feature_box p.last {
    margin: 0;
    padding: 0;
}


#preview_cover {
    z-index: 5000;
    filter: alpha(opacity=20); /*older IE*/
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20); /* IE */
    -moz-opacity: .20; /*older Mozilla*/
    -khtml-opacity: 0.2;   /*older Safari*/
    opacity: 0.2;   /*supported by current Mozilla, Safari, and Opera*/
    background-color:#000000;
    position:fixed; top:0px; left:0px; width:100%; height:100%; text-align:center; vertical-align:middle;    
}

#preview_alert {
    z-index: 6000;
    position:fixed; top:20%; left:0px; width:100%; text-align:center; vertical-align:middle;
    font-size: 500%;    
}

.top_of_box {
    display: inline;
    vertical-align: baseline;
}

#index_new_box {
    background-color: #f1f1f1;
    margin-bottom:15px;
    }

#index_new_box div {
    padding-left: 15px;
    }

#index_new_box div h3 {
    display: inline;
    }

#index_right_top {
    background:url(../../img/earth-300x78.png) no-repeat bottom;
    height: 361px;
    }

#index_right_top p, #index_right_top h1, #index_right_top h2, #index_right_top h3, #index_right_top h4 {
    color: #333;
    }

#index_right_top div h2 {
    font-size: 1.375em;
    }
    
#index_right_top div p, hr {
    margin-bottom: 0.7em;
    }
    
#index_right_now_box {
      background-color: #3679b0;
      background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#3679b0), to(#7384a7));
      background-image: -moz-linear-gradient(0% 50% 270deg,#3679b0, #7384a7);
      border-bottom-left-radius: 2px 2px;
      border-bottom-right-radius: 2px 2px;
      border-top-left-radius: 2px 2px;
      border-top-right-radius: 2px 2px;
      margin-top:15px;
    }

#index_right_now_box h1 {
    color: #5DFF51;
    padding:20px 20px 0 20px;
    }

#index_right_now_box div h1 {
    color:#fff;
    }
    
.right_now_blue ,a.right_now_blue { color: #21ffff; }

