#project_status {
    background-color:#2096F5; /* fallback color */
    background-image:-moz-linear-gradient(100% 100% 90deg, #2D80AE, #2096F5);
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#2096F5), to(#2D80AE));
    color:#fff;
    margin-bottom:20px;
    -khtml-border-radius:5px;
    -moz-border-radius:5px; 
    -webkit-border-radius:5px;
    border-radius:5px;
    }
    
#project_status div {
    
    }
    
/* Color is set in the models file */
.status_large {
    padding:5px 10px;
    -khtml-border-radius:13px;
    -moz-border-radius:13px; 
    -webkit-border-radius:13px;
    border-radius:13px;
    font-size:1.2em;
    }
    
.project_budget_table, .project_budget_table tr, .project_budget_table tr td {
    border:none;
    }

.project_budget_table tr td {
    padding-top:0;
    }


div#gallery_box {
	background-color:#fff;
	overflow:hidden; 
	position:relative; 
	height:125px;
	width:325px;
	max-width:325px;
	border:2px solid #ccc;
	}
	
#gallery_box_controller {
    margin-top:5px;
    margin-right:5px;
    float:right; 
    width:42px;
    height:21px;
    background: transparent url(../../img/minigallery/arrows.png) no-repeat;
    }

#gallery_box_controller_prev {
    width:21px;
    height:21px;
    float:left;
    }

#gallery_box_controller_next {
    width:21px;
    height:21px;
    float:left;
    }

	
/* width is calculated in the view and defined inline*/
div#gallery_box_slider {
	position:absolute;
	height:90px;
	left:0;
	padding-left:2px;
	}
	
#gallery_box_slider img {
	float:left;
	}

.gallery_links_container > div {
	border:3px solid #ccc;
	float:left;
	margin:5px;
	}

#benchmarks {
    height:200px;
    overflow:hidden;
  }
