#project_search {
    background-color: #D3F1FE;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px;
    border-radius: 2px;
    }

table#projects {
  border: 0;
  border-bottom: 1px solid #b8b8bf;
  margin: 0;
  font-size: 100%; 
  width: 973px;
}

#projects th {
  border: 0;
  border-bottom: 1px solid #b8b8bf;
  border-right: 1px solid #b8b8bf;
  border-top: 1px solid #b8b8bf;
  padding: 10px;
  font-weight: normal;
  background: EAECEF;
  background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#EFF3F5), to(#EAECEF));
  background: -moz-linear-gradient(90deg, #EAECEF, #EFF3F5);
}

#projects th a {
  font-size: 0.8125em;  
}

#projects th.activeTableHeaderAsc {
  background: DEE0E3;
  background-image:  -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EDEFF2), to(#DEE0E3));
  background: -moz-linear-gradient(90deg, #DEE0E3, #EDEFF2);
}
 
div.activeTableHeaderAsc {
  background: url('../../img/table/header_up_arrow.gif') no-repeat scroll right;  
  font-weight:bold !important;
}

#projects th.activeTableHeaderDesc {
  background: DEE0E3;
  background-image:  -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EDEFF2), to(#DEE0E3));
  background: -moz-linear-gradient(90deg, #DEE0E3, #EDEFF2);
}

div.activeTableHeaderDesc {
  background: url('../../img/table/header_down_arrow.gif') no-repeat scroll right;
  font-weight:bold !important;
}

#projects td {
  border: 0;
  border-top: 1px solid #b8b8bf;
  padding: 0;
}

#projects tr:hover {
  background: #F4F8FA;
  background: -moz-linear-gradient(90deg, #F4F8FA, #F9FDFF);
  background-image:  -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9FDFF), to(#F4F8FA));
}

.name_col {
  width: 343px;
}

.org_name_col {
  width: 364px;
}
.colgroup {
  width: 105px;
}

.td-text {
  margin: 10px;
  font-size:0.8125em;
  line-height:1.2em;
  margin-bottom:0.75em;
}

#projects th div {
  padding: 10px;
}

.blue_tint {
  background-color:#F1F5FA;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0F4F9), to(#FFFFFF), color-stop(.6,#FFFFFF));  
}

.pagination {
  background: #E5E5E9;
  padding: 10px;
  margin: 0;
  text-align: right;
}

.pagination span, .pagination a {
  font-size:0.8125em;  
}
.disabled {
  color: #3D414B;
}