@import "./vars.scss";

h1.text-3xl {
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;
}
#rsr-home-page {
  .ant-btn,
  span.ant-typography {
    font-family: $font-family;
  }
  div.ant-typography {
    font-family: $font-family;
    font-size: $font-size-md;
    line-height: 24px;
  }
  .ant-typography {
    color: $black;
    &.ant-typography-secondary {
      color: #9b9b9b;
    }
  }
  h1.ant-typography,
  h2.ant-typography,
  h3.ant-typography {
    font-family: $font-family-heading;
    font-weight: $font-weight-bold;
    font-size: $heading-size-md;
    line-height: 48px;
    letter-spacing: -0.02em;
  }
  .rsr-row {
    &:nth-child(even) {
      background-color: $white;
    }
    &:nth-child(odd) {
      background-color: $white-secondary;
    }
    [class="ant-col"] {
      &:first-of-type {
        padding: 45px 0;
      }
    }
  }
  .rsr-btn-external {
    font-family: $font-family;
    border-radius: 0;
    line-height: normal;
  }
  .rsr-hero {
    h1.text-6xl {
      line-height: 72px;
      mark {
        color: $white;
        font-family: $font-family-heading;
        font-weight: $font-weight-bold;
        background: $primary-gradient-700-600;
      }
    }
    .ant-typography {
      &.text-lg {
        color: $black;
      }
    }
    .image-sm {
      opacity: 0;
      margin-top: -210px;
    }
    .image-lg {
      display: block;
    }
  }
  .feature-items {
    list-style: disc;
    line-height: 32px;
    color: $black;
    font-size: $font-size-md;
    font-family: $font-family;
  }
  .rsr-social-icons {
    a {
      color: #323232;
      &:hover {
        color: $primary-700;
      }
      .anticon svg {
        width: 1.5em;
        height: 1.5em;
      }
    }
  }
  .highlight {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    .highlight-item {
      height: 380px;
      border-radius: $border-radius;
      .number {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 80px;
        height: 60px;
        background: $primary-700 0% 0% no-repeat padding-box;
        border-radius: 4px 0px 0px 0px;
        display: flex;
        justify-content: end;
        h3 {
          margin: auto 10px;
          font: normal normal bold 34px/45px "Roboto Condensed";
          color: $white;
        }
      }
    }
  }
  .footer-summary div.ant-typography {
    text-align: left;
    color: $black;
    font-weight: $font-weight-medium;
    font-size: $font-size-xs;
    line-height: 16px;
  }
  #rsr-footer-home a > .ant-typography:hover {
    color: $primary-700;
  }
}

#how-it-works {
  .ant-card {
    height: 366px;
    box-shadow: $box-shadow-md;
    .ant-card-body {
      padding: 48px 24px;
    }
    .ant-card-meta-detail {
      & > div:not(:last-child) {
        margin-bottom: 24px;
      }
      .ant-card-meta-title {
        font: normal normal bold 20px/24px Roboto Condensed;
        letter-spacing: 0px;
        color: $black;
      }
      .ant-card-meta-description {
        font-family: $font-family;
        font-style: normal;
        font-weight: $font-weight-normal;
        font-size: $font-size-sm;
        line-height: 24px;
        /* or 171% */
        text-align: center;
        color: $black;
      }
    }
  }
  .ant-avatar {
    &.ant-avatar-icon {
      background-color: $primary-25;
      color: $primary-700;
      position: absolute;
      top: 35%;
      right: -30px;
      z-index: 1;
      box-shadow: $box-shadow-md;
    }
  }
  .workflow-md {
    display: none;
  }
}
#rsr-monitor-the-impact {
  .ant-row-flex {
    .SVGInline {
      &.image-sm {
        opacity: 0;
        & > svg {
          width: 100%;
          height: 0;
        }
      }
    }
  }
  .ant-col {
    .image-lg {
      display: block;
    }
  }
}
#rsr-features {
  .ant-collapse-icon-position-right {
    margin-top: 64px;
    .ant-collapse-item {
      margin-bottom: 8px;
    }
    & > .ant-collapse-item {
      background: $white;
      & > .ant-collapse-header {
        padding: 24px;
        height: 64px;
        font-family: $font-family-heading;
        font-size: $font-size-xl;
        box-shadow: $box-shadow-md;
        .ant-collapse-arrow {
          svg {
            color: $primary-700;
            font-weight: 800;
            width: 18px;
            height: 18px;
          }
        }
      }
      &.ant-collapse-item-active {
        & > .ant-collapse-header {
          box-shadow: none;
        }
      }
      .ant-collapse-content-box {
        font-family: $font-family;
        font-size: $font-size-sm;
        line-height: 24px;
      }
    }
  }
  .feature-items {
    padding-left: 16px;
  }
  .feature-collapsible {
    padding: 0 16px;
  }
}
#rsr-contact-form .ant-col > * {
  margin-bottom: $margin-default;
}
#rsr-contact-form {
  background: $primary-gradient-700-600;
  padding-top: 3em;
  .ant-typography {
    color: $white;
  }
  div.ant-typography {
    font-size: 16px;
  }
  .ant-input,
  .ant-btn {
    border-radius: 0;
  }
  .ant-input {
    border: 1px solid $white;
    &::placeholder {
      font-family: $font-family;
    }
  }
  .ant-btn-primary {
    background: transparent;
    border: 2px solid $white;
    &:hover {
      background: $primary-700;
    }
  }
}

#rsr-active-projects {
  padding-top: 50px;
  .active-projects-header {
    padding: 0 25px;
  }
  .active-projects-content {
    border-top: 1px solid #e8e8e8;
  }
  .project-list-items {
    height: 600px;
    overflow-y: scroll;
    a {
      .ant-typography {
        color: $primary-700;
        margin-bottom: 1em;
        font-family: "Roboto Condensed";
        font-weight: normal;
      }
      .locations {
        &.ant-typography {
          color: $black;
        }
      }
      .item-image {
        width: 100%;
        height: 125px;
        object-fit: cover;
      }
    }
    .ant-list {
      .ant-skeleton {
        padding: 8px;
      }
    }
    .ant-list-footer {
      .btn-load-more {
        display: none;
      }
    }
  }
  .ant-divider-horizontal {
    margin: 24px 0 0 0;
  }
  .projects {
    opacity: 0;
    display: none;
    transition: opacity 0.3s;
    &.on {
      opacity: 1;
      display: block;
    }
  }
  #map-view {
    display: block;
    .expander {
      position: absolute;
      top: calc(50% - 35px);
      z-index: 2;
      left: 0;
      width: 17px;
      height: 70px;
      background-color: #676767;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &.on {
        .anticon {
          transform: rotate(180deg);
        }
      }
    }
  }
}

#rsr-partners {
  .slick-slide {
    width: 180px;
    .partner-item img {
      width: 100%;
    }
  }
  .partner-navigation {
    width: 40px;
    height: 40px;
    z-index: 999;
    background-color: $primary-25;
    box-shadow: $box-shadow-md;
    color: $primary-700;
  }
}

#rsr-case-studies {
  .ant-carousel {
    .slick-dots {
      text-align: left;
      li {
        width: 12px !important;
        margin: 0 8px;
        button {
          width: 12px !important;
          height: 12px !important;
          border-radius: 50% !important;
          border: 2px solid $primary-700 !important;
          box-sizing: border-box;
          background-color: transparent;
        }
        &.slick-active {
          button {
            background-color: $primary-700 !important;
          }
        }
      }
    }
    .slick-slider {
      height: 320px;
    }
    .btn-read-more {
      padding: 8px 16px;
      height: 50px;
      border: 2px solid transparent;
      &:hover {
        border: 2px solid $primary-700;
        border-radius: 0;
        background-color: #fff;
      }
    }
    .highlight > .highlight-item {
      height: 280px;
    }
  }
}
