.svg-marker{
  width: 30px;
  height: 40px;
  svg{
    width: 30px;
    path{
      fill: #000;
    }
  }
}
.cluster-marker{
  min-width: 30px;
  min-height: 30px;
  background-color: #666;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.lang-menu{
  margin-left: -12px;
  img{
    height: 14px;
  }
}
#map-view{
  header{
    height: 84px;
    display: flex;
    padding: 25px 15px 10px;
    border-bottom: 1px solid #e9e9e9;
    img{
      // width: 201px;
      margin-right: 15px;
      max-height: 50px;
      margin-top: -17px;
    }
    .ant-input-affix-wrapper{
      width: 224px;
      min-width: 170px;
      height: 33px;
    }
    .filters{
      // margin-left: auto;
      display: flex;
      height: 34px;
      align-items: center;
      position: relative;
      .filters-btn{
        background-color: #000;
        color: #fff;
        height: 32px;
        margin-left: 10px;
        margin-right: 15px;
        border-radius: 4px;
        padding-right: 15px;
        cursor: pointer;
        transition: all .2s ease-out;
        border: 1px solid #000;
        .SVGInline{
          margin-left: 6px;
          transform: translateY(6px);
          margin-right: 7px;
          display: inline-block;
          svg{
            width: 20px;
            circle{
              fill: #000;
              stroke: #fff;
              transition: all .2s ease-out;
            }
            line{
              stroke: #fff;
              transition: all .2s ease-out;
            }
          }
        }
        &.open{
          background-color: #fff;
          border: 1px solid #888;
          color: #888;
          .SVGInline svg{
            circle{
              fill: #fff;
              stroke: #888;
            }
            line{
              stroke: #888;
            }
          }
        }
      }
      .filters-dropdown-bg{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;height: 100%;
        z-index: 9;
      }
      #scroll-top-btn{
        position: absolute;
        bottom: 15px;
        right: 15px;
      }
      .filters-dropdown{
        position: absolute;
        left: calc(-180px + 75px);
        top: 54px;
        background-color: #fff;
        z-index: 10;
        width: 360px;
        border-radius: 4px;
        filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 0px 4px);
        max-height: calc(100vh - 95px);
        &:before{
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0px 8px 16px 8px;
          border-color: transparent transparent #fff transparent;
          position: absolute;
          top: -16px;
          left: calc(50%);
        }
        ul{
          padding-bottom: 0;
          margin-bottom: 0;
        }
        li{
          line-height: 24px;
          padding: 8px 20px;
          // padding: 0 20px;
          display: flex;
          cursor: pointer;
          &:hover{
            color: #269ac1;
          }
          .anticon{
            // margin-left: auto;
            margin-top: 5px;
          }
          &:not(:last-of-type){
            border-bottom: 1px solid #eee;
          }
          &>div{
            margin-left: auto;
            display: flex;
            min-width: 20px;
            justify-content: flex-end;
            align-self: center;
            transform: translateY(-2px);
          }
          .selected{
            // margin-left: auto;
            color: #64aa8d;
            font-weight: 500;
            margin-right: 15px;
          }
          span{
            display: inline;
          }
          &.hidden{
            display: none;
          }
        }
        .hider{
          width: 100%;
          overflow-x: hidden;
          overflow-y: scroll;
          max-height: calc(100vh - 100px);
        }
        .holder{
          width: 720px;
          display: flex;
          &>*{
            width: 360px;
            min-width: 360px;
          }
        }
        .sub{
          // [type=text]{
          //   margin: 5px 15px;
          //   width: calc(100% - 30px);
          // }
          .search-bar{
            .ant-input-search{
              width: calc(100% - 30px);
              margin: 5px 15px;
              height: 30px;
            }
          }
          .top{
            display: flex;
            margin-top: 3px;
            .ant-btn{
              color: #000;
            }
            .selected{
              margin-left: auto;
              margin-right: 15px;
              margin-top: 5px;
              color: #64aa8d;
              font-weight: 500;
            }
            &.breadcrumbs{
              display: flex;
              margin-bottom: 5px;
            }
            .step{
              height: 34px;
              flex: 1;
              line-height: 34px;
              display: flex;
              background-color: #f6f6f6;
              color: #000;
              font-weight: 500;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              cursor: pointer;
              &:first-child{
                max-width: 60px;
                flex: auto;
              }
              .SVGInline{
                transform: translateX(-1px);
              }
              &:last-child{
                background-color: #e9ecec;
                color: #9a9a9a;
                cursor: default;
              }
              .text{
                padding-left: 10px;
                flex: 1;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
          li.selected{
            font-weight: 500;
            background-color: #e9f3ef;
            color: #64aa8d;
          }
          li{
            border-bottom: none;
            margin-bottom: 4px;
            font-size: 13px;
            padding: 5px 20px;
          }
        }

        &.dropdown-enter {
          opacity: 0.01;
        }

        &.dropdown-enter.dropdown-enter-active {
          opacity: 1;
          transition: all 300ms ease-in;
        }

        &.dropdown-exit {
          opacity: 1;
        }

        &.dropdown-exit.dropdown-exit-active {
          opacity: 0.01;
          transition: all 300ms ease-in-out;
        }
      }
      .ant-tag+span{
        display: inline-block;
        transform: translateY(-1px);
      }
      .ant-btn.show-all{
        transform: translateY(1px);
      }
      .show-all{
        margin-right: -10px;
      }
      .project-count{
        font-weight: 500;
        white-space: nowrap;
        display: block;
        margin-left: 15px;
      }
      .ant-select{
        margin-left: 15px;
        min-width: 170px;
      }
    }
    .right-side{
      margin-left: auto;
      margin-top: 5px;
      .lang{
        margin-left: 10px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
    .login{
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 500;
      margin-left: 15px;
    }
    .unep-links{
      font-size: 12px;
      font-weight: 500;
      margin-left: 20px;
    }
    .ant-select-selection--single .ant-select-selection__rendered {
      margin-right: 34px;
    }
  }
  .content{
    display: flex;
    .projects{
      position: absolute;
      top: 84px;
      left: -38vw;
      transition: left .45s ease-in-out;
      background-color: #fff;
      height: calc(100vh - 85px);
      width: calc(100vw * 0.38);
      z-index: 2;
      .sort-label{
        padding-left: 20px;
        line-height: 30px;
        margin-top: 10px;
        color: rgb(155, 155, 155);
      }
      .loading-container{
        position: absolute;
        top: 0;left: 0;
        width: 100%;height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .expander{
        position: absolute;
        top: calc(50% - 35px);
        z-index: 2;
        right: -17px;
        width: 17px;
        height: 70px;
        background-color: #676767;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      &.on{
        left: 0;
        .expander .anticon{
          transform: rotate(180deg);
        }
      }
      &>ul{
        overflow: scroll;
        height: calc(100% - 40px);
        margin-bottom: 0;
        li{
          height: 135px;
          a{
            height: 100%;
            padding-right: 15px;
            padding-bottom: 10px;
            border-bottom: 1px solid #e9e9e9;
            padding-top: 15px;
            padding-left: 180px;
            display: flex;
            flex-direction: column;
            position: relative;
            h3{
              color: #269ac1;
              transition: color .23s ease-out;
              font-size: 17px;
              line-height: 25px;
              max-height: 80px;
              overflow: hidden;
            }
            &:hover{
              h3{
                color: #11566d;
              }
            }
          }
          position: relative;
          border: 1px solid #fff;
          transition: all .12s ease-out;
          &:before{
            width: 13px;height: 13px;
            border-radius: 7px;
            background-color: transparent;
            bottom: 10px;right: 10px;
            position: absolute;
            transition: all .12s ease-out;
            content: " ";
          }
          &.hover{
            border-radius: 3px;
            border-color: #50b2d6;
            &:before{
              background-color: #50b2d6;
            }
          }
          .img{
            width: 150px;
            height: 105px;
            background-size: cover;
            background-color: #dadada;
            position: absolute;
            left: 15px;
            top: 15px;
            .LazyLoad{
              width: 100%;height: 100%;
            }
            img{
              width: 100%;height: 100%;
              object-fit: cover;
            }
          }
          .locations{
            margin-top: auto;
            color: #000;
            opacity: 0.4;
            font-size: 12px;
            max-height: 32px;
            line-height: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        li.project-enter {
          opacity: 0.01;
          height: 0;
        }

        li.project-enter.project-enter-active {
          opacity: 1;
          height: 135px;
          transition: all 500ms ease-in;
        }

        li.project-exit {
          opacity: 1;
          height: 135px;
        }

        li.project-exit.project-exit-active {
          opacity: 0.01;
          transition: all 500ms ease-in-out;
          height: 0;
        }
      }
      footer{
        height: 41px;
        background-color: #9D9D9D;
        color: #fff;
        display: flex;
        box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.15);
        &>a{
          img{
            width: 76px;
            height: 28px;
            margin-top: 7px;
            margin-left: 15px;
          }
        }
        ul{
          display: flex;
          padding-top: 10px;
          padding-left: 7px;
          margin-bottom: 0;
          li:not(:last-of-type){
            position: relative;
            &:after{
              content: " ";
              height: 12px;
              width: 1px;
              background-color: rgba(255, 255, 255, 0.4);
              position: absolute;
              right: -0px;
              top: 5px;
            }
          }
          a{
            color: #fff;
            padding: 0 15px;
            &:hover{
              color: #000;
            }
          }
        }
      }
    }
    .projects-placeholder{
      width: 0;
      transition: width .45s ease-in-out;
      &.on{
        width: calc(100vw * 0.38);
      }
    }
  }
  #map{
    height: calc(100vh - 85px);
    flex: 1;
    position: relative;
    .legend{
      position: absolute;
      z-index: 9;
      top: 10px;left: 10px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      border: 2px solid rgba(157, 157, 157, 0.6);
      padding: 4px 5px 5px;
      .label{
        font-weight: bold;font-size: 11px;
        margin-bottom: 4px;
        margin-left: 2px;
      }
      ul{
        border-radius: 3px;
        overflow: hidden;
        display: flex;
        margin-bottom: 0;
        li{
          height: 22px;
          width: 64px;
          text-align: center;
          color: white;
          font-weight: bold;
          font-size: 11px;
          line-height: 22px;
        }
      }
    }
    #map-inner{
      width: 100%;height: 100%;
    }
    canvas{
      &:focus{
        outline: none!important;
      }
    }
    .popup{
        .popup-project {
          margin-top: 5px;
          padding-top: 5px;
          border-top: 1px solid #eee;
        }
        .popup-project:first-child {
          margin-top: 0;
          paddin-top: 0;
          border-top: none;
        }
        .title{
          font-weight: bold;
          font-size: 12px;
          line-height: 15px;
        }
        .subtitle{
          padding-top: 3px;
          font-size: 10px;
          line-height: 13px
        }
        .summary{
          padding-top: 6px;
          font-size: 11px;
          line-height: 16px;
        }
        .excerpt-hidden {
          height: 2.1rem;
          overflow: hidden;
          position: relative;
          margin-bottom: -5px;
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 21px;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 1) 100% );
          }
        }
        .excerpt-visible {
          height: auto;
          overflow: auto;
        }
        .toggle-excerpt {
          font-size: 10px;
          color: #777;
        }
        .partners {
          padding-top: 6px;
          font-size: 11px;
          line-height: 16px;
        }
    }
  }
}

#root.unep{
  header>img{
    margin-top: -25px;
    margin-right: 20px;
    width: auto;
    height: 80px;
    max-height: 80px;
  }
}
#root{
  &.rsr,&.localhost{
    header>img{
      height: 32px;
      width: 156px;
      margin-right: 13px;
      margin-top: -3px;
    }
  }
}
#root.prinsclausfonds{
  header>img{
    width: 71px;
    margin-right: 20px;
  }
}
#root.adra{
  header>img{
    width: auto;
  }
}
#root{
  &.csf-southsudan, &.earthwater, &.f4winternational, &.ghanaf4w, &.kenyaf4w, &.mozambiquef4w, &.ginks, &.iccoasia, &.icco, &.iccoindia, &.nsa, &.gietrenk, &.nso-g4aw, &.nexusheritage, &.leprosyrelief, &.nuffic, &.pind, &.planfinland, &.prfektkontor, &.wump3r, &.redticbolivia, &.rain4food, &.simavidemo, &.washmali, &.snvworld, &.sportfordevelopment, &.srhr, &.unicefpacific, &.vei, &.vnginternational, &.worldveg{
    header>img{
      max-height: 60px;
    }
  }
  &.waterforlife{
    header>img{
      max-height: 55px;
    }
  }
  &.mcf{
    header>img{
      height: 45px;
      transform: translateY(10px);
    }
    #map-view .content .projects > ul li a h3, #map-view header .login{
      color: #ee7036;
    }
    header .filters .filters-btn{
      background-color: #ee7036;
      border-color: #ee7036;
      .SVGInline svg{
        circle{
          fill: #ee7036;
        }
      }
      &.open{
        background-color: transparent;
        color: #ee7036;
        .SVGInline svg{
            circle{
              fill: #fff;
              stroke: #ee7036;
            }
            line{
              stroke: #ee7036;
            }
          }
      }
    }
  }
  &.mwc{
    header{
      &>img{
        max-height: 47px;
        margin-top: -8px;
      }
    }
  }
}
