$white: #ffffff;
$white-secondary: #F8F8FA;
$blue-primary: #2593fc;
$blue-dark: #134a7d;
$blue-tag: #85A1CB;
$blue-light: #eff3fc;
$purple-dark: #202529;
$orange: #de8929;
$black: #031B33;
$green-primary: #3B9B91; 