{% extends "rsr/base.html" %}
{% load i18n rsr_filters rsr_tags thumbnail humanize google_maps %}
{% load url from future %}


{% block title %}{{organisation.name}}{% endblock title %}

{% block head %}
  <link
    rel="alternate" type="application/rss+xml"
    title="{% blocktrans with org_name=organisation.name%}Project updates for projects partnered by {{org_name}}{% endblocktrans %}
    id="gallery" href="{% url 'rss_org_updates' organisation.id %}"
  >
{% endblock head %}

{% block breadcrum_items %}
  {{block.super}}
  <li><a href="{% url 'rsr_org_list' %}"><span>{% trans 'Organisations' %}</span></a></li>
  <li id="last_breadcrum_item">{{organisation.name}}</li>
{% endblock breadcrum_items %}

{% block maincontent %}

  <div class="two_column_left">
    {% if organisation.long_name %}
      <h1 style="margin-bottom:0px;">{{organisation.name}}</h1>
      <div style="float:right; width:20px; text-align:right;">
        <a href="{%  url 'rss_org_updates' organisation.id %}">
          <img src="{{MEDIA_URL}}core/img/icon_rss.gif" width="12" height="12" alt="RSS" title="RSS">
        </a>
      </div>
      <p class="grey">{{organisation.long_name}}, {{organisation.primary_location.country}}</p>
    {% else %}
      <div style="float:right; width:20px; text-align:right; margin-top: 10px;">
        <a href="{%  url 'rss_org_updates' organisation.id %}">
          <img src="{{MEDIA_URL}}core/img/icon_rss.gif" width="12" height="12" alt="RSS" title="RSS">
        </a>
      </div>
      <h1>{{organisation.name}}</h1>
    {% endif %}
    <div class="white_box">
      <div class="space20">
        <div style="float:left; width:196px; height:280px">
          {% org_logo organisation 100 75 'margin-bottom: 1.5em;' %}
          <h3>{% trans 'Activities' %}</h3>
          <p class="small">
            {% if organisation.is_field_partner   %}{% trans 'Field partner'   %}<br />{% endif %}
            {% if organisation.is_support_partner %}{% trans 'Support partner' %}<br />{% endif %}
            {% if organisation.is_funding_partner %}{% trans 'Funding partner' %}<br />{% endif %}
            {% if organisation.is_sponsor_partner %}{% trans 'Sponsor partner' %}<br />{% endif %}
          </p>
          <h3>{% trans 'Type' %}</h3>
          <p class="small">{{organisation.get_organisation_type_display}}</p>
          {% if organisation.url %}
            <h3>{% trans 'Website' %}</h3>
            <p class="small"><a href="{{organisation.url}}">{{organisation.url}}</a></p>
          {% endif %}
          {% if organisation.akvopedia_entry %}
            <h3>{% trans 'Akvopedia entry' %}</h3>
            <p class="small">{{organisation.akvopedia_entry}}</p>
          {% endif %}
        </div>
        <div style="float:left; width:196px; border-left:1px solid #ccc; padding-left:15px; height:280px">
          <h3>{% trans 'Location' %}</h3>
          <p class="small">
            {% if organisation.primary_location.address_1 %}{{organisation.primary_location.address_1}}<br />{% endif %}
            {% if organisation.primary_location.address_2 %}{{organisation.primary_location.address_2}}<br />{% endif %}
            {% if organisation.primary_location.postcode %}{{organisation.primary_location.postcode}}<br />{% endif %}
            {% if organisation.primary_location.city %}{{organisation.primary_location.city}}<br />{% endif %}
            {% if organisation.primary_location.state %}{{organisation.primary_location.state}}<br />{% endif %}
            {% if organisation.primary_location.country %}{{organisation.primary_location.country}}{% endif %}
          </p>

          {% if organisation.primary_location %}
            {% google_map organisation 180 135 6 %}
          {% else %}
            <p class="small" style="color: red;">{% trans 'No map available' %}</p>
          {% endif %}
        </div>
        <div style="float:left; width:196px; border-left:1px solid #ccc; padding-left:15px; height:280px">
          <h3>{% trans 'Contact' %}</h3>
          <p class="small">
            {{organisation.contact_person}}<br />
            <a href="mailto:{{organisation.contact_email}}">{{organisation.contact_email}}</a><br />
            <br />
            {% if organisation.phone %}
              <b>{% trans 'Phone' %}</b><br />
              {{organisation.phone}}<br />
              <br />
            {% endif %}
            {% if organisation.mobile %}
              <b>{% trans 'Mobile' %}</b><br />
              {{organisation.mobile}}<br />
              <br />
            {% endif %}
            {% if organisation.fax %}
              <b>{% trans 'Fax' %}</b><br />
              {{organisation.fax}}<br />
              <br />
            {% endif %}
          </p>
        </div>
        <div class="clear"></div>
        <br /><br />
        <hr />
        <h2>{% trans 'Description' %}</h2>
        <span class="small" style="font-size:1em;">{{organisation.description|linebreaks}}</span>
      </div>
    </div>
  </div>

  <div class="two_column_right">
    <div class="two_column_right_inner">
      <div class="small" style="float:left; width:130px;">
        <h2>{% trans 'Projects in Akvo' %}</h2>
      </div>
      <div class="small" style="margin:2px 0; float:right; width:130px; text-align:right;">
        <a class="small" href="{% url 'project_list' organisation.id %}">{% trans 'See all' %} &#x25BA;</a>
      </div>
      <div class="clear"></div>
      <div class="white_box">
        <div class="space20">
          <table class="org_statistics_table bottom_grey_border">
            <tr>
              <td>
                {% trans 'Active' %}
              </td>
              <td class="text_right">
                {{organisation.published_projects.status_active.count}}
              </td>
            </tr>
            <tr>
              <td>
                {% trans 'Need funding' %}
              </td>
              <td class="text_right">
                {{organisation.published_projects.status_onhold.count}}
              </td>
            </tr>
            <tr>
              <td>
                {% trans 'Complete' %}
              </td>
              <td class="text_right">
                {{organisation.published_projects.status_complete.count}}
              </td>
            </tr>
            <tr>
              <td>
                {% trans 'Cancelled' %}
              </td>
              <td class="text_right">
                {{organisation.published_projects.status_cancelled.count}}
              </td>
            </tr>
            <tr style="font-weight:bold;">
              <td>
                {% trans 'Total projects' %}
              </td>
              <td class="text_right">
                {{organisation.published_projects.count}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="small" style="margin-top:20px;">
        <h2>{% trans 'Funding' %}</h2>
      </div>
      <div class="clear"></div>
      <div class="white_box">
        <div class="space20">
          <table class="org_statistics_table">
            {% if organisation.euro_projects_count %}
              <tr>
                <td colspan="2">
                  {{organisation.euro_projects_count}}
                  {% trans 'project' %}{{organisation.euro_projects_count|pluralize:"s"}} {% trans 'in Euros' %}
                </td>
              </tr>
              <tr style="color:green;">
                <td style="width:123px;">{% trans 'Pledged' %}</td>
                <td style="width:120px; text-align:right;">
                  € {{organisation.euros_pledged|round|intcomma}}
                </td>
              </tr>
              <tr style="color:red;">
                <td>{% trans 'Still needed' %}</td>
                <td class="text_right">
                  € {{organisation.euro_funds_needed|round|intcomma}}
                </td>
              </tr>
            {% endif %}
            {% if organisation.euro_projects_count and organisation.dollar_projects_count %}
              <tr>
                <td colspan="2">
                  &nbsp;
                </td>
              </tr>
            {% endif %}
            {% if organisation.dollar_projects_count %}
              <tr>
                <td colspan="2">
                  {{organisation.dollar_projects_count}}
                  {% trans 'project' %}{{organisation.dollar_projects_count|pluralize:"s"}} {% trans 'in US Dollars' %}
                </td>
              </tr>
              <tr style="color:green;">
                <td>{% trans 'Pledged' %}</td>
                <td class="text_right">
                  $ {{organisation.dollars_pledged|round|intcomma}}
                </td>
              </tr>
              <tr style="color:red;">
                <td>{% trans 'Still needed' %}</td>
                <td class="text_right">
                  $ {{organisation.dollar_funds_needed|round|intcomma}}
                </td>
              </tr>
            {% endif %}
          </table>
        </div>
      </div>

      <div class="small" style="margin-top:20px;">
        <h2>{% trans 'Project partners' %}</h2>
      </div>
      <div class="clear"></div>
      <div class="white_box">
        <div class="space20">
          <ul class="small">
            {% if org_partners %}
              {% for partner in org_partners %}
                <li>
                  <a href="{{partner.get_absolute_url}}">{{partner.name}}</a>
                </li>
              {% endfor %}
            {% else %}
              {% trans 'No partners yet' %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock maincontent %}
