{% extends "rsr/base.html" %}
{% load webdesign addparam cache humanize i18n rsr_filters rsr_tags thumbnail counter_tags %}
{% load url from future %}


{% block title %}  
		{% if org_type = 'all' %}
			{% trans 'Organisations' %}
		{% else %}
			{% if org_type = 'funding' %}{% trans 'Funding partners' %}{% endif %}
			{% if org_type = 'support' %}{% trans 'Support partners' %}{% endif %}
			{% if org_type = 'field' %}{% trans 'Field partners' %}{% endif %}
			{% if org_type = 'sponsor' %}{% trans 'Sponsor partners' %}{% endif %}
		{% endif %}
{% endblock %}

{% block breadcrum_items %}
{{block.super}}

{% if org_type = 'all' %}
	<li id="last_breadcrum_item">{% trans 'Organisations' %}</li>
{% else %}
	<li><a href="{% url 'rsr_org_list' %}"><span>{% trans 'Organisations' %}</span></a></li>
	{% if org_type = 'funding' %}
		<li id="last_breadcrum_item">{% trans 'Funding partners' %}</li>
	{% endif %}
	{% if org_type = 'support' %}
		<li id="last_breadcrum_item">{% trans 'Support partners' %}</li>
	{% endif %}
	{% if org_type = 'field' %}
		<li id="last_breadcrum_item">{% trans 'Field partners' %}</li>
	{% endif %}
	{% if org_type = 'sponsor' %}
		<li id="last_breadcrum_item">{% trans 'Sponsor partners' %}</li>
	{% endif %}
{% endif %}


{% endblock breadcrum_items %}

{% block maincontent %}
<h1>
{% if org_type = 'all' %}
	{% trans 'Organisations' %}
{% else %}
	{% if org_type = 'funding' %}
		{% trans 'Funding partners' %}
	{% endif %}
	{% if org_type = 'support' %}
		{% trans 'Support partners' %}
	{% endif %}
	{% if org_type = 'field' %}
		{% trans 'Field partners' %}
	{% endif %}
	{% if org_type = 'sponsor' %}
		{% trans 'Sponsor partners' %}
	{% endif %}
{% endif %}
</h1>

<form action="." method="get" accept-charset="utf-8">
	<div id="project_search" class="span-18">
		<div class="round" style="border: 1px solid #ccc;">
			<div class="space15">
				<input name="q" placeholder="Filter with keywords" type="search" style="margin-left:20px;margin-top:7px;width:400px;display:inline;" value="{{ query_string|escape }}" autofocus>			
				<input type="submit" value="Filter" style="display:inline; margin-left:15px; margin-top:23px">
			</div>
		</div>
	</div>
</form>

{% cache RSR_CACHE_SECONDS organisation_directory_table request.META.PATH_INFO request.META.QUERY_STRING lang %}
<div class="span-18" style="background-color:#fff; margin-top:15px;">
	<div class="round" style="border: 1px solid #ccc;">
		<div style="background-color:#E5E5E9; padding:15px; border-bottom:1px solid #979AA5;">
			<div style="float:right;">
				<p style="margin-bottom:0;">
					{% if page.number = 1 %}
	                	{% trans 'First' %} |
	                {% else %}
						{% if org_type = 'all' %}
							<a href="{% url 'rsr_org_list' %}
						{% else %}
							<a href="{% url 'rsr_org_list_filtered' 'org_type' %}
						{% endif %}
							{% addparam 'page' 1 %}">{% trans 'First' %}</a> |
	                {% endif %}
	                {% if page.has_previous %}
						{% if org_type = 'all' %}
							<a href="{% url 'rsr_org_list' %}
						{% else %}
							<a href="{% url 'rsr_org_list_filtered' 'org_type' %}
						{% endif %}
						{% addparam "page" page.previous_page_number %}">{% trans 'Previous' %}</a> |
	                {% else %}
	                {% trans 'Previous' %} |
	                {% endif %}
	                {% if page.has_next %}
						{% if org_type = 'all' %}
							<a href="{% url 'rsr_org_list' %}
						{% else %}
							<a href="{% url 'rsr_org_list_filtered' 'org_type' %}
						{% endif %}
						{% addparam 'page' page.next_page_number %}">{% trans 'Next' %}</a> |
	                {% else %}
	                {% trans 'Next' %} |
	                {% endif %}
	                {% if page.number = page.paginator.num_pages %}
	                {% trans 'Last' %}
	                {% else %}
						{% if org_type = 'all' %}
							<a href="{% url 'rsr_org_list' %}
						{% else %}
							<a href="{% url 'rsr_org_list_filtered' 'org_type' %}
						{% endif %}
						{% addparam "page" page.paginator.num_pages %}">{% trans 'Last' %}</a>
	                {% endif %}
				</p>
			</div>
			<p style="margin-bottom:0;">
				{% blocktrans with page.start_index as page_start and page.end_index as page_end and orgs.count as o_count %}Organisations {{page_start}}-{{page_end}} of {{o_count}}{% endblocktrans %}
			</p>
		</div>
		<div class="linear_bg" style="padding:0; margin:0; border-bottom:1px solid #979AA5;">
			<div style="float:left; width:540px; text-align:center;">
				<div style="border-right:1px solid #979AA5;">
					<p style="padding:15px 0; margin:0;">
						{% if org_type = 'all' %}
							<a href="{% url 'rsr_org_list' %}
						{% else %}
							<a href="{% url 'rsr_org_list_filtered' 'org_type' %}
						{% endif %}
							{% if request_get.order_by == 'name' %}
								{% if request_get.sort == 'asc' %}
									{% addparam "order_by" "name" "sort" "desc" "last_order" order_by %}
								{% else %}
									{% addparam "order_by" "name" "sort" "asc" "last_order" order_by %}
								{% endif %}
							{% else %}
								{% if not request_get.sort %}
									{% addparam "order_by" "name" "sort" "desc" "last_order" order_by %}
								{% else %}
									{% addparam "order_by" "name" "sort" "asc" "last_order" order_by %}
								{% endif %}
							{% endif %}
						">{% trans 'Name' %}</a>
					</p>
				</div>
			</div>
			<div style="float:left; width:120px; text-align:center;">
				<div style="border-right:1px solid #979AA5;">
					<p style="padding:15px 0; margin:0;">{% trans 'Type' %}</p>
				</div>
			</div>
			<div style="float:left; width:170px; text-align:center;">
				<div style="border-right:1px solid #979AA5;">
					<p style="padding:15px 0; margin:0;">
						{% if org_type = 'all' %}
							<a href="{% url 'rsr_org_list' %}
						{% else %}
							<a href="{% url 'rsr_org_list_filtered' 'org_type' %}
						{% endif %}
							{% if request_get.order_by == 'country__name' %}
								{% if request_get.sort == 'asc' %}
									{% addparam "order_by" "locations__country__name" "sort" "desc" "last_order" order_by %}
								{% else %}
									{% addparam "order_by" "locations__country__name" "sort" "asc" "last_order" order_by %}
								{% endif %}						
							{% else %}
								{% addparam "order_by" "locations__country__name" "sort" "asc" "last_order" order_by %}
							{% endif %}
						">{% trans 'Location' %}</a>
					</p>
				</div>
			</div>
			<div style="float:left; width:141px; text-align:center;">
				<div>
					<p style="padding:15px 0; margin:0;">{% trans 'Projects' %}</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div>
			{% for o in page.object_list %}
			<div class="grey_hover" style="{#background-color:#{% cycle 'fff' 'F1F5F9' %};#} min-height:100px; {% if not forloop.last %} border-bottom:1px solid #ccc;{% endif %}">
				<div style="float: left; width:540px;">
					<div class="space10">
						<p style="margin:0;">
							<a href="{{o.get_absolute_url}}">
                {% org_logo o 100 75 'float: left; margin-right: 10px;' %}
								{% comment %}
									<img src="{% thumbnail o.logo 100x75 autocrop,upscale,sharpen %}" alt="" />
									
								{% endcomment %}
							</a>
							<span class="small" style="font-size:1em;">
								<a href="{{o.get_absolute_url}}">{{o.name}}</a>
							</span><br />
							<span class="grey small" style="">{{o.long_name}}</span>
						</p>
						<span style="display:none;">{% counter o %}</span>
					</div>
				</div>
				<div style="float: left; width:120px;">
					<div class="space10">
						<p class="small">{{o.get_organisation_type_display}}</p>
					</div>
				</div>
				<div style="float: left; width:170px;">
					<div class="space10">
						<p class="small" style="margin-bottom:0;">
							{{o.primary_location.country}}<br />
							<span class="grey">{{ o.primary_location.country.continent }}</span>
						</p>
					</div>
				</div>
				<div style="float: left; width:100px;">
					<div class="space10">
						<p class="small">
						<a href="{% url 'project_list' o.id %}">{{o.published_projects.count}}</a>
						</p>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			{% endfor %}
		</div>
		<div style="background-color:#E5E5E9; padding:15px; border-top:1px solid #979AA5;">
			<div style="float:right;">
				<p style="margin-bottom:0;">
					{% if page.number = 1 %}
	                	{% trans 'First' %} |
	                {% else %}
						{% if org_type = 'all' %}
							<a href="{% url 'rsr_org_list' %}
						{% else %}
							<a href="{% url 'rsr_org_list_filtered' 'org_type' %}
						{% endif %}
						{% addparam "page" 1 %}">{% trans 'First' %}</a> |
	                {% endif %}
	                {% if page.has_previous %}
						{% if org_type = 'all' %}
							<a href="{% url 'rsr_org_list' %}
						{% else %}
							<a href="{% url 'rsr_org_list_filtered' 'org_type' %}
						{% endif %}
	                	{% addparam "page" page.previous_page_number %}">{% trans 'Previous' %}</a> |
	                {% else %}
	                	{% trans 'Previous' %} |
	                {% endif %}
	                {% if page.has_next %}
						{% if org_type = 'all' %}
							<a href="{% url 'rsr_org_list' %}
						{% else %}
							<a href="{% url 'rsr_org_list_filtered' 'org_type' %}
						{% endif %}
						{% addparam 'page' page.next_page_number %}">{% trans 'Next' %}</a> |
	                {% else %}
	                	{% trans 'Next' %} |
	                {% endif %}
	                {% if page.number = page.paginator.num_pages %}
	                	{% trans 'Last' %}
	                {% else %}
						{% if org_type = 'all' %}
							<a href="{% url 'rsr_org_list' %}
						{% else %}
							<a href="{% url 'rsr_org_list_filtered' 'org_type' %}
						{% endif %}
						{% addparam "page" page.paginator.num_pages %}">{% trans 'Last' %}</a>
	                {% endif %}
				</p>
			</div>
			<p style="margin-bottom:0;">
				{% blocktrans with page.start_index as page_start and page.end_index as page_end and orgs.count as o_count %}Organisations {{page_start}}-{{page_end}} of {{o_count}}{% endblocktrans %}	
			</p>
		</div>
	</div>
</div>
{% endcache %}
{% endblock maincontent %}
