#!/bin/bash

# Parameters:
# $1: rc_server_log_path
# $2: xvfb_log_path (optional)

### If you've created a forked project from the main github.com/akvo/akvo-rsr project you can
### use this template to create a convenience script to run your project's own acceptance tests,
### where the tests are located in the tests/YOUR_APP_NAME/acceptance directory.
### Alternatively, you could use the main run_acceptance_tests script and specify the
### acceptance test root directory as a parameter to that script


function display_usage_and_exit
{
    ### change this to run_YOUR_APP_NAME_acceptance_tests
    echo "Usage: run_FORK_acceptance_tests <rc_server_log_path> [xvfb_log_path]"
    echo "Optionally specify an xvfb_log_path to run tests in headless mode"
    exit -1
}

function verify_script_parameters
{
    # warn if extraneous parameters exist
    if [ -n "$3" ]; then
        echo ">> Unexpected number of parameters: $*"
        display_usage_and_exit
    fi

    # check if rc_server_log_path parameter exists
    if [ -z "$1" ]; then
        echo ">> Missing rc_server_log_path parameter"
        display_usage_and_exit
    fi
}


verify_script_parameters $*

SCRIPT_FILE_DIR="`dirname $0`"
TESTING_SCRIPTS_DIR="`cd $SCRIPT_FILE_DIR; pwd`"
ACCEPTANCE_TEST_ROOT_DIR="`cd $TESTING_SCRIPTS_DIR/../../tests/YOUR_APP_NAME/acceptance; pwd`" ### change this path as necessary

"$TESTING_SCRIPTS_DIR/run_acceptance_tests" "$ACCEPTANCE_TEST_ROOT_DIR" $1 $2
