{% load i18n %}
<div class="policy-marker-item parent" id="policy_marker{% if key %}-{{ key }}{% endif %}">
    <div class="row partial-header">
        <div class="col-md-9 col-sm-6 col-xs-6 hide-partial-click">
            <span class="folded-sign">{% if marker %}+{% else %}-{% endif %}</span> {% trans 'Policy marker' %}: <span class="unicode">{% if marker %}{{ marker }}{% else %}({% trans 'new' %}){% endif %}</span>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 text-right">
            <a class="delete-object-button" id="delete-policy-marker{% if key %}-{{ key }}{% endif %}"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
    <div class="hide-partial {% if marker %}hidden{% endif %}">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <div class="select-group control">
                       <select name="policy-marker{% if key %}-{{ key }}{% endif %}" id="policy-marker{% if key %}-{{ key }}{% endif %}" class="form-control priority3" saved-value="{{ marker.policy_marker }}">
                            <option value="" {% if not marker.policy_marker %} selected="selected" {% endif %}></option>
                            {% for policy_marker in policy_markers %}
                                <option value="{{ policy_marker.code }}" {% if marker.policy_marker == policy_marker.code %} selected="selected" {% endif %}>{{ policy_marker.code }} - {{ policy_marker.name }}</option>
                            {% endfor %}
                        </select>
                        <label class="control-label" for="policy-marker{% if key %}-{{ key }}{% endif %}">{% trans 'Policy marker' %}</label>
                        <p class="help-block hidden">{% trans 'A policy or theme addressed by the activity, based on DAC policy markers. These indicators track key policy issues, like gender equality, environment, and trade development.' %}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="select-group control">
                        <select name="policy-marker-significance{% if key %}-{{ key }}{% endif %}" id="policy-marker-significance{% if key %}-{{ key }}{% endif %}" class="form-control priority3" saved-value="{{ marker.significance }}">
                            <option value="" {% if not marker.significance %} selected="selected" {% endif %}></option>
                            {% for significance in policy_significances %}
                                <option value="{{ significance.code }}" {% if marker.significance == significance.code %} selected="selected" {% endif %}>{{ significance.code }} - {{ significance.name }}</option>
                            {% endfor %}
                        </select>
                        <label class="control-label" for="policy-marker-significance{% if key %}-{{ key }}{% endif %}">{% trans 'Policy marker significance' %}</label>
                        <p class="help-block hidden">
                            {% blocktrans %}Each reported marker must contain the significance of the policy marker for this activity. Choices are:<br/>
                            0 - Not targeted<br/>
                            1 - Significant objective: the policy objectives are important, but were not the prime motivation for undertaking the activity.<br/>
                            2 - Principal objective: the policy objective was the primary reason to undertake this activity.<br/>
                            3 - Principal objective AND in support of an action programme: valid for the markers dealing with Desertification only.<br/>
                            4 - Explicit primary objective: only to be used in combination with policy marker 9 - reproductive, maternal, newborn and child health.{% endblocktrans %}
                        </p>
                    </div>
                </div>
                <div class="col-md-4 control">
                    <input type="text" class="form-control priority3" id="policy-marker-description{% if key %}-{{ key }}{% endif %}" name="policy-marker-description{% if key %}-{{ key }}{% endif %}" value="{{ marker.description }}" saved-value="{{ marker.description }}" maxlength="255">
                    <label class="control-label" for="policy-marker-description{% if key %}-{{ key }}{% endif %}">{% trans 'Policy marker description' %}</label>
                </div>
            </div>
        </div>
    </div>
</div>