{% extends "myrsr/myrsr_base.html" %}
{% load i18n bootstrap3 rsr_utils compressed rules humanize project_editor %}
{% block title %}{% trans 'MyRSR - Project Editor' %}{% endblock %}
{% block myrsr_main %}
    <!--[if lte IE 9]>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      {% trans 'You are using an unsupported browser (Internet Explorer 9 or less). Please update your browser to a newer version or use a different browser.' %}
    </div>
    <![endif]-->

    <!--*************************************** Project editor header **********************************************-->
    <div class="row">
        <div class="col-md-8">
            <h3>{% trans 'Project Editor' %} <span class="glyphicon glyphicon-info-sign info-icon activated" onclick="toggleId(event, this, 'editorHelptext');"></span></h3>
        </div>
        <div class="col-md-4">
            <div class="editDate">
                <span>{% trans 'Date created' %}:</span>
                <time datetime="YYYY-MM-DDThh:mm:ssTZD">{{ project.created_at }}</time><br/>
                <span>{% trans 'Last modified' %}:</span>
                <time datetime="YYYY-MM-DDThh:mm:ssTZD">{{ project.last_modified_at }}</time>
            </div>
        </div>
    </div>
    <div class="help-block" id="editorHelptext">
        {% trans 'Your RSR project page shows project information about what’s happening, where and who’s involved, as well as who the funders are. Tell your project’s story by entering complete information. After a project is published you can keep it up to date by adding project updates with text, photos and videos.' %}<br/><br/>
        {% trans 'Before you start, please review all the project fields so you know which information belongs where in the RSR project form.' %}<br/><br/>
        {% trans 'RSR editors can edit the project information, and RSR administrators can edit and publish the project once all mandatory fields are filled out and the progress bar on top of the page is green. Changes that are made to a published project, will be visible online immediately after saving.' %}<br/><br/>
        {% trans 'If you have questions, please get in touch with us via' %}
        {# Javascript will generate the support feedback email, as to reduce spam #}
        {# <a href="mailto:rsr@akvo.org?subject=RSR feedback">rsr@akvo.org</a> #}
        <script type="text/javascript">document.write(String.fromCharCode(60,97,32,104,114,101,102,61,34,109,97,105,108,116,111,58,114,115,114,64,97,107,118,111,46,111,114,103,63,115,117,98,106,101,99,116,61,82,83,82,32,102,101,101,100,98,97,99,107,34,62,114,115,114,64,97,107,118,111,46,111,114,103,60,47,97,62));</script>.
    </div>

    <!--*************************************** Project editor progress **********************************************-->
    <div class="panel panel-success formProgress">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% trans 'Project progress' %}
            </h3>
        </div>
        <div class="panel-body">
            <div class="row help-block">
                <div class="col-md-12"><strong>{% trans 'Legenda' %}</strong></div>
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1"><span class="redLegenda">{% trans 'legend' %}</span></div>
                    <div class="col-xs-8 col-xs-offset-1">{% trans 'No mandatory fields completed' %}</div>
                </div>
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1"><span class="orangeLegenda">{% trans 'legend' %}</span><br/></div>
                    <div class="col-xs-8 col-xs-offset-1">{% trans 'Some mandatory fields completed' %}</div>
                </div>
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1"><span class="greenLegenda">{% trans 'legend' %}</span></div>
                    <div class="col-xs-8 col-xs-offset-1">{% trans 'All mandatory fields completed' %}</div>
                </div>
            </div>
            <hr/>
            <div class="rsr-progress">
                <div class="row help-block">
                    <div class="col-md-12"><strong>{% trans 'Akvo RSR' %}</strong></div>
                    <div class="col-md-12">{% trans 'This progress bar indicates the number of completed mandatory fields for Akvo RSR. It is only possible to publish a project when this progress bar is green and fully filled, meaning that all mandatory fields have been completed. Mandatory fields for Akvo RSR are marked with a' %} <span class="mandatoryIndicator">*</span>.</div>
                </div>
                <div class="progress overview">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only"></span><span class="progress-percentage"></span>
                    </div>
                </div>
            </div>
            <div class="iati-progress {% if not advanced_editor %}hidden hide-default{% endif %}">
                <hr/>
                <div class="row help-block">
                    <div class="col-md-12"><strong>{% trans 'International Aid Transparency Initiative' %}</strong></div>
                    <div class="col-md-12">{% trans 'This progress bar indicates the number of completed mandatory fields for IATI. When this bar is green, it is possible to export a valid IATI XML file of this project from Akvo RSR.' %}</div>
                </div>
                <div class="progress overview">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only"></span><span class="progress-percentage"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--*************************************** Project editor options **********************************************-->
    <div class="panel panel-info formOverviewInfo">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% trans 'Project editor options' %}
            </h3>
        </div>
        <div class="panel-body">
            {% has_perm 'rsr.change_publishingstatus' user project.publishingstatus as can_publish %}
            {% if can_publish %}
                <div class="row">
                    <div class="col-md-3">
                        <button class="btn {% if project.is_published %}btn-danger{% else %}btn-success{% endif %}" id="publishProject" status="{% if not project.is_published %}un{% endif %}published">
                            {% if project.is_published %}
                                <span class="glyphicon glyphicon-remove"></span> {% trans 'Unpublish project' %}
                            {% else %}
                                <span class="glyphicon glyphicon-ok"></span> {% trans 'Publish project' %}
                            {% endif %}
                        </button>
                    </div>
                    <div class="col-md-9 help-block">
                        {% trans 'This project is:' %}
                        {% if project.is_published %}
                            <span class="published" id="publishingStatus">{% trans 'published' %}</span>.
                        {% else %}
                            <span class="notPublished" id="publishingStatus">{% trans 'not published' %}</span>.
                        {% endif %}
                        {% trans 'It is only possible to publish this project when the above progress bar is green and fully filled. This means that all mandatory fields for this project have been completed.' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9 help-block" id="publishErrors"></div>
                </div>
                <hr/>
            {% endif %}
            <div class="show-default {% if advanced_editor %}hidden{% endif %}">
                <div class="row show-default">
                    <div class="col-md-3">
                        <button class="btn btn-primary" id="showAdvancedFields"><span class="glyphicon glyphicon-resize-full"></span> {% trans 'Advanced editor' %}</button>
                    </div>
                    <div class="col-md-9 help-block">
                        {% trans 'Enabling this option will allow you to see and use all available fields in RSR, specifically the fields which are available in IATI but used for specific purposes. In addition, another progress bar for the IATI fields will be added to the project progress section on top.' %}
                    </div>
                </div>
                <hr/>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="{% url 'project-main' project.pk %}" target="_blank">
                        <button class="btn btn-primary viewProject" id="viewProject"><span class="glyphicon glyphicon-expand"></span> {% if not project.is_published %}{% trans 'Preview project page' %}{% else %}{% trans 'View project page' %}{% endif %}</button>
                    </a>
                </div>
                <div class="col-md-9 help-block">
                    {% trans 'View the project page in a new tab. In case the project is not published yet, a preview of the project page will be shown, which is only visible to admins and project editors of this project.' %}
                </div>
                {% if user.is_superuser %}<hr/>{% endif %}
            </div>
            {% if user.is_superuser %}
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="checkbox">
                                <label for="impactProject" class="control-label">
                                    <input id="impactProject" type="checkbox" name="impactProject" class="priority2" {% if project.is_impact_project %}checked saved-value="True"{% else %}saved-value="False"{% endif %}>
                                        {% trans 'RSR Impact project' %}
                                </label>
                            </div>
                        </div>
                        {% if project.parents.count == 1 and project.is_impact_project %}
                            <div class="col-xs-6 col-sm-4" style="text-align: right;">
                                <button class="btn btn-primary" id="import-results"><i class="glyphicon glyphicon-import"></i> {% trans 'Import results' %}</button>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-9 help-block">
                        {% trans 'Indicate whether the project is an RSR Impact project. When this option is set, the project page will display the results framework, and it will be possible to update the actual values of indicators through updates.' %}
                    </div>
                    <hr/>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="checkbox">
                                <label for="donateButton" class="control-label">
                                    <input id="donateButton" type="checkbox" name="donateButton" class="priority2" {% if project.donate_button %}checked saved-value="True"{% else %}saved-value="False"{% endif %}>{% trans 'Donate button' %}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 help-block">
                        {% trans 'If you tick the checkbox, a donate button will appear on your project page, enabling donations to your project from people visiting the page. The donate button will only appear if your project needs funding,' %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <!--*************************************** Project editor sections **********************************************-->
    <section class="panels projectEdit">
        {% with project_id_string=project.pk|stringformat:"s" text_input="myrsr/project_editor/fields/text_input.html" textarea_input="myrsr/project_editor/fields/textarea_input.html" choice_input="myrsr/project_editor/fields/choice_input.html" boolean_input="myrsr/project_editor/fields/boolean_input.html" date_input="myrsr/project_editor/fields/date_input.html" typeahead_input="myrsr/project_editor/fields/typeahead_input.html" file_input="myrsr/project_editor/fields/file_input.html" currency_input="myrsr/project_editor/fields/currency_input.html" percentage_input="myrsr/project_editor/fields/percentage_input.html" custom_field_input="myrsr/project_editor/fields/custom_field_input.html" %}
            <fieldset>
                {% include "myrsr/project_editor/section_1.html" %}
                {% include "myrsr/project_editor/section_2.html" %}
                {% include "myrsr/project_editor/section_3.html" %}
                {% include "myrsr/project_editor/section_4.html" %}
                {% include "myrsr/project_editor/section_5.html" %}
                {% include "myrsr/project_editor/section_6.html" %}
                {% include "myrsr/project_editor/section_7.html" %}
                {% include "myrsr/project_editor/section_8.html" %}
                {% include "myrsr/project_editor/section_9.html" %}
                {% include "myrsr/project_editor/section_10.html" %}
            </fieldset>
        {% endwith %}
    </section>
    <div id="editor-feedback" class="hidden-xs">
        {# Javascript will generate the support feedback email, as to reduce spam #}
        {# <a href="mailto:rsr@akvo.org?subject=RSR feedback"> #}
        <script type="text/javascript">document.write(String.fromCharCode(60,97,32,104,114,101,102,61,34,109,97,105,108,116,111,58,114,115,114,64,97,107,118,111,46,111,114,103,63,115,117,98,106,101,99,116,61,82,83,82,32,102,101,101,100,98,97,99,107,34,62));</script>
        <i class="fa fa-comment-o"></i> {% trans 'Provide feedback' %}
        {# </a> #}
        <script type="text/javascript">document.write(String.fromCharCode(60,47,97,62));</script>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}

    {% with project_id_string=project.pk|stringformat:"s" text_input="myrsr/project_editor/fields/text_input.html" textarea_input="myrsr/project_editor/fields/textarea_input.html" choice_input="myrsr/project_editor/fields/choice_input.html" boolean_input="myrsr/project_editor/fields/boolean_input.html" date_input="myrsr/project_editor/fields/date_input.html" typeahead_input="myrsr/project_editor/fields/typeahead_input.html" currency_input="myrsr/project_editor/fields/currency_input.html" percentage_input="myrsr/project_editor/fields/percentage_input.html" file_input="myrsr/project_editor/fields/file_input.html" %}
        {# Section 1 #}
        <script type="text/template" id="related-project-input">{% include "myrsr/project_editor/related_objects/related_project_input.html" with rp='RelatedProject.'|add:project_id_string %}</script>

        {# Section 2 #}
        <script type="text/template" id="contact-information-input">{% include "myrsr/project_editor/related_objects/contact_information_input.html" with contact='ProjectContact.'|add:project_id_string %}</script>

        {# Section 3 #}
        <script type="text/template" id="partner-input">{% include "myrsr/project_editor/related_objects/partner_input.html" with ps='Partnership.'|add:project_id_string %}</script>

        {# Section 5 #}
        <script type="text/template" id="result-input">{% include "myrsr/project_editor/related_objects/result_input.html" with result='Result.'|add:project_id_string %}</script>
        <script type="text/template" id="indicator-input">{% include "myrsr/project_editor/related_objects/indicator_input.html" with indicator='Indicator.'|add:project_id_string result_id_string="new-0" %}</script>
        <script type="text/template" id="indicator-period-input">{% include "myrsr/project_editor/related_objects/indicator_period_input.html" with period='IndicatorPeriod.'|add:project_id_string %}</script>
        <script type="text/template" id="condition-input">{% include "myrsr/project_editor/related_objects/condition_input.html" with condition='ProjectCondition.'|add:project_id_string %}</script>

        {# Section 6 #}
        <script type="text/template" id="budget-item-input">{% include "myrsr/project_editor/related_objects/budget_item_input.html" with item='BudgetItem.'|add:project_id_string %}</script>
        <script type="text/template" id="country-budget-item-input">{% include "myrsr/project_editor/related_objects/country_budget_item_input.html" with item='CountryBudgetItem.'|add:project_id_string %}</script>
        <script type="text/template" id="transaction-input">{% include "myrsr/project_editor/related_objects/transaction_input.html" with transaction='Transaction.'|add:project_id_string %}</script>
        <script type="text/template" id="transaction-sector-input">{% include "myrsr/project_editor/related_objects/transaction_sector_input.html" with sector='TransactionSector.'|add:project_id_string %}</script>
        <script type="text/template" id="planned-disbursement-input">{% include "myrsr/project_editor/related_objects/planned_disbursement_input.html" with pd='PlannedDisbursement.'|add:project_id_string %}</script>

        {# Section 7 #}
        <script type="text/template" id="project-location-input">{% include "myrsr/project_editor/related_objects/location_input.html" with location='ProjectLocation.'|add:project_id_string %}</script>
        <script type="text/template" id="location-administrative-input">{% include "myrsr/project_editor/related_objects/location_administrative_input.html" with admin='AdministrativeLocation.'|add:project_id_string %}</script>
        <script type="text/template" id="recipient-country-input">{% include "myrsr/project_editor/related_objects/recipient_country_input.html" with rc='RecipientCountry.'|add:project_id_string %}</script>
        <script type="text/template" id="recipient-region-input">{% include "myrsr/project_editor/related_objects/recipient_region_input.html" with rr='RecipientRegion.'|add:project_id_string %}</script>

        {# Section 8 #}
        <script type="text/template" id="sector-input">{% include "myrsr/project_editor/related_objects/sector_input.html" with sector='Sector.'|add:project_id_string %}</script>
        <script type="text/template" id="policy-marker-input">{% include "myrsr/project_editor/related_objects/policy_marker_input.html" with marker='PolicyMarker.'|add:project_id_string %}</script>

        {# Section 9 #}
        <script type="text/template" id="link-input">{% include "myrsr/project_editor/related_objects/link_input.html" with link='Link.'|add:project_id_string %}</script>
        <script type="text/template" id="document-input">{% include "myrsr/project_editor/related_objects/document_input.html" with document='ProjectDocument.'|add:project_id_string %}</script>

        {# Section 10 #}
        <script type="text/template" id="keyword-input">{% include "myrsr/project_editor/related_objects/keyword_input.html" with keyword='Keyword.'|add:project_id_string %}</script>
    {% endwith %}
 
    {% block react_js %}
        <script src="//fb.me/react-0.12.0.js"></script>
    {% endblock react_js %}

    <script type="application/json" id="default-values">
        {
            "project_id": "{{ project.pk }}",
            "publishing_status_id": "{{ project.publishingstatus.pk }}",
            "user_id": "{{ user.pk }}",
            "view_project": "{% trans 'View project page' %}",
            "preview_project": "{% trans 'Preview project page' %}",
            "saving": "{% trans 'Saving' %}",
            "save_error": "{% trans 'Could not save one or more fields' %}",
            "save_general_error": "{% trans 'Something went wrong while saving' %}",
            "save_success": "{% trans 'Saved successfully!' %}",
            "save_forbidden": "{% trans 'You are not allowed to save this project' %}",
            "sure_message": "{% trans 'Are you sure?' %}",
            "yes": "{% trans 'Yes' %}",
            "no": "{% trans 'No' %}",
            "file_delete_error": "{% trans 'Could not delete file' %}",
            "uploaded_document": "{% trans 'Uploaded document' %}",
            "related_project_label": "{% trans 'Related RSR project' %}",
            "related_project_helptext": "{% trans 'When your project has related projects in the RSR database, you can link them here to create a hierarchy, by filling in the project title. It is possible to link multiple projects.' %}",
            "partner_label": "{% trans 'Project partner' %}",
            "partner_helptext": "{% trans 'Select an organisation that is playing a role in the project.  If an organisation is not currently featured in RSR, please contact' %} <a href='mailto:support@akvo.org'>support@akvo.org</a> {% trans 'to request to add it to the database.' %}",
            "provider_org_label": "{% trans 'Provider organisation' %}",
            "provider_org_helptext": "{% trans 'For incoming funds, this is the organisation from which the transaction originated. It will default to the reporting organisation.' %}",
            "recipient_org_label": "{% trans 'Recipient organisation' %}",
            "recipient_org_helptext": "{% trans 'The organisation that receives the incoming funds.' %}",
            "add_new_organisation": "{% trans 'Add new organisation' %}",
            "name": "{% trans 'Name' %}",
            "long_name": "{% trans 'Long name' %}",
            "iati_org_id": "{% trans 'Organisation IATI identifier' %}",
            "org_type": "{% trans 'Organisation type' %}",
            "description": "{% trans 'Description' %}",
            "cancel": "{% trans 'Cancel' %}",
            "max": "{% trans 'Max' %}",
            "characters": "{% trans 'characters' %}",
            "blank_name": "{% trans 'Organisation name can not be blank' %}",
            "blank_long_name": "{% trans 'Organisation long name can not be blank' %}",
            "government": "{% trans 'Government' %}",
            "other_public_sector": "{% trans 'Other Public Sector' %}",
            "international_ngo": "{% trans 'International NGO' %}",
            "national_ngo": "{% trans 'National NGO' %}",
            "regional_ngo": "{% trans 'Regional NGO' %}",
            "public_private_partnership": "{% trans 'Public Private Partnership' %}",
            "multilateral": "{% trans 'Multilateral' %}",
            "foundation": "{% trans 'Foundation' %}",
            "private_sector": "{% trans 'Private Sector' %}",
            "academic_training_research": "{% trans 'Academic, Training and Research' %}",
            "website": "{% trans 'Website' %}",
            "start_http": "{% trans 'The URL of the website must begin with http://' %}",
            "contact_person": "{% trans 'Contact name' %}",
            "contact_email": "{% trans 'Contact email' %}",
            "longitude": "{% trans 'Longitude' %}",
            "latitude": "{% trans 'Latitude' %}",
            "country": "{% trans 'Country' %}",
            "use_link": "{% trans 'Use the link to' %}",
            "coordinates": "{% trans 'to obtain the coordinates for your locations to ensure the pins are correctly placed.' %}",
            "org_logo": "{% trans 'Organisation logo' %}",
            "location_check": "{% trans 'All location fields have to be filled in' %}",
            "general_error": "{% trans 'Something went wrong while adding the organisation' %}",
            "comma_value": "{% trans 'It is not allowed to use a comma, use a period to denote decimals' %}",
            "image_file_format": "{% trans 'File is not an image file. Supported formats are' %}",
            "file_size": "{% trans 'File size is too large' %}",
            "file_size_allowed": "{% trans 'Maximum file size allowed is' %}",
            "connection_error": "{% trans 'Connection error, please check your internet connection' %}"
        }
    </script>

    <script type="application/json" id="country-values">
        [{% for country in countries %}{"pk": "{{ country.pk }}", "name": "{{ country.name }}"}{% if not forloop.last %},{% endif %}{% endfor %}]
    </script>

    <script type="application/json" id="sector-values">
        [{% for sector_code in sector_codes %}{"code": "{{ sector_code.code }}", "name": "{{ sector_code.name|title }}"}{% if not forloop.last %},{% endif %}{% endfor %}]
    </script>

    <script type="application/json" id="sector-category-values">
        [{% for sector_cat_code in sector_category_codes %}{"code": "{{ sector_cat_code.code }}", "name": "{{ sector_cat_code.name|title }}"}{% if not forloop.last %},{% endif %}{% endfor %}]
    </script>

    <script type="application/javascript">
        function toggleId(e, helpIconNode, nodeId) {
            e.stopPropagation && e.stopPropagation() || (e.cancelBubble = true);

            var node;

            node = document.getElementById(nodeId);

            if (node.className.indexOf("hidden") > -1) {
                node.className = node.className.replace('hidden', '');
                helpIconNode.className += ' activated';
            } else {
                node.className += ' hidden';
                helpIconNode.className = helpIconNode.className.replace('activated', '');
            }
        }

        function toggleSectors(node) {
            var optionNode, sectorCodeId, sectorCodeNode, sectorCode, sectorCodes;

            sectorCodeId = node.getAttribute('id').replace('vocabulary', 'code');
            sectorCodeNode = document.getElementById(sectorCodeId);

            if (node.value == '') {
                // No vocabulary selected, do nothing
            } else if (node.value == '1') {
                // DAC-5 selected
                if (sectorCodeNode.getAttribute('displayed-options') != '1') {
                    sectorCodes = JSON.parse(document.getElementById("sector-values").innerHTML);

                    while (sectorCodeNode.firstChild) {
                        sectorCodeNode.removeChild(sectorCodeNode.firstChild);
                    }

                    optionNode = document.createElement('option');
                    optionNode.setAttribute('value', '');
                    sectorCodeNode.appendChild(optionNode);

                    for (var i=0; i < sectorCodes.length; i++) {
                        sectorCode = sectorCodes[i];

                        optionNode = document.createElement('option');
                        optionNode.setAttribute('value', sectorCode.code);
                        optionNode.innerHTML = sectorCode.code + ' - ' + sectorCode.name;

                        sectorCodeNode.appendChild(optionNode);
                    }

                    sectorCodeNode.setAttribute('displayed-options', '1');
                }
            } else if (node.value == '2') {
                // DAC-3 selected
                if (sectorCodeNode.getAttribute('displayed-options') != '2') {
                    sectorCodes = JSON.parse(document.getElementById("sector-category-values").innerHTML);

                    while (sectorCodeNode.firstChild) {
                        sectorCodeNode.removeChild(sectorCodeNode.firstChild);
                    }

                    optionNode = document.createElement('option');
                    optionNode.setAttribute('value', '');
                    sectorCodeNode.appendChild(optionNode);

                    for (var j=0; j < sectorCodes.length; j++) {
                        sectorCode = sectorCodes[j];

                        optionNode = document.createElement('option');
                        optionNode.setAttribute('value', sectorCode.code);
                        optionNode.innerHTML = sectorCode.code + ' - ' + sectorCode.name;

                        sectorCodeNode.appendChild(optionNode);
                    }

                    sectorCodeNode.setAttribute('displayed-options', '2');
                }
            }
        }

        function toggleDocumentUpload(node) {
            var documentUpload, documentUrl, parentNode;

            parentNode = node.parentNode.parentNode.parentNode;
            documentUpload = parentNode.querySelectorAll('.show-document-upload')[0];
            documentUrl = parentNode.querySelectorAll('.show-document-url')[0];

            if (node.checked) {
                // User wants to upload document
                if (documentUrl.className.indexOf('hidden') === -1) {
                    documentUrl.className += ' hidden';
                }

                if (documentUpload.className.indexOf('hidden') > -1) {
                    documentUpload.className = documentUpload.className.replace('hidden', '');
                }
            } else {
                // User wants to indicate URL
                if (documentUpload.className.indexOf('hidden') === -1) {
                    documentUpload.className += ' hidden';
                }

                if (documentUrl.className.indexOf('hidden') > -1) {
                    documentUrl.className = documentUrl.className.replace('hidden', '');
                }
            }
        }

        function toggleDocumentUploadHelptext(node) {
            var helpText = node.parentNode.parentNode.parentNode.querySelectorAll('.help-block')[0];

            if (node.className.indexOf('activated') === -1) {
                node.className += ' activated';
                helpText.className = helpText.className.replace('hidden', '');

            } else {
                node.className = node.className.replace('activated', '');
                helpText.className += ' hidden';
            }
        }

        function toggleRelatedProject(node) {
            var relatedProject, IatiIdentifier, parentNode;

            parentNode = node.parentNode.parentNode.parentNode;
            relatedProject = parentNode.querySelectorAll('.related-project-input')[0];
            IatiIdentifier = parentNode.querySelectorAll('.related-project-iati-identifier-container')[0];

            if (node.checked) {
                // User wants to indicate IATI identifier
                if (relatedProject.className.indexOf('hidden') === -1) {
                    relatedProject.className += ' hidden';
                }

                if (IatiIdentifier.className.indexOf('hidden') > -1) {
                    IatiIdentifier.className = IatiIdentifier.className.replace('hidden', '');
                }
            } else {
                // User wants to link to related project
                if (IatiIdentifier.className.indexOf('hidden') === -1) {
                    IatiIdentifier.className += ' hidden';
                }

                if (relatedProject.className.indexOf('hidden') > -1) {
                    relatedProject.className = relatedProject.className.replace('hidden', '');
                }
            }
        }

{#        function toggleRelatedProjectHelptext(node) {#}
{#            var helpText = node.parentNode.parentNode.querySelectorAll('.help-block')[0];#}
{##}
{#            if (node.className.indexOf('activated') === -1) {#}
{#                node.className += ' activated';#}
{#                helpText.className = helpText.className.replace('hidden', '');#}
{##}
{#            } else {#}
{#                node.className = node.className.replace('activated', '');#}
{#                helpText.className += ' hidden';#}
{#            }#}
{#        }#}

        function toggleStartDate(node) {
            var startDateActual, startDatePlanned, startDateActualInput, startDatePlannedInput, startDateActualLabel, startDatePlannedLabel, mandatoryNode;

            startDateActual = document.getElementById('actual-start-date-container');
            startDatePlanned = document.getElementById('planned-start-date-container');
            startDateActualInput = startDateActual.getElementsByTagName('input')[0];
            startDatePlannedInput = startDatePlanned.getElementsByTagName('input')[0];
            startDateActualLabel = startDateActual.getElementsByTagName('label')[0];
            startDatePlannedLabel = startDatePlanned.getElementsByTagName('label')[0];

            mandatoryNode = document.createElement('span');
            mandatoryNode.className = 'mandatory';
            mandatoryNode.innerHTML= '*';

            if (node.checked) {
                // Show actual start date, as mandatory field
                if (startDatePlanned.className.indexOf('hidden') === -1) {
                    startDatePlanned.className += ' hidden';
                    startDatePlannedInput.className = startDatePlannedInput.className.replace('mandatory-rsr', 'priority2');
                }

                if (startDateActual.className.indexOf('hidden') > -1) {
                    startDateActual.className = startDateActual.className.replace('hidden', '');
                    startDateActualInput.className = startDateActualInput.className.replace('priority2', 'mandatory-rsr');
                }

                startDateActualLabel.insertBefore(mandatoryNode, startDateActualLabel.getElementsByTagName('span')[0]);
                var plannedMandatory = startDatePlannedLabel.getElementsByClassName('mandatory')[0];
                plannedMandatory.parentNode.removeChild(plannedMandatory);
            } else {
                // Show planned start date, as mandatory field
                if (startDateActual.className.indexOf('hidden') === -1) {
                    startDateActual.className += ' hidden';
                    startDateActualInput.className = startDateActualInput.className.replace('mandatory-rsr', 'priority2');
                }

                if (startDatePlanned.className.indexOf('hidden') > -1) {
                    startDatePlanned.className = startDatePlanned.className.replace('hidden', '');
                    startDatePlannedInput.className = startDatePlannedInput.className.replace('priority2', 'mandatory-rsr');
                }

                startDatePlannedLabel.insertBefore(mandatoryNode, startDatePlannedLabel.getElementsByTagName('span')[0]);
                var actualMandatory = startDateActualLabel.getElementsByClassName('mandatory')[0];
                actualMandatory.parentNode.removeChild(actualMandatory);
            }
        }

        function toggleEndDate(node) {
            var endDateActual, endDatePlanned;

            endDateActual = document.getElementById('actual-end-date-container');
            endDatePlanned = document.getElementById('planned-end-date-container');

            if (node.checked) {
                // Show actual end date
                if (endDatePlanned.className.indexOf('hidden') === -1) {
                    endDatePlanned.className += ' hidden';
                }

                if (endDateActual.className.indexOf('hidden') > -1) {
                    endDateActual.className = endDateActual.className.replace('hidden', '');
                }
            } else {
                // Show planned end date
                if (endDateActual.className.indexOf('hidden') === -1) {
                    endDateActual.className += ' hidden';
                }

                if (endDatePlanned.className.indexOf('hidden') > -1) {
                    endDatePlanned.className = endDatePlanned.className.replace('hidden', '');
                }
            }
        }
    </script>

    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

    {% compressed_css 'react_datepicker_style' %}

    {% compressed_js 'react_typeahead' %}
    <script type="application/javascript" src="{{ STATIC_URL }}lib/scripts/react-onclickoutside.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}lib/scripts/react-datepicker-compat.js"></script>
    {% compressed_js 'project_editor' %}
{% endblock %}
