{% load i18n %}

<div class="panel panel-success formProgress">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% trans 'Project progress' %}
        </h3>
    </div>
    <div class="panel-body">
        <div class="row help-block">
            <div class="col-md-12"><strong>{% trans 'Legenda' %}</strong></div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-1"><span class="redLegenda">{% trans 'legend' %}</span></div>
                <div class="col-xs-8 col-xs-offset-1">{% trans 'No mandatory fields completed' %}</div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-1"><span class="orangeLegenda">{% trans 'legend' %}</span><br/></div>
                <div class="col-xs-8 col-xs-offset-1">{% trans 'Some mandatory fields completed' %}</div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-1"><span class="greenLegenda">{% trans 'legend' %}</span></div>
                <div class="col-xs-8 col-xs-offset-1">{% trans 'All mandatory fields completed' %}</div>
            </div>
        </div>
        {% for validation_set in validation_sets %}
            <div id="progress-{{ validation_set.pk }}" class="validation-progress
                                                              {% if forloop.first %} active-validation{% endif %}
                                                              {% if not validation_set in project_validation_sets %} hidden{% endif %}">
                <hr/>
                <div class="row">
                    <div class="col-xs-1 progress-radio">
                        <input id="select-validation-{{ validation_set.pk }}" class="validation-switch" type="radio"{% if forloop.first %} checked{% endif %}>
                    </div>
                    <div class="col-xs-11">
                        <div class="row help-block">
                            <div class="col-md-12"><strong>{{ validation_set.name }}</strong></div>
                            <div class="col-md-12">{{ validation_set.description|safe }}</div>
                        </div>
                        <div class="progress overview">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only"></span><span class="progress-percentage"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if user.is_superuser or user.is_admin %}
            {% if validation_sets.count !=  project_validation_sets.count %}
                <div id="add-progress">
                    <hr/>
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-11">
                            <div class="row help-block">
                                <div class="col-md-12"><strong>{% trans 'Add new progress bar' %}</strong></div>
                                <div class="col-md-12">{% trans 'It is possible to add additional progress bars to your project. Do keep in mind that these progress bars will be visible to everyone editing this project.' %}</div>
                                <div class="col-md-12">
                                    <div class="select-group control">
                                        <select id="progress-bar-select">
                                            <option value="" selected="selected"></option>
                                            {% for validation_set in validation_sets %}
                                                {% if validation_set not in project_validation_sets %}
                                                    <option value="{{ validation_set.pk }}">{{ validation_set.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <a href="#" id="add-progress-bar-link"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add progress bar' %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
