{% load i18n rules project_editor %}

{% if user.can_create_project %}
    <div class="formOverviewInfo">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-wrench"></i> {% trans 'Project settings' %}
                </h3>
            </div>
            <div class="panel-body hidden">
                {% if user.is_superuser %}
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label for="impactProject" class="control-label">
                                        <input id="impact-project" type="checkbox" name="impact-project"{% if project.is_impact_project %} checked{% endif %}>
                                            {% trans 'Activate results framework' %}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 help-block">
                            {% trans 'Indicate whether the results framework should be activated or not. When this option is set, actual values and comments of results can only be filled in the My results section. Only available for superusers.' %}
                        </div>
                    </div>
                    {% if project.parents.count == 1 and project.is_impact_project %}
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary" id="import-results"><i class="glyphicon glyphicon-import"></i> {% trans 'Import results' %}</button>
                            </div>
                        </div>
                    {% endif %}
                    <hr/>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label for="privateProject" class="control-label">
                                        <input id="private-project" type="checkbox" name="private-project"{% if not project.is_public %} checked{% endif %}>
                                            {% trans 'Private project' %}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 help-block">
                            {% trans 'Indicate whether this is a private project. Private projects do not appear in any public lists, and can only be viewed in MyRSR if a user has permissions to edit the project. Only available for superusers.' %}
                        </div>
                    </div>
                    <hr/>
                {% endif %}
                <div class="row help-block">
                    <div class="col-sm-12">
                        <strong>{% trans 'Validation sets' %}</strong>
                    </div>
                    <div class="col-sm-12">
                        {% trans 'It is possible to add or remove validation sets to your project. This determines which fields will be mandatory and which fields will be hidden. Only admins of partners with an RSR contract are able to edit this.' %}
                    </div>
                </div>
                <div class="row" id="validation-sets">
                    {% for validation_set in validation_sets %}
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label for="validation-set-{{ validation_set.pk }}" class="control-label">
                                        <input id="validation-set-{{ validation_set.pk }}" type="checkbox" name="validation-set-{{ validation_set.pk }}"{% if validation_set in project_validation_sets %} checked{% endif %}{% if validation_set.pk == 1 %} disabled{% endif %}>
                                            {{ validation_set.name }}
                                            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="{{ validation_set.description }}"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}