{% load i18n project_editor %}

<div class="myPanel borderBottom" id="panel7">
    <div class="formStep stepSeven">
        <div class="toggleSection">
            <label for="stepSeven" class="stepLabel"><h4>07 - {% trans 'Project locations' %}<span class="glyphicon glyphicon-info-sign info-icon info-icon-special hidden" toggleid="step-7-helptext"></span></h4></label>
        </div>
        <input type="radio" name="step" id="stepSeven">
        <div class="progress section-progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only"></span><span class="progress-percentage"></span>
            </div>
        </div>
        <div class="formBlock hidden">
            <div class="hidden" id="step-7-helptext">
                <p class="help-block">{% trans 'The scope of the project refers to the geographical area within which the project is active.' %}</p>
                <p class="help-block">{% trans 'Also add the physical locations where the project is being carried out. These will appear on the map on your project page. Use the link to' %} <a href="http://www.latlong.net/" target="_blank">http://www.latlong.net/</a> {% trans 'to obtain the coordinates for your locations to ensure the pins are correctly placed.' %}</p>
            </div>
            <form role="form">
                {% include choice_input with obj=project field='project_scope' %}

                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_projectlocation" }}">
                    <h5>{% trans 'Project locations' %}</h5>
                    <div class="project-location-container" id="project-location-container">
                        {% for location in project.locations.all %}
                            {% include "myrsr/project_editor/related_objects/location_input.html" %}
                        {% empty %}
                            {% include "myrsr/project_editor/related_objects/location_input.html" with location='ProjectLocation.'|add:project_id_string %}
                        {% endfor %}
                        <div class="row form-group">
                            <div class="col-md-12 text-center add-object-link">
                                 <a href="#" class="add-project-location"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another project location' %}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_recipientcountry" }}">
                    <h5>{% trans 'Recipient countries' %}</h5>
                    <div class="recipient-country-container" id="recipient-country-container">
                        {% for rc in project.recipient_countries.all %}
                            {% include "myrsr/project_editor/related_objects/recipient_country_input.html" %}
                        {% empty %}
                            {% include "myrsr/project_editor/related_objects/recipient_country_input.html" with rc='RecipientCountry.'|add:project_id_string %}
                        {% endfor %}
                        <div class="row form-group">
                            <div class="col-md-12 text-center add-object-link">
                                 <a href="#" class="add-recipient-country"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another recipient country' %}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_recipientregion" }}">
                    <h5>{% trans 'Recipient regions' %}</h5>
                    <div class="recipient-region-container" id="recipient-region-container">
                        {% for rr in project.recipient_regions.all %}
                            {% include "myrsr/project_editor/related_objects/recipient_region_input.html" %}
                        {% empty %}
                            {% include "myrsr/project_editor/related_objects/recipient_region_input.html" with rr='RecipientRegion.'|add:project_id_string %}
                        {% endfor %}
                        <div class="row form-group">
                            <div class="col-md-12 text-center add-object-link">
                                 <a href="#" class="add-recipient-region"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another recipient region' %}</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% if custom_fields_section_7 %}
                    <div class="row">
                        <div class="col-md-12">
                          <h4>Additional fields for {{ project.primary_organisation }}</h4>
                        </div>
                    </div>
                {%  endif %}

                {% for customfield in custom_fields_section_7 %}
                    {% include custom_field_input %}
                {% endfor %}

                {% include "myrsr/project_editor/partials/save_row.html" %}
            </form>
        </div>
    </div>
</div>