{% load i18n project_editor %}

<div class="myPanel borderBottom" id="panel8">
    <div class="formStep stepEight">
        <div class="toggleSection">
            <label for="stepEight" class="stepLabel"><h4>08 - {% trans 'Project focus' %}<span class="glyphicon glyphicon-info-sign info-icon info-icon-special hidden" toggleid="step-8-helptext"></span></h4></label>
        </div>
        <input type="radio" name="step" id="stepEight">
        <div class="progress section-progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only"></span><span class="progress-percentage"></span>
            </div>
        </div>
        <div class="formBlock hidden">
            <div class="hidden" id="step-8-helptext">
                <p class="help-block">{% trans 'The project focus aims to define the broad areas of the project activities. This ensures that the project can be collectively grouped by e.g. sector with other similar projects to help make the most out of the project resources. Generally accepted codes are used to help determine these sectors:' %}</p>
                <p class="help-block">- {% trans 'DAC-3 sector codes which are more general. For reference see:' %} <a href="http://iatistandard.org/201/codelists/SectorCategory/" target="_blank">http://iatistandard.org/201/codelists/SectorCategory/</a>.</p>
                <p class="help-block">- {% trans 'DAC-5 sector codes which are most detailed. For reference see:' %} <a href="http://iatistandard.org/201/codelists/Sector/" target="_blank">http://iatistandard.org/201/codelists/Sector/</a>.</p>
            </div>
            <form role="form">
                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_sector" }}">
                    <h5>{% trans 'Sectors' %}</h5>
                    <div class="sector-container" id="sector-container">
                        {% for sector in project.sectors.all %}
                            {% include "myrsr/project_editor/related_objects/sector_input.html" %}
                        {% empty %}
                            {% include "myrsr/project_editor/related_objects/sector_input.html" with sector='Sector.'|add:project_id_string %}
                        {% endfor %}
                        <div class="row form-group">
                            <div class="col-md-12 text-center add-object-link">
                                 <a href="#" class="add-sector"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another sector' %}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_policymarker" }}">
                    <h5>{% trans 'Policy markers' %}</h5>
                    <div class="policy-marker-container" id="policy-marker-container">
                        {% for marker in project.policy_markers.all %}
                            {% include "myrsr/project_editor/related_objects/policy_marker_input.html" %}
                        {% empty %}
                            {% include "myrsr/project_editor/related_objects/policy_marker_input.html" with marker='PolicyMarker.'|add:project_id_string %}
                        {% endfor %}
                        <div class="row form-group">
                            <div class="col-md-12 text-center add-object-link">
                                 <a href="#" class="add-policy-marker"> <span class="glyphicon glyphicon-plus"></span> {% trans 'Add another policy marker' %}</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% include boolean_input with obj=project field="humanitarian" nullboolean=True %}

                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_humanitarianscope" }}">
                    <h5>{% trans 'Humanitarian scope' %}</h5>
                    <div class="humanitarian-scope-container">
                        {% for scope in project.humanitarian_scopes.all %}
                            {% include "myrsr/project_editor/related_objects/humanitarian_scope_input.html" %}
                        {% empty %}
                            {% include "myrsr/project_editor/related_objects/humanitarian_scope_input.html" with scope='HumanitarianScope.'|add:project_id_string %}
                        {% endfor %}
                        <div class="row form-group">
                            <div class="col-md-12 text-center add-object-link">
                                <a href="#" class="add-humanitarian-scope"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another humanitarian scope' %}</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% if custom_fields_section_8 %}
                    <div class="row">
                        <div class="col-md-12">
                          <h4>Additional fields fields for {{ project.primary_organisation }}</h4>
                        </div>
                    </div>
                {%  endif %}

                {% for customfield in custom_fields_section_8 %}
                    {% include custom_field_input %}
                {% endfor %}

                {% include "myrsr/project_editor/partials/save_row.html" %}
            </form>
        </div>
    </div>
</div>
