{% load i18n %}

<div class="myPanel borderBottom" id="panel4">
    <div class="formStep stepFour">
        <div class="toggleSection">
            <label for="stepFour" class="stepLabel"><h4>04 - {% trans 'Project descriptions' %}<span class="glyphicon glyphicon-info-sign info-icon hidden" onclick="toggleId(event, this, 'step-4-helptext');"></span></h4></label>
        </div>
        <input type="radio" name="step" id="stepFour">
        <div class="progress section-progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only"></span><span class="progress-percentage"></span>
            </div>
        </div>
        <div class="formBlock hidden">
            <p class="help-block hidden" id="step-4-helptext">{% trans 'Here you can complete the in-depth descriptive details regarding your project, its history and plans for the future.' %}</p>
            <form role="form" class="form">
                {% include textarea_input with obj=project field='project_plan_summary' mandatory_rsr=True mandatory_iati=True %}
                {% include textarea_input with obj=project field='goals_overview' mandatory_rsr=True %}
                {% include textarea_input with obj=project field='background' %}
                {% include textarea_input with obj=project field='current_status' %}
                {% include textarea_input with obj=project field='target_group' %}
                {% include textarea_input with obj=project field='project_plan' %}
                {% include textarea_input with obj=project field='sustainability' %}
                {% for customfield in custom_fields_section_4 %}
                    {% include custom_field_input %}
                {% endfor %}

                {% include "myrsr/project_editor/partials/save_row.html" %}
            </form>
        </div>
    </div>
</div>