{% load i18n project_editor %}

<div class="myPanel borderBottom" id="panel10">
    <div class="formStep stepTen">
        <div class="toggleSection">
            <label for="stepTen" class="stepLabel"><h4>10 - {% trans 'Project comments and keywords' %}<span class="glyphicon glyphicon-info-sign info-icon info-icon-special hidden" toggleid="step-10-helptext"></span></h4></label>
        </div>
        <input type="radio" name="step" id="stepTen">
        <div class="progress section-progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only"></span><span class="progress-percentage"></span>
            </div>
        </div>
        <div class="formBlock hidden">
            <p class="help-block hidden" id="step-10-helptext">
                {% trans 'Fill in comments regarding the project. These are only for internal use and will not be displayed anywhere on the project page.' %}
                {% trans 'Select keywords in case you are using an Akvo Page. Keywords linked to a project will determine if a project appears on the Akvo Page or not.' %}
            </p>
            <form role="form">
                {% include textarea_input with obj=project field='notes' %}

                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_keyword" }}">
                    <h5>{% trans 'Keywords' %}</h5>
                    <div class="form-group">
                        <div class="keyword-container">
                            {% for keyword in project.keywords.all %}
                                {% include "myrsr/project_editor/related_objects/keyword_input.html" %}
                            {% empty %}
                                {% include "myrsr/project_editor/related_objects/keyword_input.html" with keyword='Keyword.'|add:project_id_string %}
                            {% endfor %}
                            <div class="row form-group">
                                <div class="col-md-12 text-center add-object-link">
                                     <a href="#" class="add-keyword"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another keyword' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if custom_fields_section_10 %}
                    <div class="row">
                        <div class="col-md-12">
                          <h4>Additional fields for {{ project.primary_organisation }}</h4>
                        </div>
                    </div>
                {%  endif %}

                {% for customfield in custom_fields_section_10 %}
                    {% include custom_field_input %}
                {% endfor %}

                {% include "myrsr/project_editor/partials/save_row.html" %}
            </form>
        </div>
    </div>
</div>