{% load i18n humanize project_editor %}

<div class="myPanel borderBottom" id="panel6">
    <div class="formStep stepSix">
        <div class="toggleSection">
            <label for="stepSix" class="stepLabel"><h4>06 - {% trans 'Finance' %}<span class="glyphicon glyphicon-info-sign info-icon info-icon-special hidden" toggleid="step-6-helptext"></span></h4></label>
        </div>
        <input type="radio" name="step" id="stepSix">
        <div class="progress section-progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only"></span><span class="progress-percentage"></span>
            </div>
        </div>
        <div class="formBlock hidden">
            <div class="hidden" id="step-6-helptext">
                <p class="help-block">{% trans 'You can define the budget information as a total for the whole project or within sections and periods to provide more granular information about where the project funds are being spent.' %}</p>
                <p class="help-block">{% trans 'Transactions refer to the actual transfers of funds between organisations related to the funding and expenditure of the project. This information is crucially important when defining the funding chain within the development aid sector and can help to shape the overall picture. Providing this information can also be beneficial to give clarity on expenditure over periods of time which is reflected within the results obtained for the project.' %}</p>
            </div>
            <form role="form">
                {% include text_input with obj=project field='donate_url' %}

                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_budgetitem" }}">
                    <h5>{% trans 'Budget items' %}</h5>
                    {% if project.has_multiple_budget_currencies %}
                    <p class="help-block">{% trans 'The total value of all budget items is:' %} <span id="total-budget">{% if project.budget %}{{ project.budget_currency_totals_string }}{% else %}0{% endif %}</p>
                    {% else %}
                    <p class="help-block">{% trans 'The total value of all budget items is:' %} <span id="total-budget">{% if project.budget %}{{ project.budget|floatformat:0|intcomma }}{% else %}0{% endif %}</span><span class="currency-display"> {{ project.currency }}</span></p>
                    {% endif %}
                <div class="row">
                        <div class="col-md-12">
                            {% include percentage_input with obj=project field='capital_spend_percentage' %}
                        </div>
                    </div>
                    <div class="budget-item-container" id="budget-item-container">
                        {% for item in project.budget_items.all %}
                            {% include "myrsr/project_editor/related_objects/budget_item_input.html" %}
                        {% empty %}
                            {% include "myrsr/project_editor/related_objects/budget_item_input.html" with item='BudgetItem.'|add:project_id_string %}
                        {% endfor %}
                        <div class="row form-group">
                            <div class="col-md-12 text-center add-object-link">
                                <a href="#" class="add-budget-item"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another budget item' %}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_countrybudgetitem" }}">
                    <h5>{% trans 'Country budget items' %}</h5>
                    {% include choice_input with obj=project field='country_budget_vocabulary' %}
                    <div class="country-budget-item-container" id="country-budget-item-container">
                        {% for item in project.country_budget_items.all %}
                            {% include "myrsr/project_editor/related_objects/country_budget_item_input.html" %}
                        {% empty %}
                            {% include "myrsr/project_editor/related_objects/country_budget_item_input.html" with item='CountryBudgetItem.'|add:project_id_string %}
                        {% endfor %}
                        <div class="row form-group">
                            <div class="col-md-12 text-center add-object-link">
                                 <a href="#" class="add-country-budget-item"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another country budget item' %}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_transaction" }}">
                    <h5>{% trans 'Transactions' %}</h5>
                    <div class="transaction-container" id="transaction-container">
                        {% for transaction in project.transactions.all %}
                            {% include "myrsr/project_editor/related_objects/transaction_input.html" %}
                        {% empty %}
                            {% include "myrsr/project_editor/related_objects/transaction_input.html" with transaction='Transaction.'|add:project_id_string %}
                        {% endfor %}
                        <div class="row form-group">
                            <div class="col-md-12 text-center add-object-link">
                                <a href="#" class="add-transaction"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another transaction' %}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_planneddisbursement" }}">
                    <h5>{% trans 'Planned disbursements' %}</h5>
                    <div class="planned-disbursement-container" id="planned-disbursement-container">
                        {% for pd in project.planned_disbursements.all %}
                            {% include "myrsr/project_editor/related_objects/planned_disbursement_input.html" %}
                        {% empty %}
                            {% include "myrsr/project_editor/related_objects/planned_disbursement_input.html" with pd='PlannedDisbursement.'|add:project_id_string %}
                        {% endfor %}
                        <div class="row form-group">
                            <div class="col-md-12 text-center add-object-link">
                                 <a href="#" class="add-planned-disbursement"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another planned disbursement' %}</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% if custom_fields_section_6 %}
                    <div class="row">
                        <div class="col-md-12">
                          <h4>Additional fields fields for {{ project.primary_organisation }}</h4>
                        </div>
                    </div>
                {%  endif %}

                {% for customfield in custom_fields_section_6 %}
                    {% include custom_field_input %}
                {% endfor %}

                {% include "myrsr/project_editor/partials/save_row.html" %}
            </form>
        </div>
    </div>
</div>
