{% load i18n thumbnail project_editor %}

<div class="myPanel borderBottom" id="panel1">
    <div class="formStep stepOne">
        <div class="toggleSection">
            <label for="stepOne" class="stepLabel"><h4>01 - {%  trans 'General information' %}<span class="glyphicon glyphicon-info-sign info-icon info-icon-special hidden" toggleid="step-1-helptext"></span></h4></label>
        </div>
        <input type="radio" name="step" id="stepOne">
        <div class="progress section-progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only"></span><span class="progress-percentage"></span>
            </div>
        </div>
        <div class="formBlock hidden">
            <p class="help-block hidden" id="step-1-helptext">
                {% trans 'This section contains top-level information about your project which will be used in searches.' %}
            </p>
            <form role="form">
                {% include text_input with obj=project field="title" %}
                {% include text_input with obj=project field="subtitle" %}
                {% if iati_prefixes %}
                    {% include "myrsr/project_editor/partials/iati_prefix.html" with obj=project field="iati_activity_id" %}
                {% endif %}
                {% include text_input with obj=project field="iati_activity_id" disabled=iati_prefixes %}

                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_relatedproject" }}">
                    <h5>{% trans 'Related projects' %}</h5>
                    <div class="related-project-container">
                        {% for rp in project.related_projects.all %}
                            {% include "myrsr/project_editor/related_objects/related_project_input.html" %}
                        {% empty %}
                            {% include "myrsr/project_editor/related_objects/related_project_input.html" with rp='RelatedProject.'|add:project_id_string %}
                        {% endfor %}
                        <div class="row form-group">
                            <div class="col-md-12 text-center add-object-link">
                                <a href="#" class="add-related-project"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another related project' %}</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% include choice_input with obj=project field="hierarchy" %}
                {% include choice_input with obj=project field="iati_status" %}

                <div class="row">
                    <div class="col-md-6">
                        {% include date_input with obj=project field="date_start_planned" %}
                        {% include date_input with obj=project field="date_end_planned" %}
                    </div>
                    <div class="col-md-6">
                        {% include date_input with obj=project field="date_start_actual" %}
                        {% include date_input with obj=project field="date_end_actual" %}
                    </div>
                </div>
                {% include choice_input with obj=project field="currency" not_empty=True %}
                {% include choice_input with obj=project field="language" %}

                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_project.current_image" }}">
                    <h5>{% trans 'Project photo' %}</h5>
                    <div class="row">
                        <div class="col-md-12 text-center" id="photo-container">
                            {% if project.current_image %}
                                {% thumbnail project.current_image '250x250' format="PNG" upscale=True as im %}
                                    <img src="{{im.url}}" class="current-project-photo" id="img-photo" />
                                {% endthumbnail %}
                                <a class="btn btn-link delete-photo-button" id="delete-photo"><span class="glyphicon glyphicon-remove"></span> {% trans 'Delete photo' %}</a>
                            {% endif %}
                        </div>
                    </div>

                {% include file_input with obj=project field="current_image" accept="image/*" %}
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {% include text_input with obj=project field="current_image_caption" %}
                    </div>
                    <div class="col-md-6">
                        {% include text_input with obj=project field="current_image_credit" %}
                    </div>
                </div>

                <div class="default-aid-type-vocabulary">
                    {% include choice_input with obj=project field="default_aid_type_vocabulary" %}
                </div>
                <div class="aid-type-dropdown-input hidden">
                    {% include choice_input with obj=project field="default_aid_type" %}
                </div>
                <div class="aid-type-text-input hidden">
                    {% include text_input with obj=project field="default_aid_type" %}
                </div>
                {% include choice_input with obj=project field="default_flow_type" %}
                {% include choice_input with obj=project field="default_tied_status" %}
                {% include choice_input with obj=project field="collaboration_type" %}
                {% include choice_input with obj=project field="default_finance_type" %}

                {% if custom_fields_section_1 %}
                    <div class="row">
                        <div class="col-md-12">
                            <h4>
                                {% blocktrans with primary_organisation_name=project.primary_organisation %}
                                    Additional fields for {{ primary_organisation_name }}
                                {% endblocktrans %}
                            </h4>
                        </div>
                    </div>
                {%  endif %}

                {% for customfield in custom_fields_section_1 %}
                    {% include custom_field_input %}
                {% endfor %}

                {% include "myrsr/project_editor/partials/save_row.html" %}
            </form>
        </div>
    </div>
</div>
