{% load i18n %}

<div class="myPanel borderBottom" id="panel10">
    <div class="formStep stepTen">
        <div class="toggleSection">
            <label for="stepTen" class="stepLabel"><h4>10 - {% trans 'Project comments and keywords' %}<span class="glyphicon glyphicon-info-sign info-icon hidden" onclick="toggleId(event, this, 'step-10-helptext');"></span></h4></label>
        </div>
        <input type="radio" name="step" id="stepTen">
        <div class="progress section-progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only"></span><span class="progress-percentage"></span>
            </div>
        </div>
        <div class="formBlock hidden">
            <p class="help-block hidden" id="step-10-helptext">{% trans 'Fill in comments regarding the project. These are only for internal use and will not be displayed anywhere on the project page.' %}</p>
            <form role="form" class="form">
                {% include textarea_input with obj=project field='notes' %}

                  {# TODO: Keywords #}
{#                <h5>{% trans 'Keywords' %}</h5>#}
{#                <div class="keyword-container" id="keyword-container">#}
{#                    {% for keyword in project.keywords.all %}#}
{#                        {% include "myrsr/project_editor/section_10/keyword_input.html" %}#}
{#                    {% empty %}#}
{#                        {% include "myrsr/project_editor/section_10/keyword_input.html" with keyword='Keyword.'|add:project_id_string %}#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div class="row form-group">#}
{#                    <div class="col-md-12 text-center add-object-link">#}
{#                         <a href="#" class="add-keyword" id=""><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another keyword' %}</a>#}
{#                    </div>#}
{#                </div>#}

                {% for customfield in custom_fields_section_10 %}
                    {% include custom_field_input %}
                {% endfor %}

                {% include "myrsr/project_editor/partials/save_row.html" %}
            </form>
        </div>
    </div>
</div>