{% load i18n project_editor %}

<div class="myPanel borderBottom" id="panel3">
    <div class="formStep stepThree">
        <div class="toggleSection">
            <label for="stepThree" id="label3" class="stepLabel"><h4>03 - {% trans 'Project partners' %}<span class="glyphicon glyphicon-info-sign info-icon info-icon-special hidden" toggleid="step-3-helptext"></span></h4></label>
        </div>
        <input type="radio" name="step" id="stepThree">
        <div class="progress section-progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only"></span><span class="progress-percentage"></span>
            </div>
        </div>
        <div class="formBlock hidden">
            <p class="help-block hidden" id="step-3-helptext">
                {% trans 'In this section you can add information about all the organisations involved in the project and their various roles. If the organisation is not currently featured in RSR, please contact support@akvo.org to request to add it to the database.' %}
            </p>
            <form role="form">
                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_partnership" }}">
                    <h5>{% trans 'Participating organisations' %}<span class="glyphicon glyphicon-info-sign info-icon info-icon-special activated" toggleid="partners-helptext"></span></h5>
                    <p class="help-block" id="partners-helptext">{% trans 'Select an organisation that is playing a role in the project. If an organisation is not currently featured in RSR, please use the "Add a new organisation" button to add a new organisation to the database.' %}</p>
                    <div class="partner-container" id="partner-container">
                        {% for ps in project.partnerships.all %}
                            {% include "myrsr/project_editor/related_objects/partner_input.html" %}
                        {% empty %}
                            {% include "myrsr/project_editor/related_objects/partner_input.html" with ps='Partnership.'|add:project_id_string %}
                        {% endfor %}
                        <div class="row form-group">
                            <div class="col-md-12 text-center add-object-link">
                                <a href="#" class="add-partner"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another participating organisation' %}</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% if custom_fields_section_3 %}
                    <div class="row">
                        <div class="col-md-12">
                          <h4>Additional fields fields for {{ project.primary_organisation }}</h4>
                        </div>
                    </div>
                {%  endif %}

                {% for customfield in custom_fields_section_3 %}
                    {% include custom_field_input %}
                {% endfor %}

                {% include "myrsr/project_editor/partials/save_row.html" %}
            </form>
        </div>
    </div>
</div>