{% load i18n project_editor %}

<div class="myPanel borderBottom" id="panel2">
    <div class="formStep stepTwo">
        <div class="toggleSection">
            <label for="stepTwo" class="stepLabel"><h4>02 - {% trans 'Contact information' %}<span class="glyphicon glyphicon-info-sign info-icon info-icon-special hidden" toggleid="step-2-helptext"></span></h4></label>
        </div>
        <input type="radio" name="step" id="stepTwo">
        <div class="progress section-progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only"></span><span class="progress-percentage"></span>
            </div>
        </div>
        <div class="formBlock hidden">
            <p class="help-block hidden" id="step-2-helptext">{% trans 'In this section you can provide contact information of involved project partners. You can add multiple contacts. Be aware that this information will be public, so avoid giving personal contact details.' %}</p>
            <form role="form">
                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_projectcontact" }}">
                    <h5>{% trans 'Project contacts' %}</h5>
                    <div class="contact-information-container" id="contact-information-container">
                        {% for contact in project.contacts.all %}
                            {% include "myrsr/project_editor/related_objects/contact_information_input.html" %}
                        {% empty %}
                            {% include "myrsr/project_editor/related_objects/contact_information_input.html" with contact="ProjectContact."|add:project_id_string %}
                        {% endfor %}
                        <div class="row form-group">
                            <div class="col-md-12 text-center add-object-link">
                                <a href="#" class="add-contact-information"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another contact' %}</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% if custom_fields_section_2 %}
                    <div class="row">
                        <div class="col-md-12">
                            <h4>
                                {% blocktrans with primary_organisation_name=project.primary_organisation %}
                                    Additional fields for {{ primary_organisation_name }}
                                {% endblocktrans %}
                            </h4>
                        </div>
                    </div>
                {%  endif %}

                {% for customfield in custom_fields_section_2 %}
                    {% include custom_field_input %}
                {% endfor %}

                {% include "myrsr/project_editor/partials/save_row.html" %}
            </form>
        </div>
    </div>
</div>
