{% load i18n project_editor %}

{# KB hack: this section is not displayed when CRS++ is not displayed #}
<div class="myPanel borderBottom {{ validations|mandatory_or_hidden:"rsr_crsadd" }}" id="panel11">
    <div class="formStep stepEleven">
        <div class="toggleSection">
            <label for="stepEleven" class="stepLabel"><h4>11 - {% trans 'CRS++ and FSS reporting' %}<span class="glyphicon glyphicon-info-sign info-icon info-icon-special hidden" toggleid="step-11-helptext"></span></h4></label>
        </div>
        <input type="radio" name="step" id="stepEleven">
        <div class="progress section-progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only"></span><span class="progress-percentage"></span>
            </div>
        </div>
        <div class="formBlock hidden">
            <p class="help-block hidden" id="step-11-helptext">{% trans 'This part of the project editor is only relevant to organisations that actively report to CRS++ and/or the OECD DAC Forward Spending Survey. OECD Reporting Directives should be followed for guidance. For more information, see' %} <a href="http://iatistandard.org/202/activity-standard/overview/crs-fss/" target="_blank">{% trans 'CRS & FSS documentation' %}</a>.</p>
            <form role="form">
                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_crsadd" }}">
                    <h5>{% trans 'CRS++' %}</h5>
                    <div class="form-group">
                        <div class="crs-add-container">
                            {% if project.crsadd %}
                                {% include "myrsr/project_editor/related_objects/crs_add_input.html" with crs=project.crsadd %}
                            {% else %}
                                {% include "myrsr/project_editor/related_objects/crs_add_input.html" with crs='CrsAdd.'|add:project_id_string %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_fss" }}">
                    <h5>{% trans 'FSS' %}</h5>
                    <div class="form-group">
                        <div class="fss-container">
                            {% if project.fss %}
                                {% include "myrsr/project_editor/related_objects/fss_input.html" with fss=project.fss %}
                            {% else %}
                                {% include "myrsr/project_editor/related_objects/fss_input.html" with fss='Fss.'|add:project_id_string %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_legacydata" }}">
                    <h5>{% trans 'Legacy data' %}</h5>
                    <div class="form-group">
                        <div class="legacy-data-container">
                            {% for legacy in project.legacy_data.all %}
                                {% include "myrsr/project_editor/related_objects/legacy_data_input.html" %}
                            {% empty %}
                                {% include "myrsr/project_editor/related_objects/legacy_data_input.html" with legacy='LegacyData.'|add:project_id_string %}
                            {% endfor %}
                            <div class="row form-group">
                                <div class="col-md-12 text-center add-object-link">
                                     <a href="#" class="add-legacy-data"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another legacy data' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if custom_fields_section_11 %}
                    <div class="row">
                        <div class="col-md-12">
                            <h4>
                                {% blocktrans with primary_organisation_name=project.primary_organisation %}
                                    Additional fields for {{ primary_organisation_name }}
                                {% endblocktrans %}
                            </h4>
                        </div>
                    </div>
                {%  endif %}

                {% for customfield in custom_fields_section_11 %}
                    {% include custom_field_input %}
                {% endfor %}
                {% include "myrsr/project_editor/partials/save_row.html" %}
            </form>
        </div>
    </div>
</div>
