{% load i18n project_editor %}

<div class="myPanel borderBottom" id="panel9">
    <div class="formStep stepNine">
        <div class="toggleSection">
            <label for="stepNine" class="stepLabel"><h4>09 - {% trans 'Links and documents' %}<span class="glyphicon glyphicon-info-sign info-icon info-icon-special hidden" toggleid="step-9-helptext"></span></h4></label>
        </div>
        <input type="radio" name="step" id="stepNine">
        <div class="progress section-progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only"></span><span class="progress-percentage"></span>
            </div>
        </div>
        <div class="formBlock hidden">
            <p class="help-block hidden" id="step-9-helptext">
                {% trans 'You can add any additional supporting documents to your project or links to external websites here.' %}
                {% trans 'This could be in the form of annual reports, baseline surveys, contextual information or any other report that can help users understand more about the project’s activities.' %}
                {% trans 'Note that the size of documents should be smaller than 5 MB.' %}
            </p>
            <form role="form">
                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_link" }}">
                    <h5>{% trans 'Links' %}</h5>
                    <div class="form-group">
                        <div class="link-container">
                            {% for link in project.links.all %}
                                {% include "myrsr/project_editor/related_objects/link_input.html" %}
                            {% empty %}
                                {% include "myrsr/project_editor/related_objects/link_input.html" with link='Link.'|add:project_id_string %}
                            {% endfor %}
                            <div class="row form-group">
                                <div class="col-md-12 text-center add-object-link">
                                     <a href="#" class="add-link"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another link' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="related-object-container {{ validations|mandatory_or_hidden:"rsr_projectdocument" }}">
                    <h5>{% trans 'Document links' %}</h5>
                    <div class="document-container">
                        {% for document in project.documents.all %}
                            {% include "myrsr/project_editor/related_objects/document_input.html" %}
                        {% empty %}
                            {% include "myrsr/project_editor/related_objects/document_input.html" with document='ProjectDocument.'|add:project_id_string %}
                        {% endfor %}
                        <div class="row form-group">
                            <div class="col-md-12 text-center add-object-link">
                                 <a href="#" class="add-document"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another document' %}</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% if custom_fields_section_9 %}
                    <div class="row">
                        <div class="col-md-12">
                          <h4>Additional fields fields for {{ project.primary_organisation }}</h4>
                        </div>
                    </div>
                {%  endif %}

                {% for customfield in custom_fields_section_9 %}
                    {% include custom_field_input %}
                {% endfor %}

                {% include "myrsr/project_editor/partials/save_row.html" %}
            </form>
        </div>
    </div>
</div>