{% load i18n thumbnail rsr_filters %}

{% if projects %}

<style type="text/css" media="screen">
	.mapInfoWindow {
		min-height:150px;
	}
	.mapInfoWindow h4 {
		color:#BE0903;
		padding:5px 5px;
	}

	div.bubble_header {
		background-color:#BE0903;
		padding-top:8px;
		padding-bottom:4px;
		padding-left:5px;
	}
	div.bubble_header h3 {
		color:#fff;
	}
</style>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	
	<script type="text/javascript">

        var jQ = jQuery.noConflict();

	    function loadGlobalMap() {

	        var center = new google.maps.LatLng(0,0);

	        {% for project in projects %}
                var project_{{ project.id }}_url = "{% url project_main project_id=project.id %}";
	            var project_{{ project.id }}_latitude = {{ project.primary_location.latitude }};
	            var project_{{ project.id }}_longitude = {{ project.primary_location.longitude }};
	            var project_{{ project.id }}_coordinates = new google.maps.LatLng(project_{{ project.id }}_latitude, project_{{ project.id }}_longitude);
                var zoom = {{ zoom }};
	        {% endfor %}

	        var mapCanvas = document.getElementById('map_canvas');

	        var mapOptions = {
	            center: center,
	            mapTypeId: google.maps.MapTypeId.ROADMAP,
	            scrollwheel: false,
	            zoom: zoom
	        };

	        var map = new google.maps.Map(mapCanvas, mapOptions);

	        {% for project in projects %}
	            var project_{{ project.id }}_marker = new google.maps.Marker({
                    {% if marker_icon %}icon: '{{ marker_icon }}',{% endif %}
	                map: map,
	                position: project_{{ project.id }}_coordinates,
	                title: 'Project location'
	            });

	            var project_{{ project.id }}_info = '<div class="mapInfoWindow">' +
					'<div class="bubble_header"><h3>{% trans 'Project' %}</h3></div>' +
	                '<h4><a href="' + project_{{ project.id }}_url + '">' +
                    '{{ project.name|smart_truncate:35}}</a></h4>' +
                    '<a href="' + project_{{ project.id }}_url + '">' +
	                '<img src="{% thumbnail project.current_image 100x100 autocrop sharpen %}" alt="" /></a>' +
					'<p class="small grey" style="margin:0;">{% trans 'Location' %}</p>' +
					'<div id="project_location"><p class="small">' +
					'{{project.country.get_continent_display}}<br />' +
					'{{project.country}}, {{project.city}} </p></div>'
	                '</div>';
	
	            var project_{{ project.id }}_infowindow = new google.maps.InfoWindow({
	                content: project_{{ project.id }}_info
	            });
	            google.maps.event.addListener(project_{{ project.id }}_marker, 'click', function() {
	                project_{{ project.id }}_infowindow.open(map, project_{{ project.id }}_marker);
	            });
	        {% endfor %}

	    }

        jQ(document).ready(function() {
            loadGlobalMap();
        });

	</script>

{% if width == 0 and height == 0 %}
    <div id="map_canvas" style="width: 100%; height: 100%;"></div>
{% else %}
    <div id="map_canvas" style="width: {{ width }}px; height: {{ height }}px;"></div>
{% endif %}

{% endif %}
