{% load i18n %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script charset="utf-8">

    var jQ = jQuery.noConflict();

    function loadGoogleMap() {

        var latitude = {{ object.primary_location.latitude }};
        var longitude = {{ object.primary_location.longitude }};
        var zoom = {{ zoom }};

        var mapData = {
            coordinates: new google.maps.LatLng(latitude, longitude),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
        };

        var mapOptions = {
            zoom: zoom,
            center: mapData.coordinates,
            mapTypeId: mapData.mapTypeId,
            scrollwheel: false,
            streetViewControl: false
        };

        var mapCanvas = document.getElementById('map_canvas');

        var map = new google.maps.Map(mapCanvas, mapOptions);

        var marker = new google.maps.Marker({
            {% if marker_icon %}
                icon: '{{ marker_icon }}',
            {% endif %}
            map: map,
            position: mapData.coordinates,
            // title: '{{ object.title }}'
        });

    }

    jQ(document).ready(
        function() {
            loadGoogleMap();
        }
    );

</script>

<div id="map_canvas" style="width: {{ width }}px; height: {{ height }}px;"></div>
