{% load i18n thumbnail %}

{% thumbnail project.current_image wxh upscale autocrop sharpen as project_image %}

{% if project_image %}
<div style="width: {{width}}px; height:{{height}}px; text-align: center; vertical-align: middle; {{div_style}}">
    <img
        src="{{project_image}}"
        alt="{{project.current_image_caption}}"
        style="{{img_style}}"
    />
</div>
{% else %}
<div style="width: {{width}}px; height:{{height}}px; background: #F6F6F6; text-align: center; {{div_style}}">
 <p class="tiny" style="margin:0;padding:0;">{% trans 'Image missing' %}</p>
</div>
{% endif %}