{% load i18n %}

{% if update.video %}
    <div id="embeddedVideoThumbnail" style="width: {{ width }}px; height:{{ height }}px;">
        <a href="{{ update.video }}"></a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="{{ media_url }}core/js/jquery.embedly.min.js"></script>
    <script>
      var jQ = jQuery.noConflict();
      jQ(document).ready(function() {
        var targetElement = jQ('#embeddedVideoThumbnail a');
        targetElement.embedly({}, function(oembed, dict) {
          var imgTag = '<img src="' + oembed.thumbnail_url + '" />';
          jQ(imgTag).appendTo(dict['node']);
        });
      });
    </script>
{% endif %}
