{% load i18n %}

{% if update.video %}
    <div id="embeddedVideo" style="width: {{ width }}px; height:{{ height }}px; text-align: center;">
        <a href="{{ update.video }}"></a>
    </div>
    <div style="width: {{ width }}px;">
        {% if update.video_credit %}
            <p class="small grey" style="float: right;">
                {% trans 'Video credit' %}: {{ update.video_credit }}
            </p>
        {% endif %}
        {% if update.video_caption %}
            <p class="small grey">
                {{ update.video_caption }}
            </p>
        {% endif %}
    </div>
    <script src="{{ MEDIA_URL}}js/jquery.embedly.min.js"></script>
    <script>
        var url, width, height = {{ update.video }}, {{ width }}, {{ height }}
        $(function() {
            $('#embeddedVideo a').embedly({
                maxWidth: width,
                maxHeight: height
            });
        });
    </script>
{% endif %}
