
/* box-level
-------------------------------------------------------------------------------------- */

#outer_leftwing
{
float: left;
width: 710px;
}

#outer_rightwing
{
float: right;
width: 250px;
}

#home_flash_box
{
margin-bottom:  20px;
background-color: #009DE4;
}

#subdetailsleft
{
width: 343px;
float: left;
}

#subdetailsright
{
width: 343px;
float: right;
}

/* box-elements
-------------------------------------------------------------------------------------- */

#project_details_leftwing
{
padding-top: 15px;
width: 220px;
float: left;
border-right: 1px solid #dedede;
}

#project_details_rightwing
{
padding-top: 20px;
margin-left: 230px;
}

#project_details_rightwing div .leftwing
{
float: left;
width: 100px;
background-color: green;
}

#project_details_rightwing div .rightwing
{
background-color: blue;
}

/* system message and error pages
-------------------------------------------------------------------------------------- */
.c1
{
font-size: 1.4em;    
}

.c2
{
margin: 40px auto 50px auto;
width: 400px;
}

.c3
{
text-align: center;
margin: 20px 0 20px 0    
}

#error .c1
{
font-size: 1.6em;
color: red;
font-weight: bold;
text-align: center;
margin: 30px 0;    
}

#error .c2
{
margin: 0 auto;
width: 40%
}