
/* box-level
-------------------------------------------------------------------------------------- */

#outer_leftwing
{
float: left;
width: 710px;
}

#outer_rightwing
{
float: right;
width: 250px;
}

#home_flash_box
{
margin-bottom:  20px;
background-color: #009DE4;
}

#subdetailsleft
{
width: 343px;
float: left;
}

#subdetailsright
{
width: 343px;
float: right;
}

/* box-elements
-------------------------------------------------------------------------------------- */

#project_details_leftwing
{
padding-top: 15px;
width: 220px;
float: left;
border-right: 1px solid #dedede;
}

#project_details_rightwing
{
padding-top: 20px;
margin-left: 230px;
}

#project_details_rightwing div .leftwing
{
float: left;
width: 100px;
background-color: green;
}

#project_details_rightwing div .rightwing
{
background-color: blue;
}

