<VirtualHost *>
DocumentRoot "/var/gabriel3/www"
ServerName gabriel3.akvo.org
ServerAdmin gabriel@akvo.org

ErrorLog /var/log/apache2/gabriel3/error.log
LogLevel debug
CustomLog /var/log/apache2/gabriel3/access.log "combinedfwdip"

ServerSignature Off
BrowserMatch "MSIE" AuthDigestEnableQueryStringHack=On

<Directory />
    Order Allow,Deny
    Allow from All
</Directory>

<Directory /var/gabriel3/www>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride None
    Order Allow,Deny
    Allow from All
</Directory>

Alias /web /var/www/drupal/
<Directory /var/www/drupal>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride None
    Order allow,deny
    allow from all
    RewriteEngine on
    RewriteBase /web
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ ?q=$1 [L,QSA]
</Directory>

Alias /wiki /var/www/wiki/
<Directory /var/www/wiki>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride None
    Order allow,deny
    allow from all
</Directory>

Alias /blog /var/www/wordpress/
<Directory /var/www/wordpress>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride None
    Order allow,deny
    allow from all
</Directory>

Alias /lists /var/www/lists/
<Directory /var/www/lists>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride None
    Order allow,deny
    allow from all
</Directory>

<LocationMatch ^/$>
    SetHandler python-program
    SetEnv DJANGO_SETTINGS_MODULE akvo.settings
    PythonDebug On
    PythonPath "['/var/virtualenv/sms/bin', '/var/gabriel3/git/static',  '/var/gabriel3/git/static/akvo'] + sys.path"
    PythonHandler akvo_modpython
    PythonInterpreter rsr_index
</LocationMatch>

<Location "/rsr">
    SetHandler python-program
    SetEnv DJANGO_SETTINGS_MODULE akvo.settings
    PythonDebug On
    PythonPath "['/var/virtualenv/sms/bin', '/var/gabriel3/git/static',  '/var/gabriel3/git/static/akvo'] + sys.path"
    PythonHandler akvo_modpython
    PythonInterpreter rsr
</Location>

Alias /rsr/media /var/gabriel3/www/akvo/mediaroot/
<Directory /var/gabriel3/www/akvo/mediaroot/>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride None
    Order Allow,Deny
    Allow from All
</Directory>

<Location "/rsr/media">
    SetHandler None
</Location>

LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combinedfwdip
</VirtualHost>
