{% load i18n rsr_tags %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="{% trans 'The Dutch water sector: Resourcefulness and cooperation around the world' %}" />
	<meta name="keywords" content="{% trans 'The Dutch water sector, dutchwatersector' %}" />
	<title>{% block title %}{% trans 'The Dutch water sector' %}{% endblock %}</title>
	
	{% page_styles %}
	<style type="text/css" media="screen">{% block inline_styles %}{% endblock inline_styles %}</style>
	
</head>
<body>
{% block menu %}

{% endblock menu %}


{% block content %}

{% endblock content %}

{% block js %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript">
	if (typeof jQuery == 'undefined') {
		document.write('<script type="text/javascript" src="{{MEDIA_URL}}base/js/jquery.js"><'); document.write('/script>');
	}
</script>

{% endblock js %}

<script type="text/javascript">
$(document).ready(function(){
{% block jquery_ready %}{% endblock jquery_ready %}	
});
</script>

</body>
</html>

	

