{% load i18n %}
<div class="condition-item parent" id="project_condition{% if key %}-{{ key }}{% endif %}">
    <div class="row partial-header">
        <div class="col-md-9 col-sm-6 col-xs-6 hide-partial-click">
            <span class="folded-sign">{% if condition %}+{% else %}-{% endif %}</span> {% trans 'Project condition' %}: <span class="unicode">{% if condition %}{{ condition }}{% else %}({% trans 'new' %}){% endif %}</span>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 text-right">
            <a class="delete-object-button" id="delete-condition{% if key %}-{{ key }}{% endif %}"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
    <div class="hide-partial {% if condition %}hidden{% endif %}">
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <div class="select-group control">
                        <select name="condition-type{% if key %}-{{ key }}{% endif %}" id="condition-type{% if key %}-{{ key }}{% endif %}" class="form-control priority3" saved-value="{{ condition.type }}">
                            <option value="" {% if not condition.type %} selected="selected" {% endif %}></option>
                            {% for entry in condition_types %}
                                <option value="{{ entry.code }}" {% if condition.type == entry.code %} selected="selected" {% endif %}>{{ entry.code }} - {{ entry.name }}</option>
                            {% endfor %}
                        </select>
                        <label class="control-label" for="condition-type{% if key %}-{{ key }}{% endif %}">{% trans 'Condition type' %}</label>
                        <p class="help-block hidden">
                            {% blocktrans %}Condition type – e.g. policy, performance.<br/>
                            1 - Policy: The condition attached requires a particular policy to be implemented by the recipient<br/>
                            2 - Performance: The condition attached requires certain outputs or outcomes to be achieved by the recipient<br/>
                            3 - Fiduciary: The condition attached requires use of certain public financial management or public accountability measures by the recipient{% endblocktrans %}
                        </p>
                    </div>
                </div>
                <div class="col-md-9 control">
                    <textarea id="condition-text{% if key %}-{{ key }}{% endif %}" class="form-control priority3" name="condition-text{% if key %}-{{ key }}{% endif %}" maxlength="100" saved-value="{{ condition.text }}">{{ condition.text }}</textarea>
                    <label class="control-label" for="condition-text{% if key %}-{{ key }}{% endif %}">{% trans 'Condition' %}</label>
                    <p class="help-block hidden">{% trans 'The text of a specific condition attached to the Project. Organisation-wide terms and conditions that apply to all activities should not be reported here, but in either iati-organisation/document-link or iati-activity-document-link.' %}</p>
                </div>
            </div>
        </div>
    </div>
</div>