{% load i18n %}
<div class="document-item parent" id="project_document{% if key %}-{{ key }}{% endif %}">
    <div class="row partial-header">
        <div class="col-md-9 col-sm-6 col-xs-6 hide-partial-click">
            <span class="folded-sign">{% if document %}+{% else %}-{% endif %}</span> {% trans 'Document link' %}: <span class="unicode">{% if document %}{{ document|safe }}{% else %}({% trans 'new' %}){% endif %}</span>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 text-right">
            <a class="delete-object-button" id="delete-document{% if key %}-{{ key }}{% endif %}"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
    <div class="hide-partial {% if document %}hidden{% endif %}">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6 control">
                    <input type="file" class="form-control priority2" id="document-document{% if key %}-{{ key }}{% endif %}" name="document-document{% if key %}-{{ key }}{% endif %}">
                    <label class="control-label" for="document-document{% if key %}-{{ key }}{% endif %}">{% trans 'Document' %}</label>
                    <p class="help-block hidden">{% trans 'You can upload a document to your project. To upload multiple documents, click "Add another document". These documents will be stored on the RSR server and will be publicly available for users to download and view to gain further insight into your project activities.' %}</p>
                    {% if document.document %}<a href="{{ document.document.url }}" target="_blank" id="document-document-url{% if key %}-{{ key }}{% endif %}">{{ document.document.url }}</a>
                    <a onclick="deleteDocument({% if key %}{{ key }}{% endif %});" class="btn btn-link delete-document-button" id="delete-document-document{% if key %}-{{ key }}{% endif %}"><span class="glyphicon glyphicon-remove"></span> {% trans 'Delete document' %}</a>{% endif %}
                </div>
                <div class="col-md-6 control">
                    <input type="text" class="form-control priority2" id="document-url{% if key %}-{{ key }}{% endif %}" name="document-url{% if key %}-{{ key }}{% endif %}" value="{{ document.url }}" saved-value="{{ document.url }}">
                    <label class="control-label" for="document-url{% if key %}-{{ key }}{% endif %}">{% trans 'Document URL' %}</label>
                    <p class="help-block hidden">{% trans 'Enter the the online location of your document, if possible.' %}</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6 control">
                    <input type="text" class="form-control priority2" id="document-title{% if key %}-{{ key }}{% endif %}" name="document-title{% if key %}-{{ key }}{% endif %}" value="{{ document.title }}" saved-value="{{ document.title }}" maxlength="100">
                    <label class="control-label" for="document-title{% if key %}-{{ key }}{% endif %}">{% trans 'Document title' %}</label>
                </div>
                <div class="col-md-6 control hidden hide-default">
                    <input type="text" class="form-control priority3" id="document-format{% if key %}-{{ key }}{% endif %}" name="document-format{% if key %}-{{ key }}{% endif %}" value="{{ document.format }}" saved-value="{{ document.format }}">
                    <label class="control-label" for="document-format{% if key %}-{{ key }}{% endif %}">{% trans 'Document format' %}</label>
                    <p class="help-block hidden">{% trans 'This provides the code for the Internet Media Type ("MIME type") of the document, and includes pdf, msword, rtf, xml, csv, etc.' %}</p>
                </div>
            </div>
        </div>
        <div class="form-group hidden hide-default">
            <div class="row">
                <div class="col-md-6">
                    <div class="select-group control">
                        <select class="form-control priority3" id="document-category{% if key %}-{{ key }}{% endif %}" name="document-category{% if key %}-{{ key }}{% endif %}" saved-value="{{ document.category }}">
                            <option value="" {% if not document.category %} selected="selected" {% endif %}></option>
                            {% for category in document_categories %}
                                <option value="{{ category.code }}" {% if document.category == category.code %} selected="selected" {% endif %}>{{ category.code }} - {{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <label class="control-label" for="document-category{% if key %}-{{ key }}{% endif %}">{% trans 'Document category' %}</label>
                        <p class="help-block hidden">{% trans 'The description of the type of content contained within the document.' %}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="select-group control">
                        <select class="form-control priority3" id="document-language{% if key %}-{{ key }}{% endif %}" name="document-language{% if key %}-{{ key }}{% endif %}" saved-value="{{ document.language }}">
                            <option value="" {% if not document.language %} selected="selected" {% endif %}></option>
                            {% for language in languages %}
                                <option value="{{ language.code }}" {% if document.language == language.code %} selected="selected" {% endif %}>{{ language.code }} - {{ language.name }}</option>
                            {% endfor %}
                        </select>
                        <label class="control-label" for="document-language{% if key %}-{{ key }}{% endif %}">{% trans 'Document language' %}</label>
                        <p class="help-block hidden">{% trans 'Select the language that the document is written in.' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>