{% load i18n %}
<div class="partner-item parent" id="partnership{% if key %}-{{ key }}{% endif %}">
    <div class="row partial-header">
        <div class="col-md-9 col-sm-6 col-xs-6 hide-partial-click">
            <span class="folded-sign">{% if partnership %}+{% else %}-{% endif %}</span> {% trans 'Participating organisation' %}: <span class="unicode">{% if partnership %}{{ partnership }}{% else %}({% trans 'new' %}){% endif %}</span>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 text-right">
            <a class="delete-object-button" id="delete-partner{% if key %}-{{ key }}{% endif %}"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
    <div class="hide-partial {% if partnership %}hidden{% endif %}">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 control">
                    <div class="partner-input partner{% if key %}-{{ key }}{% endif %} typeahead-container priority1"
                    data-child-id="partner{% if key %}-{{ key }}{% endif %}"
                    data-child-class="priority1"
                    data-value="{% if partnership.organisation.id %}{{partnership.organisation.id}}{% endif %}"
                    data-count-class="partner">
                    </div>
                </div>
                <div class="col-md-4 control">
                    <div class="select-group">
                        <select name="partner-role{% if key %}-{{ key }}{% endif %}" id="partner-role{% if key %}-{{ key }}{% endif %}" class="form-control priority1" onchange="toggleFunding(this)" saved-value="{{ partnership.iati_organisation_role }}">
                            <option value="" {% if not partnership.iati_organisation_role %} selected="selected" {% endif %}></option>
                            <option value="1" {% if partnership.iati_organisation_role == 1 %} selected="selected" {% endif %}>{% trans 'Funding partner' %}</option>
                            <option value="2" {% if partnership.iati_organisation_role == 2 %} selected="selected" {% endif %}>{% trans 'Accountable partner' %}</option>
                            <option value="3" {% if partnership.iati_organisation_role == 3 %} selected="selected" {% endif %}>{% trans 'Extending partner' %}</option>
                            <option value="4" {% if partnership.iati_organisation_role == 4 %} selected="selected" {% endif %}>{% trans 'Implementing partner' %}</option>
                            {% if partnership.iati_organisation_role == 100 %}<option value="100" selected="selected">{% trans 'Sponsor partner' %}</option>{% endif %}
                            <option value="101" {% if partnership.iati_organisation_role == 101 %} selected="selected" {% endif %}>{% trans 'Reporting organisation' %}</option>
                        </select>
                        <label for="partner-type{% if key %}-{{ key }}{% endif %}" class="control-label">{% trans 'Type' %}</label>
                        {% if partnership.iati_organisation_role == 100 %}<p class="help-block-error">{% trans "The 'sponsor' role will soon be removed, please select a different role for this organisation." %}</p>{% endif %}
                        <p class="help-block hidden">
                            {% blocktrans %}Select the role of the organisation within the project:<br/>
                            - Funding organisation: a government or organisation that provides funds to the project<br/>
                            - Implementing organisation: an organisation involved in carrying out the activity or intervention<br/>
                            - Accountable organisation: an organisation responsible for oversight of the project and its outcomes<br/>
                            - Extending organisation: an organisation that manages the budget and direction of a project on behalf of the funding organisation<br/>
                            - Reporting organisation: an organisation that will report this project in an IATI file{% endblocktrans %}
                        </p>
                    </div>
                </div>
                <div class="col-md-4 control">
                    <div class="input-group {% if partnership.iati_organisation_role == 1 %}priority1{% endif %}">
                        <span class="input-group-addon currency-display">{{ project.get_currency_display }}</span>
                        <input type="text" class="form-control priority1" id="funding-amount{% if key %}-{{ key }}{% endif %}"
                        name="funding-amount{% if key %}-{{ key }}{% endif %}" value="{% if partnership.funding_amount %}{{ partnership.funding_amount }}{% endif %}" saved-value="{% if partnership.funding_amount %}{{ partnership.funding_amount }}{% endif %}"
                        {% if partnership.iati_organisation_role != 1 %} disabled {% endif %}>
                    </div>
                    <label for="funding-amount{% if key %}-{{ key }}{% endif %}" class="control-label">{% trans 'Funding amount' %}</label>
                    <p class="help-block hidden">{% trans 'It’s only possible to indicate a funding amount for funding partners. Use a period to denote decimals.' %}</p>
                </div>
            </div>
        </div>
    </div>
</div>