{% load i18n %}
<div class="planned-disbursement-item parent" id="planned_disbursement{% if key %}-{{ key }}{% endif %}">
    <div class="row partial-header">
        <div class="col-md-9 col-sm-6 col-xs-6 hide-partial-click">
            <span class="folded-sign">{% if pd %}+{% else %}-{% endif %}</span> {% trans 'Planned disbursement' %}: <span class="unicode">{% if pd %}{{ pd }}{% else %}({% trans 'new' %}){% endif %}</span>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 text-right">
            <a class="delete-object-button" id="delete-planned-disbursement{% if key %}-{{ key }}{% endif %}"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
    <div class="hide-partial {% if pd %}hidden{% endif %}">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6 control">
                    <div class="input-group priority2">
                        <span class="input-group-addon currency-display">{{ project.get_currency_display }}</span>
                        <input type="text" class="form-control" name="planned-disbursement-value{% if key %}-{{ key }}{% endif %}" id="planned-disbursement-value{% if key %}-{{ key }}{% endif %}"
                        value="{% if pd.value %}{{ pd.value }}{% endif %}" saved-value="{% if pd.value %}{{ pd.value }}{% endif %}">
                    </div>
                    <label class="control-label" for="planned-disbursement-value{% if key %}-{{ key }}{% endif %}">{% trans 'Planned disbursement value' %}</label>
                    <p class="help-block hidden">{% trans 'This should only be used to report specific planned cash transfers. Use a period to denote decimals. ' %}</p>
                </div>
                <div class="col-md-6 control priority2 datepicker-container" id="planned-disbursement-value-date{% if key %}-{{ key }}{% endif %}"
                     data-child="{{ pd.value_date|date:"d/m/Y" }}"
                     data-label="{% trans 'Planned disbursement value date' %}"
                     data-helptext="{% trans 'Enter the specific date (DD/MM/YYYY) for the planned disbursement value.' %}"
                     data-classes="priority2"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="select-group control">
                <select name="planned-disbursement-type{% if key %}-{{ key }}{% endif %}" id="planned-disbursement-type{% if key %}-{{ key }}{% endif %}" class="form-control priority2" saved-value="{{ pd.type }}">
                    <option value="" {% if not pd.type %} selected="selected" {% endif %}></option>
                    {% for entry in budget_types %}
                        <option value="{{ entry.code }}" {% if pd.type == entry.code %} selected="selected" {% endif %}>{{ entry.code }} - {{ entry.name }}</option>
                    {% endfor %}
                </select>
                <label for="planned-disbursement-type{% if key %}-{{ key }}{% endif %}" class="control-label">{% trans 'Planned disbursement type' %}</label>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6 control priority2 datepicker-container" id="planned-disbursement-period-start{% if key %}-{{ key }}{% endif %}"
                     data-child="{{ pd.period_start|date:"d/m/Y" }}"
                     data-label="{% trans 'Planned disbursement period start' %}"
                     data-helptext="{% trans 'The exact date of the planned disbursement OR the starting date for the disbursement period (DD/MM/YYYY).' %}"
                     data-classes="priority2"></div>
                <div class="col-md-6 control priority2 datepicker-container" id="planned-disbursement-period-end{% if key %}-{{ key }}{% endif %}"
                     data-child="{{ pd.period_end|date:"d/m/Y" }}"
                     data-label="{% trans 'Planned disbursement period end' %}"
                     data-helptext="{% trans 'Enter the end date (DD/MM/YYYY) for the disbursement period.' %}"
                     data-classes="priority2"></div>
            </div>
        </div>
    </div>
</div>