{% load i18n %}
<div class="related-project-item parent" id="related_project{% if key %}-{{ key }}{% endif %}">
    <div class="row partial-header">
        <div class="col-md-9 col-sm-6 col-xs-6 hide-partial-click">
            <span class="folded-sign">{% if rp %}+{% else %}-{% endif %}</span> {% trans 'Related project' %}: <span class="unicode">{% if rp %}{{ rp }}{% else %}({% trans 'new' %}){% endif %}</span>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 text-right">
            <a class="delete-object-button" id="delete-related-project{% if key %}-{{ key }}{% endif %}"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
    <div class="hide-partial {% if rp %}hidden{% endif %}">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 control">
                    <div class="related-project-input related-project-project{% if key %}-{{ key }}{% endif %} typeahead-container"
                    data-child-id="related-project-project{% if key %}-{{ key }}{% endif %}"
                    data-child-class="priority2"
                    data-value="{% if rp.related_project.id %}{{rp.related_project.id}}{% endif %}"
                    data-count-class="related-project-project">
                    </div>
                </div>
                <div class="col-md-4 control">
                    <div class="select-group">
                        <select name="related-project-relation{% if key %}-{{ key }}{% endif %}" id="related-project-relation{% if key %}-{{ key }}{% endif %}" class="form-control priority2" saved-value="{{ rp.relation }}">
                            <option value="" {% if not rp.relation %}selected="selected"{% endif %}></option>
                            <option value="1" {% if rp.relation|add:0 == 1 %}selected="selected"{% endif %}>1 - {% trans 'Parent' %}</option>
                            <option value="2" {% if rp.relation|add:0 == 2 %}selected="selected"{% endif %}>2 - {% trans 'Child' %}</option>
                            <option value="3" {% if rp.relation|add:0 == 3 %}selected="selected"{% endif %}>3 - {% trans 'Sibling' %}</option>
                            <option value="4" {% if rp.relation|add:0 == 4 %}selected="selected"{% endif %}>4 - {% trans 'Co-funded' %}</option>
                            <option value="5" {% if rp.relation|add:0 == 5 %}selected="selected"{% endif %}>5 - {% trans 'Third party' %}</option>
                        </select>
                        <label for="related-project-relation{% if key %}-{{ key }}{% endif %}" class="control-label">{% trans 'Type' %}</label>
                        <p class="help-block hidden">
                            {% blocktrans %}The relationship between a project and related project. There are five types of relationships:<br/>
                            1 - Parent: the project you are now creating is a sub-component of the selected related project.<br/>
                            2 - Child: the selected related project is a sub-component of the project you are now creating.<br/>
                            3 - Sibling: the selected related project and the project you are now creating are both sub-components of a parent project.<br/>
                            4 - Co-funded: a project that receives funding from more than one organisation.<br/>
                            5 - Third party: a report by another organisation on the same project that you are reporting on.{% endblocktrans %}
                        </p>
                    </div>
                </div>
                <div class="col-md-4 control hidden hide-default">
                    <input type="text" class="form-control priority3" id="related-project-iati-identifier{% if key %}-{{ key }}{% endif %}" name="related-project-iati-identifier{% if key %}-{{ key }}{% endif %}" value="{{rp.related_iati_id}}" saved-value="{{rp.related_iati_id}}" maxlength="100" />
                    <label for="related-project-iati-identifier{% if key %}-{{ key }}{% endif %}" class="control-label">{% trans 'Related project IATI identifier' %}</label>
                    <p class="help-block hidden">{% trans 'In case you know the IATI identifier of a project that does not exist in RSR, you can point out the IATI identifier here.' %}</p>
                </div>
            </div>
        </div>
    </div>
</div>