{% load i18n %}
<div class="sector-item parent" id="sector{% if key %}-{{ key }}{% endif %}">
    <div class="row partial-header">
        <div class="col-md-9 col-sm-6 col-xs-6 hide-partial-click">
            <span class="folded-sign">{% if sector %}+{% else %}-{% endif %}</span> {% trans 'Sector' %}: <span class="unicode">{% if sector %}{{ sector }}{% else %}({% trans 'new' %}){% endif %}</span>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 text-right">
            <a class="delete-object-button" id="delete-sector{% if key %}-{{ key }}{% endif %}"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
    <div class="hide-partial {% if sector %}hidden{% endif %}">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 control">
                    <input type="text" class="form-control priority1" id="sector-code{% if key %}-{{ key }}{% endif %}" name="sector-code{% if key %}-{{ key }}{% endif %}" value="{{ sector.sector_code }}" saved-value="{{ sector.sector_code }}">
                    <label class="control-label" for="sector-code{% if key %}-{{ key }}{% endif %}">{% trans 'Sector code' %}</label>
                    <p class="help-block hidden">{% trans 'This is based on DAC sectors.' %}</p>
                </div>
                <div class="col-md-4 control">
                    <div class="input-group priority2">
                        <input type="text" class="form-control" id="sector-percentage{% if key %}-{{ key }}{% endif %}" name="sector-percentage{% if key %}-{{ key }}{% endif %}" value="{% if sector.percentage %}{{ sector.percentage }}{% endif %}" saved-value="{% if sector.percentage %}{{ sector.percentage }}{% endif %}">
                        <span class="input-group-addon">%</span>
                    </div>
                    <label class="control-label" for="sector-percentage{% if key %}-{{ key }}{% endif %}">{% trans 'Sector percentage' %}</label>
                    <p class="help-block hidden">{% trans 'If the activity occurs in more than one sector, the percentage of activity commitment allocated to each sector should be provided if available. Percentages should add up to 100% of the activity being reported if they are shown for each sector.' %}</p>
                </div>
                <div class="col-md-4 control">
                    <div class="select-group">
                        <select name="sector-vocabulary{% if key %}-{{ key }}{% endif %}" id="sector-vocabulary{% if key %}-{{ key }}{% endif %}" class="form-control priority2" saved-value="{{ sector.vocabulary }}">
                            <option value="" {% if not sector.vocabulary %} selected="selected" {% endif %}></option>
                            {% for vocabulary in sector_vocabularies %}
                                <option value="{{ vocabulary.code }}" {% if sector.vocabulary == vocabulary.code %} selected="selected" {% endif %}>{{ vocabulary.code }} - {{ vocabulary.name }}</option>
                            {% endfor %}
                        </select>
                        <label class="control-label" for="sector-vocabulary{% if key %}-{{ key }}{% endif %}">{% trans 'Sector vocabulary' %}</label>
                        <p class="help-block hidden">{% trans 'This is the code for the vocabulary used to describe the sector. This differentiates between DAC, ISO, COFOG, ADT (AidData) or WB (World Bank) vocabulary. If no code is given, it is assumed that DAC sectors are being used. Sectors should be mapped to DAC sectors where possible to enable international comparison.' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>