{% load i18n %}
<div class="sector-item parent" id="sector{% if key %}-{{ key }}{% endif %}">
    <div class="row partial-header">
        <div class="col-md-9 col-sm-6 col-xs-6 hide-partial-click">
            <span class="folded-sign">{% if sector %}+{% else %}-{% endif %}</span> {% trans 'Sector' %}: <span class="unicode">{% if sector %}{{ sector }}{% else %}({% trans 'new' %}){% endif %}</span>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 text-right">
            <a class="delete-object-button" id="delete-sector{% if key %}-{{ key }}{% endif %}"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
    <div class="hide-partial {% if sector %}hidden{% endif %}">
        {% if not sector.vocabulary %}
            <p class="help-block">{% trans 'In order to select a sector code, please select a vocabulary first. For more information, visit these links: ' %}<a href="http://iatistandard.org/201/codelists/SectorCategory/" target="_blank">{% trans 'DAC-3 sector codes' %}</a> {% trans 'or' %} <a href="http://iatistandard.org/201/codelists/Sector/" target="_blank">{% trans 'DAC-5 sector codes' %}</a>.</p>
        {% endif %}
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 control">
                    <div class="select-group">
                        <select name="sector-vocabulary{% if key %}-{{ key }}{% endif %}" id="sector-vocabulary{% if key %}-{{ key }}{% endif %}" class="form-control mandatory-rsr" saved-value="{{ sector.vocabulary }}" onchange="toggleSectors(this)">
                            <option value="" {% if not sector.vocabulary %} selected="selected" {% endif %}></option>
                            {% for vocabulary in sector_vocabularies %}
                                <option value="{{ vocabulary.code }}" {% if sector.vocabulary == vocabulary.code %} selected="selected" {% endif %}>{{ vocabulary.code }} - {{ vocabulary.name }}</option>
                            {% endfor %}
                        </select>
                        <label class="control-label" for="sector-vocabulary{% if key %}-{{ key }}{% endif %}">{% trans 'Sector vocabulary' %}</label>
                        <p class="help-block hidden">{% trans 'This is the code for the vocabulary used to describe the sector. Sectors should be mapped to DAC sectors to enable international comparison.' %}</p>
                    </div>
                </div>
                <div class="col-md-4 control">
                    <div class="select-group">
                        <select name="sector-code{% if key %}-{{ key }}{% endif %}" id="sector-code{% if key %}-{{ key }}{% endif %}" class="form-control mandatory-rsr" saved-value="{{ sector.sector_code }}"
                                displayed-options="{% if sector.sector_code|length == 5 or sector.vocabulary == '1' %}1{% elif sector.sector_code|length == 3 or sector.vocabulary == '2' %}2{% endif %}">
                            {% if sector.sector_code|length == 3 or sector.vocabulary == '2' %}
                                <option value=""></option>
                                {% for sector_cat_code in sector_category_codes %}
                                    <option value="{{ sector_cat_code.code }}" {% if sector.sector_code == sector_cat_code.code %}selected="selected"{% endif %}>{{ sector_cat_code.code }} - {{ sector_cat_code.name|title }}</option>
                                {% endfor %}
                            {% elif sector.sector_code|length == 5 or sector.vocabulary == '1' %}
                                <option value=""></option>
                                {% for sector_code in sector_codes %}
                                    <option value="{{ sector_code.code }}" {% if sector.sector_code == sector_code.code %}selected="selected"{% endif %}>{{ sector_code.code }} - {{ sector_code.name|title }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="" selected="selected"></option>
                            {% endif %}
                        </select>
                        <label class="control-label" for="sector-code{% if key %}-{{ key }}{% endif %}">{% trans 'Sector code' %}</label>
                        <p class="help-block hidden">{% trans 'This is based on DAC sectors. Please select a sector vocabulary first.' %}</p>
                    </div>
                </div>
                <div class="col-md-4 hide-default {% if not advanced_editor %}hidden{% endif %}">
                    <div class="input-group mandatory-rsr">
                        <input type="text" class="form-control mandatory-rsr" id="sector-percentage{% if key %}-{{ key }}{% endif %}" name="sector-percentage{% if key %}-{{ key }}{% endif %}" value="{% if sector.percentage %}{{ sector.percentage }}{% endif %}" saved-value="{% if sector.percentage %}{{ sector.percentage }}{% endif %}">
                        <span class="input-group-addon">%</span>
                    </div>
                    <label class="control-label" for="sector-percentage{% if key %}-{{ key }}{% endif %}">{% trans 'Sector percentage' %}</label>
                    <p class="help-block hidden">{% trans "Percentages should add up to 100% of the activity being reported if they are shown for each sector. Fill in 100% if there's one sector. Use a period to denote decimals." %}</p>
                </div>
            </div>
        </div>
    </div>
</div>