{% load i18n %}
<div class="transaction-item parent" id="transaction{% if key %}-{{ key }}{% endif %}">
    <div class="row partial-header">
        <div class="col-md-9 col-sm-6 col-xs-6 hide-partial-click">
            <span class="folded-sign">{% if transaction %}+{% else %}-{% endif %}</span> {% trans 'Transaction' %}: <span class="unicode">{% if transaction %}{{ transaction }}{% else %}({% trans 'new' %}){% endif %}</span>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 text-right">
            <a class="delete-object-button" id="delete-transaction{% if key %}-{{ key }}{% endif %}"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
    <div class="hide-partial {% if transaction %}hidden{% endif %}">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12 control">
                    <div class="select-group">
                        <select name="transaction-type{% if key %}-{{ key }}{% endif %}" id="transaction-type{% if key %}-{{ key }}{% endif %}" class="form-control priority2" saved-value="{{ transaction.transaction_type }}">
                            <option value="" {% if not transaction.transaction_type %} selected="selected" {% endif %}></option>
                            {% for type in transaction_types %}
                                <option value="{{ type.code }}" {% if transaction.transaction_type == type.code %} selected="selected" {% endif %}>{{ type.code }} - {{ type.name }}</option>
                            {% endfor %}
                        </select>
                        <label class="control-label" for="transaction-type{% if key %}-{{ key }}{% endif %}">{% trans 'Transaction type' %}</label>
                        <p class="help-block hidden">{% trans 'Select the type of the transaction (e.g. commitment, disbursement, expenditure).' %}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 control">
                    <div class="input-group priority2">
                        <span class="input-group-addon currency-display">{{ project.get_currency_display }}</span>
                        <input type="text" class="form-control" name="transaction-value{% if key %}-{{ key }}{% endif %}" id="transaction-value{% if key %}-{{ key }}{% endif %}"
                        value="{% if transaction.value %}{{ transaction.value }}{% endif %}" saved-value="{% if transaction.value %}{{ transaction.value }}{% endif %}">
                    </div>
                    <label class="control-label" for="transaction-value{% if key %}-{{ key }}{% endif %}">{% trans 'Transaction value' %}</label>
                    <p class="help-block hidden">{% trans 'Enter the transaction amount. Use a period to denote decimals.' %}</p>
                </div>
                <div class="col-md-4 control priority2 datepicker-container"
                     data-id="transaction-date{% if key %}-{{ key }}{% endif %}"
                     data-child="{{ transaction.transaction_date|date:"d/m/Y" }}"
                     data-label="{% trans 'Transaction date' %}"
                     data-helptext="{% trans 'Enter the financial reporting date that the transaction was/will be undertaken.' %}"
                     data-classes="priority2"></div>
                <div class="col-md-4 control priority2 datepicker-container"
                     data-id="transaction-value-date{% if key %}-{{ key }}{% endif %}"
                     data-child="{{ transaction.value_date|date:"d/m/Y" }}"
                     data-label="{% trans 'Transaction value date' %}"
                     data-helptext="{% trans 'The date to be used for determining the exchange rate for currency conversions of the transaction.' %}"
                     data-classes="priority2"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6 control">
                    <div class="transaction-provider-org-input transaction-provider-org{% if key %}-{{ key }}{% endif %} typeahead-container"
                    data-child-id="transaction-provider-org{% if key %}-{{ key }}{% endif %}"
                    data-child-class="priority2"
                    data-value="{% if transaction.provider_organisation.id %}{{ transaction.provider_organisation.id }}{% endif %}"
                    data-count-class="transaction-provider-org">
                    </div>
                </div>
                <div class="col-md-6 control">
                    <div class="transaction-receiver-org-input transaction-receiver-org{% if key %}-{{ key }}{% endif %} typeahead-container"
                    data-child-id="transaction-receiver-org{% if key %}-{{ key }}{% endif %}"
                    data-child-class="priority2"
                    data-value="{% if transaction.receiver_organisation.id %}{{ transaction.receiver_organisation.id }}{% endif %}"
                    data-count-class="transaction-receiver-org">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group hidden hide-default">
            <div class="row">
                <div class="col-md-6 control">
                    <input type="text" class="form-control priority3" name="transaction-provider-org-activity{% if key %}-{{ key }}{% endif %}" id="transaction-provider-org-activity{% if key %}-{{ key }}{% endif %}" value="{{ transaction.provider_organisation_activity }}" saved-value="{{ transaction.provider_organisation_activity }}">
                    <label class="control-label" for="transaction-provider-org-activity{% if key %}-{{ key }}{% endif %}">{% trans 'Provider organisation activity id' %}</label>
                    <p class="help-block hidden">{% trans 'If incoming funds are being provided from the budget of another activity that is reported to IATI, it is STRONGLY RECOMMENDED that this should record the provider’s unique IATI activity identifier for that activity.' %}</p>
                </div>
                <div class="col-md-6 control">
                    <input type="text" class="form-control priority3" name="transaction-receiver-org-activity{% if key %}-{{ key }}{% endif %}" id="transaction-receiver-org-activity{% if key %}-{{ key }}{% endif %}" value="{{ transaction.receiver_organisation_activity }}" saved-value="{{ transaction.receiver_organisation_activity }}">
                    <label class="control-label" for="transaction-receiver-org-activity{% if key %}-{{ key }}{% endif %}">{% trans 'Receiver organisation activity id' %}</label>
                    <p class="help-block hidden">{% trans 'The internal identifier used by the receiver organisation for its activity that receives the funds from this transaction (not to be confused with the IATI identifier for the target activity).' %}</p>
                </div>
            </div>
        </div>
        <div class="form-group hidden hide-default">
            <div class="row">
                <div class="col-md-6 control">
                    <input type="text" class="form-control priority3" name="transaction-reference{% if key %}-{{ key }}{% endif %}" id="transaction-reference{% if key %}-{{ key }}{% endif %}"
                    value="{{ transaction.reference }}" saved-value="{{ transaction.reference }}" maxlength="25">
                    <label class="control-label" for="transaction-reference{% if key %}-{{ key }}{% endif %}">{% trans 'Transaction reference' %}</label>
                    <p class="help-block hidden">{% trans 'Enter a reference for the transaction (eg. transaction number).' %}</p>
                </div>
                <div class="col-md-6 control">
                    <input type="text" class="form-control priority3" name="transaction-description{% if key %}-{{ key }}{% endif %}" id="transaction-description{% if key %}-{{ key }}{% endif %}"
                    value="{{ transaction.description }}" saved-value="{{ transaction.description }}" maxlength="255">
                    <label class="control-label" for="transaction-description{% if key %}-{{ key }}{% endif %}">{% trans 'Transaction description' %}</label>
                    <p class="help-block hidden">{% trans 'Enter additional information for the transaction, if necessary.' %}</p>
                </div>
            </div>
        </div>
        <div class="form-group hidden hide-default">
            <div class="select-group control">
                <select name="transaction-aid-type{% if key %}-{{ key }}{% endif %}" id="transaction-aid-type{% if key %}-{{ key }}{% endif %}" class="form-control priority3" saved-value="{{ transaction.aid_type }}">
                    <option value="" {% if not transaction.aid_type %} selected="selected" {% endif %}></option>
                    {% for entry in aid_types %}
                        <option value="{{ entry.code }}" {% if transaction.aid_type == entry.code %} selected="selected" {% endif %}>{{ entry.code }} - {{ entry.name }}</option>
                    {% endfor %}
                </select>
                <label for="transaction-aid-type{% if key %}-{{ key }}{% endif %}" class="control-label">{% trans 'Transaction aid type' %}</label>
                <p class="help-block hidden">{% trans 'Enter the type of aid being supplied. For reference, please visit:' %} <a href="http://iatistandard.org/201/codelists/AidType/" target="_blank">http://iatistandard.org/201/codelists/AidType/</a>.</p>
            </div>
        </div>
        <div class="form-group hidden hide-default">
            <div class="select-group control">
                <select name="transaction-disbursement-channel{% if key %}-{{ key }}{% endif %}" id="transaction-disbursement-channel{% if key %}-{{ key }}{% endif %}" class="form-control priority3" saved-value="{{ transaction.disbursement_channel }}">
                    <option value="" {% if not transaction.disbursement_channel %} selected="selected" {% endif %}></option>
                    {% for entry in disbursement_channels %}
                        <option value="{{ entry.code }}" {% if transaction.disbursement_channel == entry.code %} selected="selected" {% endif %}>{{ entry.code }} - {{ entry.name }}</option>
                    {% endfor %}
                </select>
                <label for="transaction-disbursement-channel{% if key %}-{{ key }}{% endif %}" class="control-label">{% trans 'Transaction disbursement channel' %}</label>
                <p class="help-block hidden">{% trans 'Enter the channel through which the funds will flow for this transaction, from an IATI codelist. For reference, please visit:' %} <a href="http://iatistandard.org/201/codelists/DisbursementChannel/" target="_blank">http://iatistandard.org/201/codelists/DisbursementChannel/</a>.</p>
            </div>
        </div>
        <div class="form-group hidden hide-default">
            <div class="select-group control">
                <select name="transaction-finance-type{% if key %}-{{ key }}{% endif %}" id="transaction-finance-type{% if key %}-{{ key }}{% endif %}" class="form-control priority3" saved-value="{{ transaction.finance_type }}">
                    <option value="" {% if not transaction.finance_type %} selected="selected" {% endif %}></option>
                    {% for entry in finance_types %}
                        <option value="{{ entry.code }}" {% if transaction.finance_type == entry.code %} selected="selected" {% endif %}>{{ entry.code }} - {{ entry.name }}</option>
                    {% endfor %}
                </select>
                <label for="transaction-finance-type{% if key %}-{{ key }}{% endif %}" class="control-label">{% trans 'Transaction finance type' %}</label>
                <p class="help-block hidden">{% trans 'For reference, please visit:' %} <a href="http://iatistandard.org/201/codelists/FinanceType/" target="_blank">http://iatistandard.org/201/codelists/FinanceType/</a>.</p>
            </div>
        </div>
        <div class="form-group hidden hide-default">
            <div class="select-group control">
                <select name="transaction-flow-type{% if key %}-{{ key }}{% endif %}" id="transaction-flow-type{% if key %}-{{ key }}{% endif %}" class="form-control priority3" saved-value="{{ transaction.flow_type }}">
                    <option value="" {% if not transaction.flow_type %} selected="selected" {% endif %}></option>
                    {% for entry in flow_types %}
                        <option value="{{ entry.code }}" {% if transaction.flow_type == entry.code %} selected="selected" {% endif %}>{{ entry.code }} - {{ entry.name }}</option>
                    {% endfor %}
                </select>
                <label for="transaction-flow-type{% if key %}-{{ key }}{% endif %}" class="control-label">{% trans 'Transaction flow type' %}</label>
                <p class="help-block hidden">{% trans 'For reference, please visit:' %} <a href="http://iatistandard.org/201/codelists/FlowType/">http://iatistandard.org/201/codelists/FlowType/</a>.</p>
            </div>
        </div>
        <div class="form-group hidden hide-default">
            <div class="select-group control">
                <select name="transaction-tied-status{% if key %}-{{ key }}{% endif %}" id="transaction-tied-status{% if key %}-{{ key }}{% endif %}" class="form-control priority3" saved-value="{{ transaction.tied_status }}">
                    <option value="" {% if not transaction.tied_status %} selected="selected" {% endif %}></option>
                    {% for entry in tied_statuses %}
                        <option value="{{ entry.code }}" {% if transaction.tied_status == entry.code %} selected="selected" {% endif %}>{{ entry.code }} - {{ entry.name }}</option>
                    {% endfor %}
                </select>
                <label for="transaction-tied-status{% if key %}-{{ key }}{% endif %}" class="control-label">{% trans 'Transaction tied status' %}</label>
                <p class="help-block hidden">{% trans 'Whether the aid is untied, tied, or partially tied. For reference visit' %} <a href="http://iatistandard.org/201/codelists/TiedStatus/" target="_blank">http://iatistandard.org/201/codelists/TiedStatus/</a>.</p>
            </div>
        </div>
        <div class="form-group hidden hide-default">
            <div class="select-group control">
                <select name="transaction-recipient-country{% if key %}-{{ key }}{% endif %}" id="transaction-recipient-country{% if key %}-{{ key }}{% endif %}" class="form-control priority3" saved-value="{{ transaction.recipient_country }}">
                    <option value="" {% if not transaction.recipient_country %} selected="selected" {% endif %}></option>
                    {% for entry in iati_countries %}
                        <option value="{{ entry.code }}" {% if transaction.recipient_country == entry.code %} selected="selected" {% endif %}>{{ entry.code }} - {{ entry.name }}</option>
                    {% endfor %}
                </select>
                <label class="control-label" for="transaction-recipient-country{% if key %}-{{ key }}{% endif %}">{% trans 'Transaction recipient country' %}</label>
                <p class="help-block hidden">{% trans 'Enter the country that will benefit from this transaction. It can only be one country per transaction. For reference, please visit:' %} <a href="http://iatistandard.org/201/codelists/Country/" target="_blank">http://iatistandard.org/201/codelists/Country/</a>.</p>
            </div>
        </div>
        <div class="form-group hidden hide-default">
            <div class="row">
                <div class="col-md-6 control">
                    <div class="select-group">
                        <select name="transaction-recipient-region{% if key %}-{{ key }}{% endif %}" id="transaction-recipient-region{% if key %}-{{ key }}{% endif %}" class="form-control priority3" saved-value="{{ transaction.recipient_region }}">
                            <option value="" {% if not transaction.recipient_region %} selected="selected" {% endif %}></option>
                            {% for entry in regions %}
                                <option value="{{ entry.code }}" {% if transaction.recipient_region == entry.code %} selected="selected" {% endif %}>{{ entry.code }} - {{ entry.name }}</option>
                            {% endfor %}
                        </select>
                        <label class="control-label" for="transaction-recipient-region{% if key %}-{{ key }}{% endif %}">{% trans 'Transaction recipient region' %}</label>
                        <p class="help-block hidden">{% trans 'Enter the supranational geopolitical region (a geographical or administrative grouping of countries into a region - e.g. Sub-Saharan Africa, Mekong Delta) that will benefit from this transaction. For reference, please visit:' %} <a href="http://iatistandard.org/201/codelists/Region/" target="_blank">http://iatistandard.org/201/codelists/Region/</a>.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="select-group control">
                        <select name="transaction-recipient-region-vocabulary{% if key %}-{{ key }}{% endif %}" id="transaction-recipient-region-vocabulary{% if key %}-{{ key }}{% endif %}" class="form-control priority3" saved-value="{{ transaction.recipient_region_vocabulary }}">
                            <option value="" {% if not transaction.recipient_region_vocabulary %} selected="selected" {% endif %}></option>
                            {% for entry in region_vocabularies %}
                                <option value="{{ entry.code }}" {% if transaction.recipient_region_vocabulary == entry.code %} selected="selected" {% endif %}>{{ entry.code }} - {{ entry.name }}</option>
                            {% endfor %}
                        </select>
                        <label class="control-label" for="transaction-recipient-region-vocabulary{% if key %}-{{ key }}{% endif %}">{% trans 'Recipient region vocabulary' %}</label>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="hidden hide-default">{% trans 'Transaction sectors' %}</h5>
        <div class="transaction-sector-container hidden hide-default" id="transaction-sector-container">
            {% for sector in transaction.sectors.all %}
                {% include "myrsr/project_editor_partials/transaction_sector_input.html" with key=sector.pk %}
            {% empty %}
                {% include "myrsr/project_editor_partials/transaction_sector_input.html" with key='add-0' %}
            {% endfor %}
        </div>
        <div class="row form-group hidden hide-default">
            <div class="col-md-12 text-center add-object-link">
                 <a href="#" class="add-transaction-sector" id=""><span class="glyphicon glyphicon-plus"></span> {% trans 'Add another transaction sector' %}</a>
            </div>
        </div>
    </div>
</div>