{% extends "widgets/base_widget.html" %}
{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n rsr_tags rsr_filters generic_content thumbnail %}

{% block title %}project@{{block.super}}{% endblock title %}

{% block style %}
	{% media_bundle 'widget_cobranded_short' %}
	{# <link rel="stylesheet" href="{{MEDIA_URL}}widgets/cobranded_narrow/css/screen.css" type="text/css" media="screen, projection" /> #}
	<!--[if IE]>
	<style type="text/css" media="screen">
		.divider { 
			margin-top:1px !important;
			margin-bottom:1px !important;
		}
		
	</style>
	<![endif]-->
{% endblock style %}

{% block inline_styles %}
{{block.super}}
	#heightconstrain {
		height: expression( this.scrollHeight > 809 ? "810px" : "auto" ); /* sets max-height for IE */
		max-height:810px;
		overflow:hidden;
	}
	.fundingbox-content {
		height: expression( this.scrollHeight > 4 ? "123px" : "auto" ); /* sets max-height for IE */
		max-height:121px;
		height:121px;
	}
	
	#progress_back {
		background: url({{MEDIA_URL}}widgets/img/progressbar_background.png);
	}
	#progress_green {
		background: url({{MEDIA_URL}}widgets/img/progressbar_green.png);
	}
	
	#project_title {
		display:block;
		height:36px;
		overflow:hidden;
	}
	
	#project_subtitle {
		display:block;
		max-height:32px;
		overflow:hidden;
	}
	
	#project_location{
		display:block;
		max-height:32px;
		height:32px;
		overflow:hidden;
	}

{% endblock inline_styles %}

{% block inline_scripts %}
{#<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> #}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.3.2.min.js"></script>


<script type="text/javascript" charset="utf-8">
	
	var index = 1;
	
	function Partner (orgName,partnerType,url) 
	{
		this.orgName = orgName;
		this.partnerType = partnerType;
		this.url = url;
		this.getName = function () { return this.orgName; }
		this.getType = function () { return this.partnerType; }
		this.getUrl = function () { return this.url; }
	}
	
	var partners = [];
	
	{% for sponsor in project.sponsorpartner_set.all %} 
		
	partners[partners.length] = new Partner('{{sponsor.sponsor_organisation.name}}',
											'sponsor',
											'{% url akvo.rsr.views.orgdetail sponsor.sponsor_organisation.id %}');											
	{% endfor %}
	
	{% for funder in project.fundingpartner_set.all %}
	
	partners[partners.length] = new Partner('{{funder.funding_organisation.name}}',
											'funding',
											'{% url akvo.rsr.views.orgdetail funder.funding_organisation.id %}');
	{% endfor %}
	
	{% for supporter in project.supportpartner_set.all %}
	

	partners[partners.length] = new Partner('{{supporter.support_organisation.name}}',
											'support',
											'{% url akvo.rsr.views.orgdetail supporter.support_organisation.id %}');
	{% endfor %}

	{% for operator in project.fieldpartner_set.all %}
	partners[partners.length] = new Partner('{{operator.field_organisation.name}}',
											'field',
											'{% url akvo.rsr.views.orgdetail operator.field_organisation.id %}');
	{% endfor %}
	
	
	
	function switchPartner(){
		index == (partners.length-1) ? index = 0 : index++;
		animatePartnerSwitch();
	}
	
	function animatePartnerSwitch() 
	{
		// If no or one partner bail since there is nothing to animate
		if(partners.length <=1){
			return;
		}
			
		var newHTML = '';
		
		switch(partners[index].getType())
		{
			case "funding": newHTML += '<p class="smallFont grey left">{% trans 'Underwritten by' %}<br />'; break;
			case "support": newHTML += '<p class="smallFont grey left">{% trans 'Supported by' %}<br />'; break;
			case "field": 	newHTML += '<p class="smallFont grey left">{% trans 'Implemented by' %}<br />'; break;
			default: newHTML += '<p class="smallFont grey left">{% trans 'Presented by' %}<br />'; break;
		}
		
		newHTML += '<a class="smallFont" href="' + partners[index].getUrl() + '">' + partners[index].getName() + '</a></p>';
		
		
		$("#partnerspace")
			.animate({opacity: 1.0},7000) // Display time
			.fadeOut(1000, function() {
				$("#partnerspace").html(newHTML)
			})
			.animate({opacity: 1.0},1000)
			.fadeIn(1000, switchPartner);
	}
	
	$(document).ready(function()
	{
		// Kick start the animation loop
		animatePartnerSwitch();
	});
	
	
</script>
	
{% endblock inline_scripts %}

	
{% block header %}
	<h1>{% trans 'Project' %}</h1>
{% endblock header %}

{% block content %}
<div id="heightconstrain">
		<h2 id="project_title"><a href="{% url akvo.rsr.views.projectmain project.id %}">{{project.name|smart_truncate:35}}</a></h2>
		{# <p id="project_subtitle" class="grey">{{project.subtitle|smart_truncate:50}}</p>	#}
        <div class="photo_frame">
            <a href="{% url akvo.rsr.views.projectmain project.id %}">
                {% project_thumb project 150 113 %}
            </a>
        </div>
		{% comment %}
		
		<p id="project_plan_summary">
			{{project.project_plan_summary|safe|smart_truncate:110}}
			<a href="{% url akvo.rsr.views.projectmain project.id %}">{% trans 'More' %}&nbsp;&#x25BA;</a>
		</p>
		{% endcomment %}
		<p class="smallFont grey topmargin">{% trans 'Location' %}</p>
		<div id="project_location">
			<p class="smallFont"><span class="capz">{{project.country.get_continent_display}}</span><br />
				{{project.country}}, {{project.city}}
			</p>
		</div>
		{% comment %}
		<p class="smallFont grey topmargin">{% trans 'Status' %}</p>
		<p class="smallFont">{{project.show_status}}</p>
		<p class="smallFont grey topmargin">{% trans 'Last update' %}</p>
		{% with project.project_updates.latest as latest_update %}
			{% if latest_update %}
				<p class="smallFont"><a href="{% url akvo.rsr.views.projectupdates project.id %}#{{latest_update.id}}">{{latest_update.time|date:"j M y"}}</a></p>
			{% else %}
				<p class="smallFont">{% trans 'Not yet' %}</p>
			{% endif %}
		{% endwith %}
		<hr class="divider" />
		{% endcomment %}
		<div style="width:70px; float:left;" class="topmargin">
			<p class="smallFont grey">{% trans 'Funding' %}</p>
		</div>
		<div id="akvoref" style="float:right; width:75px; padding-top:0" class="topmargin">
			<p class="miniFont lightgrey right" style="padding-top:2px; text-transform: capitalize;">{% trans 'Akvo Ref' %}: {{project.id}}</p>
		</div>
		<div style="clear:both; line-height:1px; margin:0; padding:0;"> </div>
	
		<div style="margin:0; margin-top:13px;">
			{% funding_box_narrow2 project %}
		</div>
		<hr class="divider" />
		
		{% comment %}
			Since we don't now what type of partner is the first so be presented we need to do some checking.
		{% endcomment %}
		<div style="height:35px;">
		<div id="partnerspace" style="text-align:center; font-size:0.9em;">
		{% if project.sponsorpartner_set.all %}
			{% for sponsor in project.sponsorpartner_set.all %}
				{% if forloop.first %}
				<p class="smallFont grey left">{% trans 'Presented by' %}<br />
				<a class="smallFont" href="{% url akvo.rsr.views.orgdetail sponsor.sponsor_organisation.id %}">{{sponsor.sponsor_organisation.name}}</a></p>
				{% endif%}
			{% endfor %}
		{% else %}
			{% if project.fundingpartner_set.all %}
				{% for funder in project.fundingpartner_set.all %}
					{% if forloop.first %}
					<p class="smallFont grey left">{% trans 'Underwritten by' %}<br />
					<a class="smallFont" href="{% url akvo.rsr.views.orgdetail funder.funding_organisation.id %}">{{funder.funding_organisation.name}}</a></p>
					{% endif%}
				{% endfor %}
			{% else %}
				{% if project.supportpartner_set.all %}
					{% for supporter in project.supportpartner_set.all %}
						{% if forloop.first %}
						<p class="smallFont grey left">{% trans 'Supported by' %}<br />
						<a href="{% url akvo.rsr.views.orgdetail supporter.support_organisation.id %}">{{supporter.support_organisation.name}}</a></p>
						{% endif%}
					{% endfor %}
				{% else %}
					{% if project.fieldpartner_set.all %}
					{% for operator in project.fieldpartner_set.all %}
						{% if forloop.first %}
						<p class="smallFont grey left">{% trans 'Implemented by' %}<br />
						<a href="{% url akvo.rsr.views.orgdetail operator.field_organisation.id %}">{{operator.field_organisation.name}}</a></p>
						{% endif%}
					{% endfor %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
		
		</div>
		</div>
		
		{% comment %}
			<p class="smallFont grey">{% trans 'Presented by' %}</p>
			{% for funder in project.fundingpartner_set.all %}
				fundingpartner: {{funder.funding_organisation.name}}<br />
			{% endfor %}
			{% for funder in project.fieldpartner_set.all %}
				fieldpartners: {{funder}}<br />
			{% endfor %}
			{% for funder in project.supportpartner_set.all %}
				supportpartners: {{funder}}<br />
			{% endfor %}		
			{% for funder in project.sponsorpartner_set.all %}
				sponsorpartners: {{funder}}<br />
			{% endfor %}		
		{% endcomment %}
		
		
		
		{% comment %}
		<div id="name" style="clear:both; height:1px; overflow:hidden;"> </div>
		<p class="miniFont lightgrey right" style="padding-right:9px;">{% trans 'Akvo Ref' %}: {{project.id}}</p>
		<div id="name" style="clear:both; height:7px; overflow:hidden;"> </div>
		{% endcomment %}
</div>
{% endblock content %}