{% extends "rsr/error_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}

{% block title %}{% trans 'Error: 500 - internal server error' %}{% endblock title %}

{% block error_head %}{% trans "500: We&#x27;re sorry, our servers encountered an internal error." %}{% endblock %}

{% block error_body %}
    <p>{% trans 'Our staff has been notified and will look into the problem as soon as possible.' %}</p>
{% endblock error_body %}
