{% extends "rsr/project_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n rsr_tags counter_tags humanize cache %}

{% block title %}{{block.super}} - {% trans 'All project updates' %}{% endblock title %}

{% block breadcrumbs %}
{{block.super}} &raquo; <a href="{% url akvo.rsr.views.projectlist %}">{% trans 'Project listing' %}</a> &raquo; <a href="{% url akvo.rsr.views.projectmain p.id %}">{{p.name}}</a> &raquo; {% trans 'All project updates' %}
{% endblock breadcrumbs %}

{% block page_id %}
<div id="page_project_updates">
{% endblock page_id %}

{% block outer_leftwing %}
<div id="outer_leftwing">

	<div class="boxhead">
		{% if can_add_update %}
		<a class="actionbutton ab_grey" href="{% url akvo.rsr.views.updateform p.id %}" onclick="this.blur();"><span>{% trans 'Add update' %}</span></a>
		{% endif %}
		<h1 class="section"><a href="{% url project_main p.id%}">{{p.name}}</a>
			<span style="color:#999; font-size:10px; font-weight:normal; margin-left:20px; display:none;"><span style="display:none;">{% counter p %}</span>
	        	{% cache 10 p.view_count %}
	        		{{ p.view_count|intcomma }} {% trans 'views' %}
	        	{% endcache %}
			</span>	
		</h1>
		<p>{{p.subtitle}}</p>

	</div> <!-- .boxhead -->
	
	<div id="project_updates" class="boxbody" style="padding-top: 10px;">

		<a href="/rsr/rss/updates/{{p.id}}/" class="rss" style="float:right; margin-top: 12px">{% trans 'Subscribe via RSS' %}</a>
		<h1 class="section">{% trans 'Project updates' %}</h1>
        <p class="lightx1">{% trans 'The updates are owned by whoever posted them. We are not responsible for them in any way.' %}</p>
        {% for u in updates %}
            <hr />
            <a name={{u.id}}></a>
            <h2 style="font-size:1.2em;">{{u.title}}</h2>
            <p>
                <span class="lightx1">
                    {{u.time|date:"Y-m-d H:i" }}
                </span>
                {% blocktrans with u.user.get_full_name as user_name and u.user.userprofile.organisation.name as user_org and u.user.userprofile.organisation.get_absolute_url as org_url and u.get_update_method_display as update_meth %}by {{user_name}}, <a href="{{org_url}}">{{user_org}}</a>, via {{update_meth}}{% endblocktrans %}
            </p>
            <!--<p><span class="lightx1">Status:</span> {{u.show_status}}</p>-->
            <br />
            {% ifequal u.photo_location 'B' %}
                {% update_thumb u 668 501 %}
            {% endifequal %}
            {% if u.text %}
                <p>{{u.text}}</p>
            {% endif %}
            {% ifequal u.photo_location 'E' %}
                {% update_thumb u 668 501 %}
            {% endifequal %}
            <p style="text-align:right">
				<a href="{% url project_main p.id %}">&lt; Back to project summary</a> |
				<a href="{% url akvo.rsr.views.projectupdates p.id %}#{{u.id}}">{% trans 'Permalink' %}</a>
			</p>
        {% endfor %}

	</div> <!-- #project_updates & .boxbody -->

</div> <!-- #outer_leftwing -->
{% endblock outer_leftwing %}
