{% extends "rsr/project_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n rsr_filters rsr_tags thumbnail humanize %}

{% block title %}{{block.super}} - {% trans 'Funding details' %}{% endblock title %}

{% block breadcrumbs %}
{{block.super}} &raquo; <a href="{% url akvo.rsr.views.projectlist %}">{% trans 'Project listing' %}</a> &raquo; <a href="{% url akvo.rsr.views.projectmain p.id %}">{{p.name}}</a> &raquo; {% trans 'Funding details' %}
{% endblock breadcrumbs %}

{% block outer_leftwing %}
<div id="outer_leftwing">

	<div class="boxhead">
		{% comment %}
		{% if not p.date_complete %}
			<a class="actionbutton ab_grey" href="/web/how_to_fund_a_project" style="float: right" onclick="this.blur();"><span>{% trans 'Fund project' %}</span></a>
		{% endif %}
		{% endcomment %}
		<h1 class="section">{% trans 'Funding' %}</h1>
	</div> <!-- .boxhead -->

	<div class="boxbody">	

		<table style="width: 100%">
		<tr>

		<td style="width: 50%; border-right: 1px solid #ccc; padding-left: 0;">
			<p style="margin-bottom: 3px"><a href="{% url akvo.rsr.views.projectmain p.id %}">< {% trans 'Back to project summary' %}</a></p>
			<div style="margin: 0 20px 10px 20px">
				{% funding_box_march p %}
				{% comment %}
				{% funding_bar p %}	
				{% endcomment %}
				
			</div>
			<!--<div style="border: 1px solid #999; margin: 0 20px 10px 20px">
				<div style="width: 176px;">
					<div style="width: {% widthratio p.funding.pledged p.funding.total 176 %}px; height: 30px; background-color: #4CAC62;"></div>
				</div>
			</div>-->
			<table>
				<tr>
					<td>{{p.date_request_posted}}</td>
					<td>{% trans 'Request posted' %}</td>
				</tr>
				{% if p.date_complete %}
					<tr>
						<td>{{p.date_complete}}</td>
						<td>{% trans 'Project started' %}</td>
					</tr>
				{% endif %}
			</table>
		</td>

		<td style="width: 50%">
			<p><b>{% trans 'Project budget' %}</b></p>
			<table style="width: 80%">
				{% if p.budget_employment %}
				<tr>
					<td>{% trans 'Employment costs' %}</td>
					<td>{{p.get_currency_display|safe}} {{p.budget_employment|round|intcomma}}</td>
				</tr>
				{% endif %}
				{% if p.budget_building %}
				<tr>
					<td>{% trans 'Building Material costs' %}</td>
					<td>{{p.get_currency_display|safe}} {{p.budget_building|round|intcomma}}</td>
				</tr>
				{% endif %}
				{% if p.budget_training %}
				<tr>
					<td>{% trans 'Training costs' %}</td>
					<td>{{p.get_currency_display|safe}} {{p.budget_training|round|intcomma}}</td>
				</tr>
				{% endif %}
				{% if p.budget_maintenance %}
				<tr>
					<td>{% trans 'Maintenance costs' %}</td>
					<td>{{p.get_currency_display|safe}} {{p.budget_maintenance|round|intcomma}}</td>
				</tr>
				{% endif %}
				{% if p.budget_management %}
				<tr>
					<td>{% trans 'Management costs' %}</td>
					<td>{{p.get_currency_display|safe}} {{p.budget_management|round|intcomma}}</td>
				</tr>
				{% endif %}
				{% if p.budget_other %}
				<tr>
					<td>{% trans 'Other costs' %}</td>
					<td>{{p.get_currency_display|safe}} {{p.budget_other|round|intcomma}}</td>
				</tr>
				{% endif %}
				{% if p.budget_total %}
				<tr>
					<td><b>{% trans 'Total' %}</b></td>
					<td><b>{{p.get_currency_display|safe}} {{p.budget_total|round|intcomma}}</b></td>
				</tr>
				{% else %}
				<tr>
					<td><b>{% trans 'Total' %}</b></td>
					<td><b>{{p.get_currency_display|safe}} 0</b></td>
				</tr>
				{% endif %}
			</table>
		</td>
	
		</tr>
		</table>


		<hr />

		<h2 style="margin-left: 20px;">{% trans 'Current Funders' %}</h2>		

		<div style="padding-left: 20px">
			
 		{% for funder in p.fundingpartner_set.all %}
			<div style="width: 33%; float: left;{% if forloop.first %} padding-left: 0;{% endif %}">
                <a href="{% url akvo.rsr.views.orgdetail funder.funding_organisation.id %}">
                    {% org_logo funder.funding_organisation 140 105 'margin: 10px 20px 10px 20px;' %}
                </a>
				<p><a href="{% url akvo.rsr.views.orgdetail funder.funding_organisation.id %}">{{funder.funding_organisation.name}}</a></p>
				<p>{{funder.funding_organisation.city}}, {{funder.funding_organisation.country}}</p>
				{#<p style="margin:10px 0"><b>{% trans 'Grant' %}: <span style="margin-left: 10px">{{funder.get_currency_display|safe}} {{funder.funding_amount|round}}</span></b></p>#}
				<p style="margin:10px 0"><b>{% trans 'Grant' %}: <span style="margin-left: 10px">{{p.get_currency_display|safe}} {{funder.funding_amount|round|intcomma}}</span></b></p>
			</div>
			{% ifequal forloop.counter 3 %}
				</div>
				<div style="padding-left: 20px; clear: both;">
			{% endifequal %}
		{% endfor %}    
		
				
		{% if p.all_donations %}
			<div style="width: 33%; float: left;{% if forloop.first %} padding-left: 0;{% endif %}">
				<p style="margin: 10px 0 10px 0;">
					<span style="margin-left: 10px; float:right;">
						{{p.get_currency_display|safe}}
						{{p.all_donations_amount_received|round|intcomma}}
					</span></b>
					<b>{% trans 'Individuals raised' %}:
					<br /><br />
					<b>{% trans 'Donations' %}:</b><br />
					{% for donors in public_donations %}
					<div style="margin:0px 20px">
						<span style="margin-left: 5px; float:right;">{{ donors.amount }}</span>
						<span style="float:right;">{{p.get_currency_display|safe}}</span>
						{{donors.name}}
					</div>
					{% endfor %}
 
					{% ifnotequal p.anonymous_donations_amount_received 0 %}
						<div style="margin:0px 20px">
							<span style="margin-left: 5px; float:right;">
								{{ p.anonymous_donations_amount_received|round|intcomma }}
							</span>
							<span style="float:right;">{{p.get_currency_display|safe}}</span>
							{% trans 'Anonymous' %}:
						</div>
					{% endifnotequal %}					
				</p>
				<hr />
				<p style="margin: 10px 0 10px 0; font-size:0.85em">
					{% trans 'Raised equals donations minus transaction fees.' %}
				</p>
				
			</div>
		{% endif %}			
		</div> <!-- style -->	
		
		<div style="clear:left"></div>

		<p style="margin: 30px 0 0 20px;"><a href="{% url akvo.rsr.views.projectmain p.id %}">{% trans 'Back to project summary' %}</a></p>

	</div> <!-- .boxbody -->

</div> <!-- #outer_leftwing -->

{% endblock outer_leftwing %}

{% block funding %}
{% endblock funding %}
