{% extends "rsr/rsr_base.html" %}

{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n %}
{% load rsr_tags %}

{% block title %}{% trans 'Register with Akvo RSR - Step 1' %}{% endblock %}

{% block header %}
<div id="header" class="clearfix">
	<a href="{% url index %}"><img src="{{MEDIA_URL}}img/logo_akvo_250.png" alt="{% trans 'Akvo.org' %}" id="header_logo" /></a>
</div> <!-- #header -->
{% endblock header %}

{% block content %}

<div class="boxbody">
<form enctype="multipart/form-data" method="post" action="">{% csrf_token %}

<div class="clearfix">
    
	{% if form.errors %}
		<div style="float: right; width: 300px; background-color: #FFEBE7; border: 1px solid #FFCDD1; padding: 20px; color: red; margin-right: 200px;">
			<p><b>{% trans 'A problem occurred' %}:</b></p>
			<p>{% trans 'Please review the message below.' %} {{ form.non_field_errors }}</p>
		</div> <!-- style -->
	{% endif %}
	
	<h1 class="section" style="font-size: 1.4em;">{% trans 'Add update' %}</h1>
</div> <!-- .clearfix -->

<hr />

<fieldset style="margin: 0 100px">

<label style="font-weight:bold; padding: 20px 0 10px 0; display: block">{% trans 'Enter an update title' %}</label>
<div class="clearfix">
{% if form.title.errors %}
<div style="float: right; width: 200px; background-color: #FFEBE7; border: 1px solid #FFCDD1; padding: 20px; color: red; margin-right: 200px;">
<p><b>{% trans 'A problem occurred' %}:</b></p>
<p>{{ form.title.errors.as_text }}</p>
</div> <!-- style -->		  
{% endif %}
{{form.title|safe}}
<p class="block">{% trans '50 characters max' %}</p>
</div> <!-- .clearfix -->


<label style="font-weight:bold; padding: 20px 0 10px 0; display: block">{% trans 'Enter update text' %}</label>
<div class="clearfix">
{% if form.text.errors %}
<div style="float: right; width: 200px; background-color: #FFEBE7; border: 1px solid #FFCDD1; padding: 20px; color: red; margin-right: 200px;">
<p><b>{% trans 'A problem occurred' %}:</b></p>
<p>{{ form.text.errors.as_text }}</p>
</div> <!-- style -->		  
{% endif %}
{{form.text}}
</div> <!-- .clearfix -->

<label style="font-weight:bold; padding: 20px 0 10px 0; display: block">{% trans 'Add photo' %} <span class="lightx2" style="font-weight: normal">({% trans 'optional' %})</span></label>
<div class="clearfix">
{% if form.photo.errors %}
<div style="float: right; width: 200px; background-color: #FFEBE7; border: 1px solid #FFCDD1; padding: 20px; color: red; margin-right: 200px;">
<p><b>{% trans 'A problem occurred' %}:</b></p>
<p>{{ form.photo.errors.as_text }}</p>
</div> <!-- style -->
{% endif %}
{{form.photo}}
</div> <!-- .clearfix -->

<label style="font-weight:bold; padding: 20px 0 10px 0; display: block">{% trans 'Select where the photo will be placed' %}:</label>
<div class="clearfix">
{% if form.photo_location.errors %}
<div style="float: right; width: 200px; background-color: #FFEBE7; border: 1px solid #FFCDD1; padding: 20px; color: red; margin-right: 200px;">
<p><b>{% trans 'A problem occurred' %}:</b></p>
<p>{{ form.photo_location.errors.as_text }}</p>
</div> <!-- style -->
{% endif %}
<!-- Bugfix for radio not setting defult value {{form.photo_location}}-->
<ul>
<li><label for="id_photo_location_0"><input value="B" type="radio" class="radio" checked="checked" name="photo_location" id="id_photo_location_0" />{% trans 'At the beginning of the update' %}</label></li>
<li><label for="id_photo_location_1"><input value="E" type="radio" class="radio" name="photo_location" id="id_photo_location_1" />{% trans 'At the end of the update' %}</label></li>
</ul>
</div> <!-- .clearfix -->

<label style="font-weight:bold; padding: 20px 0 10px 0; display: block">{% trans 'Photo caption' %} <span class="lightx2" style="font-weight: normal">({% trans 'optional' %})</span></label>
<div class="clearfix">
{% if form.photo_location.errors %}
<div style="float: right; width: 200px; background-color: #FFEBE7; border: 1px solid #FFCDD1; padding: 20px; color: red; margin-right: 200px;">
<p><b>{% trans 'A problem occurred' %}:</b></p>
<p>{{ form.photo_location.errors.as_text }}</p>
</div> <!-- style -->
{% endif %}
<div style="padding-bottom: 20px;">
{{form.photo_caption}}
</div>
</div> <!-- .clearfix -->

<label style="font-weight:bold; padding: 20px 0 10px 0; display: block">{% trans 'Photo credit' %} <span class="lightx2" style="font-weight: normal">({% trans 'optional' %})</span></label>
<div class="clearfix">
{% if form.photo_location.errors %}
<div style="float: right; width: 200px; background-color: #FFEBE7; border: 1px solid #FFCDD1; padding: 20px; color: red; margin-right: 200px;">
<p><b>{% trans 'A problem occurred' %}:</b></p>
<p>{{ form.photo_credit.errors.as_text }}</p>
</div> <!-- style -->
{% endif %}
{{form.photo_credit}}
<p>25 {% trans 'characters max' %}</p>
</div> <!-- .clearfix -->

</fieldset>

<hr />
<div class="submit_section_A clearfix">
	<a href="{% url project_main p.id %}" class="submit_section_cancel">{% trans 'Cancel' %}</a>
	<button type="submit" class="submit_section_button">
		<a class="actionbutton ab_white" style="margin:0" href="#" onclick="this.blur();">
			<span>{% trans 'Update' %}</span>
		</a>
	</button>
</div> <!-- .submit_section_A -->


<form method="post" action="">
</div> <!-- boxbody -->

{% endblock %}
