{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n rsr_filters humanize %}

{% if p.status != 'L' and  p.status != 'R' %}

<div class="fundingwrap">

<div class="fundingbox-header"> </div>
	<div class="fundingbox-content">		
		{% ifequal p.funding_still_needed|round 0 %}
			<div class="fundingbox-funded">	
				<div class="fullyfunded-text">
					<p style="">
					{% trans 'Raised' %}:&nbsp;{{p.get_currency_display|safe}}&nbsp;{{p.funding_total_given|round|intcomma}}
					</p>
				</div>
				<p class="grey fullyfunded-text">{% trans 'This project is' %}<br />
					<span class="green" style="font-weight:bold; ">{% trans 'Fully funded' %}</span>
				</p>
			</div>
		{% else %}
			<table class="fundingbox-table" cellspacing="0">
				<tr class="green">
					<th>{% trans 'Raised' %}:</th>
					<td>{{p.get_currency_display|safe}} {{p.funding_total_given|round|intcomma}}</td>
				</tr>
				<tr class="red">
					<th>{% trans 'Still needed' %}:</th>
					<td>{{p.get_currency_display|safe}} {{p.funding_still_needed|round|intcomma}}</td>
				</tr>	
			</table>
			<div class="fundingbox-progress-bar">
				{% if p.budget_total %}
					<div class="fundingbox-progress-bar-progress" style="width:{% widthratio p.funding_total_given p.budget_total 100 %}%"> </div>
				{% endif %}
			</div>
			<table class="fundingbox-table">
				<tr>
					<th>{% trans 'Total budget' %}:</th>
					<td>{{p.get_currency_display|safe}} {{p.budget_total|round|intcomma}}</td>
				</tr>					
			</table>
	
			<div id="donate_individual" style="padding-left:0; padding-right:0;">
				<p class="grey" style="line-height:1.0em;">
					{% trans 'Individuals' %}<br />
				</p>
				<a href="{% url project_donate project_id=p.id %}" class="donate_button" onclick="this.blur();" style="margin-left:7px;"><span>Donate</span></a>
			</div>
			<div id="donate_institutions" style="padding-left:0; padding-right:0px; text-align:center; margin-right:4px;">
				<p class="grey" style="line-height:1.0em; padding-right:7px; text-align:left !important; padding-left:12px;">
					{% trans 'Institutions' %}<br />
				</p>
				<span class="fundingbox-donate-right-sponsor" style="margin-top:7px;">&nbsp;&nbsp;<a style="margin-left:2px;" href="http://akvo.org/web/how_to_fund_a_project">{% trans 'Sponsor' %}&nbsp;&#x25BA;</a></span>			
			</div>
			<div id="name" style="clear: both;"></div>
		{% endifequal%}
	</div>
	<div class="fundingbox-footer"> </div>
</div>
{% endif %}
