{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n rsr_filters %}

<div class="fundingwrap">
	<div class="fundingboxnarrow-header"> </div>
	<div class="fundingboxnarrow-content">
		{% ifequal p.funding_still_needed|round 0 %}
		<div class="fundingbox-funded">
			<div class="fullyfunded-text">
				<p>{% trans 'Raised' %}:&nbsp;{{p.budgetitem_set.all.0.get_currency_display|safe}}&nbsp;{{p.funding_total_given}}</p>
			</div>
			<p class="grey fullyfunded-text">{% trans 'This project is' %}<br />
				<span class="green" style="font-weight:bold; ">{% trans 'Fully funded' %}</span>
			</p>
		</div>
		{% else %}
		<table class="fundingbox-table" border="0" cellspacing="0" cellpadding="0" style="width:140px !important;">
			<tr>
				<th>{% trans 'Budget' %}:</th>
				<td>{{p.budgetitem_set.all.0.get_currency_display|safe}} {{p.budget_total|round}}</td>
			</tr>					
		</table>
		<div class="fundingbox-progress-bar" id="progress_back">
			<div id="progress_green" class="fundingbox-progress-bar-progress" style="width:{% widthratio p.funding_total_given p.budget_total 100 %}%;">
				{% comment %}
				<p style="margin:0; padding:0; font-size:0.7em; float:right">17%</p>
				{% endcomment %}
			</div>
		</div>
		<table class="fundingbox-table" border="0" cellspacing="0" cellpadding="0" style="width:140px !important;">
			<tr class="green">
				<th>{% trans 'Raised' %}:</th>
				<td>{{p.budgetitem_set.all.0.get_currency_display|safe}} {{p.funding_total_given|round}}</td>
			</tr>
			<tr style="color:#FF5617">
				<th>{% trans 'Needed' %}:</th>
				<td>{{p.budgetitem_set.all.0.get_currency_display|safe}} {{p.funding_still_needed|round}}</td>
			</tr>
		</table>
		<div id="donate44" style="margin:10px; border-bottom:1px solid #A1A0AD; padding-bottom:5px;">
			<p class="grey" style="text-align:center; line-height:1.0em; margin-bottom:5px;">{% trans 'Individuals' %}:<br />
				<a href="{% url akvo.rsr.views.donate p.id %}" class="donate_button" onclick="this.blur();" style="margin:0 auto; margin-top:1px;"><span>Donate</span></a>
			</p>
		</div>
		<div style="margin:10px; text-align:center; margin-bottom:5px;">
			<p class="grey" style="text-align:center; line-height:1.0em; margin-bottom:0;">{% trans 'Institutions' %}:<br />
				<span class="fundingbox-donate-right-sponsor" style="display:inline;">&nbsp;
					<a href="http://akvo.org/web/how_to_fund_a_project">{% trans 'Sponsor' %}&nbsp;&#x25BA;</a>
				</span>
			</p>
		</div>
		{% comment %}		
		<div id="donate44" style="margin: 10px; border-bottom:1px solid #A1A0AD; padding-bottom:7px;">
			<p class="grey" style="text-align:center; line-height:1.0em; margin-bottom:5px;">{% trans 'Individuals' %}:</p>
			<a href="{% url akvo.rsr.views.donate p.id %}" class="donate_button" onclick="this.blur();" style="margin:0 auto;"><span>Donate</span></a>
		</div>
		<div style="margin:10px; text-align:center; margin-bottom:5px;">
			<p class="grey" style="line-height:1.0em; margin-bottom:0;">{% trans 'Institutions' %}:
				<span class="fundingbox-donate-right-sponsor" style="display:inline;">&nbsp;
					<a href="http://akvo.org/web/how_to_fund_a_project">{% trans 'Sponsor' %}&nbsp;&#x25BA;</a>
				</span>
			</p>
		</div>
		{% endcomment %}
		{% endifequal%}
	</div>
	<div class="fundingboxnarrow-footer"> </div>
</div>
