{% load url from future %}
{% load i18n rsr_filters humanize %}


<div class="round" style="border:1px solid #65BBCE; background-color:#FBFAF6; padding:5px 0;">
	{% if project.funds_needed|round = 0 %}
		<div style="padding:20px 0px; text-align:center;">
			<div id="fundingbox_fully_funded">
				<p style="margin:0;">
					{% comment %}Translators: This sum is for the project funds box{% endcomment %}
					{% blocktrans with currency=project.get_currency_display|safe funds=project.funds|round|intcomma %}Raised:&nbsp;{{currency}}&nbsp;{{funds}}{% endblocktrans %}
				</p>
			</div>
			<p class="green" style="margin:0; padding:0;">
				{% trans 'Fully funded' %}
			</p>
		</div>
	{% else %}
		<table class="fundingbox-table">
			<tr class="green">
				<th>{% trans 'Raised' %}:</th>
				<td>{{project.get_currency_display|safe}} {{project.funds|round|intcomma}}</td>
			</tr>
			<tr class="red">
				<th>{% trans 'Still needed' %}:</th>
				<td>{{project.get_currency_display|safe}} {{project.funds_needed|round|intcomma}}</td>
			</tr>	
		</table>
		<div class="fundingbox-progress-bar">
			{% if project.budget %}
			<div class="fundingbox-progress-bar-progress" style="width:{% widthratio project.funds project.budget 100 %}%"> </div>
			{% endif %}
		</div>
		<table class="fundingbox-table">
			<tr class="black">
				<th>{% trans 'Total budget' %}:</th>
				<td>{{project.get_currency_display|safe}} {{project.budget|round|intcomma}}</td>
			</tr>					
		</table>
		{% if project.status != 'L' and project.status != 'R' %}
		<br />
		<div style="text-align:center; padding-bottom:10px;">
			<a class="orange awesome" href="{% url 'project_donate' project.id %}">{% trans 'Donate' %}</a>
		</div>
		{% endif %}
	{% endif %}
</div>
