{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n rsr_tags %}
{% ifnotequal p.status 'L' %}

<div class="fundingwrap">
	<div class="fundingboxwide-header"> </div>
	<div class="fundingboxwide-content" style="padding:5px 0;">
		{% ifequal p.funding_still_needed 0 %}	
			Fully funded
		{% else %}
			<div style="float:left; width:154px;">
				{% project_budget p %}
			</div>
			<div style="float:left; width:105px; border-left:1px solid #BCDAE0";>
				{% individual_donate_button p %}
				<br />
				{% institutions_sponsor p %}
			</div>
		{% endifequal%}
	</div>
	<div class="fundingboxwide-footer"> </div>
</div>
{% endifnotequal%}
	
