{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% load i18n rsr_filters %}

<div class="funding_bar">
	<img border="0" style="width: 100%; height: 20px;" src="{% url fundingbar %}?pct={% widthratio p.budget_pledged p.budget_total 100 %}">
	<div class="funding_pledged">&#8364; {{p.budget_pledged|round}}</div>
	<div class="funding_still_needed">&#8364; {{p.funding_still_needed|round}}</div>
</div>

<div class="bold clearfix">
    <div style="float: left;">{% trans 'Total' %}</div>
    <div style="float: right; padding-right: 3px;">{{p.get_currency_display|safe}} {{p.budget_total|round}}</div>
</div>

<!-- background: #99ff99 url('/rsr/media/img/bg_funding_bar.png') no-repeat 20px top -->
