{% load i18n l10n templatetag_handlebars %}

<div id="mapCanvas" style="width: {{width}}px; height: {{height}}px;">
  <div id="ajaxLoader">
    <img src="{{MEDIA_URL}}core/img/ajax-loader.gif" alt="">
  </div>
</div>

{% tplhandlebars "mapInfoWindowTemplate" %}
<div class="mapInfoWindow">
  <a href="{{url}}">{{name}}</a>
  <br>
  {{#if logo_url}}
  <a href="{{url}}">
    <img src="{{logo_url}}" alt="" width="100" height="100">
  </a>
  {{/if}}
</div>
{% endtplhandlebars %}

<script src="//maps.google.com/maps/api/js?sensor=false"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

<script src="{{MEDIA_URL}}core/js/jquery.ui.map.full.min.js"></script>
<script src="{{MEDIA_URL}}core/js/handlebars-1.0.0.beta.6.min.js"></script>

<script>
  jQuery.noConflict();
  jQuery(document).ready(function($) {
    var ajaxLoader, dataURL, handlebarsTemplate, icon,
        mapCanvas, mapInfoWindowTemplate, mapOptions, mapType, markerIcon;

    // Django variables
    dataURL = "{{data_url}}";
    mapType = "{{map_type}}";
    markerIcon = "{{marker_icon}}";

    // HTML target elements
    ajaxLoader = $("#ajaxLoader");
    mapCanvas = $("#mapCanvas");
    mapInfoWindowTemplate = $("#mapInfoWindowTemplate");

    // Map options
    mapOptions = {
	    center: new google.maps.LatLng(0, 0),
	    mapTypeId: google.maps.MapTypeId.ROADMAP,
	    scrollwheel: false,
      streetViewControl: false
    };

    if (mapType === "static") {
      icon = new google.maps.MarkerImage(markerIcon, null, null, null,
          new google.maps.Size(10.5, 17));
      mapOptions.draggable = false;
      mapOptions.disableDefaultUI = true;
    } else {
      icon = new google.maps.MarkerImage(markerIcon);
    }

    // AJAX setup
    $.ajaxSetup({
      complete: function() {
        ajaxLoader.fadeOut();
      }
    });

    // Map
    mapCanvas.gmap(mapOptions).bind("init", function() {
      $.getJSON(dataURL, function(data) {
        $.each(data, function(i, organisation) {
          mapCanvas.gmap("addMarker", {
            bounds: true,
            icon: icon,
            position: new google.maps.LatLng(organisation.latitude, organisation.longitude),
            title: organisation.name
          })
          .click(function() {
            if (mapType !== "static") {
              handlebarsTemplate = Handlebars.compile(mapInfoWindowTemplate.html());
              mapCanvas.gmap("openInfoWindow", {
                content: handlebarsTemplate(organisation)
              }, this);
            }
          });
        });
      });
    });
  });

  /*
  function setCSS() {
    var css, head, style, rules;  

    css = "#mapCanvas {font-size: 12px; font-family: Arial, Helvetica, \"Liberation Sans\", FreeSans, sans-serif;}";
    css += ".mapInfoWindow {min-height: 150px;}";
			
    head = document.getElementsByTagName("head")[0];
    style = document.createElement("style");
		rules = document.createTextNode(css);

    style.type = "text/css";
    if (style.styleSheet) {
      style.styleSheet.cssText = rules.nodeValue;
    } else { 
      style.appendChild(rules);
    }
    head.appendChild(style);			
  }
  */
</script>
