{% load i18n l10n %}

{# HTML markup #}
<div id="map_canvas" style="width: {{ width }}px; height: {{ height }}px;"></div>
<div class="mapInfoWindow" style="display: none;">
  <a class="title url@href" href="#"></a>
  <a class="url@href" href="#">
    <img class="image@src" src="#" alt="">
  </a>
</div>

{# External scripts #}
<script src="//maps.google.com/maps/api/js?sensor=false"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
{# Local scripts #}
<script src="{{ static_url }}core/js/jquery.ui.map.full.min.js"></script>
<script src="{{ static_url }}core/js/pure-2.76.min.js"></script>

<script>
  var dataURL, map, mapOptions, mapType, markerIcon, zoom;

  dataURL = {{ data_url }};
  markerIcon = {{ marker_icon }};
  mapType = {{ map_type }};
  zoom = {{ zoom }};

	mapOptions = {
	  center: new google.maps.LatLng(0, 0);
	  mapTypeId: google.maps.MapTypeId.ROADMAP,
	  scrollwheel: false,
	  zoom: zoom,
    streetViewControl: false
  };
  if (mapType === 'static') {
    icon = new google.maps.MarkerImage(markerIcon, null, null, null, new google.maps.Size(10.5,17));
    mapOptions.draggable = false;
    mapOptions.disableDefaultUI = true;
  } else {
    icon = new google.maps.MarkerImage(markerIcon);
  }

  jQuery.noConflict();
  jQuery('#map_canvas').gmap(mapOptions).bind('init', function() {
    jQuery(document).ready(function($) {
      $.getJSON(dataURL, function(data) {
        $.each(data, function(i, project) {
          $('#map_canvas').gmap('addMarker', {
            'animation': google.maps.Animation.DROP,
            'icon': icon,
            'position': new google.maps.LatLng(project.latitude, project.longitude),
            'bounds': true,
            'title': project.title
          });
        });
      });
      setCSS();
    });
  });
			
  function setCSS() {
    var css, head, style, rules;  

    css = '#map_canvas {font-size: 12px; font-family:Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;}';
    css += '.mapInfoWindow { min-height:150px;}';
			
    head = document.getElementsByTagName('head')[0];
    style = document.createElement('style');
		rules = document.createTextNode(css);

    style.type = 'text/css';
    if(style.styleSheet){
      style.styleSheet.cssText = rules.nodeValue;
    } else { 
      style.appendChild(rules);
    }
    head.appendChild(style);			
  }
</script>
