{% load l10n %}

<div class= "rsr_map" id="{{ map_id }}"></div>
<script>
 var {{ map_id }} = {
   locations: [{% for location in locations %}
   {
       'url': '{{location.url}}',
       'text': '{{location.text}}',
       'latitude': '{{location.latitude|unlocalize}}',
       'pk': '{{location.pk}}',
       'image': '{{location.image}}',
       'type': '{{location.type}}',
       'longitude': '{{location.longitude|unlocalize}}',
       'icon': '{{location.icon}}',
   },
   {% endfor %}],
   {# icon: '{{ marker_icon }}', #}
   {% if dynamic %}
   dynamic: true,
   {% else %}
   dynamic: false,
   {% endif %}
 };
</script>
