{% load pipeline i18n %}

{% url 'project-main' project.pk as project_url %}

{% if num_other_partners > 0 %}
    <a href="{% if not project_page %}{{ project_url }}{% endif %}#partners" class="small moreLink tab-link" data-toggle="tooltip"
        title="
            <div class='extra-partner-tooltip'>
                {% for partner, types in partners_dict.items %}
                    {% if partner.pk %}
                        <div class='extra-partner-entry'>
                            {% if partner.logo %}
                                <a href='{% url 'organisation-main' partner.pk %}'><img src='{{ partner.logo.url }}' class='extra-partner-entry'></a>
                            {% endif %}
                            <a href='{% url 'organisation-main' partner.pk %}'>{{ partner }}</a> ({{ types|join:", " }})
                            {% if not forloop.last %}
                                <hr>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>"
        data-placement="right"> +
        {% blocktrans count num_partners=num_other_partners %}
            {{ num_partners }} partner
        {% plural %}
            {{ num_partners }} partners
        {% endblocktrans %}
    </a>
{% endif %}