{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}

{% if p.category_water %}
    <img src="{{MEDIA_URL}}img/blue.png" title="Water" alt="Project category" class="category_icon" />
{% endif %}

{% if p.category_sanitation %}
    <img src="{{MEDIA_URL}}img/orange.png" title="Sanitation" alt="Project category" class="category_icon" />
{% endif %}

{% if p.category_training %}
    <img src="{{MEDIA_URL}}img/purple.png" title="Training" alt="Project category" class="category_icon" />
{% endif %}

{% if p.category_education %}
    <img src="{{MEDIA_URL}}img/green.png" title="Education" alt="Project category" class="category_icon" />
{% endif %}

{% if p.category_maintenance %}
    <img src="{{MEDIA_URL}}img/olive.png" title="Maintenance" alt="Project category" class="category_icon" />		
{% endif %}
