<div style="border: 1px solid #999; margin: 5px 0 5px 0; padding: 5px;" class="clearfix">
    	<div style="float: left; background-color: transparent;">&#8364; {{p.funding.pledged}}</div>
    	<div style="float: right; color: red; background-color: transparent;">&#8364; {{p.funding.still_needed}}</div>
	    <img style="width: 100%;" src="{% url fundingbar %}?pct={% widthratio p.funding.pledged p.funding.total 100 %}"
	    <div style="clear:both"></div>
</div>

<div class="bold clearfix">
    <div style="float: left;">Total</div>
    <div style="float: right; padding-right: 3px;">{{p.funding.get_currency_display|safe}} {{p.funding.total}}</div>
</div>

<!-- background: #99ff99 url('/rsr/media/img/bg_funding_bar.png') no-repeat 20px top -->