{% comment %}
Akvo RSR is covered by the GNU Affero General Public License, see more details in the license.txt file located at the root folder of the Akvo RSR module. 
For additional details on the GNU license please see < http://www.gnu.org/licenses/agpl.html >.
{% endcomment %}
{% load i18n %}

<div class="submit_section_A clearfix">
	<a href="{% url akvo.rsr.views.index %}" class="submit_section_cancel">{% trans 'Cancel' %}</a>
	<button type="submit" class="submit_section_button">
		<a class="actionbutton {{css_class}}" style="margin:0" href="#" onclick="this.blur();">
			<span>{{caption}}</span>
		</a>
	</button>
</div> <!-- .submit_section_A -->