<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <style type="text/css">
      body {
        font-family: 'Open Sans', 'Source Sans Pro',  "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1.42857;
        color: #394c50;
      }
      table, td, th {
        border: 1px solid #2C2A74;
      }
      th {
        background-color: #2C2A74;
        color: white;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: normal;
        color: #2C2A74;
      }
    </style>
  </head>
  <body>
    <h1>IATI import summary</h1>

    <h2>General information</h2>
    The IATI import has been finished with the following status:
    <b>{{ iati_import_job.show_status }}</b>.
    <br/><br/>

    <b>Import:</b> {{ iati_import_job.iati_import.label }}<br/>
    <b>Import job id:</b> {{ iati_import_job.pk }}<br/>
    <b>Site:</b> {{ site }}<br/>
    {% if iati_import_job.iati_import.url %}
      <b>IATI file:</b>
      <a href="{{ iati_import_job.iati_import.url }}">{{ iati_import_job.iati_import.url }}</a>
      <br/>
    {% endif %}
    <b>Start date:</b> {{ iati_import_job.started_at|date:"r" }}<br/>
    <b>End date:</b> {{ iati_import_job.finished_at|date:"r" }}<br/>
    <b>Number of projects processed:</b>
    {{ project_count }} ({{ projects_created }} created, {{ projects_updated }} updated)<br/>
    <b>Number of projects published:</b> {{ projects_published }}

    <h2>Critical errors</h2>
    {% if critical_errors_log %}
      <table>
        <tr>
          <th>RSR project id</th>
          <th>IATI id</th>
          <th>Message</th>
        </tr>
      {% for error_log in critical_errors_log %}
        <tr>
          <td>{{ error_log.project.pk }}</td>
          <td>{{ error_log.project.iati_activity_id }}</td>
          <td>{{ error_log.text }}</td>
        </tr>
      {% endfor %}
      </table>
      <p>See attached critical.csv for details</p>
    {% else %}
      No critical errors.
    {% endif %}

    <h2>Warnings</h2>
    {% if warnings_log %}
      <table>
        <tr>
          <th>RSR project id</th>
          <th>IATI id</th>
          <th>Action</th>
          <th>Message</th>
        </tr>
      {% for warning_log in warnings_log %}
        <tr>
          <td>{{ warning_log.project.pk }}</td>
          <td>{{ warning_log.project.iati_activity_id }}</td>
          <td>{{ warning_log.show_message_type }}</td>
          <td>{{ warning_log.text }}</td>
        </tr>
      {% endfor %}
      </table>
      <p>See attached warnings.csv for details</p>
    {% else %}
      No warnings.
    {% endif %}

    {% if projects_log %}
    <h2>Project information</h2>
    <table>
      <tr>
        <th>RSR project id</th>
        <th>IATI id</th>
        <th>Created or updated</th>
        <th>Published</th>
      </tr>
    {% for project_log in projects_log %}
      <tr>
        <td>{{ project_log.project.pk }}</td>
        <td>{{ project_log.project.iati_activity_id }}</td>
        <td>
          {% if project_log.message_type == LOG_ENTRY_TYPE.ACTION_CREATE %}
            Created
          {% else %}
            Updated
          {% endif %}
        </td>
        <td>
          {% if project_log.project.is_published %}
            Yes
          {% else %}
            No
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
    {% endif %}
  </body>
</html>
