.section5.view{
  .summary{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    ul{
      display: flex;
      flex: 1;
      li{
        display: flex;
        flex: 1;
        flex-direction: column;
        font-size: 14px;
        color: #888;
        position: relative;
        strong{
          font-size: 22px;
          font-weight: 400;
          color: #000;
        }
        &:not(:nth-of-type(1)){
          &:before{
            content: " ";
            width: 10px;
            height: 44px;
            position: absolute;
            left: -30px;
            top: 4px;
            background: url(../../../images/arrow-divider.png);
            background-size: contain;
          }
        }
        // &:nth-of-type(1) strong{
        //   color: #fa8c16;
        // }
        // &:nth-of-type(2) strong{
        //   color: #1890ff;
        // }
        // &:nth-of-type(3) strong{
        //   color: #52c41a;
        // }
        // &:nth-of-type(4) strong{
        //   color: #13c2c2;
        // }
        // &:nth-of-type(5) strong{
        //   color: #eb2f96;
        // }
      }
    }
    .ant-btn{
      margin-left: auto;
      margin-top: 10px;
    }

  }
  .add-result.ant-btn{
    margin-bottom: 15px;
  }
  .results-list{
    margin-right: 160px;
  }
  &>.ant-collapse{
    position: relative;
    &>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box .main-form .ant-form-item-label{
      font-weight: 500;
    }
    &>.ant-collapse-item-active{
      &>.ant-collapse-header{
        position: -webkit-sticky;
        position: sticky;
        top: 105px;
        background: #fafafa;
        z-index: 1000;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom: 1px solid #d9d9d9;
      }
      .ant-collapse-content{
        border-top: none;
        overflow: visible;
        .ant-collapse-content-box>.ant-collapse{
          position: relative;
          &>.ant-collapse-item-active{
            &>.ant-collapse-header{
              position: -webkit-sticky;
              position: sticky;
              top: 153px;
              background: #fafafa;
              // transition: none;
              z-index: 999;
              border-top-left-radius: 3px;
              border-top-right-radius: 3px;
              border-bottom: 1px solid #d9d9d9;
            }
            .ant-collapse-content{
              border-top: none;
              overflow: visible;
              .ant-collapse-content-box>.ant-collapse{
                position: relative;
                &>.ant-collapse-item-active{
                  &>.ant-collapse-header{
                    top: 200px;
                    z-index: 998;
                  }
                }
              }
            }
          }
        }
      }
    }
    .ant-tabbar-wrapper{
      display: flex;
      flex-direction: column;
      float: left;
      .ant-tabs-extra-content{
        text-align: center;
        .ant-tabs-new-tab{
          width: 90%;
        }
      }
    }
  }
  section{
    border: 1px solid #e8e8e8;
    padding: 15px 15px 0;
    border-radius: 4px;
    margin-top: 25px;
    margin-bottom: 15px;
    .h-holder{
      display: flex;
    }
    .ant-form-item{
      margin-bottom: 16px;
    }
    h5{
      // font-size: 16px;
      margin-top: -26px;
      margin-bottom: 6px;
      background-color: #fff;
      padding: 0 5px;
      margin-left: -5px;
    }
  }
}