# Django
Django==1.2.3

# Django Apps
django-counter
django-paypal
django-piston
django-rosetta
sorl-thumbnail
template_utils

# Django apps from VCS web services
-e git+git://github.com/directeur/django-sorting.git#egg=django_sorting
-e git+git://github.com/peeb/django-mollie-ideal.git#egg=mollie
-e hg+http://bitbucket.org/ubernostrum/django-registration/#egg=django-registration

# Other Python Modules
BeautifulSoup
Cython
FeedParser
lxml
MySQL-python
PIL
python-memcached
